[2016-12-02 13:17] ARWattam commented on #1349
And when they engage the filter on the table, RefSeq isn't even there.  Sad....
<img width="1120" alt="screen shot 2016-12-02 at 8 16 26 am" src="https://cloud.githubusercontent.com/assets/11475316/20835281/b16ad52e-b867-11e6-88d3-c3c283ecbb7c.png">

[2016-12-02 13:21] ARWattam commented on #1349
Its the same when I select all for that particular group.  However, I went back to my old pal, Brucella, and when I select All on that, RefSeq appeared.  Is it because some of the genomes in the previous selection don't have RefSeq annotation?  Does that prevent any summary of the information across all the other genomes?  And how would a user know this?

<img width="816" alt="screen shot 2016-12-

[2016-12-02 13:25] mshukla1 commented on #1349
Annotation selection should not be there in pathway comparison because there is no
guarantee that select genomes with have pathways in refseq annotations, or that
select genomes will even have refseq annotations.

@hyoo please REMOVE annotation selection from the parameters box.

[2016-12-02 13:27] ARWattam commented on #1349
Oh No!  Does that mean I will have to change that damn tutorial AGAIN???  NOOOOOOOOO!!!!!!

[2016-12-02 13:29] mshukla1 commented on #1349
I think it is better to change UI and tutorial than confuse users, no?

[2016-12-02 13:31] mshukla1 commented on #1347
I agree, it should be make alphabetical.

However, you know that you can click on the folder icon next, which gives you directory listing that can be sorted/reverse sorted alphabetically or by chronology, right?

[2016-12-02 13:33] mshukla1 commented on #1345
closing it.

[2016-12-02 13:33] #1345 closed, assigned to nobody

[2016-12-02 13:34] mshukla1 commented on #1346
this seems duplicate of #1347 . Closing this and leaving the other open.

[2016-12-02 13:34] #1346 closed, assigned to nobody

[2016-12-02 14:00] mshukla1 commented on #1334
I see that the genome got indexed in the database at 2016-11-30T20:50:34.985Z, few hours after the job finishes. So the link should have worked if you tried them Yesterday.

Can you try again and tell if you still see the problem?

[2016-12-02 14:06] mshukla1 commented on #1313
The problems with the PL and PGfams have been fixed.

There is not much we can do about the odd figfam product names as they are no longer maintained / updated. Also, they do not get synced with the annotation updates, so the function of the figfams might be inconsistent with the function of its members.

When we released Pattyfams, we kept figfams to give people time to transition to new families

[2016-12-02 14:10] #816 closed

[2016-12-02 14:39] chmao1 commented on #1348
Fixed and will be available in the next build.

[2016-12-02 14:47] mshukla1 opened #1350 "PFS : session bug is back!"
@hyoo

I went to genome groups, selected brucella groups, went to group view, and then protein family tab. Worked fine.

Next, I went to protein family sorter tool, selected an acinetobacter genome group, and clicked submit. The header says acinetobacter group, but the results displayed are still for Brucella genomes from previous context.

This issue was resolved few weeks ago, I verified and clo

[2016-12-02 14:47] rkenyon opened #1351 "User Guide checklist for Beta-Production Release"
Check off the User Guides in this list after the content has been updated to correspond to what is in the Beta site (these were migrated from the current Production site, mostly unedited)
- [x] Website Overview
- [x] Genome Data and Tools
- [x] Genome Assembly Service
- [x] Genome Annotation Service
- [x] Genome Annotations
- [x] Protein Families
- [x] Genome Metadata
- [x] Antimicrobial Resistanc

[2016-12-02 14:50] dmachi opened #1352 "Remove BRC1 Annotations"
Remove any remaining BRC1 annotations in the DB. They are generally not shown, but they mess up some counts like on #1075.

[2016-12-02 14:52] mshukla1 commented on #1352
DONE!

[2016-12-02 14:52] #1352 closed, assigned to mshukla1

[2016-12-02 14:52] mshukla1 commented on #1075
BRC1 annotations have been removed.

[2016-12-02 15:04] chmao1 opened #1353 "BLAST result from Specialty Gene Reference Proteins database search - item detail"
When selecting an item from the BLAST result table from Specialty Gene Reference Proteins database search - the detail panel shows "detail	[object Object]"

![image](https://cloud.githubusercontent.com/assets/6361802/20838230/9e59194c-b875-11e6-8ff1-8920441bb2bc.png)

Also, the item detail panel should include "Source ID" and "Description". The source ID should link to the specialty gene page.

[2016-12-02 15:06] mshukla1 commented on #1350
Nevermind, this was something of my doing. I had a Brucella genome group wrongly labeled as acinetobacter, causing the confusion. I tried it again with several diffefrent examples and I don't see the session problem.

My apologies.

[2016-12-02 15:06] #1350 closed, assigned to nobody

[2016-12-02 15:11] chmao1 commented on #1353
I used this seqeunce for testing:

atggagcccatcagaagttatgctagtcaagaaatagaacaggaaacgaatcctattgag
ccgcaaaaggaacctaaaatcaagaaaaggaaagtctgggtgccgggattactcctttta
acgccgattctacttttcatatttggtttcttcgtcataccgatgttatacattttatat
ttaagcttcatatcaacagataatcttgggggagcggatgcagtttatagcctaaaaaat
tatacacaattattttccgatagctattacttatcttctttatggctgacagtgaaaatc
agtttatattcggtcttggttgctttatttcttggatatccggtagctttaacgatggcc

[2016-12-02 15:13] ARWattam opened #1354 "Weird hang on of BLAST results table continues"
The second time I hit the Edit and resubmit button, the BLAST results came with it.
<img width="1440" alt="screen shot 2016-12-02 at 10 07 04 am" src="https://cloud.githubusercontent.com/assets/11475316/20838704/b4d7174e-b877-11e6-9053-f82dbb7a66ed.png">

I don't know if it helps, but here is the screenshot from the developer view
<img width="1429" alt="screen shot 2016-12-02 at 10 12 32 am" src="

[2016-12-02 15:19] dmachi commented on #1164
Fixed the header count for feature group and genome group.  Will be on alpha soon.

[2016-12-02 15:30] #1344 closed, assigned to hyoo

[2016-12-02 15:36] #1349 closed, assigned to hyoo

[2016-12-02 15:45] ARWattam opened #1355 "BLASTN against genomes-download has missing values"
I did BLASTn against 40 Brucella genomes, looking at the genome sequences.  When I download the results to see the BLAST values, and put that into excel, it looks like its not formatted correctly or is missing values.  See Subject coverage and the column after E value
<img width="739" alt="screen shot 2016-12-02 at 10 43 19 am" src="https://cloud.githubusercontent.com/assets/11475316/20839916/6ac1

[2016-12-02 15:46] hyoo commented on #1351
I will start working from the bottom. currently protein family sorter

[2016-12-02 15:46] ARWattam commented on #1355
Also, shouldn't there be ALN length?  That's included with the protein blast results.

[2016-12-02 15:47] rkenyon commented on #1351
OK, I am working down from the top

On 12/2/16 10:46 AM, hyoo wrote:

--
Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-12-02 16:26] #1348 closed, assigned to chmao1

[2016-12-02 17:53] #1353 closed, assigned to hyoo

[2016-12-02 17:53] #1355 closed, assigned to nobody

[2016-12-02 19:56] hyoo commented on #1164
verified.

[2016-12-02 19:56] #1164 closed, assigned to nconrad

[2016-12-02 20:33] mshukla1 commented on #1316
Keyword search seems to be working on alpha. Please try again and reopen the ticket if you still see the problem.

[2016-12-02 20:33] #1316 closed, assigned to nobody

[2016-12-02 20:52] mshukla1 opened #1356 "PFS: txt and CSV download from heatmap selection comes blank"
Select a region from the heat map and select download protein as text or csv file, both files come up blank. The excel file from the same menu works fine.

[2016-12-02 21:28] hyoo commented on #1356
available on alpha.

[2016-12-02 21:31] hyoo commented on #1104
I made an workaround and this seems working. available on alpha.

@mshukla1 please verify.

[2016-12-02 21:44] rkenyon commented on #1341
Only one left to pass is Proteome Comparison.  Waiting on Bob for updating the backend service.

[2016-12-03 02:55] ARWattam opened #1357 "Gene tree shows correct locus tags, but organism name is not correct"
I noticed that the MSA and the gene tree line up correctly when the locus tags are displayed, but not when the organism names are displayed.

In the screenshot, the shortened gene is actually Brucella sp. F5/99, but B. suis 1330
<img width="1106" alt="screen shot 2016-12-02 at 9 51 17 pm" src="https://cloud.githubusercontent.com/assets/11475316/20856307/c7b46bc0-b8d9-11e6-8382-228429f9d281.png">

[2016-12-03 03:00] olsonanl commented on #1323
This is merged & deployed now.

________________________________
From: Fangfang Xia [notifications@github.com]
Sent: Thursday, December 01, 2016 11:10 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Mention
Subject: Re: [PATRIC3/patric3_website] Proteome Comparison: links for the features in the circular graph (#1323)

It's not deployed yet until Bob @olsonanl<https://github.com/olsonanl> is

[2016-12-03 17:26] chmao1 commented on #1323
Tested and found that a client side fix was still required to handle the url change (for fig id) in Firefox. I fixed the client side code and made a pull request. @hyoo please include this change in the next beta build.

[2016-12-03 18:19] levinas commented on #1323
Thanks Bob.

[2016-12-03 18:19] levinas commented on #1342
Deployed: https://github.com/TheSEED/app_service/pull/58

[2016-12-03 18:19] levinas commented on #1343
Deployed: https://github.com/TheSEED/app_service/pull/58

[2016-12-03 21:39] jimdavis1 opened #1358 "Cannot BLAST with a large genome group"
I have a genome group with ~1000 genomes in it.  When I blast against this group I never have any idea if the blast will work, or how long it might take.  How long should I stare at the spinning circle before I give up?  Why is NCBI so fast and we are so slow?

[2016-12-04 03:37] olsonanl commented on #1358
@hyoo did we figure out the problem yet with blasting against genome groups / genera ? This sounds similar.

[2016-12-05 16:55] hyoo commented on #1341
per Bob's email the fix has been deployed. Please verify when the beta is back and close it.

[2016-12-05 19:32] hyoo opened #1359 "needs a visual cue for focus input object"
![image](https://cloud.githubusercontent.com/assets/1236467/20899191/010ee406-baef-11e6-83f1-87f679f00b9f.png)

I was creating a group from genomes tab, and edited group name, and tried to use keyboard to click "Add" button. Tab key changes visual cues (shadow) for input boxes but no clue for the buttons so I could not tell whether my focus is in "cancel" button or "add" button.

[2016-12-05 19:50] hyoo opened #1360 "comparative pathway tool: keyword is not working"
![image](https://cloud.githubusercontent.com/assets/1236467/20899844/b6246ac6-baf1-11e6-924b-2af2364fe927.png)

![image](https://cloud.githubusercontent.com/assets/1236467/20899858/c2cc6062-baf1-11e6-8653-286f4e4d0e78.png)

[2016-12-05 19:54] chmao1 commented on #1323
Tested on beta and it works now.

[2016-12-05 19:54] #1323 closed, assigned to levinas, chmao1

[2016-12-05 19:56] chmao1 commented on #1341
The Proteome Comparison bug is fixed and #1323 is closed.

[2016-12-05 19:57] #1341 closed, assigned to mshukla1, hyoo, rkenyon, chmao1

[2016-12-05 20:08] chmao1 commented on #1351
All User Guides are complete.

[2016-12-05 20:08] #1351 closed, assigned to hyoo

[2016-12-05 20:24] #1360 closed, assigned to hyoo

[2016-12-05 20:25] hyoo commented on #1322
flash player in the browser crashed. not related to anchoring function.

[2016-12-06 12:14] mshukla1 opened #1361 "Tutorial: private genome"
Tutorial => workshop guide: private genome
https://www.beta.patricbrc.org/public/pdfs/Workshop-Private-Genome.pdf

Now that we are providing a direct link to the list of private genomes from the top navigation bar, I imagine that to be one of the easiest way for users to explore their private genomes. We need describe this option in the tutorial.

-Maulik

<img width="320" alt="screen shot 2016-12

[2016-12-06 12:55] mshukla1 opened #1362 "trouble loading pathway summary for private genome"
I went to one of my private gnomes, feature table, searched for "glycolysis", and found all the features mapped to glycolysis pathway.

Next, I selected those features and clicked on pathway summary in action bar. I get endless spinning wheel and results never load.

I tried the same with several other genes with EC numbers, never worked.

I tried another private genome, still didn't work.

Given

[2016-12-06 13:08] mshukla1 opened #1363 "buttons in Action Bar require consistent order"
Two issues:

1 Need to rearrange icons according to relative importance and to make it consistent with other pages. Order should be:
- Download
- Members
- FASTA
- MSA
- ID mapping
- Pathway
- Group

[2016-12-06 13:12] mshukla1 commented on #1362
BTW, pathway summary doesn't work from pathway tab as well, for private genomes.

[2016-12-06 13:44] jimdavis1 opened #1364 "The AMR data on the website do not match the AMR data on the FTP site."
There are (at least) 340 K. pneumoniae genomes with an SIR determination on the FTP site (predating the november release).  Only 288 show up on the beta site.  Most of the missing ones are coming from the DeLeo publication that we assembled ourselves.  Oh, and now I've noticed that they exist in the downloads you don't filter for amr panel or any of the things in the attached image, so something m

[2016-12-06 15:00] hyoo commented on #1362
this could be related to the cert error. please wait until we resolve the issue and try again.

[2016-12-06 15:16] mshukla1 commented on #1364
I have updated the data in the database. The numbers should be comparable now.

-Maulik

[2016-12-06 15:16] #1364 closed, assigned to mshukla1

[2016-12-06 15:36] jimdavis1 commented on #1364
How long should this take?  I am not seeing the update on beta yet.

[2016-12-06 15:44] hyoo opened #1365 "genome metadata needs cleanup"
![image](https://cloud.githubusercontent.com/assets/1236467/20931873/3dfc9774-bb98-11e6-90f6-c40be709722f.png)

I was about to regenerate data landing page cache, but I stopped because this may mess up the chart.

1. remove undefined in disease
2. merge None and none in disease
3. Merge Human, Homo sapiens and Homo sapiens in host name
4. remove or rename "not applicable" in host name
5. Merge "No

[2016-12-06 15:52] mshukla1 commented on #1364
It is updated already.

[2016-12-06 15:53] mshukla1 commented on #1365
ok, I will run the clean up this morning.

[2016-12-06 16:16] hyoo commented on #1364
https://www.beta.patricbrc.org/view/Taxonomy/573#view_tab=genomes

![image](https://cloud.githubusercontent.com/assets/1236467/20933222/096e0a1a-bb9d-11e6-8eff-1a512d777c25.png)

I am seeing 355 genomes now.

[2016-12-06 20:44] ARWattam opened #1366 "Filtering on Transcriptomic gene list using keyword text box returns results for all bacteria"
I was looking at a particular experiment for E. coli MG1655 from my private workspace.  I had clustered the heatmap, selected genes of interest that were up-regulated.  A new tab opened, showing that I had selected 267 genes.  That's too many to get pathway results, so I wanted to filter on all genes that had an EC number.  I entered EC in the text box and hit return.  What the table returned was

[2016-12-06 21:46] ARWattam opened #1367 "Error loading Variant service tutorial on production"
Here's what it looks like at this location:
https://www.patricbrc.org/public/pdfs/Workshop-Variation-Service.v3.pdf
<img width="1348" alt="screen shot 2016-12-06 at 4 45 01 pm" src="https://cloud.githubusercontent.com/assets/11475316/20944967/74d292ea-bbd3-11e6-9b92-d59a2d355c25.png">

All other tutorials loaded fine

[2016-12-06 22:36] dmachi commented on #1367
That link is incorrect.  It should be https://www.patricbrc.org/public/pdfs/Workshop-Variation-Service.pdf <https://www.patricbrc.org/public/pdfs/Workshop-Variation-Service.pdf>

[2016-12-07 17:13] hyoo commented on #1367
Ron asked me to remove .v3 in the file name and I changed accordingly, but i didn't noticed actually there are two links to change. fixed and will be available on production soon.

[2016-12-07 17:29] ARWattam commented on #1367
I had sent aversion without v3 in title. I'll send again when I get home

Sent from my iPhone

[2016-12-07 17:51] hyoo commented on #1367
if you want to change the tutorial, please update the Box folder.

[2016-12-07 18:40] ARWattam commented on #1367
The one in Box is the one without v3 in it.  That should have been the one loaded.

----- Original Message -----
From: "hyoo" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Wednesday, December 7, 2016 12:51:19 PM
Subject: Re: [PATRIC3/patric3_website] Error loading Variant service tu

[2016-12-08 22:40] ARWattam opened #1368 "BLAST is misbehaving....drop down box persists"
I selected a blast program, but the stupid drop down box wouldn't go away and I couldn't select the database (because it was blocking it).  I re-selected to service from the tabs, and the BLAST program box came along with it.
<img width="881" alt="screen shot 2016-12-08 at 5 38 20 pm" src="https://cloud.githubusercontent.com/assets/11475316/21030590/6a00ec18-bd6d-11e6-9ae1-1edb72b3980b.png">

[2016-12-11 16:51] jimdavis1 opened #1369 "Bug in Annotation service"
I cannot upload a file with a .fasta file extension. If i change it to .fa, it will upload.

Actually, when I try to upload from the folder icon, on the annotation app it doesn't work at all:

![image](https://cloud.githubusercontent.com/assets/7661533/21081604/3a3e2d86-bf90-11e6-9e8c-a9269b6b1566.png)

[2016-12-11 16:56] jimdavis1 opened #1370 "Workspace: which timezone should we use?"
I just uploaded this file at 10:55AM.  Note the date as being 4:50, I think this is like greenwich time, but it's weird.

![image](https://cloud.githubusercontent.com/assets/7661533/21081617/6b4d104a-bf90-11e6-85f9-893e085632e5.png)

[2016-12-11 17:13] dmachi commented on #1369
I’m not seeing this problem.  Was able to upload fasta file with no problems.  What file type (contigs, reads, etc) did you assign the upload?  Are you sure there wasn’t already a file with that name where you were trying to upload?  We don’t currently do a good job of letting the user know when an upload fails because a file with the same name already exists.

[2016-12-11 17:14] jimdavis1 opened #1371 "Bug in creating folder in workspace"
If i click on the folder icon to create a folder to put an annotation job into, it creates a file and not a folder.

Actually, I waited a little bit, and it shows up as a folder even though the icon looks like a file. Weird.  Oh and also, when I did it in the proteome comparison tool, it flashed an orange box in the top left that said "error creating folder".

![image](https://cloud.githubusercont

[2016-12-11 17:17] dmachi commented on #1371
Also unable to reproduce this issue.  The file icon shows up until a few seconds after I name, then when the folder creation is complete it gets moved to the normal portion of the list (instead of staying above “Parent Folder”) and its icon changes to a folder.  Something else weird must be going on in this case.

[2016-12-11 17:19] dmachi commented on #1371
Actually in your screenshot I can see why this failed (though the failure behavior should be better).  You already have a folder called “E_coli_Anno” (look at the bottom of your second screenshot), so it fails to create a new folder and the display isn’t cleaned up afterwards.

[2016-12-11 17:57] jimdavis1 opened #1372 "Enhancement"
The "sequences" tab is worthless if you cant trace back the original sequence ids from the contigs file.  I have no idea what "562.13195.con.0001" is relative to what I gave the annotation service.

![image](https://cloud.githubusercontent.com/assets/7661533/21082064/ef46166e-bf98-11e6-9535-c0d69c0fec07.png)

[2016-12-11 18:02] jimdavis1 opened #1373 "PFS: takes longer for private genome"
I'm getting the pinwheel of death when I click on the protein families page for my annotated genome:

It ended up loading when I clicked on another tab and then clicked back.

![image](https://cloud.githubusercontent.com/assets/7661533/21082095/a322b214-bf99-11e6-9efd-c5b19256b1f6.png)

[2016-12-12 15:29] hyoo opened #1374 "sorting on filters"
![image](https://cloud.githubusercontent.com/assets/1236467/21104730/44b7f702-c04d-11e6-8b87-2fdbea3b4431.png)

I was looking for a certain disease and find it difficult since the field was sorted by counts.
I wish i can change the sorting condition, specifically in alphabetic order.

[2016-12-12 15:53] hyoo opened #1375 "bookmark on taxon?"
![image](https://cloud.githubusercontent.com/assets/1236467/21105639/90085adc-c050-11e6-9747-8f1867642255.png)

It would be useful if user can bookmark a taxon and that goes below the genus list, as making a shortcut.

[2016-12-12 17:03] olsonanl opened #1376 "Login button nearly invisible on Chrome on Windows"
See attached.

<img width="1262" alt="screen shot 2016-12-12 at 11 01 45 am" src="https://cloud.githubusercontent.com/assets/2152226/21108372/89b67ff6-c05a-11e6-91bb-d2c967310060.png">

[2016-12-12 17:07] hyoo commented on #1376
i will take care of it.

[2016-12-12 17:10] #1376 closed, assigned to hyoo

[2016-12-12 18:19] hyoo opened #1377 "cannot access to workspace"
<img width="845" alt="win-chrome-workspace" src="https://cloud.githubusercontent.com/assets/1236467/21110857/90083dcc-c064-11e6-8001-c489bee4bcde.png">

I was testing on the windows chrome, I don't see my workspaces. This is a fresh install of windows & chrome.

<img width="1213" alt="win-chrome-workspace-console" src="https://cloud.githubusercontent.com/assets/1236467/21111000/2b0be2ba-c065-11e6-

[2016-12-12 21:14] aswarren commented on #849
Fixed in https://github.com/PATRIC3/p3_web/pull/344

[2016-12-13 04:06] hyoo commented on #1377
This happens on all the browsers in Windows 10, but it works on Chrome & firefox on Windows 7.

![image](https://cloud.githubusercontent.com/assets/1236467/21127244/1bc0f2d0-c0b7-11e6-8eb9-3315b4cab2c7.png)

I am wondering whether this is related to the content-type we are using ("application/jsonrpc+json" or "application/json-rpc") since,

![image](https://cloud.githubusercontent.com/assets/12364

[2016-12-13 16:31] olsonanl opened #1378 "Job output unavailable in new site"
In the old site we could doubleclick on a job icon (leading dot in the row) and get output. That doesn't work now; for failed jobs in the new site there is an "Error output" dropdown but that never shows anything. It also doesn't appear for non-failed jobs.

How do we get job output in the new site?

[2016-12-13 17:41] hyoo commented on #1377
this disappeared after updating windows. Internet Explorer Edge still showing problem but at least Chrome and Firefox are working.

[2016-12-13 17:42] #1377 closed, assigned to dmachi, hyoo, olsonanl

[2016-12-13 17:52] hyoo commented on #1368
ok, I found the way I can reproduce. here is the steps,
1. paste sequence
2. it will open up the program drop down.
3. modify sequence while the drop down is opened
4. scroll page, then the drop down layer will be detached from the dropdown box.

Dustin, this is a bug from Dijit. Do you know whether they have fixed in newer version? I think our dojo version is outdated(Dec 2014).

[2016-12-13 17:56] olsonanl commented on #1377
Concur. My win10 VM shows edge not working due to CORS issues but chrome works properly.

[2016-12-13 19:55] hyoo opened #1379 "Expression import submit form clears fields partially after submission"
![image](https://cloud.githubusercontent.com/assets/1236467/21156500/aa1cad10-c13b-11e6-8b3a-9cdedd333a8b.png)

Right after clicking "submit" it clears title, but all other fields are remaining. Not sure whether it is intended. May needs to clear all the fields or leave it so that user can review.

[2016-12-14 14:59] jimdavis1 opened #1380 "Enhancement to proteome comparison tool"
A user would like protein family ids in the table output of the proteome comparison tool.  I think that seemed like a nice idea.

[2016-12-15 16:39] #1367 closed, assigned to nobody

[2016-12-15 16:53] #1368 closed, assigned to dmachi, hyoo

[2016-12-15 16:54] hyoo commented on #1152
resolved.  #1368

[2016-12-15 16:54] #1152 closed, assigned to hyoo

[2016-12-15 17:17] #1362 closed, assigned to hyoo

[2016-12-20 17:22] mshukla1 opened #1381 "Error uploading the same file twice in the same folder"
User tried to upload the same file twice on in the same folder, it created error. Not clear to user what was happening.

More details from the discussion from skype.

[12/12/16, 8:55:13 AM] James Davis: Okay guys the upload buttons aren't working
[12/12/16, 8:55:51 AM] Bob Olson: Failed to load resource: the server responded with a status of 500 (Internal Server Error)
[12/12/16, 8:58:48 AM] Dusti

[2016-12-20 17:24] mshukla1 opened #1382 "Workshop test datasets on FTP"
Bundle up all relevant test input and output datasets for the workshop as a single zip file.

We had one for the ANL worksop, but it was too big, ~5gb. We need one with smaller size.

-Maulik

[2016-12-20 17:29] mshukla1 opened #1383 "File upload: partial upload and job failure"
File upload is zero byte size or partial, user tries to use it in a job, and job fails. We need better indication to prevent user from using partial or failed upload files in services.

[2016-12-20 17:29] mshukla1 commented on #1383
[12/12/16, 10:52:40 AM] Rebecca Wattam: They ALWAYS have this specific problem that he’s talking about
[12/12/16, 10:52:51 AM] Bob Olson: the empty file thing?
[12/12/16, 10:53:00 AM] Rebecca Wattam: Yes…its a point of great confusion
[12/12/16, 10:53:08 AM] Rebecca Wattam: I have to answer several user questions about it
[12/12/16, 10:53:11 AM] Dustin Machi: yeah, it remains zero bytes until the

[2016-12-20 17:30] mshukla1 opened #1384 "Upload finished, but shows size zero"

[2016-12-20 17:39] mshukla1 opened #1385 "Allow users to cancel or delete jobs"
Users submitted jobs with incorrect parameters, realized it soon, and wanted to cancel the job.

[2016-12-20 17:41] mshukla1 opened #1386 "Error reporting for the failed jobs"
the error output dropdown seems flaky. Often, it is empty when we know there is error output on the backend service.

[2016-12-20 17:46] mshukla1 opened #1387 "select genomes using genome ids in apps"
Genome selection drop down in all the apps currently do not support genome ids.
Given that often there are many genomes with the same name, users often want to find
genomes using specific genome ids.

[2016-12-20 17:47] mshukla1 opened #1388 "genome selection in apps"
non word characters like, K-12 or O157:H7 so the autofill wont work

[12/12/16, 2:15:11 PM] Dustin Machi: i think its going to depend on how you ask for it, but you can definitely do ?keyword(k-12).  The main search breaks things apart at the special characters though, since solr strips that out for the text searches

[12/12/16, 2:15:46 PM] Dustin Machi: e.g. in global search 0157:h7 becomes and(k

[2016-12-20 17:50] mshukla1 opened #1389 "Advance clustering on large datasets"
...takes too long to complete and fails.

1. Put a limit on the input for clustering and show a clear message to the user.

2. See if we can deploy clustering on better machine.

[2016-12-20 17:55] mshukla1 opened #1390 "Assembly service: acceptable file sufixes"

[2016-12-20 17:58] mshukla1 opened #1391 "Put CLI Tutorials on the PATRIC site"
Add a link to PATRIC command-line tools:

https://github.com/PATRIC3/PATRIC-distribution/releases

Also, make CLI tutorials available from the PATRIC website.

https://github.com/PATRIC3/PATRIC-distribution/tree/master/Tutorials

Currently, they are available only on SEED site:
http://tutorial.theseed.org/PATRIC-Tutorials/

-Maulik

[2016-12-20 18:01] mshukla1 opened #1392 "Put AMR Classifier tutorial on the PATRIC site"

[2016-12-21 03:32] olsonanl commented on #1389
First we need to profile the current clustering and see where the time goes.

[2016-12-21 04:56] ARWattam opened #1393 "Switching to FIGFams on protein family page...still shows PLFams"
I wanted specifically to examine FIGfams, but when I changed the protein family, it took a while to reload, but still showed PLFams
<img width="1088" alt="screen shot 2016-12-21 at 11 54 13 am" src="https://cloud.githubusercontent.com/assets/11475316/21377868/6c7c520a-c774-11e6-935c-9bfeaea1ae98.png">

[2016-12-21 17:00] #1356 closed, assigned to hyoo

[2016-12-21 17:00] #1311 closed, assigned to hyoo

[2016-12-21 17:03] hyoo commented on #1237
no it shows by default.

![image](https://cloud.githubusercontent.com/assets/1236467/21398462/ffa3a400-c76c-11e6-9aa6-641f67f18653.png)

this is my private genome, so this is showing only PATRIC annotations.

[2016-12-21 17:03] #1237 closed, assigned to hyoo

[2016-12-21 17:03] hyoo commented on #1106
verified

[2016-12-21 17:03] #1106 closed, assigned to dmachi

[2016-12-21 17:03] #1104 closed, assigned to hyoo

[2016-12-21 17:04] hyoo commented on #936
verified

[2016-12-21 17:04] #936 closed

[2016-12-21 17:07] hyoo commented on #660
verified.

[2016-12-21 17:07] #660 closed

[2016-12-21 17:08] hyoo commented on #378
verified

[2016-12-21 17:08] #378 closed

[2016-12-21 17:21] hyoo commented on #531
#545

[2016-12-21 17:26] hyoo commented on #542
you can use "unhidable" property to remove from the column selector.

[2016-12-21 17:29] hyoo commented on #533
Implementing new heatmap display is a separate task. We can close this ticket.

[2016-12-21 17:31] hyoo commented on #519
We already made migration. Time to close this ticket.

[2016-12-21 17:43] hyoo commented on #512
This is on legacy now, but contains insight for having family id column on the single family page. However, new production site supports this with feature list view. So, I am tagging "Obsolete"

[2016-12-21 17:50] hyoo commented on #501
We don't have a control for current viewer, but this provides a design requirement for next version of viewer.

[2016-12-21 18:00] hyoo commented on #426
are we still working on this issue?

[2016-12-21 19:05] hyoo commented on #297
we no longer have disease tab

[2016-12-21 19:15] hyoo commented on #743
I guess we hide action button if the selection exceeds limits.

[2016-12-21 19:16] hyoo commented on #680
need to display message. will work on

[2016-12-21 19:17] hyoo commented on #661
no more issue on current production.

[2016-12-21 19:19] hyoo commented on #650
metadata problem.

[2016-12-21 19:41] hyoo commented on #1003
is it done?

[2016-12-21 19:44] hyoo commented on #964
verified this is working on production.

[2016-12-21 19:49] hyoo commented on #1331
#1334

[2016-12-21 19:53] hyoo commented on #1302
I noticed this one. from at some point, click does not work on chrome as well. firefox works, though.

[2016-12-21 19:54] ARWattam opened #1394 "Inconsistency in feature count in pathway map and final data from heatmap"
Here's where I was working on L. casei:
https://www.patricbrc.org/view/PathwayMap/?annotation=PATRIC&pathway_id=00030&feature_id=PATRIC.1051651.3.AFYK01000061.CDS.19280.20152.rev,PATRIC.1051651.3.AFYK01000061.CDS.15401.16024.rev,PATRIC.1051651.3.AFYK01000061.CDS.18365.19258.rev&genome_ids=1051651.3

I noticed on the pathway map that this genome had 9 features with an EC number of 4.1.2.13:
<img wi

[2016-12-21 19:55] hyoo commented on #1295
I added "Note: There is no corresponding PATRIC feature."

[2016-12-21 19:58] hyoo commented on #1248
done

[2016-12-21 20:19] ARWattam opened #1395 "The issue of changing the protein families from default (PG) to PLFams still problematic"
Several times I have changed to PLFams on Protein family page at taxon level (working on Lactobacillus casei).  I change from the default, which is PGFams, to PLFams.  The spinning wheel comes up, and although on the filter it says PLFams, in the table they are still PGFams.

[2016-12-21 20:53] hyoo commented on #1395
Rebecca, I am trying to reproduce this problem, but was not successful so far.

In my case, once the spinning wheel comes up, the main grid changes to "Loading..." and changed to pgfam or plfam accordingly.

Does it happen to you or you see a little bit different behavior? I am using chrome (55.0).

https://www.patricbrc.org/view/Taxonomy/1582#view_tab=proteinFamilies

![image](https://cloud.githu

[2016-12-21 21:00] hyoo commented on #1394
oh,, this is a bug, thanks for reporting. i will fix it

[2016-12-21 21:10] ARWattam opened #1396 "Lactobacillus reuteri genomes lacking PLFams and PGFams (strain 480_44 is example)"
There are 7 L reuteri strains where this is an issue.  A larger check across the resource should be done to see if it is a more widespread problem.

The good news is that they all have FIGFams

[2016-12-21 21:13] mshukla1 commented on #204
It opens in a new window on the new website.

[2016-12-21 21:13] #204 closed

[2016-12-21 21:15] hyoo commented on #1395
#1393

[2016-12-21 21:17] hyoo commented on #1394
fixed and available on production.

[2016-12-21 21:20] mshukla1 commented on #109
Not sure what this means. I am able to sort experiment table by columns.

[2016-12-21 21:22] mshukla1 commented on #3
The refseq track is displayed by default regardless of refseq annotations are there. This is useful for consistency, at least it makes user aware that there are no refseq annotations.

[2016-12-21 21:22] #3 closed

[2016-12-21 21:24] #46 closed

[2016-12-21 21:38] ARWattam commented on #1395
Hmm!  When I followed your link it worked fine.  I will keep an eye on it today and see what happens in the workshop.  they have us in a computer room with windows machines.  All have chrome installed, but I don't know the version.

Fingers crossed that this goes well!

----- Original Message -----
From: "hyoo" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebe

[2016-12-21 21:48] #367 closed

[2016-12-21 21:48] #48 closed

[2016-12-21 21:51] hyoo commented on #1395
here is an instruction for updating chrome. you can ask participants to do. this is what I did in the Florida workshop.

https://support.google.com/chrome/answer/95414?co=GENIE.Platform=Desktop&hl=en

[2016-12-21 21:52] mshukla1 commented on #105
UI now allows you to view metadata for unspecified file and change file type.

[2016-12-21 21:52] #105 closed

[2016-12-21 21:53] #109 closed

[2016-12-21 21:54] mshukla1 commented on #110
resolved.

[2016-12-21 21:54] #110 closed

[2016-12-22 02:19] olsonanl commented on #1396
An example of this appears to be 1598.259. It has recall data in

/vol/patric3/fams/2016-0904/update.out/1598.259

[2017-01-05 20:04] rkenyon opened #1397 "Broken links in SysBEP page in new website."
Some of the secondary pages from the main SysBEP page have not been migrated from the old legacy site.

https://www.patricbrc.org/content/center-for-systems-biology-of-enteropathogens-sysbep

The following internal links are broken.  Please fix, but don't worry about the Add to Group functionality for now.

http://patricbrc.org/patric/html/S_enterica_CYT.html
http://patricbrc.org/patric/html/S_ent

[2017-01-05 20:11] hyoo commented on #1397
https://github.com/PATRIC3/patric3_website/tree/master/webRoot/patric/html

this is a location of files.

1. Do you think we need to move doc and xls files as well?
2. Do we need to keep Brucella_Annotation_Protocol directory as well?

[2017-01-05 20:58] rkenyon commented on #1397
We don't need to move the doc or xls files.  I'm not sure what the Brucella_Annotation_Protocol directory is, but it probably wouldn't hurt to move it.

[2017-01-05 20:59] rkenyon commented on #1397
Also found a few more broken internal links to transcriptomics data sets in PATRIC:

http://patricbrc.org/portal/portal/patric/SingleExperiment?cType=taxon&cId=590&eid=483361
http://patricbrc.org/portal/portal/patric/SingleExperiment?cType=taxon&cId=590&eid=867640
http://patricbrc.org/portal/portal/patric/SingleExperiment?cType=taxon&cId=629&eid=482123

[2017-01-05 21:05] hyoo commented on #1397
For the single Experiment, please use
https://www.patricbrc.org/view/ExperimentComparison/483361#view_tab=overview

[2017-01-05 21:17] rkenyon opened #1398 "Update KEGG license and maps"
We need to purchase and update the KEGG maps, but I don't know what needs to be done.  Thus, I have assigned this to several people who can hopefully sort it out.

Ron

[2017-01-05 21:40] dmachi commented on #1398
I’m happy to help, but I also don’t know specifically what we need.  I know we consume the image files, but i’m sure there are maps and data that go somewhere.  Maulik and/or Harry will probably have to help you on this one.

[2017-01-06 16:08] #1394 closed, assigned to hyoo

[2017-01-06 17:06] hyoo commented on #1397
I have uploaded the static pages and fixed the links.
https://github.com/PATRIC3/p3_api/commit/c2744a739674e397688344453e3fe0ce961cbc91

and updated Experiment page as well
https://github.com/PATRIC3/p3_api/commit/0b731ffd42e618ceafd7e7b163f0fc162645d69e

[2017-01-06 20:19] #1314 closed, assigned to hyoo

[2017-01-06 20:20] #1248 closed, assigned to hyoo

[2017-01-06 20:23] olsonanl commented on #1386
More than flaky - I don't think I've ever seen valid error output in the new production site

[2017-01-06 20:24] olsonanl commented on #1386
This is a dup of #1378 but I can't seem to mark it so.

[2017-01-06 20:26] mshukla1 commented on #1386
I know, I copied it verbatim from the  skype thread during the workshop! :)

I think this need to be fixed ASAP.

[2017-01-06 20:28] hyoo commented on #515
as discussed, we have new website. closing this issue.

[2017-01-06 20:28] #515 closed

[2017-01-06 20:29] #512 closed

[2017-01-06 20:29] #1313 closed, assigned to mshukla1

[2017-01-06 20:29] #61 closed

[2017-01-06 20:31] olsonanl commented on #1386
one or the other of these issues should be closed as a duplicate. #1378

[2017-01-06 20:32] mshukla1 commented on #892
Fixed. Taxonomy has been updated.

<img width="1124" alt="screen shot 2017-01-06 at 2 32 14 pm" src="https://cloud.githubusercontent.com/assets/1236463/21732018/ffe227b8-d41c-11e6-9f09-9b64ec93f3be.png">

[2017-01-06 20:32] #892 closed

[2017-01-06 20:35] olsonanl commented on #352
I just tested this today and it worked.

[2017-01-06 20:35] #352 closed

[2017-01-06 20:38] mshukla1 commented on #153
Fixed. All bad genomes without genomic sequences were removed and reloaded in the database.

[2017-01-06 20:38] #153 closed

[2017-01-06 20:40] mshukla1 commented on #409
Fixed. Bad genomes were removed and reloaded into solr.

[2017-01-06 20:40] #409 closed

[2017-01-06 20:46] mshukla1 commented on #1398
@rkenyon, can you initiate the process for getting the license?

Once we have the license, I will download the latest data and update the data in the database. Will pass the ticket to other as needed as we make progress.

[2017-01-06 20:48] #429 closed

[2017-01-06 20:49] #574 closed

[2017-01-06 20:53] hyoo commented on #546
this is old website and not able to reproduce. closing this ticket.

[2017-01-06 20:53] #546 closed

[2017-01-06 21:09] hyoo commented on #535
this is fixed on the new website.

[2017-01-06 21:30] hyoo commented on #427
this works in the new website. closing this issue.

[2017-01-06 21:30] #427 closed

[2017-01-06 22:26] hyoo commented on #1365
This is not done yet. removing Obsolete tag.

[2017-01-06 22:34] hyoo commented on #722
This page is no longer exists.

[2017-01-06 22:34] #722 closed

[2017-01-06 22:35] #693 closed

[2017-01-06 22:35] #661 closed

[2017-01-06 22:36] #650 closed

[2017-01-06 22:37] #623 closed

[2017-01-07 14:51] mshukla1 commented on #1396
all public genomes have been recalled and updated in the database.

[2017-01-07 14:51] #1396 closed, assigned to mshukla1

[2017-01-09 14:48] jimdavis1 opened #1399 "issue with feature search"
I annotated 49 private  staph genomes.  I selected them in the genome browser.  Then I clicked the features tab.  I was startled when the the displayed features were not from my original selected set.  I should not have to create a genome group to do this search.

[2017-01-09 14:49] jimdavis1 opened #1400 "The annotation should be shown by default on the features tab of a genome group"
![image](https://cloud.githubusercontent.com/assets/7661533/21770346/83ebc0e6-d648-11e6-8836-f6fe5188b65a.png)

[2017-01-09 14:55] jimdavis1 opened #1401 "How do you an exact search in the feature tab?"
I searched for "DNA-directed RNA polymerase beta subunit" in double quotes and i get both:

"DNA-directed RNA polymerase beta subunit"
and
"DNA-directed RNA polymerase beta' subunit"

If I search with single quotes it resets.  How do I do an exact search?

![image](https://cloud.githubusercontent.com/assets/7661533/21770467/083bf3e8-d649-11e6-9d4f-9d8030516b1c.png)

[2017-01-09 16:28] jimdavis1 opened #1402 "help?"
Why can't i find the help email address on the new site?  Shouldn't this be displayed prominently?  The issues with not having the email address on the website are  are 1) Unless the user is logged in or remembers to add their email address, you might not know who sent the feedback and 2) I sometimes want to pass the help email along to workshop participants or post it in tutorials.  I guess my ma

[2017-01-09 20:22] hyoo opened #1403 "prevent creating a folder in special folders (feature/genome/experiment groups)"
Shouldn't we prevent creating a folder (and maybe uploading as well?) in the special folders?

A confusion incident was that user created a folder (assuming that is an empty group) and tried to add genomes to that folder, which did not work without any error message.

We can provide some message on the event of action, but we also need to prevent the confusion in earlier process.

![image](https:/

[2017-01-10 19:41] nconrad opened #1404 "Can't logout"
(See gif)

![ogeykmeu35](https://cloud.githubusercontent.com/assets/1194246/21821785/6bf7071e-d73a-11e6-9b54-0b6b5cb6f55d.gif)

 Nothing shows up in console.

[2017-01-10 19:45] nconrad commented on #1404
The account settings link doesn't seem to be working for me either.

[2017-01-10 19:53] nconrad opened #1405 "https://user.patricbrc.org links don't work"
When I go to reset my password, I end up at https://user.patricbrc.org where none of the links work and it's "impossible" to get back to https://patricbrc.org.

[2017-01-10 19:55] nconrad commented on #1404
This was on Chrome.  I'm still testing a little.

[2017-01-10 19:59] hyoo commented on #1404
try https://user.patricbrc.org/logout

[2017-01-11 15:59] jimdavis1 opened #1406 "cant scroll left-to-right in genome page"
I selected all of the columns for a genome:

![image](https://cloud.githubusercontent.com/assets/7661533/21855568/8d5cb9bc-d7e4-11e6-8f21-8d91bb706e72.png)

but now I can't scroll left to right and see the data for the extra columns.

![image](https://cloud.githubusercontent.com/assets/7661533/21855609/a3fcfd30-d7e4-11e6-920f-d6b5b790904f.png)

look at what is happening to the column headers as i

[2017-01-13 18:27] mshukla1 commented on #1365
Fixed.

[2017-01-13 18:27] #1365 closed, assigned to mshukla1

[2017-01-13 21:37] mshukla1 commented on #1168
I have added SRA accessions for ~47,000 genomes in solr, all the public genomes that can be mapped reliably to corresponding SRA accessions as of now.

@hyoo, some of the genomes have multiple SRA accessions, separated by ",", which breaks the link to NCBI. You will need to replace "," with " OR " to make the linkout work.

Below is an example:

https://www.patricbrc.org/view/Genome/1742972.4

htt

[2017-01-13 21:51] #1168 closed, assigned to mshukla1, hyoo

[2017-01-16 14:30] mshukla1 opened #1407 "Genome Browser: feature spanning origin of replication"
...is displayed incorrectly on the genome browser. See the message below from a user for details.

Version: 3.2.74
URL:
https://www.patricbrc.org/view/Genome/1352.804#view_tab=browser&loc=CP014450%3A1..189452&tracks=refseqs%2CPATRICGenes%2CRefSeqGenes&highlight=
User ID: mckennep
Hi,
Just wanted to let you know that in a genome I annotated using PATRIC,
there was a weird call in the RefSeq Annotat

[2017-01-16 15:40] jimdavis1 opened #1408 "Bad bug in genome viewer tab"
I submitted 49 Staph genomes to the annotation service using the p3 script,
submit-patric-annotation.  All genomes were submitted with a strain name in the scientific name field, e.g., "Staphylococcus aureus Sample_3957".  None of the strain names are visible on the genome browser.  How can I make the strains visible for my Houston collaborator?

![image](https://cloud.githubusercontent.com/assets

[2017-01-16 16:04] mshukla1 commented on #1408
I don't this this is a UI problem. I don't see the strain names in the database either. Can you check corresponding job output file and see if the genome name is correctly displayed in GTO?

If possible, share the command you used for submission.

-Maulik

[2017-01-16 18:28] jimdavis1 commented on #1408
You can close the issue. I screwed up the submission.  Although the strain comes over as part of the genome name and is not parsed into the strain column, which might be turn out to be a problem later.

![image](https://cloud.githubusercontent.com/assets/7661533/21994826/45682806-dbe7-11e6-8cd0-c4a264924010.png)

[2017-01-16 18:36] mshukla1 commented on #1408
We try to use the provided strain name to make genome name more informative, but not the other way.

Sent from my iPhone

[2017-01-16 19:46] mshukla1 opened #1409 "PFS: open a new tab when viewing DNA or protein sequence"
Version: 3.2.73
URL:
https://www.patricbrc.org/view/GenomeList/?in(genome_id,(36809.5,83332.12,998092.3,246196.19,557599.3,85008.4,1883.330))#view_tab=proteinFamilies
User ID: chasemc

https://www.patricbrc.org/view/GenomeList/?in(genome_id,(36809.5,83332.12,998092.3,246196.19,557599.3,85008.4,1883.330))#view_tab=proteinFamilies

when trying "VIEW FASTA DATA"  it would be nice to be able to open i

[2017-01-16 20:23] mshukla1 opened #1410 "MSA: add actions for selected features"
User wanted to select a feature and go to corresponding feature overview page.

More generally though, the action bar should have all the options available from feature table for single/multiple feature selections.

-Maulik

PATRIC created PATRIC-636:
-----------------------------

            Summary: Switching to feature view from MSA view
                Key: PATRIC-636
                URL: htt

[2017-01-16 20:25] aswarren commented on #1410
https://github.com/PATRIC3/patric3_website/issues/1293

[2017-01-16 20:35] mshukla1 opened #1411 "Proteome comparison: circos error"
User submitted a job, using a private genome with >4000 contigs and it failed with the following circos error.

We need to either fix the config to address the issue or present a clear message to the user indicating that the genome have too many contigs and it can not be handled properly.

-Maulik

circos_opts = $VAR1 = {
          'image' => '/scratch/tmp/M6BI7QpOFR/circos/image.conf',

[2017-01-16 21:10] hyoo commented on #1411
Yes, we have seen this problem and thought displaying more than 2000 contigs may not make sense to users. The other ticket regarding job error message will take care of this issue.

[2017-01-16 21:14] mshukla1 opened #1412 "PDF: bug while using multiple filters"
https://jira.cels.anl.gov/browse/PATRIC-631

https://www.patricbrc.org/view/Taxonomy/140#view_tab=proteinFamilies

Selected include/exclude filters as shows to show PF present in three genomes, but absent in other four. Two PFs found.

Then, I search for "EC" using keyword search. and it went back to all protein families.

Se the attached screenshots.

<img width="1120" alt="screen shot 2017-01-16

[2017-01-16 23:48] mshukla1 opened #1413 "Assembly: integer for min contig coverage"
Assembly submission form -> advanced paramenters -> min contig coverage

User tried to enter an integer number and got warning, i.e. value 2.0 works, but 2  generates error, which is non intuitive.

-Maulik

<img width="367" alt="screen shot 2017-01-16 at 5 47 35 pm" src="https://cloud.githubusercontent.com/assets/1236463/22002739/ec1ec552-dc13-11e6-8804-53bd6621bc8c.png">

<img width="368" alt="s

[2017-01-18 01:17] ARWattam opened #1414 "MSA viewer not working"
I have tried several times to build an MSA with the following four genes, but it never loads.  They are from private genomes...that shouldn't make a difference, I wouldn't think:
fig|234.71.peg.1958
fig|234.72.peg.2428
fig|234.73.peg.214
fig|234.74.peg.416

[2017-01-18 15:17] chmao1 commented on #1286
Fixed it and made a pull request.

Removed the alphabetical sorting for the categories appear on the filter panel. The order of the categories can now be specified. This is also applied to other pages such as Features, Specialty Genes, Pathways and Transcriptomics. The order of the categories for these pages are the same as the Legacy PATRIC site.

[2017-01-18 16:48] rkenyon commented on #1398
Here is the KEGG academic subscription process for accessing KEGG FTP.
http://www.bioinformatics.jp/en/keggftp.html

Can someone confirm that this is what we need? Then I'll start working on the purchase.

[2017-01-19 12:24] ARWattam opened #1415 "Error trying to download data from the heatmap of the Protein Family Sorter"
I got this error message:
400 Bad request

Your browser sent an invalid request.

[2017-01-19 13:44] ARWattam commented on #1414
Tried to do it again with a different set of proteins from private genomes on PFS.  Here's what the code says...
<img width="1440" alt="screen shot 2017-01-19 at 8 39 06 am" src="https://cloud.githubusercontent.com/assets/11475316/22108938/7b24fabc-de23-11e6-9a6c-540dbc24195c.png">

[2017-01-19 14:04] olsonanl opened #1416 "global search frustration"
while we're fixing global search we need to make it possible to trivially get to features whose IDs we know. I'd like to see something like an "extract everything that looks like an ID from a chunk of text" where I could paste an email from Rebecca into a page and have it extract a list of IDs. Here, I laboriously constructed an OR search of IDs and got results that were nearly completely incorrec

[2017-01-19 21:01] aswarren commented on #1414
@ARWattam try it again should be fixed now.

[2017-01-19 21:02] aswarren commented on #1288
@jimdavis1 Try it again. Should be fixed now.

[2017-01-19 21:08] ARWattam commented on #1414
Yes!  Working!!

----- Original Message -----
From: "Andrew Warren" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Mention" <mention@noreply.github.com>
Sent: Thursday, January 19, 2017 4:01:10 PM
Subject: Re: [PATRIC3/patric3_website] MSA viewer not working (#1414)

@ARWattam try it again should be fixed now.

--
You are re

[2017-01-20 15:05] ARWattam opened #1417 "Download from BLAST table doesn't show BLAST e value, % coverage, % identity"
This is very frustrating.  You download from the BLAST table when you did BLASTN against the genome sequences, you get the information of all the contigs, but not any of the information you wanted, which is the details on the BLAST hits

[2017-01-20 15:08] ARWattam opened #1418 "BLAST download table doesn't have hits in the order of the BLAST result table"
This is especially cruel.  As the table doesn't have details on the hits, when you download it you expect it to be in the order that they appeared in the table you saw.  So if you are LABORIOUSLY adding in the coordinates of the genome sequences, you have to look very carefully to see that the table downloads in its own order.  Thankfully I caught it, but don't expect others to.

[2017-01-20 15:17] mshukla1 commented on #1417
If you download the whole table as txt or cvs using the table download button above the table,
it gives you %identity, score and value. Results are kept in the same order as shown in the table.
See the attached screenshot.

However, when you select few entries for the table and then use the download from the action
bar, it downloads only the features or sequences, without blast values. I can see t

[2017-01-20 15:28] ARWattam commented on #1417
I just did that and I didn't get that.  See attached.

----- Original Message -----
From: "Maulik Shukla" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Friday, January 20, 2017 10:17:01 AM
Subject: Re: [PATRIC3/patric3_website] Download from BLAST table doesn't show BLAST e value, %

[2017-01-20 15:29] ARWattam commented on #1417
Also, I can't get access to your screenshot.

----- Original Message -----
From: "Maulik Shukla" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Friday, January 20, 2017 10:17:01 AM
Subject: Re: [PATRIC3/patric3_website] Download from BLAST table doesn't show BLAST e value, % coverage

[2017-01-20 16:32] mshukla1 commented on #1417
I didn't get your screenshot either! It seems it doesn't work if you attach it with email!

Here is mine!

<img width="1118" alt="screen shot 2017-01-20 at 9 11 25 am" src="https://cloud.githubusercontent.com/assets/1236463/22157071/ba7e26f6-defb-11e6-98eb-d522a3ff242f.png">

[2017-01-22 15:17] ARWattam opened #1419 "Discrepancy between sequences listed - inconsistency on the same page"
In the genomes list for Brucella inopinata BO1, it has 55 contigs listed in the table, but when you highlight that row, in the information panel it says there are 48 sequences:
<img width="1440" alt="screen shot 2017-01-22 at 10 14 08 am" src="https://cloud.githubusercontent.com/assets/11475316/22183412/c6e34d5e-e08b-11e6-8987-7e763827893b.png">

Then when I go to the landing page for the genome a

[2017-01-22 15:38] mshukla1 commented on #1419
Ok, I will look into it.

Sent from my iPhone

[2017-01-22 19:17] ARWattam opened #1420 "Subject coverage in BLAST needs some adjusting"
Check out the screenshot.  Is the Subject coverage based on the entire contig, and is that the way it should be?
<img width="1121" alt="screen shot 2017-01-22 at 2 15 53 pm" src="https://cloud.githubusercontent.com/assets/11475316/22185114/752e4424-e0ad-11e6-96af-b8b74d8d5036.png">

[2017-01-22 20:37] mshukla1 commented on #1420
Yes, it is based on the entire subject sequence, in this case, entire contig, hence only 2%.

It may not be informative when subject is entire contig sequence, but it is not incorrect!

[2017-01-25 15:57] ARWattam opened #1421 "WE used to be able to download all data from table in Protein Family Sorter"
Now we can only download the details on the protein families.  There is now no easy way for a user to get all the data on the genes from the PFS

[2017-01-25 19:41] dmachi commented on #1402
I was asked to remove the contact us form, but am happy to add it back.  In any case, I have added the ability to put your email in the report problem form as well as attach screenshots.

[2017-01-25 19:42] dmachi commented on #905
This has been completed now.  The from address is populated either from the users account if they are logged in or if they provide the email address in the form (option appears when they are not logged in to do so).  Can also attach images now.

[2017-01-25 20:54] rkenyon commented on #1402
I don't remember the reason for removing the Contact Us form, but it
seems to me it should be there.  Any objections to Dustin adding it
back?  If so, please elaborate.

Thanks,
Ron

On 1/25/17 2:41 PM, Dustin Machi wrote:

--
Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2017-01-29 20:26] ARWattam opened #1422 "View on gene transcriptomic page not showing all metadata."
The metadata for experimental conditions, etc. are hidden under the tabs.  See fig|511145.12.peg.1001 and screenshot below
<img width="1075" alt="screen shot 2017-01-29 at 2 23 45 pm" src="https://cloud.githubusercontent.com/assets/11475316/22407593/f9ddb00c-e62e-11e6-8b9d-9949fce58d29.png">

[2017-01-30 16:09] jimdavis1 opened #1423 "Cant search for genome name"
I cannot construct a clean search for "Agrobacterium" genomes using the search bar or the filters.

![image](https://cloud.githubusercontent.com/assets/7661533/22430528/32e66a56-e6d4-11e6-9cd7-e8339e14906c.png)

[2017-01-30 16:31] hyoo commented on #1423
there were some matches on comment field and some on taxon lineage field like below,
[code]
[code]

[2017-01-30 16:32] dmachi commented on #1423
This search is correct.  The other items are showing up in the search results because either “Agrobacterium” is listed either in the comments or in the taxon lineage.  I think some of this is because of the renaming of the taxon.  From one of the Agrobacterium comments: “Agrobacterium tumefaciens (former name Rhizobium radiobacter)”

[2017-01-31 01:18] ARWattam opened #1424 "Filter not working for transcriptomic data"

[2017-01-31 01:19] #1424 closed, assigned to nobody

[2017-01-31 01:39] ARWattam opened #1425 "Pathway map from transcriptomic selection comes up empty"
I selected a group of genes from the transcriptomic heatmap
<img width="1435" alt="screen shot 2017-01-30 at 8 36 31 pm" src="https://cloud.githubusercontent.com/assets/11475316/22449080/ecd911be-e72b-11e6-8aa1-406e4525791b.png">
This opened a new page, and I selected all the genes and clicked on the pathway icon:
<img width="1185" alt="screen shot 2017-01-30 at 8 36 24 pm" src="https://cloud.gith

[2017-02-01 16:29] chmao1 commented on #1263
Implemented and will be available in the next build.

[2017-02-01 16:35] chmao1 commented on #1422
This is due to the limited space in the panel. The solution is using mouse-over to the pie slices to view the metadata.

[2017-02-01 20:41] nconrad commented on #1255
I'm making this "fixed" since the download button in the green action bar should work now.

[2017-02-03 21:26] hyoo commented on #1358
I was able to blast against a genome group that has ~1200 genomes.

[2017-02-03 21:29] hyoo commented on #1417
Here are list of columns you should see from the downloaded file when you blast against genome sequences.

["Genome", "Genome ID", "Accession", "Description", "Product", "Identity", "Query cover", "Subject cover", "ALN Length", "Score", "E value"]

[2017-02-03 21:31] hyoo commented on #1418
![image](https://cloud.githubusercontent.com/assets/1236467/22609190/dba45ac8-ea25-11e6-861a-dc9ceb827d32.png)

I am not sure whether we're referring the same download. You should click the Download button on top of the grid to download what you expected (or described)

[2017-02-03 22:26] hyoo commented on #1412
fix will be available on alpha soon.

[2017-02-09 12:50] ARWattam opened #1426 "Genomes missing strain name in title"
1185650.72	Mycobacterium abscessus subsp. abscessus
1185650.103	Mycobacterium abscessus subsp. abscessus
1185650.108	Mycobacterium abscessus subsp. abscessus
1185650.79	Mycobacterium abscessus subsp. abscessus
1185650.104	Mycobacterium abscessus subsp. abscessus
1185650.102	Mycobacterium abscessus subsp. abscessus
1185650.107	Mycobacterium abscessus subsp. abscessus
1185650.126	Mycobacterium absce

[2017-02-09 14:47] #1420 closed, assigned to nobody

[2017-02-09 14:47] #1414 closed, assigned to nobody

[2017-02-09 15:06] mshukla1 commented on #1422
- The pie chart should show top 5 categories, plus an additional category "others", that contain all remaining samples.

- The bar chart should should show only top 5 categories.

[2017-02-09 18:51] chmao1 commented on #1422
This was implemented the same way as the legacy PATRIC. The bar charts shows the top 5 categories, while pie charts shows all categories (not just top 5).

[2017-02-13 18:05] chmao1 opened #1427 "BLAST for faa is not working"
BLAST returned error. See below.

![untitled](https://cloud.githubusercontent.com/assets/6361802/22896150/fdbb345a-f1ec-11e6-9bcd-f06cda039c0c.png)

[2017-02-13 18:10] olsonanl opened #1428 "Easy to get duplicate uploads in workspace uploader"
if you doubleclick the "start upload" button you get two uploads of the file. If conditions are right you don't even need to click that quickly (I accidentally did it the first time this morning when the first click didn't appear to do anything.

[2017-02-13 18:19] olsonanl commented on #1427
The missing blast file was there in the Feb 5 filesystem snapshot:

[code]

We should be able to copy that file back in; Maulik do you know why it was deleted?

[2017-02-13 18:20] olsonanl commented on #1427
It was there in the Feb 12 snapshot too:

[code]

[2017-02-13 18:55] mshukla1 commented on #1427
I updated all the blast databases over the weekend and this time, I used
absolute path of the databases in stead of the relative paths last time.
This has caused the references in the alias files to become invalid.

I am trying to figure out what is the best way  to address it.

-Maulik

[2017-02-14 16:30] jimdavis1 opened #1429 "Blast is broken"
![image](https://cloud.githubusercontent.com/assets/7661533/22938161/85dfeb10-f2a0-11e6-8574-4a0eed9464c6.png)

![image](https://cloud.githubusercontent.com/assets/7661533/22938167/8ccd61aa-f2a0-11e6-911b-4e974f9976fb.png)

[2017-02-14 16:31] jimdavis1 opened #1430 "Blast issue"
Dropdown is broken for taxonomy selection

![image](https://cloud.githubusercontent.com/assets/7661533/22938204/b0fecc44-f2a0-11e6-84a9-9c1a5f5ac344.png)

[2017-02-14 17:50] olsonanl opened #1431 "Assembly output not usable with special chars in output name"
If one creates an assembly job that has a nonbreaking space character (U+00A0) in it, the job will run properly but the generated job output is not browsable. It has a page icon instead of a finish flag icon, and if you click on it you get an empty page. Console has job result viewer data but the "Job result output files" diagnostic shows empty.

I'm looking at workspace ls() output and see that t

[2017-02-14 19:24] olsonanl commented on #1431
This appears to be a UTF-8 handling problem in the autometadata code. Fixing it over there.

[2017-02-14 19:24] #1431 closed, assigned to nobody

[2017-02-17 15:22] hyoo commented on #1430
You need to type to search taxonomy. Entire list of taxonomy is too large to display.

[2017-02-17 15:24] hyoo commented on #1429
Blast database has been updated with wrong path. This is fixed now.

[2017-02-17 15:28] hyoo commented on #1427
verified the fix on production.

[2017-02-17 15:28] #1427 closed, assigned to nobody

[2017-02-17 15:28] #1429 closed, assigned to hyoo

[2017-02-17 15:29] #1423 closed, assigned to nobody

[2017-02-17 15:36] hyoo commented on #1072
this is fixed and available on production.

https://www.patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.2726806.2727339.fwd#view_tab=overview

[2017-02-17 15:36] #1072 closed, assigned to hyoo

[2017-02-17 15:37] hyoo commented on #1066
this is fixed and available on production.

[2017-02-17 15:37] #1066 closed, assigned to hyoo

[2017-02-17 15:43] #603 closed

[2017-02-17 15:43] #616 closed

[2017-02-17 15:44] #632 closed

[2017-02-17 15:44] #629 closed

[2017-02-17 15:45] #533 closed

[2017-02-17 15:45] #416 closed

[2017-02-17 15:46] #383 closed

[2017-02-17 15:47] hyoo commented on #422
This ticket refers to the circos and we already have new circular viewer in production.

[2017-02-17 15:47] #422 closed

[2017-02-17 15:48] #507 closed

[2017-02-17 15:48] #501 closed

[2017-02-17 15:56] hyoo commented on #1032
Downloading family member in legacy is working only with limited number of families. There are some tickets reporting this issue. Given that, currently we have a work around. you can select multiple families and click members button, then you have all the participating feature list with family info. Absolutely, you can download from there. Can this replace the downloading members?

[2017-02-25 17:36] ARWattam opened #1432 "Downloading genome sequences for private genomes from Taxon level page gives an empty zip file"
[Privat_Brucella_genomes_fna.zip](https://github.com/PATRIC3/patric3_website/files/801371/Privat_Brucella_genomes_fna.zip)

[2017-02-25 17:39] mshukla1 commented on #1432
Private genome download is not supported from taxon level pages. It is confusing
and something we need to address sooner.

-M

[2017-02-25 17:42] ARWattam commented on #1432
Its also a drag.  I had to download 8 of them individually.  Is there a good reason for not allowing this?

----- Original Message -----
From: "Maulik Shukla" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Saturday, February 25, 2017 12:39:04 PM
Subject: Re: [PATRIC3/patric3_website]

[2017-02-25 17:45] mshukla1 commented on #1432
Current download is supported through FTP site, and we can’t put private genomes on FTP.
So, supporting private genome download will require slightly different mechanism.

It is one of those things on our list that we haven’t got to!

[2017-02-26 16:48] mshukla1 commented on #1003
Updated the script. Will be deployed soon.

[2017-02-26 17:11] mshukla1 commented on #1006
Original contig id is now copied as sequence description and will be available for look up in the sequence table. Will be deployed soon.

[2017-02-28 14:01] jimdavis1 opened #1433 "logout in safari"
I'm currently logged in to my Houston user account on PATRIC:

![image](https://cloud.githubusercontent.com/assets/7661533/23407984/f7826176-fd8b-11e6-8db1-561a46f1b90a.png)

when I try to log out, I get the following error:
![image](https://cloud.githubusercontent.com/assets/7661533/23407997/026a1f3e-fd8c-11e6-9fe7-06fb79fc2547.png)

I'm not sure if this is useful:
![image](https://cloud.githubus

[2017-03-01 21:54] olsonanl opened #1434 "filters don't update immediately in pathway view"
If I'm looking at for instance

https://www.patricbrc.org/view/GenomeList/?in(genome_id,(1434164.3,1434165.3,1434163.3))#view_tab=pathways&filter=and(eq(annotation,%22PATRIC%22),or(eq(pathway_class,%22Xenobiotics%20Biodegradation%20and%20Metabolism%22),eq(pathway_class,%22Carbohydrate%20Metabolism%22)))

and I open the filters and change the pathways being filtered, the list does not update until

[2017-03-07 12:45] ARWattam opened #1435 "Protein family with multiple pages, will only show results for features selected on the first page"
Below is a user bug report from a workshop in France.  I was able to replicate this by choosing the same protein family, which returns multiple pages in the feature table.  I selected 3 on the first page and generated an MSA, then I went to the next page and selected 2, then generated a MSA.  The MSA for the first selection was the only one that loaded.  I went to the third page, selected two, and

[2017-03-08 18:56] olsonanl opened #1436 "Bad character when searching for a role"
I get the following error when I try to search for the functional role

Diphtheria toxin (NAD(+)--diphthamide ADP- ribosyltransferase) (EC 2.4.2.36)

on the search bar:

[Error] Error: Unexpected ')' at character 23
	p (/js/3.2.87/p3/layer/core.js:470:371)
	onKeypress (/js/3.2.87/p3/layer/core.js:465:373)
	(anonymous function) (dojo.js:58:452)
	(anonymous function) (dojo.js:58:507)
	(anonymous fun

[2017-03-08 18:56] olsonanl commented on #1436
Putting it in double quotes doesn't help

[2017-03-14 14:23] aswarren opened #1437 "whitespace trim on group creation"
Whitespace at the end of the group name creates a lookup problem

e.g.
"name":"NCSU Europe "}

[2017-03-15 20:04] ARWattam opened #1438 "RNA-Seq job failed"
0e34891c-08c9-4fa3-8f51-3fcf6ef5313f

My job failed during the workshop.  Was it something I did, or is it something more.

[2017-03-15 20:12] olsonanl commented on #1438
Rockhopper puked on something:

Sequencing reads written to SAM file:   /scratch/tmp/kP1UOsmQc9/Rockhopper/MERO_75_R2.sam

Aligning sequencing reads from files:
        MHB_R1.fastq.gz
        MHB_R2.fastq.gz

stderr:
Exception in thread "main" java.lang.ArithmeticException: / by zero
        at SamOps.isTextFile(SamOps.java:823)
        at SamOps.<init>(SamOps.java:93)
        at Peregrine.getRea

[2017-03-19 01:13] mshukla1 opened #1439 "Update PATRIC citation"
The citation page needs to be updated to use the latest NAR paper.

https://www.patricbrc.org/content/CitePATRIC

-Maulik

[2017-03-19 13:29] cshenry opened #1440 "Strange behavior when searching for EC number"
Hey guys - I was working on the role mappings to reactions and looking for genes with a specific function. The function is associated with the EC number 2.3.1.37. I started out by just searching the patric website for this EC. I got over 400K hits, and most didn't seem to have the EC. Then I searched for "aminolevulinate". This yielded the correct result found here:
https://www.patricbrc.org/view/

[2017-03-21 12:42] ARWattam opened #1441 "BLAST should return error message, or improve information on sequences accepted"
User suggested:  "I had some problems running Blast on nucleotide sequences against the
plasmid database. The sequence I pasted was initially split in several
lines and PATRIC wouldn't run. I converted the sequence to a one-line
sequence and it worked fine. It would be useful if an error is reported
when pasting multi-lined sequences."

[2017-03-21 12:44] ARWattam opened #1442 "Add Genome ID 1311.163"
User would like genome added to PATRIC.  Genome ID 1311.163.

[2017-03-22 08:47] aswarren opened #1443 "GFF API creation"
GFF 9th column should only have ';' and '=' as entity separator and value assignment respectively

NC_000962   PATRIC  gene    2226244 2227920 .   +   0   ID=fig|83332.12.peg.2214;name=fig|83332.12.peg.2214;locus_tag=Rv1983;product=PE_PGRS family protein => PE_PGRS35

NC_000962   PATRIC  rRNA    1471847 1473382 .   +   0   ID=fig|83332.12.rna.19;name=fig|83332.12.rna.19;locus_tag=Rvnr01;product=Sm

[2017-03-22 08:59] aswarren opened #1444 "Tn-seq submission"
Prevent tn-seq submission when "resampling" method selected and there is less than two different conditions added to the library table.

[2017-03-22 09:34] mshukla1 commented on #1443
Yes, that's what we have. I don't understand the problem!

Sent from my iPhone

[2017-03-22 09:41] aswarren commented on #1443
https://github.com/The-Sequence-Ontology/Specifications/blob/master/gff3.md

In addition, the following characters have reserved meanings in column 9 and must be escaped when used in other contexts:
; semicolon (%3B)
= equals (%3D)
& ampersand (%26)
, comma (%2C)

Note the examples I posted have extra ';' and '=' characters in the middle of the "value" string. Making it hard to consume and violati

[2017-03-22 14:35] ARWattam opened #1445 "RNA-Seq enhancement- user request"
It would be nice to be able to specify the contrasts that are made in
diffexp analysis instead of defaulting to an all v all comparison.

[2017-03-22 14:36] ARWattam opened #1446 "RNA-Seq enhancement - User request"
It would be nice if we could get a fastqc report and the ability to trim
reads on uploaded fastq files.

[2017-03-22 14:37] ARWattam opened #1447 "Pathway Summary Page Enhancement - User request"
Add the ability to create feature list and do MSA from this page
<img width="1358" alt="screen shot 2017-03-22 at 10 36 47 am" src="https://cloud.githubusercontent.com/assets/11475316/24203258/9a6307ae-0eeb-11e7-9d0b-de71daedf2a3.png">

[2017-03-22 15:06] ARWattam opened #1448 "User confusion on Public status in Genome filter"
Directly from the user's email:
"Also genome filter option defined as false. "

Biologists don't understand what is meant by False.  Can we just have them be listed as Public or Private?

[2017-03-22 15:09] ARWattam opened #1449 "User request for ability to delete jobs"
This user annotated the same genome 3 different times (It happens...I have done it to and would be happy to bore you all with the reasons why I did it).  Someone might like to remove those jobs so they are no longer confused by which one they would like to choose.  Alas, it is not possible right now.

Directly from the user:
"Pseudomonas fluorescens PpR247 (May find three different copies of genom

[2017-03-22 15:12] ARWattam opened #1450 "User request for plant host genomes to be added"
Please consider adding to your host list Citrus maxima (pomelo) with the accesion number MKYQ00000000.1 and Azadirachta indica (mahogany) with the accesion number AMWY00000000.2.

[2017-03-22 15:51] mshukla1 commented on #1448
I understand and don’t mind changing it for the genomes. Need to discuss it with dustin and harry
how best to handle it, change it in the database or change via API.

-Maulik

[2017-03-22 19:15] #1422 closed, assigned to chmao1

[2017-03-23 20:03] hyoo opened #1451 "Global search: check empty search keyword before it submits"
![image](https://cloud.githubusercontent.com/assets/1236467/24267910/2f2b6804-104f-11e7-9dca-c0cd54988b7b.png)

I clicked magnifier button without typing any keyword and...

[2017-03-28 13:22] jimdavis1 opened #1452 "you can't download a fasta of speciality genes"
A user alerted me to the fact that the ability to download a set of speciality genes in FASTA format (AA or DNA) is missing on the speciality genes tab.  It is kind of a huge pain to have to build a feature set in order to get this.

Here is the download button from the speciality genes tab.

<img width="1440" alt="screen shot 2017-03-28 at 8 28 26 am" src="https://cloud.githubusercontent.com/asse

[2017-03-28 14:34] chmao1 commented on #1440
I've added the options "Any exact item" and  "All exact items" in global search to take care of the EC number search problem.

[2017-03-28 16:22] chmao1 commented on #1451
Fixed

[2017-03-28 16:22] #1451 closed, assigned to chmao1

[2017-03-28 16:33] chmao1 commented on #1207
This is fixed with the new enhanced Global Search.

[2017-03-28 16:33] #1207 closed, assigned to dmachi, chmao1

[2017-03-28 21:19] chmao1 opened #1453 "Global search: error when clicking on the number to see all the hits from the multiple feature id search"
When many feature IDs were used in global search with "Any exact term" option and clicking on the number to see all the hits, the browser gave "bad request" error.

[2017-03-29 18:49] jimdavis1 opened #1454 "Veronika and Sveta's AMR annotations should appear here:"
Also, "Literature" is somewhat misleading becuase it makes it look like we annotated it, when we in fact did not.
![image](https://cloud.githubusercontent.com/assets/7661533/24471050/81627d2a-1486-11e7-8f47-2f8682c6280c.png)

[2017-03-29 20:44] jimdavis1 opened #1455 "file size limit in workspace?"
I just uploaded a bunch of big reads files to the workspace and this is what I see.  I know that they aren't all 646MB.

![image](https://cloud.githubusercontent.com/assets/7661533/24475767/9961ffbc-1496-11e7-9524-e47440a3b066.png)

[2017-03-29 20:45] #1455 closed, assigned to nobody

[2017-03-30 18:49] chmao1 commented on #534
This was done.

[2017-03-30 18:49] #534 closed

[2017-03-30 19:39] ARWattam opened #1456 "Resistance phenotype missing"
There are apparently values (see screenshot), but it is not defined as susceptible, resistant or intermediate.
https://www.patricbrc.org/view/Antibiotic/?eq(antibiotic_name,chloramphenicol)#view_tab=amr
<img width="1044" alt="screen shot 2017-03-30 at 3 38 18 pm" src="https://cloud.githubusercontent.com/assets/11475316/24522882/0854ea10-155f-11e7-8820-b7c80c2a164f.png">

[2017-03-31 13:40] ARWattam opened #1457 "Nonsusceptible in AMR page"
It looks like we have a number of differences.  What does non-susceptible mean?  Is it resistant?  Is it intermediate?  If not, we need to define it because no one will know exactly what we are saying.
<img width="728" alt="screen shot 2017-03-31 at 9 39 02 am" src="https://cloud.githubusercontent.com/assets/11475316/24552842/12ecd66c-15f6-11e7-89eb-dca7bc9959eb.png">

https://www.patricbrc.org/vi

[2017-03-31 13:45] ARWattam opened #1458 "AMR regions need a link to the genome browser"
Although the location is defined, there is no direct link to the browser.  You can see it by going to the feature page, but the browser icon should be available in the mystical green bar.

[2017-03-31 17:04] ARWattam opened #1459 "Most, if not all, downloads from landing page for genome give empty zip files."
https://www.patricbrc.org/view/Genome/1719.1833

When I select any of the files from the download button on the homepage (see screenshot and glaring red arrow), a zip file downloads, but when I try to open it, I get an error.  The size is wrong, too.

<img width="1071" alt="screen shot 2017-03-31 at 1 01 21 pm" src="https://cloud.githubusercontent.com/assets/11475316/24560848/5cc8ede0-1612-11e7-95

[2017-03-31 17:06] dmachi commented on #1459
What file types are you choosing when you do this.  The very first one I went to (https://www.patricbrc.org/view/Genome/1262770.3 <https://www.patricbrc.org/view/Genome/1262770.3>) worked fine.  I chose Genomeic Sequences in FASZTA and annotations in genbank format.  The resulting download had only the FASTA files (presumably because the public files don’t have genbank format any more)

[2017-03-31 17:12] ARWattam commented on #1459
The zip files don't open.  The TGZ files give me an error (see screenshot),
but they do unzip and give some data.  Zip format is the default.

I haven't checked all possibilities...should I?

On Fri, Mar 31, 2017 at 1:06 PM, Dustin Machi <notifications@github.com>
wrote:

[2017-03-31 17:12] ARWattam commented on #1459
Oh, and a user reported it, so its not just me.

On Fri, Mar 31, 2017 at 1:06 PM, Dustin Machi <notifications@github.com>
wrote:

[2017-03-31 17:21] dmachi commented on #1459
This behavior happens when the files aren’t actually in the ftp site.  Maulik indicated he has generated the ftp files for a bunch of the newer genomes, but hasn’t synced them onto the ftp site yet.

[2017-03-31 19:05] chmao1 opened #1460 "Genome List View: the genome ids are not showing up at the perspective panel"
See the example below:

At the perspective panel: GENOMES: GENOME ID IS OR ( 2 Genomes )

IDs are blank.

![image](https://cloud.githubusercontent.com/assets/6361802/24565400/1062f638-1623-11e7-9c15-2b1cd67aed0c.png)

[2017-03-31 19:14] chmao1 opened #1461 "Global Search result: the large number of feature id search made the Feature Table on Feature List page not viewable"
The display of the ids used in the search term pushed the feature table down and there is no space left for the feature table.
![image](https://cloud.githubusercontent.com/assets/6361802/24565639/10304a84-1624-11e7-8d6a-25c2b952eca5.png)

[2017-03-31 21:04] chmao1 opened #1462 "Antibiotic View for beta-lactam remained "loading" status"
Antibiotic View for beta-lactam did not return result. It remained "loading" status
![image](https://cloud.githubusercontent.com/assets/6361802/24569344/aa932560-1633-11e7-85df-f42d09c565c9.png)

[2017-04-02 17:06] ARWattam opened #1463 "Reimplement job status check with websocket"
I've tried several times to load this, and never seen got it to go on the public site.  Today I tried this feature:
https://www.patricbrc.org/view/Feature/RefSeq.359391.4.NC_007618.CDS.887018.887164.rev#view_tab=compareRegionViewer

Here's the error it returned:
<img width="1440" alt="screen shot 2017-04-02 at 1 05 15 pm" src="https://cloud.githubusercontent.com/assets/11475316/24589233/1cabf5f6-1

[2017-04-02 22:38] hyoo commented on #1463
![image](https://cloud.githubusercontent.com/assets/1236467/24591600/1ca274f6-17cb-11e7-86c7-1d8a59b25df2.png)

This works for me. Is there any firewall?

[2017-04-02 22:49] dmachi commented on #1463
She is having problems accessing all of the ANL services today.  I think that is the actual root cause here and not a problem with compare region viewer.

[2017-04-03 13:40] chmao1 commented on #1460
Fixed and will be available in the next build.

[2017-04-03 13:47] chmao1 opened #1464 "Specialty Gene List View from the global search: the keyword search query is needed to be changed to the user readable format."
See the example below,
"and(keyword(dnaA),keyword(Brucella)) ( 21 Specialty Genes )" should be translated.

![image](https://cloud.githubusercontent.com/assets/6361802/24612001/f599b90a-1851-11e7-9078-ab1821c12711.png)

[2017-04-03 13:53] chmao1 opened #1465 "Taxon List View from the global search: the keyword search query is needed to be changed to the user readable format."
See the example below:

![image](https://cloud.githubusercontent.com/assets/6361802/24612425/38e45228-1853-11e7-8f7e-b74b1a660cac.png)

[2017-04-03 13:57] chmao1 opened #1466 "Experiment List View from the global search: need to add the the keyword search query at the perspective panel."
![image](https://cloud.githubusercontent.com/assets/6361802/24612657/e60362be-1853-11e7-976c-b33cc8a805c9.png)

[2017-04-03 14:05] ARWattam opened #1467 "Reference and representative genomes in Compare region viewer...?"
When I look at the Compare region viewer for this gene:
https://www.patricbrc.org/view/Feature/RefSeq.359391.4.NC_007618.CDS.887018.887164.rev#view_tab=compareRegionViewer

It is set for Reference and Representative genomes, but only one of those genomes is a representative genome (the 2308 strain).  How is it picking the other strains to view?
<img width="1440" alt="screen shot 2017-04-03 at 10 0

[2017-04-03 14:48] olsonanl commented on #1463
Rebecca are you at VBI or elsewhere today? I'm a little worried about how fragile some things seem to be when behind firewalls etc

[2017-04-03 16:11] ARWattam commented on #1463
It didn't load when I was at home, whether I was on or off the vpn (I also
didn't have access to my workspace).  Dustin says that he has had multiple
times where chicago or ANL blocked his IP address, and he thought that was
happening to me.  When I was at home this morning, no workspace.  As soon
as I came in, I could see it.  I checked the compare region viewer then,
and it was working.

Does an

[2017-04-03 16:23] olsonanl commented on #1463
It does; we need to flag the instances where this is happening so we can take it up with the ANL networking folks to see what is flagging the block if it is indeed happening. We'll need to know your IP address (http://www.whatsmyip.org will tell you) and where you are physically (home, VBI, remote somewhere etc).

[2017-04-03 18:22] chmao1 opened #1468 "Taxon List View: change tab name from "Taxons" to "Taxa""
![image](https://cloud.githubusercontent.com/assets/6361802/24624115/cb9f96fc-1878-11e7-8982-72fbc8469d1e.png)

[2017-04-03 19:34] hyoo commented on #1467
yes, this is a bug, i will fix it and deploy it to alpha

[2017-04-03 19:36] #1467 closed, assigned to hyoo

[2017-04-03 19:36] chmao1 commented on #1462
This is because "beta-lactam" is not in the "antibiotics" table in solr.

[2017-04-03 19:41] chmao1 opened #1469 "Some antibiotics from the genome_amr table are not defined in antibiotics table in solr"
I found that the following antibiotics from the genome_amr table are not defined in antibiotics table in solr:

carbapenem
cefotaxime
ceftazidime
ticarcillin/clavulanic acid
beta-lactam
benzylpenicillin
rifampicin
Trimethoprim_Sulfamethoxazole
co-trimoxazole
amoxicillin-clavulanic acid
trimethoprim-sulfamethoxazole
cefoperazone

The Antibiotic View page not able to load for these antibiotics selec

[2017-04-03 19:41] hyoo commented on #1462
There is some data discrepancy due to the nature of data. beta-lactam is not an antibiotic name, rather it refers a group of antibiotics containing "beta-lactam ring". see more https://en.wikipedia.org/wiki/%CE%92-lactam_antibiotic

Maulik and I will review soon.

[2017-04-03 19:43] chmao1 commented on #1462
Antibiotic View page should handle this case instead of "loading" forever.

[2017-04-03 19:44] hyoo commented on #1469
Thanks for the checking. This will help us to narrow down the problem.

[2017-04-03 19:44] hyoo commented on #1469
#1462

[2017-04-03 19:47] chmao1 commented on #1469
Also Trimethoprim_Sulfamethoxazole and trimethoprim-sulfamethoxazole should be combined into one.

[2017-04-03 19:49] hyoo commented on #1452
You have "FASTA" button and once you open a window, there is a download button on the top.

![image](https://cloud.githubusercontent.com/assets/1236467/24628627/babe6aee-187c-11e7-9f87-ac15c05e426e.png)

but, agree that it would be nicer to have a shortcut as you described. Just wanted you know there is a way to download it in one click away.

[2017-04-03 19:52] hyoo commented on #1439
this is done. For reference later, this is controlled by

https://github.com/PATRIC3/p3_api/blob/master/content/CitePATRIC

[2017-04-03 19:52] #1439 closed, assigned to rkenyon

[2017-04-03 19:57] hyoo commented on #1433
TypeError: this.resolve is not a function<br> &nbsp; &nbsp;at Function.lookup (/srv/p3_api/node_modules/express/lib/view.js:110:17)<br> &nbsp; &nbsp;at View.lookup (/srv/p3_api/enableMultipleViewRoots.js:22:25)<br> &nbsp; &nbsp;at new View (/srv/p3_api/node_modules/express/lib/view.js:85:20)<br> &nbsp; &nbsp;at EventEmitter.render (/srv/p3_api/node_modules/express/lib/application.js:569:12)<br> &n

[2017-04-03 19:58] hyoo commented on #1433
@dmachi , would take a look at this? I guess you've already resolved logout issue, but this seems something different.

[2017-04-03 20:02] hyoo commented on #1462
Yes, either we block it before making a link or add entries with some reasonable contents.

[2017-04-03 20:03] dmachi commented on #1433
Will check it out.

[2017-04-03 20:18] hyoo commented on #1408
closing per Jim's comment

[2017-04-03 20:18] #1408 closed, assigned to nobody

[2017-04-03 20:21] hyoo commented on #1378
this is fixed by the 2017 March release.

[2017-04-03 20:21] #1378 closed, assigned to nobody

[2017-04-03 20:21] hyoo commented on #1386
this is fixed by the 2017 March release.

[2017-04-03 20:21] #1386 closed, assigned to nconrad

[2017-04-03 20:24] #1397 closed, assigned to hyoo

[2017-04-03 20:26] hyoo commented on #1404
This is fixed and available on production now. Safari has a little bit different issue, but it is tracked by another ticket. So, I am closing this one.

[2017-04-03 20:26] #1404 closed, assigned to nobody

[2017-04-03 20:55] #1393 closed, assigned to hyoo

[2017-04-03 20:55] hyoo commented on #1412
this has been deployed on production.

[2017-04-03 20:55] #1412 closed, assigned to hyoo

[2017-04-03 21:21] hyoo commented on #901
this is deployed as a part of 2017 March release.

[2017-04-03 21:21] #901 closed

[2017-04-03 21:26] #542 closed

[2017-04-03 21:28] hyoo commented on #1007
closing per discussion.

[2017-04-03 21:28] #1007 closed, assigned to nobody

[2017-04-03 21:31] jimdavis1 opened #1470 "download for private genomes should be prioritized"
I am pasting an email conversation from Aaron best, our close collaborator and #4 patric user.  Basically he discovered that  you cant download private genome files the same way as public ones because that function touches the ftp instead of solr.  This should be prioritized as a thing to fix.

Okay. I’ll take a look. This seems like a function that should be working on the website. :-)

Aaron Bes

[2017-04-03 22:47] dmachi commented on #1470
Jim, please do let him know that for any private genomes all of those files are already in his workspace inside the job result and he can download them from there until the primary download supports that functionality.

[2017-04-04 05:28] mshukla1 commented on #1462
This is because beta lactam is a generic term referring to a class of antibiotics, hence it can not be linked to a specific antibiotic compound in pubchem. We need to go back to the original source of AMR data and see if they have provided more specific antibiotic name.

Sent from my iPhone

[2017-04-04 05:33] mshukla1 commented on #1462
Two options. Either the page detects that the antibiotic name is not available in solr core and show a message.

OR, I can create an empty record for that antibiotic in the solr core with minimum info.

Sent from my iPhone

[2017-04-04 13:12] ARWattam opened #1471 "Compare region viewer for AMR classifiers doesn't load"
I'm at this page:
https://www.patricbrc.org/view/Feature/PATRIC.1280.8888.FKLV01000003.classifier_predicted_region.282859.282919.fwd#view_tab=compareRegionViewer

All I see is the spinning wheel.

When I open developer tools and look at console I get this message:

dojo.js:19 Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience

[2017-04-04 14:31] hyoo commented on #1471
Yes, because this is classifier_predicted_region and missing attributes like pinned_peg and pinned_peg_strand. @olsonanl , do you think we should allow compare region viewer only for the CDS?

@ARWattam if you interested, you can go to the corresponding CDS and run the compare region viewer.
https://www.patricbrc.org/view/Feature/PATRIC.1280.8888.FKLV01000003.CDS.282675.283565.fwd#view_tab=compare

[2017-04-04 14:52] olsonanl commented on #1471
Yes - compare regions only makes sense for protein encoding genes.

That is to say, we can only compute pins on protein encoding genes. It might make sense to allow users to select a non-CDS and have the service choose a neighboring region to pin on, but that is an enhancement.

[2017-04-04 14:55] olsonanl commented on #1463
FYI I am tracking this with ANL cyber folks. The traffic apparently triggered a SNORT (intrusion detection system) rule intended for detecting attempts at using the SSL Heartbleed vulnerability.

My guess is the app service traffic patterns are somehow mimicking that. Another reason to think about a non-polling approach to the monitoring.

@dmachi @hyoo what is your take on websocket methods for t

[2017-04-04 20:30] chmao1 opened #1472 "Query term display in the perspective panel: need to remove the extra space for the highlighted keywords."
Also, need to add spaces for the operators between the keywords.
![image](https://cloud.githubusercontent.com/assets/6361802/24677164/d8a7f9b2-1953-11e7-8c20-112983f457bc.png)

[2017-04-05 13:11] dmachi commented on #1463
I think web sockets is exactly what should be used here.  However, I don’t think each of the backend services should individually expose web sockets.  I think it would be best to establish a web socket connection against the p3-web webserver or a standalone service and have the other services (app service and workspace service) publish events to p3-web which would then republish events back out to

[2017-04-07 17:25] ARWattam opened #1473 "GO annotations should be included in download of feature table for a genome"
Currently, users have to click on each feature individually to capture the specific GO annotation.  It might be good to include this as a column they can add to any feature table so that they can view them, too.

[2017-04-10 14:44] chmao1 opened #1474 "Remove the Circular Viewer tab for the host genomes"
The current Circular Viewer is not able to support viewing the host genomes due to the large number of host sequences and will be removed for now.

[2017-04-10 16:36] ARWattam opened #1475 "AMR phenotype - non-susceptible???"
Under Resistant Phenotype we have four categories:
Resistant
Susceptible
Intermediate
Non-susceptible

What does non-susceptible mean?  Is that resistant?

[2017-04-12 18:05] ARWattam opened #1476 "Clicking on amikacin to get to antibiotic landing page takes me to cefotaxime"
I am trying to get to the landing page for Amikacin, so I clicked on the page for a particular genome and then on the antibiotic link:
<img width="1203" alt="screen shot 2017-04-12 at 2 01 49 pm" src="https://cloud.githubusercontent.com/assets/11475316/24972327/13ec3340-1f89-11e7-8f31-ff9aa01db6c4.png">

But the page that open up is for cefotaxime:

<img width="1135" alt="screen shot 2017-04-12 at

[2017-04-12 18:06] ARWattam commented on #1476
And no, its not listed as a synonym.  I checked that.

[2017-04-12 18:12] ARWattam opened #1477 "Order by count on AMR doesn't appear to be by count."
The page is here:
https://www.patricbrc.org/view/Taxonomy/2#view_tab=overview

I thought that the bar graph should look like steps down.  It reorders to show the highest count, but from then on it appears to be random.
<img width="1130" alt="screen shot 2017-04-12 at 2 10 50 pm" src="https://cloud.githubusercontent.com/assets/11475316/24972621/061559ee-1f8a-11e7-91b1-a8f27c2ff7d1.png">

[2017-04-12 18:19] hyoo commented on #1476
What are the urls for each page? I guess you have confused with other tabs, because it passes antibiotic name through the url, so you should be able to see "amikacin" in the url when you open the antibiotic page through the "A" button in the green bar.

[2017-04-12 22:09] hyoo commented on #1398
We missed March deadline, hoping we can do by May. @rkenyon any update?

[2017-04-12 23:36] rkenyon commented on #1398
Almost there.  They should be sending us the final invoice soon.  Several
rolls of red tape to cut through.

Ron

On Wed, Apr 12, 2017 at 6:09 PM, hyoo <notifications@github.com> wrote:

--
Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2017-04-13 13:51] hyoo commented on #689
Per discussion, we will add wiki description for selective ranks: genus and family

[2017-04-13 14:20] hyoo commented on #1263
![image](https://cloud.githubusercontent.com/assets/1236467/25008805/669ae1b2-202a-11e7-9e8b-3a0d776243c6.png)

https://www.patricbrc.org/view/SpecialtyVFGeneList/?keyword(*)&eq(source,PATRIC_VF)

Yes, it works.

[2017-04-13 14:20] #1263 closed, assigned to chmao1

[2017-04-13 14:24] hyoo commented on #1286
![image](https://cloud.githubusercontent.com/assets/1236467/25009024/efb79f08-202a-11e7-976d-dbbaa6ee7b07.png)

verified.
https://www.patricbrc.org/view/Taxonomy/234#view_tab=genomes

[2017-04-13 14:24] #1286 closed, assigned to chmao1

[2017-04-13 14:29] #1124 closed, assigned to levinas

[2017-04-13 14:30] hyoo commented on #761
![image](https://cloud.githubusercontent.com/assets/1236467/25009298/cf9c8890-202b-11e7-88e9-1e7e17e69f19.png)

fixed

[2017-04-13 14:30] #761 closed

[2017-04-13 14:31] #637 closed

[2017-04-13 14:31] #964 closed, assigned to dmachi

[2017-04-13 14:33] hyoo commented on #1295
https://www.patricbrc.org/view/Feature/RefSeq.9823.5.NC_010448.mRNA.58158519.58185391.rev

- handle long feature id
- handle Gene viewer when the data is not available. currently it says "Loading..." and do nothing.

[2017-04-13 14:39] #754 closed

[2017-04-13 14:39] #755 closed

[2017-04-13 14:43] hyoo commented on #2
![image](https://cloud.githubusercontent.com/assets/1236467/25009758/688ee43e-202d-11e7-8107-a946b626e6eb.png)

![image](https://cloud.githubusercontent.com/assets/1236467/25009770/71780ea4-202d-11e7-9efa-b26114c5b0a4.png)

Original ticket was against JBoss, but I am showing the current result new UI.
Global search results looks same, but once you clicked the first result, it shows PATRIC ID becau

[2017-04-13 14:43] #2 closed

[2017-04-13 14:43] #297 closed

[2017-04-13 14:47] hyoo commented on #586
This ticket was against JBoss version, and we do have verified user guides links on new UI.

[2017-04-13 14:47] #586 closed

[2017-04-13 14:47] #584 closed

[2017-04-13 14:48] #325 closed

[2017-04-13 14:49] #531 closed

[2017-04-13 14:49] #545 closed

[2017-04-13 14:50] #646 closed

[2017-04-13 14:50] #519 closed

[2017-04-13 15:04] #444 closed

[2017-04-13 15:05] #482 closed

[2017-04-13 15:06] #1296 closed, assigned to nobody

[2017-04-13 15:07] #1322 closed, assigned to nobody

[2017-04-13 15:08] hyoo commented on #1298
this is already done in production.

[2017-04-13 15:08] #1298 closed, assigned to nobody

[2017-04-13 15:10] #1315 closed, assigned to nobody

[2017-04-13 15:14] hyoo commented on #743
btw, current max is 5000.

[2017-04-13 15:14] #743 closed

[2017-04-13 15:16] #1312 closed, assigned to nobody

[2017-04-13 15:17] hyoo commented on #1331
i am closing since this is a duplicate

[2017-04-13 15:17] #1331 closed, assigned to nobody

[2017-04-13 15:22] hyoo commented on #209
We have new website with better capability handing facet items.

[2017-04-13 15:22] #209 closed

[2017-04-13 15:27] hyoo commented on #210
the original problem, adding : in the group name is resolved by blocking from UI.
I am closing this ticket.

[2017-04-13 15:27] #210 closed

[2017-04-17 19:35] ARWattam opened #1478 "Seeing repeat of AB information in AMR bar graph"
Spelling with a capital first letter, and lower case first letter are separated for the same antibiotic.  The example here is Levofloxacin.
https://www.patricbrc.org/view/Taxonomy/286#view_tab=overview

<img width="696" alt="screen shot 2017-04-17 at 3 32 42 pm" src="https://cloud.githubusercontent.com/assets/11475316/25101742/6f22c76c-2383-11e7-986c-e78188f53399.png">

[2017-04-17 20:46] dawenx commented on #1437
andrew, can you assign this to me?

[2017-04-17 20:48] chmao1 opened #1479 "Feature list table: add GO column as a hidden column"
Add GO column as a hidden column in the Feature list table

[2017-04-17 20:59] hyoo opened #1480 "Grid selection error with different pages."
https://www.patricbrc.org/view/Taxonomy/570#view_tab=amr&filter=false

1. select the first row in page 1

![image](https://cloud.githubusercontent.com/assets/1236467/25104529/5133b9ac-2386-11e7-9428-d66647d10d6b.png)

2. move to page 2, and select any row

![image](https://cloud.githubusercontent.com/assets/1236467/25104544/60d7c07e-2386-11e7-8db2-db43fd63bd91.png)

3. Due to the javascript error,

[2017-04-17 21:01] hyoo commented on #1476
Technical description is posted in #1480

[2017-04-17 21:27] dmachi commented on #1480
I believe I have fixed this, please test it out on alpha.

[2017-04-17 21:31] hyoo commented on #1480
confirmed. on alpha. will deploy in a week or at most by end of this month (April release)

[2017-04-18 00:38] aswarren commented on #1437
@dawenx I can't actually. Let me see what I can do. For the time being I will assign it unto myself.

[2017-04-18 12:52] ARWattam opened #1481 "Predicted region hanging off the end of visualization"
Shouldn't this be in the middle?  I came at it from the predicted region page.
https://www.patricbrc.org/view/Feature/PATRIC.1280.11371.LLAR01000153.classifier_predicted_region.2147.2588.fwd#view_tab=overview
<img width="1121" alt="screen shot 2017-04-18 at 8 52 14 am" src="https://cloud.githubusercontent.com/assets/11475316/25131609/5a259fe2-2414-11e7-8685-7269916fdb61.png">

[2017-04-18 13:33] chmao1 commented on #1453
Fixed and available in alpha

[2017-04-18 13:35] chmao1 commented on #1479
Added and available in alpha build

[2017-04-18 13:37] chmao1 commented on #1474
Fixed and available in alpha

[2017-04-18 13:38] chmao1 commented on #1473
Added and available in alpha.

[2017-04-18 13:39] chmao1 commented on #1472
Fixed and available in alpha.

[2017-04-18 13:42] chmao1 commented on #1468
Fixed and available in alpha.

[2017-04-18 13:43] chmao1 commented on #1466
Fixed and available in alpha.

[2017-04-18 13:45] chmao1 commented on #1465
Fixed and available in alpha.

[2017-04-18 13:45] chmao1 commented on #1464
Fixed and available in alpha.

[2017-04-18 13:46] chmao1 commented on #1461
Fixed and available in alpha.

[2017-04-18 14:07] dawenx commented on #1437
I went ahead to fix it and submitted a pull request.

[2017-04-18 15:24] hyoo commented on #1288
@jimdavis1 would you double check whether this works for you?

[2017-04-18 15:25] hyoo commented on #1481
Entire contig is 2265bp. I guess there is some miscalculation (not counting margins i suspect) but I think the feature locates at the end of the contig.

On Apr 18, 2017, at 7:52 AM, ARWattam <notifications@github.com<mailto:notifications@github.com>> wrote:

Shouldn't this be in the middle? I came at it from the predicted region page.
https://www.patricbrc.org/view/Feature/PATRIC.1280.11371.LLAR0

[2017-04-18 17:35] chmao1 commented on #1416
I've added an option "Any exact item" to take care this problem. Please let me know whether this is still an issue.

[2017-04-18 18:49] mshukla1 commented on #1456
We solely rely on the SIR phenotypes provided by BioSample/collaborators/publications.
In other words, we do not compare given MIC values to  CLSI/EUCAST breakpoints to
infer SIR phenotypes. S, you may have situations where MIC is present but SIR is missing.

We have discussed automated translation of MIC to SIR in past, but it hasn’t happened yet.

-Maulik

[2017-04-18 19:44] mshukla1 commented on #1457
Non-suceptible is perfectly valid. There are few organisms, like Niesseria, that do not
have clearly defined break points in CLSI or EUCAST. They are published with designation
of susceptible and non-suceltible. Both Jim and I have discussed this and decided to leave
it as non-susceptible, since it is accepted by the organism community.

-Maulik

[2017-04-19 14:28] dawenx commented on #1400
just wanted to make sure, so you want the 'annotation' column show up ONLY on the features tab of GenomeGroups, or on the features tab of anywhere?

[2017-04-19 14:50] ARWattam opened #1482 "Genome missing strain name"
https://www.patricbrc.org/view/Genome/43770.28

Should be called Corynebacterium striatum strain BM4687

[2017-04-19 14:52] hyoo commented on #1400
We need to discus to understand the rationale of the original request. The annotation field was hidden by default intentionally due to the limited horizontal space. Jim, would you describe why you think so?

[2017-04-19 14:55] dmachi commented on #1400
I agree.  Additionally we default to filtering on PATRIC annotations, so the column will always show “PATRIC” until a user changes the filters.  In the few cases where seeing the annotation is important, the column is available and can be shown by clicking on the column selector (plus icon located beside/over the last column of the grid).

[2017-04-20 16:06] ARWattam opened #1483 "Sorting by name is not sorting alphabetically - AMR table"
This is for Streptococcus (https://www.patricbrc.org/view/Taxonomy/1301#view_tab=overview)

Obviously, amoxicillin should be first.
<img width="710" alt="screen shot 2017-04-20 at 12 04 23 pm" src="https://cloud.githubusercontent.com/assets/11475316/25240766/b6414ef8-25c1-11e7-8a6b-3fbb27b2ddcb.png">

[2017-04-20 16:37] mshukla1 commented on #1483
I have updated converted all antibiotic names in the database to lowercase. That resolves this problem.

-Maulik

[2017-04-21 17:12] olsonanl opened #1484 "Issues with paths with spaces"
I'm thinking we have some serious issues with respect to safe usage of incoming user data. This seems we're asking for trouble with injection attacks.

![screen shot 2017-04-21 at 12 11 41 pm](https://cloud.githubusercontent.com/assets/2152226/25288602/b52fbaa2-268b-11e7-99fb-d9b5be353b13.png)

[2017-04-22 18:52] aswarren opened #1485 "PATRIC FTP server"
It would be helpful to have the FTP service that Dustin wrote on live and on the official services. So that it is easier to send files up to the workspace from a remote server.

It works well. It would be a shame to lose that work.

[2017-04-22 19:33] danielolson5 commented on #1485
dmachi - can you provide a link to repo, and the version that should be deployed?

[2017-04-23 21:22] ARWattam opened #1486 "AMR summary graph not clickable when showing a genome group"
When I create a group and then want to look at AMR across it, I find that the Genomes by Antimicrobial Resistance graph is not clickable.  It is when I look at genomes or taxa.  With it not being clickable, I am unable to find out which of the genomes in my selection actually has resistance or susceptibility to a particular antibiotic.

[2017-04-24 00:04] ARWattam opened #1487 "Many Lactobacillus plantarum genomes are missing PLFams"
I was surprised to see that a large number of  Lactobacillus plantarum  strains have no PLFams.  Here are the strains I counted:
CIF17A5
DSM 20246
DSM 2601
K35
MF1298
MHO2.4
MHO2.9
P14
P22
P26
P73
RI-086
RI-147
RI-162
RI-165
RI-505
RI-506
RI-507
RI-509
RI-511
T10
TISTR875

Here's the heatmap view:
https://www.patricbrc.org/view/Taxonomy/1590#view_tab=proteinFamilies
<img width="1433" alt="screen s

[2017-04-24 00:05] ARWattam commented on #1487
Maybe we should do a systematic check to see if there are any strains without protein families.

[2017-04-24 00:06] ARWattam commented on #1487
It looks like one of these, Lactobacillus plantarum strain TISTR875, only has FIGFams.
<img width="1151" alt="screen shot 2017-04-23 at 8 05 29 pm" src="https://cloud.githubusercontent.com/assets/11475316/25318591/5039325a-2860-11e7-9d76-4bae496084b1.png">

[2017-04-24 02:13] mshukla1 commented on #1487
Ok, I will check them tomorrow.

Sent from my iPhone

[2017-04-24 13:49] ARWattam opened #1488 "rank not visible on AMR kmers from classifier"
We don't seem to be showing the rank associated with each classifier prediction.  This is EXTREMELY important for understanding the relevance of a given kmer and the basis of the prediction.  I am worried about presenting this to the program officer on Wednesday if we don't get this fixed ASAP.  I have talked to Jim, and he is equally dismayed by not showing the rank.

[2017-04-24 15:43] hyoo commented on #1458
We decided not to expose all the possible linkouts, due to the limited space of action bar. However, we do have a functionality to keep the direct link, which is "press and hold". For example, go to

https://www.patricbrc.org/view/Genome/470.1738#view_tab=features&filter=and(eq(feature_type,%22classifier_predicted_region%22),or(eq(annotation,%22PATRIC%22)))

![image](https://cloud.githubuserconten

[2017-04-24 15:45] hyoo commented on #1458
Task for @AndrewGuard
We need to update this submenu since we have more tabs available.

![image](https://cloud.githubusercontent.com/assets/1236467/25345591/1add7564-28db-11e7-9746-b53183b88757.png)

https://www.patricbrc.org/view/Feature/PATRIC.470.1738.LN865143.classifier_predicted_region.2070651.2070688.fwd#view_tab=overview

[2017-04-24 16:14] ARWattam commented on #1458
Ah....I've never done that.  Very useful, but do you think that other
people will be able to discover this on their own?

Rebecca

On Mon, Apr 24, 2017 at 11:43 AM, hyoo <notifications@github.com> wrote:

[2017-04-24 16:17] mshukla1 commented on #1458
That is the mechanism we have for going to additional tabs and downloading data in various file formats,
from pretty much every table on the site.

If we think people won’t notice/discover, it is a design issue that needs to be addressed site wide…either
by designing a better widget or by faqs/tutorial.

-M

[2017-04-24 16:49] hyoo commented on #1458
agree, this is not a typical web UI. I like the idea of showing them in workshops and tutorials. Something we need to spread out.

[2017-04-24 18:36] ARWattam opened #1489 "Why are virulence factors appearing in the AMR genes tab?"
https://www.patricbrc.org/view/Antibiotic/?eq(antibiotic_name,isoniazid)#view_tab=amrGenes
<img width="1108" alt="screen shot 2017-04-24 at 2 35 54 pm" src="https://cloud.githubusercontent.com/assets/11475316/25352872/7092d4de-28fb-11e7-93f7-cbed4ccb1a64.png">

[2017-04-24 19:34] dawenx commented on #1489
It looks like this tab is using "keyword(antibioticName)" as the search string, i.e., "keyword(isoniazid)" in your case. I'm not sure whether that's intended or not, will discuss this with dustin tomorrow.

[2017-04-25 02:24] hyoo commented on #1489
this is a specialty_gene tab. As far as I remember, we intended to show all the specialty features related to the keyword (antibiotic name) so that user can see all the related features. If this is confusing, we can add a default filter condition on property field so that we display only AMR related features.

[2017-04-25 11:05] ARWattam commented on #1489
If it says AMR, it should only be AMR.  But then what happens to the other
specialty genes?  Sveta told me that she and Maulik had a conversation
about this, and it was my understanding that AMR genes were going to be
seen on the separate tab.

On Mon, Apr 24, 2017 at 10:24 PM, hyoo <notifications@github.com> wrote:

[2017-04-25 11:41] mshukla1 commented on #1489
The AMR gene tab is accessible only from the antibiotic page and supposed to show only AMR genes for a given antibiotic.

The specialty gene tab at the taxon and genome levels will stay as it is.

[2017-04-25 14:24] dawenx commented on #1489
If that's OK for everyone, I will put in additional search constraint for this page to pull only AMR genes for a given antibiotic as suggested by Maulik.

PS. I still cannot assign myself to an issue, can someone check my permission? Thanks!

[2017-04-25 14:28] dawenx commented on #1434
I think I have found the reason for this issue and I would like to "assign" this to myself. I still don't have permission to do anything on the right panel, e.g., assign the issue to myself, add labels, etc.

[2017-04-25 17:33] dawenx commented on #1489
I think I have fixed it and this is part of pull request #409 now.

[2017-04-25 17:34] dawenx commented on #1434
I think I have fixed it and this is part of pull request #409 now.

[2017-04-25 20:28] AndrewGuard opened #1490 "No Jobs in Workspace Causes Error"
Running locally with the production flag set to false, when the user has no jobs in the workspace, the following error is seen in the console:

/js/dojo/promise/instrumentation.js:20 TypeError: Cannot read property 'id' of undefined
    at TMP.getIdentity (/js/dojo/store/Memory.js:56:16)
    at TMP.store.(anonymous function) [as put] (/js/dojo/store/Observable.js:155:25)
    at eval (/js/p3/JobMan

[2017-04-26 16:26] #1458 closed, assigned to hyoo, AndrewGuard

[2017-04-26 16:31] nconrad commented on #1405
It looks like this hasn't been deployed?  I just did a password reset on the production site, which sent me to user.patricbrc.org via an email link to change my password, leading to confusion.

[2017-04-26 18:02] hyoo commented on #1480
v3.3.6 has deployed on prod

[2017-04-26 18:02] #1480 closed, assigned to dmachi, hyoo

[2017-04-26 18:03] hyoo commented on #1474
confirmed

[2017-04-26 18:03] #1474 closed, assigned to chmao1

[2017-04-26 18:06] hyoo commented on #1473
confirmed.
 TW, Rebecca, you can get the filtered list of features by attributes,

![image](https://cloud.githubusercontent.com/assets/1236467/25449329/1514af92-2a81-11e7-9482-0a39e141851f.png)

click Proteins with GO Assignments 956, then you will get only those features

[2017-04-26 18:06] #1473 closed, assigned to chmao1

[2017-04-26 18:07] hyoo commented on #1476
fixed and available on prod.

[2017-04-26 18:07] #1476 closed, assigned to nobody

[2017-04-26 18:11] hyoo commented on #1483
confirmed on prod.

![image](https://cloud.githubusercontent.com/assets/1236467/25449574/d304e5da-2a81-11e7-85a3-1416498361de.png)

[2017-04-26 18:11] #1483 closed, assigned to nobody

[2017-04-26 18:12] hyoo commented on #1478
fixed.

![image](https://cloud.githubusercontent.com/assets/1236467/25449661/09767a02-2a82-11e7-9538-e4e416bef379.png)

[2017-04-26 18:12] #1478 closed, assigned to nobody

[2017-04-26 18:17] hyoo commented on #1477
The count was meant to be the first series of data, in this case, the number of Resistant phenotypes.

Do you think the total count makes more sense?

[2017-04-26 18:22] hyoo commented on #1442
I can't understand the original request.

https://www.patricbrc.org/view/Genome/1311.163

is already available and public.

[2017-04-26 18:24] hyoo commented on #1441
![image](https://cloud.githubusercontent.com/assets/1236467/25450161/a17345b4-2a83-11e7-8695-cab94c9d70b1.png)

Here is current message.

"Please provide only one nucleotide or protein sequence"

Any suggestion?

[2017-04-26 18:26] hyoo commented on #1436
![image](https://cloud.githubusercontent.com/assets/1236467/25450266/f440b95c-2a83-11e7-9845-75abe5caaa76.png)

We need to handle this error.

@maovt any idea? please assign an appropriate person to fix this issue.

[2017-04-26 18:30] chmao1 commented on #1472
tested and confirmed.

[2017-04-26 18:30] #1472 closed, assigned to chmao1

[2017-04-26 18:31] chmao1 commented on #1479
tested and confirmed.

[2017-04-26 18:31] #1479 closed, assigned to chmao1

[2017-04-26 18:32] chmao1 commented on #1468
tested and confirmed.

[2017-04-26 18:32] #1468 closed, assigned to chmao1

[2017-04-26 18:33] chmao1 commented on #1466
tested and confirmed.

[2017-04-26 18:33] ARWattam commented on #1442
Harry, that genome has no genes or protein families associated with it.

https://www.patricbrc.org/view/Genome/1311.163#view_tab=features

On Wed, Apr 26, 2017 at 2:22 PM, hyoo <notifications@github.com> wrote:

[2017-04-26 18:33] #1466 closed, assigned to chmao1

[2017-04-26 18:34] chmao1 commented on #1465
tested and confirmed.

[2017-04-26 18:34] #1465 closed, assigned to chmao1

[2017-04-26 18:34] hyoo commented on #1405
ah. right, it was deployed on alpha, but not on prod. I just deployed and restarted. try again

[2017-04-26 18:34] chmao1 commented on #1464
tested and confirmed.

[2017-04-26 18:34] #1464 closed, assigned to chmao1

[2017-04-26 18:36] chmao1 commented on #1460
tested and confirmed.

[2017-04-26 18:36] #1460 closed, assigned to chmao1

[2017-04-26 18:37] chmao1 commented on #1461
tested and confirmed.

[2017-04-26 18:37] #1461 closed, assigned to chmao1

[2017-04-26 18:38] chmao1 commented on #1453
tested and confirmed.

[2017-04-26 18:38] #1453 closed, assigned to chmao1

[2017-04-26 18:44] chmao1 commented on #1416
tested and confirmed.

[2017-04-26 18:44] #1416 closed, assigned to chmao1

[2017-04-26 18:45] chmao1 commented on #1440
tested and confirmed

[2017-04-26 18:45] #1440 closed, assigned to chmao1

[2017-04-26 18:50] hyoo commented on #894
@aswarren @dmachi Is this still a valid issue or not?

[2017-04-26 19:05] aswarren commented on #894
I'm sure its still valid in that the API doesn't do it. But the need is no longer there since I figured out how to do it on the regular lucene parser. @hyoo closing this. reopen if you need.

[2017-04-26 19:05] #894 closed

[2017-04-26 19:11] ARWattam commented on #1441
How about:

PATRIC BLAST accepts only one sequence at a time.  Please provide only one
sequence.

On Wed, Apr 26, 2017 at 2:24 PM, hyoo <notifications@github.com> wrote:

[2017-04-26 19:35] hyoo commented on #1426
@mshukla1 would you check and close if this is done.

[2017-04-26 19:43] hyoo commented on #739
this was a part of the homepage prototype and we are not using this.

[2017-04-26 19:43] #739 closed

[2017-04-26 19:44] hyoo commented on #784
this was a part of the homepage prototype and we are not using this.

[2017-04-26 19:44] #784 closed

[2017-04-26 19:44] #633 closed

[2017-04-26 19:47] hyoo commented on #634
@rkenyon or @mshukla1  do you think we need to keep this issue?

[2017-04-26 20:10] chmao1 opened #1491 "Feature List: GO term column not shown after clicking "GO term" column selection"
Clicking GO term column from the hidden column list, the GO term column is not shown until resize the columns in the grid.

[2017-04-26 20:11] hyoo commented on #1489
deployed on alpha

https://www.alpha.patricbrc.org/view/Antibiotic/?eq(antibiotic_name,isoniazid)#view_tab=amrGenes

will be deploy on prod by the end of April

[2017-04-26 20:11] #1489 closed, assigned to dawenx

[2017-04-26 20:16] mshukla1 commented on #634
No, I think it is obsolete with respect to the current plan.

[2017-04-26 20:16] #634 closed

[2017-04-26 20:21] hyoo commented on #1426
Seems like this has not been addressed.
https://www.patricbrc.org/view/Genome/134874.13

punting to April release.

[2017-04-26 20:32] dawenx commented on #1491
As you said in the meeting, this is a general issue with any grid that has lots of fields enabled. There's also a similar report in issue #1406. Is there an option to enable the horizontal scroll bar? @dmachi

[2017-04-26 20:41] chmao1 commented on #1491
The solution for this particular issue is to add "Go term" column in the
css file. We're still discussing whether we should enable the horizontal
scroll bar for all grids.

[2017-04-26 20:44] hyoo commented on #1475
mentioned in #1457

[2017-04-26 20:44] #1475 closed, assigned to nobody

[2017-04-26 20:45] #1457 closed, assigned to mshukla1

[2017-04-26 20:47] hyoo commented on #1456
@mshukla1 OR @ARWattam should we close this ticket?

[2017-04-26 20:51] ARWattam commented on #1456
Yes, I think we should close it.

Rebecca

On Wed, Apr 26, 2017 at 4:47 PM, hyoo <notifications@github.com> wrote:

[2017-04-26 20:51] hyoo commented on #1442
@mshukla1 this genome was added on 2016-01-17 but has no record in genome_feature, genome_sequence, and pathway.
Do you have any idea?

[2017-04-26 20:54] hyoo commented on #1437
@maovt would you test on alpha and close this ticket?

[2017-04-26 20:56] hyoo commented on #1434
tested on alpha.

[2017-04-26 20:56] #1434 closed, assigned to dawenx

[2017-04-26 20:57] #1430 closed, assigned to hyoo

[2017-04-26 21:00] #1281 closed, assigned to ARWattam

[2017-04-26 21:00] #1277 closed, assigned to ARWattam

[2017-04-26 21:02] hyoo commented on #570
we still have it

https://www.patricbrc.org/view/Genome/340189.4

[2017-04-26 21:07] hyoo commented on #426
This is still open issue but I am merging this to #1247

[2017-04-26 21:07] #426 closed

[2017-04-26 21:07] #1083 closed, assigned to olsonanl

[2017-04-26 21:10] hyoo commented on #949
We are planning to work on subsystem view.

@ARWattam if we provide subsystem info, do we still need a link to SEED viewer?
@mshukla1
Do you think we can close this and make sure the subsystem deployed by May/June ?

[2017-04-26 21:11] #1275 closed, assigned to ARWattam

[2017-04-26 21:15] hyoo commented on #621
@levinas @maovt I guess this issue was lost for a year. Any of you can double check whether this is already addressed? or still doable?

[2017-04-26 21:15] hyoo commented on #622
@levinas @maovt I guess this issue was lost for a year. Any of you can double check whether this is already addressed? or still doable?

[2017-04-26 21:16] hyoo commented on #590
@mshukla1 I guess we can close this issue, but wanted to double check.

[2017-04-26 21:17] #569 closed

[2017-04-26 21:18] hyoo commented on #418
no update after 2015. i am closing it.

[2017-04-26 21:18] #418 closed

[2017-04-26 21:20] hyoo commented on #405
@olsonanl @levinas This is 2015, but wanted to double before i close it.

[2017-04-26 21:31] hyoo commented on #1326
I don't know why, but it seems like I misunderstood your issue. Please give a number so that I can increase the limit.

[2017-04-26 21:34] #1456 closed, assigned to mshukla1

[2017-04-26 21:36] hyoo commented on #1305
please reopen if you think otherwise.

[2017-04-26 21:36] #1305 closed, assigned to hyoo

[2017-04-26 21:37] #1250 closed, assigned to nobody

[2017-04-27 01:22] chmao1 commented on #1437
tested on alpha and worked.

[2017-04-27 01:22] #1437 closed, assigned to aswarren

[2017-04-27 14:47] ARWattam commented on #949
I guess we can close it.  There isn't a one to one between the two anymore,
anyway.

Rebecca

On Wed, Apr 26, 2017 at 5:10 PM, hyoo <notifications@github.com> wrote:

[2017-04-27 14:53] ARWattam commented on #405
The name is still not on the text document that is the report.  I think it should be across the top of the report somewhere.  If someone has several open, they won't see it.
[report (8).txt](https://github.com/PATRIC3/patric3_website/files/961978/report.8.txt)

[2017-04-27 14:59] ARWattam commented on #1326
What do we have to consider...if we said 1000 would it be too slow?  2000?
I think that it is a trade-off between speed of loading and max number that
can be shown.

On Wed, Apr 26, 2017 at 5:31 PM, hyoo <notifications@github.com> wrote:

[2017-04-27 15:08] #949 closed, assigned to nobody

[2017-04-27 15:15] olsonanl commented on #1326
What is the complexity of this computation?

[2017-04-27 15:30] hyoo opened #1492 "hide reference genome list in genome group view when it is empty"

[2017-04-27 16:02] hyoo commented on #1326
it's just a couple of sub queries and computation is not complex. I tested with 5000 features and worked well. Is it enough or more is better?

[2017-04-27 16:47] ARWattam commented on #1326
Lets go with 5000 and see if we get reports from people wanting more.  How
does that sound?

Rebecca

On Thu, Apr 27, 2017 at 12:02 PM, hyoo <notifications@github.com> wrote:

[2017-04-27 16:52] hyoo commented on #1326
Sounds good. Will deploy with April release.

[2017-04-27 17:04] nconrad commented on #1405
seeing this:

![image](https://cloud.githubusercontent.com/assets/1194246/25495116/b5cd6fee-2b41-11e7-88aa-75ecb6d8c148.png)

[2017-04-27 17:08] nconrad commented on #1405
I guess the other thing is that there's no navigation back to the actual website.

[2017-04-27 18:51] hyoo commented on #1295
- removed loading message when there is no record to display
- added overflow css on DataItemHeader div

![image](https://cloud.githubusercontent.com/assets/1236467/25499260/71ff07e6-2b50-11e7-94ba-36c0bef3452d.png)

[2017-04-27 19:17] #1295 closed, assigned to hyoo, AndrewGuard

[2017-04-27 19:17] #1326 closed, assigned to hyoo

[2017-04-27 19:17] #1471 closed, assigned to hyoo

[2017-04-27 19:17] #1492 closed, assigned to hyoo

[2017-04-27 21:00] chmao1 commented on #1491
tested and confirmed on alpha.

[2017-04-27 21:00] #1491 closed, assigned to chmao1

[2017-04-27 21:00] chmao1 commented on #1486
tested and confirmed on alpha.

[2017-04-27 21:00] #1486 closed, assigned to chmao1

[2017-04-28 14:26] dawenx commented on #1452
I will work on this. Since the FASTA data does not exist in the sp_gene table, it has to be retrieved from genome_feature table and the file name will be PATRIC_genome_feature.fasta.

[2017-04-28 18:06] ARWattam opened #1493 "Genome named incorrectly in PATRIC"
https://www.patricbrc.org/view/Genome/1590.175
We call the genome Lactobacillus plantarum strain ZJ95, but at Genbank:
https://www.ncbi.nlm.nih.gov/nuccore/CP012122,CP012123,CP012124
They call it Lactobacillus plantarum strain LZ95

[2017-04-28 18:45] chmao1 opened #1494 "Transcripomics heatmap doesn't work for host data"
The heatmap for transcripomics genes doesn't work for host data.

[2017-04-28 20:24] chmao1 opened #1495 "Feature tab for host genomes should default annotation to RefSeq not PATRIC"
Currently Feature tab for host genomes defaults annotation to PATRIC which makes the feature table empty

![image](https://cloud.githubusercontent.com/assets/6361802/25546029/327ba0e0-2c2f-11e7-86ee-3f153c05dda7.png)

[2017-05-01 13:48] dawenx commented on #1452
this is done, pull request has been submitted.

[2017-05-01 17:48] dawenx commented on #1447
I will work on this enhancement request.

[2017-05-01 21:08] hyoo commented on #1280
we increased the limit to 5000 and deployed on production.

#1326

[2017-05-01 21:08] #1280 closed, assigned to hyoo

[2017-05-01 21:09] hyoo commented on #1289
@mshukla1 @olsonanl  Are we still working on this or this can be closed?

[2017-05-01 21:14] hyoo commented on #1279
I think we have resolved this issue. please create another issue or reopen this.

[2017-05-01 21:14] #1279 closed, assigned to ARWattam

[2017-05-01 21:17] hyoo commented on #1262
duplicate #849
fixed in PATRIC3/p3_web#344

[2017-05-01 21:17] #1262 closed, assigned to hyoo

[2017-05-01 21:18] #849 closed

[2017-05-01 21:19] #1256 closed, assigned to nconrad

[2017-05-01 21:19] hyoo commented on #1229
This is available on production.

[2017-05-01 21:19] #1229 closed, assigned to aswarren

[2017-05-01 21:23] #1255 closed, assigned to nconrad

[2017-05-01 21:25] hyoo commented on #1230
@ARWattam or @levinas Would you verify whether this is deployed on production and close it?

[2017-05-01 21:36] #905 closed

[2017-05-01 21:41] hyoo commented on #702
[code]

fix two places.

[2017-05-01 21:42] #980 closed, assigned to dmachi

[2017-05-01 21:43] #1135 closed, assigned to nconrad

[2017-05-01 22:03] hyoo commented on #1133
confirmed on production

[2017-05-01 22:03] #1133 closed, assigned to levinas

[2017-05-01 22:06] hyoo commented on #1230
confirmed in production

[2017-05-01 22:06] #1230 closed, assigned to levinas

[2017-05-01 22:07] hyoo commented on #1254
this is fixed on production long time age.

[2017-05-01 22:07] #1254 closed, assigned to nobody

[2017-05-01 22:09] hyoo commented on #1195
![image](https://cloud.githubusercontent.com/assets/1236467/25596835/e9ebaa50-2e90-11e7-99e6-5c06b428ee15.png)

I guess this was way before we fill this page.

[2017-05-01 22:09] #1195 closed, assigned to rkenyon

[2017-05-01 22:10] hyoo commented on #1191
We still need other updates.

[2017-05-01 22:11] #1075 closed, assigned to dmachi

[2017-05-01 22:13] hyoo commented on #1019
@maovt please verify that whether we reached the state or not. I couldn't remember out of my head.

[2017-05-01 22:14] #1181 closed, assigned to levinas, chmao1

[2017-05-01 22:18] #1137 closed, assigned to chmao1

[2017-05-01 22:23] #1173 closed, assigned to nconrad, hyoo

[2017-05-01 22:24] hyoo commented on #999
attaching file is available on production

[2017-05-01 22:24] #999 closed, assigned to dmachi

[2017-05-01 22:25] hyoo commented on #940
this is fixed on prod.

[2017-05-01 22:25] #940 closed, assigned to nconrad

[2017-05-02 13:58] hyoo commented on #1136
@nconrad I guess we already fixed this issue. Please reopen if not. I am pretty sure.

[2017-05-02 13:58] #1136 closed, assigned to nconrad

[2017-05-02 14:01] hyoo commented on #1169
I cannot reproduce either. Please reopen if it exists.

[2017-05-02 14:01] #1169 closed, assigned to aswarren

[2017-05-02 16:44] dawenx opened #1496 "Specialty Genes tab download issue"
Sometime, the downloaded file has more records than selected rows. For example, on
https://www.patricbrc.org/view/Taxonomy/776#view_tab=specialtyGenes

when only selecting the 2nd row (Property: “Antibiotic Resistance”, source: CARD), choose either text or csv in download on the action bar, the downloaded file has 3 lines with 2 records.

[2017-05-02 20:30] ARWattam commented on #1169
I now always look up the taxon id at NCBI and enter that.  The name is just too unstable.  Just try trying to do an annotation for Brucella.  It doesn't matter how many times I select Brucella, it chooses Brucellacea....which is VERY different!  Now I just enter 234 into the Taxon ID number, and it autofills what I want.

[2017-05-02 22:00] ARWattam commented on #1279
I have tried this on genus landing pages, and on the Protein Family
sorter.  I changed between all 3 types of protein families on each, and it
has worked as it should on all of them.  I agree that this issue can be
closed.

On Mon, May 1, 2017 at 5:14 PM, hyoo <notifications@github.com> wrote:

[2017-05-03 14:46] #636 closed

[2017-05-03 14:47] #390 closed

[2017-05-03 20:08] ARWattam opened #1497 "Gene is incorrectly assigned as a misc_feature"
I was looking for MMAR_2656, and found that it is listed as a misc_feature.  But when I check that locus tag at GenBank, it has a full sequence and identified as a protein.
https://www.ncbi.nlm.nih.gov/protein/183175990

[2017-05-03 20:17] ARWattam opened #1498 "Mycobacterium PLFam has Gordonia member"
PLF_1763_00147431 should be restricted to Mycobacterium, but it contains Gordonia.

https://www.patricbrc.org/view/FeatureList/?eq(plfam_id,PLF_1763_00147431)#view_tab=features

[2017-05-03 20:23] ARWattam opened #1499 "Protein mis-identified as misc_feature #2"
MMAR_1199 is misc_feature at PaTRIC
https://www.patricbrc.org/view/Feature/RefSeq.216594.6.NC_010612.misc_feature.1452647.1456897.fwd

At GenBank its a pretty good protein.
https://www.ncbi.nlm.nih.gov/protein/183174547

[2017-05-03 20:26] ARWattam opened #1500 "Why can't I download BLAST results from BLAST table"
I am recording all the hit returns from BLAST.  Alas, when I try the download, it only gives me the information about the dumb genome!!!  I want the BLAST results.  Entering them manually is quite tedious, and I would like to spare our users this trying experience.

[2017-05-03 20:40] olsonanl commented on #1498
My guess is at the time we generated families last time that taxonomy ID was under genus Mycobacterium in the taxonomy data in PATRIC (that's how it appears in the underlying data).

The new families have it in the right place in the  Gordonia genus.

[2017-05-03 20:46] ARWattam commented on #1498
When will we see the new families?

On Wed, May 3, 2017 at 4:40 PM, olsonanl <notifications@github.com> wrote:

[2017-05-03 20:47] hyoo commented on #1500
![image](https://cloud.githubusercontent.com/assets/1236467/25680784/aca19636-3017-11e7-8e2c-8bdfbbc1a51a.png)

If you selected rows and used green bar download, then you're downloading your selection, which is genomes.

If you want to download entire result, then the download button on top of the grid is the button.
And here is the result.

[2017-05-03 20:52] ARWattam commented on #1500
Thanks.  Your email reminded me that you or Maulik showed me it before.
Sorry that I forgot that!

On Wed, May 3, 2017 at 4:47 PM, hyoo <notifications@github.com> wrote:

[2017-05-03 20:57] ARWattam opened #1501 "Trying to download specific results from BLAST downloads the whole table"
So here's the selection:
<img width="1173" alt="screen shot 2017-05-03 at 4 55 27 pm" src="https://cloud.githubusercontent.com/assets/11475316/25681190/706c7f64-3021-11e7-8615-561be0f0e63c.png">
But the downloads shows the whole table, and is not limited to the selection
<img width="955" alt="screen shot 2017-05-03 at 4 57 20 pm" src="https://cloud.githubusercontent.com/assets/11475316/25681240/9a

[2017-05-03 21:03] olsonanl commented on #1498
Later than it would be if I hadn't gotten dragged into some talk or another :-)

Next week hopefully.

[2017-05-03 21:09] ARWattam opened #1502 "When I open up the alignment in the BLAST returns, I see 2 alignments with very different scores"
The top alignment:
<img width="1102" alt="screen shot 2017-05-03 at 5 09 04 pm" src="https://cloud.githubusercontent.com/assets/11475316/25681690/40a714fe-3023-11e7-9049-77f71290de1a.png">
 And then I scroll down and see this little one:
<img width="1133" alt="screen shot 2017-05-03 at 5 08 02 pm" src="https://cloud.githubusercontent.com/assets/11475316/25681698/4b76e31e-3023-11e7-8c59-bf2f8774ab3

[2017-05-03 21:10] ARWattam commented on #1502
Here's a better picture of the lower one:
<img width="1094" alt="screen shot 2017-05-03 at 5 10 13 pm" src="https://cloud.githubusercontent.com/assets/11475316/25681745/6f053df8-3023-11e7-9678-39912b9ed0d3.png">

[2017-05-03 21:12] ARWattam commented on #1498
Blame Senior Shukla for that one!

On Wed, May 3, 2017 at 5:03 PM, olsonanl <notifications@github.com> wrote:

[2017-05-04 12:23] mshukla1 commented on #1499
Both misc feature and CDS are annotated by RefSeq. There is no corresponding
PATRIC feature. However, PATRIC has two smaller genes overlapping with them.

This look like usual annotation difference between gen bank and PATRIC. I don’t see
any problem.

https://www.patricbrc.org/view/Feature/RefSeq.216594.6.NC_010612.misc_feature.1452647.1456897.fwd#view_tab=genomeBrowser&loc=NC_010612%3A1449646..1

[2017-05-04 12:24] mshukla1 commented on #1499
![image](https://cloud.githubusercontent.com/assets/1236463/25703313/b0f4d0bc-309a-11e7-89c4-8fe4139e26cb.png)

[2017-05-04 12:25] #1499 closed, assigned to nobody

[2017-05-04 12:28] mshukla1 commented on #1498
The genome was labeled as Gordonia when we got it from genbank, it later got reclassified/renamed
as Mycobacterium for the sam taxonomy id.

Ideally, we should mark the genomes whose names do not match the taxonomy as obsolete and reload them.

[2017-05-04 12:32] #1502 closed, assigned to nobody

[2017-05-04 12:32] mshukla1 commented on #1502
It is a gapped alignment, hence there are two HSPs for the same alignment. The query matches the subject in two fragments,
but the similarity is two low between the fragments to join them into one big alignment.

This is typical of BLAST results, I don’t see any problem here.

-Maulik

[2017-05-04 12:33] #1500 closed, assigned to hyoo

[2017-05-04 12:47] mshukla1 commented on #1501
Downloading blast results for selection is not implemented. Rather, the selection supports actions
related to features, i.e. download features, fasta, add to groups etc.

Given that blast results are usually of small numbers (i.e. 50-100), downloading the entire table is probably
fine.

-Maulik

[2017-05-04 12:49] mshukla1 commented on #636
Closing this as an issue is fine. But we will need to allow users to upload
genome metadata and amr data for their private genomes.

This is something Neal will be working on next.

[2017-05-04 12:53] mshukla1 commented on #1496
I see the same problem. I think it is because the download is implemented using the
feature id from selection. In this case, there are two specialty gene mappings for the same
feature id.

We should fix it if it is trivial, but I wouldn’t consider it critical or high priority.

-Maulik

[2017-05-04 12:57] mshukla1 commented on #1493
Another example of genome / strain label being changed in GenBank after initial submission.

I think I have a plan to handle such cases. With every release, check for the genome name
updates at NCBI, if updates, rename the genome in PATRIC and keep the old genome name
as synonym. I will try to implement the scheme for July release.

-Maulik

[2017-05-04 12:58] ARWattam commented on #1499
You can't get the protein sequence at PATRIC.  This is something I am doing
for Bill Jacobs, so I imagine that its something a Mycobacterium researcher
would do.  This is based on a publication for ESX proteins.  If people who
read that come to PATRIC, they won't be able to proceed.  But its not worth
fighting over.  I can navigate between GenBank and PATRIC.  A Mycobacterium
researcher willl choo

[2017-05-04 13:00] mshukla1 commented on #1447
I am not sure if it is meaningful to build MSA for all the genes in a pathway. Usually they correspond to
different enzymes and have different domains and sequences.  We can add the option, but in most cases,
it will lead to crappy alignment and confusion.

[2017-05-04 13:01] ARWattam commented on #1499
Yes, I know!!!!  I have been doing the research on this, so I'm aware of
it!  What I was asked to do was find the closest homolog in certain TB
strains from a publication.  I wanted to BLAST them against those
genomes!!!  I had to go to GenBank to get the aa sequence because PATRIC
didn't have it, but its important enough that other people want it.

Honestly, its so frustrating.  I use the resourc

[2017-05-04 13:02] ARWattam commented on #1499
I personally think its a mistake to close this, but fine.  Whatever.

On Thu, May 4, 2017 at 8:25 AM, Maulik Shukla <notifications@github.com>
wrote:

[2017-05-04 13:03] dawenx commented on #1496
I already fixed it when i worked on issue #1452.

[2017-05-04 13:08] mshukla1 commented on #1499
you are looking at a misc_feature annotated by RefSeq. Misc features don’t have protein
sequences.

You can click on the CDS which overlaps with the misc feature from the cartoon, go to CDS page,
and then download protein sequence from there.
https://www.patricbrc.org/view/Feature/RefSeq.216594.6.NC_010612.CDS.1452323.1457155.fwd#view_tab=overview <https://www.patricbrc.org/view/Feature/RefSeq.216

[2017-05-04 13:09] dawenx commented on #1447
I don't have biology background. From programer point of view, MSA takes in a list of feature_ids and perform alignment. In this case, we find all feature_ids in the selected pathways and build MSA. @ARWattam Could you please comment on Maulik's thought? I was working on it and added creating feature list and doing MSA and am doing testing now. I can keep or remove MSA option based on our discussi

[2017-05-04 13:25] mshukla1 commented on #1447
I leave it Rebecca to decide as well.

I do think that it will be useful to have other usual feature related actions available fro selection, I.e. Download features, fasta, add to group etc., if possible.

Sent from my iPhone

[2017-05-04 13:26] ARWattam commented on #1499
No, I did the search for the locus tag.  At GenBank, that is a protein.

I give up.  My opinion obviously doesn't matter.

On Thu, May 4, 2017 at 9:08 AM, Maulik Shukla <notifications@github.com>
wrote:

[2017-05-04 13:37] mshukla1 commented on #1499
I don’t know why you are taking it personally. I am just stating the facts.

There is a CDS and a misc feature annotated by refseq with the same locus tag.
We have both, CDS and misc feature at PATRIC. If you go to CDS you will see the right
protein with function with sequence, the same way you will get it at genbank.

… I leave it at that.

[2017-05-04 14:56] ARWattam opened #1503 "Another PLFam that crosses species bounds"
PLF_1763_00033211
<img width="1094" alt="screen shot 2017-05-04 at 10 55 58 am" src="https://cloud.githubusercontent.com/assets/11475316/25709817/5c1a5166-30b8-11e7-8b5c-88a3c8d90e9f.png">

[2017-05-04 15:24] olsonanl commented on #1503
This is also fixed in the new release.

GF01962151		fig|1834155.3.peg.1387	72	hypothetical protein	2231	Kocuria	2231

[2017-05-04 17:24] ARWattam opened #1504 "Yet another PLFam that crosses genus boundaries"
PLF_1763_00001686
<img width="1106" alt="screen shot 2017-05-04 at 1 24 01 pm" src="https://cloud.githubusercontent.com/assets/11475316/25716432/03f539fa-30cd-11e7-9ea4-790f27ec000e.png">

[2017-05-05 20:32] ARWattam commented on #1447
I don't think the MSA would work, but I think a user should be able to build a feature group that contains all the genes in the pathway from that selection.  Then he/she could sort by name and quickly get all the similar proteins and generate the MSA from there.

So, when I click on a pathway from whatever group I am examining, I would expect the both the F icon (features) and the Group icon to ap

[2017-05-05 20:37] ARWattam commented on #1489
I have checked this on alpha for a couple of antibiotics and now it only shows AMR genes.  I think this can safely be pushed to production!

[2017-05-05 20:40] dawenx commented on #1489
I think this particular one was rolled out to the production as
part of April release.

Dawen

On 05/05/2017 04:37 PM, ARWattam wrote:

[2017-05-05 20:45] dawenx commented on #1447
OK, will work on it.

On 05/05/2017 04:32 PM, ARWattam wrote:

[2017-05-05 20:46] ARWattam commented on #1489
I checked it on production, and it is working perfectly there as well.
Close this ticket, please.

On Fri, May 5, 2017 at 4:40 PM, Dawen Xie <notifications@github.com> wrote:

[2017-05-05 20:59] ARWattam commented on #1262
Confirmed that it works on production

[2017-05-05 20:59] ARWattam commented on #1256
Confirmed that it works on production

[2017-05-05 21:04] ARWattam commented on #1254
How come when I select more than 2 in my feature group, the remove button disappears in the green bar?

[2017-05-06 12:59] ARWattam opened #1505 "User request: PATRIC global search/BLAST through the command line"
Roy Nunez (PATRIC-761) requests that we add PATRIC global search and/or perform the BLAST against the plasmid database through the command line

[2017-05-06 19:41] mshukla1 opened #1506 "Diff Exp: header data file format"
The parser currently required the first column heading to the "Gene IDs". Several of my upload failed because I didn't have exactly the same column heading (I had "gene id" instead).

I think, we should assume that the first column is gene id and first row is header as required by format and not rely on the column title.

-Maulik

[2017-05-08 15:08] olsonanl commented on #1505
@dmachi can you summarize how we would use the data api for the global search?

We can do both of these things but not immediately.

[2017-05-09 16:56] mshukla1 opened #1507 "diff exp: experiment title, desc and pubmed ids are not processed"
The submission form allows users to provide experiment title, description, and pubmed ids.

However, this information is not processed and stored in the result experiment.json...it need to be added.

This is critical as I am working on indexing the user gene expression data into solr.

-Maulik

[2017-05-10 22:13] ARWattam opened #1508 "Bartonella elizabethae strain BeUM has no Pattyfams"
https://www.patricbrc.org/view/Genome/807.3#view_tab=proteinFamilies
<img width="1103" alt="screen shot 2017-05-10 at 6 10 28 pm" src="https://cloud.githubusercontent.com/assets/11475316/25923566/1c5a0c3a-35ac-11e7-83c4-0a899656fa19.png">

[2017-05-10 22:13] ARWattam opened #1509 "Bartonella schoenbuchensis R1 strain R1 has no Pattyfams"
https://www.patricbrc.org/view/Genome/687861.3#view_tab=proteinFamilies
<img width="1144" alt="screen shot 2017-05-10 at 6 13 26 pm" src="https://cloud.githubusercontent.com/assets/11475316/25923630/67d3dec0-35ac-11e7-9ee3-5d09f427bec6.png">

[2017-05-11 16:22] hyoo commented on #85
This is still happening as of May 11 2017

![image](https://cloud.githubusercontent.com/assets/1236467/25960303/2e12abea-363c-11e7-86ac-37d38ee06438.png)

[2017-05-11 16:30] hyoo commented on #111
This issue exists in new website. We are not displaying experiment metadata (such as description, pubmed id).

[2017-05-11 16:42] hyoo commented on #217
I am closing this ticket because
- we cannot reproduce for a while
- and this specific bug is on the old website that we plugged out

[2017-05-11 16:42] #217 closed

[2017-05-11 16:43] #279 closed

[2017-05-11 16:48] hyoo commented on #437
This is a bug specific to the JBoss website.

[2017-05-11 16:48] #437 closed

[2017-05-11 16:49] hyoo commented on #550
This is specific to the JBoss website.

[2017-05-11 16:49] #550 closed

[2017-05-11 17:08] ARWattam opened #1510 "Vibrio parahaemolyticus strain CICESE-170 is missing PLFAMS"
https://www.patricbrc.org/view/Genome/670.1042#view_tab=features
<img width="1092" alt="screen shot 2017-05-11 at 1 08 18 pm" src="https://cloud.githubusercontent.com/assets/11475316/25962232/f1b45cca-364a-11e7-8467-9a3aca94e630.png">

[2017-05-11 19:41] hyoo commented on #1003
@mshukla1 is this deployed?

[2017-05-11 19:44] hyoo commented on #483
Most of them are addressed and there is a separate discussion going on tree building. I am closing this.

[2017-05-11 19:44] #483 closed

[2017-05-11 19:46] hyoo commented on #832
Now you can do this by selecting search option "Any Term"

![image](https://cloud.githubusercontent.com/assets/1236467/25968874/8e4dc636-3658-11e7-9bcb-31d335634e83.png)

[2017-05-11 19:47] #832 closed

[2017-05-11 19:48] hyoo commented on #973
Better limit up to a certain number of features for both performance and display perspective.

[2017-05-11 19:50] hyoo commented on #946
@levinas would you check whether this is still issue? if not, please close this.

[2017-05-11 19:51] #920 closed

[2017-05-11 19:52] hyoo commented on #896
@maovt Would you check whether any actionable item left out? I closed #832 since you have fixed this one.

[2017-05-11 19:52] #863 closed

[2017-05-11 19:53] hyoo commented on #836
@nconrad would you check whether we still have this issue or not?

[2017-05-11 19:54] ARWattam commented on #973
I agree

[2017-05-11 19:56] hyoo commented on #828
I guess this is no longer relevant.

![image](https://cloud.githubusercontent.com/assets/1236467/25969243/da651c76-3659-11e7-93da-a953244da440.png)

Please reopen if I misunderstood.

[2017-05-11 19:56] #828 closed

[2017-05-11 20:01] hyoo commented on #656
@mshukla1 any update?

[2017-05-11 20:04] hyoo commented on #676
I cannot reproduce this. please reopen if it persists.

[2017-05-11 20:04] #676 closed

[2017-05-11 20:06] hyoo commented on #497
This is "Solr" issue rather than website issue. I am closing because this website no longer exists.

[2017-05-11 20:06] #497 closed

[2017-05-11 20:07] hyoo commented on #663
This is specific to outdated website.

[2017-05-11 20:07] #663 closed

[2017-05-11 20:13] hyoo commented on #841
@zreyn I guess this is what you demo last sys-dev call. just to give you the context.

[2017-05-11 20:14] hyoo commented on #234
This is specific to outdated website.

[2017-05-11 20:14] #234 closed

[2017-05-11 20:16] hyoo commented on #235
This is specific to outdated website. new website has a correct link

[2017-05-11 20:16] #235 closed

[2017-05-11 20:17] hyoo commented on #121
This is pointing old website, but need to check we have same issue or not

[2017-05-11 20:18] hyoo commented on #141
@olsonanl are we still planning to do this?

[2017-05-11 20:21] hyoo commented on #213
@nconrad how much work needed for this?

[2017-05-11 20:24] hyoo commented on #285
@dmachi Can we switch this to new circular viewer?

[2017-05-11 20:25] hyoo commented on #293
I closing this since #295 has been fixed.

[2017-05-11 20:25] #293 closed

[2017-05-11 20:26] hyoo commented on #314
This is specific to outdated website.

[2017-05-11 20:26] #314 closed

[2017-05-11 20:27] hyoo commented on #374
This is specific to outdated website.

[2017-05-11 20:27] #374 closed

[2017-05-11 20:28] hyoo commented on #376
@mshukla1 I guess this is already addressed. would you confirm?

[2017-05-11 20:29] hyoo commented on #396
This is specific to outdated website.

[2017-05-11 20:29] #396 closed

[2017-05-11 20:30] hyoo commented on #406
This is specific to outdated website.

[2017-05-11 20:30] #406 closed

[2017-05-11 20:33] hyoo commented on #415
This is specific to outdated website.

[2017-05-11 20:33] #415 closed

[2017-05-11 20:33] hyoo commented on #419
This is specific to outdated website.

[2017-05-11 20:33] #419 closed

[2017-05-11 20:34] hyoo commented on #425
This is specific to outdated website.

[2017-05-11 20:34] #425 closed

[2017-05-11 20:34] hyoo commented on #538
This is specific to outdated website.

[2017-05-11 20:34] #538 closed

[2017-05-11 20:36] hyoo commented on #536
@mshukla1  We have improved genome selector in submission form. Please review whether this is still necessary or close it.

[2017-05-11 20:36] #529 closed

[2017-05-11 20:38] hyoo commented on #520
@nconrad is this targeted to May or June? please tag the milestone.

[2017-05-11 20:39] #432 closed

[2017-05-11 20:39] hyoo commented on #481
we already delivered in new Interactions tab.

[2017-05-11 20:39] #481 closed

[2017-05-11 20:40] hyoo commented on #484
#240
closing duplicates

[2017-05-11 20:40] #484 closed

[2017-05-11 20:42] hyoo commented on #489
this is specific to outdated website.

[2017-05-11 20:42] #489 closed

[2017-05-11 20:42] hyoo commented on #485
delivered

[2017-05-11 20:42] #485 closed

[2017-05-11 20:43] hyoo commented on #522
available on production.

[2017-05-11 20:43] #522 closed

[2017-05-11 20:44] hyoo commented on #502
this is already fixed. see #602

[2017-05-11 20:44] #502 closed

[2017-05-11 20:45] hyoo commented on #511
#841

closing duplicates

[2017-05-11 20:45] #511 closed

[2017-05-11 20:47] hyoo commented on #506
This is specific to outdated website.

[2017-05-11 20:47] #506 closed

[2017-05-11 20:47] hyoo commented on #505
This is specific to outdated website.

[2017-05-11 20:47] #505 closed

[2017-05-11 20:47] hyoo commented on #443
This is specific to outdated website.

[2017-05-11 20:47] #443 closed

[2017-05-11 20:49] hyoo commented on #436
#1032
closing duplicates.

[2017-05-11 20:49] #436 closed

[2017-05-11 20:52] #590 closed

[2017-05-11 20:52] #549 closed

[2017-05-11 20:52] chmao1 commented on #896
We now support exact match and batch query. However, searching against select fields is not yet implemented.  I'm not sure whether this enhancement is still required. @mshukla1  please comment on this.

[2017-05-11 20:53] hyoo commented on #544
This is specific to outdated website.

[2017-05-11 20:53] #544 closed

[2017-05-11 20:53] hyoo commented on #434
This is specific to outdated website.

[2017-05-11 20:53] #434 closed

[2017-05-11 21:06] #551 closed

[2017-05-11 21:06] #535 closed

[2017-05-11 21:07] #294 closed

[2017-05-11 21:08] hyoo commented on #588
@rkenyon would you close if this no longer valid?

[2017-05-11 21:13] hyoo commented on #1485
@dmachi for your heads up

[2017-05-11 21:14] hyoo commented on #1449
#398
closing duplicates

[2017-05-11 21:14] #1449 closed, assigned to nobody

[2017-05-11 21:20] dmachi commented on #1485
Master branch from  https://github.com/dmachi/p3-ws-ftpd <https://github.com/dmachi/p3-ws-ftpd>  is the latest.

[2017-05-11 21:23] hyoo commented on #490
this is still issue as far as i remember

[2017-05-11 21:23] hyoo commented on #504
this is specific to outdated website.

[2017-05-11 21:23] #504 closed

[2017-05-11 21:23] hyoo commented on #508
this is specific to outdated website.

[2017-05-11 21:23] #508 closed

[2017-05-11 21:24] hyoo commented on #552
this is specific to outdated website.

[2017-05-11 21:24] #552 closed

[2017-05-11 21:25] hyoo commented on #583
it seems like we no longer tracking this activity here. closing.

[2017-05-11 21:25] #583 closed

[2017-05-11 21:26] #580 closed

[2017-05-11 21:26] hyoo commented on #575
this is specific to outdated website.

[2017-05-11 21:26] #575 closed

[2017-05-11 21:28] hyoo commented on #358
no, people needs "reset password" when they no longer remember their password. it has to be in login window so that they can reset and login.

[2017-05-11 21:28] #358 closed

[2017-05-11 21:29] hyoo commented on #347
@nconrad is this resolved?

[2017-05-11 21:30] hyoo commented on #447
This is good to have and reasonable.

[2017-05-11 21:30] hyoo commented on #334
this is specific to outdated website.

[2017-05-11 21:30] #334 closed

[2017-05-11 21:33] hyoo commented on #313
@olsonanl @aswarren @levinas This seems very old ticket. Can we close this one?

[2017-05-11 21:35] hyoo commented on #304
@dmachi is this finished?

[2017-05-11 21:36] hyoo commented on #299
We don't have a control on the heatmap viewer currently.

[2017-05-11 21:36] #299 closed

[2017-05-11 21:37] hyoo commented on #284
this is specific to outdated website. In new website, we do have this functionality.

[2017-05-11 21:37] #284 closed

[2017-05-11 21:37] hyoo commented on #283
This is specific to outdated website. In new website, we do have this implemented.

[2017-05-11 21:37] #283 closed

[2017-05-11 21:39] hyoo commented on #256
I have filled in this function but we already implemented new Interactions tab. closing.

[2017-05-11 21:39] #256 closed

[2017-05-11 21:39] hyoo commented on #212
this is specific to outdated website.

[2017-05-11 21:39] #212 closed

[2017-05-11 21:40] hyoo commented on #211
this is specific to outdated website.

[2017-05-11 21:40] #211 closed

[2017-05-11 21:41] hyoo commented on #182
this is specific to outdated website.

[2017-05-11 21:41] #182 closed

[2017-05-11 21:41] hyoo commented on #175
this is specific to outdated website.

[2017-05-11 21:41] #175 closed

[2017-05-11 21:42] hyoo commented on #156
this is specific to outdated website.

[2017-05-11 21:42] #156 closed

[2017-05-11 21:44] hyoo commented on #273
this is specific to outdated website.

[2017-05-11 21:44] #273 closed

[2017-05-11 21:51] hyoo commented on #1421
#1032

closing duplicates

[2017-05-11 21:51] #1421 closed, assigned to hyoo

[2017-05-11 21:54] hyoo commented on #1418
now i see you meant "mapping coordinates of the genome sequence". let me see.

[2017-05-11 21:55] #1417 closed, assigned to hyoo

[2017-05-11 21:59] hyoo commented on #1382
might be better to do before the upcoming workshops, GLBIO (May 15), ASM (June1-5)

[2017-05-11 22:03] hyoo commented on #1485
@danielolson5 for your heads up

[2017-05-11 22:04] hyoo commented on #1477
@ARWattam do you want to change to the total count or stay as is?

[2017-05-11 22:06] hyoo commented on #1425
@ARWattam would you share your url or list of feature ids so that I can debug?

[2017-05-11 22:12] hyoo commented on #1370
@olsonanl Is this Shock server time?

[2017-05-11 22:16] hyoo commented on #1285
I believe this has been fixed and deployed. #1386

[2017-05-11 22:16] #1285 closed, assigned to nobody

[2017-05-11 22:18] hyoo commented on #651
This is specific to outdated website.

![image](https://cloud.githubusercontent.com/assets/1236467/25974290/de57c220-366d-11e7-879e-d018ff8d1d12.png)

[2017-05-11 22:18] #651 closed

[2017-05-11 22:24] hyoo commented on #614
I agree. Here is my suggestion. The notification shows up as a dialog (with close button) and once the dialog is closed, the form should be reset and ready to take next job.

[2017-05-11 22:36] hyoo commented on #1441
sounds good. will update and deploy with May release.

[2017-05-11 22:43] hyoo commented on #1494
@maovt is this the one you recently fixed?

[2017-05-11 22:49] hyoo commented on #1366
@ARWattam I think this is a bug already fixed. I cannot reproduce this bug. Please reopen if it still exists.

[2017-05-11 22:49] #1366 closed, assigned to nobody

[2017-05-11 22:55] hyoo commented on #1395
Haven't heard after 5 months. closing.

[2017-05-11 22:55] #1395 closed, assigned to hyoo

[2017-05-12 13:55] chmao1 commented on #1494
yes

[2017-05-12 16:22] jimdavis1 opened #1511 "Problem with blast"
I blasted against plasmid DNA and note the issue with genome names:

![image](https://cloud.githubusercontent.com/assets/7661533/26007256/42983250-3705-11e7-81a8-84ed94e17aa7.png)

[2017-05-12 16:24] jimdavis1 opened #1512 "Minor issue with BLAST"
Can we please alphabetize the choices?  This is really hard to parse:

![image](https://cloud.githubusercontent.com/assets/7661533/26007323/a1817498-3705-11e7-80fb-cef5e2a0ca26.png)

[2017-05-12 21:46] nconrad commented on #614
As part of the workspace work, I moved and restyled the notifications for operations such as creating a new folder, deleting objects, etc.  Another option here would be to use the same notifications.  I.e.:

![ef5ab50e-3731-11e7-9027-9e76fdbee635](https://cloud.githubusercontent.com/assets/1194246/26018270/69697b90-3733-11e7-8f7e-8d652c21fff9.png)

[2017-05-13 19:25] aswarren commented on #1507
@mshukla1 I need some help here. In my testing on the command line, everything provided by the user in the ustring.json is placed in the resulting experiment.json file.

For example in my testing with your gene_id and gi use case (which has been resolved with my latest commit btw. not deployed yet) I provide the following input to the script:

{"metadata_format":"xlsx", "source_id_type":"alt_locus

[2017-05-13 19:37] aswarren commented on #1507
@mshukla1 @olsonanl Just for clarification I too am seeing the behavior where the title, description, and pmids are not in the resulting experiment.json. I just can't replicate the behavior independent of running it via the app service deployment. If I leave the escaped bits from the UI in the json then I get an error when reading it in. If I give it the expected JSON on the command line then it i

[2017-05-13 20:49] aswarren commented on #1507
@mshukla1 @olsonanl Last msg. Figured it out. There was a key mismatch between what the GUI was creating and what was expected in experiment.json and looked for in the python script.
@olsonanl https://github.com/PATRIC3/p3diffexp has been updated and needs a redeploy.

[2017-05-15 12:09] ARWattam opened #1513 "Specialty genes with Literature shows no PubMed ID"
In answering a user question, I filtered on Literature in Specialty Genes.  There was not PubMed id associated with that, and when I looked more closely, I saw that these were Human Homologs.  How in the world can there be Human Homologs with Literature tags, and if they do indeed exist, why don't we see the PubMed ID?

Here is the page I was on (Lactococcus garvieae:
https://www.patricbrc.org/vie

[2017-05-15 15:37] olsonanl commented on #141
Yes, I would like to.

[2017-05-15 20:09] olsonanl commented on #1370
The data in the workspace looks like this:
[code]

The date appears to be an ISO8601  datetime, with no designated time zone.

The corresponding Shock node has this (looking at the underlying mongo record)

[code]

which appears to be epoch time in ms; converting created_on:

[code]

and last_modified:

[code]

so there is some slop there ...

All of that said; I just uploaded files both at the co

[2017-05-17 18:24] mshukla1 opened #1514 "services: ref/rep selector doesn't work"
The genome selector in the services has filter options for the reference and representative genomes.

However, when I select reference and representative and start typing genome names, it doesn't do auto complete or suggest matching names and keep complaining "Value entered is not valid".

-Maulik

<img width="783" alt="screen shot 2017-05-17 at 1 23 46 pm" src="https://cloud.githubusercontent.com

[2017-05-17 18:37] dawenx opened #1515 "download button does not work in workspace action bar, only affect local working copy"
This is a small issue, and it does not affect production or alpha because the way the site is deployed there. To trigger this, go to your workspace, in the GenomeGroup or FeaturegGroup folder, select a single group and then hit download icon on the green action bar, it will get 404 Error as it tries to retrieve data from local machine.

[2017-05-17 20:50] jimdavis1 opened #1516 "Compare regions behaving strangely"
When I click on another protein in compare regions it does not refocus on that protien like it would at rast.

![image](https://cloud.githubusercontent.com/assets/7661533/26175501/7c4b43fe-3b18-11e7-9ae3-f647900f63c5.png)

[2017-05-18 01:32] aswarren commented on #1514
Yes these should probably read "Reference Only" and "Representative Only" and be unchecked by default. Since the default behavior should always be to include them and the desired filtering is to get rid of everything but those.
This is how it currently looks.
![image](https://cloud.githubusercontent.com/assets/229173/26182777/592ef494-3b48-11e7-80c2-baa1ea93131b.png)

[2017-05-18 14:11] olsonanl opened #1517 "Refresh needed to see newly updated files"
At the tutorial today folks are having problems with assembly app uploads. The paired end library drop down was not populating, and if you went to the browser and selected a file (in the submission dialog), the file would not appear in the read file text box. Refreshing the page brought them in properly.

I seem to recall some discussion this week of refresh related bugs ... maybe something global

[2017-05-18 14:35] olsonanl opened #1518 "Need stdout/stderr for completed jobs too"
The job viewer only allows viewing of stdout / stderr for failed jobs; there is possibly useful information  for completed jobs in those files too.

[2017-05-18 17:36] olsonanl opened #1519 "Filter buttons on genome selector are broken"
If I choose this:

<img width="491" alt="screen shot 2017-05-18 at 1 33 29 pm" src="https://cloud.githubusercontent.com/assets/2152226/26215518/9b3f035c-3bce-11e7-85bf-61ad08554244.png">

I see this in the console:

Query Filter set to: &and(eq(public,false),eq(public,true))

Also:

<img width="490" alt="screen shot 2017-05-18 at 1 35 44 pm" src="https://cloud.githubusercontent.com/assets/2152226/

[2017-05-18 19:27] dawenx commented on #1517
Just a comment on filter refresh related bug. Not necessary related to this issue.

Pathway Tab used to have this kind of bug and the newly created (still under development) Subsystem Tab had this problem 2 weeks ago.

What happened in Pathway Tab (PathwaysContainer.js) was, in onSetState function, the condition to set selectedChildWidget was not correct, it used to be something like below:

if(th

[2017-05-18 19:38] zreyn commented on #1519
Having just worked on this code, I definitely see what you're saying.  For the first example you provide (no check for public, no check for private) that was already there.  The reasoning I deduced is that if you don't ask us to include public and you don't ask us to include private, you don't get any results.

The same kind of applies to the second example.  If you don't want to reference or repr

[2017-05-19 19:59] aswarren commented on #1514
![image](https://cloud.githubusercontent.com/assets/229173/26264807/1e388016-3cac-11e7-95e2-f91df555efa4.png)
![image](https://cloud.githubusercontent.com/assets/229173/26264827/328d4fa6-3cac-11e7-8ec3-365eb4163930.png)

[2017-05-22 19:06] dawenx commented on #1447
This was done and tested on my local copy. A pull request was opened.

[2017-05-22 19:07] dawenx commented on #1515
This was fixed.

[2017-05-23 08:51] mshukla1 opened #1520 "Update PATRIC publication list"
It seems outdated and missing pubs from last year.

https://www.patricbrc.org/content/publications

[2017-05-23 17:39] #313 closed

[2017-05-23 17:43] mshukla1 opened #1521 "Services: add links to corresponding tutorials"
We need to provide links to relevant tutorial and/or FAQs from each of the service submission pages to make them more accessible and easier to find.

I think the same can be applied to other tabs / pages / tools on the website.

-Maulik

[2017-05-23 17:45] #1334 closed, assigned to nobody

[2017-05-24 19:43] aswarren commented on #1519
Fixed in https://github.com/PATRIC3/p3_web/commit/a6554354dfab4e190e81c27daf6673f2792ee1c4

[2017-05-24 19:43] #1519 closed, assigned to zreyn

[2017-05-24 19:45] aswarren commented on #1514
Fixed in https://github.com/PATRIC3/p3_web/commit/a6554354dfab4e190e81c27daf6673f2792ee1c4

[2017-05-24 19:45] #1514 closed, assigned to aswarren, zreyn

[2017-05-24 21:49] #1441 closed, assigned to hyoo

[2017-05-24 21:53] hyoo commented on #1339
there was no mapping. It should cancel the spinning wheel. I will work on it.

[2017-05-24 22:02] hyoo commented on #1339
hmm. I cannot reproduce it.
https://www.patricbrc.org/view/PathwaySummary/?features=PATRIC.83332.12.NC_000962.CDS.9963.10160.fwd,PATRIC.83332.12.NC_000962.CDS.10484.10828.fwd,PATRIC.83332.12.NC_000962.CDS.10999.11121.fwd,PATRIC.83332.12.NC_000962.CDS.11555.11692.rev,PATRIC.83332.12.NC_000962.CDS.11874.12311.rev

It might be fixed, since this report was on 3.2.64 and we're currently 3.3.10. I am cl

[2017-05-24 22:02] #1339 closed, assigned to hyoo

[2017-05-24 22:04] hyoo commented on #702
https://github.com/hyoo/p3_web/commit/a0bca24e9d2762230acb1bfe76a330b20aa7a931

[2017-05-24 22:04] #702 closed

[2017-05-24 22:29] hyoo commented on #1418
I added hit_from and hit_to columns on both grid and download files.

- ffn search
![image](https://cloud.githubusercontent.com/assets/1236467/26428247/4252bb1c-40a6-11e7-8be7-b800f31ec126.png)

- fna search
![image](https://cloud.githubusercontent.com/assets/1236467/26428295/7a0f9584-40a6-11e7-8c75-a27e96664543.png)

This two columns will be hidden by default, due to the space limitation, but sho

[2017-05-24 22:32] #1418 closed, assigned to hyoo

[2017-05-25 18:40] hyoo opened #1522 "PFS: add MSA action bar"
Provide MSA in the action bar when single protein family is selected

[2017-05-25 18:40] hyoo commented on #1363
Let's separate issues. #1522

[2017-05-25 21:43] nconrad opened #1523 "website needs favicon"
...it's bothering me.  I can come up with a design.

[2017-05-30 11:01] mshukla1 commented on #1523
Go for it.

[2017-05-30 15:34] hyoo commented on #841
This has been deployed to alpha. However, I have some concerns like below,

- copy with full table option
1. column order is random. users will complain. basically, difficult to find what you want.
2. we need some control. for example, we don't want to show segment, owner, etc

- copy with selected columns option
1. I don't know where I can "select" columns
2. I thought I would get whatever I am s

[2017-05-30 16:08] aswarren opened #1524 "Show files with unspecified type breaks Public view"
![image](https://cloud.githubusercontent.com/assets/229173/26592974/71e0b7ce-4530-11e7-99df-dc88b29b65f6.png)
If you check the box things stop showing up in Public view until page refresh.
This isn't a show stopper for ASM since it is an uncommon workflow.

[2017-05-30 19:39] nconrad commented on #1524
ah, yes.  I don't think it's a public workspace issue, it's that the unspecified type checkbox doesn't work correctly on production either.

In any case, I've been wondering what that checkbox is used for?  It may be clearer to have a "show files with any type" checkbox instead?

[2017-05-31 18:53] #1515 closed, assigned to dawenx

[2017-05-31 18:54] dawenx commented on #1496
this was deployed. will close it.

[2017-05-31 18:54] #1496 closed, assigned to dawenx

[2017-05-31 18:55] dawenx commented on #1447
this was deployed. will close it.

[2017-05-31 18:55] #1447 closed, assigned to dawenx

[2017-06-01 13:58] mshukla1 opened #1525 "update account settings goes to different domain"
At ASM workshop, several users had trouble with this issue.

They registered and logged in, then they went to user settings page. It goes to a different domain, and asks user to login again. Also, none of the links from the top nav work from this page.

See the screenshot below.
<img width="1440" alt="screen shot 2017-06-01 at 8 50 56 am" src="https://cloud.githubusercontent.com/assets/1236463/266

[2017-06-01 14:21] mshukla1 opened #1526 "job submission: problem creating new output folder"
Several users had this problem.

They are on assembly job submission page, click on folder icon next to output folder box, click on create new folder, nothing happens.

These users just registered, so all they have are  special/default folders. Those are not visible in selection window. They can't create new folder, and they can't select home.

The work around we came up with was to open another t

[2017-06-01 15:01] hyoo commented on #1520
updated & deployed on production.

[2017-06-01 15:01] #1520 closed, assigned to rkenyon

[2017-06-01 15:03] hyoo commented on #1382
We add public PATRIC workspace sharing so that attendee does require to download from ftp. so closing this ticket.

[2017-06-01 15:03] #1382 closed, assigned to nobody

[2017-06-01 15:04] hyoo commented on #1288
closing since i cannot reproduce the problem and had no other response.

[2017-06-01 15:04] #1288 closed, assigned to aswarren

[2017-06-01 16:38] hyoo commented on #1526
is it related to the Shock crash during the workshop?

[2017-06-01 16:43] hyoo commented on #1525
1. we should remove top nav, because we cannot sync automatically. @dmachi please merge my pr
https://github.com/PATRIC3/p3_user/pull/2

2. once logged in on user.patricbrc.org, it should go to home page. i think.

[2017-06-01 16:43] aswarren commented on #1526
It doesn't seem so. Issue persists.

[2017-06-01 18:24] aswarren commented on #1526
@nconrad the behavior is similar to what is going on with the "show files of unspecified type" check box. Whose behavior I think we should maintain per our discussion the other day.
After some thinking I think its best to maintain the "on-rails" functionality where the files shown match the type expected by the app. Though we could grey out non-specified types to make the case where someone has pi

[2017-06-01 18:42] nconrad commented on #1526
This issue was fixed in newer branch (workspace 2.0)--didn't realize it was in the old branch.

[2017-06-09 19:36] chmao1 opened #1527 "Global search improvement for ID search"
The global search should recognize ID types such as feature IDs, genome IDs and do exact search for these IDs.

[2017-06-09 20:33] mshukla1 commented on #1509
Both plfam and pgfam are now available for this genome.

<img width="1183" alt="screen shot 2017-06-09 at 3 32 33 pm" src="https://user-images.githubusercontent.com/1236463/26993505-f35cc360-4d28-11e7-96ba-b1622cbd37c0.png">

[2017-06-09 20:33] #1509 closed, assigned to mshukla1

[2017-06-09 20:35] mshukla1 commented on #1510
both plfam and pgfams are now available for this genome.

<img width="1127" alt="screen shot 2017-06-09 at 3 35 17 pm" src="https://user-images.githubusercontent.com/1236463/26993561-468ebcf0-4d29-11e7-89a8-f2aba778dfce.png">

[2017-06-09 20:35] #1510 closed, assigned to mshukla1

[2017-06-09 20:36] mshukla1 commented on #1508
Both plfam and pgfams available for this genome now.

<img width="1175" alt="screen shot 2017-06-09 at 3 36 09 pm" src="https://user-images.githubusercontent.com/1236463/26993599-6e12cbb8-4d29-11e7-9196-904c1700ac82.png">

[2017-06-09 20:36] #1508 closed, assigned to mshukla1

[2017-06-09 20:42] mshukla1 commented on #1504
This has been corrected with the recent protein family updates.

https://www.patricbrc.org/view/FeatureList/?eq(plfam_id,PLF_1763_00001686)#view_tab=features

[2017-06-09 20:42] #1504 closed, assigned to mshukla1

[2017-06-09 20:43] mshukla1 commented on #1503
Corrected with the lated protein family updates.

https://www.patricbrc.org/view/FeatureList/?eq(plfam_id,PLF_1763_00033211)#view_tab=features

[2017-06-09 20:43] #1503 closed, assigned to mshukla1

[2017-06-09 20:45] mshukla1 commented on #1498
With the recent taxonomy and protein family updates, gordonia genomes are no longer displayed under mycobacteriam and corresponding local families.

[2017-06-09 20:45] #1498 closed, assigned to mshukla1

[2017-06-09 20:49] mshukla1 commented on #1497
MMAR_2656 available as both patric and refseq annotated CDS.

https://www.patricbrc.org/view/Feature/PATRIC.216594.6.NC_010612.CDS.3240957.3241781.fwd

[2017-06-09 20:49] #1497 closed, assigned to mshukla1

[2017-06-09 21:05] mshukla1 commented on #1493
I checked again, both strain names are listed at NCBI. Biosample lists strain names as ZJ95, while genbank file lists as LZ95.

https://www.ncbi.nlm.nih.gov/biosample/SAMN03854682
https://www.ncbi.nlm.nih.gov/nuccore/CP012122.1

Assuming genbank has "more correct" name, I have updated it at patric to Lactobacillus plantarum strain LZ95.

https://www.patricbrc.org/view/Genome/1590.175

[2017-06-09 21:05] #1493 closed, assigned to mshukla1

[2017-06-09 21:11] mshukla1 commented on #1487
This has been taken care by the latest protein family updates. All Lactobacillus plantarum genomes now have protein families.

https://www.patricbrc.org/view/Taxonomy/1590#view_tab=proteinFamilies

<img width="1425" alt="screen shot 2017-06-09 at 4 11 02 pm" src="https://user-images.githubusercontent.com/1236463/26994707-4fb78f46-4d2e-11e7-9bf4-59119f798626.png">

[2017-06-09 21:11] #1487 closed, assigned to mshukla1

[2017-06-09 21:17] mshukla1 commented on #1482
Updated to Corynebacterium striatum strain BM4687.

https://www.patricbrc.org/view/Genome/43770.28

<img width="1122" alt="screen shot 2017-06-09 at 4 16 17 pm" src="https://user-images.githubusercontent.com/1236463/26994826-1a86414a-4d2f-11e7-83ed-e39c1f534347.png">

[2017-06-09 21:17] #1482 closed, assigned to mshukla1

[2017-06-09 21:50] mshukla1 commented on #1450
Our current scope for the host genomes is limited to the genomes relevant to understand bacterial infections relevant to our priority pathogens.

Plant genomes have very different gene structures and annotations. Most of our analysis tools, i.e. RNA-seq analysis and diff expression, will not work without making necessary adjustments, which may require additional time and effort.

Hence, my recomme

[2017-06-09 23:21] mshukla1 commented on #1426
All genome names have been updated to include strain names.

[2017-06-09 23:21] #1426 closed, assigned to mshukla1

[2017-06-13 12:12] mshukla1 opened #1528 "ID Mapping from action bar missing id types"
While answering one of the user requests, I noticed that when I select ID mapping from the feature table action bar, it is missing some of the ID types present in the id_ref table in solr, for example, KO and STRING.

Please make sure that the list of id types shown are generated from the data available in solr, either generated dynamically, or if cached, updated using the latest data.

Also note

[2017-06-13 12:23] mshukla1 opened #1529 "PPI: downloading all interactions"
I came across this issue while answering one of the use requests:
https://jira.cels.anl.gov/browse/PATRIC-873

User wanted to download ~2200 interactions identified by KEGG, but there is no way to do it from the website.

To address this, can we
- increase the number of interactions shown to, say, 5000?
- Allow users to  download ALL interactions after applying filters, instead of only those shown

[2017-06-14 19:55] jimdavis1 opened #1530 "Still cant sign out using safari"
![image](https://user-images.githubusercontent.com/7661533/27151854-866272d6-5111-11e7-9b4a-cff6ad0ce153.png)

[2017-06-14 20:27] jimdavis1 opened #1531 "file names in RNAseq service"
If a file name is too long you cant read it in the right-hand panel.

![image](https://user-images.githubusercontent.com/7661533/27153164-ff0e604c-5115-11e7-8b17-4e0069db9905.png)

[2017-06-14 20:29] jimdavis1 opened #1532 "Workspace problem"
Someday I'd like to be able to rename a file.  Now I have to reupload everything.
![image](https://user-images.githubusercontent.com/7661533/27153227-3f71c8cc-5116-11e7-8b88-33bfe1c8965f.png)

[2017-06-16 15:30] jimdavis1 opened #1533 "download file names have to be changed"
One of my greatest pet peeves using this site is the generic file name given to every single patric download.  I currently have 10 differential expression analysis data sets that I am trying to download and they are all getting the same file name.  Very annoying.  So bad.

[2017-06-19 18:55] hyoo commented on #1495
this is address by
https://github.com/PATRIC3/p3_web/commit/305d8da8c2b8245c7d2c7a01b93316404e54d513

[2017-06-19 18:55] #1495 closed, assigned to chmao1

[2017-06-19 18:56] #1494 closed, assigned to chmao1

[2017-06-19 20:02] hyoo commented on #1477
Since not hearing for more than a month, and seeing this in the publication as is, I assume that this does not require any change.

@ARWattam, please reopen otherwise.

[2017-06-19 20:02] #1477 closed, assigned to hyoo

[2017-06-19 20:27] #1405 closed, assigned to nobody

[2017-06-19 20:47] ARWattam commented on #1477
Harry,

I think that this is something that Jim feels very strongly about.  Could
you check with him to be absolutely sure that you close this?  I know that
he wanted the counts to be visible, and for the to be ranked from highest
to lowest.  Jim, can you comment?

Best,

Rebecca

On Mon, Jun 19, 2017 at 4:02 PM, hyoo <notifications@github.com> wrote:

[2017-06-19 21:06] hyoo commented on #1477
Changing one way to another is not a big deal. Just wanted to confirm what is the correct way to do.  I will talk to Jim.

[2017-06-20 19:00] mshukla1 commented on #1533
The default download files are usually names based on the page you download it from, i.e. PATRIC_genome, PATRIC_genome_amr, PATRIC_features, etc.

However, it is your browser setting that controls weather you want to automatically same files with the default name or you want to be prompted for location / name before saving each file. The latter will allow you to change the name as you wish before

[2017-06-20 19:38] mshukla1 commented on #1532
Neal is working on workspace copy / move / rename / delete functionality right now. It is almost complete and will be deployed on alpha soon, where you can test it.

-Maulik

[2017-06-20 19:40] mshukla1 commented on #1531
@aswarren : can you take a look and comment on the issue?

[2017-06-20 19:53] mshukla1 commented on #1516
In PATRIC compare region is displayed on the gene page. So, if you want make a different gene your focus, you would click on the gene id in the pop up, go to that gene page, and view compare region.

In RAST or pubseed also it behaves the same way, i.e. if I click on any gene in compare region viewer, it will make me to the corresponding gene page for that gene.

am I missing something?

[2017-06-20 19:57] mshukla1 commented on #1511
Just to make sure I understand the issue, were you refering to the "Undefined" in the LHS panel? ...or something else?

-Maulik

[2017-06-20 20:03] nconrad commented on #1532
Note: maulik discovered a bug on alpha regarding renaming objects/folders.  We'll deploy the fix tomorrow.

[2017-06-20 20:04] hyoo commented on #1530
tested on alpha.

[2017-06-20 20:07] hyoo commented on #1532
it is on alpha now.

[2017-06-20 20:09] nconrad commented on #1532
That was fast, thanks!

[2017-06-20 20:16] hyoo commented on #1433
this is fixed on alpha and will be deployed on production soon.

#1530

[2017-06-20 20:16] #1433 closed, assigned to dmachi

[2017-06-20 20:18] hyoo commented on #680
we're displaying a message how to enable flash player. This will be a temporary solution until we reimplement the heatmap viewer with standard technology.

[2017-06-20 20:18] #680 closed

[2017-06-20 20:22] hyoo commented on #1302
i think #1159 is related this issue.
@nconrad would you take a look?

[2017-06-20 20:29] nconrad commented on #1302
That's right. I've reported this before, but I don't think there was a detailed plan to get it fixed.   see https://github.com/PATRIC3/patric3_website/issues/1159

[2017-06-20 20:30] dmachi commented on #1302
These download links are getting replaced in the JobViewer modifications that Zane is working on.  I would let it go for now until that is completed.

[2017-06-20 20:39] aswarren commented on #1531
@jimdavis1 I put something like this on Assembly a little while ago, just haven't moved it over to RNA-Seq. Do you think this will cut it?

![image](https://user-images.githubusercontent.com/229173/27354838-fdd9b314-55d6-11e7-9eee-627d4a11097d.png)

[2017-06-21 19:54] nconrad opened #1534 "workspace2.0: remove "patricbrc.org" from "shared with" usernames"

[2017-06-21 19:56] nconrad opened #1535 "workspace2.0: limit user search to 3 chars"

[2017-06-21 21:18] mshukla1 commented on #1293
@aswarren : see if this can be added with other functionality for July Release.

-Maulik

[2017-06-21 21:26] mshukla1 opened #1536 "MSA: show/hide cols and rows by threshold"
Andrew,

The BioJS MSA viewer demo page provides ability to show / hid columns based on conservation threshold and sequences based on identity. This is crucial to allow users to visually analyze NA alignment of near identical genes and quickly detect SNPs without scrolling and looking at each and every column.

http://output.jsbin.com/xurabajicu/1

<img width="519" alt="screen shot 2017-06-21 at 4

[2017-06-22 16:01] nconrad opened #1537 "Workspace2.0: Owner should be first column in public workspace view"

[2017-06-22 16:02] nconrad opened #1538 "Workspace2.0: clicking elsewhere in object selector should unselect currently selected. (i.e., home)"

[2017-06-22 16:04] nconrad opened #1539 "Workspace2.0: Clicking 2nd child in public breadcrumbs brings user to their home."
Should instead go to that path.

[2017-06-22 16:05] olsonanl opened #1540 "Filtering in features tab not working"
If I bring up a feature list, say

https://www.patricbrc.org/view/Genome/371601.6#view_tab=features&filter=and(or(eq(annotation,%22PATRIC%22)),or(eq(feature_type,%22crispr_repeat%22),eq(feature_type,%22crispr_spacer%22)))

and I click around in the filters, the list of features does not change.

[2017-06-23 14:13] mshukla1 opened #1541 "Assembly: fetch reads directly from SRA"
Downloading reads from NCBI SRA locally and then uploading them to workspace take lot of time and effort and it is very frustrating.

We should allow users to just provide SRA run accession number as an input option and then fetch the reads directly from SRA using fastq-dump program.

https://trace.ncbi.nlm.nih.gov/Traces/sra/sra.cgi?view=toolkit_doc&f=fastq-dump

Below is the sample command I use

[2017-06-23 16:47] #973 closed, assigned to hyoo

[2017-06-23 16:47] #1522 closed, assigned to hyoo

[2017-06-23 16:47] #1409 closed, assigned to hyoo

[2017-06-23 16:47] #1530 closed, assigned to dmachi

[2017-06-23 21:24] levinas commented on #1541
@aswarren Could you take a look at my proposed spec change? https://github.com/TheSEED/app_service/pull/71

If you can add an input box for SRR IDs that is on the same level as PE/SE boxes, that would be great. As @mshukla1  suggested, the backend tweak should be straightforward.

[2017-06-27 10:52] mshukla1 commented on #1541
There is an option in fast-q dump for removing all technical sequences, i.e. adapters etc.

--skip-technical	Dump only biological reads
fastq-dump -I --skip-technical --split-files --gzip SRR5660159

When I downloaded reads without that option and assembly service was having hard time trying to assemble them.

[2017-06-27 21:25] aswarren commented on #1357
@ARWattam After careful analysis I don't believe this is a bug. A sequence can be shorter but have gaps in the back OR the front of the alignment. I checked the sequences in question and they match to the AA record from the feature table. If you recreate the alignment check the front AND back of Brucella sp. F5/99 and B. suis 1330

[2017-06-27 21:25] #1357 closed, assigned to aswarren

[2017-06-28 14:06] jimdavis1 opened #1542 "private genomes in AMR tabs"
Amr data does not have the option of filtering on private genomes

![image](https://user-images.githubusercontent.com/7661533/27641271-02f95ee8-5be1-11e7-821e-775ec2c76e12.png)

[2017-06-29 15:09] chmao1 commented on #1293
I'll work on this.

[2017-06-29 17:16] ARWattam opened #1543 "Impossible to identify genome groups in Protein Family Sorter"
I originally thought that the PFS, when comparing two groups, ordered them so that one group followed the other.  In that way, users could figure out the patterns based on that order.  I just created 2 groups, each about having 50 genomes, and was trying to see them using the PFS.  I was dismayed to find that they are not ordered that way, but instead ordered alphabetically.  This makes the tool a

[2017-07-05 19:00] nconrad commented on #1537
So I decided not to make this change because:
1) We were able to copy/rename the workshop folder as a workspace called "PATRIC Workshop", and
2) So that the list of public workspaces has the same column ordering as the other lists of workspaces.

[2017-07-05 19:00] #1537 closed, assigned to nconrad

[2017-07-06 14:12] rkenyon opened #1544 "Do not find any TBCAP Mtb annotations by searching "TBCAP""
Trying to find genes with structured assertions from the TBCAP jamboree, but search on "TBCAP" in search only returns genes in Homo sapiens.

[2017-07-06 14:14] jimdavis1 opened #1545 "global search"
I did a search for isoniazid and got 5 antibiotics back.
![image](https://user-images.githubusercontent.com/7661533/27915306-84dad37e-622b-11e7-9da5-743b8b6aaaf5.png)

[2017-07-06 14:15] rkenyon commented on #1544
For example, I would expect a link to the following feature page, which has TBCAP structured assertions:
https://www.patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.34.1524.fwd#view_tab=overview

[2017-07-06 14:15] hyoo opened #1546 "specialty genes link is missing on global search page"
![image](https://user-images.githubusercontent.com/1236467/27915349-a5eb7dd4-622b-11e7-9f03-9dcc0d0b0dbd.png)

[2017-07-06 14:16] jimdavis1 opened #1547 "NDARO is still missing"
![image](https://user-images.githubusercontent.com/7661533/27915385-c5606468-622b-11e7-8935-42ff2c0a52b3.png)

[2017-07-06 14:17] nconrad opened #1548 "Workspace2.0: remove upload button when listing workspaces in object selector."
![image](https://user-images.githubusercontent.com/1194246/27915407-d57b2798-622b-11e7-95b9-435407eda232.png)

[2017-07-06 14:18] jimdavis1 opened #1549 "Still missing feature importance for classifiers"
![image](https://user-images.githubusercontent.com/7661533/27915477-22433408-622c-11e7-970b-844af472963e.png)

[2017-07-06 14:19] zreyn commented on #1540
Looks like the filters are working in production now, so I can't reproduce this.  Please re-open if the same behavior is exhibited.

[2017-07-06 14:19] #1540 closed, assigned to nobody

[2017-07-06 14:20] olsonanl opened #1550 "weird translation of search"
If I search for

 Tetracycline resistance, ribosomal protection type => Tet(M)

I see

 Tetracycline AND resistance, AND ribosomal AND protection AND type AND gt(=,) AND M AND Tet

[2017-07-06 14:22] jimdavis1 opened #1551 "publication should be listed with phenotype"
Since we are recording the papers with the phenotypes of the genomes the NCBI ID  should be an available column.  I don't know if that is what is intended by "source", but in this instance that column is empty.

![image](https://user-images.githubusercontent.com/7661533/27915612-7ea81d4e-622c-11e7-83f8-798f201aa8b6.png)

[2017-07-06 14:22] ARWattam opened #1552 "Missing genome"
This genome should be public in PATRIC, but it is missing:

1349.117 | Streptococcus uberis PE302

It is part of the group from Julian Reyes that he released in PATRIC independently

[2017-07-06 14:29] nconrad opened #1553 "Workspace2.0: list dropdown in object selector sometimes out of sync with last viewed workspace/folder"
![image](https://user-images.githubusercontent.com/1194246/27915975-6810c008-622d-11e7-8b1a-0c6c2388052f.png)

[2017-07-06 14:31] hyoo opened #1554 "error in filename change"
I tried to rename my file and i got this error message in dialog, but file changed successfully.

However, i tried again to reproduce it but i couldn't. Should I worry about this?

@nconrad
And the title of dialog was "Oh no!"  something like that. Please change to be more professional.

=======

_ERROR_Overwriting object /harry@patricbrc.org/home/MyTestContig_empty.fna and overwrite flag is not s

[2017-07-06 14:31] jimdavis1 opened #1555 "Need to be able to see the members of a family from the protein family sorter"
The only way to view the members of this family is by searching for it again.

![image](https://user-images.githubusercontent.com/7661533/27916161-d8f5cc46-622d-11e7-8434-d7fafd2f34e2.png)

[2017-07-06 14:36] olsonanl opened #1556 "search button icon"
the search button should be a lens not a lens+ icon (lens+ icon typically means something else)

[2017-07-06 14:37] olsonanl opened #1557 "Search help icon should toggle search window"
I find myself wanting to click the help button again to make the search help go away. if it did that I wouldn't need to go looking for the X to clear the help window

[2017-07-06 14:37] hyoo opened #1558 "cannot rename genome group"
![image](https://user-images.githubusercontent.com/1236467/27916455-b6ad898e-622e-11e7-960e-f0800ca4b4b3.png)

[2017-07-06 14:38] olsonanl opened #1559 "Search history"
It would be excellent if the search window remembered the last however many searches one has done

[2017-07-06 14:39] nconrad opened #1560 "Icon for global search"
Suggesting to use the "icon-search" magnifying glass, instead of "icon-search-plus", just because the "-plus" icon is typically used for "zoom in".

![image](https://user-images.githubusercontent.com/1194246/27916280-365fc102-622e-11e7-9401-f20665b3bb94.png)

[2017-07-06 14:40] olsonanl opened #1561 "Search text is too small"
It's easy to write a search that doesn't fit in the search text box. It'd be cool if when you started a search that the text box grew to give you lots of room.

See for instance the search box at the top of https://www.washingtonpost.com

[2017-07-06 14:41] ARWattam opened #1562 "Unable to launch MSA from feature group in production from feature group"
The MSA icon does not appear in the mystical green bar when I select my feature group for 40 genes

[2017-07-06 14:41] nconrad commented on #1558
That was unintended of course, thanks!

[2017-07-06 14:45] olsonanl opened #1563 "Search for klebsiella never returns"
If I type just klebsiella in the searh box the search never returns.

From the console it looks like it should have worked:
[code]

[2017-07-06 14:46] jimdavis1 opened #1564 "protein family should be a first-class search object:"
![image](https://user-images.githubusercontent.com/7661533/27916863-f5f002d8-622f-11e7-98a7-730f1833888f.png)

[2017-07-06 14:51] jimdavis1 opened #1565 "MSA Can I delete a taxon?"
I want to blow away this bad sequence

![image](https://user-images.githubusercontent.com/7661533/27917125-b89a667a-6230-11e7-880b-41bbd932b5be.png)

[2017-07-06 14:56] rkenyon opened #1566 "Action bar icons missing on Alpha (3.3.16falpha) for features"
Select a set of genes, no icons appear.
https://www.alpha.patricbrc.org/view/Genome/83332.12#view_tab=features&filter=and(eq(feature_type,CDS),eq(annotation,PATRIC))

![screen shot 2017-07-06 at 10 54 35 am](https://user-images.githubusercontent.com/3188570/27917271-8e9ab876-6239-11e7-8a64-58331379d3d9.png)

[2017-07-06 14:57] ARWattam opened #1567 "Download MSA.png does not show the entire alignment"
Nucleotide msa and click on download msa.png.  Only shows about 60 nts, but this is not even close to the whole alignment
![patric_msa](https://user-images.githubusercontent.com/11475316/27917409-e5af3650-6239-11e7-9a8c-b7387d722db5.png)

[2017-07-06 14:59] ARWattam opened #1568 "svg of tree from msa viewer is quite odd looking"
I'm not sure what to think of this, but I do think it looks odd.

[2017-07-06 15:01] jimdavis1 opened #1569 "Need FASTA download for MSA"
FASTA format is particularly useful.

[2017-07-06 15:04] jimdavis1 opened #1570 "MSA selection PNG is only a screenshot of the viewed alignment, no the whole thing."
This bug is true when you have the genes selected or if you try to download the whole alignment.

![image](https://user-images.githubusercontent.com/7661533/27917709-6cd86e4c-6232-11e7-82e6-b1a6f84e7f7f.png)

[2017-07-06 15:10] jimdavis1 opened #1571 "visualization on workspace"
Note the buttons in the top right overlapping the pane.  Clicking hide and show made it render correctly.

![image](https://user-images.githubusercontent.com/7661533/27918017-505aaa0e-6233-11e7-8c5b-9fc2a2e1a94c.png)

[2017-07-06 15:14] jimdavis1 opened #1572 "workspaces should be visible from the dropdown"
I have 2 workspaces, but i cant see them both in the dropdown.  This is the assembly app.

![image](https://user-images.githubusercontent.com/7661533/27918219-dd398bfc-6233-11e7-8164-5d8d9bfa1a18.png)

[2017-07-06 15:26] hyoo commented on #1566
cannot reproduce this. how many features were selected?

[2017-07-06 15:28] hyoo commented on #1572
this was because, i guess, default select "Worksapce" was looking at home directory and Jim was looking for his new workspace "For_Rebecca".

And he was toggling between workspaces and Public workspaces but it wasn't show up until he clicked "parent".

[2017-07-06 15:30] hyoo commented on #1568
![image](https://user-images.githubusercontent.com/1236467/27918945-10e744c4-6236-11e7-83bf-3b24cb2741b3.png)

something like this?

[2017-07-06 15:34] chmao1 commented on #1570
#1567

[2017-07-06 15:37] rkenyon commented on #1566
9 (nine), as shown in the screen shot

[2017-07-06 15:40] ARWattam opened #1573 "Plasmid? Really short genome with only one CDS called in PATRIC"
https://www.patricbrc.org/view/Genome/1313.13959

[2017-07-06 15:43] ARWattam opened #1574 "Another tiny genome with few genes"
https://www.patricbrc.org/view/Genome/1313.13963

[2017-07-06 15:44] ARWattam opened #1575 "Small genome with one gene"
https://www.patricbrc.org/view/Genome/1313.14090

[2017-07-06 15:45] rkenyon opened #1576 "Metadata - NCBI classifies "Bovine" as Bos taurus, we should probably do the same"
...in cases where Bovine is one of the genome metadata values

[2017-07-06 15:49] ARWattam opened #1577 "Metadata change"
Horse, Equus sp.

Should all be changed to:

Horse, Equus caballus

[2017-07-06 15:49] ARWattam opened #1578 "Metadata - remove all not applicable from host name"

[2017-07-06 15:50] ARWattam opened #1579 "Metadata: Change Gallus gallus in host name"
These should all be Chicken, Gallus gallus

[2017-07-06 15:51] ARWattam opened #1580 "Metadata- change Sus scrofa in host name"
These should all be Pig, Sus scrofa

[2017-07-06 15:52] ARWattam opened #1581 "Metadata- change Ovis aries host name"
Should be Sheep, Ovis aries

[2017-07-06 15:53] ARWattam opened #1582 "Metadata - change Salmo salar host name"
Should be Atlantic salmon, Salmo salar

[2017-07-06 16:05] hyoo commented on #1566
![image](https://user-images.githubusercontent.com/1236467/27920651-f0251c70-623a-11e7-9dd4-64356d0fe693.png)

Still cannot reproduce it.

[2017-07-07 14:46] mshukla1 commented on #1582
fixed and added to metadata clean up dictionary.

[2017-07-07 14:46] #1582 closed, assigned to mshukla1

[2017-07-07 14:47] mshukla1 commented on #1581
fixed and added to metadata clean up dictionary.

[2017-07-07 14:47] #1581 closed, assigned to mshukla1

[2017-07-07 14:47] mshukla1 commented on #1580
fixed and added to metadata clean up dictionary.

[2017-07-07 14:47] #1580 closed, assigned to mshukla1

[2017-07-07 14:48] mshukla1 commented on #1579
fixed and added to metadata clean up dictionary.

[2017-07-07 14:48] #1579 closed, assigned to mshukla1

[2017-07-07 14:49] mshukla1 commented on #1578
fixed and added to metadata clean up dictionary.

[2017-07-07 14:49] #1578 closed, assigned to mshukla1

[2017-07-07 14:49] mshukla1 commented on #1576
fixed and added to metadata clean up dictionary.

[2017-07-07 14:49] #1576 closed, assigned to mshukla1

[2017-07-07 14:50] #1577 closed, assigned to mshukla1

[2017-07-07 18:18] chmao1 commented on #1560
#1556

[2017-07-09 21:27] nconrad commented on #1554
I could not replicate this.  I have some commits to the error handling for consistency, but let me know if you see this issue again.

[2017-07-10 14:54] chmao1 commented on #1545
The additional antibiotics included is because the descriptions for these antibiotics contained the keyword "isoniazid".  @hyoo We need to think about how make this less confusing to users by either including descriptions in the result display or only searching for antibiotics names.

[2017-07-10 14:56] olsonanl opened #1583 "Copy button not working"
In trying to replicate another bug I tried to make a copy of a file in my workspace but nothing happened.

Console sez:
[code]

[2017-07-10 16:14] nconrad commented on #1583
yeah, thanks, i already have a fix for this.  I broke it on the Friday push.

[2017-07-10 17:56] #1527 closed, assigned to chmao1

[2017-07-10 17:58] chmao1 commented on #1536
The enhancement is available on alpha for testing. Currently, we support show/hide cols not rows.

[2017-07-10 17:59] chmao1 commented on #1556
Fixed and available on alpha for testing.

[2017-07-10 18:00] chmao1 commented on #1559
Fixed and available on alpha for testing.

[2017-07-10 18:00] chmao1 commented on #1560
Fixed and available on alpha for testing.

[2017-07-10 18:01] chmao1 commented on #1563
Fixed and available on alpha for testing.

[2017-07-10 19:10] jimdavis1 opened #1584 "Is it possible to search for an original contig id?"
![image](https://user-images.githubusercontent.com/7661533/28035231-856826ba-6579-11e7-878d-235f5e29f291.png)

[2017-07-10 21:44] mshukla1 commented on #1584
Jim,

Genomes are usually loaded with external database ids, i.e. genbank, refseq, biosample, bioproject,
and assembly accessions, when available.

This genome is has only genbank accessions in the database not refseq (NC_*). I suspect it is
because, the genome may nit have been added at the time we picked it up from genbank.

https://www.patricbrc.org/view/Genome/634458.3 <https://www.patricbrc.o

[2017-07-11 14:01] jimdavis1 opened #1585 "what version of CARD are we using?"
The following screenshot is of the speciality proteins for a genome. It is not obvious what version of CARD this was generated from.  I think that it should be listed either in the table or side bar.

![image](https://user-images.githubusercontent.com/7661533/28072100-87778254-6617-11e7-9278-d5cf0c052fe4.png)

[2017-07-12 04:23] mshukla1 opened #1586 "sequence tab: link genome id to genome overview page"
From the sequence tab, when I select a sequence and look at the summary panel on right, the genome id is not linked to the corresponding genome overview page.

-Maulik

<img width="1439" alt="screen shot 2017-07-11 at 11 20 31 pm" src="https://user-images.githubusercontent.com/1236463/28101688-be8bc26e-668f-11e7-9f94-4299d595a6dd.png">

[2017-07-12 12:42] hyoo opened #1587 "Is Borreliella a new Borrelia?"
I was reading about lyme disease this morning and became curios about how many borrelia genomes we have. So went to,

https://www.patricbrc.org/view/Taxonomy/138#view_tab=overview

and found no Borrelia burgdorferi. But when i do a global search

https://www.patricbrc.org/search/?and(keyword(Borrelia),keyword(burgdorferi))

I found 48 Borrelia burgdorferi genomes.

And here is why,

https://www.pa

[2017-07-12 12:55] hyoo commented on #1587
https://atlasofscience.org/lyme-disease-causing-borrelia-are-genetically-distinct-from-their-relapsing-fever-causing-cousins/

it says, borreliella is a group of lyme-disease casuing borrelia genomes.

[2017-07-12 13:29] dawenx commented on #1586
Just wanted to make sure: currently user can click on "Genome" button on the action bar to go to genome overview page and you want the add link to genome id on the summary panel to go to the same genome overview page?

[2017-07-12 13:34] dawenx commented on #1586
Got it, will work on it.

[2017-07-12 15:17] dawenx commented on #1586
this is fixed, pull request to develop branch submitted.

[2017-07-12 19:13] nconrad commented on #1583
Should be fixed on alpha.

[2017-07-12 19:13] #1583 closed, assigned to zreyn

[2017-07-12 19:15] nconrad commented on #1553
This is obsolete because the object selector always goes to the user's list of workspaces (when first opened).  On alpha

[2017-07-12 19:15] #1553 closed, assigned to nobody

[2017-07-13 13:00] jimdavis1 opened #1588 "I cant see the STDERR output of a failed job"
Note that it is rendered offscreen and i cannot make the window wide enough to see it.

![image](https://user-images.githubusercontent.com/7661533/28167465-556d0b18-67a1-11e7-827a-ee597480e07d.png)

[2017-07-13 13:20] jimdavis1 opened #1589 "I'd like to be able to copy and paste path names from the workspace"
I can't highlight and copy the path.  Or a  the contents of a cell in the table.

![image](https://user-images.githubusercontent.com/7661533/28168219-ffc2f418-67a3-11e7-8899-020ae640f4a1.png)

[2017-07-13 13:48] dmachi commented on #1589
You can copy both of these pieces of data from the detail panel on the right.

Dustin

[2017-07-13 14:13] chmao1 commented on #1569
Implemented and available on alpha for testing.

[2017-07-13 14:15] chmao1 commented on #1561
Made the initial search text box bigger and the search text box grow with the window width. This is available on alpha for testing.

[2017-07-13 14:16] chmao1 commented on #1557
Implemented and available on alpha for testing.

[2017-07-13 15:23] jimdavis1 opened #1590 "we need a specialty proteins download file."
![image](https://user-images.githubusercontent.com/7661533/28173788-162038ae-67b5-11e7-9dc3-06ff3b8ffa9d.png)

[2017-07-13 15:25] jimdavis1 opened #1591 "PATRIC AMR genes are not visible on Specialty genes tab"
![image](https://user-images.githubusercontent.com/7661533/28173924-98494a46-67b5-11e7-870d-b99b69f216ba.png)

[2017-07-13 15:26] jimdavis1 opened #1592 ""Specialty Genes" tab should be renamed "Specialty Proteins""
Note that the left-hand column is all BLASTP.

![image](https://user-images.githubusercontent.com/7661533/28173944-a91caa16-67b5-11e7-846c-9a77ce0ed2b0.png)

[2017-07-13 17:29] chmao1 opened #1593 "MSA: add MSA button in the green action bar when subset of features are selected MSA tree"
This will allow launching another MSA directly from the current MSA result when subset features are selected.

[2017-07-13 20:18] chmao1 commented on #1546
available in production.