[2017-07-13 20:18] #1546 closed, assigned to chmao1

[2017-07-13 20:20] chmao1 commented on #1556
available in production.

[2017-07-13 20:20] #1556 closed, assigned to chmao1

[2017-07-13 20:21] chmao1 commented on #1560
available in production.

[2017-07-13 20:21] #1560 closed, assigned to chmao1

[2017-07-13 20:22] chmao1 commented on #1563
available in production.

[2017-07-13 20:22] #1563 closed, assigned to chmao1

[2017-07-13 20:25] chmao1 commented on #1559
available in production.

[2017-07-13 20:25] #1559 closed, assigned to chmao1

[2017-07-14 14:11] dawenx commented on #1562
Can you provide a screen shot on where you want to launch MSA? There's no problem to launch it from Feature List View page, but that's probably not what you mean.

[2017-07-14 15:35] chmao1 commented on #1565
#1593

[2017-07-17 12:47] olsonanl opened #1594 "No side panel on smaller screen"
On my 13" mac with a safari window nearly full screen (but for the dock) I don't get the right-side action bar, just the add to group icon peeking over things on the right.

![screen shot 2017-07-17 at 7 46 28 am](https://user-images.githubusercontent.com/2152226/28268505-21da2cec-6ac4-11e7-8a5d-a8614a972621.png)

[2017-07-17 12:51] mshukla1 commented on #1594
We don’t have right side green action bar on the feature overview page!

Did you attach the right screenshot or am I missing something?

-Maulik

[2017-07-17 14:04] olsonanl commented on #1594
Hm. I guess I was expecting it to be there so that I could take actions on that feature.

[2017-07-17 14:24] dmachi commented on #1594
Since there is nothing to ‘select’ on that page, there is no green (selection) bar.  All of the actions available would be in that section where add to group is.  Additional actions (the equivalent to selecting a single feature on a Feature Grid) could be added to there to cover the other actions, but aren’t currently there.

[2017-07-17 14:33] chmao1 opened #1595 "Phylogeny: Downloading Tree SVG gives wrong image"
For example: downloading tree SVG from the page https://www.patricbrc.org/view/Taxonomy/1763#view_tab=phylogeny
gave the wrong image:

![image](https://user-images.githubusercontent.com/6361802/28273055-3d07e6c8-6adb-11e7-8f60-725a79112a84.png)

[2017-07-17 14:49] chmao1 commented on #1595
After refreshing the page, the correct tree is downloaded. However the format looked weird.
![image](https://user-images.githubusercontent.com/6361802/28273913-805e43a2-6add-11e7-9c95-2bd258e2d1b1.png)

[2017-07-17 14:49] mshukla1 commented on #1594
The action bar usually works with the selection in tables and, as of now, there is
no select function on the feature page.

Single feature level actions, such as download na/aa sequences and add to group
actions are available from the page in other ways.

Did you have some specific actions in mind which not available on the page?

-M

[2017-07-17 14:57] mshukla1 commented on #1587
Harry, we have known about this taxonomy change for about a year now, I send out an email
when it happened. But, we didn't take any specific actions on the website.

I think correct thing to do it to replace "Borrelia" with "Borreliella" in the the organism menu in the top nav bar.

We can ask Rebecca / Veronika during Jam session and make the change if no objections.

-Maulik

[2017-07-17 14:58] mshukla1 commented on #1587
BTW, data is fine and as expected. There is no change needed on from the data side.

-Maulik

[2017-07-17 15:04] mshukla1 commented on #1592
It is not all blastp anymore. we do have essential genes predicted by flux balance analysis and now PATRIC AMR genes predicted based on k-mer search.

We have been calling it "specialty genes" for more than 5 years now and has been mentioned in multiple publications. It doesn't make much sense to change it at this point.

[2017-07-17 15:05] mshukla1 commented on #1592
besides, genes and proteins are often used interchangeably when it comes to microbes.

[2017-07-17 15:06] #1592 closed, assigned to nobody

[2017-07-17 15:46] mshukla1 commented on #1595
Strange!

When I downloaded SVG, I did get phylogenetic tree, but it looks horrible!! :(

[2017-07-17 16:16] hyoo opened #1596 "grid selection is broken when user logged out"
![image](https://user-images.githubusercontent.com/1236467/28277952-0aa57640-6ae1-11e7-9671-2bebbebf474b.png)

https://www.alpha.patricbrc.org/view/Taxonomy/83332#view_tab=subsystems

This happens on subsystem view, but I guess this will be the wide spread problem.

The cause was, it is trying to compare with window.App.user.id but, when user is not logged out, window.App.user is not available. We

[2017-07-17 17:03] mshukla1 opened #1597 "Workspace: can't access job result after moving to a different location"
....adding here for tracking.

Neal,

I did some data analysis for our collaborator in Thailand.
I created a directory in my home workspace, uploaded reads,
and then assembled and annotated their genomes.

I wanted to share this folder with them. So, I moved it to my
the root folder as another workspace. After that, I when to that
new workspace and clicked on one of my job result file, the job
res

[2017-07-17 17:41] dmachi commented on #1597
The Job Listing only has the path to the filename/location where the Job was originally saved to.  Once moved, that path will no longer be the same and any linking to it will fail.   There is currently no way to update a Job reference (from the app_service) to associate it with a new location.

The best short term fix we can accomplish would be to disallow ‘move’ for JobResults.  We could still al

[2017-07-17 17:50] chmao1 commented on #1595
The wrong image only happens when you load the phylogeny tab for the first time.

[2017-07-17 17:50] nconrad commented on #1597
Right.  Bob says the job result viewer should alleviate this issue--I assume by using relative paths and listing all the contents of the .folder instead?

[2017-07-17 17:57] dmachi commented on #1597
From Job Results file using a relative link to the . folder works.  But from the Job list (/Jobs) it doesn’t know a path to the Job File itself.  It gets that information from the parameters supplied to launch the Job.

[2017-07-18 14:36] ARWattam opened #1598 "Unable to load feature group in alpha"
I tried to load one of my feature groups and got the following error

VM43:452 Mixed Content: The page at 'https://www.alpha.patricbrc.org/' was loaded over HTTPS, but requested an insecure image 'http://enews.patricbrc.org/wp-content/uploads/2017/06/2012_Duke_UNC1_SMALL.png'. This content should also be served over HTTPS.
VM43:475 Mixed Content: The page at 'https://www.alpha.patricbrc.org/' was

[2017-07-18 14:48] ARWattam opened #1599 "svg file for tree download has weird branches"
I expected to see a standard tree, but what I saw was this:
<img width="404" alt="screen shot 2017-07-18 at 9 46 20 am" src="https://user-images.githubusercontent.com/11475316/28323364-2e1b2364-6b9e-11e7-8698-6cb15c53aa14.png">

[2017-07-18 14:53] mshukla1 opened #1600 "MSA: weblogo disappears after filtering"
I applied filtering of columns based on percent threshold, it hides columns, but then the web logo disappears.

I understand that we have tried to make this work and there are some issues. This is not critical for the release, but it will be nice if we can make it work at some point.

-Maulik

[2017-07-18 14:54] ARWattam opened #1601 "MSA viewer-not seeing information on single gene that has been selected"
The gene information should appear beyond the green bar.
<img width="1427" alt="screen shot 2017-07-18 at 9 53 37 am" src="https://user-images.githubusercontent.com/11475316/28323691-23ad9032-6b9f-11e7-91f8-ee187346fc7c.png">

[2017-07-18 14:59] ARWattam opened #1602 "MSA viewer - png needs to be disabled"
The png does not give the species or tell you where in the alignment it is.  In its current form, it is unusable.  I suggest that we disable it.
![patric_msa 3](https://user-images.githubusercontent.com/11475316/28323922-c36d42a2-6b9f-11e7-9636-78df32ec5725.png)

[2017-07-18 15:11] mshukla1 opened #1603 "MSA: change filter labels"
Change the filter labels as following:

Hide columns by % conservation (>=)
Hide columns by % conservation (<=)
Hide columns by % gaps (>=)
Hide columns by % gaps (<=)

Please also display the same message on the pop up box.

<img width="207" alt="screen shot 2017-07-18 at 10 07 48 am" src="https://user-images.githubusercontent.com/1236463/28324451-0c60208c-6ba1-11e7-9286-22052417efbd.png">

[2017-07-18 15:13] mshukla1 opened #1604 "MSA: apply filters progressively"
It would be nice to have functionality that supports applying filters progressively or in combination.

i.e. hide columns where % conservation <=20 and >=100

This is not critical, but nice to have.

-Maulik

[2017-07-18 15:15] mshukla1 opened #1605 "MSA: use patric ids / refseq locus tags in downloads"
When I download MSA in clustal or fasta format, it contains internal feature ids, which are not that meaningful for the users.

Please use patric_id and/or refseq_locus_tag instead.

The same applies to the tree newick download as well.

-Maulik

[2017-07-18 15:20] hyoo commented on #1598
s.getText @ dojo.js.uncompressed.js:324
2p3.theseed.org/services/Workspace Failed to load resource: the server responded with a status of 500 (Internal Server Error)

this is relevant error. Others are related to home page.

[2017-07-18 15:27] mshukla1 opened #1606 "MSA: change labels in id selection menu"
In ID selection Menu, change the labels to the following:

Organism Name => Genome name

PATRIC ID => Gene ID  OR "PATRIC ID / Locus tag" (because it actually shows PATRIC id or refseq locus tag, depending on annotation source )

<img width="115" alt="screen shot 2017-07-18 at 10 23 46 am" src="https://user-images.githubusercontent.com/1236463/28325367-3e4fd216-6ba3-11e7-9fe9-8052e0d04d33.png">

[2017-07-18 15:34] vvons opened #1607 "Lost source"
feature view lost "PATRIC" as source compared to the genome view page

https://www.alpha.patricbrc.org/view/Feature/PATRIC.500632.7.NZ_DS995603.CDS.2118.2978.rev

[2017-07-18 15:38] mshukla1 opened #1608 "Remove the links for GI numbers"
Remove the linkouts for GI numbers from feature table side panel and from feature overview pages, as they are obsolete now.

-Maulik

[2017-07-18 15:52] hyoo commented on #1607
Thanks for reporting.
fixed. will be deployed on alpha soon.

[2017-07-18 15:57] hyoo commented on #1608
fixed. will be deployed on alpha soon.

[2017-07-18 16:06] mshukla1 opened #1609 "Genome metadata: don't show time in collection date"
<img width="318" alt="screen shot 2017-07-18 at 11 05 45 am" src="https://user-images.githubusercontent.com/1236463/28327444-12b4717e-6ba9-11e7-8d06-a1294fa8cab3.png">

[2017-07-18 16:13] mshukla1 opened #1610 "Genome metadata edit: change message"
When the metadat is submitted, a green box pops up at the left bottom

Change the message to "Genome metadata updated"

<img width="214" alt="screen shot 2017-07-18 at 11 12 34 am" src="https://user-images.githubusercontent.com/1236463/28327786-120a8500-6baa-11e7-835b-c49beb7612bd.png">

[2017-07-18 16:17] mshukla1 opened #1611 "Genome metadata update: use auto suggestion for host and isolation country"
Use auto suggestion for host name and isolation country  based on the already available values in the database.

-M

[2017-07-18 16:32] mshukla1 commented on #1597
<img width="1070" alt="screen shot 2017-07-18 at 11 31 47 am" src="https://user-images.githubusercontent.com/1236463/28328651-d174fbbc-6bac-11e7-9f8e-8f29294d00dc.png">

[2017-07-18 17:02] dmachi commented on #1597
What are we supposed to see in this image Maulik?

[2017-07-18 18:09] mshukla1 commented on #1597
The job header part is not being displayed, i.e. job start / end times, and list of parameters.

I have shown it to both Zane and Neal.

[2017-07-18 18:35] hyoo commented on #1595
fixed by
https://github.com/PATRIC3/p3_web/commit/926bcbe2f01ab48526cfe8b23ddf692c51c93ec3

[2017-07-18 18:37] hyoo commented on #1599
fixed by
https://github.com/aswarren/phyloview/commit/d7c2dfd075d93100a3a54bb2c1710d4dbf2dbfb5

and available on alpha.

[2017-07-18 18:41] hyoo commented on #1568
fixed.

#1599

[2017-07-18 18:41] #1568 closed, assigned to aswarren, chmao1

[2017-07-20 16:29] #1607 closed, assigned to hyoo

[2017-07-20 16:29] #1608 closed, assigned to hyoo

[2017-07-20 18:40] hyoo commented on #1555
There is a "Members" button in the action bar.

[2017-07-20 18:40] #1555 closed, assigned to nobody

[2017-07-20 18:43] hyoo commented on #1566
yes, this was due to the bug introduced by workspace2.0. The grid selection was not working when you logged out. It worked for me, since i was logged in. We have addressed this issue and available on alpha.

[2017-07-20 18:43] #1566 closed, assigned to nobody

[2017-07-20 18:53] hyoo opened #1612 "my job file disappeared after changing name!"
I was testing renaming again. here is a list of actions

1. select one of my job ("my second job") and click "rename" button
2. in the dialog, i changed it to "my second job2" and double clicked "rename" button. yes, intentionally double clicked.
3. saw the file name changed correctly. so far so good.
4. i wanted to change back. clicked "my second job2" and removed 2 at the end. click "rename" but

[2017-07-20 18:59] hyoo opened #1613 "what happened on my old jobs?"
This is diff import file that i imported this year.

![image](https://user-images.githubusercontent.com/1236467/28433993-6991004c-6d53-11e7-8a4f-d4ec043fea6d.png)

this is something that i uploaded back in 2014.

it still works to launch "genes" button. but show nothing when i double click the job.

![image](https://user-images.githubusercontent.com/1236467/28434015-862bbf4e-6d53-11e7-98a7-63825f1

[2017-07-20 19:00] hyoo commented on #1613
i guess this is related to job result viewer (@zreyn), but ccing @nconrad as well.

[2017-07-20 22:19] nconrad commented on #1612
Yeah, there is strange service behavior if you call `copy` (with 'move' = true) twice.   I should be able to guard against this by disabling the 'rename' button after the first click... but that won't fix the state of your workspace.

There must be some kind of race conditions in the service, which @olsonanl probably knows about.  @olsonanl, if you want a specific example, I can no longer create a

[2017-07-21 17:46] #1542 closed, assigned to hyoo

[2017-07-24 14:40] zreyn commented on #1597
Looking into this more, Dustin is right.  This is not fixable by relative paths.  I think we'd have to copy or create a link to the original job file when moving.  I don't think either are a particularly good idea.

We could potentially put a band-aid on this by having the JRV recognize it and put a better message to the user (i.e. this job was run from another workspace) or preventing the move of

[2017-07-24 16:42] hyoo commented on #1398
We have downloaded new kegg map data. Need to work on integration.

[2017-07-24 16:51] hyoo commented on #1391
working on pdf version and will add to the tutorial page.

[2017-07-24 16:52] hyoo commented on #1435
This is a bug from grid container and a wide spread problem.

[2017-07-24 17:41] hyoo commented on #1587
I will change to Borreliella.

[2017-07-24 17:42] hyoo commented on #1525
fixed and available on prod.

[2017-07-24 17:42] #1525 closed, assigned to dmachi

[2017-07-24 17:46] hyoo commented on #1484
@olsonanl would you describe what is happening in more detail? Did you add space in the path? Is it at the end or in the middle?

[2017-07-24 17:48] olsonanl commented on #1484
Look at the directory name - "SPACE DIR"

[2017-07-24 17:49] chmao1 commented on #1604
Implemented and made a pull request

[2017-07-24 17:50] olsonanl commented on #1484
It's still doing it, btw.
![screen shot 2017-07-24 at 12 49 52 pm](https://user-images.githubusercontent.com/2152226/28536884-a46f6a46-706e-11e7-9e3e-240383940151.png)

[2017-07-24 18:13] hyoo commented on #1023
![image](https://user-images.githubusercontent.com/1236467/28537515-c688217a-7070-11e7-9033-41d578338122.png)

Actually, this is what we designed for partial matching and there is no way to restrict to the exact match.

[2017-07-24 18:13] #1023 closed, assigned to hyoo

[2017-07-24 18:18] hyoo commented on #1297
![image](https://user-images.githubusercontent.com/1236467/28538071-8f17e5fc-7072-11e7-8e72-0a9282ac3597.png)

[2017-07-24 18:20] hyoo commented on #1297
![image](https://user-images.githubusercontent.com/1236467/28538133-c877ca1a-7072-11e7-8f7a-021042219101.png)

I cannot reproduce this problem.

The only way i can do is adding the same genome in second time.

![image](https://user-images.githubusercontent.com/1236467/28538184-fc8652ea-7072-11e7-8816-051e31b12516.png)

Whenever i tried with new genome, it worked.

[2017-07-24 18:35] #1587 closed, assigned to hyoo

[2017-07-24 18:47] nconrad commented on #1597
Update:  @zreyn, @dmachi, and I talked about this and they came up with a fix.  @zreyn should have a PR before the release tomorrow.

[2017-07-24 19:31] zreyn commented on #1597
Chatted with Dustin and Neal and agreed upon relying on the accompanying hidden folder.
 https://github.com/PATRIC3/p3_web/pull/491

[2017-07-24 20:29] hyoo commented on #1391
available on alpha. will be deployed by July release.

[2017-07-25 02:42] nconrad commented on #1484
Looks like this didn't have anything to do with spaces--a function just wasn't being called properly.  Fixed in latest PR.
 https://github.com/PATRIC3/p3_web/pull/493/commits/a9a00f94e34d1137957164792da49ff304ddfdd7#diff-9a563bd8704b4d7dc42a4aa376df80aaR117

[2017-07-25 17:09] olsonanl commented on #1484
OK, cool. It apparently manifested itself in paths with spaces though.

[2017-07-25 17:13] olsonanl commented on #1612
The workspace service is riddled with potential race conditions. It needs a lot of work.

[2017-07-25 17:41] nconrad commented on #1612
Should be fine UI-wise.  I put a ticket here:  PATRIC3/Workspace#60

[2017-07-25 17:44] nconrad commented on #1484
Should have been any contigs, as far as I could tell.

[2017-07-25 19:27] #1557 closed, assigned to chmao1

[2017-07-25 19:53] olsonanl opened #1614 "genome groups in tree service"
In the tree service submission app the genome groups dropdown doesn't work properly (doesn't auto fill genome group names, and I need to know where to go in the hierarchy to find my genome groups).

When I do find a genome group, clicking the + button doesn't do anything.

[2017-07-25 20:23] dawenx commented on #1614
Are you reporting issue for below link?
https://www.alpha.patricbrc.org/app/PhylogeneticTree

This particular part works for my local copy which is written before the new workspace.

@nconrad @hyoo @zreyn This problem is related to WorkspaceObjectSelector (not sure who should be mentioned), I can see below pages on alpha have the same issue:
https://www.alpha.patricbrc.org/app/SeqComparison
https:

[2017-07-25 20:33] dawenx opened #1615 "WorkspaceObjectSelector is not working"
This was reported in #1614, I created this new ticket because the problem is not just for tree service. We CAN NOT do July release with this problem: it breaks lots of services, for example, selecting genome group or feature group is not working:
https://www.alpha.patricbrc.org/app/PhylogeneticTree
https://www.alpha.patricbrc.org/app/SeqComparison
https://www.alpha.patricbrc.org/app/ProteinFamily

[2017-07-25 20:34] #1534 closed, assigned to nconrad

[2017-07-25 20:34] #1535 closed, assigned to nconrad

[2017-07-25 20:34] #1558 closed, assigned to nconrad

[2017-07-25 20:34] #1596 closed, assigned to nconrad

[2017-07-25 20:34] #1609 closed, assigned to nconrad

[2017-07-25 20:34] #1529 closed, assigned to hyoo

[2017-07-25 21:27] nconrad commented on #1615
should be addressed in https://github.com/PATRIC3/p3_web/pull/500.

[2017-07-25 21:28] nconrad commented on #1614
should be addressed in https://github.com/PATRIC3/p3_web/pull/500 , but could maybe use some help testing, making sure entire form works.

[2017-07-25 22:14] ARWattam opened #1616 "Not able to choose more than one group in phylogenetic tree service"
Can choose multiple private genomes, but only one group at a time.  Users may want to add more than one group.

[2017-07-26 13:09] dawenx commented on #1616
User should be able to add more than one group when total number of genome does not exceed max allowed number (50 for Ingroup and 5 for Outgroup). Also, a genome or genome group CANNOT be placed in both ingroup and outgroup table.

If you can share the 2 groups you wanted to add, I can look into it as I only have limited testing group in my workspace.

[2017-07-26 13:12] dawenx commented on #1614
Verified tree service page works as expected, but I did not submit it as I'm not sure whether the back-end is ready or not.

@olsonanl  I cannot reproduce the issue on + button for adding genome group, can you try again and let me know whether this issue is still there?

[2017-07-26 13:20] olsonanl commented on #1614
It worked for me just now; I'll try again today on my other system and see if it does it again.

[2017-07-26 13:24] dawenx commented on #1614
Thanks Bob, if there's a problem, I will blame WorkspaceObjectSelector :)

[2017-07-26 16:23] #1391 closed, assigned to hyoo

[2017-07-26 18:21] #1612 closed, assigned to nconrad

[2017-07-26 18:22] #1610 closed, assigned to nconrad

[2017-07-26 18:22] #1572 closed, assigned to nconrad

[2017-07-26 18:22] #1548 closed, assigned to nconrad

[2017-07-26 18:22] #1539 closed, assigned to nconrad

[2017-07-26 18:22] #1532 closed, assigned to nconrad

[2017-07-26 18:22] #1484 closed, assigned to nconrad

[2017-07-26 18:22] #1381 closed, assigned to nconrad

[2017-07-26 18:23] #1526 closed, assigned to nconrad

[2017-07-26 18:23] #1554 closed, assigned to nconrad, olsonanl

[2017-07-26 18:24] nconrad commented on #1597
Looks great!

[2017-07-26 18:24] #1597 closed, assigned to nconrad, zreyn

[2017-07-27 13:59] hyoo opened #1617 "IE user could not see public workspace items"
in workshop

[2017-07-27 14:17] hyoo opened #1618 "workspace job result viewer needs a loading messgage"
in workshop, we're showing assembly result report.txt file, clicked view button, it took a few seconds to load content of the file. it would be nice to have some information that we are loading content.

[2017-07-27 17:37] hyoo opened #1619 "job result viewer: shortcut to genome overview page when it is an annotation job"
during the workshop, we noticed that it would be much easier to get to overview page from the job result list. Maybe we can check whether it is an annotation job and if so, we can activate "G" button to get to genome overview page.

[2017-07-27 18:29] #1614 closed, assigned to dawenx

[2017-07-27 18:29] #1615 closed, assigned to nobody

[2017-07-27 18:58] nconrad commented on #1097
Obsolete/fixed with latest release.

[2017-07-27 18:58] #1097 closed, assigned to nconrad

[2017-07-27 19:11] nconrad commented on #836
I haven't seen this issue with encoded spaces yet, but we have seen duplicate folders/object issues before.  I'll close this ticket because the issue is referenced here: https://github.com/PATRIC3/Workspace/issues/22

[2017-07-27 19:11] #836 closed

[2017-07-27 19:13] #520 closed

[2017-07-28 14:00] #1586 closed, assigned to dawenx

[2017-07-28 14:46] hyoo opened #1620 "cannot add private expression experiment to experiment group"
We used to allow users to add private transcriptomics experiment to experiment  group so that people can view their private experiment with public ones. for some reason, "add to group" button doesn't show up.

[2017-07-28 15:28] zreyn commented on #1302
Closing this in favor of the related issue:
https://github.com/PATRIC3/patric3_website/issues/1159

[2017-07-28 15:28] #1302 closed, assigned to zreyn

[2017-07-28 15:34] hyoo opened #1621 "remove old url dependency"
i come across some hard-coded urls that contain old PATRIC urls.

We need to replace with new url pattern.

[code]

[2017-07-28 15:40] #1606 closed, assigned to chmao1

[2017-07-28 15:40] #1603 closed, assigned to chmao1

[2017-07-28 15:42] #1599 closed, assigned to nobody

[2017-07-28 15:42] #1595 closed, assigned to chmao1

[2017-07-28 15:46] zreyn commented on #1159
Looking into this, the recent Job Result viewer changes don't materially change the way the links are generated.

Here's where they are generated:
1) https://github.com/PATRIC3/p3_web/blob/cea6032ef32fdb34305f4360e2fc20dc8a749217/public/js/p3/widget/WorkspaceBrowser.js#L270-L277

2) https://github.com/PATRIC3/p3_web/blob/cea6032ef32fdb34305f4360e2fc20dc8a749217/public/js/p3/WorkspaceManager.js#L34

[2017-07-28 15:47] zreyn commented on #1613
I believe this has been fixed by https://github.com/PATRIC3/p3_web/pull/491

[2017-07-28 15:47] #1613 closed, assigned to nconrad, zreyn

[2017-07-28 15:57] #1536 closed, assigned to chmao1

[2017-07-28 15:58] #1561 closed, assigned to chmao1

[2017-07-28 15:59] hyoo commented on #1523
please update here when you have one.

[2017-07-28 16:29] hyoo commented on #1293
verified on production.

[2017-07-28 16:29] #1293 closed, assigned to chmao1

[2017-07-28 16:36] hyoo opened #1622 "need a different copy icon for "copy to clip board" from grid"
![image](https://user-images.githubusercontent.com/1236467/28726816-b2e8343e-7390-11e7-8b46-9e52bbd0e2b4.png)

Now we have "Copy" function on workspace and we are using same icon for two different functions.  I think this button would make more sense if we use clipboard icon.

https://www.google.com/search?q=icon+clipboard+copy&tbm=isch&tbo=u&source=univ&sa=X&ved=0ahUKEwjl9-SztKzVAhWi6oMKHcReAIgQs

[2017-07-28 16:38] hyoo commented on #1593
you can deselect.

[2017-07-28 16:38] #1593 closed, assigned to chmao1

[2017-07-28 16:38] #1601 closed, assigned to chmao1

[2017-07-28 16:39] hyoo commented on #1602
deployed by July release

[2017-07-28 16:39] #1602 closed, assigned to chmao1

[2017-07-28 16:39] hyoo commented on #1604
deployed in July 2017 release

[2017-07-28 16:39] #1604 closed, assigned to chmao1

[2017-07-28 16:40] hyoo commented on #1565
you can deselect using command (or control) button.

[2017-07-28 16:40] #1565 closed, assigned to chmao1

[2017-07-28 16:40] hyoo commented on #1569
deployed by July release

[2017-07-28 16:40] #1569 closed, assigned to chmao1

[2017-07-28 16:53] hyoo commented on #1490
i tried new new user account and worked well. i guess we resolved this issue when we revamped the workspace.

[2017-07-28 16:53] #1490 closed, assigned to nobody

[2017-07-28 17:25] nconrad commented on #1622
oh yeah, I noticed this too.  +1 for clipboard icon.

[2017-07-28 17:27] zreyn commented on #1618
PR for fix: https://github.com/PATRIC3/p3_web/pull/506

[2017-07-28 18:50] zreyn commented on #841
For full table:

1) Not random exactly, but in the order of the keys in the selected items.  We could sort, but I don't think alphabetical is really what a user would want to see either.  I'm guessing that this is defined somewhere already to show the grid / in the plus button drop down.  I'll see if I can find it to apply the same ordering.

2) We can create a "black list" of keys that we don't w

[2017-07-28 20:13] zreyn commented on #1622
Swapped icon in PR: https://github.com/PATRIC3/p3_web/pull/506

[2017-07-31 14:42] olsonanl commented on #1159
does this mean the downloads no longer trigger the extra empty window and popup warnings? If so that is excellent news. that's always been an really annoying feature.

[2017-07-31 14:43] olsonanl commented on #1159
BTW if we can get the cookie issue determined we can indeed make the extra call to get download url go away except in the cases where one wants to export a workable download link to something that won't/can't provide the cookie.

[2017-07-31 17:19] olsonanl opened #1623 "Cannot tab into username/pw fields in login"
When I click the login button, the login textbox does not have focus and I cannot tab into it (nothing ever seems to get focus).

[2017-08-06 19:56] ARWattam opened #1624 "Access to job files in a public workspace from the app file selector"
Although a gmx file exists in the public workspace, you can't load it from file selector used in the app as it cannot see into job folders that are publicly shared.

[2017-08-08 13:50] jimdavis1 opened #1625 "How many files are in this workspace directory?"
![image](https://user-images.githubusercontent.com/7661533/29074964-a625e5a0-7c16-11e7-999b-54aa703f77e2.png)

[2017-08-08 16:53] jimdavis1 opened #1626 "Cant download fasta file for private genome"
I want the fasta file corresponding to these pegs:

![image](https://user-images.githubusercontent.com/7661533/29083973-2eed3f8c-7c30-11e7-89a0-34e9942e1174.png)

[2017-08-08 16:56] jimdavis1 opened #1627 "workspace needs a find option"
I have ~2000 annotated genomes in this workspace directory. I wish to find the job directory for strain KPN877ec.  How do I do that with out scrolling through them all?

![image](https://user-images.githubusercontent.com/7661533/29084095-8ec81e22-7c30-11e7-8efd-ea72c04e0174.png)

[2017-08-08 17:07] nconrad commented on #1624
I have this on my todo for next week.

[2017-08-10 16:15] ARWattam opened #1628 "No check boxes in phylogenetic tree service"
I am trying to build a tutorial for next week's workshop.  There are not check boxes to differentiate between the different types of genomes when you are trying to select individual genomes to load.  Could this please be fixed ASAP?
![screen shot 2017-08-10 at 12 13 36 pm](https://user-images.githubusercontent.com/11475316/29180366-9dfea1ae-7dc5-11e7-9a71-c070c917aaa5.png)

[2017-08-10 16:17] ARWattam commented on #1628
Sorry.  REalized that I was working on alpha. It has bewen fixed.

[2017-08-10 16:27] ARWattam opened #1629 "Can't add outgroup in phylogenetic tree building service on production-URGENT"
Clicking the Plus icon for outgroup does nothing, although it does work well for ingroup genomes
![screen shot 2017-08-10 at 12 25 11 pm](https://user-images.githubusercontent.com/11475316/29180927-51279bfe-7dc7-11e7-8aa9-c479be23df57.png)
.  I need this before the workshop next week!  Could this be fixed ASAP?

[2017-08-10 16:34] hyoo commented on #1629
does this genome group have more than 5 genomes?

On Aug 10, 2017, at 11:27 AM, ARWattam <notifications@github.com<mailto:notifications@github.com>> wrote:

Clicking the Plus icon for outgroup does nothing, although it does work well for ingroup genomes
[screen shot 2017-08-10 at 12 25 11 pm]<https://user-images.githubusercontent.com/11475316/29180927-51279bfe-7dc7-11e7-8aa9-c479be23df57.png>
. I

[2017-08-10 16:36] ARWattam commented on #1629
It has 6.  Is there a limit for 5?
I noticed that I can add genomes individually
![screen shot 2017-08-10 at 12 35 35 pm](https://user-images.githubusercontent.com/11475316/29181262-81a39ec6-7dc8-11e7-83b4-8f2fef6b691e.png)

[2017-08-10 16:37] jimdavis1 opened #1630 "Need to be able to do password reset by username"
![image](https://user-images.githubusercontent.com/7661533/29181300-488cdc36-7dc0-11e7-91ba-71d6e713ec4c.png)

[2017-08-10 16:38] ARWattam commented on #1629
Okay...now I see that its 5 genomes.  I thought that it had been decided to have more, but I personally like the 5 option.  Guess I got greedy.

[2017-08-10 16:41] jimdavis1 commented on #1630
It would also be really good if you sent the username in the registration name.

[2017-08-10 18:00] ARWattam opened #1631 "If I hit reset on the tree building service, I am unable to resubmit"
If one wants to resubmit the same groups and try all possible combinations for the tree building service (which I did), you can reset, but the submit button is not enabled when you do it.  This means you have to go away from the page, go back to Services-Phylogenetic trees, and start again.  Frustrating.
<img width="508" alt="screen shot 2017-08-10 at 1 57 55 pm" src="https://user-images.githubuse

[2017-08-11 11:35] ARWattam opened #1632 "Why in the world are we showing the parameters this way in the workspace job view?"
Not that I think its a bad thing...but as a biologist, I am bemused by seeing this parameters section at the top of my job when I am trying to view it.  I think we could come up with a better way of summarizing the parameters than showing it this way?  It takes up a lot of room and distracts the eye from seeing the downloads below.  Maybe we could make it clickable, if its really necessary?
<img w

[2017-08-11 14:01] dawenx commented on #1628
This is using GenomeNameeSelector, if it has problem, it will affect multiple services. I'm closing this ticket since it is false alarm.

[2017-08-11 14:01] #1628 closed, assigned to nobody

[2017-08-11 14:06] dawenx commented on #1629
We set the limit to 50 genomes for ingroup and 5 for outgroup. We can change it if we want, but that's what we decided.

[2017-08-11 14:21] ARWattam opened #1633 "Need to be able to see the size of files in the public workspace."
There are no options that show the size of files in the public workspace.  That would be helpful.
<img width="846" alt="screen shot 2017-08-11 at 10 17 13 am" src="https://user-images.githubusercontent.com/11475316/29217103-c0071ce0-7e7e-11e7-900f-00d8b71dddc9.png">

[2017-08-11 14:36] dawenx commented on #1631
There's a problem in resetting and I will work on the fix, but you might not like my fix: generally the 'reset' is supposed to take you back to the same place as if the page had just been loaded. In another words, you have to fill in everything (including ingroup/outgroup) after you click on 'reset', is that OK?

[2017-08-11 14:41] ARWattam commented on #1632
Okay, having said that, I just used the parameters to figure out what algorithm I used to run the tree job.  So it is useful, but not very understandable.  Could we summarize the parameters for the user (like FastTree with progressive refinement, or RaxML with no refinement)?  That would make it a bit clearer as to what is going on.

[2017-08-11 14:50] ARWattam opened #1634 "Lets change default for tree to FastTree with no refinement"
I've done a small analysis on the time it takes for the trees to run, and I suggest that we reset the defaults for the phylogenetic tree so that users can get some returns in a reasonable time, with the ability for them to scale up if they desire.

[2017-08-11 14:59] ARWattam commented on #1634
I also think that we need to have a serious discussion about how many genomes users can compare at a time, or expanding the computational resources to handle tree building.  I started a series of trees with the same genomes and all possible parameters.  There were 22 ingroup genomes, and 5 outgroup genomes, and the ingroup genomes were all Escherichia.  When I run this tree at Va Tech, it might ta

[2017-08-11 15:24] dawenx commented on #1634
I made the change on the submission GUI and submit a pull request. @hyoo

[2017-08-11 16:01] ARWattam opened #1635 "Why are there 2 Download icons in the vertical green bar on the production website in the Workspace-Genome Groups view."
This is a bit confusing.
<img width="1182" alt="screen shot 2017-08-11 at 12 00 17 pm" src="https://user-images.githubusercontent.com/11475316/29221451-ce708970-7e8c-11e7-9ced-23114a45f73e.png">

[2017-08-11 17:43] mshukla1 commented on #1635
It's for back up, in case the first icon doesn't work!

...just kidding, I find it strange too!

Sent from my iPhone

[2017-08-11 17:46] mshukla1 commented on #1632
I have also complained about it in the past. We should try to present parameters in a more biologist friendly way. We should try to address it as part of genetic work space / jobs browser or streamlined workflow tasks.

-M

Sent from my iPhone

[2017-08-11 19:41] ARWattam opened #1636 "unable to download Newick file from tree job results."
Why isn't there a download for this?  Users need to download this.  They will open it in other tools, and its the only way to look at the support values.
<img width="1115" alt="screen shot 2017-08-11 at 3 39 25 pm" src="https://user-images.githubusercontent.com/11475316/29229290-85272084-7eab-11e7-9a0e-5afb663f5b7e.png">

[2017-08-11 19:57] zreyn commented on #1636
It's just not in the download list:
https://github.com/PATRIC3/p3_web/blob/master/public/js/p3/WorkspaceManager.js#L17-L31

I'll submit a PR to fix this shortly.

[2017-08-11 20:05] zreyn commented on #1636
Fix: https://github.com/PATRIC3/p3_web/pull/513

[2017-08-11 20:05] zreyn commented on #1622
Deployed

[2017-08-11 20:05] #1622 closed, assigned to zreyn

[2017-08-11 20:05] zreyn commented on #1618
Deployed

[2017-08-11 20:05] #1618 closed, assigned to zreyn

[2017-08-11 20:27] ARWattam commented on #1636
So its fixed?  Do I need to reload my browser to see this?

[2017-08-11 20:28] zreyn commented on #1636
Sorry, premature closing...

[2017-08-11 20:32] ARWattam commented on #1636
We need this before the workshop on Monday

[2017-08-11 21:12] zreyn commented on #1636
New PR: https://github.com/PATRIC3/p3_web/pull/514

Putting this quick fix in for the upcoming workshop and deferring the "exclusion list" solution for later.

[2017-08-13 16:10] ARWattam commented on #1636
I still don't see the ability to download.  Should I see it on production?

[2017-08-14 02:12] hyoo commented on #1636
![image](https://user-images.githubusercontent.com/1236467/29255960-09e00c70-806c-11e7-8385-0ceef5978435.png)

just deployed on production.

[2017-08-14 15:14] aswarren opened #1637 "Feature request: Report bug button on failed jobs"
Put a bug icon on the green bar when failed jobs are selected. Clicking it would bring up the feedback window with a Job ID in the title or body of the message auto-populated
![image](https://user-images.githubusercontent.com/229173/29278102-b63758aa-80e1-11e7-81d2-54e769ed9da7.png)

![image](https://user-images.githubusercontent.com/229173/29278077-a2d8d2de-80e1-11e7-8bdd-fe1976b2dd4a.png)

[2017-08-14 17:55] ARWattam opened #1638 "User request for ability to kill job after submission"
Please enable this

[2017-08-14 18:00] hyoo commented on #1617
here is more info. I see more than 1/3 participants are using windows. Chrome or Firefox in windows still works, though.

<img width="1280" alt="ie-workspace-network-error" src="https://user-images.githubusercontent.com/1236467/29284380-1750be34-80f0-11e7-9d9b-4584c79f0691.png">

[2017-08-14 18:26] hyoo opened #1639 "reference filter is not working properly"
![image](https://user-images.githubusercontent.com/1236467/29285407-04a73ca0-80f4-11e7-856c-f219cc3855e5.png)

This was due to wrong query
https://www.patricbrc.org/api/genome/?or(eq(genome_name,*mg1*),eq(genome_id,*mg1*))&and(eq(public,false),eq(public,true),eq(reference_genome,%22Reference%22))&select(genome_id,genome_name,strain,public,owner,reference_genome)

see the 2nd filter that public = f

[2017-08-14 18:29] hyoo commented on #1639
This works.

or(eq(genome_name,*mg1*),eq(genome_id,*mg1*))&and(eq(reference_genome,%22Reference%22))&select(genome_id,genome_name,strain,public,owner,reference_genome)

[2017-08-15 07:32] brettin opened #1640 "Enable txt as a filetype"
It appears that in order to display txt files, the file type must be txt. When I upload a text file, I can not specify txt as the file type. After uploading the txt file, when I attempt to change the type from unspecified to txt, txt is not an option. Can we include txt as a file type option in both the upload dialog box as well as the change type operation.

And if it makes sense, could support f

[2017-08-15 12:48] zreyn commented on #1640
Maulik has requested visualizing PDFs, and I said I'd pick that up.  For the txt file type, that definitely makes sense from the user perspective.  I'll see what we can do to make that happen.

[2017-08-15 14:22] hyoo opened #1641 "compare region viewer mouse over - handle undefined"
![image](https://user-images.githubusercontent.com/1236467/29319921-48a2b6b2-819b-11e7-8694-70b83848ea68.png)

https://www.patricbrc.org/view/Feature/PATRIC.246196.19.NC_008596.CDS.410691.414047.fwd#view_tab=compareRegionViewer

[2017-08-15 14:23] olsonanl opened #1642 "upload dialog doesn't select newly uploaded file"
If in one of the services (I used similar genome finder), when I choose to upload a new contigs file, when the upload is finish that uploaded file should be selected in the browser. Otherwise I need to go browse a second time to find the file I just uploaded.

[2017-08-15 14:56] olsonanl opened #1643 "Stray > in blast should not kill the app"
Blast app should be filtering out bad characters from blast. They should not kill the job.

[2017-08-15 15:45] zreyn commented on #1640
PR: https://github.com/PATRIC3/p3_web/pull/518

[2017-08-15 16:03] nconrad opened #1644 "Phylogenetic Tree Building App Issue"
We saw some issues using the “outgroup genomes” fields at https://www.patricbrc.org/app/PhylogeneticTree.  it seems I can select and add my first genome group, but not the second.  There were selection issues with the "outgroup genomes" in general.

<img width="381" alt="i79 pimgpsh_fullsize_distr" src="https://user-images.githubusercontent.com/1194246/29323946-260a3e10-81a8-11e7-98b9-dd87f16ee694

[2017-08-15 16:10] ARWattam opened #1645 "Need filter for host in our RNA Seq analysis page"
A request from our favorite user, Andrew Warren

[2017-08-15 17:04] dawenx commented on #1644
We only allow up to 5 genomes in the outgroup, how many genomes are there in "new group" and "a genome group"? if the total is larger than 5, the 2nd group cannot be added.

[2017-08-15 17:43] nconrad commented on #1644
Oh, ok.  Since there was confusion, it'd be good to have notice in the app (i.e., a prompt) that says this when the user tries to select more than 5.

[2017-08-15 17:46] nconrad commented on #1644
....oh, and listing the counts (and maybe even total) could be user friendly as well.

[2017-08-15 17:47] dawenx commented on #1644
That's a good idea and I was thinking to add it. The problem is where should we put such prompt? I couldn't find similar example on other apps. @hyoo do you have suggestion?

[2017-08-15 17:48] dawenx commented on #1644
once a folder is selected, I did display total count in the folder in the selected list. anyway, i will work on it to make it more user friendly. thanks!

[2017-08-15 17:57] nconrad commented on #1644
cool.  I don't think we have a true standard for dealing with these sorts of error/warning messages, but a dialog is sufficient IMO...something like ```new Dialog({title: "Notice", content: "Sorry, you can only add up to 5 genomes total and you are trying to select "+count + "."}).show();```

[2017-08-15 18:03] dawenx commented on #1644
Will do, thanks for suggestion.

[2017-08-15 19:16] hyoo opened #1646 "update file chooser in model reconstruction service"
![image](https://user-images.githubusercontent.com/1236467/29332057-48d1492c-81c4-11e7-9996-818d0b3f08e5.png)

[2017-08-15 20:24] ARWattam opened #1647 "publicly shared TN-seq jobs are not getting the jobs icon"
A request from our favorite user, Andrew Warren

[2017-08-15 20:25] hyoo opened #1648 "tn-seq job result doesn't have job icon"
![image](https://user-images.githubusercontent.com/1236467/29334702-f5c71356-81cd-11e7-9a44-81091a6b3d1b.png)

https://www.patricbrc.org/workspace/public/anwarren@patricbrc.org/tnseq/tnseq

[2017-08-15 20:36] dmachi commented on #1640
I understand why we would want to view text or pdf files, but I don't understand why we would want to upload them.  The 'upload types' (and the change type) are all of the input types that are need for inputs to the various services.  I don't think any of them require a txt input type.  This was intentionally restricted so that people aren't just uploading arbitrary files.  It is of course easy en

[2017-08-15 21:01] nconrad commented on #1647
duplicate of #1648

[2017-08-15 21:01] #1647 closed, assigned to nobody

[2017-08-16 13:20] dawenx commented on #1644
This is addressed on develop and pull request submitted.

[2017-08-16 14:42] ARWattam opened #1649 "Unable to change order of rows in circular viewer"
When delete certain feature rows in the circular viewer, I would expect that the tracks I want would move up, but they don't.  I tried to manually move them, but was unable to.  Harry tells me that this is a bug.  All the tracks that have been selected should be next to each other.
<img width="1308" alt="screen shot 2017-08-16 at 9 41 59 am" src="https://user-images.githubusercontent.com/11475316/

[2017-08-16 17:32] olsonanl opened #1650 "Need consistency check before running PE files"
I ran into this when manually running a user's job; we should catch this sort of error at job submission time. We can do that by doing fasta count computation and other quality checks at upload time.

Verification of expression 'irsl.eof() && irsr.eof()' failed in function 'void hammer::CorrectPairedReadFiles(const KMerData&, size_t&, size_t&, size_t&, size_t&, const string&, const string&, std::o

[2017-08-16 18:26] ARWattam opened #1651 "Download circular viewer as .tiff or .jpeg"
Some of our users have requested this as it is more adaptable.

[2017-08-16 18:37] hyoo commented on #1651
there are a lot of online tool that can convert svg to any other format.

https://www.google.com/search?q=svg+to+tiff&oq=svg+to+tiff&aqs=chrome..69i57j0l5.2894j0j7&sourceid=chrome&ie=UTF-8

I don't know how much effort to do this, but i am more skeptical to reinventing wheels.

[2017-08-16 18:42] Sveta-user opened #1652 "Add AMR Classification to each peg page"
You have already installed "AMR classification" column under "Specialty Genes" tab (thank you!)  It shows which type of broad AMR mechanism each AMR gene conveys, e.g. -
   -  efflux pump conferring antibiotic resistance
   -  antibiotic target protection protein
   - etc
Could we please add this data to each AMR peg page in PATRIC also ?

<img width="555" alt="screen shot 2017-08-16 at 1 41 09 pm

[2017-08-16 18:46] ARWattam opened #1653 "Need to download pathway map as .svg, .tiff or .jpeg"
Another user request.  We seem to have lost the download function

[2017-08-16 18:48] olsonanl opened #1654 "editing genome name in metadata"
Is there a reason we can't edit the genome name in the genome metadata editor?

[2017-08-16 19:01] Sveta-user opened #1655 "Sorting issue"
A table under "Specialty Genes" tab is sortable by any column, except “Classification”.  If one tries to sort by this field, all the contents of the table simply disappears.   Strange, that only this column is not sortable

<img width="825" alt="screen shot 2017-08-16 at 1 59 40 pm" src="https://user-images.githubusercontent.com/20665963/29380415-452d9f60-828b-11e7-83c2-807ac749e962.png">

[2017-08-16 19:13] ARWattam opened #1656 "Users complain about colors on circular viewer"
They aren't pleased with the color selection, and want more, stronger colors.  When you use the palate, you can see that many of the colors available don't show up very well in the svg, or on the website, for that matter.

[2017-08-16 19:51] aswarren opened #1657 "Async issues with download link not being created on streaming"
Async issues with download link not being created on streaming for bai. Sometimes we have to try clicking the browser button several times for RNA-Seq to get the BAM file to work. Jbrowse gives a red box error saying that it can't access the BAI.

[2017-08-16 19:52] aswarren opened #1658 "No browser button for variation service"
There are bam files and maybe some other streamables in a Variation job result

[2017-08-16 19:59] nconrad commented on #1654
The genome name is in multiple cores and we currently only edit the genome core.  We'll have to add this to the todo.

[2017-08-16 20:52] #1636 closed, assigned to zreyn

[2017-08-16 20:54] Sveta-user opened #1659 "Undefined features in Patric"
For some reason there are “undefined” pegs in Patric.  Where do these come from?   Furthermore,  they are listed at the top of Search results after any search  This is probably confusing for a user.
Could you fix these features?   If not, please do not allow these features to appear in  search results at least

<img width="545" alt="screen shot 2017-08-16 at 3 53 30 pm" src="https://user-images.gi

[2017-08-16 21:20] Sveta-user opened #1660 "Patric BLAST problem"
During this Workshop I've realized for the first that a new character [ => ] we started to use  in CoreSEED about a year ago for protein annotation is not compatible with Patric BLAST!  With time  more and more newly annotated protein families will come to Patric  containing this character (Veronika and I like it and use it a lot :)), so please teach Patric BLAST to accommodate it, if possible.  T

[2017-08-16 21:33] Sveta-user opened #1661 "Feature Overview: Links to CDD do not work / missing"
“NCBI CDD Search” tool/link on a peg page did not work for multiple proteins in PATRIC, e.g. -
fig|246196.19.peg.377
fig|246196.19.peg.375
fig|246196.19.peg.367
fig|1001989.3.peg.4468
                                        Why doesn't CDD view load properly?

<img width="1025" alt="screen shot 2017-08-16 at 4 29 31 pm" src="https://user-images.githubusercontent.com/20665963/29386197-6c883f06-82a0

[2017-08-18 00:20] Sveta-user opened #1662 "'User genome list' option for Compare Regions tool"
Hi, Bob, I fully realized how overbooked you are...  Sorry to be adding to your load...  but maybe you could find time to add an option "user genome list" to your great new Compare Regions tool?  It would be hugely useful (for example, just during this last Workshop two users I talked to could have really benefited from it)

<img width="828" alt="screen shot 2017-08-17 at 7 03 44 pm" src="https://

[2017-08-18 01:46] mshukla1 commented on #1662
2+

Several users in the Germany workshop also wanted the same function.

-Maulik

Sent from my iPhone

[2017-08-18 13:03] jimdavis1 opened #1663 "The jobs queue has a genomes with status "undefined init" instead of queued."
![image](https://user-images.githubusercontent.com/7661533/29459974-9a73de6a-83eb-11e7-984b-c75a47a9086a.png)

[2017-08-19 15:19] mshukla1 opened #1664 "Compare region viewer: doesn't load for private genomes"
During the Germany Workshop, several participants noted that the compare region viewer wasn't working for private genomes.

-Maulik

<img width="1435" alt="screen shot 2017-08-19 at 10 17 31 am" src="https://user-images.githubusercontent.com/1236463/29487986-d7f9d8de-84c7-11e7-9c36-98e353979236.png">

[2017-08-19 15:21] mshukla1 opened #1665 "Compare region viewer: show genome group"
Germany workshop. Several users wanted to see compare region viewer display genomes from select genome group.

-Maulik

[2017-08-20 12:28] mshukla1 commented on #1659
when  addressing this, please check all other data types in the global search to make sure this doesn't happen elsewhere.

[2017-08-20 12:30] mshukla1 commented on #1658
@aswarren @zreyn

Please make sure result streaming and browser buttons are available for all relevant services, i.e. genome assembly, variation service, RNA-seq, and Tn-seq services.

[2017-08-21 14:18] chmao1 commented on #1659
Does this only happen for Specialty Genes?

[2017-08-21 15:31] chmao1 commented on #1659
Instead of getting annotation source and type, I changed to fetch specialty gene property, source and evidence fields, which are more informative for specialty genes.

[2017-08-22 04:01] Sveta-user opened #1666 "Related to case # 1659"
The situation with case #1659 did not improve --
First, the “undefined” features still appear on top of Search results under the “Specialty Genes” rubric
Second, the **functions** of “Genomic Features” shown in Search results  are seriously off!  They are (1) outdated  and (2) do not correspond to the actual functions currently in PATRIC.   Where do they even come from..?  These functions are not

[2017-08-22 13:13] #1644 closed, assigned to dawenx

[2017-08-22 13:16] dawenx commented on #1616
This is similar to #1644 and I added notice when selecting a new group exceeds the maximum allowed number. Close this ticket as it's resolved. I agree that we should discuss whether to change the maximum allowed number.

[2017-08-22 13:16] #1616 closed, assigned to dawenx

[2017-08-22 16:32] jimdavis1 opened #1667 "view button doesnt work for a genome that you don't have access to:"
The behavior is unclear

![image](https://user-images.githubusercontent.com/7661533/29576430-5b28576e-872d-11e7-87e4-1bad0e2e4afa.png)

[2017-08-22 19:06] chmao1 commented on #1659
Fixed and available on alpha.

[2017-08-22 19:08] chmao1 commented on #1605
Fixed and available on alpha

[2017-08-22 19:25] ARWattam opened #1668 "Legend missing in comparative pathway viewer heatmap"
The legend box is missing in CPV

[2017-08-22 19:31] jimdavis1 opened #1669 "Job status is not changing seamlessly"
I have ~60 completed annotation jobs that still show up as running or queued.

![image](https://user-images.githubusercontent.com/7661533/29583606-7ed76c86-8746-11e7-9155-f2e1d820880c.png)

[2017-08-22 20:04] chmao1 commented on #1639
You can't uncheck Public Genomes and My genome at the same time. If both unchecked, no genomes are available. We should make sure that Public Genomes is checked when Reference or Representative filter is checked. This needs to be fixed.

[2017-08-22 21:21] Sveta-user commented on #1659
No, no, it is still not fixed on alpha!   Yes, the word "undefined" disappeared, but if you click on one of these Specialty genes returned - you get an empty page.  This is not good... Sorry to be so difficult

<img width="839" alt="screen shot 2017-08-22 at 4 17 23 pm" src="https://user-images.githubusercontent.com/20665963/29588085-ca5b3f20-8755-11e7-8b75-7d1eb47cfafa.png">

[2017-08-22 22:39] chmao1 commented on #1659
Fixed the "undefined" issue. I'll create a new issue for the link problem.

[2017-08-22 22:40] chmao1 opened #1670 "Specialty Gene list in global search result: gene link does not work"

[2017-08-22 23:38] Sveta-user commented on #1659
Got it, thank you!
Shall I create a new issue for the mismatch between gene functions displayed on Search results page versus the actual gene functions displayed on the corresponding gene pages?
What do you think?

[2017-08-23 02:01] chmao1 commented on #1659
Yes, please. Thanks.

[2017-08-23 03:32] Sveta-user opened #1671 "Outdated Product names displayed in Search results?"
Gene functions (="Product" field in Patric) shown in Search results are seriously off:  they are outdated and do not correspond to the actual functions (= Product) currently in PATRIC.  Where do they even come from..? These Product names are not displayed on the corresponding protein pages in PATRIC any more.  Can this bug be due to outdated indexing in Patric...?
This bug affects only  search res

[2017-08-23 03:52] Sveta-user opened #1672 "Weird characters (in AMR genes) break Search"
Patric does not allow to search for any text string containing weird characters (even between quotation marks), including:
prime
prime-prime
 =>
slash
and others

SEED curators have been using these characters a lot for AMR genes, as  there is no other way to annotate them without, unfortunately...  So it is really important for PATRIC Search engine to accommodate these weird characters now.  Note

[2017-08-23 08:20] mshukla1 commented on #1671
This is not an indexing bug.

In the search result, you are looking at a RefSeq annotation matching your search criteria. When you click on it, it takes you to the corresponding gene annotated by PATRIC, if available. Often, For the same gene, the function assigned by Patric and RefSeq could be quite different!

-Maulik

Sent from my iPhone

[2017-08-23 13:48] chmao1 commented on #1666
@mshukla1 Could you check to see whether the second point is a data issue?
The first one is fixed.

[2017-08-23 13:54] chmao1 commented on #1670
Fixed and made pull request. Will be available in alpha soon.

[2017-08-23 14:48] chmao1 commented on #1639
Please comment on whether the following changes are reasonable:
1) Apply logic OR for the check boxes
2) When "Public Genomes" is checked, all "Public Genomes" will be available for the genome list regardless whether "Reference Filter" or "Representative Filter" is checked.
3) When "Public Genomes" is unchecked, and "Reference Filter" or "Representative Filter" is checked, then, only Reference or

[2017-08-23 15:17] zreyn commented on #1639
Having looked into this before, it's generally quite confusing.  Also, the underlying data model isn't clear to me, so it may not be clear to users either.  Here's my assumption (which may ultimately not be correct): I assume that genomes are either Public or private (My Genomes) and that genomes may be tagged as Reference and/or Representative.

1.  Definitely reasonable. The original intent here

[2017-08-23 15:22] zreyn commented on #1639
Also, I haven't looked into whether this is possible, but some indication of how many genomes result from the filter combination might be helpful.  I say this because the concern over this seems to be around combinations of filters yields 0 results.

[2017-08-23 16:49] chmao1 commented on #1639
Thanks for the comments @zreyn.  Reference/Representative genomes are public, so "Public Genomes" contains all Reference/Representative genomes. This makes it challenging to be clear about the meaning of the combination selections. I agree, some additional wording changes might do the trick. For example:
[] Include All Public Genomes
[] Include My Genomes
[] Include Reference Genomes
[] Include Re

[2017-08-23 18:44] hyoo commented on #1605
![image](https://user-images.githubusercontent.com/1236467/29632617-23a3281e-8809-11e7-9cb4-2dcbb56eb185.png)

confirmed from production.

[2017-08-23 18:44] #1605 closed, assigned to chmao1

[2017-08-23 18:49] hyoo commented on #1659
![image](https://user-images.githubusercontent.com/1236467/29632832-d3a7454c-8809-11e7-853b-ecd33cb9aa55.png)

confirmed on production.

[2017-08-23 18:49] #1659 closed, assigned to chmao1

[2017-08-23 18:57] hyoo commented on #1667
if we can add a check routine, before we display view button, this will also address issue that private genome is not available when it is in solr index queue.

[2017-08-23 18:58] hyoo commented on #1661
i will take a look. it is possible they changed some form or params.

[2017-08-23 18:59] hyoo commented on #1655
multi-valued field is not sortable.

[2017-08-23 19:02] hyoo commented on #1653
![image](https://user-images.githubusercontent.com/1236467/29633363-a8dcc7fe-880b-11e7-9eb9-cb1395b12825.png)

We do have one and working.

[2017-08-23 19:07] hyoo commented on #1646
https://github.com/PATRIC3/p3_web/pull/520/commits/ff5b78e9b8ffd8ef50a1b72b99f3271b4b413576

[2017-08-23 19:08] #1646 closed, assigned to nobody

[2017-08-23 19:09] hyoo commented on #1634
deployed

[2017-08-23 19:09] #1634 closed, assigned to nobody

[2017-08-23 19:11] hyoo commented on #1629
@dawenx we need to display a message, why nothing is happening when user clicked/chose something. It would be better to say, "your genome group/selection has more then 5 genomes that are current limit. please reduce the number of genome."

[2017-08-23 19:13] dawenx commented on #1629
the limit is 5 and i added notice in addressing #1644 which has been merged. so this is resolved.

[2017-08-23 19:14] hyoo commented on #1617
@dmachi do you know what is going on?

[2017-08-23 19:15] hyoo commented on #1591
which genome is this? would you add a url so that I can see it?

[2017-08-23 19:17] hyoo commented on #1588
it would be better to show message in dialog, or provide an options to "copy to clipboard"

[2017-08-23 19:18] zreyn commented on #1639
Ahh, ok, I understand!  Yes, I like your wording suggestion; they should work well with your 2 and 3 above.  Go for it.

[2017-08-23 19:19] hyoo commented on #1571
@nconrad would you take a look?

[2017-08-23 19:21] hyoo commented on #1564
have you tried genome features? protein family is an attribute of genomic features. we cannot list all the possible field names.

[2017-08-23 19:22] hyoo commented on #1547
![image](https://user-images.githubusercontent.com/1236467/29634154-76262794-880e-11e7-8e50-1a969c4a52b1.png)

now we have it on production.

https://www.patricbrc.org/view/Genome/83332.12#view_tab=overview

[2017-08-23 19:22] #1547 closed, assigned to nobody

[2017-08-23 19:31] chmao1 commented on #1639
I just discussed this issue with Rebecca and we both like the following idea for the checkbox selections. Initially, everything is checked.

Public Genomes:
   [] Reference Genomes
   [] Representative Genomes
   [] All Other Public Genomes
Private Genomes:
   [] My Genomes

We'd like to hear some feedback. Thanks.

[2017-08-23 19:47] Sveta-user commented on #1671
Maulik, please consider displaying Patric annotations on the Search page by default, NOT RefSeq annotation.  Pretty please....
-- first, because ever since you and Bob have established regular annotation update cycles -  our in-house Patric annotations became better than those from Refseq
-- second, it is confusing for a user to see one function in search results, and a completely different one on

[2017-08-23 19:47] hyoo commented on #1392
are you referring this ?

https://www.patricbrc.org/public/pdfs/Workshop-Antimicrobial-Resistance.pdf

Antimicrobial Resistance
https://www.patricbrc.org/content/Tutorials

[2017-08-23 19:57] hyoo commented on #1373
I tried with my private genomes, but cannot reproduce this problem. please reopen if this persists

[2017-08-23 19:57] #1373 closed, assigned to hyoo

[2017-08-23 19:59] hyoo commented on #1425
please reopen if you can reproduce this problem.

[2017-08-23 19:59] #1425 closed, assigned to hyoo

[2017-08-23 19:59] hyoo commented on #1297
please reopen if you can reproduce this problem.

[2017-08-23 19:59] #1297 closed, assigned to hyoo

[2017-08-23 20:00] #1653 closed, assigned to hyoo

[2017-08-23 20:03] hyoo commented on #1664
i have tried with my private genome and got error like below

![image](https://user-images.githubusercontent.com/1236467/29635923-446d5474-8814-11e7-9dc9-09aeabb23d2e.png)

![image](https://user-images.githubusercontent.com/1236467/29635939-5f33975a-8814-11e7-96c9-3e71bd7e160b.png)

[2017-08-23 20:13] hyoo commented on #1661
will be deployed on alpha soon

[2017-08-23 20:53] nconrad opened #1673 "add explanation of what a workspace is"
Perhaps here:

![image](https://user-images.githubusercontent.com/1194246/29637872-22962856-881b-11e7-9435-d13c67c93cb7.png)

[2017-08-23 23:13] ARWattam opened #1674 "Ability to identify small RNAs via RNA-Seq"
A user request from the ANL workshop:
I would like to be able to identify in RNAseq the presence of sRNA.
User who requested: Adriana Rosato

[2017-08-23 23:15] ARWattam opened #1675 "Increase disk space prior to workshop"
We seem to have a problem with this for each workshop.  We should make sure that there will be enough space prior to a workshop.  Here is an error message from a job submitted during the ANL workshop in August:
From a Tn-Seq job from yesterday
Traceback (most recent call last):
File "/disks/p3/deployment/pybin/p3_tnseq.py", line 301, in
main(server_setup, job_data)
File "/disks/p3/deployment/pybin

[2017-08-24 14:56] hyoo commented on #1617
Seems like a bug on Edge browser.
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/12046299/

We're currently using two custom header, "authorization" and "content-type". According to the issue, Edge recognize the first header in the list only, so Edge is complaining "unknown" (to edge) header, which is our second header, "content-type"

[2017-08-24 17:06] nconrad opened #1676 "Redirect to patricbrc.org after first login"
After logging in here, user should be taken to patricbrc.org:

![i80 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/1194246/29678502-741f8a10-88c4-11e7-9a0d-4b90e1aa1f43.png)

They are currently brought here:

![i81 pimgpsh_fullsize_distr](https://user-images.githubusercontent.com/1194246/29678524-8da1a34c-88c4-11e7-98a8-e31b595f371a.png)

[2017-08-24 17:06] nconrad commented on #1676
@dmachi I assigned you, but feel free to reassign...

[2017-08-24 17:08] nconrad opened #1677 "default folder creation is not working"
`/home/Genome Groups` , etc..., need to be created

[2017-08-24 17:11] nconrad opened #1678 "registration email goes to spam"
I think this may have been reported before, but I couldn't find a ticket.

After I registered a new user with a gmail email address, the registration email went  spam.  Google is suggesting this: https://support.google.com/mail/answer/81126?hl=en#authentication

[2017-08-24 20:17] chmao1 commented on #1639
Fixed and made a pull request.

[2017-08-24 21:35] ARWattam opened #1679 "Strain name visible on genome landing page, but not in taxon genome list table"
The strain should be visible in both places.  Two screenshots below
<img width="1167" alt="screen shot 2017-08-24 at 5 34 01 pm" src="https://user-images.githubusercontent.com/11475316/29689815-921c06dc-88f2-11e7-8fa7-216dae923883.png">

<img width="1222" alt="screen shot 2017-08-24 at 5 33 49 pm" src="https://user-images.githubusercontent.com/11475316/29689825-9700de84-88f2-11e7-8a8a-33b3f686bba5

[2017-08-25 21:13] hyoo commented on #1617
This is fixed by @olsonanl . Thanks.

[2017-08-25 21:13] #1617 closed, assigned to hyoo

[2017-08-25 21:25] ARWattam opened #1680 "user reports error with compare region viewer"
q is undefined"
I was trying to look at the gene context of fig|655184.88.peg.5877 but it
also does not work with other genes.

[2017-08-25 21:41] #1641 closed, assigned to hyoo

[2017-08-26 12:01] ARWattam opened #1681 "User unable to get all Vibrio cholerae genomes through download"
WE had a user with this problem.  Dustin looked into it, and he, too, could not get all of the genomes that should be available.  Here is what Dustin had to say:

"I browsed to that taxon at https://www.patricbrc.org/view/Taxonomy/666#view_tab=genomes, select all, click download on the green bar, advanced->selected .fna.  It successfully downloads, but looks like there are only ~500 of the genomes

[2017-08-26 13:14] hyoo commented on #1664
this is fixed on alpha. will be deployed with other fixes soon.

[2017-08-26 13:15] hyoo commented on #1680
#1664
This is fixed on alpha. will be deployed soon.

[2017-08-26 19:09] ARWattam opened #1682 "Problems with RNA-seq jobs during ANL workshop"
From Andrew Warren, and he says the following:

All RNASeq jobs failed last night and this morning. The same input worked a
month ago.
Traceback (most recent call last):
File "/disks/patric-common/runtime/bin/prok_tuxedo.py", line 243, in
main(genome_list,library_dict,args.p,output_dir,gene_matrix)
File "/disks/patric-common/runtime/bin/prok_tuxedo.py", line 164, in
main
run_alignment(genome_list,

[2017-08-26 21:03] ARWattam opened #1683 "User suggests tool to bring into PATRIC"
The user says:
I think this could be useful to have in PATRIC.

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4489293/

I used OrthoVenn once, but probably won't use it for a publication because it outputs a lot of hypotheticals and it's hard to compare with my data from RAST.  I'm currently doing a venn diagram kind of by hand.... I bet this would work great with local protein families for closely

[2017-08-27 12:49] ARWattam commented on #1680
When is it expected to go to production?

Thanks,

Rebecca

On Sat, Aug 26, 2017 at 9:15 AM, hyoo <notifications@github.com> wrote:

[2017-08-28 11:51] ARWattam opened #1684 "Downloading data through website does not get all available genomes"
We have had two users that have recently noted discrepancies in the data that appears to be available for download in PATRIC, and the number that actually comes with the download.  Here is one user request that notes this (PATRIC 968):

I decided to download genome files (faa and others) and parse them locally. I was wondering why can I locate only 5810 Escherichia coli files out of 6296 that can

[2017-08-28 13:35] ARWattam opened #1685 "Keeping track of PATRIC tool use"
I would like to keep track of PFS, CPV, BLAST and Similar Genome Finder jobs.  My goal is to have a detailed analysis of the services and tools in PATRIC, and how much they are used by our community.  I recognize that PFS and CPV are deployed at taxon levels, but I think we could look at the jobs submitted through the services tab to keep track of this.

Also ID Mapping.

[2017-08-28 13:39] ARWattam opened #1686 "Burkholderia ubonensis is not included in the Burkholderia cepacia complex and it should be."
User reports that ubonensis is part of the B. cepacia complex, but this is not reflected in PATRIC.  Looking at NCBI taxonomy, it should be.

https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=101571&lvl=3&lin=f&keep=1&srchmode=1&unlock

[2017-08-28 14:13] ARWattam opened #1687 "User requests feature to sample reads in teh assembly service"
User's request (attached to JIRA-927) is below:

"The company that did our sequencing peculiarly decided to run one K. pneumoniae genome on a Hiseq flow cell alone, so we have ~650x coverage of our genome. I didn’t see a feature to sample reads in the assembly services, so I used the entire set of reads. I’m pretty sure that made PATRIC a little nauseous. Could you please let me know if there is a

[2017-08-28 14:35] hyoo commented on #1680
If this is urgent, i can release it tonight. Otherwise, I am going to wait other bug fixes by Wednesday, and deploy them together by Wednesday evening or early morning on Thursday.

[2017-08-28 20:57] ARWattam opened #1688 "Request for ftp uploader"
Several participants at workshops (JIRA-938 and 939, to name a few) have requested the ability to do a batch upload by ftp.  It seems to be quite tedious for them to upload them one by one, and also some of the files that they are getting from sequencers are difficult to transfer over by the path they must follow in the PATRIC interface.  We should enable this functionality.

[2017-08-29 17:14] nconrad opened #1689 "Missing upload button when user has "edit" permissions"
Need to show button.

<img width="1124" alt="i82 pimgpsh_fullsize_distr" src="https://user-images.githubusercontent.com/1194246/29834157-8d8262aa-8cb3-11e7-8d62-e61e99c1883d.png">

[2017-08-29 17:15] nconrad opened #1690 "Do not show DnD text when user only has viewing permissions"
![image](https://user-images.githubusercontent.com/1194246/29834219-cba49044-8cb3-11e7-9782-6a6cbee2afb2.png)

[2017-08-30 12:35] ARWattam opened #1691 "Taxonomy of Burkholderia vietnamiensis incorrect in PATRIC-does not reflect its place in the Burkholderia cepacia complex"
A user has noted problems that we have with our Burkholderia taxonomy in PATRIC, and that it leaves out several species out of the  Burkholderia cepacia complex.  Burkholderia vietnamiensis is needs to be included
<img width="1141" alt="screen shot 2017-08-30 at 8 33 33 am" src="https://user-images.githubusercontent.com/11475316/29872581-346c9928-8d5e-11e7-83f3-c5e2694ab38e.png">

[2017-08-30 12:39] ARWattam commented on #1691
[Burkholderia cepacia complex_list species.docx](https://github.com/PATRIC3/patric3_website/files/1263566/Burkholderia.cepacia.complex_list.species.docx)

[2017-08-30 14:54] hyoo commented on #1680
this is available on production now.

[2017-08-30 14:54] #1680 closed, assigned to hyoo

[2017-08-30 14:57] hyoo commented on #1664
working well on production now.

[2017-08-30 14:57] #1664 closed, assigned to hyoo, olsonanl

[2017-08-30 14:59] hyoo commented on #1639
![image](https://user-images.githubusercontent.com/1236467/29879162-e9282674-8d69-11e7-9658-30ad6c79d860.png)

working as expected.

[2017-08-30 14:59] #1639 closed, assigned to chmao1

[2017-08-30 15:03] hyoo commented on #1649
This is critical to users. Users have very limited space to display their data of interest.

[2017-08-30 19:16] olsonanl commented on #446
As far as I know this is now working.

[2017-08-30 19:16] #446 closed

[2017-08-30 19:22] olsonanl opened #1692 "Move production servers to ANL: Solr / DataAPI"

[2017-08-30 19:22] olsonanl opened #1693 "Move production servers to ANL: Authenticaiton"

[2017-08-30 19:22] olsonanl opened #1694 "Move production servers to ANL: Website"

[2017-08-30 19:22] olsonanl opened #1695 "Move production servers to ANL: FTP"

[2017-08-30 19:24] olsonanl commented on #1247
Closing to split into multiple tickets, one per major service
Solr / Data API #1692
Authentication #1693
Website #1694
FTP #1695

[2017-08-30 19:24] #1247 closed, assigned to dmachi, hyoo, danielolson5, olsonanl

[2017-08-30 19:25] olsonanl commented on #1692
Progress tracked here:
https://docs.google.com/spreadsheets/d/1MhuVoR5H_f7asM_JOBnsOX-SpBTnuYt-EJqfFaL18iI/edit#gid=0

[2017-08-30 19:28] olsonanl opened #1696 "Application service: disk check before execution"
The application service should not allow jobs to execute if there is not sufficient disk space.

This is a little tricky as it might require detailed interaction with AWE to keep them from running. At the least we can fail / hang jobs early if no disk is available.

[2017-08-30 19:29] olsonanl commented on #1675
I have found an issue where temp data from variation jobs were not cleared; this will help.
After tomorrow's downtime when we move the mongo database for shock off our main compute node will also help.

The technical solution for making jobs not fail in the case of short disk space is tracked at #1696

[2017-08-30 19:38] nconrad commented on #1635
I can fix this, but need to know if the first download button is of any use?  It seems to download a JSON structure with the object ids like this:

[code]

[2017-08-30 19:44] #1107 closed, assigned to nconrad

[2017-08-30 19:47] olsonanl commented on #1678
This may resolve when we move user service to ANL and outgoing mail is sent through the authenticated ANL mail servers

[2017-08-30 20:00] nconrad commented on #1589
Dustin is right, but we should be able to change the `user-select` attribute to "text" on just the workspace breadcrumb, allowing for copy/paste.  Dustin let me know if this change isn't ok.

`user-select` is `none` on the container (BrowserHeader) for some reason... but I'll leave that as is in fear of breaking something else.

[2017-08-30 21:18] #1594 closed, assigned to nobody

[2017-08-30 21:20] #1400 closed, assigned to nobody

[2017-08-30 21:30] mshukla1 commented on #1196
not anymore...as we know Rebecca is all over it now! :)

[2017-08-30 21:30] #1196 closed, assigned to rkenyon

[2017-08-30 21:39] #1291 closed, assigned to nobody

[2017-08-30 23:18] hyoo commented on #1512
This is a genome selector issue.

[2017-08-31 11:33] #1450 closed, assigned to mshukla1

[2017-08-31 13:49] hyoo commented on #1643
#1660

[2017-09-01 22:54] hyoo opened #1697 "add rel="noopener noreferrer" to every link where target = "_blank""
i've learned that target = _blank has a vulnerability and adding noopener can gain some performance boost.

https://developers.google.com/web/tools/lighthouse/audits/noopener

https://www.jitbit.com/alexblog/256-targetblank---the-most-underestimated-vulnerability-ever/

[2017-09-05 00:46] ARWattam opened #1698 "Venn Diagram-creating group from selected region does not give any indication that it is working"
I think that this needs a pop-up or something that indicates that the group was created.  I only saw it when I went in and checked my groups.  It would also be nice if I was allowed to name it, like I am for every other group in PATRIC, but I can settle for it the way it is.

[2017-09-05 15:49] olsonanl commented on #1692
Closing as we are up and running with ANL Solr & Data API.

[2017-09-05 15:49] #1692 closed, assigned to olsonanl

[2017-09-05 15:50] olsonanl opened #1699 "Annotation service fails with long contig names"
Errors of this form:

Contig data
(LIB00021399_S189_L001_R1_001_(paired)_trimmed_(paired)_contig_1_consensus)
and blastn output
(LIB00021399_S189_L001_R1_001_(paired)_trimmed_(paired)_contig_1_cons) are
out of phase.

are indications that contig names are too long.

The service should track these and rename, and note to the user they were changed. Alternatively it should rename on the way in and r

[2017-09-05 15:52] olsonanl opened #1700 "Assembly fails with filenames with special characters"
Parentheses in user read filenames cause assembly service to fail:

Enabling curl due to large files:
\@submit_cmd = $VAR1 = [
          'ar-run',
          '-r',
          'auto',
          '--single',
          '/scratch/tmp/TsQaCSXqVq/WIS_14(389)_S5_L004_R1_001.fastq',
          'platform=infer',
          '--curl'
        ];
Running ar-run -r auto --single /scratch/tmp/TsQaCSXqVq/WIS_14(389)_S

[2017-09-05 20:05] chmao1 commented on #1670
verified on production

[2017-09-05 20:05] #1670 closed, assigned to chmao1

[2017-09-06 14:12] chmao1 commented on #896
Close this issue for now. Please reopen when advanced searching against select fields are needed and well designed.

[2017-09-06 14:12] #896 closed

[2017-09-06 14:16] chmao1 commented on #951
This was fixed.

[2017-09-06 14:16] #951 closed, assigned to dmachi

[2017-09-06 14:21] chmao1 commented on #777
This is fixed.

[2017-09-06 14:21] #777 closed

[2017-09-06 15:51] hyoo opened #1701 "remove KEGG images from p3_api"
I guess we're keeping KEGG images in gitlab (hosted in ANL) and not using kegg images in p3_api repo. If so, we should remove them. This could be violation of license and also I want to clean up unnecessary files.
need input from @dmachi @olsonanl

[2017-09-06 17:09] nconrad commented on #1384
Closing this as obsolete.  Reopen if needed.

[2017-09-06 17:09] #1384 closed, assigned to nobody

[2017-09-06 17:14] nconrad commented on #1428
I see.  Will fix.

[2017-09-06 17:18] nconrad commented on #1371
With the latest workspace updates, the 'new folder' button gives a prompt, resolving these issues.

[2017-09-06 17:18] #1371 closed, assigned to nconrad

[2017-09-06 17:23] nconrad commented on #609
This was resolved sometime between feb and may.  #294

[2017-09-06 17:23] #609 closed

[2017-09-06 17:29] nconrad commented on #611
Please reopen if issue occurs again.

[2017-09-06 17:29] #611 closed

[2017-09-06 17:33] nconrad commented on #810
I agree this would be pretty useful.  Duplicate of #668

[2017-09-06 17:33] #810 closed

[2017-09-06 17:37] nconrad commented on #658
This is pretty old, but could you look into it, @zreyn?  reassign to me if needed.

[2017-09-06 17:39] nconrad commented on #85
I'll see what I can do.

[2017-09-06 19:48] hyoo commented on #1701
removed.

https://github.com/PATRIC3/p3_api/commit/5cee2903d0e0ee0c5ae0df81deab3846afc24855

[2017-09-06 19:48] #1701 closed, assigned to hyoo

[2017-09-06 21:26] hyoo commented on #490
This is mainly because of this. In order to utilize streaming inside data api, the query needs to be sorted by unique ID (feature_id in this case) and the feature ID is string and does not reflect natural order.

![image](https://user-images.githubusercontent.com/1236467/30135433-508acf18-9320-11e7-9d02-3e9491bad787.png)

I cannot think of any workaround now.
@dmachi do you have any idea?

[2017-09-06 21:29] mshukla1 opened #1702 "Similar Genome Finder: file selection doesn't work"
Upload FASTA and file selection box needs to be consistent with other services.

The dropdown menu showing recent fasta files look different than that on other services.

When I click on the folder icon and select a fasta file from the public workspace, PATRIC Workshop, it doesn't show up in the box.

-Maulik

[2017-09-07 13:18] chmao1 commented on #536
This issue is resolved.

[2017-09-07 13:18] #536 closed

[2017-09-07 13:21] chmao1 commented on #1399
@jimdavis1 Could you check this again and see whether this problem still exists?

[2017-09-07 13:21] dawenx commented on #1621
harry, i don't have knowledge on what should be used to replace those hard-coded urls, can you give me an example or more details? i know this might take you longer time than fixing it directly, but i wanted to learn and go through the files if you don't mind. thanks.

[2017-09-07 13:23] chmao1 commented on #1436
Fixed and will be available in the next build.

[2017-09-07 13:24] chmao1 commented on #1550
Fixed and will be available in the next build.

[2017-09-07 13:32] chmao1 commented on #1672
Fixed and will be available in the next build.

[2017-09-07 13:34] chmao1 commented on #1671
#1113

[2017-09-07 13:35] chmao1 commented on #1666
#1113

[2017-09-07 13:43] chmao1 commented on #619
@levinas Could you make table in xls available from the server side?

[2017-09-07 13:45] chmao1 commented on #622
Also see #621

[2017-09-07 13:48] chmao1 commented on #620
Also see #621 #622

[2017-09-07 14:09] chmao1 commented on #1698
The message "The group has been successfully created. Click here to view" appears above the venn diagram (see the screenshot, the highlighted part). Is this acceptable?
![image](https://user-images.githubusercontent.com/6361802/30167387-39fdcb30-93b4-11e7-8f74-078bcf3b9a15.png)

[2017-09-07 14:20] chmao1 commented on #1584
@mshukla1 Is this a data issue?

[2017-09-07 14:25] chmao1 commented on #1567
Downloading MSA.png is no longer provided upon the request. Closing this ticket for now.

[2017-09-07 14:25] #1567 closed, assigned to chmao1

[2017-09-07 14:33] chmao1 commented on #1401
Not sure how to do exact search for this example as Solr search ignores the character "'".
@dmachi Do you have any comments or suggestions on this?

[2017-09-07 15:04] hyoo commented on #1621
each url is mapped to a tab or service

- /portal/portal/patric/GenomicFeature -> features tab in genome or taxon
- /portal/portal/patric/GlobalSearch -> global search
- /portal/portal/patric/FIGfam/ -> protein families tab in genome or taxon
- /portal/portal/patric/MSA -> MSA
- /portal/portal/patric/IDMapping/ -> services -> IDMapping
- /portal/portal/patric/TranscriptomicsEnrichment/ -> transcri

[2017-09-07 15:08] hyoo commented on #1406
I think this is dgrid problem, it does not show columns if horizontal space is too busy.
you need to maintain a reasonable number of columns (depends on your browser width) to see values.

[2017-09-07 15:15] dawenx commented on #1621
I will look into it.

[2017-09-07 15:20] hyoo commented on #1389
Here is a list of issues related to this problem

- dataset (genome-occurance count) sent to data api
=> depends on your network speed, you can be timed out (time include data transfer, computation, and transfer back)

-  data stored in file and run cluster problem (single cpu version)
=> computation complexity may vary depends on your options
=> parallelizing algorithm may help to reduce compute

[2017-09-07 15:31] hyoo commented on #1402
no objection. please go ahead.

[2017-09-07 15:34] hyoo commented on #662
![image](https://user-images.githubusercontent.com/1236467/30171580-04646534-93b8-11e7-9703-029f0557bd32.png)

1. this is on old website
2. we support downloading metadata up to 25k genomes at a time.

@jimdavis1  please repoen or issue a new ticket if you think we need to increase this size or anything else you like related to this.

[2017-09-07 15:34] #662 closed

[2017-09-07 15:53] hyoo commented on #1681
Isn't it because of out-sync files? I will test and update.

- I tried on the page above, saying 729 genomes available, but downloaded 500 genomes.
- file sync may not be the source of problem. ftp site was synched on Aug 20 2017, but the most recent Vibrio cholerase genomes were indexed on July 23 2017.
- I suspect data api now and will look into it

[2017-09-07 16:03] chmao1 commented on #1113
Fixed and made a pull request.

[2017-09-07 16:06] chmao1 commented on #1138
This requires significant re-implemention of both front UI and backend server programs.

[2017-09-07 16:12] hyoo commented on #1681
https://github.com/PATRIC3/p3_api/blob/master/bundler/genome.js#L48

this was the reason that downloading only 500 genomes regardless of your selection. I will fix and deploy.

[2017-09-07 18:33] hyoo commented on #1681
fixed but we need to wait until the fix is deployed.
https://github.com/PATRIC3/p3_api/commit/e4033a7dbb26f352a7231a138871e872a10d3d3a

[2017-09-07 18:34] dawenx commented on #581
I tried this search and chose "any exact term", it returned 15 features. With the age of this issue and lots of improvement has been done in search, maybe we can close this?

[2017-09-07 18:42] dawenx commented on #496
I'm going through Website/UI label... Is this issue still relevant with workspace 2.0 release? If so, can i suggest to remove "Website/UI" label? :)

[2017-09-07 18:44] hyoo commented on #1626
you can go to workspace, annotation job result page, and there are [your_gneome_name]_features_dna.fasta and _features_protein.fasta

![image](https://user-images.githubusercontent.com/1236467/30179586-81baa6c8-93d2-11e7-985b-c839d4c65d56.png)

[2017-09-07 18:44] hyoo commented on #1626
download private genomes with download tool is not implemented yet.

see more detail
#1432

[2017-09-07 18:52] hyoo commented on #1459
after moving data api to ANL, we no longer needs to sync and this should work without sync. so i am closing this ticket.

[2017-09-07 18:52] #1459 closed, assigned to nobody

[2017-09-07 19:03] dawenx commented on #1160
this issue is not there any more as below link goes somewhere, suggest to close it. https://www.patricbrc.org/view/Feature/PATRIC.1262684.3.HF999589.CDS.29690.30529.fwd

[2017-09-07 19:43] hyoo commented on #1299
1. regarding the private genome, see #1432, #1470

2. download limit has been increased to 10k. This change will be deployed soon.

[2017-09-07 19:56] hyoo commented on #1626
I am going to close this one to consolidate tickets.

#1470

[2017-09-07 19:56] #1626 closed, assigned to nobody

[2017-09-07 19:57] hyoo commented on #1432
#1470

[2017-09-07 19:57] #1432 closed, assigned to nobody

[2017-09-07 20:02] hyoo commented on #1191
@mshukla1 we need your input.

[2017-09-07 20:31] chmao1 commented on #1671
Fixed and will be available in the next build.

[2017-09-08 16:02] #1299 closed, assigned to nobody

[2017-09-08 16:14] hyoo commented on #1672
this fix is available on alpha now.

[2017-09-08 16:19] hyoo commented on #1436
available on alpha, confirmed that this is fixed.

[2017-09-08 16:19] #1436 closed, assigned to chmao1

[2017-09-08 19:48] Sveta-user commented on #1672
THANK YOU !

[2017-09-08 21:06] olsonanl opened #1703 "annotation service should not overwrite hypotheticals"
When v2 kmers annotate a protein as hypothetical, do not allow subsequent phases to reannotate it.

perhaps the rule should be only annotate null annotations, not hypotheticals

[2017-09-09 13:10] brettin commented on #1640
I want to upload them because I write descriptions of the fastq files,
experiments, etc in small text files. I'd like to keep them those notes in
the workspace folder along with the data. I think anyone who seriously uses
the workspace over a period of time would want to keep notes in workspace
folders about the data, analyses, etc

For example:

Whole genome sequencing data from the morbidostat-e

[2017-09-11 13:42] chmao1 commented on #1672
Verified on alpha.

[2017-09-11 13:42] #1672 closed, assigned to chmao1

[2017-09-11 13:44] chmao1 commented on #1113
Verified on alpha.

[2017-09-11 13:44] #1113 closed, assigned to chmao1

[2017-09-11 13:45] chmao1 commented on #1666
Fixed and verified on alpha.

[2017-09-11 13:45] #1666 closed, assigned to chmao1

[2017-09-11 13:47] chmao1 commented on #1550
Verified on alpha.

[2017-09-11 13:47] #1550 closed, assigned to chmao1

[2017-09-11 13:48] chmao1 commented on #1671
Verified on alpha.

[2017-09-11 13:48] #1671 closed, assigned to chmao1

[2017-09-11 15:12] jimdavis1 opened #1704 "variation analysis: should be able to upload and align against an already annotated genome"
![image](https://user-images.githubusercontent.com/7661533/30281994-909d556e-96d9-11e7-9b09-cb2612a526e0.png)

[2017-09-11 15:43] Sveta-user commented on #1672
I love how search work on Alpha now!!  It finds ANYTNG you ask it, even smth weird like this, for example:   Aminoglycoside N(6')-acetyltransferase (EC 2.3.1.82) => AAC(6')-Ib/AAC(6')-II
Great!

[2017-09-11 15:48] chmao1 commented on #1672
Great! Thanks for the feedback.

[2017-09-11 15:53] Sveta-user commented on #1671
Thank you !!  Search results look really clean and satisfying now.  I mean, you get exactly what you asked for, nothing more, nothing less. Cool!

[2017-09-11 15:58] jimdavis1 opened #1705 "Job id should be part of job output directory"
I did a variation analysis and was looking for the job id and couldn't find it.  I had to go to the jobs page, which is a bad place to get it if you are doing a lot of jobs.

![image](https://user-images.githubusercontent.com/7661533/30284315-30fd263c-96e0-11e7-89b6-0ec563a763d6.png)

[2017-09-11 16:03] chmao1 commented on #1671
@Sveta-user Thanks for testing and the feedback. I'm glad that my fixes work as expected.

[2017-09-11 17:27] #282 closed

[2017-09-11 17:33] nconrad commented on #1677
This is fixed on prod as of Sep 5, 2017

[2017-09-11 17:33] #1677 closed, assigned to nconrad

[2017-09-11 18:11] nconrad commented on #1667
@hyoo, what would the check be?  All I can figure is a check for 403 forbidden vs a 500 server error?  https://p3.theseed.org/services/data_api/genome/562.18161 vs  https://p3.theseed.org/services/data_api/genome/1262708.3 ?

[2017-09-11 18:19] nconrad commented on #1633
The size is given by default now.  On prod.

[2017-09-11 18:19] #1633 closed, assigned to nconrad

[2017-09-11 18:26] nconrad commented on #600
Really old ticket, but I think this was addressed by @dmachi recently when he added the "show hidden files and folders" button?

![image](https://user-images.githubusercontent.com/1194246/30290385-c6e855a4-96f4-11e7-8486-c00b11243294.png)

[2017-09-11 18:31] nconrad commented on #613
Another old ticket.  I wasn't able to replicate the case of a file of unspecified type showing up in the dropdown.  Please reopen if you know of some issue like this.

[2017-09-11 18:31] #613 closed

[2017-09-11 19:33] dawenx commented on #1621
harry, i made change in app/p3app.js and pushed my change to my fork.

i have hard time understanding what xhr.post() was doing in WorkspaceBrowser.js, i also don't have much testing data in my workspace to even see MSA, Pathway Summary and IDMapping action icons, can you take over fixing WorkspaceBrowser.js? thanks!

[2017-09-12 13:57] dawenx commented on #1631
i decided to go ahead to fix 'reset' button and it will take user back to the same empty page as if the page is just loaded.

@hyoo can you 'approve' this plan before i do it? thanks.

[2017-09-12 14:56] hyoo commented on #1667
i guess in this particular case, genome id is 573.12900 and we can query /genome/573.12900 to ensure genome has been indexed on solr.
Since this is a private genome, you also need to pass authorization token in header.

[2017-09-12 15:06] hyoo commented on #1631
@dawenx that's what 'reset' button supposed to do. If it doesn't we should fix it.
However, Rebecca's point is not that problem. I agree to fix the behavior of 'reset' button as expected. Go ahead. On top of that, we need to think about the Rebecca's scenario either.

@ARWattam I understand user may want to do that. So, in ideal situation, if users change some options as they wanted, then, should

[2017-09-12 15:33] nconrad commented on #1667
I got the first url https://p3.theseed.org/services/data_api/genome/562.18161 via the public PATRIC Workshop workspace.  One of the corresponding requests says forbidden from the genome page (only in the console):

![image](https://user-images.githubusercontent.com/1194246/30334708-0040bfec-97a6-11e7-8550-60087ad19c70.png)

[2017-09-12 15:39] dawenx commented on #1631
@hyoo currently the selected entries in both ingroup and outgroup are not cleared after someone clicks on 'reset'. i used "Proteome Comparison" service as the example for developing this UI and similar behavior is there as well. i talked to chunhong briefly today and she said that's intended behavior for that service. As discussed, I will go ahead to fix it for tree service so that 'reset' would r

[2017-09-12 16:04] hyoo commented on #1667
okay, i misunderstood the original request. This happens when user shares their workspace with "PUBLIC". Sharing with public did not trigger changing genome (or any solr data) flag (public = true).

I was confused with other tickets saying when user clicks "view" button before the genome is indexed, the page was not available and user got frustrated. That's why I suggested a "checking" mechanism.

[2017-09-12 17:58] nconrad commented on #1518
I have a commit for this.

Note that the default response is:

[code]

![image](https://user-images.githubusercontent.com/1194246/30340973-f1e1a970-97b9-11e7-8bf7-1dfda115b326.png)

[2017-09-13 15:04] ARWattam opened #1706 "Circular viewer does not display uploaded file"
I was at this genome:
https://www.patricbrc.org/view/Genome/1351.436#view_tab=circular
and uploaded the attached file
[test upload.txt](https://github.com/PATRIC3/patric3_website/files/1299867/test.upload.txt)
Although it looks it should be loaded, based on what you can see in the left side display, but nothing appears in the view (see screen shot)
<img width="1284" alt="screen shot 2017-09-13 at

[2017-09-13 15:08] ARWattam opened #1707 "Circular viewer-non CDS features in view, but color not in side panel"
I'm at this genome:
https://www.patricbrc.org/view/Genome/1351.436#view_tab=circular

The third track in is light blue.  Hovering over the lines I can see that they are non-CDS features, but  on the left side, that particular line has not color attached to it.
<img width="1284" alt="screen shot 2017-09-13 at 11 03 54 am" src="https://user-images.githubusercontent.com/11475316/30385004-d494c3b0-987

[2017-09-13 15:12] ARWattam opened #1708 "Text search box on feature page producing some odd results that don't contain the right text."
I am on this page:
https://www.patricbrc.org/view/Genome/1351.436#view_tab=features&filter=and(or(eq(feature_type,%22CDS%22)),or(eq(annotation,%22PATRIC%22)),false)

I entered the word "tetracycline" in the text box filter at the top, but it returns a lot of genes that do not have tetracycline anywhere.
<img width="1359" alt="screen shot 2017-09-13 at 11 09 55 am" src="https://user-images.githubus

[2017-09-13 15:18] hyoo commented on #1708
if you go to feature overview page (select a row and click "F"), you will see it matches some pathway names.

![image](https://user-images.githubusercontent.com/1236467/30385454-dc48b802-986c-11e7-84fe-08c3b21f2eda.png)

[2017-09-13 15:48] ARWattam commented on #1708
Ahh....well now I understand.  Thanks for the enlightenment.

On Wed, Sep 13, 2017 at 11:18 AM, hyoo <notifications@github.com> wrote:

[2017-09-13 15:49] #1708 closed, assigned to nobody

[2017-09-13 15:58] hyoo commented on #601
No, genome browser loads features in a selected contig and within the range of your window.
however, request seems wrong
![image](https://user-images.githubusercontent.com/1236467/30387490-447a5df4-9872-11e7-9824-6451c538c3da.png)

it does not actually use right start & end.
@dmachi or @aswarren do you know why the second and third requests does not start 100000 and 140000 respectively?

[2017-09-13 15:58] nconrad commented on #312
I'm closing this as obsolete.  Please reopen if needed.

[2017-09-13 15:58] #312 closed

[2017-09-13 16:01] nconrad commented on #1385
This feature has been requested since 2015.  Closing since there's a duplicate ticket: #398

[2017-09-13 16:01] #1385 closed, assigned to nobody

[2017-09-13 18:05] nconrad commented on #1624
I think this was resolved by @dmachi .  Please reopen if needed.

[2017-09-13 18:05] #1624 closed, assigned to dmachi, nconrad

[2017-09-13 20:40] olsonanl opened #1709 "Proteome comparison allows comparison against contigs"
One can apparently submit a genome comparison against contig data (cf job f7e54a54-25e2-4e85-8e6d-38a01ff6f91d). It causes BLAST to blow up and use huge memory and does not work anyway.

[code]

This is a case where the user uploaded data and declared them protein, but they were contig

[code]

[2017-09-14 13:05] #1160 closed, assigned to hyoo

[2017-09-14 13:14] dawenx commented on #645
It looks like this issue is not relevant any more: help information is shown in the ItemDetailPanel (the rightest panel) now. Will close it if nobody objects.

[2017-09-14 13:17] #581 closed

[2017-09-14 13:45] ARWattam opened #1710 "Circular viewer-GC content and GC skew turned on as default"
Turning these on will decrease confusion on the user's part.  They can turn off if they so desier

[2017-09-14 14:23] chmao1 opened #1711 "Circular Viewer: disable the remove buttons in the track table"

[2017-09-14 15:29] #1438 closed, assigned to nobody

[2017-09-14 15:29] rkenyon commented on #1438
This was a failed job from 6 months ago.  I presume issue is now resolved.

[2017-09-14 16:08] mshukla1 commented on #1375
Users can use web browser bookmark for saving the taxon links, hence I don't think there is much added value in this.

If we have a way to create custom home page or dash board like iGoogle, that would be more useful.

[2017-09-14 17:29] nconrad opened #1712 "report error button"
Add new feature which automatically copies stdout/error from job to "provide feedback" form.

[2017-09-14 17:40] nconrad commented on #398
@olsonanl, @mshukla1 was talking about this today.   I think the 'delete' and 'suspend' from https://github.com/MG-RAST/AWE/wiki/AWE-APIs would need to be made available via the app_service, right?  It seems the safest way to delete the corresponding data would be to use their hashes?  So then app service would need to keep track of those and the workspaces may need to accept hashes for deletion (

[2017-09-14 18:43] olsonanl commented on #398
Yes. We’d need to also verify that they actually kill the jobs. I don’t necessarily want to delete the actual data, since we use that for our reporting. We may need to have a flag-deleted or somesuch.

At some point I am going to have the app service maintain its own database of this data; this is required for moving away from AWE.

This is another thing that isn’t terribly difficult but needs to

[2017-09-14 18:44] olsonanl commented on #1619
I'm going to bounce this one to Neal since it's a web UI thing.

[2017-09-14 18:45] olsonanl commented on #1669
I don't know what the bug is here... @jimdavis1  ?

[2017-09-14 19:11] chmao1 commented on #1711
Fixed and will be available in the next build.

[2017-09-14 19:12] chmao1 commented on #1710
Fixed and will be available in the next build.

[2017-09-14 19:12] chmao1 commented on #1706
Fixed and will be available in the next build.

[2017-09-14 19:30] dawenx commented on #486
@hyoo , i have no idea what the old page looks like, can you give me some clues? same thing for issue 487.

[2017-09-14 19:32] rkenyon commented on #1655
Is it possible to make a multi-value field sortable, or should we just close this ticket?

[2017-09-14 19:34] rkenyon commented on #1678
Assigned Dan Olson.  Not sure if that is the right person, but will probably need to coordinate through him once user service is moved.

[2017-09-14 19:51] rkenyon commented on #543
Not sure to whom this needs to be assigned.

[2017-09-14 19:52] olsonanl commented on #653
This was a viewer bug, not an annotation bug, but it appears to have been fixed in the latest viewer.

[2017-09-14 19:52] #653 closed

[2017-09-14 19:54] olsonanl commented on #652
This appears to have been resolved, apparently by dropping the parens in the output which seems a little odd to me.
![screen shot 2017-09-14 at 2 53 48 pm](https://user-images.githubusercontent.com/2152226/30452807-8afd5cf0-995c-11e7-9884-9ba0d2f65ba8.png)

[2017-09-14 19:54] olsonanl commented on #543
This needs to go to the webside folks to add an interlock between the file upload and the enabling of the submit button.

[2017-09-14 20:03] danielolson5 commented on #1678
Yes, I just discovered this week that the only email servers we have listed as trusted belong to a mass mailing service.

@nconrad @dmachi @olsonanl Do any of you know what IP address the new account emails currently originate from?

[2017-09-14 20:07] rkenyon commented on #1392
I believe he means here:
https://www.patricbrc.org/content/UserGuide

I think it should probably go as part of Genome Annotations, or maybe under it.
https://www.patricbrc.org/content/Genome_Annotations

[2017-09-14 20:07] danielolson5 commented on #1678
I created a test account and it is in the message header - 128.173.97.24 (almaren.bioinformatics.vt.edu).

[2017-09-14 20:07] rkenyon commented on #541
Fixed. Now working in production.

[2017-09-14 20:07] #541 closed

[2017-09-14 20:09] rkenyon commented on #614
I think that is a great option.  Neal, is this something you can add?  Assigning ticket to you.

[2017-09-14 20:11] dawenx commented on #648
This was reported more than 1 year ago and the problem was related to genome name selector. But I could not reproduce it from the production site today (09/14/2017). I would assume it was fixed as we improved genome name selector over the time. i suggest to close this issue (in a week) unless I hear objection from someone.

[2017-09-14 20:11] olsonanl commented on #1678
This is the other issue that was triggering my worries about using ANL mail servers. $15/month from socketlabs.com ...

[2017-09-14 20:20] dawenx commented on #647
![long_name_read_variation_service](https://user-images.githubusercontent.com/26723038/30453931-906a7dec-9968-11e7-978e-d9c4a0079df0.png)

[2017-09-14 20:24] danielolson5 commented on #1678
I updated the SPF record for patricbrc.org so VBI and ANL networks are trusted.  I'll test this again in a few hours to see if google trusts the registration notices now.

To solve this with socketlabs.com I believe we would need to use them as our mail gateway - that might be more trouble than it is worth.

I'm ok with maintaining our DNS records, now that I know this is an issue.

[2017-09-14 20:24] dawenx commented on #647
this drop down menu uses WorkspaceObjectSelector which was improved over the time. when i checked variation analysis service today (09/14/2017), i was able to see a long READ file name after i clicked on the triangle next to folder icon. i would say i cannot reproduce the issue. i suggest to close this issue (in a week) unless I hear objection from someone.

[2017-09-14 20:25] rkenyon commented on #608
[9/14/17, 4:23:41 PM] olsonanl: current approach is fine, they just have to not all upload at once
[9/14/17, 4:23:53 PM] nconrad: ah, i see
[9/14/17, 4:23:53 PM] nconrad: ok
[9/14/17, 4:24:04 PM] olsonanl: dd if=/dev/zero of=bigfile bs=1000000 count=4000

[2017-09-14 20:27] olsonanl commented on #1678
Yes, we’d configure whatever code sends mail to use that as the authenticated gateway. I have had zero bounces since I started using that (sending hundreds of messages to a lot of disparate addresses every month)

—bob

On Sep 14, 2017, at 3:24 PM, Daniel Olson <notifications@github.com<mailto:notifications@github.com>> wrote:

I updated the SPF record for patricbrc.org<http://patricbrc.org> so VB

[2017-09-14 21:10] rkenyon commented on #624
Appears to be working correctly now.  Closing ticket.

[2017-09-14 21:10] #624 closed

[2017-09-14 21:13] chmao1 commented on #1698
Fixed and will be available in the next build.

[2017-09-14 22:06] danielolson5 commented on #1678
This is now testing out successfully for me, registration emails to my gmail come through SPF authenticated.

@nconrad Can you also check?

[2017-09-14 23:52] mshukla1 commented on #1640
I think we have two concepts:

1. File types: refer to files containing information corresponding to specific data types, i.e. reads, contigs, genomes, gene matrix, etc.

2. File formats: Each file type supports multiple specified file formats, such as fasta, fastq, fastq.gz, txt, excel, etc, which are often denoted by the file name suffix / extension.

I think it is ok to upload readme txt files

[2017-09-15 00:22] mshukla1 commented on #1454
They do appear now under AMR gene tab, if there are PATRIC AMR genes linked to the specific antibiotic. As I understand, mapping AMR roles to specific antibiotics is till work in progress. Hence, you may not see any PATRIC AMR genes for most of the antibiotics.

Here is one example where it does show up:

<img width="1121" alt="screen shot 2017-09-14 at 7 19 04 pm" src="https://user-images.githubu

[2017-09-15 00:22] #1454 closed, assigned to mshukla1

[2017-09-15 00:28] mshukla1 commented on #1287
Erdman is the strain used in the experiment here. However, data is mapped to the genomes based on the definition of the corresponding microarray platform. In this case, Erdman is not one of the platform strains, hence data is not mapped to Erdman genome and it is not shown in the dropdown below.

This may be confusing, but it is one of the artifacts of dealing with the microarray data. We have dis

[2017-09-15 01:58] #642 closed

[2017-09-15 02:00] mshukla1 commented on #644
We have released Tn-seq service and data is streamed to genome browser. I believe this task is complete now.

-Maulik

[2017-09-15 02:00] #644 closed

[2017-09-15 02:03] mshukla1 commented on #665
This is very old ticket based on the old jboss website. The gene page has been redesigned the issue is no longer there.

<img width="428" alt="screen shot 2017-09-14 at 9 02 09 pm" src="https://user-images.githubusercontent.com/1236463/30463243-1e18c050-9990-11e7-8247-c698523bd859.png">

[2017-09-15 02:03] #665 closed

[2017-09-15 02:11] mshukla1 commented on #740
The current BLAST options allow you to restrict your search in multiple ways to get desired results as shown below. This would satisfy needs for most users.

<img width="728" alt="screen shot 2017-09-14 at 9 06 16 pm" src="https://user-images.githubusercontent.com/1236463/30463335-b0eabd48-9990-11e7-80dc-2fd88b5c9987.png">

Regarding exposing advanced blast parameters, i.e. scoring parameters, wor

[2017-09-15 02:11] #740 closed

[2017-09-15 02:11] #1003 closed, assigned to mshukla1

[2017-09-15 02:12] #1006 closed, assigned to mshukla1

[2017-09-15 12:35] mshukla1 commented on #1684
This was due to missing download files after the last release. I have updated all download files on the FTP site. The problem should be solved now.

-Maulik

[2017-09-15 12:35] #1684 closed, assigned to mshukla1

[2017-09-15 13:25] chmao1 commented on #1707
The foreground color display on the left side for non-CDS features was disabled because this track contains multiple colors representing multiple types of non-CDS features.

[2017-09-15 14:16] chmao1 commented on #1709
Actually, proteome comparison service only allows feature_protein_fasta type not contigs type. However, when the user uploads the fasta file from the workspace uploader, if the file contains contig data, but the user selects feature_protein_fasta type instead of contigs, the file is upload as feature_protein_fasta type. This was probably the reason for this problem.  Currently, PATRIC workspace up

[2017-09-15 14:56] mshukla1 commented on #1679
There was a bug in the data parsing script which ended up adding genome names without strain in the genome_amr table. I have corrected all data and scripts.

-Maulik

[2017-09-15 14:56] #1679 closed, assigned to mshukla1

[2017-09-15 14:59] mshukla1 commented on #1591
PATRIC AMR genes are displayed under specialty gene tab, when available for a genome. Below is an example for Mtb H37rv genome.

<img width="1119" alt="screen shot 2017-09-15 at 9 58 55 am" src="https://user-images.githubusercontent.com/1236463/30489313-8d8647ac-99fc-11e7-9f95-befaa4e4315c.png">

[2017-09-15 14:59] #1591 closed, assigned to mshukla1

[2017-09-15 15:12] mshukla1 commented on #1552
When I made 88 genomes from the user public, I somehow missed just this one...perhaps because it was the last one on the list and I didn't copy the list carefully. I have made it public and it can be accessed on the website now.

-Maulik

[2017-09-15 15:12] #1552 closed, assigned to mshukla1

[2017-09-15 15:15] mshukla1 commented on #1544
Structured assertions are not part of the primary feature related data, hence they are not searchable from the global search as of now.

If we want to add it, we will need to add it as another data type in the global search. It would be easy to add, however, given that structured assertions are available only for relatively small number of features, I am not sure if it is worth it!

Let me know if

[2017-09-15 15:26] #1287 closed, assigned to mshukla1

[2017-09-15 15:39] hyoo commented on #486
We used to have a page, where we query to NCBI api to retrieve multiple omics data (such as Strcuture, expression data, proteomic data, etc). This is a part of it and from this page, we hosted Java applet version JMol viewer to display 3D molecular structure ( #487 ).

However, we didn't update the page for a long time, because we wanted to explore a better way to tightly integrate data rather tha

[2017-09-15 15:41] dawenx commented on #486
just as fyi, i don't have Java background. agree that we need to review first as these two tickets are 2 years old.

[2017-09-15 15:43] hyoo commented on #1702
@dawenx since you are familiar to other service submission form, would you take a look?

[2017-09-15 15:48] mshukla1 commented on #486
This is not “fixing bug”, rather adding / migrating a tool, which is major development task.

Let’s discuss its priority in the next call before you start working on it.

-Maulik

[2017-09-15 17:16] hyoo commented on #1655
Classification field should not be sortable. This is a limitation from database (solr). Currently the field is not configured correctly, I will fix it soon.

[2017-09-15 17:22] #1289 closed, assigned to mshukla1, olsonanl

[2017-09-15 17:23] nconrad commented on #1678
@danielolson5, looks good, thanks!

[2017-09-15 17:28] mshukla1 commented on #1019
We have a cleaner collection year field now, which is now displayed in tables instead of collection date. Collection date come in different formats depending on the data sources. We will treat it as unstructured string and not worry about making the format consistent.

[2017-09-15 17:28] #1019 closed, assigned to mshukla1

[2017-09-15 17:59] #1655 closed, assigned to hyoo

[2017-09-15 17:59] #1621 closed, assigned to hyoo, dawenx

[2017-09-15 18:02] hyoo commented on #1533
Since users browser setting overwrites our implementation, we  cannot fix anything here. closing.

[2017-09-15 18:02] #1533 closed, assigned to hyoo

[2017-09-15 18:04] hyoo commented on #1590
I am removing Tool:Downloads label, because this is not related the functionality. If we decide to generate this file, it will come automatically.

This requires discussion/decision whether we need to generate specialty gene specific file or not.

[2017-09-15 18:05] jimdavis1 opened #1713 "Cannot copy the content of the BLAST result grid"
I would really like to be able to copy and paste out of the results window.  You can do it on the blast website...

![image](https://user-images.githubusercontent.com/7661533/30496926-90202a7c-9a16-11e7-83b2-fdc8e2aa9933.png)

[2017-09-15 18:07] dawenx commented on #1702
@hyoo i saw two ways of using WorkspaceObjectSelector, one is to defined it in the template and the other is to create the instance in startup(). this one and a few others like ProteinFamily.js and ComparativePathway.js, are doing it in startup(). once i added "this.inherited(arguments);" in startup(), i'm able to select a fasta file from a folder that's not visited before. BUT, i broke the whole

[2017-09-15 18:07] hyoo commented on #1564
search by protein family id works as is.

https://www.patricbrc.org/search/?keyword(%22PLF_1763_00000002%22)

![image](https://user-images.githubusercontent.com/1236467/30496995-cde1cbc2-9a16-11e7-9d45-431dfdeb86b6.png)

[2017-09-15 18:07] #1564 closed, assigned to hyoo

[2017-09-15 18:16] jimdavis1 opened #1714 "Alignment length is not reported in blast ouput."
I got really confused by the "Length" column, which I was expecting to be alignment length.  This is the most common length output for BLAST. I realized that alignment length is not reported.  It should be.

Also,
1.  The name of the "Length" column should be changed to "Subject Length".
2. The Query Length should be reported as a column (i know its in the window output above the alignment,  but h

[2017-09-15 18:36] mshukla1 commented on #1713
@hyoo, please check if it is possible to allow users to copy alignment.

[2017-09-15 18:44] chmao1 commented on #1410
This is available now.

[2017-09-15 18:44] #1410 closed, assigned to chmao1

[2017-09-15 18:46] chmao1 commented on #1570
Downloading MSA.png is no longer provided upon the request. Closing this ticket for now.

[2017-09-15 18:46] #1570 closed, assigned to chmao1

[2017-09-15 18:56] hyoo commented on #604
Now, we have moved solr to a better performing machine and configured with gc-pause-less jvm.
In addition to that, I have implemented memory caching. As a result, we can run a PFS with 88 genomes and 50k families in 12 sec, which usually took more than 5min and timed out.

I will plug this version on alpha, as soon as @olsonanl and @danielolson5 resolve certificate issue for p3c.theseed.org

[2017-09-15 19:01] hyoo commented on #322
private differential expression data has not been integrated solr yet. This should be one of the priority list in coming milestones.

[2017-09-15 19:05] hyoo commented on #630
currently filtering triggers a new scoping, which means, all the numbers in the facets are updated and entire grid is also re-populated. So, we cannot keep the selections.

[2017-09-15 19:14] #1501 closed, assigned to hyoo

[2017-09-15 19:42] mshukla1 commented on #1513
Having literature evidence for the human homolog was a mistake, it may have got added in the early day when we integrated the data and later got fixed.

I have set evidence = BLASTP for all human homologs.

I have cleaned up evidence for other sp genes as well.

[2017-09-15 19:42] #1513 closed, assigned to mshukla1

[2017-09-15 20:11] hyoo commented on #1702
no that is coming from bundle.js, where i bundled multiple external libraries. For some reason, it triggers sending message with empty string, it complains that the empty cannot be parsed with JSON parser. Don't worry about this part and send PR for your fix.

[2017-09-15 20:23] hyoo commented on #604
now, www.alpha.patricbrc.org/ works with mem-cached pfs

![image](https://user-images.githubusercontent.com/1236467/30501890-c1ec2dfe-9a29-11e7-8ae0-3c310abff9c2.png)

[2017-09-15 20:33] hyoo commented on #1714
Jim, which website are you using?
Please use www.alpha.patricbrc.org or production website, www.patricbrc.org

Your column setting looks different.

![image](https://user-images.githubusercontent.com/1236467/30502267-222ee994-9a2b-11e7-8a68-cded7129d7fb.png)

[2017-09-15 20:35] dawenx commented on #1702
OK, PR sent...

[2017-09-15 20:35] hyoo commented on #1714
never mind. It seems like you are searching against faa.

[2017-09-15 20:54] hyoo commented on #1714
![image](https://user-images.githubusercontent.com/1236467/30502979-169c6e78-9a2e-11e7-8c16-43c53cb37bf2.png)

fixed. deployed on alpha now.

[2017-09-15 21:04] hyoo commented on #1713
This is due to the grid selection model. That's why we created "Copy" Button in the selection action bar. I would suggest to extend the copy button or have extra button for doing this.

[2017-09-15 21:11] mshukla1 commented on #1584
I have added missing refseq accessions when possible. Now you can search for the above accession and find corresponding genome.

https://www.patricbrc.org/view/GenomeList/?keyword(%22NC_017104%22)

[2017-09-15 21:11] #1584 closed, assigned to mshukla1

[2017-09-15 21:14] mshukla1 commented on #1271
Both predicted AMR phenotypes and kmer regions are now available from the genome overview page.

[2017-09-15 21:14] #1271 closed, assigned to mshukla1

[2017-09-15 21:23] hyoo commented on #1643
fix in the linked ticket.

[2017-09-15 21:23] #1643 closed, assigned to hyoo

[2017-09-15 21:25] hyoo commented on #1511
I cannot reproduce this problem. If this happens again, please reopen this issue with detail steps and query sequence.

[2017-09-15 21:25] #1511 closed, assigned to hyoo

[2017-09-15 21:27] hyoo commented on #1512
I think genome selector fixed this issue.

![image](https://user-images.githubusercontent.com/1236467/30504153-c3225d7a-9a32-11e7-882d-818ad38fa351.png)

[2017-09-15 21:27] #1512 closed, assigned to hyoo

[2017-09-15 21:36] hyoo commented on #1358
i tested with 1200 genomes and it works.

[2017-09-15 21:36] #1358 closed, assigned to hyoo

[2017-09-15 21:38] hyoo commented on #1354
I don't know how to reproduce this issue. if it persists, please reopen this ticket with detail process and sequences.

[2017-09-15 21:38] #1354 closed, assigned to hyoo

[2017-09-15 21:46] hyoo commented on #1265
This is not a BLAST UI issue. Rather, as you mentioned, a generic AddToGroup widget issue. We used to have an option saying "create genome group" in old widget (JBoss).

[2017-09-15 21:49] hyoo commented on #1310
The query sequence can be either a PATRIC feature or random sequence. So, I don't think we can support this functionality. Please repoen if you think otherwise.

[2017-09-15 21:49] #1310 closed, assigned to hyoo

[2017-09-15 21:50] #1660 closed, assigned to hyoo

[2017-09-15 21:50] nconrad commented on #1589
So, I looked into this and made the breadcrumb path selectable.  Making the text in the folder/file list selectable seems to be non-trivial since the text would be selected while double clicking (to navigate into a folder).  Disabling text selection like this is fairly common.

[2017-09-15 21:59] nconrad commented on #1588
I think the error dialogs were moved to these panels not that long ago, maybe by @aswarren (?).  I'm not sure how much a dialog would help anyway, so I left those as is, but made text horizontally scrollable and also added a "copy to clipboard" button, which appears after the panel is expanded:

![image](https://user-images.githubusercontent.com/1194246/30504869-b82f807e-9a36-11e7-890f-c4d928228ed

[2017-09-15 22:50] Sveta-user commented on #1660
Great, thank you much!

[2017-09-17 15:20] mshukla1 commented on #213
It seems now you cane rename, copy, move and delete genome groups, just like any other files / folders in the workspace.

I checked on the production site and it seems to be working as expected.

-Maulik

[2017-09-17 15:20] #213 closed

[2017-09-17 15:30] mshukla1 commented on #281
The job submission form does support selection of output folder and output name now, making it consistent with the rest of the apps.

-Maulik

[2017-09-17 15:30] #281 closed

[2017-09-17 15:33] mshukla1 commented on #159
I believe this problem is no longer there after we migrated from jboss to the new website.

-Maulik

[2017-09-17 15:33] #159 closed

[2017-09-17 15:42] mshukla1 commented on #302
All output files are tab delimited txt files, hence, can be opened easily in excel.

I recommend that we simply change the output file extensions to .txt, to make it obvious for users and suggested applications for opening the files.

-Maulik

[2017-09-17 16:01] mshukla1 commented on #354
This is very old ticket and I am not sure whether this is still an issue. I don't remember seeing this recently. Besides, if the files do get uploaded as unspecified, there is a way to change the filetype from the workspace.

-Maulik

[2017-09-17 16:01] #354 closed

[2017-09-17 16:03] mshukla1 opened #1715 "Change file type for multiple files"
It would be good to allow users to select multiple files in the worskpace and change their file types in batch mode, by providing an action button in the green bar.

-Maulik

<img width="1134" alt="screen shot 2017-09-17 at 11 01 17 am" src="https://user-images.githubusercontent.com/1236463/30522563-cd39fc44-9b97-11e7-9fd4-a6212bf2124e.png">

[2017-09-17 16:07] mshukla1 commented on #357
Neal this is still a problem. It would be nice if you can add a vertical scroll bar in the file listing area.

[2017-09-17 16:09] mshukla1 commented on #487
#486

[2017-09-17 16:14] mshukla1 commented on #503
@nconrad, can you check if it is possible to add date modified as one of the columns in workspace file listing?

If it is not supported by the current workspace service, lets close the ticket as won't fix.

-Maulik

<img width="1128" alt="screen shot 2017-09-17 at 11 14 01 am" src="https://user-images.githubusercontent.com/1236463/30522655-5aca784e-9b99-11e7-997f-c993576edefd.png">

[2017-09-17 16:19] mshukla1 commented on #496
This is very old ticket and I believe refers to the old website.

On the current website, the most recent groups are listed first from the drop down. Also, theer is a folder icon, hat allows you to see all files/folders/groups, and sort them by name or date.

<img width="854" alt="screen shot 2017-09-17 at 11 18 44 am" src="https://user-images.githubusercontent.com/1236463/30522700-0036d14c-9b9a-1

[2017-09-17 16:19] #496 closed

[2017-09-17 16:23] mshukla1 commented on #516
We now have similar genome finder to find close relatives of any genome.

We decided to drop the propagation of the gene calls from close relatives.

Closing the ticket.

[2017-09-17 16:23] #516 closed

[2017-09-17 16:25] mshukla1 commented on #554
Assembly service now allows users to just provide an SRA run accession as input. The service gets relevant read files from SRA and does the assembly.

<img width="836" alt="screen shot 2017-09-17 at 11 24 38 am" src="https://user-images.githubusercontent.com/1236463/30522740-d1107714-9b9a-11e7-80df-cdd022efceb9.png">

[2017-09-17 16:25] #554 closed

[2017-09-17 16:26] mshukla1 commented on #555
@aswarren Do you know if this is still an issue and need to be addressed?

If not, please close the ticket.

-Maulik

[2017-09-17 16:28] mshukla1 commented on #562
We have the view and Experiment icons at the top now, which show the gene list without selecting the conditions from the table below.

-Maulik

<img width="1070" alt="screen shot 2017-09-17 at 11 27 48 am" src="https://user-images.githubusercontent.com/1236463/30522774-570e73b6-9b9b-11e7-93db-3cc0e4dce4a7.png">

[2017-09-17 16:28] #562 closed

[2017-09-17 16:30] mshukla1 commented on #568
Looks like this is fixed.

[2017-09-17 16:30] #568 closed

[2017-09-17 16:32] mshukla1 commented on #585
This should be delivered as part of the CLI release in November.

[2017-09-17 16:34] mshukla1 commented on #600
Yes, indeed. Closing the ticket.

[2017-09-17 16:34] #600 closed

[2017-09-17 16:39] mshukla1 commented on #625
The reference genome name is an optional parameter, user can leave it blank. If the uploaded file is output of the RNA-seq service, or for that matter, contains gene identifiers that can be unambiguously mapped to a genome, the service will map them automatically.

-Maulik

[2017-09-17 16:39] #625 closed

[2017-09-17 16:43] mshukla1 commented on #630
This may lead to confusion. When user changes selection / filters, we can not anticipate whether user wanted to keep the previous selection or not. If we keep it in memory, user has no way to unselect it, without first saving the group.

You can incrementally add genomes to the same genome group using different filters. It may require few more clicks and saves, but I believe it is much cleaner and

[2017-09-17 16:43] #630 closed

[2017-09-17 16:59] mshukla1 commented on #627
Because there can be multiple condition related to genes, it is difficult to show them in the dynamic table.

If you want to see up/down expression values for selected genes, you can download them as tab delimited or excel file from the pop up box.

<img width="634" alt="screen shot 2017-09-17 at 11 53 33 am" src="https://user-images.githubusercontent.com/1236463/30523043-a0544542-9b9f-11e7-9855-b

[2017-09-17 16:59] #627 closed

[2017-09-17 17:01] mshukla1 commented on #631
It seems this has been addressed as the genome group selector now supports selection from group listing.

<img width="830" alt="screen shot 2017-09-17 at 12 01 31 pm" src="https://user-images.githubusercontent.com/1236463/30523058-fac1781a-9b9f-11e7-9591-8b82ea5bae61.png">
<img width="409" alt="screen shot 2017-09-17 at 12 00 39 pm" src="https://user-images.githubusercontent.com/1236463/30523057-f

[2017-09-17 17:01] #631 closed

[2017-09-17 17:05] mshukla1 commented on #643
This is a major deliverable, should be tracked as part of release tasks and priorities and not as a github ticket. Hence, removing it from here.

Metagenomics is scheduled for release in March 2018.

-Maulik

[2017-09-17 17:05] #643 closed

[2017-09-17 17:07] mshukla1 commented on #648
Seems to be working now. Closing the ticket.

<img width="385" alt="screen shot 2017-09-17 at 12 06 45 pm" src="https://user-images.githubusercontent.com/1236463/30523099-c5ad69c6-9ba0-11e7-9f54-74c3a9cf3333.png">

[2017-09-17 17:07] #648 closed

[2017-09-17 17:09] mshukla1 commented on #647
Agree. Seems it has been fixed. Closing the ticket.
<img width="644" alt="screen shot 2017-09-17 at 12 08 17 pm" src="https://user-images.githubusercontent.com/1236463/30523115-086e70f2-9ba1-11e7-97bc-56135d353226.png">

[2017-09-17 17:09] #647 closed

[2017-09-17 17:18] mshukla1 commented on #658
The annotation files are named by genome name given at the time of submission and the whole file name is kept when it is downloaded, i.e. it doesn't get truncated at space. If you download the same file multiple time, it will be downloaded with the same name, and your browser will keep adding numbers at the end to make them unique.  So, I think download from annotation job results is working as ex

[2017-09-17 17:18] #658 closed

[2017-09-17 17:18] mshukla1 commented on #668
#503

[2017-09-17 17:35] mshukla1 commented on #1704
I don''t understand the issue. The service does allow you select one of the public / private annotated genome as Target Genome (i.e. reference) and align against it.

Can you please explain the issue?

-Maulik

[2017-09-17 17:39] mshukla1 commented on #617
Additional checkboxes have been added in the genome selector widget.

<img width="392" alt="screen shot 2017-09-17 at 12 38 55 pm" src="https://user-images.githubusercontent.com/1236463/30523327-3e3e7994-9ba5-11e7-97ce-4bcabd3a2ded.png">

[2017-09-17 17:39] #617 closed

[2017-09-17 17:47] mshukla1 commented on #1024
@dawenx Can you change the window title from "Copy Selection to Group" to "Add selected items to group" ?

This should apply to all genome and feature group creation pop ups.

<img width="418" alt="screen shot 2017-09-17 at 12 44 46 pm" src="https://user-images.githubusercontent.com/1236463/30523408-7275c9aa-9ba6-11e7-8b49-8686f3702273.png">

[2017-09-17 17:51] mshukla1 commented on #1026
This has been addressed. Closing the ticket.

<img width="303" alt="screen shot 2017-09-17 at 12 51 05 pm" src="https://user-images.githubusercontent.com/1236463/30523447-ebfdc610-9ba6-11e7-999a-8d06a9f83415.png">

[2017-09-17 17:51] #1026 closed, assigned to hyoo

[2017-09-17 17:56] mshukla1 commented on #1030
@hyoo

Harry, this has come up so many times in the workshops that I am elevating the issue to urgent.

When protein families are loaded by selecting multiple genome groups, we need to have a column in the genome list panel to show group names. Can you get this done sooner?

-Maulik

<img width="1416" alt="screen shot 2017-09-17 at 12 56 38 pm" src="https://user-images.githubusercontent.com/123646

[2017-09-17 18:02] mshukla1 commented on #1074
I like the current solution. Display top N most recent groups in the drop down, assuming that user are likely to select most recent groups. You have the folder selection icon next to it to see the complete listing of the group and sort them alphabetically or by date.

[2017-09-17 18:02] #1074 closed, assigned to hyoo

[2017-09-17 18:05] mshukla1 commented on #1111
@rkenyon what do you think?

Is "Provide Feedback" in the top menu enough or do we need additional link at the bottom of the page and on about patric page?

Close the ticket if you think additional links are not needed.

[2017-09-17 18:10] mshukla1 commented on #1131
I am not sure if we still consider this an issue. Should check with Rebecca.

If yes, my suggestion is that we add a big icon above the table for column selection / customization (next to filter and apply icons), in addition to the current + icon in the last column. We have space and it will make it more obvious.

-Maulik

<img width="1117" alt="screen shot 2017-09-17 at 1 08 43 pm" src="https://u

[2017-09-17 18:13] #1141 closed, assigned to dmachi

[2017-09-17 18:21] mshukla1 commented on #1197
I am suggesting that we keep it as it is for the sake of consistency across all taxon landing pages.

[2017-09-17 18:21] #1197 closed, assigned to hyoo

[2017-09-17 18:43] mshukla1 commented on #1265
We should apply this to the feature group creation widget in general.

<img width="1122" alt="screen shot 2017-09-17 at 1 42 44 pm" src="https://user-images.githubusercontent.com/1236463/30523827-22fc0468-9bae-11e7-8626-0d33956d0f59.png">

[2017-09-18 00:44] hyoo commented on #1030
Current PFS works on list of genome ids, either coming from context (like taxonomy view, genome list, genome group viewer) or PFS service.
Even though you're selecting multiple genome groups, it ended up aggregating genome ids and PFS starts from there.

I understand the need, but this how we implement all the tabs, not only the PFS.

Considering the need, we still can pass genome group informatio

[2017-09-18 01:31] mshukla1 commented on #1030
All good questions! Let's discuss this week and see if we can come up solution.

Sent from my iPhone

[2017-09-18 10:55] ARWattam commented on #1030
I'm not sure how to start the conversation, but I definitely have ideas.
Perhaps we should have a brief meeting on this at some point.

Rebecca

On Sun, Sep 17, 2017 at 8:44 PM, hyoo <notifications@github.com> wrote:

[2017-09-18 10:57] ARWattam opened #1716 "Change True and False to Public and Private in filter and designation for genomes"
This is very confusing for biologists.  Do we really need to keep this "true" / "false" designation?  I hate the little joke I have to make while explaining it at every single workshop.
<img width="417" alt="screen shot 2017-09-18 at 6 55 51 am" src="https://user-images.githubusercontent.com/11475316/30539031-9bb7cb72-9c3e-11e7-97c4-226c0e0c9891.png">

[2017-09-18 12:39] olsonanl commented on #516
I don't remember deciding to drop that feature.

[2017-09-18 12:42] olsonanl commented on #1588
Being able to slide the window size is helpful, if you know how to do it. I still like the notion of a "copy to clipboard" or "save as".

Stdout uses what stdout uses; it is entirely up to to whatever application is running. I'm not sure why it matters if it uses spaces or tabs.

[2017-09-18 12:43] olsonanl commented on #1358
I think this was related to a bug somewhere along the line - buggy/failed requests have a tendency of showing up as never-ending spinning (which should get a systematic fix btw).

[2017-09-18 12:46] olsonanl commented on #1709
Agreed. But until that happens I'd like to have a check in the proteome tool itself since it seems to bear the brunt of mislabeled uploads and results in badness on the backend server.

[2017-09-18 13:45] dawenx commented on #1024
I will work on that. Hovering on "Group" button shows "Copy selection to a new or existing group", I would assume we want to change "Copy" to "Add" as well.

[2017-09-18 13:45] dawenx commented on #1024
![for_issue_1024](https://user-images.githubusercontent.com/26723038/30544928-1efcdba0-9c56-11e7-9d34-f418271ef25a.png)

[2017-09-18 13:50] mshukla1 commented on #1024
Yes, it would be good to have consistent language everywhere!

Sent from my iPhone

[2017-09-18 17:44] nconrad commented on #1588
@olsonanl, yeah, you should already be able to slide the window size.  I added the scrollbar in addition to that.  It's on alpha if want to test it out.

Makes sense @ stdout spacing.

[2017-09-18 17:52] nconrad commented on #302
The file names end in .fbatbl, cpdtbl, .fluxtbl, etc, to distinguish the data type.   @olsonanl was suggesting to use excel files instead of tab delimited, but I doubt that's going to change anytime soon.

[2017-09-18 17:53] #302 closed

[2017-09-18 18:18] nconrad commented on #503
@mshukla1, it's not possible because the ws service only provides the creation time, unfortunately.

[2017-09-18 18:18] #503 closed

[2017-09-18 18:38] dawenx commented on #1024
I went through all files and made sure all hover and popup title are consistent. PR submitted.

[2017-09-18 19:24] mshukla1 commented on #1024
Thanks, Dawen.

[2017-09-19 10:44] mshukla1 commented on #1716
@hyoo @dmachi

Can you check it is possible to change this at solr response handler level or at the data API level to decode public=tue/false to public=public/private?

-Maulik

[2017-09-19 12:03] fbjornlund commented on #1452
This doesn't appear to work if there is more than one page in the result set. I just downloads 0 byte files.

[2017-09-19 12:06] fbjornlund opened #1717 "Download of fasta file from speciality genes fails if more than one page in result set"
If there is more than one page in the result set of speciality genes then the download of fasta files fails resulting in a 0 byte file. It's also not possible to view the fasta sequences.

This was first discovered trying the enhancement in
https://github.com/PATRIC3/patric3_website/issues/1452

The problem can be reproduced the result set from, select all then try to download fasta (fails).
https

[2017-09-19 12:17] dawenx commented on #1452
My understanding is that the download is only supported for results in current page. @hyoo @dmachi is this true?

[2017-09-19 13:35] dawenx commented on #1452
since #1717 was open and it's more general on URI/download, close this ticket.

[2017-09-19 13:35] #1452 closed, assigned to dawenx

[2017-09-19 14:00] zreyn commented on #1705
I'm not sure I understand this request.  What does it mean for the job id to be "part of job output directory"?  Does that mean it's in the directory name?  As a file in the directory?

You can find job ids from the jobs page without having to navigate to the job detail page:
<img width="557" alt="jobid-ss" src="https://user-images.githubusercontent.com/10354900/30596077-1fc60a5e-9d21-11e7-8fb7-bb

[2017-09-19 14:13] zreyn commented on #1640
I prefer not to type files as "unspecified" because it makes it harder for the viewer to figure out what the file is.

Users are now allowed to upload the following types:
TXT
PDF
CSV
JSON
PNG
JPG
SVG
GIF

I propose we let this ride until we get an idea of what users are doing with it.  If there's abuse, we can roll it back.

I'll close the issue for now, but feel free to reopen if we need to roll

[2017-09-19 14:13] #1640 closed, assigned to zreyn

[2017-09-19 14:43] zreyn commented on #1159
The immediate issue here has been fixed, so I will close this issue.  If we want to go after the cookie solution, let's take that to another issue.

[2017-09-19 14:43] #1159 closed, assigned to zreyn

[2017-09-19 15:21] hyoo commented on #1452
I agree with @dawenx, the problem @fbjornlund reported is a general grid selector problem. The selection does not work when picked across multiple pages.

[2017-09-19 16:10] hyoo commented on #1319
This is a duplicate.
#1030

[2017-09-19 16:10] #1319 closed, assigned to hyoo

[2017-09-19 17:12] nconrad opened #1718 "add date inserted / modified to genome overview"
from @olsonanl.

[2017-09-19 17:51] dawenx commented on #1717
The problem is caused by rows in 2nd page and I did not load IDs, e.g., those "undefined" in the long internal URL. With help from @dmachi , I got this issue fixed. @hyoo , can you confirm it and push it to alpha if the problem is fixed. We do have a way to select data for all rows in the grids, but I did not enable it when I worked on issue #1452.

@fbjornlund , thanks for reporting the issue and

[2017-09-19 18:38] fbjornlund commented on #1717
Thanks for moving fast towards a solution, I hope to soon see it in production :)

I copied the url from the chrome browsers adress bar, no debugger or special tool. I tried to reproduce it again, and I got the same behavior. 1) Select all (multiple pages) 2) Open fasta viewer (creates a new tab, display of sequence fails) 3) Click on download - this opens a new tab with the long ur in the adress

[2017-09-19 18:49] dawenx commented on #1717
Thanks @fbjornlund , I was able to reproduce the 414 request issue, this seems to be a difference problem and we will look into it.

Once the fix I did earlier was deployed to the production, you should be able to download fasta data directly from the results pages by: 1) Select all 2) Click on 'DWNLD' in the green action bar (above where you chose 'FASTA viewer').

We will let you know when 414 r

[2017-09-19 18:52] hyoo commented on #1717
There are several issues in this ticket.
1. @fbjornlund 414 error is due to the length of URL we have generated. Copying and paste the url above will not work ever, since this url length is limited by standard. We need to move this request to use POST method. I guess @dawenx already know how to do it.

2. picking rows over multiple page is a site-wide issue. It has some complicated issue and we ne

[2017-09-19 19:12] dawenx commented on #1717
@hyoo just wanted to be clear: 2 was addressed in PR 545 that you just merged. Yes, @dmachi has provided a way to address multiple page data loading issue. We probably need to go through the site to add this. 3 is not a problem, just a FYI, right?

I will work 1 and yes, we need to use POST.

[2017-09-19 19:15] hyoo commented on #1340
your breadcrumb tells there are some genome ids selected, but i cannot read. This is the reason why you see only two features. I cannot reproduce this now. Would you share your url and steps that get you this state?

[2017-09-19 19:18] hyoo commented on #1717
![image](https://user-images.githubusercontent.com/1236467/30610905-57a08de0-9d45-11e7-864f-156a44debc39.png)

I will be surprised this one line address all the issues. I have tested on alpha, the problem still exists.

lets separate issues. I will create another ticket and will link all the issues related.

[2017-09-19 19:21] dawenx commented on #1717
@hyoo yes, one-line... @dmachi did the heavy listing in PageGrid.js, all we need is to enable it by specifying the selectAllFields and it only addressed issue 2 in your summary.

[2017-09-19 19:26] hyoo opened #1719 "Grid general: Cannot select across pages."
Here is how to produce error.

https://www.alpha.patricbrc.org/view/Taxonomy/1386#view_tab=genomes

select first two rows,

![image](https://user-images.githubusercontent.com/1236467/30611156-2fe6db5a-9d46-11e7-9595-547a172b3f82.png)

go to 2nd page, and select first two as well,

![image](https://user-images.githubusercontent.com/1236467/30611167-39bd364c-9d46-11e7-931a-fc6b1d9d0f28.png)

and cli

[2017-09-19 19:32] dawenx commented on #1717
@hyoo i checked out FASTA.js, it's using 'post' there, not sure why it behaves like using get. could you please take a look? i will work on the new ticket you just created and will try to go through all grids later on to apply this fix for multiple page data loading issue.

[2017-09-19 20:11] chmao1 commented on #1131
Fixed and will be available in the next build.

[2017-09-19 20:14] dawenx commented on #1717
@hyoo I took it back on handling issue 2 already, in stead, loading all data is possible with PageGrid.js.

[2017-09-19 20:17] chmao1 commented on #621
This requires server side to generate xls file.

[2017-09-19 20:20] chmao1 commented on #1347
@ARWattam and @mshukla1 please review this and close the issue if this is no longer required.

[2017-09-20 18:11] nconrad opened #1720 "workspace get meta command request"
It would be useful to have a way to get object metadata.
[code]

[2017-09-20 18:18] nconrad opened #1721 "suppress workspace tracebacks"
This is already known, I'm sure.  It would nice if tracebacks were suppressed unless a `-v` option or such is used.  The tracebacks can be quite lengthy.

Current behavior:
[code]

[2017-09-20 18:42] nconrad opened #1722 "ws-mkdir doesn't work"
`ws-create` seems to work, but the listed `ws-mkdir` doesn't.

$ ws-mkdir --help
Global symbol "$type" requires explicit package name (did you forget to declare "my $type"?) at /Applications/PATRIC.app/deployment/plbin/ws-mkdir.pl line 35, <DATA> line 1.
Global symbol "$data" requires explicit package name (did you forget to declare "my $data"?) at /Applications/PATRIC.app/deployment/plbin/ws-mkdi

[2017-09-20 18:45] nconrad opened #1723 "potentially dangerous workspace command"
After `ws-cd`'ing to my home, `ws-rm` with no args deletes current directory....

[code]

[2017-09-20 19:23] olsonanl opened #1724 "Job display scrolls out from under you"
When the jobs page updates and you are scrolled down trying to find something it zips back to the top. This problem is compounded if you have a sort in place on one of the columns.

[2017-09-20 19:42] hyoo opened #1725 "reporting issue from job list, not working once issued"
![image](https://user-images.githubusercontent.com/1236467/30663934-cfd1585e-9e11-11e7-96e2-1aea5f6e5bb5.png)

this looks cool, I submitted one as a test. and after that, when i click one more time, i see the errors on the console.

[2017-09-20 19:49] nconrad commented on #1725
yeah, noticed that once was on alpha.  I'll fix.

[2017-09-20 19:55] nconrad commented on #1724
#websockets

[2017-09-20 19:57] nconrad commented on #1724
another option:  we could just put a refresh button, since we may be trying to hard?

[2017-09-20 20:20] olsonanl commented on #1724
websocket is an orthogonal issue since if the page rerenders on a websocket update you still have the scroll-while-reading problem.

If you are going to do any async updates they need to leave the page in the same location with the same sort order selected. Perhaps don’t touch the page if the user has been manipulating it at all.

—bob

On Sep 20, 2017, at 2:57 PM, nconrad <notifications@github.co

[2017-09-21 19:28] hyoo opened #1726 "pathway tab needs "add to group" button"
in all three sub tabs.

[2017-09-21 19:35] dawenx commented on #1717
I fixed the 2nd problem reported in this issue -- download bug in FASTA viewer. @hyoo I have submitted PR on this. This issue can be close after you verify it. I will work on selection on multiple pages issue.
@fbjornlund Hopefully my fix will be on the production soon. If you want a particular file from the download, I can upload it there while we are waiting for the codes to be rolled out. Thank

[2017-09-21 20:38] dawenx commented on #1719
@hyoo with lots of help from @dmachi , i think i got it fixed. PR submitted.

[2017-09-21 20:41] mshukla1 commented on #1470
Bob, lets try to solve this using the same mechanism you implemented for BLAST against public/private genomes.

I have script for generating the download files for public genomes. We can use it to create download files for private genomes and place them in a private folder on the /vol/patric3. The download service can combine public+private files and pass them back to browser.

-Maulik

[2017-09-21 20:44] hyoo commented on #1470
well, i was thinking to generate files on the fly inside data api. Formatting shouldn't be difficult. Since we're generating FASTA on the fly, this is possible solution. Just a matter of time format accordingly for multiple formats. @dmachi what do you think?

[2017-09-21 20:56] dmachi commented on #1470
Most are easy to serialize that way, but some aren’t.  For example, if i understand correctly, the gen bank files have data that would need to be pulled from multiple solr cores, so its more than just serializing the results of any one core like fasta does.  This would be the ideal way though.

[2017-09-21 21:04] olsonanl commented on #1470
If you commit that script we can add it to the suite of exporters run when a genome is processed and save the data in the workspace. Then the download can redirect to that file.

What precisely is the current mechanism for download?

On Sep 21, 2017, at 3:41 PM, Maulik Shukla <notifications@github.com<mailto:notifications@github.com>> wrote:

Bob, lets try to solve this using the same mechanism yo

[2017-09-21 21:22] dmachi commented on #1470
When you are using the advanced download tool (in the screenshot), it is download multiple genomes simultaneously.  Currently you can choose any of the file types below to be included in your download.  It only works for public genomes because it uses the files generated for ftp to stream these into a zip and stream that zip archive back out.  All of the other downloaders in the site do streamed s

[2017-09-21 21:28] mshukla1 commented on #1470
Harry just mentioned that after we moved data api to Argonne, it is now gathering files from local file system /vol/patric3/ and not public ftp site...the same place where we have public and private blast files.

[2017-09-21 21:31] mshukla1 commented on #1470
Advantage of generating download files on the fly is that data is always fresh and we don't need to worry about synchronization when we do data updates.

Disadvantage is that, multiple users would be asking for downloads for large number of genomes and hammering the production solr server. ...which could very well be the case as more and more users start using CLI for bulk downloads.

-Maulik

[2017-09-21 21:36] dmachi commented on #1470
Then we can make some minor changes and then the private genomes will work via this method too assuming all the same stuff gets exported for private genomes in the same directory structure as the public genomes.  Of course with this method, when genome metadata editing is available, no changes made by users will be reflected in the downloads.

[2017-09-21 21:49] mshukla1 commented on #1470
Metadata editing won’t pose a problem for now, because the only genome level data currently
used in the download files are genome id and genome name and those are not editable from the
website.

However, in future, when we allow users to update annotations for their genomes, we need to make
sure that the corresponding download files also get updated.

-Maulik

[2017-09-22 10:43] ARWattam opened #1727 "BLAST doesn't accept sequence with spaces between amino acids"
A user pointed this out when trying to do a BLAST.  The user also stated: "More informative error message would be better."

[2017-09-22 17:32] nconrad opened #1728 "0 byte size after copying"
I just copied the annotation files from `/PATRIC/PATRIC Workshop/Annotations` to my own workspace twice, and both times the same 3 out of 4 visible files are showing 0B.  The files are there, the size is just wrong.  I think we really ought to prioritize a fix.

![image](https://user-images.githubusercontent.com/1194246/30756774-a8fc2818-9f91-11e7-876d-01560fe4d1d6.png)

[2017-09-22 17:43] dawenx commented on #1435
my fix in PR 549 should address this issue as well.

[2017-09-23 01:52] nconrad opened #1729 "move/copy/rename/delete job data (.folder) with job result objects"
Not pretty, but this is done.  Making a ticket for tracking.

[2017-09-23 13:19] ARWattam opened #1730 "Failure trying to submit a metabolic reconstruction job"
Here is the error message I got:
submit failed: Can't connect to walnut.mcs.anl.gov:7080 (Connection refused) LWP::Protocol::http::Socket: connect: Connection refused at /disks/p3/runtime/lib/perl5/site_perl/5.16.2/LWP/Protocol/http.pm line 49. { "info" : { "priority" : 2, "userattr" : { "parameters" : "{\n \"fulldb\" : 0,\n \"output_file\" : \"E_coli_MRSN388634\",\n \"media\" : \"/chenry/public/m

[2017-09-23 13:47] ARWattam opened #1731 "bug: de-selection after select all"
I was trying to create a genome group of B abortus genomes with less than 100 contigs.  When I loaded the entire taxon, went to the genome page, sorted on sequences, selected all, and then de-selected all genomes with less than 100 contigs, I got this error message:
dojo.js.uncompressed.js:324 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effe

[2017-09-25 17:33] olsonanl opened #1732 "ARAST job crashes"
(See end with note about rogue job. Perhaps that is the real problem here. What is a rogue job and why did this turn rogue?)

We have seen a rash of job failures that manifest in the PATRIC logs as

[code]

The above were for user lkbryan. Below the ar_server.log around the time job e68909de-54c1-488f-8dbd-574334cd64db failed.

[code]

Here is the log around when 262 was submitted

[code]

Later:

[2017-09-25 19:19] olsonanl commented on #1732
Inside the ARAST mongo this job is listed as queued:

[code]

[2017-09-25 19:24] olsonanl commented on #1732
This a job of the user's marked as running:

[code]

I see this in the server log, with the rogue job status again.

[code]

[2017-09-25 19:33] levinas commented on #1732
Here's how Chris defined the rogue jobs:

[2017-09-25 19:55] olsonanl commented on #1732
OK. Any ideas on what happened here then?

[2017-09-25 19:59] olsonanl commented on #1732
The job #166 that is listed as running failed out on a query:

[code]

Should we be ignoring failures like this on ar-stat? What is actually failing there?

[2017-09-25 20:02] mshukla1 commented on #1727
I ran blastp on the patric website with a protein sequence with a bunch of spaces in it and it worked fine. So, I don't understand the issue. I am going to ask user to provide the exact sequence for debugging.

MSIEKLKAALPEYAK  DIKLNLSSITRSSVLDQEQLWGTLLASAAATRNPQVLADIGAEAT
DHLSAAARHAALGAAAIMG  MNNVFYRGRGFLEGRYDDLRPGLRMNIIANPGIPKANFELW
SFAVSAINGCSHCLVAHEHTLR  TVGVDREAIFEALKAAAIVSGVAQALATIEALSPS

[2017-09-25 20:24] mshukla1 commented on #1727
Never mind, I see that user did provide a sample sequence. I tried it and it did not work.
I think we can remove any white spaces  from the query sequence before posting it.

M R Q V E A L V E A S K E E V K A A A A P V T G P L A D D P I Q F D D F A K
V D L R V A L I E N A E F V E G S D K L L R L T L D L G G E K R N V F S G I
R S A Y P D P Q A L I G R H T I M V A

[2017-09-25 20:54] levinas commented on #1732
I don't understand what happened there. Could it be the time when velvet was running elm out of memory? I do see multiple cherrypy.TimeoutError() around 2017-09-24 08:33. CherryPy is the web server and perhaps that's why the client got the 500 error.

[2017-09-25 21:14] olsonanl opened #1733 "ARAST job overwrites"
It appears to be possible to run ARAST to the same output path and end up with interleaved output in a single job output:

[code]

Perhaps this should be disallowed by the GUI; I'm not sure offhand how other applications work with respect to this issue.

[2017-09-26 02:57] mshukla1 commented on #1731
@dawenx Not sure who exactly own this. Please take a look at the issue and feel free to reassign.

[2017-09-26 13:21] dawenx commented on #1731
this probably relates to select all functionally as i see "undefined" in the error. when i tried to reproduce it, i also saw another error reported here, i.e., "https://p3.theseed.org/services/Workspace 500 (Internal Server Error)", this happened when i was typing group name in creating a new group. @nconrad can you check out this part? see the screen shot.
![issue_1731](https://user-images.github

[2017-09-26 16:03] nconrad commented on #1731
I didn't write this bit, but yeah, it looks like it's related to the select all button, not the errors.

Those other errors are because the only way to check for an existing file is to call the `workspace.get` (metadataonly=true) api method, and that will return a 500 server error if the file doesn't exist.  It is being called to make sure the group name doesn't already exist.

![image](https://us

[2017-09-26 16:10] dawenx commented on #1731
thanks @nconrad good to know 500 server error is benign. i will try to work on the select all bug then.

[2017-09-26 17:15] dawenx commented on #1731
this is a site wide issue and it's similar to issue #1717. i'm testing my fix on my local, will submit a PR when i'm ready. @hyoo

[2017-09-26 17:50] dawenx commented on #1731
i think i have fixed this issue and made it general to support other tabs. PR submitted.

[2017-09-26 17:54] dawenx commented on #1719
deployed to alpha a few days ago, need more testings from team members, but it passed my tests.

[2017-09-26 18:28] nconrad commented on #1731
great!

[2017-09-26 18:53] ARWattam commented on #1731
Is it on production?

Rebecca

On Tue, Sep 26, 2017 at 1:50 PM, Dawen Xie <notifications@github.com> wrote:

[2017-09-26 19:38] hyoo commented on #1731
on alpha.

[2017-09-26 20:21] ARWattam opened #1734 "Finding some genomes that have geographic location, but it is not listed in table"
I have been looking at Brucella melitensis data and I have found a bunch of genomes that were apparently added somewhat recently, but they don't have country data.  When I look at the data for the selected genome in the table, I can see the country listed beyond the green bar
<img width="1418" alt="screen shot 2017-09-26 at 4 19 18 pm" src="https://user-images.githubusercontent.com/11475316/308824

[2017-09-27 19:11] chmao1 commented on #1711
Verified on alpha.

[2017-09-27 19:11] #1711 closed, assigned to chmao1

[2017-09-27 19:12] chmao1 commented on #1710
Verified on alpha.

[2017-09-27 19:12] #1710 closed, assigned to chmao1

[2017-09-27 19:15] aswarren commented on #1682
This was due to disk full.

[2017-09-27 19:15] #1682 closed, assigned to aswarren

[2017-09-27 19:15] aswarren commented on #1343
Streaming now supported.

[2017-09-27 19:15] #1343 closed, assigned to aswarren, levinas

[2017-09-27 19:16] aswarren commented on #1342
Now working for all recipes

[2017-09-27 19:16] #1342 closed, assigned to aswarren, levinas

[2017-09-27 19:35] chmao1 commented on #1706
verified on alpha

[2017-09-27 19:35] #1706 closed, assigned to chmao1

[2017-09-27 19:37] chmao1 commented on #1698
@ARWattam could you test this issue on alpha and let me know whether you're satisfied with the fix. Thanks!

[2017-09-27 19:38] chmao1 commented on #1131
Verified on alpha.

[2017-09-27 19:38] #1131 closed, assigned to chmao1

[2017-09-27 20:32] dmachi commented on #1676
I've updated p3-user on alpha so that it takes you to the patric home page after you change your password on registration instead of taking you to the account home page.  I believe this was the main case to take care of.  If you login from the user page itself, it will still keep you in the user site.

[2017-09-27 20:41] zreyn commented on #1705
I'll be modifying the job result page, as part of #1632, so I will include some of this information in the header as well.

[2017-09-27 20:42] zreyn commented on #1632
I'll work with Rebecca to design the new top part of the page.  These modifications should include the job id (from issue #1705).

[2017-09-27 20:43] zreyn commented on #1657
This is potentially due to the download links not being available from the service to pack into the url that sends data to JBrowse. This is especially a problem when there are a lot of tracks.  I will look into disabling the button until the download links are ready.

[2017-09-27 21:24] mshukla1 commented on #1734
I have added missing isolation country infor for ~15,000 genomes, where information was already available in the geographic location.

-Maulik

[2017-09-27 21:24] #1734 closed, assigned to mshukla1

[2017-09-27 22:37] aswarren commented on #1645
@ARWattam Did I provide any more detail than that in my request?

[2017-09-27 22:43] #1172 closed, assigned to aswarren

[2017-09-27 22:44] #845 closed

[2017-09-28 13:05] dawenx commented on #1435
deployed on alpha a few days ago, need verification @ARWattam

[2017-09-28 13:45] dawenx commented on #1265
OK, I will start to work on this.

[2017-09-28 15:28] jimdavis1 opened #1735 "I'm overwhelmed by the jobs overview page"
I need to delete or hide old jobs.  If that isn't possible, I'd like to group job status by the job directory in the workspace.

![image](https://user-images.githubusercontent.com/7661533/30975279-8d7f4994-a437-11e7-9421-dcd14e279f71.png)

[2017-09-28 19:56] zreyn commented on #1705
Headed to alpha in [PR #566](https://github.com/PATRIC3/p3_web/pull/566)

[2017-09-28 19:56] zreyn commented on #1632
https://github.com/PATRIC3/p3_web/pull/566

[2017-09-28 23:04] nconrad opened #1736 "change show files/folders checkboxes to "show all" checkbox"
added for tracking.

[2017-09-28 23:06] nconrad commented on #1736
done in PATRIC3/p3_web#567

[2017-09-29 12:52] jimdavis1 opened #1737 "Impossible to quickly see in progress jobs"
The only way to see my "in progress" jobs is to sort the column, page through to page 19, and then scroll down the page.   When I scroll down the page the browser freezes.

![image](https://user-images.githubusercontent.com/7661533/31016604-054ebf46-a4eb-11e7-970a-2823b0f1cf3c.png)

[2017-09-29 13:34] zreyn commented on #1657
I can't seem to recreate this.  Even on larger jobs where there are a lot of tracks.  I know the effect is sporadic, but is there an example job that tends to be problematic?

[2017-09-29 14:18] zreyn commented on #1658
Variation, RNA-seq, and TN-seq are currently included.  GenomeAssembly is missing reference_genome_id in the parameters, which is required for JBrowse as far as I can tell.

[2017-09-29 14:23] olsonanl opened #1738 "Index worker keeps dying"
We have been having index worker croaks at least a couple times a day lately:

[code]

resulting in a backlog of jobs in the annotation service.

[2017-09-29 14:54] dmachi commented on #1738
What is solr saying?  This seems like a proxy or solr server issue.  This code hasn't changed in over 2 years.

[2017-09-29 15:05] olsonanl commented on #1738
There are solr glitches that we are looking at, but the index worker needs to recover and get back to work without manual intervention.

[2017-09-29 15:06] olsonanl commented on #1738
This is what we are seeing in case you have any thoughts on it:

[code]

[2017-09-29 15:11] olsonanl commented on #1738
I'm going to move the solr issue to its own ticket to track details

[2017-09-29 15:15] olsonanl opened #1739 "Solr errors on segment file missing"
We are seeing repeated failures in solr of the following form. Extended context included.

[code]

[2017-09-29 15:16] olsonanl commented on #1739
These errors are causing the nagios monitor to trip with error 500 responses to status calls, and with the indexing worker to fail (cf #1738)

[2017-09-29 15:19] olsonanl commented on #1739
Possibly related

https://github.com/yacy/yacy_search_server/commit/73ab4a7b3adf6ff1e10086199fa4324ecbc47da1

[2017-09-29 15:23] olsonanl commented on #1739
@danielolson5  does the nagios monitor retry the status check if it fails? And do we get any status text back with the 500 error?

I wonder if we are seeing transient errors that crop up during indexing because of out of sync references to index segments in solr. (The notes from the link I just posted appear to say this is a non-fatal error).

This would inform the proper response of the index wor

[2017-09-29 15:41] hyoo commented on #1739
https://issues.apache.org/jira/browse/SOLR-8793?jql=text%20~%20%22java.nio.file.NoSuchFileException%20segment_%22

We're using 5.5.0 (https://github.com/PATRIC3/procedures/blob/master/solr-server-setup#L2)  and this issue fixed on 5.5.1

Since solr 7 is the newest version, we need to update our code base.

[2017-09-29 15:52] zreyn commented on #841
Looks like I can pull columns and orderings from here:
https://github.com/dmachi/p3_web/blob/master/public/js/p3/widget/ColumnsGenome.js

I'll also put the makings of a 'black list' of columns not to show.  I like a white list better since we're already looking up columns for ordering, but I doubt people will remember to add stuff to it when new columns show up.

[2017-09-29 16:01] olsonanl commented on #1739
Will we need to update our plugins to do that?

[2017-09-29 16:02] olsonanl commented on #1739
BTW that bug report related to the status handler; we are also seeing problems with the index worker. However it does seem prudent to update the solr version.

[2017-09-29 17:18] dawenx commented on #1265
@aswarren it looks like group creation is not working on MSA when I chose to create a genome group: well, the group was created (see screenshot 1), but when i tried to view it from workspace, it does not have valid data (see screenshot 2). can you take a look? thanks!
![issue_1265_1](https://user-images.githubusercontent.com/26723038/31027565-98c67480-a518-11e7-9de8-515c00183a05.png)
![issue_1265_

[2017-09-29 17:46] zreyn commented on #841
Not sure we need the blacklist with the shown columns option, so leaving that out for now.
[PR568](https://github.com/PATRIC3/p3_web/pull/568)

[2017-10-02 13:40] dawenx commented on #1387
@mshukla1 we can use genome id to select a genome now, i think we can close this ticket.

[2017-10-02 13:56] dawenx commented on #1388
@mshukla1 with @zreyn 's work on GenomeNameSelector, it seems that ":" is handled, so "O1357:H7" is working; "-" is also handled, for example, "lle-p" is working, but there's no genome with "K-12". maybe we can close this ticket?

[2017-10-02 14:07] dawenx commented on #1717
@fbjornlund Just FYI, the fix is in production now. Thanks for your patience.

[2017-10-02 14:07] #1717 closed, assigned to dawenx

[2017-10-02 14:09] dawenx commented on #1731
@ARWattam FYI, this is on production now.

[2017-10-02 14:09] #1731 closed, assigned to dawenx

[2017-10-02 14:12] #1719 closed, assigned to dawenx

[2017-10-02 14:12] #1024 closed, assigned to dawenx

[2017-10-02 14:14] hyoo commented on #1739
not plugin, this is a bug in solr 5.5.0. newer version should fix that. Actually I had worked on 5.5.1 and 5.5.3, but we didn't deploy with that. We can test and deploy 5.5.3 but, we are out-dated in major version and usually indexes are compatible only by one major version. So, we better to upgrade to 6.6 (lastest on 6) asap.

[2017-10-02 14:16] #1435 closed, assigned to dawenx

[2017-10-02 14:22] #1714 closed, assigned to hyoo

[2017-10-02 14:23] hyoo commented on #1702
deployed on production

[2017-10-02 14:23] #1702 closed, assigned to hyoo, dawenx

[2017-10-02 14:24] dawenx commented on #1631
the fix was deployed to production.

[2017-10-02 14:24] #1631 closed, assigned to dawenx

[2017-10-02 14:25] #1629 closed, assigned to dawenx

[2017-10-02 15:39] olsonanl commented on #1739
What is required to move forward with this?

[2017-10-02 16:13] #357 closed

[2017-10-02 16:13] #1428 closed, assigned to nconrad

[2017-10-02 16:13] #1518 closed, assigned to nconrad

[2017-10-02 16:13] #1588 closed, assigned to nconrad

[2017-10-02 16:13] #1589 closed, assigned to nconrad

[2017-10-02 16:13] #1689 closed, assigned to nconrad

[2017-10-02 16:13] #1718 closed, assigned to nconrad

[2017-10-02 16:13] #1725 closed, assigned to nconrad

[2017-10-02 16:13] #1729 closed, assigned to nconrad

[2017-10-02 16:13] #1712 closed, assigned to nconrad

[2017-10-02 16:14] #1736 closed, assigned to nconrad

[2017-10-02 16:37] hyoo commented on #1739
I need a day to checkout solr, apply custom data type, and see whether it works as we wanted and make a package so that you can deploy. don't know what will go wrong until i try, if that's the case, we can fall back to 5x and go with this version.

[2017-10-02 17:34] olsonanl commented on #1739
OK. There is a build package for p3 solr on spruce in /disks/patric-common/bootstrap/p3_solr that does a hands-off build from sources. We should get that updated for the latest version.

On Oct 2, 2017, at 11:37 AM, hyoo <notifications@github.com<mailto:notifications@github.com>> wrote:

I need a day to checkout solr, apply custom data type, and see whether it works as we wanted and make a package

[2017-10-02 20:19] dawenx opened #1740 "issues in group creation"
While working on issue #1265, a few issues in group creation were found:
1. when creating a new genome group in MSA tool, the new group seems to be created, but its data is not correct and we cannot view it (see below screenshots).
2. meta data for the new group, e.g., number of genome, is not correct. this was caused by duplication.
3. there's no notification when a group is successfully created.

[2017-10-02 20:23] dawenx commented on #1265
i created a separate issue to address some general issues in group creation. this issue only handles its original request: allow selection of group type when handling feature list.

[2017-10-03 04:00] hyoo commented on #1739
I cannot modify your file, but i tested on local. Please use this branch

https://github.com/PATRIC3/p3_solr/tree/lucene-solr_6.6.1_PATRIC

[2017-10-03 17:54] dawenx opened #1741 "Add protein to group is not working"
On https://www.patricbrc.org/view/TranscriptomicsExperiment/?in(eid,(1071603))
click on heatmap tab, click on a protein on the heatmap, it shows something like below, when clicking on "Add Protein to Group", it does not do anything.
![screenshot-2017-10-3 transcriptomics genes](https://user-images.githubusercontent.com/26723038/31140277-f4b046b4-a841-11e7-9a73-c4def997bd59.png)

[2017-10-03 19:42] olsonanl commented on #1739
That builder is in github; I went ahead and did the tweaks needed to pull your new branch and it seems to have built fine. I'm now making a snapshot of the solr data from chestnut onto local disk on larch so we can try it out.

[2017-10-03 21:36] hyoo commented on #1739
I tested locally (with genome core) and it works as expected. you can deploy on chestnut after you feel comfortable.

[2017-10-04 10:37] fbjornlund commented on #1717
Great work!

[2017-10-04 16:16] nconrad commented on #1637
This is on prod now.  The app name is title; job id and everything else in body.  You can comment on successful jobs too.  Let me know if anything should be changed.

[2017-10-04 16:16] #1637 closed, assigned to nconrad

[2017-10-04 16:19] nconrad commented on #1663
I should be able to make this state say "queued", which would be consistent with the status counts.

[2017-10-04 18:02] zreyn commented on #1632
PR for develop branch: https://github.com/PATRIC3/p3_web/pull/573

[2017-10-04 18:02] zreyn commented on #1705
PR for develop branch: https://github.com/PATRIC3/p3_web/pull/573

[2017-10-04 18:39] ARWattam opened #1742 "Time on new workspace out of whack"
<img width="908" alt="test workspace time" src="https://user-images.githubusercontent.com/11475316/31193267-9f4f13d2-a911-11e7-87a3-e36d6dfd6ea0.png">

I created the workspace sometime after 1pm EZT, and it says 5:38pm

[2017-10-04 19:41] aswarren opened #1743 "Phylogenetic tree labels missing"
Missing labels are seen for some trees. Potentially we can remove the upstream dependency from jobs if we just use Newick files and do the querying for labelling after the fact.

![image](https://user-images.githubusercontent.com/229173/31196087-81a14fcc-a91a-11e7-99a7-428270e44c58.png)

[2017-10-04 19:59] zreyn commented on #841
Added blacklist of columns: https://github.com/PATRIC3/p3_web/pull/574

[2017-10-05 13:27] dawenx commented on #1740
this is fixed and PR submitted.

[2017-10-05 13:35] dawenx commented on #1265
@mshukla1 i have enabled genome group creation from feature selection in Feature tab, IDMapping result, interaction tab, pathway summary tab and protein families tab.

I did not make change in Transcriptomics Gene Heatmap case because feature group creation is not working, and i opened issue #1741.

[2017-10-05 14:29] mshukla1 commented on #1265
Thanks, Dawen. I will test it once it is on alpha.

-Maulik

[2017-10-06 18:58] hyoo opened #1744 "user site missing logo"
![image](https://user-images.githubusercontent.com/1236467/31293952-bb822a06-aa9e-11e7-8e1a-ca8a9cf9d74c.png)

https://user.patricbrc.org/login

[2017-10-06 19:00] hyoo opened #1745 "reset password page missing template"
![image](https://user-images.githubusercontent.com/1236467/31293920-9adace16-aa9e-11e7-9994-46a101f18f18.png)

from
https://user.patricbrc.org/login
click "Forgot Your password?"

[2017-10-06 19:02] hyoo opened #1746 "logout is not working from user.patricbrc.org"
![image](https://user-images.githubusercontent.com/1236467/31293992-e30118da-aa9e-11e7-83a1-c8e863664349.png)

[2017-10-06 19:03] dmachi commented on #1746
These aren’t real problems for users as they are differences because  you are an admin user.  Will get them fixed.

[2017-10-06 21:28] nconrad commented on #1635
Any input on how this should work/look?  I just don't know what these things are used for...

[2017-10-08 12:49] ARWattam opened #1747 "User reports problems with ability to view shared workspace"
User ID: sviclittle

User says:
Also, members to the workspace can not access (view or edit) all of the
genomes-only the member that submitted job can see the results even if job
is saved in a shared folder.

[2017-10-08 13:24] jimdavis1 opened #1748 "genome count seems incorrect"
Website says there are 123,262 bacterial genomes, but there are only 116,003 in /vol/patric3/downloads/genomes/

![image](https://user-images.githubusercontent.com/7661533/31317183-1c8511e2-ac02-11e7-924d-7b20ca48ba71.png)

[2017-10-09 11:13] ARWattam opened #1749 "Discrepancy between tabs showing uploads and jobs completed"
I have two tabs open.  One showed a job complete, that I was able to annotate.  The second tab showed jobs in progress, even after I reloaded the page.
<img width="269" alt="screen shot 2017-10-09 at 7 11 34 am" src="https://user-images.githubusercontent.com/11475316/31335626-5c4b4b24-acc1-11e7-816c-5ea3c82065ca.png">
<img width="256" alt="screen shot 2017-10-09 at 7 11 26 am" src="https://user-im

[2017-10-09 12:00] zreyn commented on #1635
One is the download widget (the lower one with the tool tip 'Download Selection'), which applies to the selected items and supplies a table-type of download:
https://github.com/PATRIC3/p3_web/blob/develop/public/js/p3/widget/GridContainer.js#L337-L373

I would expect that one to show when multiple items are selected, though it doesn't in this case.  Not sure why... Copy is modeled after this and i

[2017-10-09 13:30] dawenx commented on #1265
@mshukla1 fyi, it's on alpha now.

[2017-10-09 16:05] nconrad commented on #1635
The second table download button only shows up when one item is selected because each item is a set of genomes, or features, etc.  I'm guessing nobody wants to download tables with genomes from multiple groups.  So, I'm going to leave 1 as is.   I also wouldn't remove the table download all together because that actually seems useful.  It was just the JSON download button that I wasn't sure about

[2017-10-09 16:55] nconrad commented on #1749
I'm not sure I completely understand the states your jobs were in, but it's entirely possible that these counts don't match because each browser tab is polling for updates every 15 seconds.

[2017-10-09 17:01] nconrad commented on #1747
Assuming they are talking about the view button, this is correct.  I'm not sure what the fix for this would be.  We should talk about this, @mshukla1 , @hyoo, @dmachi ?

[2017-10-09 17:16] mshukla1 commented on #1747
This is because, when you share a workspace, you share only the files and folders in those workspaces and
not the indexed genomes. Those are still owned by and visible to only the owner. So, the users will be able to
see the job result files, but will not see anything on corresponding genome pages, or won’t be able to see those
genomes in the tables.

Sharing a indexed genome with other users requ

[2017-10-11 19:17] chmao1 commented on #1709
@levinas Can you handle this from the server side?

[2017-10-12 11:27] ARWattam opened #1750 "Annotation service should make clear which file you selected"
I have been assembling and annotating 4 strains for a collaborator that have similar long and tedious names.  When I select them individually for annotation, as I go to the text box to enter the strain name, I find can only see contigs.fa....It does not show me the name of the strain.  I think that should be included to help the users figure out which of the contig files they selected.  Its quite

[2017-10-12 14:20] ARWattam opened #1751 "Filtering on Protein Family sorter is broken"
From my genome group (but I also did it from the genus Bartonella), I tried to use the filtering function at the bottom of the filter.  First, I could see that there were protein families that met the requirement I wanted (families with both 58 and 57 protein families per group.
<img width="1142" alt="screen shot 2017-10-12 at 10 13 44 am" src="https://user-images.githubusercontent.com/11475316/31

[2017-10-12 14:55] ARWattam opened #1752 "Download data for assembly does not list job id or job name"
When you have several of these open at the same time, how are you supposed to distinguish between them?  We need to add both the job ID and the name that the user gave the assembly
<img width="964" alt="screen shot 2017-10-12 at 10 54 01 am" src="https://user-images.githubusercontent.com/11475316/31502690-d79a008c-af3b-11e7-9435-344470f3e372.png">

[2017-10-12 16:40] hyoo commented on #1751
because,  > 58 and < 57 is empty set.

[2017-10-12 21:26] mshukla1 commented on #1752
"Download data for assembly does not list genome name, or even genome ID".

The assembly jobs don't have genome name or genome id associated with them.
Did you mean job id and user given job name? I would agree with the latter.

-Maulik

[2017-10-12 21:30] mshukla1 commented on #1752
I think the more broader issue is that all of the result files from assembly service get the same fixed names, instead of using user given output name as the prefix ... i.e. the way it is done by the annotation service.

I think it would be good if we adopt the same result file naming conventions across all the services.

-Maulik

[2017-10-12 21:50] hyoo opened #1753 "selection on taxonomy tab does not show any button"
![image](https://user-images.githubusercontent.com/1236467/31520951-4db9c2a8-af6d-11e7-9256-d3622e92d850.png)

we used to have a button that takes me to the selected taxon level. I don't have it here.

![image](https://user-images.githubusercontent.com/1236467/31520971-67dd2eae-af6d-11e7-9ce7-5aefffc78e36.png)

[2017-10-12 21:50] hyoo commented on #1753
@dawenx is this related to the recent grid change?

[2017-10-13 00:01] dawenx commented on #1753
i'm not sure. i left my laptop in the office and could not check it, will look at it first thing tomorrow morning.

[2017-10-13 00:24] dawenx commented on #1753
@hyoo this seems to be introduced recently because i was not aware that taxonomy tab does not have primaryKey property.

should i check out master branch to work on a hot fix? or use develop branch as usual? i will work on the fix tomorrow.

[2017-10-13 14:38] dawenx commented on #1753
this was fixed, pr submitted.

[2017-10-13 19:19] dawenx commented on #1753
saw the fix on production.

[2017-10-13 19:19] #1753 closed, assigned to dawenx

[2017-10-16 13:04] ARWattam opened #1754 "User requests to see amino acid position change in variant analysis"
Not sure how hard this would be, but seems like a reasonable request:
"It would be possible to get the position of the aminoacid change seen in the  table of variant analysis "

[2017-10-16 14:37] dawenx opened #1755 "select all is not working in some tabs"
An example of this was reported by a user:

"I've noticed a change in the genome count and it's better now, but it still show the wrong number (now omitting genomes).

When I go to AMR tab for Escherichia and search only for resistant strains and create a group for all the resulting genomes, I get a group of 28 genomes, but if I do it manually (select one genome per strain and group them), I get a

[2017-10-16 20:30] dawenx commented on #1755
@hyoo I submitted a PR for group creation issue in AMR tab.

I'm planning to go through all *Grid.js to double check 'select all' functionality for all actions as I suspect some newest grids an/or some newest actions would have this issue. This would take sometime to go through.

[2017-10-17 14:56] hyoo commented on #1739
We have been running new solr for a couple of weeks and I don't see this issue anymore

![image](https://user-images.githubusercontent.com/1236467/31672125-4bd9f0fe-b321-11e7-8bd8-0079f5c015d2.png)

I am closing this issue. please reopen when this occur again

[2017-10-17 14:56] #1739 closed, assigned to dmachi, hyoo, danielolson5, olsonanl

[2017-10-17 15:02] #1697 closed, assigned to hyoo

[2017-10-17 15:03] hyoo commented on #1681
This has been deployed on production.

[2017-10-17 15:03] #1681 closed, assigned to hyoo

[2017-10-17 15:05] hyoo commented on #604
deployed on production at Oct 13 2017.

[2017-10-17 15:05] #604 closed

[2017-10-17 15:07] hyoo commented on #1632
deployed on production.

[2017-10-17 15:07] #1632 closed, assigned to zreyn

[2017-10-17 15:07] hyoo commented on #1705
deployed on production

[2017-10-17 15:07] #1705 closed, assigned to zreyn

[2017-10-17 15:12] hyoo commented on #1698
@maovt I guess this must be deployed on production. Would you double check and close this issue?

[2017-10-17 15:18] hyoo commented on #841
i found a bug, but i will create another ticket, since the original request has been met already.

[2017-10-17 15:18] #841 closed

[2017-10-17 15:20] hyoo commented on #1676
@nconrad would you double check on production and close this ticket?

[2017-10-17 15:22] hyoo opened #1756 "copy on feature tab does not carry some fields"
https://www.patricbrc.org/view/Taxonomy/773#view_tab=features

![image](https://user-images.githubusercontent.com/1236467/31673472-e3917ca2-b324-11e7-8d59-0ac745e4e9ea.png)

and copied (full table with header option).

![image](https://user-images.githubusercontent.com/1236467/31673514-00f8a680-b325-11e7-87b6-dc9757ea29aa.png)

and PATRIC Local family and PATRIC Global family are missing.

I suspe

[2017-10-17 18:35] #1740 closed, assigned to dawenx

[2017-10-17 19:35] nconrad commented on #1735
@jimdavis1 Does the "running" filter on the alpha site help with this issue?

![image](https://user-images.githubusercontent.com/1194246/31684838-a141f544-b346-11e7-96d4-5cfd20fdf86c.png)

The main issue with this is that the jobs list is still limited to the last 10k jobs.  We should be able to increase this to 20k or so, but there's not much else that can be done without server side changes.

[2017-10-17 19:37] nconrad commented on #1737
The changes on alpha should help with this.  Could you test it out next time you are doing big runs, @jimdavis1 ?

[2017-10-17 19:39] nconrad commented on #1669
I'm not sure what the issue was here either?  Did those jobs ever finish?

[2017-10-17 19:47] nconrad commented on #1170
This issue doesn't seem easy to replicate.  It sounds like this could have even been when @ARWattam 's polling was getting blocked by ANL, @olsonanl ?   I wonder if we will have that issue again with the 5 second timeout polling.  Polling will be more often, but payload is only a couple hundred bytes.

[2017-10-17 19:51] nconrad commented on #1663
I think this should be fixed on alpha.

[2017-10-18 14:16] jimdavis1 opened #1757 "BLAST: make input sequence header optional"
It keeps saying "Blast only accepts one sequence at a time".  This happens when I go to the website and type in a  sequence.

I have discovered that if you add a header line it will run, but none of our users are going to figure that out because NCBI doesn't require this on the blast website.

![image](https://user-images.githubusercontent.com/7661533/31723630-08c2b1ba-b3e5-11e7-8cb6-9ea55c810bec.

[2017-10-18 14:29] mshukla1 commented on #1757
Looks like it is expecting the query sequence to be in fasta format or have the definition
line starting with “>”.

Harry, can you change it so that OI can just cut and paste sequence without fasta def line?

[2017-10-18 14:35] hyoo commented on #1757
We are using header line to distinguish sequences.

[2017-10-18 14:43] mshukla1 commented on #1757
You can assume that if there are no header lines provided, user has entered only one query sequence.

You can also clean up the query sequence by removing any white spaces before you submit.
I think there is another ticket for that.

-Maulik

[2017-10-18 15:51] mshukla1 commented on #1751
Harry, please add a check condition on user input and swap the values if min > max.

This will make the filter more robust and avoid such user mistakes.

-Maulik

[2017-10-18 16:20] jimdavis1 opened #1758 "BLAST Enhancement"
When I am doing a blastn against contigs, I would like to be able to see the region of the match in the genome browser.

![image](https://user-images.githubusercontent.com/7661533/31730012-3bd0e660-b3f6-11e7-9b92-472fbaff5cb0.png)

[2017-10-18 17:19] mshukla1 commented on #1758
You can select a hit and click the genome browser icon in the action bar. It will take you to
the genome browser, which matching region highlighted in yellow.

If that what you wanted? Or did you have something different in mind?

-Maulik

[2017-10-18 17:58] zreyn commented on #1756
Ahh, it's an issue where some of the column keys are different than the object keys.

https://github.com/PATRIC3/p3_web/pull/590

[2017-10-19 20:04] jimdavis1 opened #1759 "sorting by nucleotide length isn't working"
I'm on the features tab for the following genome, selected only repeat regions and tried to sort, but it took like 3 minutes to sort 100ish items.

![image](https://user-images.githubusercontent.com/7661533/31791611-bf45adf8-b4de-11e7-81dc-ae3ecc7cdb95.png)

[2017-10-19 20:46] aswarren commented on #1743
Waiting on pull requests to resolve:
https://github.com/PATRIC3/p3_web/pull/592
https://github.com/olsonanl/pepr/pull/1

[2017-10-21 18:16] ARWattam opened #1760 "Unable to upload SRA file to assembly selected files box"
I tried to take a specific SRA file (SRX2521124) and assemble it.  I put it into the SRA Run Accession, and then hit the arrow to load it into the selected files box, and nothing happens.  I think its broken.

[2017-10-21 18:38] mshukla1 commented on #1760
You need to provide SRA run accession as mentioned in the search box, which starts with SRR.

SRX corresponds to an experiment, which may result in multiple sequence libraries.

[2017-10-23 16:31] jimdavis1 opened #1761 "fasta files"
Regarding fasta files, I would like to advocate that we retire the locus tag and VBI id from the fasta header as well as the genome ID in brackets to simplify the fasta header so that it would go from looking like this:

To looking like this:

It would be nicer to look at and easier to parse.  I would also point out that the amount of space between the function and the [genome name] is kind of biz

[2017-10-23 16:48] mshukla1 commented on #1761
I would not mind dropping VBI locus tags as those are obsolete and probably no one cares about them.

I think we should not remove refseq/genbank locus tags as we have heard over the years that is the id biologists care about the most.
I think Rebecca would agree.

The reason genome ids were added is because we have hundreds of genomes with exactly the same name, making it hard to distinguish
them

[2017-10-23 17:13] ARWattam opened #1762 "Phylogenetic tree viewer needs to root tree on outgroup selected genomes"
Its not doing this

[2017-10-23 17:50] aswarren commented on #1762
![image](https://user-images.githubusercontent.com/229173/31904339-f8572744-b7f8-11e7-9eb4-dd30cc0b4834.png)

Job ID: 09412b9c-16d4-4b53-93f8-00b147602182 and user name katunge_cc

The tree should have a separate root for the outgroup in the rendering. This looks to be a viewer problem.

[2017-10-23 17:54] aswarren commented on #1762
![image](https://user-images.githubusercontent.com/229173/31904572-aa47c15c-b7f9-11e7-86da-5a618f8b79bf.png)

Should look like this

[2017-10-24 13:13] #1265 closed, assigned to dawenx

[2017-10-24 16:12] hyoo commented on #1759
![image](https://user-images.githubusercontent.com/1236467/31954817-2f286a68-b8ac-11e7-950d-8b05f16f286a.png)

https://www.patricbrc.org/view/Genome/573.13408#view_tab=features&filter=or(eq(feature_type,%22repeat_region%22))

this works for me.

![image](https://user-images.githubusercontent.com/1236467/31954837-3f4cffbc-b8ac-11e7-829d-4e129b766635.png)

it took 13 secs to load

[2017-10-24 16:15] hyoo opened #1763 "merge p3-user into p3_web"
this will help us manage deployment and will address issues linked here

[2017-10-24 16:15] hyoo commented on #1745
Closing this issue. This will be addressed by #1763

[2017-10-24 16:15] #1745 closed, assigned to dmachi

[2017-10-24 16:16] hyoo commented on #1744
Closing this issue. This will be addressed by #1763

[2017-10-24 16:16] #1744 closed, assigned to dmachi

[2017-10-24 16:16] hyoo commented on #1746
Closing this issue. This will be addressed by #1763

[2017-10-24 16:16] #1746 closed, assigned to dmachi

[2017-10-27 10:13] mshukla1 opened #1764 "copy na/aa sequence to the clip board"
Suggestion from a user:

On the gene page, provide "Copy" button to copy na/aa sequence directly to clip board, so that it can be used to search in other public databases.

Currently, user will have to first click view, which opens another tab, then manually select the sequence and then copy.

<img width="419" alt="screen shot 2017-10-27 at 5 10 23 am" src="https://user-images.githubusercontent.co

[2017-10-27 19:59] jimdavis1 opened #1765 "Genomes missing from /vol/patric3/downloads/genomes/"
The following valid genomes are missing from /vol/patric3/downloands

562.19823
562.19821
573.15107
573.15108

[2017-10-27 20:28] jimdavis1 opened #1766 "Genome search result"
Can we blow away the two lines that are meaningless,
SEQUENCED: 2014-12-08T22:11:50.753Z ( NIH Intramural Sequencing Center )
COLLECTED: 2011 HOST: Human, Homo sapiens
and add the genome identifier so I don't have to click and click and click?

![image](https://user-images.githubusercontent.com/7661533/32123835-579bdefe-bb2b-11e7-93fb-5aa29d4974bb.png)

[2017-10-27 20:44] mshukla1 commented on #1766
Agree. We should add genome id. Actually, I am surprised no one has asked for it until now! :)

The other information is meant to provide some context so that you can identify the genome
you are looking for without looking at top N hits one by one. The information displayed helps you
quickly learn the genome was sequenced by whom, when and why. As there are more and more
 genomes with similar name

[2017-10-28 14:09] ARWattam opened #1767 "Unable to see cancel or ok button on upload page"
The user may not realize that they have to scroll down to see the buttons that they need to.  The center panel could be decreased in size to resolve this issue.
<img width="839" alt="screen shot 2017-10-28 at 10 07 27 am" src="https://user-images.githubusercontent.com/11475316/32135140-09ba2ce8-bbc8-11e7-9b74-c4c494dc671c.png">

[2017-10-31 18:21] olsonanl commented on #1370
This is fixed by ensuring workspace service returns timestamps with a timezone indicator (Z) attached, and with times forced into UTC.

Times within Shock correctly have a time zone.

NB Safari javascript does not properly parse valid ISO8601 times of the form 2017-10-31T16:16:37+0000

[2017-10-31 18:21] #1370 closed, assigned to nconrad

[2017-11-02 15:47] ARWattam opened #1768 "Error seeing snps on JBrowse"
I am getting an error message for all the files in my snp analysis.  The screenshot is attached.
<img width="1422" alt="screen shot 2017-11-02 at 11 45 37 am" src="https://user-images.githubusercontent.com/11475316/32335626-a52ae9ac-bfc3-11e7-80db-d4ac4221f20e.png">

[2017-11-02 16:25] ARWattam commented on #1768
The bam file is not loading
![screen shot 2017-11-02 at 12 24 22 pm](https://user-images.githubusercontent.com/11475316/32337649-f8008614-bfc8-11e7-90ca-3d1f92133072.png)

[2017-11-02 16:26] ARWattam commented on #1768
Also, I know that a snp should be right here, but that is not loading, either.
![screen shot 2017-11-02 at 12 24 42 pm](https://user-images.githubusercontent.com/11475316/32337681-0c9bfe3c-bfc9-11e7-88c1-44e428800bf3.png)

[2017-11-02 17:01] mshukla1 commented on #1768
I think you need to select respective VCF tracks using the check boxes in the left panel.

[2017-11-02 19:12] mshukla1 opened #1769 "Downloads: remove obsolete file formats"
Harry,

Please remove / hide the following two options from file download menu as they are no longer
supported.

Annotations in GenBank file format (*.gbf)
Protein coding genes tab-delimited format (*.cds.tab)
RNAs in tab-delimited format (*.rna.tab)

-Maulik

<img width="704" alt="screen shot 2017-11-02 at 2 08 35 pm" src="https://user-images.githubusercontent.com/1236463/32345832-6bfa2934-bfd9-1

[2017-11-03 18:22] ARWattam opened #1770 "Metadata template FAQ link in Expression import leads to an error page"
Click on the information icon:
<img width="326" alt="screen shot 2017-11-03 at 2 20 23 pm" src="https://user-images.githubusercontent.com/11475316/32389826-5c20f9ec-c0a2-11e7-82d2-0839b3715933.png">
In the pop-up window, click on FAQ:
<img width="360" alt="screen shot 2017-11-03 at 2 20 35 pm" src="https://user-images.githubusercontent.com/11475316/32389838-6bb000f6-c0a2-11e7-946a-d5f5dbf2fd48.png

[2017-11-03 18:36] dawenx commented on #1770
@hyoo @mshukla1 do you know the correct URL? this can be fixed quickly.

Also, i removed this link in the new static content page. will add it back once we know the correct URL.

[2017-11-03 18:41] ARWattam opened #1771 "Keyword filter does not appear to be working in Transcriptomic genes"
I have  uploaded one of the experiments that we use during the workshop, and filtered on Hypothetical.  No change in number.
<img width="744" alt="screen shot 2017-11-03 at 2 39 06 pm" src="https://user-images.githubusercontent.com/11475316/32390462-e869a280-c0a4-11e7-9627-811a1e5bc3dc.png">

The error code is below:
Uncaught TypeError: Cannot read property 'toLowerCase' of undefined
    at eval (

[2017-11-03 20:58] mshukla1 opened #1772 "Don't show internal feature ids in the header"
...we should be showing patric ids or refseq locus tags or just summarize the number at the top.

<img width="1223" alt="screen shot 2017-11-03 at 3 56 46 pm" src="https://user-images.githubusercontent.com/1236463/32395574-af58f756-c0af-11e7-9b8a-d031f2bba5f7.png">

[2017-11-05 01:53] hyoo opened #1773 "add monitor on index worker process"
add monitor with newrelic or ganglia

[2017-11-05 16:18] ARWattam opened #1774 "Unable to load bam files from RNA Seq job"
I have run the RNA Seq job that will be used at the workshop, but when I try to see them in the genome browser, it throws an error.  It would be really great if this were fixed before the workshop
<img width="1427" alt="screen shot 2017-11-04 at 1 22 03 pm" src="https://user-images.githubusercontent.com/11475316/32407718-6fc44fdc-c163-11e7-8825-b2d041fc7cf1.png">

[2017-11-05 16:20] ARWattam opened #1775 "Able to see heatmap on Google Chrome with Pathway tool, but it doesn't load with same genomes using Protein Family sorter"
This is an odd one.  I can see the heatmap with the pathways:
<img width="1299" alt="screen shot 2017-11-05 at 11 18 27 am" src="https://user-images.githubusercontent.com/11475316/32416687-3e423614-c21b-11e7-9b6b-b042eb7b51ca.png">

Moments later, when I try to see the data from the same genomes, but using the ProteinFamily Sorter in Google Chrome, I get a message saying that I have to download Ad

[2017-11-06 12:19] zreyn commented on #1774
If you tried to load this page from your job result page using the blue Browser button, the problem could be that the downloadable URLs needed for JBrowse weren't loaded yet.  I don't get an error when trying to recreate it, however, I also don't see anything in the Rockhopper_COL_75.bam track.  @aswarren might have better insight

[2017-11-06 16:28] ARWattam opened #1776 "phylogenetic tree.sup gives error"
Clicking on this particular file opens a page with no tree:
<img width="1437" alt="screen shot 2017-11-06 at 11 26 11 am" src="https://user-images.githubusercontent.com/11475316/32451715-8bc4f82a-c2e5-11e7-8282-317e66db50da.png">

The error is as follows:
Uncaught SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at eval (core.js.uncompressed.js:5214)
/js/3.4.13/p3/widg

[2017-11-06 20:00] dawenx commented on #1772
i can go ahead to remove the query part for Feature List View, but i would like to double check before i do so. for now, those internal feature ids are in the url, i.e., part of the query, and we only display 2 of them in the header. why do we want to "hide" to make this particular one not consistent with other tab viewers?

[2017-11-06 21:08] dawenx commented on #1755
for the grid/action combination i tested, i did not find same issue. close this ticket for now.

[2017-11-06 21:08] #1755 closed, assigned to dawenx

[2017-11-07 01:36] jimdavis1 opened #1777 "Cant load data for a newly annotated genome"
![image](https://user-images.githubusercontent.com/7661533/32472762-c864a44e-c329-11e7-9d5c-734cf7a33138.png)

[2017-11-07 01:41] mshukla1 commented on #1777
It is probably waiting or stuck in the indexing queue. We have been getting similar complains from users lately.

I am advocating that we do not mark the job as complete until indexing is complete.

Sent from my iPhone

[2017-11-07 12:45] jimdavis1 commented on #1777
It's been in the queue for like 18 hours.  It makes me think that something is wrong.  This is going to create a  problem for the workshop.

[2017-11-07 13:53] hyoo commented on #1772
We need to discuss the solution. Some feature type, such as source, misc_feature, or assembly_gap does not have any meaningful ID beside feature_id.

@dawenx fyi,
feature_id is designed for internal use only. This is more like a composite key in RDBMS, combing annotation, seq id, start and end position, and strand as a way to generate a unique string for each feature. This is too long, and sometim

[2017-11-07 15:05] #1387 closed, assigned to nobody

[2017-11-07 15:05] #1388 closed, assigned to nobody

[2017-11-07 19:34] olsonanl opened #1778 "Misspelling in job results dialogs"
"Parameters". It's wrong in metagenome and proteome comparison at least.

<img width="797" alt="screen shot 2017-11-07 at 1 32 11 pm" src="https://user-images.githubusercontent.com/2152226/32513601-39fcfb74-c3c0-11e7-9249-601698437ca2.png">

[2017-11-07 19:38] mshukla1 opened #1779 "Add public filter on various tabs"
Just noticed that we have public = true /false filter available only for genome list.

We do not have the same available on features, AMR phenotype, specialty genes, and other similar tabs. We need to systematic review  all relevant tabs and add such filter where appropriate.

-Maulik

[2017-11-07 19:43] dawenx commented on #1779
i chat with harry this morning and wanted to know more on the back-end data structure. i'm planning to have a discussion with him when i visit next week, and work on this afterward.

[2017-11-07 20:15] chmao1 commented on #1698
tested and verified on production.

[2017-11-07 20:15] #1698 closed, assigned to chmao1

[2017-11-07 20:16] #1707 closed, assigned to chmao1

[2017-11-07 20:30] olsonanl opened #1780 "Misalignment on list pages"
Something seems to be a little off with size calculations on the list pages; the bottom seems to always be cut off because there is a little extra height that is triggering a scroll bar.

<img width="376" alt="screen shot 2017-11-07 at 2 29 32 pm" src="https://user-images.githubusercontent.com/2152226/32516216-3a09aeca-c3c8-11e7-8bad-f9925344cbd5.png">

[2017-11-07 20:32] olsonanl commented on #1780
BTW this is version 3.4.13 seen on Safari

[2017-11-07 20:38] chmao1 commented on #1347
Closing this issue for now. Please reopen if this is still an issue.

[2017-11-07 20:38] #1347 closed, assigned to chmao1

[2017-11-07 20:40] zreyn commented on #1778
Oops.  This is fixed in PR #602.

Para Mater?
https://www.tapatalk.com/groups/carsthetoys/imageproxy.php?url=http://i655.photobucket.com/albums/uu280/djjd21wales/vlcsnap-2012-01-03-17h37m51s107.png

[2017-11-07 22:05] ARWattam opened #1781 "Correlated genes not loading"
I am looking at Rv1736c (https://www.patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.1962228.1964186.rev#view_tab=correlatedGenes) and the genes never load:
<img width="1440" alt="screen shot 2017-11-07 at 5 03 05 pm" src="https://user-images.githubusercontent.com/11475316/32520375-c47e517c-c3dd-11e7-80f1-c6642f914034.png">

This is the error code I see
dojo.js.uncompressed.js:8392 Uncaug

[2017-11-07 22:05] #1781 closed, assigned to nobody

[2017-11-08 17:41] olsonanl opened #1782 "Drag and drop on linux?"
Rob was trying drag and drop to upload data on Ubuntu; it looked like it accepted the drop but didn't add the file info to the window.

[2017-11-08 17:50] mshukla1 commented on #1383
Neal, can you look into this?

Basically, if user tried to upload files directly from the job submission interface, the submit buttom should not be enabled until the upload is complete.

Currently, the problem is that users don't notice that the upload is still in progress at the bottom right corner, and submits the job, which then failed because the file upload is not complete.

We need to priori

[2017-11-08 17:51] mshukla1 commented on #1383
Please also search for other similar tickets and make sure all relevant issues are addressed together.

[2017-11-08 18:11] olsonanl opened #1783 "binning submission page issues"
If you make any mistake in the binning submission page it is easy to get it into a state where you go back and fix the problem but the submit button doesn't  get reenabled.

[2017-11-08 18:19] olsonanl opened #1784 "Job submission should block until uploads completed"
We really need to have the UI block submission of a job until its input files are finished uploading. We're running into that over and over in the session with Rob this morning.

[2017-11-08 18:39] nconrad commented on #1383
ok, will do

[2017-11-10 18:40] jimdavis1 opened #1785 "assembly service enhancement"
You should allow direct submission with ERR numbers as well as SRR numbers becuase there are sometimes genomes in ENA that are not in SRA.  Somebody will ask for it sooner or later.

[2017-11-13 14:20] jimdavis1 opened #1786 "Column selection needs to be alphabetized"
![image](https://user-images.githubusercontent.com/7661533/32730072-82d64e2e-c84b-11e7-89d0-e4f913cc7f9c.png)

[2017-11-13 14:36] zreyn commented on #1786
Note to whoever ends up working on this issue: the column ordering in this selection box is taken from the data grid, which determines the column ordering for the main display, download, and copy.  If this box needs to be alphabetized, it should only be alphabetized locally/for this box.

[2017-11-13 16:05] hyoo commented on #1786
@zreyn is right, Column selection follows whatever the order that grid is configured.

Column order is also manually crafted, by grouping/ordering in semantic order. Please talked to me or Maulik before make changes.

[2017-11-13 16:23] hyoo commented on #1784
checking the uploaded file size would help? We will not know the right size of file but would know that it shouldn't be zero.

[2017-11-13 16:25] hyoo commented on #1782
As far as i know, drag and drop is supported by chrome browser only. Did he use chrome?