[2019-10-22 15:15] chris-c-thomas commented on #2048
I'm going to assume browser updates have caused it to behave the way we intended or something similar. Closing.

[2019-10-22 15:15] #2048 closed, assigned to chris-c-thomas

[2019-10-22 16:48] mshukla1 commented on #1661
@chris-c-thomas CDD links are still missing.

[2019-10-22 16:51] mshukla1 opened #2318 "Feature Overview: duplicate EC numbers displayed"
On the feature overview page, the same EC number if displayed multiple times.

I believe we get EC numbers from the pathway table and it needs to be converted into unique list
before being displayed.

https://patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.2052.3260.fwd#view_tab=overview

[2019-10-22 16:54] mshukla1 opened #2319 "Feature Overview: external identifiers / id mapping are not getting displayed"
On feature overview page, we used to have listing of external database identifiers based on ID Mapping table, which is no longer there. It needs to be fixed.

[2019-10-22 17:47] mshukla1 commented on #1800
We removed RockHopper Recipe from the submission form, so I guess this is no longer an issue.

[2019-10-22 17:47] #1800 closed, assigned to aswarren

[2019-10-22 17:47] mshukla1 commented on #2109
We removed RockHopper Recipe from the submission form, so I guess this is no longer an issue.

[2019-10-22 17:47] #2109 closed, assigned to aswarren

[2019-10-22 17:51] mshukla1 commented on #1446
fastqc is now run on each of the read files as part of the RNA-seq pipeline.

We now also have readqc service that allow users to run fastqc and trim reads.

Closing the ticket.

[2019-10-22 17:51] #1446 closed, assigned to aswarren

[2019-10-22 17:56] mshukla1 commented on #2288
So, this is a non-issue and we can close the ticket?

[2019-10-22 17:58] #555 closed

[2019-10-23 16:26] mshukla1 opened #2320 "File selection from apps: show hidden / all files not intuitive"
User trying to select contigs generated by assembly job in other apps, i.e. annotation or similar genome finder.

The workspace file selection widget by default shows only files and folders, while the job results and corresponding result folders are hidden.

Users need to use the check the box, "Show all files and folders" to see job result folders and then select contig files in them, which is no

[2019-10-23 16:29] nconrad commented on #2320
Solution: use application folders (typed job folders) instead of hidden folders.  We could even have
just have a single type--a "Job Result" folder.

I could instead make all folders visible all the time?

[2019-10-28 20:01] nconrad opened #2321 "misleading amr chart"
I noticed that the AMR chart at higher taxonomy levels is really only for 25k genomes.

![image](https://user-images.githubusercontent.com/1194246/67711246-9364b100-f98f-11e9-934d-5c562e6e4f75.png)

If I make the same facet_pivot query, but for for all genomes, it takes ~10 seconds for the counts to be computed, and results in transferring ~1mb of data (for a total of 14 seconds on my connection).

[2019-10-31 16:38] jimdavis1 opened #2322 "This genome is listed as 1 Plasmid 1 Contigs, but it is just a plasmid genome."
I think that if it is a plasmid, the contig count plus plasmid count is somewhat misleading.

![image](https://user-images.githubusercontent.com/7661533/67966881-a4e9cb00-fbd2-11e9-9311-4c3faf982ee4.png)

[2019-10-31 16:38] jimdavis1 commented on #2322
genome size, quality, and number of contigs would be a more useful alternative.

[2019-11-01 23:17] nconrad commented on #2317
Ahh, same issue with `query_app_summary`, just so you know.

![image](https://user-images.githubusercontent.com/1194246/68061623-cda5b980-fcd3-11e9-9640-a835be52a0f4.png)

[2019-11-01 23:24] olsonanl commented on #2317
see if that fixed it.
________________________________
From: nconrad <notifications@github.com>
Sent: Friday, November 1, 2019 6:17 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Olson, Robert D. <olson@mcs.anl.gov>; Assign <assign@noreply.github.com>
Subject: Re: [PATRIC3/patric3_website] return type in new app service (#2317)

Ahh, same issue with query_app_summary, just

[2019-11-02 01:49] nconrad commented on #2317
Looks good.  Closing.

[2019-11-02 01:49] #2317 closed, assigned to olsonanl

[2019-11-13 01:36] nconrad opened #2323 "docs nav hover color"
- It's fairly odd that there is no indication of hovering on the top-level nav items in the revised sphinx styling.

![image](https://user-images.githubusercontent.com/1194246/68724928-7c72b100-0582-11ea-9629-378ba0339689.png)

Ideally, there'd also be the same logo, if not also the same blue bar across the top.

[2019-11-13 22:09] ARWattam opened #2324 "Add shift button to walk the genome in Compare Region Viewer"
From Gordon:
"I therefore very strongly encourage you to add buttons to shift the compare-regions view
a half-window and a full window width left or right using a single click instead of 3 clicks.
(If it is already possible to do this operation as a single click in PATRIC, then it is
so well-hidden that I cannot figure it out by looking at the compare-regions display,
implying that the ergonomics

[2019-11-19 03:29] nconrad opened #2325 "genome collection_year metadata"
I was having some fun aggregating some of the genome metadata.  I came across some malformed values for `collection_year`.    '20070723' and '20150824':

https://patricbrc.org/view/Taxonomy/2#view_tab=genomes&filter=keyword(20070723)

and

https://patricbrc.org/view/Taxonomy/2#view_tab=genomes&filter=keyword(20150824)

[2019-11-19 21:12] ARWattam opened #2326 "Subsystems tab is basically unresponsive"
This is a continuing problem.  Why don't we fix this.  I really want to use subsystems and like it so much, but it is unusable in PATRIC.  I have been waiting for 30 minutes for this to load:
https://patricbrc.org/view/Genome/220341.7#view_tab=subsystems

I asked Neal, too, and it didn't load for him either.

[2019-11-20 14:10] mshukla1 opened #2327 "Jobs list: incorrect start and end time when job is queued."
The start and end time in the right hand panel are incorrect and misleading when the job is still queued. This should be corrected soon.

<img width="260" alt="Screen Shot 2019-11-20 at 7 29 32 PM" src="https://user-images.githubusercontent.com/1236463/69245805-88d3bb00-0bcd-11ea-8899-d4a030dcf2f3.png">

[2019-11-20 17:33] nconrad commented on #2327
This is what the old app service was returning.  Bob already fixed with the new app service:

![image](https://user-images.githubusercontent.com/1194246/69262670-82235480-0b89-11ea-9ab3-d542fb06b015.png)

[2019-11-20 17:33] #2327 closed, assigned to olsonanl

[2019-11-20 17:35] nconrad commented on #2327
....although it seems there is no start time until the job finished, @olsonanl?

[2019-11-21 15:12] ARWattam opened #2328 "Need ability to run multiple fastq files to metagenomic binning"
Many of our other services have this, and we need to add it into metgenomic binning.  Sometimes multiple lanes of the same sample are run on a sequencing machine, and users would like to combine these to increase the coverage.  Would that break the service (I seem to remember that it was size senitive).

[2019-12-02 19:58] mshukla1 opened #2329 "Test all services for read files with bz2 compression"
For all services that use read files as input, test them to make sure they supports read files with bz2 compression.

Some of the read assembly and mapping tools do not work with bz2 and result in the job failure.

Once we know the extent of the problem, we need to come up with a common way to support or not support bz2 across all relevant services.

- [ ] Fastq Utils
- [ ] Genome assembly
- [ ] C

[2019-12-06 19:19] dawenx commented on #2024
@ARWattam i know it has been for a while, but this issue has been fixed. please verify it on alpha and close the ticket if you are OK with it.

[2019-12-06 19:21] dawenx commented on #1750
@ARWattam it's me again, :) this issue has been fixed and it applies to ALL services now. please verify it on alpha and close the ticket if you are OK with it.

[2019-12-10 16:38] chris-c-thomas commented on #2198
Verified on alpha.

[2019-12-10 16:57] olsonanl opened #2330 "FastqUtils - fastqc hang"
These two jobs apparently hung (ran for a couple weeks) running fastqc; it'd be good to undersatnd why

bca4896c-f4c7-4c0c-8770-25b15bfe6ad3

9c19ee6d-8b63-4f42-bc34-338516939c9a

[2019-12-10 20:20] dawenx opened #2331 "allow multiple SRRs in one try"
For assembly service and CGA service, allow user to input multiple SRRs separated by space or comma. Currently user can only input SRR one at a time.

[2019-12-12 17:05] chris-c-thomas commented on #2198
Verified on prod.

[2019-12-12 17:05] #2198 closed, assigned to chris-c-thomas

[2019-12-12 20:33] olsonanl opened #2332 "expression_transform breaks with current pandas"
See here for instance : https://github.com/pandas-dev/pandas/issues/21080

Current pandas (e.g. 0.24.2) breaks with the following traceback. Worked with 0.16.0.

[code]

[2019-12-16 21:29] olsonanl opened #2333 "GenomeAlignment GUI allows submission with empty path"
Note the submit button is enabled even with no path selected.

![image](https://user-images.githubusercontent.com/2152226/70944471-bf5bf480-2018-11ea-984e-d5578d1091a3.png)

[2019-12-16 21:32] olsonanl opened #2334 "Comprehensive Genome Analysis fails with phage"
A phage genome submitted to CGA results in an empty ingroup, which fails the tree.

What is the correct behavior - generate a report with no tree, and with an explanation? Or fail the job with an explanation?

[2019-12-16 21:34] olsonanl commented on #2334
This appeared in job 353850 with user jaimemromero

[2019-12-16 21:43] mshukla1 commented on #2334
As for the failed phage CGA job, genome report should be generated with no tree and an explanation
(i.e. no similar reference / representative genomes found using similar genome finder service).

In my view, genome report is still useful, or rather more useful, when a genome is of poor quality /
contaminated / or mislabeled for various reasons.

On Dec 16, 2019, at 3:32 PM, olsonanl <notifications

[2019-12-16 21:49] olsonanl commented on #2334
OK, so I'd like to leave this with Allan/Rebecca to work with Neal on the right way to do modify the genome report for this case. If you want me to pass in a flag signifying that there were no ingroups found I can do that. I'll pick this up again when I hear back.

[2019-12-17 17:10] mshukla1 commented on #2318
The same goes for list of pathways as well, they are also duplicated. Need to display as a non-redundant list.

-Maulik

[2019-12-20 17:23] olsonanl opened #2335 "CGA/Circos fails with contig ids with ='s"
Circos interprets "=" in the chromosome IDs as defined in the config file; thus contig ids like ```1_length=1447804_depth=1.01x ```  in job 361927 break it.

[code]

[2019-12-20 18:50] olsonanl opened #2336 "Assembly failure on pacbio"
Job 362439 failed with canu not generating contigs for SRR2064843

[code]

[2019-12-27 18:44] ARWattam opened #2337 "Assembly-Replace spaces with underscores in prefix (Output name)"
Users are allowed to name their output, and we have encountered a downstream problem with annotation if they have a space in that name.  It should automatically replace spaces with underscores to eliminate this problem.

[2020-01-14 01:46] chris-c-thomas commented on #2318
https://github.com/PATRIC3/p3_web/pull/940

[2020-01-14 16:20] mshukla1 opened #2338 "Job list: change columns displayed"
In the Jobs List:

Now that we have the clean[er] job ids, we should them to be displayed in the default view.
This will save us from checking the box to show job id, every time we want to search for a user job by id while responding to user requests. I think it will be useful to the users as well.

Please also change the default column order as shown in the screenshot below.

<img width="1347" al

[2020-01-21 15:50] chris-c-thomas commented on #2338
@mshukla1 just to clarify it should be sorted by descending ID by default and with the columns in that order?

[2020-01-21 15:53] mshukla1 commented on #2338
Yes, you can sort by descending job id.

On Jan 21, 2020, at 9:50 AM, Chris Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@mshukla1<https://github.com/mshukla1> just to clarify it should be sorted by descending ID by default and with the columns in that order?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://

[2020-01-21 16:06] chris-c-thomas commented on #2338
![Screenshot_2020-01-21 PATRIC Jobs](https://user-images.githubusercontent.com/22353987/72820885-4eba8000-3c35-11ea-871f-1c1244ba4572.png)

Updates committed for next PR.

In retrospect, keeping the default submit time order since that's essentially the same thing as job id sorting.

[2020-01-21 16:30] mshukla1 commented on #2338
Yes, job id or submission date, either would work.

On Jan 21, 2020, at 10:06 AM, Chris Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

[Screenshot_2020-01-21 PATRIC Jobs]<https://user-images.githubusercontent.com/22353987/72820885-4eba8000-3c35-11ea-871f-1c1244ba4572.png>

Updates committed for next PR.

In retrospect, keeping the default submit time order since that's

[2020-01-21 18:57] nconrad commented on #2338
@chris-c-thomas Related to this, since we are going to be displaying the ids, sorting that column would currently do a string sort (since the ids are returned as strings).  They used to be hashes, and so this behavior was reasonable.  Can you look into sorting by number?

![image](https://user-images.githubusercontent.com/1194246/72833939-74538380-3c4d-11ea-8244-014bebb9b6e0.png)

[2020-01-21 19:00] nconrad commented on #2338
@chris-c-thomas  Also, it should be safe to make the default width of that column a little smaller now.

[2020-01-23 23:19] mshukla1 opened #2339 "workspace: add check for special characters while creating files / folders"
Please add a check to prevent use of special characters while creating new workspaces, folders, uploading data files, and specifying job output names, as it often results in failed jobs.

The only characters allowed should be letters, numbers, dash, dot, underscore, and space (unless someone can think of other safe characters). If we cant handle the special characters safely, we should not be allo

[2020-01-28 01:54] chris-c-thomas commented on #2338
@nconrad it's set to create equal width columns that span the entire browser page.

[2020-01-29 20:44] ARWattam opened #2340 "Problem with clustering on Protein Family Sorter"
The following genomes produce an error when a user tries to cluster them on the Protein Family Sorter.  Maulik thinks it is timing out, but this shouldn't happen:
1392.242
1392.324
1392.379
1392.635
1392.642
1412842.4
1428.425
226900.8
260799.14
261594.21
281309.8
288681.15
347495.3
405535.8
412694.7
451709.7
486624.3
526970.3
526979.3
526985.3
527022.3
527028.3
527029.3
527032.3
572264.4
637380.6

[2020-01-29 20:46] mshukla1 commented on #2340
Neal, the problem is I think clustering request times out after two minutes of waiting for the results to return.

I think we should increase the timeout from 2 min to 5 minutes.

-Maulik

On Jan 29, 2020, at 2:44 PM, ARWattam <notifications@github.com<mailto:notifications@github.com>> wrote:

The following genomes produce an error when a user tries to cluster them on the Protein Family Sorter. Ma

[2020-02-03 14:26] olsonanl opened #2341 "CLI script needed for CGA"
cf jira 3036

[2020-02-03 14:44] olsonanl opened #2342 "long transfer reliability on windows"
Need to replicate and fix the issue with long-run reliability on windows workspace transfers. cf jira 3502

[2020-02-03 14:47] olsonanl opened #2343 "Need bare tar/zip install of CLI for linux"
Need to build a user-level installer for CLI release outside the scope of a package manager.

[2020-02-03 14:47] olsonanl commented on #2343
cf jira 2660

[2020-02-27 16:44] nconrad opened #2344 "AMR Summary Data for Private Genomes"
Per @mshukla1, the evidence field is not being populated for private genomes.

![image](https://user-images.githubusercontent.com/1194246/75464888-7647eb00-594d-11ea-9241-360bd109b335.png)

[code]

Should look something like this instead:

![image](https://user-images.githubusercontent.com/1194246/75465230-f0786f80-594d-11ea-9c11-b9042b6ed5fb.png)

[2020-02-27 19:23] nconrad opened #2345 "Understand and document how to encode queries"
Could be added to https://github.com/PATRIC3/p3_api/blob/master/Docs/API-tutorial.md.   This would be a good time to add a table of contents and maybe explain when to use each type of request style.

[2020-02-27 21:25] #2333 closed, assigned to nconrad

[2020-03-01 21:36] ARWattam opened #2346 "Information icon on Assembly parameters for Comprehensive Genome Analysis does not match the drop down box"
We have updated the assembly pipelines for the CGA, but the information icon currently shows the old assembly methods.  This needs to be updated to reflect what is in the drop-down box.
<img width="529" alt="Screen Shot 2020-03-01 at 4 36 01 PM" src="https://user-images.githubusercontent.com/11475316/75634320-cedfe800-5bda-11ea-9450-d3c46ef01ee1.png">
<img width="400" alt="Screen Shot 2020-03-01 a

[2020-03-01 21:41] nconrad commented on #2346
@ARWattam, I think @chris-c-thomas addressed this in https://github.com/PATRIC3/p3_web/pull/942.  It's on alpha if you want to review.

[2020-03-02 18:01] chris-c-thomas commented on #2346
![Screenshot_2020-03-02 Genome Assembly Service (new)](https://user-images.githubusercontent.com/22353987/75703684-87f6fe80-5c7d-11ea-80cb-3d88b7992578.png)

Should be on production come next deployment.

[2020-03-02 18:13] ARWattam commented on #2346
I looked on alpha and it is still the old assembly stuff

[2020-03-03 20:10] chris-c-thomas commented on #2346
New User Guide for revised CGA service required @rkenyon @ARWattam

[2020-03-04 14:56] mshukla1 commented on #2320
@nconrad yes, make all folders visible by default time by making the show hidden files box checked b y default.

Please find and deploy on alpha ASAP.

[2020-03-05 00:27] nconrad opened #2347 "move/copy dialog slowness"
The move/copy workspace object dialog is slow because it's doing an unnecessary recursive `ls` in certain situations.  This is super slow for users with a lot of data (such as the PATRIC user).

[2020-03-05 00:44] nconrad commented on #2320
The (short-term) fix I deployed to alpha automatically shows hidden folders/files when selecting contigs.

[2020-03-15 18:14] #2347 closed, assigned to nconrad

[2020-03-15 18:25] #2196 closed, assigned to nconrad

[2020-03-15 18:25] #2320 closed, assigned to nconrad

[2020-03-22 20:50] ARWattam opened #2348 ""Disease" not sortable when added to genome table"
I go to All Baccteria, click on the Genomes tab, which loads the table.  I want to filter on Disease, so I add that as a column.  However, when I click on the column header, the table does not resort (and it does this normally for any column that is present, or any that you add.  I tested with MLST). This should be sortable

[2020-04-09 20:54] ARWattam opened #2349 "Change "Viruses" to "Bacteriophages" in Domain of Annotation Service"
It is currently misleading, making people think that we have an annotation service for all viruses.

[2020-04-09 20:56] ARWattam opened #2350 "Change designations in Annotation recipe"
Nobody but us knows what "Default" means.  Default should be changed to "Bacteria/Archaea".
Additionally, "Phage" could be changed to Bacteriophage" .

[2020-04-13 20:46] aswarren opened #2351 "ID mapping table currently loaded"
Trying to map any features for MG6155 https://patricbrc.org/view/Genome/511145.12#view_tab=features
to any IDs outside the feature table fail on both the toolbar and service implementation of ID mapper.

[2020-04-20 19:55] ARWattam opened #2352 "Download table data into csv - Commas screw all the headers up"
I have noticed this myself, but this if from a PATRIC user describing his problems with downloading tables with csv format.
"For example, upon export to a .csv, “Oligopeptide ABC transporter, ATP-binding protein OppF (TC 3.A.1.5.1)” not surprisingly gets split into two cells: “Oligopeptide ABC transporter” and “ ATP-binding protein OppF (TC 3.A.1.5.1)”.  Note the space at the beginning of the seco

[2020-04-20 20:38] dmachi commented on #2352
Download it as a TSV (tab separated values) which is just a CSV with tabs separating fields. I believe we quote the CSV elements, but if the program doing the reading of the csv file doesn’t handle that,  then it will have behavior like this.

[2020-04-20 21:46] ARWattam commented on #2352
Excellent point.  I have passed that on to the user and he was somewhat embarrassed.  He hadn't made the connection that it was a tsv file, but didn't know exactly what he thought it would be.  I think we can consider the issue closed as it met his requirements....unless we want to consider putting quotation marks around protein family names in the csv so we don't have to address this again.

[2020-04-20 21:57] nconrad commented on #2352
No, that file was a csv file.  I haven't looked at the data api code yet, but `Oligopeptide ABC transporter, ATP-binding protein OppF (TC 3.A.1.5.1)` is appearing without quotes in the header of the csv file.  I think this is bug that needs to be fixed.

[2020-04-20 22:37] dmachi commented on #2352
It wasn’t a TSV file, so he didn’t do anything wrong in that regard.  The data api lets you download CSV or TSV files, so I just meant TSV was a work around.  I haven’t checked our code to see whether the CSV error is on our side or on his.  I thought that we were already quoting the individual fields in our CSV output (though I could be wrong) and so I was saying that the problem could be on the

[2020-04-24 12:58] ARWattam opened #2353 "Auto selection on CGA assembly-Report does not tell what program was used"
When Auto is selected as the assembly program option, the report does not tell which program assembled the contigs.  It just says "auto".  Users need to know which program was used, and the report should reference that option.  I checked a job submitted 03 March 2020 and verified that this is the case.  The report from an assembly job that was run by itself does describe the program used.

[2020-04-24 13:03] ARWattam opened #2354 "CGA-can't open assembly part"
When I open a recent CGA job, I can click on the little flag for annotation and it will overwrite the page to show the results of the annotation job.  when I click on the little flag for assembly, it doesn't open.  I am trying to figure out what assembly program was selected when I chose Auto, and I can't if this won't open

[2020-04-30 19:10] nconrad commented on #2354
To replicate:

1) Go to this job result view for a comprehensive genome analysis:
https://patricbrc.org/workspace/public/PATRIC@patricbrc.org/PATRIC%20Workshop/Comprehensive%20Genome%20Analysis/Buchnera%20aphidicola%20strain%20Tuc7

2) Click on the "annotation" job result.

![image](https://user-images.githubusercontent.com/1194246/80748830-2d4a1980-8aeb-11ea-81bd-d7d483c55c35.png)

Note that the

[2020-05-05 13:24] ARWattam opened #2355 "Numbers not appear on outside of circular viewer for private genomes"
A user has complained about this for his particular genomes, and when I reannote them in my account, I also see that the numbers are missing.  What are the limits to numbers being portrayed outside the circle?
<img width="869" alt="Screen Shot 2020-05-05 at 9 17 43 AM" src="https://user-images.githubusercontent.com/11475316/81071026-1b34f600-8eb2-11ea-8660-50eb24cb8eab.png">

[2020-05-05 17:22] nconrad opened #2356 "Add tsv/json download to heatmap viewer"
Add save buttons for TSV and JSON to the heatmap view.
This helps with requests like the recent one from ATCC, where users want to download the heatmap data.

[2020-05-05 17:22] nconrad commented on #2356
https://github.com/PATRIC3/p3_web/pull/961

[2020-05-06 15:41] chmao1 commented on #2355
Fixed and made a pull request.

[2020-05-08 16:20] nconrad commented on #2355
@chmao1 Could you push your change? https://github.com/PATRIC3/p3_web/pull/962#issuecomment-624787284

[2020-05-08 20:23] nconrad commented on #2355
@ARWattam This is on alpha now!  The reloading issue should also be fixed there.

[2020-05-08 20:27] nconrad commented on #2356
On alpha. Looks good to me.

[2020-05-11 21:09] aswarren opened #2357 "Host RNA-Seq broken"
Host RNA-Seq currently does not work due to dated annotations and genomes.
Currently updating...

[2020-05-11 21:10] nconrad commented on #2357
https://github.com/PATRIC3/p3_web/pull/959

[2020-05-12 14:57] chris-c-thomas commented on #2338
On production. Closing.

[2020-05-12 14:57] #2338 closed, assigned to chris-c-thomas

[2020-05-12 14:59] chris-c-thomas commented on #2319
On production. Closing.

[2020-05-12 14:59] #2319 closed, assigned to chris-c-thomas

[2020-05-12 14:59] chris-c-thomas commented on #2318
On production. Closing.

[2020-05-12 14:59] #2318 closed, assigned to chris-c-thomas

[2020-05-12 15:21] chris-c-thomas commented on #2350
https://github.com/PATRIC3/p3_web/pull/969

[2020-05-12 15:21] chris-c-thomas commented on #2349
https://github.com/PATRIC3/p3_web/pull/969

[2020-05-12 15:28] ARWattam opened #2358 "Pathway Summary STILL not working"
I have a list of genes in a table.  I click on the Pathway Summary icon in the vertical green bar. It never returns results.  I got another JIRA ticket about this today.  Could we please look into this?  I have told users that we have been working on this for a very long time.

[2020-05-12 15:35] chris-c-thomas commented on #2358
The pathway summary page is loading for me.

<img width="1091" alt="Screen Shot 2020-05-12 at 10 33 56 AM" src="https://user-images.githubusercontent.com/22353987/81713933-1f29c080-943c-11ea-999c-38cd4b419a3f.png">

[2020-05-12 15:38] nconrad commented on #2358
Sometimes works, sometimes doesn't.  @hyoo I've looked into this before but made no headway.  Do you have any ideas?  There's a history of related issues.  https://github.com/PATRIC3/patric3_website/issues/1339 and maybe https://github.com/PATRIC3/patric3_website/issues/852

[2020-05-12 15:43] chris-c-thomas commented on #1661
On production. Closing.

[2020-05-12 15:43] #1661 closed, assigned to chris-c-thomas

[2020-05-12 16:01] mshukla1 commented on #2127
Fix is deployed on production. Verified it is working.

[2020-05-12 16:01] #2127 closed, assigned to chris-c-thomas

[2020-05-16 02:03] JacobPorter commented on #2354
WorkspaceBrowser.js is not setting a viewer for GenomeAssembly at line 1365.

[2020-05-16 04:16] nconrad commented on #2354
ah, thanks.  This seems prone to bugs... and not ideal since it works when loading the view directly.   Do you want to fix?  Perhaps at least add a `console.error` if there's no mapping?

[2020-05-17 01:18] JacobPorter commented on #2354
I am working on a fix and investigating related behavior.  For example, clicking on the parent folder from an annotation view does not go back to the Comprehensive Genome Analysis view.
________________________________
From: nconrad <notifications@github.com>
Sent: Saturday, May 16, 2020 12:17 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Porter, Jacob S (jsp4cu) <jsp4cu@

[2020-05-17 23:48] #2296 closed, assigned to nconrad

[2020-05-18 22:57] JacobPorter opened #2359 "Parent folder and breadcrumbs do to navigate back to multi-view views (CGA, Assembly, Annotation)"
Start at an assembly viewer under comprehensive genome analysis (CGA).
![Screen Shot 2020-05-18 at 6 50 07 PM](https://user-images.githubusercontent.com/1534161/82266835-c0cb7900-9938-11ea-9abe-1e9ff6305364.png)

Clicking on 'parent folder' or the breadcrumb for CGA goes to just a folder view.
![Screen Shot 2020-05-18 at 6 50 30 PM](https://user-images.githubusercontent.com/1534161/82266850-cb860e

[2020-05-19 15:03] nconrad commented on #2356
On prod.

[2020-05-19 15:03] #2356 closed, assigned to JacobPorter

[2020-05-19 15:03] nconrad commented on #2355
On prod.

[2020-05-19 15:03] #2355 closed, assigned to chmao1

[2020-05-19 15:06] nconrad commented on #2350
On prod.

[2020-05-19 15:06] #2350 closed, assigned to chris-c-thomas

[2020-05-19 15:07] nconrad commented on #2349
Duplicate and on prod.

[2020-05-19 15:07] #2349 closed, assigned to chris-c-thomas

[2020-05-19 16:57] chris-c-thomas opened #2360 "Add Video icon and link on assembly, annotation, and family sorter services pages."

[2020-05-20 12:03] ARWattam opened #2361 "Remove tree hyperlink or fix, as clicking on it does NOT open a tree"
<img width="981" alt="Screen Shot 2020-05-20 at 8 01 37 AM" src="https://user-images.githubusercontent.com/11475316/82443888-4271f280-9a70-11ea-98f7-af7342bd28b8.png">
When you click on the icon shown at the top right of the table, it opens a page that shows nothing.

<img width="1800" alt="Screen Shot 2020-05-20 at 8 03 14 AM" src="https://user-images.githubusercontent.com/11475316/82443958-67fef

[2020-05-21 16:29] JacobPorter commented on #2361
Clicking on the View button renders a tree for PhylogeneticTree job results, but it is broken for CodonTree job results.

As a work around, you can click on the Newick file, and then a view button will appear on the green bar.  Clicking that view button will render the tree.

I would recommend fixing the button instead of removing it since it works for PhylogeneticTree job results.

[2020-05-21 20:57] ARWattam commented on #2123
Other improvements required:
-publishable image (svg)
-alternate coloring
-midpoint rooting (AGAIN!!!  Keep Mentioning)
-alternate tip labels
-metadata addition
-different tree format (circular vs linear)
-increase size of tip or bootstrap font
-

[2020-05-21 21:00] ARWattam commented on #2123
-side panel for coloring like seen in the circular viewer is very nice.

[2020-05-21 21:58] JacobPorter commented on #2123
Some example tree renderers/viewers:

Phylotree
https://github.com/veg/phylotree.js/tree/master

Archaeopteryx
https://github.com/cmzmasek/archaeopteryx-js

Phylocanvas
http://phylocanvas.org/ (example: http://jameshadfield.github.io/phandango/#/)

Auspice
https://nextstrain.github.io/auspice/
https://github.com/nextstrain/auspice/tree/master/src/components/tree/phyloTree

[2020-05-21 22:21] olsonanl commented on #2274
This is all in production now.

[2020-05-21 22:21] #2274 closed, assigned to olsonanl, dawenx, AllanDickerman

[2020-05-24 19:48] aswarren commented on #2297
fixed https://github.com/aswarren/p3_fqutils/commit/7b033b20135e68ceaea498078cd72d6136ee436d

[2020-05-24 19:48] #2297 closed, assigned to nobody

[2020-05-26 20:16] ARWattam opened #2362 "Pathway summary from feature table does not work"
When you have a group of genes in a table and click the Pathway summary icon in the vertical green bar, the table reloads to show the spinning icon, but it never returns the pathways. This is critical for the webinar series.

[2020-05-26 21:03] JacobPorter commented on #2362
Go to website and select all and click on pathways in the green bar:
https://alpha.patricbrc.org/view/FeatureList/?or(keyword(%22fig%7C224914.11.peg.1115%22),keyword(%22fig%7C224914.11.peg.1116%22),keyword(%22fig%7C224914.11.peg.123%22),keyword(%22fig%7C224914.11.peg.1235%22),keyword(%22fig%7C224914.11.peg.1246%22),keyword(%22fig%7C224914.11.peg.1247%22),keyword(%22fig%7C224914.11.peg.1248%22),key

[2020-05-26 21:04] JacobPorter commented on #2362
Example of pathways:
https://patricbrc.org/view/Taxonomy/51228#view_tab=pathways

[2020-05-26 23:01] nconrad commented on #2358
Duplicate.  Closing in favor of #2362

[2020-05-26 23:01] #2358 closed, assigned to hyoo

[2020-05-27 20:14] JacobPorter commented on #2362
Picture of the problem:

![image](https://user-images.githubusercontent.com/1534161/83067654-0ec93680-a035-11ea-859b-c247f46423e1.png)

[2020-05-27 20:15] JacobPorter commented on #2362
Console message:
No Grid Yet (PathwaySummaryGridContainer) 2 /js/3.6.4a/p3/widget/PathwaySummaryGridContainer.js:56:17

These files seem to be implicated by the debugger:
PathwaySummaryGrid.js
PathwaySummaryMemoryStore.js
PathwaySummaryGridContainer.js

[2020-05-28 03:13] JacobPorter commented on #2362
Fixed with the following by adding it before grid check on line PathwaySummaryGridContainer.js:56.

      if (!this._firstView) {
        this._setVisibleAttr(true);
      }

[2020-06-01 18:50] nconrad commented on #2362
So the change may be an improvement, I'm not really sure yet.

I'm currently testing on alpha and seeing the request timeout.  After the timeout, there's still the spinning wheel.  There probably needs to be a message here about the timeout / failed request instead?  It happens so frequently.

![image](https://user-images.githubusercontent.com/1194246/83442461-d5664180-a40d-11ea-9291-f58b3447bd79.

[2020-06-02 14:07] ARWattam commented on #2362
We experienced what Neal has said, but it succeeded 3 times out of 4 tries on alpha.  I recommend extending the time for the search for 5 minutes and include a message that indicates that the search can take up to 5 minutes.  Let's deploy on production asap.

[2020-06-05 16:42] mshukla1 opened #2363 "Feature Overview: Show date inserted and modified"
On feature overview page, show date_inserted and date_modified at the bottom of the left hand panel.
https://patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.34.1524.fwd#view_tab=overview

Look the genome overview page for example.
https://patricbrc.org/view/Genome/83332.12

[2020-06-05 23:15] nconrad commented on #2361
on prod.

[2020-06-05 23:16] nconrad commented on #2354
on prod.

[2020-06-05 23:17] nconrad commented on #2043
on prod.

[2020-06-08 17:29] chris-c-thomas commented on #2360
On Production.

[2020-06-08 17:29] #2360 closed, assigned to mshukla1, rkenyon, chris-c-thomas

[2020-06-11 19:57] JacobPorter opened #2364 "The variation analysis service job fails when using Bowtie2 followed by FreeBayes with data from SRR10961160. The job completes normally with other pipelines."
stderr:
Building a SMALL index
1333334 reads; of these:
  1333334 (100.00%) were paired; of these:
    122323 (9.17%) aligned concordantly 0 times
    1170845 (87.81%) aligned concordantly exactly 1 time
    40166 (3.01%) aligned concordantly >1 times
    ----
    122323 pairs aligned concordantly 0 times; of these:
      24792 (20.27%) aligned discordantly 1 time
    ----
    97531 pairs aligned

[2020-06-11 19:59] JacobPorter commented on #2364
This seems related to bcftools since it gives a seg fault.

Successful pipelines include:
Bowtie2 -> SAMtools
BWA-mem -> FreeBayes
BWA-mem -> SAMTools

See job 564424.

[2020-06-11 20:02] JacobPorter commented on #2364
The input for the variation analysis job was:

[code]

[2020-06-11 20:48] hyoo opened #2365 "compare region viewer returns genome_id null"
https://patricbrc.org/view/Feature/PATRIC.1396.2531.WBPM01000024.CDS.796138.796953.fwd#view_tab=compareRegionViewer

if you switch genomes from reference to all public genomes, it returns null

this is the payload,

{"params":["fig|1396.2531.peg.5782",10000,10,"pgfam","all"],"method":"SEED.compare_regions_for_peg","version":"1.1","id":64054}

[2020-06-11 20:48] hyoo commented on #2365
solr side error is ```Cannot parse \'genome_id: AND (sequence_id: OR accession:) AND (start:[1 TO 10000] OR end:[1 TO 10000]) AND annotation:PATRIC AND NOT feature_type:source\```

[2020-06-16 17:51] JacobPorter commented on #2364
The singularity container uses bcftools 1.3, so I reproduced this with bcftools 1.9 from the data files.  I wrote an issue against bcftools for this.

https://github.com/samtools/bcftools/issues/1245

[2020-06-17 13:30] chris-c-thomas opened #2366 "Missing 'info' icon on Assembly Service page"
The 'info' icon is missing on alpha/prod.

<img width="822" alt="Screen Shot 2020-06-17 at 8 28 09 AM" src="https://user-images.githubusercontent.com/22353987/84904053-7db61000-b074-11ea-8ae6-03cd75c35654.png">

It's in 'develop' and should make it's way to prod next deployment.

<img width="804" alt="Screen Shot 2020-06-17 at 8 29 33 AM" src="https://user-images.githubusercontent.com/22353987/849

[2020-06-18 17:06] ARWattam opened #2367 "CGA job marked as failed when codon tree cannot make a tree, but annotation and/or assembly was successful"
See my job ID: 606506.  What failed is the Report (and the tree)
<img width="1694" alt="Screen Shot 2020-06-18 at 1 05 17 PM" src="https://user-images.githubusercontent.com/11475316/85050723-8259f180-b164-11ea-90e2-7c6c90511301.png">
<img width="1616" alt="Screen Shot 2020-06-18 at 1 05 09 PM" src="https://user-images.githubusercontent.com/11475316/85050726-82f28800-b164-11ea-9fef-a013b3a34cd2.png

[2020-06-18 19:49] ARWattam opened #2368 "CGA job - QUAST report not loading when selected from assembly folder on Jobs page"
Job ID: 559410
Clicked on QUAST report and a new tab opens up, saying that it is loading, but it never loads.  This is the error message:
Uncaught SyntaxError: Unexpected token 'return'
about:srcdoc:709 Uncaught ReferenceError: jQuery is not defined
    at about:srcdoc:709
about:srcdoc:952 Uncaught ReferenceError: jQuery is not defined
    at about:srcdoc:952
about:srcdoc:2528 Uncaught ReferenceEr

[2020-06-18 20:12] olsonanl commented on #2364
What needs to be done?

[2020-06-18 20:45] JacobPorter commented on #2364
This was fixed in bcftools (https://github.com/samtools/bcftools/commit/dc2971c4bd048081cb39007d5cfab23cdd752d10).

We could use an update to samtools/bcftools eventually.

[2020-06-18 21:11] olsonanl commented on #2364
So it's not yet in a released bcftools, is that correct? How urgent is the update? I worry quite a bit about version skew and problems that the various toolmakers introduce so we may need to have a custom bcftools just for this application.

[2020-06-18 21:23] JacobPorter commented on #2364
It appears that it has not been released yet.  I don't think that it is urgent.  It looks like a rare problem.  I tried to reproduce the bug with other inputs and pipelines but was unable to reproduce the bug.

[2020-06-22 15:45] mshukla1 opened #2369 "Pathways: add features and group buttons"
From the pathway and. comparative pathway tables, allow users to select multiple pathways and go to corresponding list of features or same them as a group.

As of now, there is no easy way to go from multiple pathways to corresponding features.

-Maulik

https://patricbrc.org/view/Genome/83332.12#view_tab=pathways

<img width="1421" alt="Screen Shot 2020-06-22 at 10 45 53 AM" src="https://user-ima

[2020-06-22 16:48] nconrad commented on #2369
@ARWattam @mshukla1 I thought this was the purpose of the (mostly defunct) pathway button / "Pathway Summary"?

[2020-07-01 21:51] mshukla1 opened #2370 "ID Mapping: weird behavior"
While responding to a user request, I cut and paste list of 800+ uniprotkb accession in the search box, select
from "uniprotkb-accession" to "patric id" via refseq locus tag. I get no results. However, if I sub select only about  100 search ids, it works fine.

Attached is the file with list of uniprotkb accessions I tried (second column).

Please check why the search returns no results and fix it

[2020-07-08 15:50] mshukla1 commented on #2370
@aswarren can you look into this or work with one of the new developers to get this fixed in next few days?

I can't respond to the user until it is fixed.

[2020-07-13 17:14] nconrad opened #2371 "Review of checkLogin / token refresh code"
Last week @mshukla1 had the site in a state where the `tokenstring`, `auth`, and `userid` entries of localstorage were all `null` (as a string).   This breaks the entire site until the user's localstorage (cache) is cleared.  All client-side routing and events for things like the login and registration button will no longer work after the site is reloaded.  Upon local inspection, this seems to be

[2020-07-14 15:09] nconrad commented on #2371
Related:

- [ ] remove upload / jobs bar when not logged in.  It appears after logout & page refresh:

![image](https://user-images.githubusercontent.com/1194246/87442409-dfa55f00-c5b9-11ea-96a5-0ce0c3338e5b.png)

[2020-07-17 17:16] ARWattam opened #2372 "Sequences tab has repeat of accession but not contig ids."
Please to to https://www.patricbrc.org/view/Genome/587.17#view_tab=sequences and add the Sequence ID to the table.  You will then see that the Accession ID and the Sequence ID are exactly the same.  One of these should be the contig ID.
<img width="1574" alt="Screen Shot 2020-07-17 at 1 14 10 PM" src="https://user-images.githubusercontent.com/11475316/87813331-af66f600-c82f-11ea-8ae7-dd9d29804e4b.

[2020-07-17 17:19] ARWattam opened #2373 "Comprehensive Genome Analysis using Assembly does not include option to select sequencing type"
The option to select Illumina, Nanopore, etc is included on the interface for the assembly service, but is not provided in the CGA service.  This came to my intention when a user noted that she was assembling nanopore reads and when she did it in the assembly service compared to the CGA, the assembly was better using the Assembly service.  This is because she was able to select that parameter.  It

[2020-07-17 17:39] ARWattam commented on #2372
Moreover, when you look at the features tab, you can see the contig IDs under accession:
<img width="1347" alt="Screen Shot 2020-07-17 at 1 36 49 PM" src="https://user-images.githubusercontent.com/11475316/87814923-a88db280-c832-11ea-878f-dcbde098f592.png">

But when you look at the genome browser, you only see the GenBAnk accession:

<img width="1758" alt="Screen Shot 2020-07-17 at 1 38 05 PM" sr

[2020-07-21 16:15] JacobPorter opened #2374 "Sporadic error 'TypeError: this.itemDetailPanel is undefined' when hitting refresh in the workspace browser."
When the webpage is refreshed in a workspace folder view, a 'TypeError: this.itemDetailPanel is undefined' error can be produced and the folder is not displaced.

I have been able to produce this error fairly reliably when running the website from a local instance while the browser's 'Inspect Element' is open on the console tab.  Occasionally it was not produced.  The error was not produced when t

[2020-07-21 16:25] mshukla1 opened #2375 "Add linkouts to BEI resources"
On Taxon and genome overview page, add linkouts to BEIR website.

The linkouts should be added under a ew section "External Resources", in the left panel, above "Recent Publications". See the attached screen shot.

User the taxon or genome name to generate links with dynamic search terms, which will show matching records at BEIR.

Here are the examples:

Taxon Level:
https://patricbrc.org/view/Tax

[2020-07-23 21:48] aswarren opened #2376 "resource consumption in fastqutils"
fastq utils needs an upgrade to take advantage of parallelism

[2020-07-23 21:51] aswarren opened #2377 "Variation service bwa-mem error log"
Currently bwa-mem sends its stderr to a file and never makes it to the surface level of the variation job.
Would be better if it did not capture stderr to a file so that it was accessible to the job log.

[2020-07-27 23:02] nconrad opened #2378 "docs index"
I noticed these empty anchor links in the all the video tutorial indexes:

https://docs.patricbrc.org/videos/protein_family_sorter.html

![image](https://user-images.githubusercontent.com/1194246/88599352-2cb11880-d031-11ea-8b90-461f2929aa26.png)

Different, but related issue: I find that having the page anchors in the lefthand index makes it difficult to navigate in general.  I wonder if it's pos

[2020-07-28 13:09] hyoo opened #2379 "wrong translation of rql queries"
There is a query like below
[code]
, which translated to
[code]
and caused an error
[code]
@dmachi would you check why `object` field was introduced?
@nconrad would you check where this query is sent? I think we better not to use `or(eq(genome_name:**),eq(genome_id,*))` this doesn't make sense.

[2020-07-28 13:22] dmachi commented on #2379
I’m on vacation this week, but can take a look when I get back. All that said, my guess is that the space in front of eq(public,true) is causing this.

[2020-07-28 13:29] hyoo commented on #2379
@dmachi thanks for the quick response and suggestion. @nconrad if we can find where this query is fired, can we try to remove the space that Dustin pointed?

[2020-07-28 14:23] chris-c-thomas commented on #2363
<img width="1190" alt="Screen Shot 2020-07-28 at 9 22 50 AM" src="https://user-images.githubusercontent.com/22353987/88678318-f23c8f80-d0b3-11ea-9a31-8070c6751ab3.png">

[2020-07-28 14:27] chris-c-thomas commented on #2363
<img width="457" alt="Screen Shot 2020-07-28 at 9 27 22 AM" src="https://user-images.githubusercontent.com/22353987/88678912-8dce0000-d0b4-11ea-8cb2-750f31bb8cf0.png">

[2020-07-28 15:25] chris-c-thomas commented on #2375
Taxon view:
<img width="1515" alt="Screen Shot 2020-07-28 at 10 24 32 AM" src="https://user-images.githubusercontent.com/22353987/88686254-89a5e080-d0bc-11ea-9dd9-ddf67a633fa1.png">

Genome view:
<img width="1505" alt="Screen Shot 2020-07-28 at 10 25 01 AM" src="https://user-images.githubusercontent.com/22353987/88686334-99bdc000-d0bc-11ea-8ff8-ccae031d55ee.png">

[2020-07-28 16:26] mshukla1 commented on #2372
I think the problem is with the data and not UI.

When we migrated to solr in 2014-2015, we did a batch transfer of all features from relational database to solr.

I think there may be a bug in that process, which has resulted in accession being stored as sequence id in the genome sequence core, and reverse in the feature core.

The problem exist in a small fraction of genomes (<20k) present at th

[2020-07-28 18:24] hyoo commented on #2379
yes, the patch fixed the problem on alpha. Thanks for the quick responses.

[2020-07-28 18:24] #2379 closed, assigned to dmachi, nconrad, hyoo

[2020-07-28 18:31] hyoo opened #2380 "fix wrong queries - undefined field feature_type"
now I know how to replicate this error.
1. start a new window
2. go to https://www.patricbrc.org/view/Genome/83332.12#view_tab=features&filter=and(eq(feature_type,%22CDS%22),eq(annotation,%22PATRIC%22))

3. click "sequence" tab
![image](https://user-images.githubusercontent.com/1236467/88706275-422c4e00-d0d6-11ea-9f92-acd076ef5395.png)

![image](https://user-images.githubusercontent.com/1236467/88

[2020-08-04 16:13] mshukla1 commented on #2375
Is this deployed on alpha? How can I test it?

[2020-08-04 16:27] mshukla1 commented on #2363
Please deploy it on alpha for testing.

[2020-08-04 16:30] mshukla1 commented on #2323
@chris-c-thomas , please address this week while you are already fixing other issues on the doc site.

[2020-08-04 16:31] nconrad commented on #2363
@mshukla1 These should already be deployed:
![image](https://user-images.githubusercontent.com/1194246/89319594-f46b9480-d645-11ea-9f55-afe4389a2c1c.png)

[2020-08-04 16:35] chris-c-thomas commented on #2375
On Alpha

[2020-08-04 17:01] mshukla1 commented on #2240
@chris-c-thomas this is also related to what you are working on this week. So, you can address it at the same time.

[2020-08-04 17:11] nconrad commented on #2235
I believe @olsonanl has fixed this last year as part of the new scheduler.  Closing.

[2020-08-04 17:11] #2235 closed, assigned to olsonanl

[2020-08-04 17:16] nconrad commented on #1228
It's probably not perfect, but there is an SVG download button with the new viewer, so I'm going to close this.

[2020-08-04 17:16] #1228 closed, assigned to nconrad

[2020-08-05 20:20] chris-c-thomas commented on #2252
If the ```p3-submit-genome-assembly``` command behaves in the same way as the ```p3-submit-genome-annotation``` then I can write up a similar section within the guide.

@olsonanl I noticed ```p3-submit``` is not included in the CLI reference page located here: https://docs.patricbrc.org/cli_tutorial/command_list/index.html

Is that intentional or should it be added. I'm not super familiar with usi

[2020-08-05 20:23] olsonanl commented on #2252
Yes, it works pretty much exactly the same way. If you run it with -h you'll get the usage message.

It should be in the list of CLI scripts; I think Bruce was going to take a look at that.

[2020-08-06 15:26] chris-c-thomas commented on #2040
I have fixed or closed out most of the links in the Excel sheet. The broken links that remain are on the following two pages:

https://docs.patricbrc.org/cli_tutorial/command_list/Hsp.html
and the broken anchor is at the bottom for ```BasicLocation``` --> points to /BasicLocation which is missing

http://docs.patric.local/cli_tutorial/command_list/p3-rep-prots.html
and the broken anchor is in the

[2020-08-06 16:10] chris-c-thomas commented on #2378
Fixed on production docs

<img width="888" alt="Screen Shot 2020-08-06 at 11 09 23 AM" src="https://user-images.githubusercontent.com/22353987/89555181-59a1c000-d7d5-11ea-8164-e775cb2d7ecb.png">

[2020-08-06 16:10] #2378 closed, assigned to chris-c-thomas

[2020-08-06 16:12] chris-c-thomas commented on #2301
This should no longer be an issue when the docs were restructured. Closing.

[2020-08-06 16:12] #2301 closed, assigned to chris-c-thomas

[2020-08-06 16:12] chris-c-thomas commented on #2252
I'll defer to Bruce for this then.

[2020-08-06 17:08] nconrad opened #2381 "Proteome Comparison onSubmit"
Hi @chmao1,

I noticed when adding a debugging feature to AppBase.js that the `SeqComparison` app has its own `onSubmit` method.  Would it be possible to remove that sometime so that the AppBase.js `onSubmit` is used?  I was going to do so myself, but I feared I may unintentionally break something.

[2020-08-06 19:21] chris-c-thomas commented on #2323
I've added hover styles to the vertical navigation menu and it's on production docs. Closing.

[2020-08-06 19:21] #2323 closed, assigned to chris-c-thomas

[2020-08-06 19:49] chmao1 commented on #2381
Hi @nconrad,

I would not recommend to remove the onSubmit in SeqComparison app as it has some implementations specific for this app (including specific validation and data gathering). You can incorporate the new debugging feature here or make the debugging part consistent as AppBase.js.

[2020-08-06 19:54] olsonanl commented on #2364
I have updated the production site to the build-74 container which has the updated bcftools.

[2020-08-06 20:42] chris-c-thomas commented on #2240
Tutorial titles have been cleaned up and are reflected in the navigation menus. If a title or page needs to be changed it can be done so on a case by case basis. Closing.

[2020-08-06 20:42] #2240 closed, assigned to rkenyon, chris-c-thomas

[2020-08-06 21:21] nconrad commented on #2381
@chmao1 ok, yeah, I was wondering if that logic could be part of the  validation and getValues().  I assume that's what was originally intended, anyway.   Seq comparison was the only app with that special implementation, and wasn't sure if it was necessary.  If it was necessary or if you don't have the time to refactor, it's not a big deal right now.   I just noticed the google analytics call and

[2020-08-18 19:11] ARWattam opened #2382 "Reference for Unicycler comes across as undefined in FullGenomeReport"
<img width="1784" alt="Screen Shot 2020-08-18 at 3 10 02 PM" src="https://user-images.githubusercontent.com/11475316/90555178-f6b11100-e164-11ea-88fd-f76f97168078.png">

The correct citation is here:
<img width="1069" alt="Screen Shot 2020-08-18 at 3 11 04 PM" src="https://user-images.githubusercontent.com/11475316/90555256-16e0d000-e165-11ea-8a3a-cd545e28aedd.png">

[2020-08-18 19:19] ARWattam opened #2383 "CGA does not load contigs after being selected from workspace"
Making the selection:
<img width="925" alt="Screen Shot 2020-08-18 at 3 16 07 PM" src="https://user-images.githubusercontent.com/11475316/90555809-ebaab080-e165-11ea-9a19-8bc4972700c1.png">

And the text box never fills with the file:
<img width="562" alt="Screen Shot 2020-08-18 at 3 16 16 PM" src="https://user-images.githubusercontent.com/11475316/90555845-fa916300-e165-11ea-888a-35d3f59cbc42.png

[2020-08-18 19:21] ARWattam commented on #2383
Issue only happens if loading contig from Public Workspace.  Loads okay from my home directory

[2020-08-20 15:47] ARWattam opened #2384 "Overview for genome says no EC numbers, but over 714 genes annotated have EC assignments"
My genome:
https://patricbrc.org/view/Genome/2.8277#view_tab=overview
When I look at the over view, I see no EC annotations.  When I look at the features tab and filter on EC numbers, I see 714 genes with EC numbers. I need this to work for my MOOC class.
<img width="1096" alt="Screen Shot 2020-08-20 at 11 44 51 AM" src="https://user-images.githubusercontent.com/11475316/90794506-defb9900-e2da-11e

[2020-09-01 14:41] olsonanl opened #2385 "p3_tnseq crash with existing genome"
If you invoke p3_tnseq and the .fna file for the reference genome is already in place, it crashes

Singularity p3-build-81.sif:/vol/patric3/QA/applications> p3_tnseq --jfile /vol/patric3/QA/applications/App-TnSeq/2020-08-31-22-45-40/jobdesc.json --sstring '{"data_api":"https://p3.theseed.org/api"}' -o /vol/patric3/QA/applications/App-TnSeq/2020-08-31-22-45-40/work
{u'reference_genome_id': u'83332.

[2020-09-01 17:51] JacobPorter commented on #2385
I did a pull request to fix this.
https://github.com/PATRIC3/p3_tnseq/pull/3

[2020-09-01 19:15] #2189 closed, assigned to mandywil

[2020-09-11 15:01] nconrad opened #2386 "heatmap accessibility"
Review and improve.  There's no selection and controls on the actual chart and there are missing aria labels.  The dojo action buttons can't be reached, which is a site-wide issue.

[2020-09-17 13:53] hyoo opened #2387 "prevent bad request"
https://www.patricbrc.org/view/Host/?eq(taxon_lineage_ids,2759)#view_tab=sequences

the facet queries pass query condition (taxon_lineage_ids) to the genome_sequence core, where it doesn't have such field, and cause "undefined field taxon_lineage_ids" error on solr.

[2020-09-22 23:43] nconrad commented on #2370
@JacobPorter's fix for this is on prod.  I tested on alpha and it seemed to work on the entire column.  Feel free to test and close if all good.

There may be some other, unrelated issues with that text field, but I didn't pinpoint where things go awry.

[2020-09-23 12:58] mshukla1 opened #2388 "proteome comparison: doesn't work for host genomes"
Proteome comparison does not work with host genomes. For example, I selected homo sapiens as reference and mus musculus, and it failed. I believe same would happen if any one of the genome selected is host.

Potential problem could be
- service unable to get host protein sequences from data api as we have only refseq annotations, no PATRIC annotations
- format of the fasta def line / id is not as

[2020-09-24 18:57] ARWattam opened #2389 "Escherichia coli proteins with identical sequence are separated into different protein families"
PLF_561_00061732 and PLF_561_00103451 both have identical sequences.  Shouldn't they be united into one?

[2020-09-29 20:02] #2340 closed, assigned to nconrad

[2020-10-08 19:08] rkenyon opened #2390 "Need to redirect from old Genome Assembly Service input form to new one"
When we switched over to the new Genome Assembly Service, we removed the menu link to the old one, but did not take down the form. It is still here: https://patricbrc.org/app/Assembly.  It appears some people have bookmarked it and tried to use it.  We need to remove that form and put a redirect, or at least a pointer to the new service, which is this one: https://patricbrc.org/app/Assembly2. We n

[2020-10-14 16:24] nconrad opened #2391 "Fix race condition bug in delete object requests"
Reminder for myself.  This was pointed out by Bob awhile ago and is an easy/important fix.

[2020-10-23 22:43] nconrad opened #2392 "MOOC flyer link"
The new MOOC flyer looks really nice!  Noticed the link doesn't work here: https://docs.patricbrc.org/news/2020/20201022-mooc-release.html

[2020-10-27 14:55] chris-c-thomas commented on #2392
Fixed.

[2020-10-27 14:55] #2392 closed, assigned to chris-c-thomas

[2020-11-30 15:55] aswarren opened #2393 "Empty genome download"
Downloading sequences from here in FASTA produces empty zip
https://patricbrc.org/view/GenomeList/?keyword(%222763046.3%22)

But downloading from here, using the DNA FASTA option gives the correct number of contigs
https://patricbrc.org/view/GenomeList/?keyword(%222763046.3%22)#view_tab=sequences

[2020-11-30 16:08] hyoo commented on #2393
![image](https://user-images.githubusercontent.com/1236467/100633613-ed9f1680-32f3-11eb-8402-57e29fc0c7b5.png)

It seems like the genome is recently indexed and possibly we haven't generated the download files yet.

[2020-12-03 15:56] aswarren commented on #2393
If there is going to be such a large lag in the FTP generation perhaps we should shift the download dependency to SOLR.
12/03/20 this is still broken
![image](https://user-images.githubusercontent.com/229173/101053651-060e6b80-3556-11eb-9e40-063c9b879fb1.png)
Gives only 252 features

But this works
![image](https://user-images.githubusercontent.com/229173/101053727-1fafb300-3556-11eb-8cea-27ec5dd5

[2020-12-08 22:06] #2390 closed, assigned to nconrad

[2020-12-12 20:58] Sveta-user opened #2394 "Phylogenetic tree Service is not working since December 11"
Four of my last jobs failed, but in a strange way.  They were reported as "Completed" very fast , but when I try to access these jobs, an error message is returned "Object not found"

Service | CodonTree
-- | --
Job ID | 761642
Status | in-progress
Submitted | 2020-12-12T19:51:56Z
Start | 2020-12-12T19:51:57Z
Completed | 1970-01-01T06:00:01Z     <<< date is very strange

Could you please revive th

[2020-12-14 18:07] ARWattam opened #2395 "User requests ability to delete private genomes"
Several PATRIC users have requested this ability.

[2020-12-18 14:29] ARWattam opened #2396 "Remove All Shared Proteins tutorial from website"
Users keep asking to use it because they see it here, so let's remove it so I don't have to keep answering.

[2020-12-18 19:35] chris-c-thomas commented on #2396
I've removed the All Shared Proteins tutorial as well as scrubbed the Phylogenetic Tree user guide of references to it.

[2020-12-18 19:35] #2396 closed, assigned to chris-c-thomas

[2021-02-12 15:04] ARWattam opened #2397 "Dead link on assembly page"
On the Assembly-service page https://patricbrc.org/app/Assembly2, following
the documentation link "Genome Assembly (new) Service User Guide" that
points to
https://docs.patricbrc.org/user_guides/services/genome_assembly_service2.html
yields "404 Not Found"

[2021-02-12 15:26] ARWattam opened #2398 "Problems with filter on Jobs widget"
If one clicks on the "Jobs" widget, for jobs that have not yet started or
not yet completed, the "Start" or "Completed" fields display "01/01/70,
1:00am", which is almost (but not quite) what one would get if one fed a
"UNIX Epoch" of '0' to an "Epoch to Calendar-date-and-time" converter.
(A "UNIX Epoch" of '0' would have corresponded to "01/01/70, 00:00:00
UTC".)

Suggests to me that a time of 'u

[2021-02-24 20:34] ARWattam opened #2399 "Fastq utilities service gives unmapped reads an uncomfortable ending"
Unmapped read files from this service are returned to the users workspace with an ending of "fq.1"  We had a user who submitted these reads for assembly, and it failed due to this ending.  A user would have to download the files, rename them, and then upload them again. That would suck.  Can we fix this?

[2021-02-25 21:10] ARWattam opened #2400 "Wrong Representative genome on the Brucella page"
Why is Ochrobactrum listed as a representative genome on the Brucella genus page.  It would be appropriate one level up.
<img width="633" alt="Screen Shot 2021-02-25 at 4 08 57 PM" src="https://user-images.githubusercontent.com/11475316/109217524-f2a12400-7783-11eb-8696-f79345d0caa0.png">

[2021-02-25 21:32] hyoo commented on #2400
![image](https://user-images.githubusercontent.com/1236467/109220300-59234380-777e-11eb-8dad-ae6e2fb57cce.png)
because it belongs to the "Brucella intermedia" species. Not sure whether it is a legitimate species, but we have some other genomes in there.
https://patricbrc.org/view/Genome/641118.3
https://patricbrc.org/view/Taxonomy/94625

[2021-02-25 21:34] ARWattam commented on #2400
Okay, that at least is an explanation.  I am going to build a tree and see if it really is part of Brucella, which I doubt.  But glad to know it is not our fault

[2021-02-26 16:07] ARWattam commented on #2400
<img width="873" alt="Screen Shot 2021-02-26 at 11 05 23 AM" src="https://user-images.githubusercontent.com/11475316/109324363-92ad8a80-7822-11eb-94cc-8f30557e77e4.png">
See, its not Brucella, but not our problem

[2021-03-01 21:06] AllanDickerman opened #2401 "Requested addition to fastq-utils: bamtofastq etc."
Suggested addition to fastq-utils:
bedtools bamtofastq is a conversion utility for extracting FASTQ records from sequence alignments in BAM format.

Also, sam and cram formats.

We have had people submit bam files to the assembly service, and it would be nice to be able to tell them how to get their data into fastq format for alignment to work.

[2021-03-15 22:39] ARWattam opened #2402 "Unable to download human protein data from PaTRIC"
When I select the protein fasta file from the download on the genome landing page, it gives me an empty file.  Very frustrating

[2021-03-15 23:05] ARWattam opened #2403 "Can't blast against human genome in PATRIC"
Trying to find a specific homolog, and it returns an error.

[2021-03-23 17:46] ARWattam opened #2404 "Subsystems difference between SEED and PATRIC and genomes missing subsystems"
Michael Fonstein and Bruce Parrelo report that there is astounding difference between the subsystems for any particular genome in PATRIC compared to SEED.  For example, the reference E. coli MG1655 genome has 1736 genes in subsystems in PATRIC, and 2600+ genes in subsystems in the same genome in SEED.

Another problem is that many genomes do not have any subsystems at all (see genome id 562.57431)

[2021-03-30 17:38] ARWattam opened #2405 "Problem with populating contig field in certain browsers"
Hey this is jim. I'm trying to click on Public_Workspaces/AMR, Bacteria and
PATRIC Webinar 3-2021/CP029685.fna to use it as an example CGA run for my
webinar tomorrow. In safari I cannot populate the contigs field with this
genome. I can populate it in firefox.

[2021-04-01 10:48] mshukla1 opened #2406 "Feature Overview: Add to Group error"
When adding a feature to a feature group, if you click on the first
dropdown menu first (so whether or not to use a new or existing genome
group), even if you keep the default option, the second dropdown menu will
display genome groups instead of feature groups.

![image](https://user-images.githubusercontent.com/1236463/113283293-bcd4eb00-92ad-11eb-9525-2b1cb5fbbd20.png)

<img width="509" alt="Sc

[2021-04-05 13:35] olsonanl opened #2407 "FastqUtils fastqc java error"
New fastqc error I have not seen before, job 3120829

[code]

straight-up fastqc run:

[code]

[2021-04-13 15:22] ARWattam opened #2408 "Assembly parameters not being met"
A user reports that the contig files include sequences shorter than 300bp despite the default setting of the limit being 300bp.  I confirmed that by looking at his file (see assembly job 3171310).

[2021-04-30 17:24] ARWattam opened #2409 "Kill Job does not work"
Several users have tried to kill their jobs lately.  The Kill job icon does not work.  We should either enable it, or remove it.

[2021-05-13 14:43] ARWattam opened #2410 "Fastq Utilities job result page should have link to genome browser if alignment option chosen"
Right now, if you chose the aligment option, you have to download the bam file, load the genome page, click to the genome browser, and then load that downloaded files.  The bam files are really big.  In the RNA-Seq jobs page, we have a direct link to the browser.  It would be nice to have that here.  OR when you are trying to load a file from the JBrowse page, you should be able to search your wor

[2021-05-13 14:48] ARWattam opened #2411 "JBrowse does not load bam file from FASTQ util alignment"
I am trying to view the bam file that I aligned to a specific genome, and when I try and upload it to the browser for that genome, I cannot view the file.  There is not indication of what is going wrong, but when I click on Open, nothing happens.

[2021-05-13 14:49] ARWattam commented on #2411
Also, when I click on Add to tracks, a new track does not open

[2021-06-04 16:00] ARWattam opened #2412 "Snap shot in Krona graph (Taxonomic Classification) is not working"
Clicking on it opens a new tab, but that tab is empty

[2021-06-04 16:02] ARWattam opened #2413 "Link in Krona (TAxonomic Classification) does not work"
It is supposed to give you a shareable link.  It does not.  I think it creates a link to an "about" page that doesn't work.  This is what mine looked like:
about:srcdoc?dataset=0&node=1966&collapse=true&color=false&depth=30&font=11&key=true

[2021-06-15 21:17] ARWattam opened #2414 "Spinning wheel with MSA when job does not complete"
Users have complained the they get the spinning wheel when they submit an msa job.  Generally, this is because they submitted too many sequences.  We need to give them the information about the limits of sequences that can be submitted (maximum 200) and a clear message when the job has failed, rather than the spinning wheel.  One user wrote to me had waited three days, waiting for the job to retur

[2021-06-22 16:06] ARWattam opened #2415 "Variation service-automatic incorporation of alm.bam and var.vcf.gz files not working on browser"
The variation service automatically loads the aln.bam and the var.vcg.gz files to the genome browser for the reference genome.  When you try to view them on the browser, errors are thrown up.
<img width="1859" alt="Screen Shot 2021-06-22 at 11 47 53 AM" src="https://user-images.githubusercontent.com/11475316/122961316-4696d080-d352-11eb-9703-7a0f555e6875.png">
<img width="2527" alt="Screen Shot 20

[2021-06-22 16:11] ARWattam opened #2416 "Comprehensive Genome Analysis-selection of auto assembly does not show assembly method in FullGenomeReport"
The FullGenomeReport.html does not show the actual assembly method when "auto" is selected, forcing the user to have to dig into the assembly part of the job to find out what was selected.
<img width="1357" alt="Screen Shot 2021-06-22 at 12 07 56 PM" src="https://user-images.githubusercontent.com/11475316/122961786-bad17400-d352-11eb-957a-ce209950bed7.png">

The assembly_assembly_report for the sa

[2021-06-22 20:55] mshukla1 commented on #2400
NCBI taxonomy is messed up for this species. I don't think there is much we can do.

<img width="518" alt="Screen Shot 2021-06-22 at 3 54 41 PM" src="https://user-images.githubusercontent.com/1236463/122998084-3a227000-d372-11eb-85cf-a8370f8a496d.png">

[2021-06-22 20:55] #2400 closed, assigned to nobody

[2021-06-22 20:57] mshukla1 commented on #2300
Looks like this has already been fixed.

[2021-06-22 20:57] #2300 closed, assigned to nobody

[2021-06-22 21:03] mshukla1 commented on #2299
This has been added and deployed in alpha.bv-brc.

https://alpha.bv-brc.org/app/MetagenomicBinning

[2021-06-22 21:08] mshukla1 commented on #2299
Added as part of latest enhancements for bv-brc.

[2021-06-22 21:08] #2299 closed, assigned to olsonanl

[2021-06-22 21:09] mshukla1 commented on #2328
added as part of the latest enhancements for bv-brc.

https://alpha.bv-brc.org/app/MetagenomicBinning

[2021-06-22 21:09] #2328 closed, assigned to olsonanl

[2021-06-22 21:28] mshukla1 commented on #2104
looks like this has been fixed.

[2021-06-22 21:28] #2104 closed, assigned to nobody

[2021-06-22 21:31] mshukla1 commented on #2267
Looks like the current solution is working and no specific actions needed here. closing the ticket.

[2021-06-22 21:31] #2267 closed, assigned to nobody

[2021-06-22 21:35] mshukla1 commented on #2269
there is an add to group button and it is working.

[2021-06-22 21:35] #2269 closed, assigned to nobody

[2021-06-23 15:18] olsonanl commented on #2305
I have no idea what this means in detail. Can you elaborate?

[2021-06-23 15:21] olsonanl commented on #2404
Subsystems in PATRIC are way out of date with respect to subsystems in current CoreSEED. This is related to the annotation and family update issue.

[2021-06-23 15:21] ARWattam commented on #2305
That is from August of 2019???  I know it was during a workshop there, but can't really recall what it was about. I guess I could look into it if there is interest.

[2021-06-23 15:22] olsonanl commented on #2373
This is a GUI issue. The sequencing platform selection is exposed in the app interface spec for Comprehensive Genome Analysis.

[2021-06-23 15:25] olsonanl commented on #2364
This case is in the QA set and has been resolved for some time.

[2021-06-23 15:25] #2364 closed, assigned to JacobPorter, olsonanl

[2021-06-23 15:30] olsonanl commented on #2271
This is complete and has been in production for over a year.

[2021-06-23 15:30] #2271 closed, assigned to olsonanl

[2021-06-23 15:39] olsonanl commented on #2209
p3-get-contig-data has been replaced with p3-get-genome-contigs; it does not show the option error.

[2021-06-23 15:39] #2209 closed, assigned to olsonanl

[2021-06-23 15:41] olsonanl commented on #2227
This is a site design issue. I am going to close it; we can take it up if desired in the BV-BRC design discussions but there has never been any other request for this as far as I know.

[2021-06-23 15:41] #2227 closed, assigned to olsonanl

[2021-06-23 15:41] olsonanl commented on #2205
This is a site design issue.

[2021-06-23 15:42] olsonanl commented on #2203
This has long been resolved.

[2021-06-23 15:42] #2203 closed, assigned to olsonanl

[2021-06-23 15:44] olsonanl commented on #2144
This functionality has been superseded by the app shepherd.

[2021-06-23 15:44] #2144 closed, assigned to olsonanl

[2021-06-23 15:46] olsonanl commented on #1154
This is ancient.

[2021-06-23 15:46] #1154 closed, assigned to hyoo, olsonanl

[2021-06-24 01:30] chris-c-thomas commented on #2373
I will add the platform selection menu to the CGA service GUI.

[2021-07-13 17:02] ARWattam opened #2417 "Assembly not filtering out contigs less than 300 bp when default is used"
This should be addressed

[2021-07-13 18:03] olsonanl commented on #2417
do you have an example where you see this? I'd thought this was in place.

[2021-07-13 18:04] ARWattam commented on #2417
Yes.  Have showed it to Allan.  I would say that any of my recent assembly jobs have contigs less than 300bp.  He plans on fixing it when he is done with Primer3

From: olsonanl ***@***.***>
Date: Tuesday, July 13, 2021 at 2:03 PM
To: PATRIC3/patric3_website ***@***.***>
Cc: Wattam, Rebecca (arw3s) ***@***.***>, Author ***@***.***>
Subject: Re: [PATRIC3/patric3_website] Assembly not filtering out

[2021-07-21 03:48] Sveta-user opened #2418 "BLAST doesn't recognize private genomes after the outage"
Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.01 -max_target_seqs 100 -num_threads 4 -db /tmp/ylqDLpiUuY -outfmt 15: BLAST Database error: Error: File (/disks/patric-data/data/homology_service/private-genomes/seedsveta@patricbrc.org/1685.576/private.faa.phr) not found.

![image](https://user-images.githubusercontent.com/20665963/126427684-a4fcc0dd-f858-4c9f-b002-

[2021-07-21 13:39] olsonanl commented on #2418
Hi Sveta - there was some partial data that I think caused problems. I cleared it out; please try it again.

[2021-07-21 15:03] Sveta-user commented on #2418
Hi Bob, Thank you for looking into this issue!  I am afraid it is still  there.  Just tried this private genome: 1685.606  and got the same error message.  But for public genomes BLAST now works fine (e.g. 1685.85).  It happened before - then Malik thought it was security issue , I think (not sure)

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 1 -max_target_seqs 5

[2021-07-21 15:08] olsonanl commented on #2418
Please try it again - there were some other genomes in the same half-created state. I cleaned them all up.

[2021-07-21 15:16] Sveta-user commented on #2418
It worked!!  And not only for my own private genomes , but also for private genomes SHARED with me by other owners (which used to be an issue occasionally before).  Many thanks!!
S

[2021-07-26 18:57] Sveta-user opened #2419 "Gobs sit in queue without starting for too long after the last week outage"
I am not in a hurry, but this doesn't seem right -

I have submitted 3 types of jobs today roughly at the same time, about 2 hours ago:
   Codon Tree,
   Genome annotation,
   Proteome Comparison.
While two Genome annotation jobs started immediately and  completed fast, two other TYPES of jobs still haven't started (after almost 2 hours in the queue).  This never ever happened before in PATRIC.  I

[2021-07-26 18:58] Sveta-user commented on #2419
Opps, as I was writing this, all my job just changed to "running".  Sorry to have bothered you in vain!

[2021-07-26 19:02] olsonanl commented on #2419
We have many hundred jobs in the queue at the moment; the fair share policy keeps availability for people with small numbers of jobs but there are also long-running jobs on the cluster that need to complete to open up slots for new jobs.

[2021-07-26 19:02] #2419 closed, assigned to nobody

[2021-07-26 19:04] Sveta-user commented on #2419
Thank you, Bob!  Sounds fair.  Really glad that PATRIC is popular and overrun with eager users! :D

[2021-08-16 15:42] ARWattam opened #2420 "Ability to view one subsystem at a time in the heatmap"
From JIRA ticket 4947:
 "In the subsystem part it is possible to select one subsystem and to see the map
and visualize an heatmap of that subsystem map for your genomes, that's
really a great tool because so it allow you to directly see what is missing
or not in your bacteria genomes at pathways level; what would be useful in
that sense is just to have the possibility to map and visualize
together

[2021-08-25 18:29] Sveta-user opened #2421 "Private genomes are not recognized by BLAST again"
Greeting,
Hope you can fix this issue - you have fixed it  before.
Observed: today and last week also
Thank you for looking into it!
Sveta

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.1 -max_target_seqs 50 -num_threads 4 -db /disks/tmp/pZ800pQsAI -outfmt 15: BLAST Database error: Error: File (/disks/patric-data/data/homology_service/private-genomes/wesley.morov

[2021-08-25 18:58] olsonanl commented on #2421
HI - give it a try now.

[2021-08-25 19:04] Sveta-user commented on #2421
Still doesn't work...  I cleaned the cache, but didn't reload Browser though

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.1 -max_target_seqs 50 -num_threads 4 -db /disks/tmp/LkHbUSnpLA -outfmt 15: BLAST Database error: Error: File (/disks/patric-data/data/homology_service/private-genomes/seedsveta@patricbrc.org/1685.607/private.faa.phr) not found.

[2021-08-25 19:07] Sveta-user commented on #2421
Just tried from a different Browser (Edge) - still the same error message :

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.1 -max_target_seqs 50 -num_threads 4 -db /disks/tmp/4ElT45c9nq -outfmt 15: BLAST Database error: Error: File (/disks/patric-data/data/homology_service/private-genomes/seedsveta@patricbrc.org/1685.607/private.faa.phr) not found.

[2021-08-25 19:09] olsonanl commented on #2421
You were coming in the second time as a different user (with a different space for private blast databases); I cleared that space as well so it should work now.

[2021-08-25 19:16] Sveta-user commented on #2421
It worked !! Thank you very much, Bob!
But now a question- what do you mean "you came as a different user" ?  I thought I had a single account with PATRIC, this one below.  Maybe I need to cancel the 2d account (didn't know I had one!) to prevent BLAST from breaking on me ??
![image](https://user-images.githubusercontent.com/20665963/130851284-6777c3b6-842b-44e0-9fbc-26cdfad45cb1.png)

[2021-08-25 19:46] olsonanl commented on #2421
Your first ticket noted this path:

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.1 -max_target_seqs 50 -num_threads 4 -db /disks/tmp/pZ800pQsAI -outfmt 15: BLAST Database error: Error: File (/disks/patric-data/data/homology_service/private-genomes/wesley.morovic@patricbrc.org/28026.764/private.faa.phr) not found.

which implies it was trying to do something with

[2021-08-25 20:17] Sveta-user commented on #2421
Aha, I see.  This exactly the recurrent problem I get in Patric occasionally (the ONLY problem, I must say, everything  else works perfectly): private genomes SHARED with me by other people are not accepted by BLAST occasionally.  Most of the time they are accepted.  Not sure what triggers it.  It appears that this problems occurs after outages or major updates , but not sure
Many thanks for fixin

[2021-09-01 21:28] Sveta-user opened #2422 "SHARED private genomes are not recognized by BLAST sometimes"
Greetings,
Sharing private genomes with other user(s) is a very useful feature in PATRIC.  And it works smoothly by the most part, except with the Blast tool.  Blast breaks (sometimes) if at least one genome in a group is a "shared private".  Strangely this problem comes and goes:  on some days shared genomes are recognized by BLAST, but other times they break Blast (like today)
The regular privat

[2021-09-01 21:47] olsonanl commented on #2422
This is a different issue than what we were seeing before; in this genome the contig sequences are tagged with sequence types of plasmid and chromosome, where the blast service is looking for sequence types of contig for building the database.

Have contig blasts been working for you with other genomes? I'll need to look into updating the code to properly pull the contigs.

[2021-09-02 17:09] Sveta-user commented on #2422
Interesting... Didn't realize that genome ownership or sharing was not the only issue with blast.  Now that you pointed it out, I looked at many genome that work fine with BLAST - and nearly all of them have "contig" as sequence type.  But there is one exception: 391904.5 has "chromosome" , but works with blast nonetheless -
![image](https://user-images.githubusercontent.com/20665963/131887113-5aa

[2021-09-02 17:10] Sveta-user commented on #2422
![image](https://user-images.githubusercontent.com/20665963/131887547-a86acfe2-c3fe-469b-8f09-10d05d5145ab.png)

[2021-09-06 19:59] Sveta-user opened #2423 "Thanks to the PATRIC team"
Thanks to the PATRIC team from your fans at DuPont / IFF.  We are using your elegant and powerful tools a lot.  A recent publication for your collection (not in PubMed yet) :  https://microbialcellfactories.biomedcentral.com/articles/10.1186/s12934-021-01658-4

![image](https://user-images.githubusercontent.com/20665963/132257349-e0ca008d-ad26-4647-b5d6-9d6315de4497.png)

[2021-10-01 19:22] Sveta-user opened #2424 "Blast is down completely"
Public and private genomes can't be searched by BLAST as of October 1:

Failed: 500 Can't connect to p3.theseed.org:443 URL = genome?in(genome_id,(1685.607,1685.576,302911.134,302911.132,302911.133,302911.119,391904.5,1682.124,1679.210,1681.980,1168290.3))&select(genome_id,public,owner)&limit(25000,0)

![image](https://user-images.githubusercontent.com/20665963/135675444-7d4cd386-f1f5-4056-9d95-9b

[2021-10-01 20:13] olsonanl commented on #2424
Should be better now.

[2021-10-01 20:45] Sveta-user commented on #2424
Works perfectly!!  Just rested.  Thank you very much, Bob!!

[2021-10-01 20:47] #2424 closed, assigned to nobody

[2021-10-21 18:03] #2385 closed, assigned to aswarren, JacobPorter

[2021-11-10 04:05] Sveta-user opened #2425 "BLAST issue again"
Greetings,
Sorry to bother you , but BLAST returned this error message when I tried to run it against a custom genome list with private and public genomes included in it.  BLAST works fine with single public genomes (e.g. this one: 580050.3)

Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.1 -max_target_seqs 50 -num_threads 4 -db /tmp/idCUmhVphl -outfmt 15: BLAST D

[2021-11-10 14:27] olsonanl commented on #2425
Hi - I cleared out the problematic space again. Should be better.

[2022-01-06 14:23] Sveta-user opened #2426 "Access to Patris is blocked by an expired certificate -- SOS SOS SOS!"
![SOS](https://user-images.githubusercontent.com/20665963/148397429-ae5a41d6-ef55-4c8e-8d23-99f360a3b64c.png)

[2022-01-06 14:32] rdolson commented on #2426
Ayup ... we are working on it. Apologies for the disruption.

[2022-01-06 16:31] Sveta-user commented on #2426
The site is back!  THANK YOU !! :D

[2022-01-21 05:33] Sveta-user opened #2427 "BLAST issue"
I was using user genome group with 449 genomes for this BLAST job.  Is this too many for BLAST input?  Could this be an issue?

We were not able to complete your BLAST request. Please let us know with detail message below.

Error running database build blastdb_aliastool -dblist /vol/patric3/downloads/blastdb/2035772.446.PATRIC.faa /vol/patric3/downloads/blastdb/2035772.445.PATRIC.faa /vol/patric3/

[2022-01-21 05:40] mshukla1 commented on #2427
Hi Sveta, I will look into it tomorrow and add missing blast databases over the weekend.

Sent from my iPhone

On Jan 20, 2022, at 11:33 PM, Sveta-user ***@***.***> wrote:

﻿

I was using user genome group with 449 genomes for this BLAST job. Is this too many for BLAST input? Could this be an issue?

We were not able to complete your BLAST request. Please let us know with detail message below.

Er

[2022-01-21 06:02] Sveta-user commented on #2427
Hi Maulik!  Thank you very much, really appreciate it

[2022-01-21 06:04] Sveta-user commented on #2427
This is not urgent, when you have time

[2022-01-25 14:58] Sveta-user commented on #2427
Hi Maulik, I've tried blast today, and the error message has changed to "Not a valid version 4 database"
Just trying to be helpful with some feedback :))  Thanks for looking into this

We were not able to complete your BLAST request. Please let us know with detail message below.
Blast failed /disks/p3/deployment/services/homology_service/bin/blastp -evalue 0.01 -max_target_seqs 500 -num_threads 4

[2022-02-25 02:40] Sveta-user opened #2428 "Phylogenetic Tree"
Greetings -
I've started 4 phylogenetic trees in the morning today, Feb 24th (10 hours ago) .  One of them worked well and fast, but 3 others are not done still.  Is it possible to find out why they are not working?  Is there anything wrong with specific genomes in these trees?
Will really appreciate your advice!

[2022-02-25 02:49] mshukla1 commented on #2428
Are they still running or failed?

Sent from my iPhone

On Feb 24, 2022, at 8:40 PM, Sveta-user ***@***.***> wrote:

﻿

Greetings -
I've started 4 phylogenetic trees in the morning today, Feb 24th (10 hours ago) . One of them worked well and fast, but 3 others are not done still. Is it possible to find out why they are not working? Is there anything wrong with specific genomes in these trees?
Will

[2022-02-25 02:55] Sveta-user commented on #2428
Still running - since 11 am

[2022-02-25 02:59] Sveta-user commented on #2428
Hi Maulik!  Thank you for looking into this. I found a way to check if the genomes were a problem. I just ran the same trees with much smaller number of core genes (100 instead of 500) - and all 3 trees finished successfully.  So good news: (i) Tree service works ; (ii) all my genomes are acceptable by this service.  It just takes longer .  Case closed ;))

[2022-02-25 13:46] ARWattam commented on #2428
Sveta, you can also use the protein family sorter to examine your group.  Load them in, using the PGFams, and then click perfect protein families.
<img width="763" alt="Screen Shot 2022-02-25 at 8 43 56 AM" src="https://user-images.githubusercontent.com/11475316/155725590-41f2dfac-45e1-4189-a39e-0eee10bd8ecf.png">
<img width="903" alt="Screen Shot 2022-02-25 at 8 43 45 AM" src="https://user-images

[2022-02-25 14:38] olsonanl commented on #2428
Just wanted to note the original set of trees did finish after 17 hours:

![image](https://user-images.githubusercontent.com/2152226/155733694-698b85f9-6e28-4dfe-8902-524c0e1d6c89.png)

[2022-02-25 18:01] Sveta-user commented on #2428
Greeting! Many thanks for all your advice. All 4 trees worked.  I should have been more patient :)  Sorry for bothering you .   I know Patric Tree service takes time (and is worth the wait). But this time 1 of 4 trees finished in less than a hour. so I assumed that you guys must have recently upgraded the Tree tool, made it faster, but in the process the old problem with including private genomes

[2022-03-18 14:41] Sveta-user opened #2429 "Jobs list does not load after a recent update"
All other PATRIC services work well

![image](https://user-images.githubusercontent.com/20665963/159023910-0e7de63b-88f6-4b08-a7e6-d0fdc7cce899.png)

[2022-03-18 14:52] olsonanl commented on #2429
It's back.

[2022-03-18 14:52] #2429 closed, assigned to nobody

[2022-03-18 14:59] Sveta-user commented on #2429
Fixed in 10 min - wow!  Thanks much!

[2022-04-24 17:21] ARWattam opened #2430 "Genome Alignment refresh page does not work"
I have to actually leave the page, and then return, to submit another job.

[2022-04-24 17:22] ARWattam opened #2431 "Refresh on Proteome Comparison leaves data in the selected genome table"
Everything refreshes but the selected genome table
<img width="1254" alt="Screen Shot 2022-04-24 at 1 20 52 PM" src="https://user-images.githubusercontent.com/11475316/164988536-560399e5-3c37-44ef-b057-c25cc63b4b40.png">
.

[2022-04-24 17:23] ARWattam commented on #2431
also, the choices made previously in the filter boxes do not revert after hitting the refresh button
<img width="615" alt="Screen Shot 2022-04-24 at 1 22 51 PM" src="https://user-images.githubusercontent.com/11475316/164988575-24b36f7a-051a-4736-bdb0-9a73c707a5c8.png">
.

[2022-06-20 17:01] ARWattam opened #2432 "Codon Trees results page-GenesperGEnome.txt page- clicking on all and then Genomes in vertical green bar does not load new table"
<img width="1830" alt="Screen Shot 2022-06-20 at 12 59 16 PM" src="https://user-images.githubusercontent.com/11475316/174649494-3ce7ae94-fc2c-44f4-98d8-cbacdbd334eb.png">

When I click on the Genomes tab in the vertical green bar, nothing happens.
<img width="1973" alt="Screen Shot 2022-06-20 at 1 01 15 PM" src="https://user-images.githubusercontent.com/11475316/174649615-9a885e89-38cc-45d9-8557-6

[2022-06-20 17:10] ARWattam opened #2433 "Size of genomes not downloading in csv file from genome table."
See this genome table?  it has a size there:
<img width="1746" alt="Screen Shot 2022-06-20 at 1 09 07 PM" src="https://user-images.githubusercontent.com/11475316/174650697-362f3cb6-b55e-425e-bd9e-a6934ab64a4f.png">

When I clicked them all and then downloaded, the size column was empty
[BVBRC_genome (3).csv](https://github.com/PATRIC3/patric3_website/files/8942532/BVBRC_genome.3.csv)

[2022-07-08 17:33] Sveta-user opened #2434 "BLAST issue after July 5 downtime"
Greetings!

Error message when trying to blast against private genomes ( e.g. 1502.1869  or 1502.2501 )

We were not able to complete your BLAST request. Please let us know with detail message below.
mkdir /disks/patric-common/data/homology_service/private-genomes/saxerdupont@patricbrc.org: Permission denied

[2022-07-08 17:47] olsonanl commented on #2434
Try it again now.

[2022-07-08 18:26] Sveta-user commented on #2434
It worked!  Thanks so much, Bob!

[2022-07-08 18:31] olsonanl commented on #2434
You are welcome.

[2022-07-08 18:31] #2434 closed, assigned to nobody

[2022-08-10 13:17] Sveta-user opened #2435 "Several features in Patric are not working after yesterday shutdown"
Good morning,

(i) Blast allows to put in a query sequence and target genomes (s) , but never delivers the output - the page is just spinning indefinitely

(ii) Genome Group View displays the list of genomes fine.  But if one asks for Features, or Protein families, or anything else - again, the page is just spinning indefinitely

![image](https://user-images.githubusercontent.com/20665963/18391101

[2022-09-12 18:45] Sveta-user opened #2436 "Blast results output tables are consistently empty"
The new great Blast service at BV-BRC generates a downloadable output CSC or text  table, but it is empty.  I checked any times
![empty_blast_output_BV-BRC](https://user-images.githubusercontent.com/20665963/189731721-705153b2-2a17-4ddf-96c4-856054fd5a07.png)

[2022-09-12 18:49] olsonanl commented on #2436
I think the download there will download the selected rows - try checking the checkbox just to the left of where it says "Query ID"

[2022-09-12 18:51] Sveta-user commented on #2436
Just try selecting "all" rows, selecting just a few, or NO selection - all 3 downloaded files came back empty
[BVBRC_blast (4).csv](https://github.com/PATRIC3/patric3_website/files/9550964/BVBRC_blast.4.csv)

[2022-09-12 18:54] olsonanl commented on #2436
OK, we'll need to check into it. That same data is available in the job folder, in the file called blast_out.txt.

[2022-09-12 19:01] Sveta-user commented on #2436
True!  But from there these files are not downloadable either for some reason .  weird..  The is not an urgent or crucial issue.  I just need the output files for recordkeeping, but as long as they are safely kept in BRC - I am ok ;))
[BVBRC_blast.txt](https://github.com/PATRIC3/patric3_website/files/9551017/BVBRC_blast.txt)

[2022-09-12 19:03] olsonanl commented on #2436
What is the job number for that job?

From: Sveta-user ***@***.***>
Date: Monday, September 12, 2022 at 2:01 PM
To: PATRIC3/patric3_website ***@***.***>
Cc: Olson, Robert D. ***@***.***>, Comment ***@***.***>
Subject: Re: [PATRIC3/patric3_website] Blast results output tables are consistently empty (Issue #2436)

True! But from there these files are not downloadable either for some reason . weird..

[2022-09-12 19:06] Sveta-user commented on #2436
<html>
<body>
<h3 class="normal-case close2x" style="margin: 0px 0px 0.4em; padding: 0px; font-size: 1.3em; font-weight: normal; line-height: 1; border: 0px; font-family: Arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word

[2022-09-12 19:38] olsonanl commented on #2436
Hm, I was able to look at your job and successfully download the output. Clicked on the filename, then clicked "DWNLD" in the green bar.

[2022-09-12 20:09] Sveta-user commented on #2436
Hmm...  Then this is probably a security issue on the IFF side... unfortunately!  I will talk to IT people on my side to allow BRC full access for me or  smth.  But they are strict  here, hmmm... We try at least

[2022-09-12 20:30] Sveta-user commented on #2436
I assume the BRC site has the current license and other formalities, right?

[2022-09-12 20:36] olsonanl commented on #2436
Yes, same policies as PATRIC

[2022-09-15 16:57] ARWattam opened #2437 "Provide ANI as a service in BV-BRC"
[https://bv-brc.atlassian.net/jira/servicedesk/projects/BVBRC/queues/custom/68/BVBRC-300](url)

User requests that we provide ANI service.  We have had several requests for this and it should move up the priority list

[2022-09-15 19:18] Sveta-user commented on #2436
Hi Bob,
This is not urgent or crucial - reporting just to be a good citizen ;)
I have tried downloading Blast output Tables from my home Mac (bypassing IFF security ) .  And I also tried both, Chrome and Firefox browsers.   So - I can download the simple file type from my Jobs: blast_out.txt (attached).  So I am OK.  But the new VB-BRC's  Blast output format is nicer (as it includes full genome na

[2022-11-16 14:21] ARWattam opened #2438 "Images not loading on login page"
Bob says "looks like the link should be https://www.bv-brc.org/patric/images/bv-brc/bv-brc-logo-bgwhite.png"
<img width="926" alt="Screen Shot 2022-11-16 at 9 18 05 AM" src="https://user-images.githubusercontent.com/11475316/202205266-18443c2d-0072-440a-81a9-9e977d4bafa6.png">
This is what needs to be fixed.  See Jira 501

[2022-11-16 14:39] dmachi commented on #2438
This works from the main login screen, but fails when it shows the 'inline' login box (e.g. when you select a service while not logged in) because the image path is relative.  It needs to be changed into a absolute path at https://github.com/BV-BRC/BV-BRC-Web/blob/6f9696ec4d2c692d88104b52ffd8abe1017178b8/public/js/p3/widget/templates/LoginForm.html#L3 and in the other locations where images are us

[2022-11-21 22:13] Sveta-user opened #2439 "Feature Summary view takes many minutes to load"
Greeting,
Feature Summary view takes many minutes to load for some reason today. Example -

![image](https://user-images.githubusercontent.com/20665963/203168479-8d325182-bbc3-42ee-bf0f-74e6c6afc0af.png)

[2022-11-21 22:16] Sveta-user commented on #2439
Both, public and private genome **features** are loading equally slow