[2019-01-23 17:03] jimdavis1 opened #2185 "Issue with MISC features"
https://www.patricbrc.org/view/Genome/272563.8#view_tab=browser&loc=NC_009089%3A2167251..2177830&highlight=NC_009089%3A2172531..2172545&tracks=refseqs%2CPATRICGenes%2CRefSeqGenes

This compare regions view shows C. diff 630 reference genome and the NCBI Track below.  The NCBI tracks have many misc features, but the mouse over doesn't say what they actually are.

![image](https://user-images.github

[2019-01-23 18:12] olsonanl opened #2186 "prok_tuxedo needs a threadcount option"
Please add a command line flag for prok_tuxedo to specify the threads being used; we need this for good integration with other running applications on the shared compute servers.

Thanks!

[2019-01-23 18:44] chris-c-thomas commented on #2125
https://www.w3schools.com/tags/ref_urlencode.asp

Replacing special characters with the utf-8 encodings in the URL can still allow special characters if needed as a workaround. Otherwise use a RegExp to limit file names?

[2019-01-23 18:46] olsonanl opened #2187 "Expression import reorders conditions"
The default view of the data in the experiment view for an imported data file reorders the conditions into alphabetical order, rather than showing the original order of the data in the file. This seems odd, since it erases the groupings that were in place in the original data.

Original data:

<img width="744" alt="image" src="https://user-images.githubusercontent.com/2152226/51629000-83a5d100-1f1

[2019-01-23 18:49] olsonanl commented on #2125
I do not want to limit the filenames. Isn't this just a matter of URL-encoding any paths when they show in a URL ? There shouldn't be any fragile magic involved, just consistent practice of quoting when going into a URL and unquoting when required coming out.

[2019-01-24 19:08] jimdavis1 opened #2188 "Some possible updates for compare regions"
I kind of whish you could get the blast similarity on the pin.  Especially in a case where the %id is going down, like this one.

I also would like to be able to point compare regions at a genome group, and have it render based only only on the genomes in the group.

![image](https://user-images.githubusercontent.com/7661533/51702268-fb3d3400-1fd8-11e9-8191-fd73aea11f79.png)

[2019-01-24 19:37] Tinyman392 opened #2189 "Example IDs not showing in ID Mapper"
Example IDs in the ID mapper won't show examples for anything that isn't a "PATRIC ID".  Use the dropdown box and select something that isn't "PATRIC ID".

<img width="1680" alt="screen shot 2019-01-24 at 1 34 20 pm" src="https://user-images.githubusercontent.com/5612784/51703773-de0a6480-1fdc-11e9-82b9-eefdcbb483a6.png">

[2019-01-24 20:26] olsonanl commented on #2186
FYI this is the effect of terminating just after 14:20 a 24-thread cufflinks that was making redwood overcommitted. Red is system CPU (overhead):

![image](https://user-images.githubusercontent.com/2152226/51706433-03e73780-1fe4-11e9-8709-3c0acce35483.png)

[2019-01-24 21:04] jimdavis1 opened #2190 "Need to include taxon_id field to search on global search"
I just searched for "1280" the tax id for staph aureus, and here is what it returned.  Note that it did not find 1280.
![image](https://user-images.githubusercontent.com/7661533/51708339-4e1ee780-1fe9-11e9-8473-79f005868ac8.png)

[2019-01-24 21:43] mshukla1 commented on #2190
It returns all the taxon nodes that have 1280 as either taxon id or somewhere in taxon name.

If you look at taxon they all have 1280 in them.

-Maulik

On Jan 24, 2019, at 3:04 PM, jimdavis1 <notifications@github.com<mailto:notifications@github.com>> wrote:

I just searched for "1280" the tax id for staph aureus, and here is what it returned:
[image]<https://user-images.githubusercontent.com/7661

[2019-01-24 21:48] dmachi commented on #2190
It doesn’t appear to actually be returning results with taxon id == 1280 or in a substring of the taxon_id.

I suspect these aren’t part of the keyword/text search field and that is why.  I don’t remember whether taxon_id in solr is an int or text field.   One possible solution for this is to modify the query (link) that the search generates from ?keyword(1280) to ?or(eq(taxon_id,1280),keyword(128

[2019-01-24 21:58] mshukla1 commented on #2190
Ahh, I see the problem now.

You are right, Dustin. Taxon id is not included in copy field for keyword search.

Harry, can you please add taxon id in the copy field?

-M

On Jan 24, 2019, at 3:48 PM, Dustin Machi <notifications@github.com<mailto:notifications@github.com>> wrote:

It doesn’t appear to actually be returning results with taxon id == 1280 or in a substring of the taxon_id.

I suspect

[2019-01-25 15:52] hyoo commented on #2120
updating FASTA header to include genome name and genome id would be sufficient to meet your request?

[2019-01-25 16:09] hyoo commented on #2172
This is a question, technically, when should we create new user's home workspace? Currently it seems like, we create user workspace via web-ui, but that would not cover this case, where a user registers and go to CLI directly.

[2019-01-25 16:20] hyoo commented on #2185
which information do you expect to see here?

[2019-01-25 16:22] hyoo commented on #2188
@olsonanl is the blast similarity available on the service side?

[2019-01-25 16:40] hyoo commented on #2091
Based on discussion above, do you agree to change the list to

1. Reference and representative genomes
2. Genomes with transcriptomic data
3. Plasmids
4. Phages
5. Search within selected genome
6. Search within selected genome group
7. Search within a taxon

@mshukla1 @jimdavis1 ?

[2019-01-25 16:47] hyoo commented on #1915
This is a duplicate of #1916

[2019-01-25 16:47] #1915 closed, assigned to mshukla1, hyoo

[2019-01-25 16:49] hyoo commented on #1825
#1151

[2019-01-25 16:49] #1151 closed, assigned to hyoo

[2019-01-25 16:52] olsonanl commented on #2172
The workspace should be set up at account creation time. Who owns that code?

[2019-01-25 16:52] hyoo commented on #2168
need to update
https://docs.patricbrc.org/tutorial/enabling_flash/enabling_flash.html

[2019-01-25 16:55] hyoo commented on #2023
@dawenx
what is the current status of this effort? Can we close this ticket?

[2019-01-25 17:01] hyoo commented on #2183
I cannot tell with the current screen capture, but i believe we activated "reference genome view" by default, to compare the current set of genomes with reference genomes.

This was a request from Veronika or Sveta as far as i remember. @mshukla1 can you double check?

[2019-01-25 17:11] hyoo commented on #2091
We need to update the tutorial as well after we made a decision.

https://docs.patricbrc.org/tutorial/blast/blast.html

[2019-01-25 18:46] olsonanl commented on #2183
Whatever the intent, it acts differently than the other PATRIC tools in this respect.

________________________________
From: hyoo <notifications@github.com>
Sent: Friday, January 25, 2019 11:01 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Author
Subject: Re: [PATRIC3/patric3_website] Heatmap from subsystems page not limited by selected genomes (#2183)

I cannot tell with the current scree

[2019-01-25 20:37] nconrad opened #2191 "genome alignment seed weight bug"
I somehow missed that, with the additional options added earlier this month, the seed-weight is being set to 15 instead of being decided by mauve.  I'll have a fix shortly.

[2019-01-26 15:17] aswarren commented on #2186
@olsonanl I've made two updates relevant to this. Prok_tuxedo has been updated with an override parameter mechanism that allows the specification of the number of threads to be used for each component.
I also made a pull request for the RNA-Seq app-service wrapper that gives the JSON override to set the number of threads to 2 for each component.
Not sure if you had something more dynamic in mind.

[2019-01-26 16:45] olsonanl commented on #2186
Perfect. I'll tweak the perl wrapper to let the app configuration specify the thread count to use.

Thanks.

[2019-01-28 20:26] ARWattam opened #2192 "Naked genome"
This genome (Yersinia pestis strain NCTC5923, Genome ID 632.381) has no genes and needs to be reannotated.

[2019-01-29 18:45] chmao1 commented on #1506
@mshukla1  I tested using the "gene id" header as described in the issue and the import worked fine.  Could you check again to see whether it's still a problem for you?

[2019-01-29 19:51] chmao1 commented on #1506
"Gene IDs" header works too

[2019-01-29 21:00] dawenx commented on #1991
since the original problem is fixed, close this one.

there is a related issue for edge browser and it's in #2179.

@nconrad will open a new ticket for D&D related issue.

[2019-01-29 21:00] #1991 closed, assigned to nconrad, dawenx

[2019-01-29 23:20] olsonanl opened #2193 "Genetic code 25 missing from user interface"
I've about got the backend fixed for #1838 but the submission interface doesn't pick gc 25 when choosing a genome with that genetic code (e.g. 1643353) and the drop down doesn't offer 25 as an option.

The taxonomy core has the correct value.

[2019-01-29 23:28] olsonanl commented on #1838
Updated to prodigal 2.6.3 and modified code to log prodigal version, not run glimmer on gc25 jobs. Still need GUI fixed per #2193

[2019-01-29 23:28] #1838 closed, assigned to olsonanl

[2019-01-30 13:43] dawenx commented on #2193
@olsonanl if you give me label for this particular code, e.g., label for 11 is "11 (Archaea & most Bacteria)", i can add this option to UI quickly.

[2019-01-30 13:57] dawenx commented on #2189
looks like only small subset of options on left/right have example assigned, e.g., PATRIC ID, RefSeq (Protein ID), RefSeq Locus tag. i don't know the requirement and background on this service. Do we want to have example for all options on left/right? If so, could someone provide a mapping? I can update the UI afterward. @Tinyman392 @aswarren

[2019-01-30 14:14] dawenx commented on #2148
@mshukla1 can you take a look? there's a similar issue #2192 and i assigned this to you as well. a more important question is: do we know why this happened?

[2019-01-30 14:19] dawenx commented on #2135
same ticket as #2024

[2019-01-30 14:20] dawenx commented on #2024
I will take a look on this...

[2019-01-30 14:28] dawenx commented on #2123
according to @rkenyon "I believe we have agreed to deprecate PEPR...", and there's no outgroup concept in codon_tree method if i understand it correctly, @AllanDickerman can you confirm? if so, should we add 'wont fix' label for this issue and close it?

[2019-01-30 14:50] olsonanl commented on #2193
"Candidate Division SR1 and Gracilibacteria"

[2019-01-30 16:23] ARWattam opened #2194 "Need to update BLAST database"
Tied to JIRA 2141
User is unable to blast the following sequence against these genome IDs (2065118.12, 2065118.14, 1639.5069, 1639.5025)

MANLKVIENEATILASIPKHNVDYNARVMQSVSVDYERDMIYWTQQYSGKKMTDAGAGES
YNITRTDLKGNYIDQMWCLNGGHGTNIALDYNLESKKMHIWSAYKINNKWEVVCYPYESN
KILKGTESSIFISKVESGSYNRISGDLKNDMLVFHSGGDPKTFNIRIVRASSVREGKLEV
LYKVKATEANDAYVYQGCALDFPYLYTASGTGGVEEPKQLTCVDIVTGKRVYQTTFKFNT
KAMQTTESNFAEPENVCV

[2019-01-30 20:02] chris-c-thomas commented on #2168
I will update the tutorial.

@ARWattam can you show me the screenshot of the little message? I don't think it uploaded to GH, or I'm missing it?

[2019-01-30 20:02] chris-c-thomas commented on #2168
Also, will write instructions for Firefox, Safari, Edge, etc as needed.

[2019-01-30 20:32] dawenx commented on #2106
@olsonanl i guess the fix mentioned by @nconrad is fixed by now?

[2019-01-30 20:40] olsonanl commented on #2106
Yes, I think it's been corrected.

[2019-01-30 20:41] #2106 closed, assigned to nobody

[2019-01-30 20:45] dawenx commented on #2105
not sure what should be done about this ticket, but i know the performance has been improved a lot lately. i suggest to close this issue. @hyoo @olsonanl what do you think?

[2019-01-30 20:48] dawenx commented on #2104
@jimdavis1 i cannot access your workspace, so i cannot verify whether this is still an issue or not. @olsonanl can you help to check?

[2019-01-30 20:51] #2078 closed, assigned to nobody

[2019-01-30 20:53] dawenx commented on #2069
not sure whether this is still an issue not, i'm going through 'unassigned' issues and try to assign most of them to different folks or close them.

[2019-01-30 21:00] olsonanl commented on #2105
I'd close, but add a ticket that adds monitoring of these sort of times so we can track problems. We still see rocky performance on searches.

[2019-01-30 21:01] olsonanl commented on #2069
Leave this open; it's a functionality we should consider adding

[2019-01-30 21:08] dawenx commented on #2179
@chris-c-thomas here we go, you get this. :)

[2019-01-31 15:32] chmao1 commented on #2167
Fixed and will be available in the next build.

[2019-02-01 16:10] dawenx commented on #2189
@mandywil the main thing is to find out what's requirement, @aswarren probably has insight on this as he is the 'owner' of ID Mapper service.

[2019-02-01 16:22] dawenx commented on #2007
bob, what do you plan to do with this issue?

[2019-02-01 16:50] olsonanl commented on #2007
Probably ignore since we're getting rid of arast.
Leave it open though.

[2019-02-02 04:34] #2176 closed, assigned to nconrad

[2019-02-02 04:34] #2191 closed, assigned to nconrad

[2019-02-04 15:12] dawenx commented on #2157
@mshukla1 please verify the fix on alpha. i will ask @hyoo to push it to production after that.

[2019-02-04 16:20] mshukla1 commented on #1848
By popular demand and to avoid confusion, we have deprecated "sequences" field. Now, contigs represent total number of sequences, including chromosomes and plasmids.

I have verified that the number of contigs are present for all genomes.

-Maulik

[2019-02-04 16:20] #1848 closed, assigned to mshukla1

[2019-02-04 16:24] mshukla1 commented on #2193
Dawen, I see the annotation service now shows genetic code 25. The same needs to be shown on the comprehensive genome analysis service as well.

[2019-02-04 16:25] mshukla1 commented on #2190
Harry, can you change the solr schema so that the taxon id is also included in the copy field?

-Maulik

[2019-02-04 16:32] hyoo commented on #2190
I think we can modify from the UI side, to search on taxon_id field. @chris-c-thomas would you start looking into this?

[2019-02-04 16:36] hyoo commented on #2190
Two entry points:
1. in global search, choose target "Taxa" and search with 1280
2. global search with 1280 and click "Taxa" Title name.

[2019-02-04 16:43] #2129 closed, assigned to chris-c-thomas

[2019-02-04 16:55] hyoo commented on #2190
We can discuss possible solutions, but my quick suggestion is to changing query

from

https://patricbrc.org/view/TaxonList/?keyword(%221280%22)

to

https://patricbrc.org/view/TaxonList/?or(keyword(%221280%22),eq(taxon_id,1280))

[2019-02-04 19:34] dawenx commented on #2193
UI for CAS has been updated as well.

[2019-02-04 19:44] dawenx commented on #2103
@chmao1 can you take a look on this issue? if there's no fix required, please close it.

[2019-02-04 19:52] dawenx commented on #2088
@chris-c-thomas do you have Windows w/ touch screen?

[2019-02-04 19:56] olsonanl commented on #2088
Doesn’t the chrome development support allow emulation of touchscreen?

On Feb 4, 2019, at 1:52 PM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

@chris-c-thomas<https://github.com/chris-c-thomas> do you have Windows w/ touch screen?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/PATRIC3/patric3_we

[2019-02-04 20:00] dmachi commented on #2088
Chrome does support this for testing to the extent one is testing with Chrome itself.  See https://developers.google.com/web/tools/chrome-devtools/device-mode/

For testing other browsers on windows, it seems support varies.  https://social.msdn.microsoft.com/Forums/ie/en-US/03b6cd67-f0d2-4fb6-8d07-3ac799993383/how-do-i-emulate-touch-events-without-using-touch-screen-?forum=wpf

Several recommenda

[2019-02-04 20:00] chris-c-thomas commented on #2088
@dawenx - I do not. Only desktop and VM on MacOS but @olsonanl is right, it does to an extent.

https://developers.google.com/web/tools/chrome-devtools/device-mode/

[2019-02-04 20:01] chris-c-thomas commented on #2088
@dmachi hah your response showed up right as I clicked comment.

[2019-02-04 20:02] dawenx commented on #2088
Yes, there is. If there's a touch screen, it would be the best option compared to simulation which is an approximation. anyway, i was going through un-assigned issues and wanted to know what kind of dev. environment people have.

[2019-02-04 20:03] chris-c-thomas commented on #2190
@hyoo yes I will start looking into this solution.

[2019-02-05 13:29] chris-c-thomas commented on #2076
This should be about done, will double check and dynamically/statically add what's needed.

[2019-02-05 13:29] chris-c-thomas commented on #2074
This should be about done, will double check and dynamically/statically add what's needed.

[2019-02-05 20:34] jimdavis1 opened #2195 "cant click on icons in job results page"
![image](https://user-images.githubusercontent.com/7661533/52302552-2c135680-2953-11e9-876f-5d5f86b1a1f0.png)

[2019-02-05 21:07] chmao1 commented on #2167
@ARWattam The fix is available in production now. Please test and verify.

[2019-02-05 21:14] chmao1 commented on #1835
The tooltip is broken again.

[2019-02-05 22:16] nconrad commented on #2195
I was with Jim when we saw this.  Although this is general problem, it's a problem in the job result page because of the full width on the title div and whatnot.  @dawenx Should be simple to fix, so feel free to assign back to me if you don't want the joy of closing this. :)

[2019-02-06 15:04] mshukla1 opened #2196 "CAS genome report: move subsystems next to circular genome view"
In the CAS genome report, we need to move subsystems section right after the circular genome view.

And push specialty genes and AMR after subsystems.

The colors legend in the subsystem view are also used as color legend in the circular view. So, having them next to each other would help.

-Maulik

[2019-02-06 15:21] chmao1 commented on #2103
@ARWattam I'm not able to find these features in PATRIC. Are these from your private genomes? If so, I don't have an access. I tried using different set of features and the gene tree and MSA are lining up fine. Could you try again and see whether this is still an issue?

[2019-02-06 20:03] mshukla1 opened #2197 "Tree: view tree icon not working"
On the tree job result page, the View Tree icon at the top right corner is not working.

It takes one to the tree page, but the tree never load.

If I select a newick file and then click on the tree icon in the green bar, that works fine.

<img width="1078" alt="screen shot 2019-02-06 at 2 00 46 pm" src="https://user-images.githubusercontent.com/1236463/52370306-26cc0f80-2a18-11e9-80c3-7c31fbf4404

[2019-02-06 20:22] mshukla1 opened #2198 "Feature Overview: add link to identical nucleotide sequences"
Now that we have na_sequence_md5 field available in the genome_feature core

We should add a link to the identical gene / nucleotide sequences on the feature overview page.

<img width="694" alt="screen shot 2019-02-06 at 2 18 39 pm" src="https://user-images.githubusercontent.com/1236463/52371232-96db9500-2a1a-11e9-8e25-878aff26dfed.png">

[2019-02-06 20:58] mshukla1 opened #2199 "Proteome comparison: download files tooltip doesn't go away"
On proteome comparison job result page, click on the "DWNLD" icon on top right.

It shows the tool tip for downloading table or svg file, which just stays there and doesn't go away
when clicked again on the same icon or clicked anywhere else on the page.

Please check job result pages for other job types as well to make sure the issue is not more wide spread.

<img width="1207" alt="screen shot 20

[2019-02-06 21:38] dawenx commented on #2197
@aswarren I need your help on this. there are 2 things we found so far: 1) when using PATRIC Workshop folder under public, "the /public/ part is an artifact of the web URL not part of the ws path" 2) the viewer does not work even after "/public" part is manually removed from the link. https://github.com/PATRIC3/p3_web/blob/master/public/js/p3/widget/viewer/PhylogeneticTree.js#L129 might be the rea

[2019-02-06 21:50] dawenx commented on #2199
i found the problem and fixed it. it's in PR #837 @hyoo

[2019-02-07 15:17] ARWattam opened #2200 "Remove Alt locus tag from standard table view"
Nobody cares about seeing those.  We should remove them from the standard table format.  I guess we should keep them available for adding in, though.

[2019-02-07 18:23] dawenx commented on #2200
on which page?

[2019-02-07 18:26] mshukla1 commented on #2200
From the transcriptomics gene list, hide alt locus tags and genome name from the default
view. Allow users to show them using “add column widget” if they want to.

On Feb 7, 2019, at 12:23 PM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

on which page?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitH

[2019-02-07 18:31] dawenx commented on #2200
You are talking about this page, correct? I will work on this. https://www.patricbrc.org/view/TranscriptomicsExperiment/?in(eid,(1071603,1150517))

[2019-02-07 19:26] mshukla1 opened #2201 "Metagenomic binning: links from HTML report break when copied to another location"
Bob, not sure if this belongs to you or Bruce or workspace/UI people.

I copied a completed metagenomic binning job result from Rebecca's workspace to public workshop folder and made those bins public, so that we can use them in workshop.

https://www.patricbrc.org/workspace/PATRIC@patricbrc.org/PATRIC%20Workshop/Metagenome%20Binning/Louse%20Fly%20Metagenome/.Louse%20flie%20metagenomes%20ERR969522

[2019-02-07 20:37] dawenx commented on #2200
i have updated default columns, both "genome name" and "alt locus tag" are not displayed by default.

this is part of PR 837 now. @hyoo

[2019-02-07 20:59] nconrad opened #2202 "genome alignment improvements"
Form:
- [ ] don't allow groups with over 20 genomes
- [ ] second "HMM-P-Go-Homologous" should be "hmm-p-go-unrelated"

Viewer:
- [ ] make sure all contig markers are in view (verify positions?)
- [ ] fix reset issue (on firefox?)

Nice to haves:
- [ ] improve performance for many contigs and LCBs
- [ ] don't require hovering on LCBs, hover on contigs should be enough

[2019-02-08 15:24] mshukla1 opened #2203 "CLI: p3-put-genome-group and p3-put-feature-group gives error"
For the workshop Today, I downloaded and installed latest version of CLI and found that the

p3-put-genome-group and p3-put-feature-group command are not working.

I get the following error when I use -h option.

mshukla:~/cli_demo> p3-put-genome-group -h
Can't locate JSON/RPC/Legacy/Client.pm in @INC (you may need to install the JSON::RPC::Legacy::Client module) (@INC contains: /Applications/PATR

[2019-02-08 19:39] #2157 closed, assigned to dawenx

[2019-02-08 19:42] #2086 closed, assigned to dawenx

[2019-02-08 19:45] dawenx commented on #2094
since it has been for several months since last comment and we do not hear similar complaint, i will go ahead to close this issue.

[2019-02-08 19:45] #2094 closed, assigned to dawenx

[2019-02-08 19:48] dawenx commented on #2023
i'm closing this issue for now. will open a new one if we need to add/update links related to static content.

[2019-02-08 19:48] #2023 closed, assigned to hyoo, dawenx

[2019-02-11 14:52] jimdavis1 opened #2204 "Can't change column width"
https://www.patricbrc.org/view/Feature/PATRIC.562.23850.562.23850.con.0017.CDS.50114.51616.rev

I am in safari and I cant adjust the column width to read the information about this transporter in the bottom table.

![image](https://user-images.githubusercontent.com/7661533/52570968-48dbde00-2dda-11e9-98ff-544d91c790d9.png)

[2019-02-11 15:15] dawenx commented on #2204
look like this table is implemented using pure html table tag... @chris-c-thomas @nconrad do you know a way to make it adjustable using CSS?

[2019-02-11 15:50] dawenx commented on #2204
ignore my previous comment as i spoke too soon, i will work on this...

[2019-02-11 15:55] chris-c-thomas commented on #2204
@dawenx is it specific to Safari or does Firefox/Chrome also cause issues? I'm curious if the CSS is being rendered differently.

I imagine the issue can occur in other areas?

[2019-02-11 16:51] dawenx commented on #2204
@chris-c-thomas no, this is not a browser related issue and i have a solution for this. thanks.

[2019-02-11 18:06] chris-c-thomas commented on #2168
@ARWattam - I'm going to assume this is no longer an issue for the user and close the ticket since it's been a month. If they are still experiencing the issue we can work one on one to enable their Flash Player.

I've just rewritten an updated version of the Flash Player tutorial that should be easier to follow. It covers modern versions of Chrome, Firefox, Safari and Edge.

https://github.com/PAT

[2019-02-11 18:08] #2168 closed, assigned to hyoo, chris-c-thomas

[2019-02-11 20:28] dawenx commented on #2204
this is part of PR 837 now.

[2019-02-11 20:28] ARWattam commented on #2122
I use this tool a lot and I think it would make it even heavier if you added all that information for the comparison genomes.  They can get to the PLFam and PGFam by using the peg ID.  I would prefer not to have additional columns of information duplicated across all the comparison genomes.

[2019-02-11 21:26] dawenx opened #2205 "performance benchmark"
we need to have a way to know what's the expected performance for key pages, not sure how to do it exactly, maybe providing a few testing links with expected response time? any input? in this way, when people complaints about slowness, we have a reference point.

This is a follow up for #2105.

[2019-02-11 21:27] dawenx commented on #2105
OK, i'm opening #2205 as a follow up.

[2019-02-11 21:27] #2105 closed, assigned to nobody

[2019-02-12 17:52] nconrad commented on #2197
I did a test run yesterday with the following and I can't view the tree.   Job ID: ef018135-f005-40f1-9177-7b4bda78cce0

[code]

![image](https://user-images.githubusercontent.com/1194246/52656670-70a37280-2ebc-11e9-8224-0dccd8ce31d6.png)

![image](https://user-images.githubusercontent.com/1194246/52656733-929cf500-2ebc-11e9-833e-ab141b2a5139.png)

[2019-02-12 17:57] mshukla1 commented on #2197
I see three tree (nwk) files in the job output, see the screenshot attached.

Come to think of it, why do we have three nwk files in the output in the first place?

<img width="366" alt="screen shot 2019-02-12 at 11 55 55 am" src="https://user-images.githubusercontent.com/1236463/52657042-59b15000-2ebd-11e9-8fc1-3f4fa226fff8.png">

[2019-02-12 18:15] nconrad commented on #2197
ah, from Rebecca:

.nwk has the names (and ids after the `_@_`)
[code]

.final.nwk has just ids
[code]

and .final_rooted.nwk is the midpoint rooted version with ids
[code]

[2019-02-12 18:27] dmachi commented on #2197
I don’t know the differences in the nwk files, I thought one was used to generate the other so that it includes IDs, but I could be wrong about that.  However, as Dawen mentioned, the issue is the .json files, not the nwk files.  The current code was expecting a single json file.  It needs to change to allow multiple json files to exist and to do that he needs to know which one.

[2019-02-12 19:11] nconrad commented on #2205
Probably already know, but I've noticed that caching makes the performance vary a lot.  The genome alignment viewer takes around 22+ secs to fetch contig and feature meta the first time, but less than a 1 or 2secs the second time.

[2019-02-13 19:40] nconrad opened #2206 "forgot password doesn't give any feedback on submission"
step 1)
![image](https://user-images.githubusercontent.com/1194246/52738414-3ad1bd00-2f94-11e9-86e4-07474f121523.png)

step 2)
![image](https://user-images.githubusercontent.com/1194246/52738461-5341d780-2f94-11e9-8543-9eeb7e14b2c8.png)

step 3 (after clicking "Reset Password")
![image](https://user-images.githubusercontent.com/1194246/52738480-5b017c00-2f94-11e9-9dee-fecd161cd2e2.png)

Should pro

[2019-02-14 14:36] jimdavis1 opened #2207 "What version of MLST are we using?"

[2019-02-14 15:01] dawenx commented on #2207
@olsonanl @mshukla1 Bob/Maulik, do you know?

[2019-02-14 15:10] olsonanl commented on #2207
It is a modified-to-run-here version of whatever we inherited from the person who is no longer with the project. Code at https://github.com/patric3/p3_mlst

Database used is /disks/patric-common/data/mlstdb-2015-1123

[2019-02-14 15:24] dawenx commented on #2197
i don't know why i'm assigned to this issue... i did look into the codes a bit the other day, t**he viewer expects only 1 .json file, if there's more than 1 .json files, it fails**. looks like there are more than 1 .json files in the results now and that's the problem. if someone tells me a rule to pick a .json file, i will try to fix it.

[2019-02-14 15:30] mshukla1 commented on #2197
Please link using final.nwk and assign the issue back to me for review when fix is deployed.

On Feb 14, 2019, at 9:24 AM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

i don't know why i'm assigned to this issue... i did look into the codes a bit the other day, the viewer expects only 1 .json file, if there's more than 1 .json files, it fails. looks like there are

[2019-02-14 15:34] dmachi commented on #2197
Dawen, I think the answer is to use the .json file that matches the name of whatever nwk file is being used.  That, I assume, should be either .final.nwk or .final_rooted.nwk.  I’m not sure which of those is correct to use for the button at the top.  Perhaps since there are now multiple nwk files, there should just not be a button at the top and people should choose the specific nwk file they want

[2019-02-14 15:36] dawenx commented on #2197
@dmachi so remove the 'view' icon on the top for now?

[2019-02-14 15:39] mshukla1 commented on #2197
I suggest to keep the icon for the consistency sake and use the final.nwk to link it.

There us not much difference between the nwk files, one uses genome name and one
uses genome id, so they can be used in other external programs as needed.

For our viewer, it doesn’t;t make much difference.

-Maulik

On Feb 14, 2019, at 9:36 AM, Dawen Xie <notifications@github.com<mailto:notifications@github.com

[2019-02-14 17:11] nconrad commented on #2206
This seems to have been a one-time issue, and I don't see anything that was causing it.  closing.

[2019-02-14 17:11] #2206 closed, assigned to dmachi

[2019-02-14 21:07] dawenx commented on #2197
OK, i checked in a fix and it's in PR 837. I believe it fixes both '/public' issue and multiple json files issue.

[2019-02-14 21:09] dawenx commented on #2207
can we go ahead and close this "issue" then?

@jimdavis1 i'm wondering why you opened an issue for a question, or, do i understand this incorrectly?

[2019-02-15 13:44] rkenyon commented on #2207
Dawen,

Jim, Rebecca, or Maulik can maybe verify, but I believe that the MLST references/designations can change over time, and the database may need to be updated.

Ron

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Thursday, February 14, 2019 at 4:10 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <s

[2019-02-15 13:49] dawenx commented on #2207
@rkenyon thanks for the info.

Assign this to @olsonanl @mshukla1 then, feel free to assign it to others. Maybe we should update the subject as it looks like a question to me.

[2019-02-15 13:50] rkenyon commented on #2207
Yes, the MLSTs are dynamic .  Maulik will be able to address the version issue, but we probably do need to update them.

Rebecca

From: "Kenyon, Ronald W (rwk4gy)" <rkenyon@virginia.edu>
Date: Friday, February 15, 2019 at 8:44 AM
To: PATRIC3/patric3_website <reply@reply.github.com>, PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>, "Shukla

[2019-02-15 14:10] mshukla1 commented on #2207
Yes, we do. it has been long overdue.

-Maulik

On Feb 15, 2019, at 7:50 AM, rkenyon <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, the MLSTs are dynamic . Maulik will be able to address the version issue, but we probably do need to update them.

Rebecca

From: "Kenyon, Ronald W (rwk4gy)" <rkenyon@virginia.edu<mailto:rkenyon@virginia.edu>>
Date: Friday, February 15, 2019

[2019-02-15 15:32] rkenyon commented on #2207
Does it include re-calling MLSTs on existing genomes in the database as well?

Ron

From: Maulik Shukla <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Friday, February 15, 2019 at 9:10 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: rkenyon <rkenyon@bi.vt.edu>, Mention <mention@noreply.github.com>
Subject: Re: [PATRIC3/patric3_we

[2019-02-15 15:35] mshukla1 commented on #2207
Yes.

On Feb 15, 2019, at 9:32 AM, rkenyon <notifications@github.com<mailto:notifications@github.com>> wrote:

Does it include re-calling MLSTs on existing genomes in the database as well?

Ron

From: Maulik Shukla <notifications@github.com<mailto:notifications@github.com>>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Friday, February 15, 2019 at

[2019-02-15 16:49] rkenyon commented on #2041
I'm assuming the updated text is sufficient.  Closing ticket.

[2019-02-15 16:49] #2041 closed, assigned to rkenyon

[2019-02-15 17:05] rkenyon commented on #2005
Added link to RNA-Seq Service user guide for full output file descriptions

[2019-02-15 17:05] #2005 closed, assigned to aswarren, rkenyon

[2019-02-15 18:02] chmao1 opened #2208 "Variation Service: add the meanings of the fields in all.var.html (and all.var.tsv) in the user guide"
User requested to have the column header description included in the user guide.

[2019-02-15 19:54] mshukla1 opened #2209 "CLI: p3-get-contig-data giving errors"
I tried to search for contigs using multiple each criteria, all failed.

mshukla:~> p3-get-contig-data -e genome_id,83332.12 -a genome_id,accession
Invalid object Getopt::Long::Descriptive::Opts::__OPT__::1=HASH(0x7fd139c596b0). at /Applications/PATRIC.app/deployment/lib/P3Utils.pm line 655.
mshukla:~> p3-get-contig-data --eq genome_id,83332.12 -a genome_id,accession
Invalid object Getopt::Long::D

[2019-02-18 14:41] #2134 closed, assigned to chris-c-thomas

[2019-02-18 14:41] chmao1 opened #2210 "Variation Service: fix typo in the in the user guide"
libs.txt was misspelled as lbs.txt

[2019-02-18 14:59] chmao1 commented on #2210
Fixed.

[2019-02-18 14:59] #2210 closed, assigned to chmao1

[2019-02-18 21:11] dawenx commented on #2204
@jimdavis1 this is on alpha now, please verify: https://www.alpha.patricbrc.org/view/Feature/PATRIC.562.23850.562.23850.con.0017.CDS.50114.51616.rev

[2019-02-18 21:13] dawenx commented on #2200
@ARWattam  this is on alpha now, please verify. https://www.alpha.patricbrc.org/view/TranscriptomicsExperiment/?in(eid,(1071603,1150517))

[2019-02-18 21:14] dawenx commented on #2199
@mshukla1 this is on alpha now, please verify:
https://www.alpha.patricbrc.org/workspace/public/PATRIC@patricbrc.org/PATRIC%20Workshop/Proteome%20comparison/Escherichia%20coli%20MRSN388634%20Comparison

[2019-02-18 21:16] dawenx commented on #2193
on alpha now for both Annotation and CAS services, please verify.

[2019-02-18 21:19] dawenx commented on #2197
@mshukla1  this is on alpha now, i have tested it on safari/firefox/chrome, please verify.
https://www.alpha.patricbrc.org/view/PhylogeneticTree/?&labelSearch=true&idType=genome_id&labelType=genome_name&wsTreeFolder=/public/PATRIC@patricbrc.org/PATRIC%20Workshop/Phylogenetic%20tree/Buchnera%20Wigglesowrthia%20Blochmannia

[2019-02-19 02:12] mshukla1 commented on #2194
All BLAST databases have been updated after the January Release.

[2019-02-19 02:29] mshukla1 commented on #2192
This and all other naked / half naked genomes have been deleted from the database.

[2019-02-19 02:29] #2192 closed, assigned to mshukla1

[2019-02-19 02:48] mshukla1 commented on #2181
This and other naked genomes have been deleted from the database.

[2019-02-19 02:48] #2181 closed, assigned to mshukla1

[2019-02-19 02:53] mshukla1 commented on #2175
We don't have fna files for all sources, as we only use  fasta protein sequences and BLASTP in our specialty genes pipeline. We can refer user to the individual sources for fna sequences.

[2019-02-19 02:54] mshukla1 commented on #2166
New version of this genome has been added to the database. I have responded to the user and closed the JIRA ticket.

https://www.patricbrc.org/view/Genome/1177180.18

[2019-02-19 02:54] #2166 closed, assigned to mshukla1

[2019-02-19 02:55] mshukla1 commented on #2148
This and other naked genomes have been deleted from the database.

[2019-02-19 02:55] #2148 closed, assigned to mshukla1

[2019-02-19 03:00] mshukla1 commented on #2090
Currently, there are no filters/facets available for taxon list.

We should add the following filters: taxon_rank and division

[2019-02-19 03:13] mshukla1 commented on #1976
@hyoo Please hide the reference genomes by default in the subsystem heat map. Users can add them using the "Reference Genomes" toggle button, if they want to.

<img width="1680" alt="screen shot 2019-02-18 at 9 09 09 pm" src="https://user-images.githubusercontent.com/1236463/52987737-fe51f700-33c1-11e9-8286-dd3d4d3e19f6.png">

[2019-02-19 03:15] mshukla1 commented on #1949
I am not sure who is the right owner of this ticket or if this is already addressed in the current UI / services.

[2019-02-19 03:32] mshukla1 commented on #1795
As part of the ongoing genome QC and clean up, I have corrected many such cases and deleted ~5000 corrupted genomes.

[2019-02-19 03:32] #1795 closed, assigned to mshukla1

[2019-02-19 03:35] mshukla1 commented on #1776
@dawenx Not sure if this is still an issue. You may have fixed it recently, when you fixed the Tree button at the top.

Can you please check with Rebecca to confirm and close this ticket?

[2019-02-19 13:45] dawenx commented on #1949
i do not work on the back-end and prefer to stay in this way, at least for now.

[2019-02-19 14:13] mshukla1 commented on #1949
The reason I co-assigned it to you and Bob is because I wasn’t sure if this
Needs to be addressed on the UI side (hence, you) or backend side (hence, bob).

-Maulik

On Feb 19, 2019, at 7:45 AM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

i do not work on the back-end and prefer to stay in this way, at least for now.

—
You are receiving this because you were assi

[2019-02-19 14:16] mshukla1 commented on #1575
All microbial genomes smaller than 300k have been deleted from the database.

[2019-02-19 14:16] #1575 closed, assigned to mshukla1

[2019-02-19 14:16] dawenx commented on #1949
i will add myself back then. i thought this issue/ticket is for the back-end only based on its subject.

[2019-02-19 14:16] mshukla1 commented on #1574
All microbial genomes smaller than 300k have been deleted from the database.

[2019-02-19 14:16] #1574 closed, assigned to mshukla1

[2019-02-19 14:17] mshukla1 commented on #570
All microbial genomes longer than 15MB have been deleted from the database.

[2019-02-19 14:17] #570 closed

[2019-02-19 14:18] mshukla1 commented on #1573
All microbial genomes smaller than 300k have been deleted from the database.

[2019-02-19 14:18] #1573 closed, assigned to mshukla1

[2019-02-19 14:20] mshukla1 commented on #1752
@AllanDickerman Please make sure this is addressed in the new version of the assembly service.

[2019-02-19 14:33] mshukla1 commented on #1506
I tried geneid and it failed. Please make sure the regex being used can handle such variations. Or, rather, we should not rely on the label provided by the user for the first column at all.

[2019-02-19 14:55] chmao1 commented on #1506
@mshukla1 @aswarren Is it safe to assume the first column is always gene id? If so, we don't need to validate this column header.

[2019-02-19 20:35] #2167 closed, assigned to chmao1

[2019-02-20 17:00] ARWattam opened #2211 "Need Batch service for CGA and other services"
Assembly and CGA batch submissions have been requested by several users.  Probably other services could use them as well.

[2019-02-20 17:19] mshukla1 commented on #2194
I have updated all blast databases. I tried the specific query above and it is working now.

[2019-02-20 17:19] #2194 closed, assigned to mshukla1

[2019-02-20 17:25] chris-c-thomas commented on #2205
@dawenx - I’m not sure what the ideal performance metric is for our situation but obviously faster is better.

Chrome & Firefox DevTools might be a decent place to start since it’ll monitor and return results of the actual end result.

Google provides a lot of speed tools as well.
https://developers.google.com/speed/

PageSpeed Insights will provide load times, scores and other info for given URLs

[2019-02-20 17:29] #2175 closed, assigned to mshukla1

[2019-02-20 17:33] mshukla1 commented on #2128
@hyoo we do have alignment length in blastp or search against genes/proteins. but not against contigs.

Can you check if it is already available in the results returned by the service and, if yes, show it on the website?

[2019-02-20 17:42] mshukla1 commented on #2110
This is the same as genome selection widget for all other apps, none of which show genome id for selected genomes.

We could add genome id in the bracket, just like we have in the genome selector drop down.

However, I suggest that if we make the change, we make it in all apps, and not just BLAST.

In my view, this is nice to have feature, not high priority.

[2019-02-20 17:48] olsonanl commented on #2205
the UX folks are all over the required response times to keep engagement etc. We should pull some absolute numbers from that work as targets.

On Feb 20, 2019, at 11:25 AM, Chris Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@dawenx<https://github.com/dawenx> - I’m not sure what the ideal performance metric is for our situation but obviously faster is better.

Chrome &

[2019-02-20 17:52] mshukla1 commented on #2091
Agree with the list.

Please make the change and deploy when you get a chance.

[2019-02-20 17:58] mshukla1 commented on #1916
The current order of operation is,
1. add genomes to the database in batch mode
2. After all genomes are added for a release, create download files for FTP
3 After all download files are created, create blast databases

Because 1 happens in real time and 2 and 3 happen asynchronously, there is time in between where genome is visible in the BLAST service, but blast database is not ready yet.

To ad

[2019-02-20 17:58] #1916 closed, assigned to mshukla1, hyoo

[2019-02-20 18:01] #1308 closed, assigned to hyoo

[2019-02-20 18:06] mshukla1 commented on #2197
Verified. It is working on alpha now. Thanks.

[2019-02-20 18:06] #2197 closed, assigned to aswarren, mshukla1, dawenx

[2019-02-20 18:08] mshukla1 commented on #2163
All of the data landing pages are now outdated or obsolete.

I am in favor of revamping them to make them more relevant to the current data and content, or getting rid of them.

-Maulik

[2019-02-20 18:56] mshukla1 commented on #649
This issue seems to be resolved with the new website and the updated data.

<img width="497" alt="screen shot 2019-02-20 at 12 56 05 pm" src="https://user-images.githubusercontent.com/1236463/53116748-fd7aab80-350e-11e9-9918-3649b44058a3.png">

[2019-02-20 18:56] #649 closed

[2019-02-21 16:18] rkenyon commented on #2163
We could check Google Analytics on those pages and see if they are getting any significant traffic.  If not, maybe we can retire them.

Ron

From: Maulik Shukla <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Wednesday, February 20, 2019 at 1:08 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.

[2019-02-21 16:20] chris-c-thomas commented on #2163
Would it make sense to revamp the landing pages within Patric Docs?

[2019-02-21 16:22] rkenyon commented on #2163
The information could be put there.  I suppose the links back into the website could as well, but the dynamic content is probably more challenging.

Ron

From: Chris Thomas <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Thursday, February 21, 2019 at 11:21 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: rkenyon <rkenyon@bi.vt.edu

[2019-02-21 16:37] jimdavis1 opened #2212 "Pattyfams should be displayed on genome browser mouse over"
I need the pattyfams for this protein, and i have to do several clicks to get it.
I would like it to be in the mouse over window, there is plenty of realestate here.

![image](https://user-images.githubusercontent.com/7661533/53185427-a1725e80-35c4-11e9-9ea3-14db129a04b5.png)

[2019-02-21 16:37] mshukla1 commented on #2163
I am leaning toward having easy to maintain user guides for data types, instead of having
obsolete data landing pages.

We have major data types currently listed here.
https://docs.patricbrc.org//user_guides/data.html

This list is limited because those are the Only data types we currently have
available from the Top Nav, which is again because those are the only ones for
which we have DLPs.

With

[2019-02-21 16:41] mshukla1 commented on #2163
Just to add, I like them not to have any dynamic content, which hard to maintain and update with continuous data releases.

[2019-02-21 16:43] chris-c-thomas commented on #2163
I think maintaining through the docs site then is definitely the easiest approach. Update through GitHub whenever needed and commit the changes, then reflected automatically once it rebuilds.

[2019-02-21 17:11] rkenyon commented on #2163
I agree with Maulik's suggestion too.  Let's move forward that way.  Chris do you want to take the lead?

[2019-02-21 19:23] jimdavis1 opened #2213 "WHAT VERSION OF MLST ARE WE USING??"
Marcus and I have a list of 1330 staph genomes, less than 100 have an mlst type based on patric.
What version of MLST are we using?  Can we defend this?  Shouldn't staph be one that we support?

It is time to have a conversation about moving the MLST typing pipeline into rasttk.

[test.staph.txt](https://github.com/PATRIC3/patric3_website/files/2890853/test.staph.txt)

[2019-02-21 19:57] mandywil commented on #2189
Hi Andrew, I think if you could provide a list of example identifiers for each of the identifiers in the list (preferably all for the same sequence, though I don't think we implied anything of that kind) or -- even better -- tell me where I can find that information (so I learn :) ), then I can take care of this.
Thanks!

[2019-02-21 20:02] olsonanl commented on #2213
Did you see the response on the other ticket about this?

[2019-02-21 20:18] mshukla1 commented on #2213
Jim,

You asked the same question a week ago and Bob responded to the ticket saying.

“It is a modified-to-run-here version of whatever we inherited from the person who is
no longer with the project. Code at https://github.com/patric3/p3_mlst
Database used is /disks/patric-common/data/mlstdb-2015-1123”

Nothing has changed since then.

Are you asking the same question again with all caps this time

[2019-02-21 21:04] chris-c-thomas commented on #2163
Yes, I'll begin to convert and we can update the content with current information.

[2019-02-22 18:21] jimdavis1 commented on #2207
I genuinely missed Bob's pointer to the github.  I actually forgot that i wrote this previous ticket last week.  I have written a lot of tickets and emails about the MLST tool, and it has been an ongoing issue for several years.

Anyway, for those of you who thing this is a low priority, or a fit of histrionics, it is not.

To get a handle on this, I cloned Torsten Seeman's MLST caller (he's the p

[2019-02-22 18:29] mshukla1 commented on #2207
I am working on updating MLST databases and MLST assignments for all public genomes.

I will have some update by next Tuesday.

-M

On Feb 22, 2019, at 12:21 PM, jimdavis1 <notifications@github.com<mailto:notifications@github.com>> wrote:

I genuinely missed Bob's pointer to the github. I actually forgot that i wrote this previous ticket last week. I have written a lot of tickets and emails about

[2019-02-22 18:33] olsonanl commented on #2207
It's not clear whether this is a code or a database problem. Seeman appears to be using the same pubmlst databases we are. I'd hold the firetrucks back until we see what Maulik's update shows.

I'd also like to reiterate: discussions of such issues are perfect fodder for the Tuesday calls.

[2019-02-22 18:35] rkenyon commented on #2207
I had planned to add it to this coming Tuesday’s agenda, and will do so.

Ron

From: olsonanl <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Friday, February 22, 2019 at 1:33 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: rkenyon <rkenyon@bi.vt.edu>, Mention <mention@noreply.github.com>
Subject: Re: [PATRIC3/patric3_website] Wha

[2019-02-26 14:02] dawenx commented on #2211
I guess it will be an CLI option for batch submission if we choose to support this feature? @olsonanl @mshukla1

[2019-02-26 14:35] mshukla1 commented on #2211
We should try to address CLI functions and batch submission to all services as
One deliverable in one of the future releases (after March), l instead of trying to
do them one service at a time.

-Maulik

On Feb 26, 2019, at 8:02 AM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

I guess it will be an CLI option for batch submission if we choose to support this featur

[2019-03-04 14:36] chmao1 commented on #2208
Fixed.

[2019-03-04 14:36] #2208 closed, assigned to chmao1

[2019-03-04 14:39] chmao1 commented on #2164
Fixed and will be available in the next production build.

[2019-03-05 17:39] jimdavis1 opened #2214 "metadata cleanup idea"
I am currently looking at this genome.
The metadata says that it was assembled with Illumina, but SRA says MinION.
The assembly method is unicycler, which I believe is a long read assembler.
If many mistakes like this exist, we should consider looking for incongruous assembler/platform pairs, or try pulling the platform from SRA and double checking

https://www.patricbrc.org/view/GenomeList/?keywo

[2019-03-05 23:41] olsonanl opened #2215 "Bad sharing data, can't fix"
My workspace /olson@patricbrc.org/test  has a sharing value of "undefined" for brettin. The sharing editor crashes on this.

![image](https://user-images.githubusercontent.com/2152226/53845205-e35cb680-3f6d-11e9-94f7-b14fe22d9096.png)

![image](https://user-images.githubusercontent.com/2152226/53845161-c1633400-3f6d-11e9-9787-ea3e5a857510.png)

[2019-03-05 23:58] nconrad commented on #2215
@olsonanl so, I can address this, but it looks like this may be from that workspace "." corrupted data issue that was fixed a long time ago?

[code]

[2019-03-06 00:39] olsonanl commented on #2215
Could be ..  looks like it. the GUI shouldn't' crash tho

________________________________
From: nconrad <notifications@github.com>
Sent: Tuesday, March 5, 2019 5:58 PM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Mention
Subject: Re: [PATRIC3/patric3_website] Bad sharing data, can't fix (#2215)

@olsonanl<https://github.com/olsonanl> so, I can address this, but it looks like this may be from

[2019-03-06 00:50] nconrad commented on #2215
*stares*.  That's not "crashing".  It's just "not working" because the service isn't returning what it should, which is a string with "a", "r", "n", "w".  The service should return valid data.  :)

[2019-03-06 00:53] olsonanl commented on #2215
tomato tomahto, or

Postel's law.

________________________________
From: nconrad <notifications@github.com>
Sent: Tuesday, March 5, 2019 6:50 PM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Mention
Subject: Re: [PATRIC3/patric3_website] Bad sharing data, can't fix (#2215)

stares. That's not "crashing". It's just "not working" because the service isn't returning what it should, which is a st

[2019-03-06 16:04] chmao1 commented on #1506
I fixed it. Both gene list and gene matrix tables require the first column to be "Gene IDs", however, the program fails when users give different column header such as "gene", "accession id" etc to indicate gene ids. To handle this (based on Maulik's suggestion), the new fix assumes that the first column always indicates gene_id and ignores the user column header. I made the pull request. @aswarre

[2019-03-08 09:55] ARWattam opened #2216 "RNA-seq job results page - if you go forward, and then use back arrow, the browser icon disappears in upper right corner"

[2019-03-08 09:58] ARWattam opened #2217 "Phylogenetic tree job - tree icon view in upper right (not in green bar) does not work"
I get several user complaints about this, as they click on it and it goes nowhere.
<img width="1074" alt="screen shot 2019-03-08 at 10 56 59 am" src="https://user-images.githubusercontent.com/11475316/54021670-f9968c80-4190-11e9-9847-e88ea3fee93a.png">
<img width="1440" alt="screen shot 2019-03-08 at 10 57 44 am" src="https://user-images.githubusercontent.com/11475316/54021710-0adf9900-4191-11e9-9

[2019-03-11 13:53] aswarren opened #2218 "What the hell is wrong with the Tree Viewer?"
Commonly in the workshops, Rebecca goes into the details of FigTree and says the tree viewer in PATRIC is not publication quality.
This isn't technically true. It is SVG.
This thread is to make a list of what is wrong with it, so we can fix it.
So far we have:
The colors are bad.
The ability to change mid-rooting, to out-group rooting.
Correct rendering of the rooting.
Changing the style of font.

[2019-03-11 21:46] #2125 closed, assigned to nconrad

[2019-03-14 12:50] jimdavis1 opened #2219 "Harry: No feature core data for shared genome"
Aaron Best shared this genome with me.  None of the data from the feature core will load.  This is true of ~100 other genomes that he sent me.

![image](https://user-images.githubusercontent.com/7661533/54358114-9643a900-462d-11e9-8c18-77d9f8ade163.png)

here are contigs for this genome.  You can see these:
![image](https://user-images.githubusercontent.com/7661533/54358216-c9863800-462d-11e9-95b5

[2019-03-14 13:11] mshukla1 commented on #2219
I checked the database. It seems update operation did not complete as expected.

I have re-shared these genomes with you. You should be able too see them now.

@harry, can you check the Solr log and see if there were any errors?

-Maulik

On Mar 14, 2019, at 7:50 AM, jimdavis1 <notifications@github.com<mailto:notifications@github.com>> wrote:

Aaron Best shared this genome with me. None of the dat

[2019-03-14 15:06] rkenyon commented on #1361
Done:
https://docs.patricbrc.org/user_guides/workspaces/private_genomes.html
Also created Jobs User Guide:
https://docs.patricbrc.org/user_guides/workspaces/jobs.html

[2019-03-14 15:06] #1361 closed, assigned to rkenyon

[2019-03-18 13:03] mshukla1 commented on #2217
This seems to be working now for my trees after the latest fix by @dawenx.

@ARWattam Can you please verify it is working for you?

[2019-03-18 13:11] mshukla1 opened #2220 "Sharing private genomes"
We keep getting queries from the users that they shared their workspace with their collaborators, but they still can't access the private genomes in the shared workspace.

The problem is that users don't know that they need to share the genomes separately, in addition to sharing workspace.

I understand that automatically sharing genomes when a workspace is shared is complicated.

As an intermedia

[2019-03-18 13:12] dawenx commented on #2217
this duplicates #2197 and the fixed was deployed to alpha a while ago. @hyoo do you know when it was deployed to production? before or after 03/07?

[2019-03-18 13:22] dawenx commented on #2214
I'm not sure whether opening a ticket here is the best approach for a discussion like this. maybe we should discuss this in data meeting first, then come up with concrete items so that we can assign them to different people, just my 2-cent. @mshukla1 please review.

[2019-03-18 13:27] dawenx commented on #2216
@ARWattam can you use an experiment in public workspace to take 2 screenshots on the problem you reported? thanks!

[2019-03-18 15:28] olsonanl opened #2221 "trnascan breaks on input with ^M"
Carriage returns break parsing in trnascan.

We should canonicalize the data at upload time.

[2019-03-18 19:59] nconrad commented on #2220
@mshukla1 Good plan.

Maybe this would be effective enough?  Having a popup may be a little obtrusive for some.

![image](https://user-images.githubusercontent.com/1194246/54559508-35e69b80-498e-11e9-9830-993bab26c168.png)

[2019-03-18 20:02] mshukla1 commented on #2220
I was thinking it would be a message in the same share workspace window, after you hit same button
….leading to next action user needs to perform.

In the same window, you can have “OK” or “CLOSE” button, as a way for user to acknowledge that
They have read the instruction.

-Maulik

On Mar 18, 2019, at 2:59 PM, nconrad <notifications@github.com<mailto:notifications@github.com>> wrote:

@mshukla1<

[2019-03-18 20:11] nconrad commented on #2220
I understand what you are saying.  @chris-c-thomas and I think we should at least start with this notice strategy because it makes it known what you are doing before you do it and the user doesn't have to deal with an additional step.   It's just cleaner, and not everybody will be sharing genomes, I would think.

[2019-03-18 20:13] mshukla1 commented on #2220
Fine. Something is better than nothing. Can you work on it and get it deployed it on alpha soon?

-M

On Mar 18, 2019, at 3:11 PM, nconrad <notifications@github.com<mailto:notifications@github.com>> wrote:

I understand what you are saying. @chris-c-thomas<https://github.com/chris-c-thomas> and I think we should at least start with this notice strategy because it makes it's it known what you are d

[2019-03-18 20:24] nconrad commented on #2220
Sure, I just made a PR for it.  It will be an experiment on user behavior.  :) . We could give it a few weeks and go with what you are saying if needed.

[2019-03-18 20:46] rkenyon opened #2222 "Implement compliance with EU GDPR"
The new EU GDPR privacy laws require that people must opt in to be on mailing lists, rather than being automatically added.  They must also be able to opt out at any time.  For PATRIC, probably the best way to do this is

1. Add a field in the user database for an opt-in flag
2. Set all records to false for this field
3. Add a note and checkbox in login box and registration form allowing users to

[2019-03-18 20:50] chris-c-thomas commented on #2222
Adding @hyoo for visibility.

[2019-03-19 19:51] nconrad opened #2223 "Add user guide describing genome quality criteria"
This was brought up by Rebecca on the sys call.

[2019-03-19 21:59] chris-c-thomas commented on #2222
Closing and opening a new ticket, apologies.

[2019-03-19 21:59] #2222 closed, assigned to hyoo, chris-c-thomas

[2019-03-19 22:27] chris-c-thomas commented on #2223
@mshukla1 if you're writing this do you want to pass it along to me when you're done so I can convert it to reStructuredText unless you know how to write it in that?

[2019-03-20 14:10] chris-c-thomas opened #2224 "PATRIC RSS Feed"
On accident, I cicked the RSS feed link on our homepage footer and realized a few things:

1. The feed is only generating the newest 3 articles posted to our News blog. While this is acceptable for a docs site landing page, where the backlog is archived and can be still be accessed, the generated RSS feed should contain all of our articles. The user's aggregator will handle filtering, sorting, etc

[2019-03-20 17:31] dmachi commented on #2223
Test @ARWattem, you don' tneed to do anything Rebecca.

[2019-03-22 14:55] chris-c-thomas commented on #2223
Or is @ARWattam or @rkenyon writing this?

[2019-03-22 14:56] ARWattam commented on #2223
I am not writing anything, nor do I particularly understand what is going on.

[2019-03-22 15:00] mshukla1 commented on #2223
I will write it and pass it to Chris.

Sent from my iPhone

On Mar 22, 2019, at 9:56 AM, ARWattam <notifications@github.com<mailto:notifications@github.com>> wrote:

I am not writing anything, nor do I particularly understand what is going on.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/PATRIC3/patric3_website/issues/2223

[2019-03-22 15:03] chris-c-thomas commented on #2223
Sounds good.

[2019-03-22 15:06] ARWattam commented on #2223
Oh wait, now I understand what is going on.  Sorry.  I do think that Maulik is the best to write that, but I was only seeing messages that this was a test message.  I will help in any way that I can.  I didn't mean to sound obstreperous  and I do understand what is going on...to some degree.

[2019-03-22 19:45] chris-c-thomas opened #2225 "Docs Site - Image Sizing and Image Alt Tags Displaying"
We've currently run into an issue where images in our documentation are being streched or too large. This could be due to possible reasons such as capturing screenshots on Retina screens or the RTD Theme used has been updated and changed the way it handled image sizes.

Current approach is to make sure to upload images at correct sizes, even if that means downsizing them after screencapture, as we

[2019-03-22 20:23] chris-c-thomas opened #2226 "EU GDPR Compliance Implementation"
*coming soon*

[2019-03-25 14:41] mshukla1 opened #2227 "Make CLI dmg more accessible"
Below is the original request from Jim and my response to it.

URL: https://www.patricbrc.org/app/IDMapper
User ID: jdassembly
Email: jjdavis.phd+assembly@gmail.com

It would be really nice if you could download the PATRIC DMG from one of
the dropdown menus on the home page.

[2019-03-25 14:42] mshukla1 commented on #2227
I am in favor of providing more direct / visible link to CLI documentation from the top menu.

However, in my view, github is a better place for providing latest downloadable version of CLI and providing version history/change log etc. It is standard for making software available to public.

Besides, there are multiple flavors of the CLI package for different platforms, i.e. .dmg, deb, exe, source

[2019-03-25 16:05] mshukla1 commented on #2171
Also, form the subsystem genes tab, If I select records from the table and click download in the action bar, nothing happens.

-Maulik

[2019-03-25 16:31] dawenx opened #2228 "tree service UI (on alpha) padding bug"
This was introduced when adding codon service. To produce it, choose any genome group and click on '+add'.
<img width="1045" alt="Screen Shot 2019-03-25 at 12 28 13 PM" src="https://user-images.githubusercontent.com/26723038/54936947-e6f2b600-4ef9-11e9-9dbe-a655e23cd7d9.png">

[2019-03-25 16:33] dawenx commented on #2228
declaimer: this bug was caused by @dawenx and @chris-c-thomas gladly takes the challenge to fix it.

[2019-03-25 20:07] chris-c-thomas commented on #2228
Initial thoughts are extra padding in the input field but will confirm and fix.

[2019-03-26 01:14] chris-c-thomas commented on #2228
@dawenx off the top of you head do you know any other forms or menus that this might occur? I feel it might not be an isolated incident.

[2019-03-26 15:51] ARWattam opened #2229 "SRA extensions not working for Metagenomic REad mapping"
I think that something is wrong when using SRA extensions for metagenomic read mapping.  All of the jobs I submitted failed with the same file that I used for taxonomic classification, with this error message: Errors found in parameter processing:
    Required parameter Input Type (input_type) missing
<img width="1731" alt="Screen Shot 2019-03-26 at 11 48 58 AM" src="https://user-images.githubuser

[2019-03-26 16:00] nconrad commented on #2228
@chris-c-thomas this shouldn't be an issue in other forms.  But, it is, in part, why we need to migrate to using some single "selectedTable" widget for every form.

[2019-03-26 17:16] dawenx commented on #2229
we are aware of multiple issues in the back-end, will let you know when this service is ready for testing. thanks! @AllanDickerman

[2019-03-26 17:26] dawenx commented on #2228
@nconrad you have a good point. i was trying to use "selectedTable" initially and i really like the feature to be able to remove a single genome from selection.

it looks like we need to expand selectedTable's functionality if we want to support a case like this: e.g., have a way to show a group of genomes only in a row. the problem here is a user could choose lots of genomes and showing one genom

[2019-03-26 18:16] nconrad commented on #2228
@dawenx Right.  Some minor changes may be needed to support every use case.  But, I don't think it's much, because that widget should already be able to accept data that isn't rendered, like

[code]

or such.

Then, something like
[code]
 is all the ids.
 [I've been writing haskell lately :)]

[2019-03-27 18:10] ARWattam opened #2230 "Variation service missing amino acid information"
[DH5alpha SNP analysis.xlsx](https://github.com/PATRIC3/patric3_website/files/3014686/DH5alpha.SNP.analysis.xlsx)
This large analysis has many read files compared to the reference, and
while I can see in the downloadable file that there are synonymous and
nonsynonymous changes, the amino acid columns do not show any differences
(and they should for the nonsynonymous). Also, I am concerned that all

[2019-03-27 19:20] Tinyman392 opened #2231 "Proteome Comparison Too Many Genomes Error"
So when trying to add a genome group with exactly 9 genomes, it shows no error and does nothing (no error).  An error should be displayed, text should also reflect this as it says select up to 9 genomes for comparison, should probably say 8.

[2019-03-29 14:37] nconrad commented on #2215
<img width="717" alt="Screen Shot 2019-03-18 at 12 38 52 PM" src="https://user-images.githubusercontent.com/1194246/55240162-368cf680-5206-11e9-92a2-31e93fa4d06b.png">

[2019-03-29 14:40] nconrad commented on #1877
This is fixed on prod.

[2019-03-29 14:40] #1877 closed, assigned to nconrad

[2019-03-29 15:05] ARWattam opened #2232 "Downloading Feature group does not download all features."
I have a feature group with 64 features, but when I try and download it, excel only shows 24 features.
<img width="1440" alt="See group has 64 features" src="https://user-images.githubusercontent.com/11475316/55241858-680bbf00-5212-11e9-907b-6574658e3229.png">
<img width="1440" alt="Clicking download to get info on 64 features" src="https://user-images.githubusercontent.com/11475316/55241866-6b9f4

[2019-03-29 15:26] ARWattam commented on #2232
I was trying to download 2 feature groups in succession and it keeps giving me the first one over and over again.

[2019-03-29 16:51] nconrad commented on #2180
yeah, maybe this was some sort of transient issue.  I copied that "- APS ref" file to my home, renamed it, and the view button still seems to work fine.

[2019-03-31 19:49] dawenx commented on #2231
I did not implement this, but I checked the codes, yeah, looks like the logic in UI supports up to 8 genomes. Do you want me to update the text on the UI? Or change the logic to support up to 9 genomes. @Tinyman392

[2019-03-31 19:51] dawenx commented on #2230
@mshukla1 I don't have insight on this issue, can you assign it to relevant people?

[2019-03-31 19:54] dawenx commented on #2228
@chris-c-thomas any progress on this? i can take this issue back on Monday PM if needed. but this should be a good practice for you to try out p3_web bug fixing process. :)

[2019-04-01 13:16] dawenx commented on #2229
@olsonanl please remove "input_type" from JSON specification as well. can we give this service a push today/tomorrow as we planned to include it in coming release.

[2019-04-01 20:51] rkenyon opened #2233 "Create Taxonomic Classification Service for metagenomes"
Build and validate a Kraken database for a representative set of PATRIC genomes. Kraken is a rapid k-mer-based tool for identifying the taxonomy for reads in a metagenome.

See Project: https://github.com/PATRIC3/patric3_website/projects/4

[2019-04-01 21:46] olsonanl commented on #2229
This is fixed with an update to the backend.

[2019-04-01 21:46] #2229 closed, assigned to olsonanl, AllanDickerman

[2019-04-01 21:47] olsonanl commented on #2227
I don't have a strong opinion. If we can add a useful page to the website that we can trivially update with new versions, that'd be best. @hyoo Harry ?

[2019-04-02 00:12] hyoo commented on #2227
I interpret the user request as "It is difficult to find the link to the installable file".

From the CLI button on the homepage, the link goes to https://docs.patricbrc.org/cli_tutorial/

and usually people would expect to see a big download button, like below,

[cid:DC4124CC-DFEF-4631-A7D1-D65F9636FBD4@hsd1.il.comcast.net.]

Our link to the release page (or download page) is a text.

[cid:8E4CA1

[2019-04-02 00:18] chris-c-thomas commented on #2227
I think @hyoo's approach makes sense given that's how many users are used to downloading programs. A download button for the most recent release as well as "other platforms" or "previous releases" type links for that?

A direct download for the most recent release in the header menu might be worthwhile or at least link it to this spot with the big download button? I see the redundancy as beneficia

[2019-04-02 13:27] dawenx commented on #2231
@chmao1 can you comment? thanks!

[2019-04-02 13:59] ARWattam commented on #2231
I will comment.  I think that you should update the text.  It is confusing, and even I make the mistake when I read it.

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Tuesday, April 2, 2019 at 9:27 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PATRIC3/pat

[2019-04-02 14:17] ARWattam commented on #2231
Actually, Chunhong and I just looked at this.  You can have 9 comparison genomes to one reference when you add them individually.  This is actually a bug where the genome group with 8 genomes is accepted, and one with 9 genomes isn’t.  So that is what needs to be changed.  Not the text.

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Tue

[2019-04-02 15:09] dawenx commented on #2228
verified on alpha

[2019-04-02 16:06] nconrad opened #2234 "right click in firefox"
@chris-c-thomas discovered that right clicking on links in Firefox results in url navigation.  When listening on the document, Firefox fires a click event, regardless of the button clicked.  So, any link with ".navigationLink"/".navigationLinkOut" classes are affected.

[2019-04-02 16:09] #2193 closed, assigned to dawenx

[2019-04-02 16:10] #2204 closed, assigned to dawenx

[2019-04-02 16:10] dawenx commented on #2200
verified on production.

[2019-04-02 16:10] #2200 closed, assigned to dawenx

[2019-04-02 16:11] dawenx commented on #2199
verified on production.

[2019-04-02 16:11] #2199 closed, assigned to dawenx

[2019-04-02 16:15] dawenx commented on #2217
close this ticket as the fix for #2197 is on production. @ARWattam please re-open this if needed and provide an example.

[2019-04-02 16:15] #2217 closed, assigned to dawenx

[2019-04-02 16:18] dawenx commented on #2131
@nconrad since i' switched to use button when i added Codon Tree method, i think this problem is fixed. i also took your suggestion to show "loading..." info.

please verify on alpha. thanks.

[2019-04-02 16:21] dawenx commented on #2156
@mshukla1 can you comment on what i wrote above? i will work on it once i know it's OK with you.

[2019-04-02 16:21] dawenx commented on #2180
should we close this issue then?

[2019-04-02 16:24] dawenx commented on #2179
@chris-c-thomas now that you made a pass on fixing a bug #2228, it's time to roll on more issues :)

[2019-04-02 16:29] chris-c-thomas commented on #2131
My only comment is that I noticed it shows loading when you click add even if it's not actually loading anything.

[2019-04-02 18:58] dawenx commented on #2131
what do you mean by "even if it's not actually loading anything"? i believe i turn on "loading..." after user chooses to add a genome group and we are loading data from workspace in the background.

[2019-04-03 15:05] chmao1 commented on #2230
Fixed and available in production.

[2019-04-03 15:07] chris-c-thomas commented on #2131
If I click "add", even if I haven't selected anything, it display's "loading..."

![Screen Shot 2019-04-03 at 10 04 14 AM](https://user-images.githubusercontent.com/22353987/55489829-4dfa2400-55f8-11e9-872f-e076b43a02c0.png)

The add button above this one does not act that way.

[2019-04-03 15:13] dawenx commented on #2131
that's a good catch @chris-c-thomas i should have included this in my testing, will fix it

[2019-04-03 15:27] #2215 closed, assigned to nconrad

[2019-04-03 15:27] #2232 closed, assigned to nconrad

[2019-04-03 16:47] mshukla1 commented on #2207
All MLST databases have been updated in February, 2019 and deployed in the annotation pipeline.

MLST assignments for all public genomes have also been updated.

[2019-04-03 16:47] #2207 closed, assigned to mshukla1, olsonanl

[2019-04-03 16:59] mshukla1 commented on #670
Our naming scheme is slight deviation from the simple naming, i.e. ST-XXXX, but it is necessary as it helps us address the following issues without having the need to have multiple fields to capture all MLST related information, which would be even more confusing for the users.

All of the MLST databases used in PATRIC come from PubMLST. There are multiple MLST databases / typing schemes for some

[2019-04-03 16:59] #670 closed

[2019-04-03 17:00] mshukla1 commented on #2213
All MLST databases have been updated in February, 2019 and deployed in the annotation pipeline.

MLST assignments for all public genomes have also been updated.

[2019-04-03 17:00] #2213 closed, assigned to nobody

[2019-04-03 17:08] #2084 closed, assigned to mshukla1, hyoo

[2019-04-03 17:08] mshukla1 commented on #2084
<img width="1366" alt="Screen Shot 2019-04-03 at 12 07 33 PM" src="https://user-images.githubusercontent.com/1236463/55498424-324b4980-5609-11e9-9beb-1af4261f03ab.png">

[2019-04-03 17:58] #2164 closed, assigned to chmao1

[2019-04-03 18:13] chmao1 commented on #2187
Fixed and waiting for the deployment in the production

[2019-04-03 18:14] chmao1 commented on #1506
Fixed and waiting for the deployment in production

[2019-04-03 19:35] mshukla1 commented on #1881
Host data has been cleaned up recently, which has taken care of such cases.

We maintain list of synonyms for host names and have scripts to automatically clean them up periodically. We run it for every bi-monthly data release now.

-Maulik

[2019-04-03 19:35] #1881 closed, assigned to mshukla1

[2019-04-04 01:09] mshukla1 opened #2235 "Jobs list: incorrect counts for job status"
Neal,

There are inconsistencies in the job status in the job list and the job status counts displayed above the list. Look at the screenshot below from one of the users. He has five failed jobs. However, above the job lists it says 5 completed and 0 failed. The same goes for the job status in the bottom right corner.

Please see if you can resolve this for March Release.

-Maulik

<img width="167

[2019-04-04 01:22] chris-c-thomas opened #2236 "Responsive Homepage Footer"
PATRIC is not officially meant to be supported on mobile/tablet browsers. However, I would like to make the homepage footer responsive so that it does not break the layout on people trying to look up information from their other devices.

The style and structure will be similiar to the current one. Just making this ticket for reference as it's almost done.

[2019-04-04 01:23] nconrad commented on #2235
This is a duplicate of https://github.com/PATRIC3/patric3_website/issues/2060 .  @olsonanl any chance of fixing the count returned by `AppService.query_task_summary`?  It's been reported a few times now.

[2019-04-04 10:46] #2228 closed, assigned to chris-c-thomas

[2019-04-04 16:38] chmao1 commented on #1506
The fix is available in the production website.

[2019-04-04 16:38] #2230 closed, assigned to chmao1

[2019-04-04 16:39] chmao1 commented on #2231
Fixed and will be available in the next build.

[2019-04-04 16:40] chmao1 commented on #2187
The fix is available in production.

[2019-04-04 16:40] #2187 closed, assigned to chmao1

[2019-04-04 16:41] #1506 closed, assigned to chmao1

[2019-04-05 17:54] mshukla1 commented on #2095
We got a complain from a user Today that he is not able to select contrasts when using Rockhopper strategy.

I tried it myself, the conditions are not available for selection in the contrast panel, I can't bypass contrast selection step, and the submit button is never enabled.

Given all that, How does one submit a job with Rockhopper.

This needs to be addressed ASAP.

-Maulik

[2019-04-05 20:29] olsonanl commented on #2201
This is fixed in a2860ab33fb5a277e1377f33e95d90617e32973b and will deployed shortly.

[2019-04-05 20:29] #2201 closed, assigned to olsonanl

[2019-04-05 22:11] #2195 closed, assigned to nconrad

[2019-04-06 22:52] mshukla1 commented on #2018
SRA accession is already supported in RNA-seq service now. Closing the ticket.

<img width="366" alt="Screen Shot 2019-04-06 at 5 51 45 PM" src="https://user-images.githubusercontent.com/1236463/55676189-c2e98a00-5894-11e9-8760-df86aff42981.png">

[2019-04-06 22:52] #2018 closed, assigned to aswarren, dawenx

[2019-04-06 23:45] #2178 closed, assigned to mshukla1

[2019-04-07 11:23] #2219 closed, assigned to hyoo

[2019-04-07 15:12] mshukla1 commented on #2072
PMIDs have been added to most of the AMR data gathered from publications.

There are a small number of records missing PMIDs, which will be added soon.

<img width="1362" alt="Screen Shot 2019-04-07 at 10 12 22 AM" src="https://user-images.githubusercontent.com/1236463/55685580-a8a7be80-591d-11e9-8321-46e846598908.png">

[2019-04-07 15:12] #2072 closed, assigned to mshukla1

[2019-04-07 15:14] #1551 closed, assigned to mshukla1

[2019-04-07 15:30] mshukla1 commented on #2151
Done. I have cleaned up data for all public genomes in the database. Now, any genome that has AMR data from laboratory method has antimicrobial_resistance_envidence = AMR Panel.

[2019-04-07 15:30] #2151 closed, assigned to mshukla1

[2019-04-07 15:34] mshukla1 commented on #1833
This has been addressed with the recent changes to the solr genome_amr core and related changes to the AMR phenotype table on the website.

We have added new fields for
evidence
pmid
computational method
computational method version
computational method performance.

The data related to predictions have been table out from laboratory method * fields and populated in computational method related fi

[2019-04-07 15:34] #1833 closed, assigned to mshukla1

[2019-04-07 15:47] mshukla1 commented on #1549
@hyoo

For some reason, classifier score and classifier round are not displayed in the table, evern after adding those columns. I suspect it is because data API doesn't return those fields. Can you check and fix it ASAP?

Below is the URL for a genome that has such data.

https://patricbrc.org/view/Genome/1313.15745#view_tab=features&filter=and(eq(feature_type,classifier_predicted_region),eq(annot

[2019-04-08 12:53] #1879 closed, assigned to levinas

[2019-04-08 16:17] olsonanl commented on #2221
This is in reference to job 1ba67aa3-08df-4c06-afda-4fe1ad7a588f

[code]

[2019-04-08 16:35] #2057 closed, assigned to nobody

[2019-04-08 16:35] #2058 closed, assigned to nobody

[2019-04-08 16:44] mshukla1 commented on #1903
@olsonanl @hyoo

Has this been updated? Can I close the ticket?

[2019-04-08 16:45] mshukla1 commented on #1887
@hyoo

You might want to take care of this, along with the subscribe/unsubscibe support in the registration and update user info forms.

[2019-04-08 17:19] nconrad commented on #1999
Although other issues remain, the reported issue was fixed, so i'm closing this.

[2019-04-08 17:19] #1999 closed, assigned to dmachi

[2019-04-08 17:22] nconrad commented on #2044
I don't think any of these pages exist on patricbrc atm, so i'm closing.

[2019-04-08 17:22] #2044 closed, assigned to chris-c-thomas

[2019-04-08 17:51] olsonanl commented on #1903
/disks/patric-common/runtime/node-v8.10.0 exists and I think Harry uses it

[2019-04-08 17:51] #1903 closed, assigned to olsonanl

[2019-04-08 18:57] olsonanl commented on #2221
Fixed in https://github.com/olsonanl/app_service/commit/8e58974f7fc94adfa97363cd993f11316a462484 by incorporating stricter parser.

[2019-04-08 18:57] #2221 closed, assigned to olsonanl

[2019-04-08 19:07] olsonanl commented on #2160
Added in version 1.26 of FigKernelScripts/rast_export_genome.pl in CVS; will propagate to github on next SEED code update.

[2019-04-08 19:07] #2160 closed, assigned to olsonanl

[2019-04-08 19:10] olsonanl commented on #2154
This is an internal data file in a format that the RASTtk  / quality analysis code expects to be there. It's not clear how adding headers will help. It's content is encoded in the quality data in the genome report HTML file.

[2019-04-08 19:14] olsonanl commented on #2098
We can place a genome group into the job output folder. If it's useful, we could hoist the visualization of that group to an icon in the job window (like the Tree view one does in the other apps). We should think about the generalization of this functionality though.

[2019-04-08 19:58] mshukla1 commented on #2214
we get sequencing platform, assembly method, and sequence coverage information straight out of the GenBank records or metadata files curated by us from publications. In either case, this is as provided by the original submitter, which may help identify source of poor assemblies at some point in future.  We have never applied any additional review or curation for these fields.

I understand that so

[2019-04-08 19:58] #2214 closed, assigned to mshukla1

[2019-04-08 20:13] mshukla1 commented on #2090
The filters have been added.

<img width="1363" alt="Screen Shot 2019-04-08 at 3 12 26 PM" src="https://user-images.githubusercontent.com/1236463/55753787-c99d0c00-5a10-11e9-8a4b-3ed43021c602.png">

[2019-04-08 20:13] #2090 closed, assigned to mshukla1, chris-c-thomas

[2019-04-08 20:48] mshukla1 commented on #1822
All pseudogenes in PATRIC annotations come from the Classic RAST days, i.e. before 2014. Only first 20k genomes were annotated using classic RAST.

RAST never annotated pseudogenes. Because in PATRIC1 we cared about pseudogenes, we asked RAST team to specifically call them for PATRIC in classic RAST as an additional step. The pseudogenes were added on top of the other predicted genes, resulting in

[2019-04-08 21:01] mshukla1 commented on #1549
@hyoo has updated the data API and UI. Classifier score and rank are displayed now. I have verified it on the production site.

<img width="1365" alt="Screen Shot 2019-04-08 at 4 00 37 PM" src="https://user-images.githubusercontent.com/1236463/55756627-990ca080-5a17-11e9-97ae-15d25c4a77c6.png">

[2019-04-08 21:01] #1549 closed, assigned to mshukla1, hyoo, jimdavis1

[2019-04-08 21:12] mshukla1 commented on #1993
I think this was fixed a while back. We have different colors for genes in subsystems or not.

<img width="1164" alt="Screen Shot 2019-04-08 at 4 04 51 PM" src="https://user-images.githubusercontent.com/1236463/55756865-29e37c00-5a18-11e9-9b28-d00021e41602.png">

[2019-04-08 21:12] #1993 closed, assigned to nobody

[2019-04-09 13:29] mshukla1 commented on #141
@olsonanl From the previous comments, it seems you had a working prototype of job status notification working in 2015. Is it correct?

Is this something that can be rolled out with the release of the new scheduler in May?

[2019-04-09 13:37] mshukla1 commented on #490
@hyoo

As we are setting up SolrCloud, we should see if we can solve this sorting issue for the download files.

-M

[2019-04-09 14:31] olsonanl commented on #246
Good timing; I'm also taking on the issue of genes annotated across annotation gaps. Genes truncated across contig ends are related. What I'm probably going to do is populate the partial start / partial stop fields that are in genome object. We'll need to figure out what to do with this data on the website.

[2019-04-09 17:21] ARWattam opened #2237 "Codon trees html report shows time in seconds"
Shouldn't it be hours and minutes?
<img width="1107" alt="Screen Shot 2019-04-09 at 1 20 10 PM" src="https://user-images.githubusercontent.com/11475316/55820986-666fb000-5aca-11e9-8853-5617c9a4fdfb.png">

[2019-04-09 22:49] #2220 closed, assigned to nconrad

[2019-04-09 22:57] nconrad commented on #2169
This is fixed on prod.  The limit is 25000 now.

[2019-04-09 22:57] #2169 closed, assigned to nconrad

[2019-04-09 23:12] nconrad commented on #1598
Obsolete

[2019-04-09 23:12] #1598 closed, assigned to nconrad

[2019-04-10 00:03] olsonanl commented on #1788
This is fixed with the translate_untranslated_proteins pipeline step. Will resolve when this becomes production.

[2019-04-10 12:55] dawenx commented on #2131
can we close this issue? your concerns had been addressed in tree service UI. @nconrad

notes: proteome comparison service was not updated for this and there might be similar issue for other services.

[2019-04-10 12:58] dawenx commented on #1810
@nconrad i'm going through issues. i remember you implemented a few rounds of improvement on this part of UI, is this issue addressed? if so, can we close it?

[2019-04-10 13:00] dawenx commented on #2180
plan to close this issue on this friday, let me know if you don't agree.

[2019-04-10 13:20] dawenx commented on #2110
i took a quick look on this today. this was done at service level as it's individual service's "preference" on how to generate text for selected genome.

i can go ahead to add "genome_id" to BLAST service, but addressing this for all services requires a solid pass on every service that uses GenomeNameSelector widget. please advice on how to proceed.

[2019-04-10 14:03] rkenyon opened #2238 "Need to update user guides"
- [x] Add Results section to Genome Assembly Service
- [x] Add more detailed description and screenshot of html output file to Genome Annotation Service
- [x] Add visualization information to Proteome Comparison Service user guide
- [x] Add Results section to BLAST Service
- [x] Add Results section to Similar Genome Finder Service
- [x] Add Results section to Variation Analysis Service
- [x] Add R

[2019-04-10 14:19] nconrad commented on #2131
sure.

[2019-04-10 14:19] #2131 closed, assigned to dawenx

[2019-04-10 14:22] nconrad commented on #1810
yeah, this should be fixed.  I left it open probably because it could be better.

[2019-04-10 14:22] #1810 closed, assigned to nconrad

[2019-04-10 14:24] chris-c-thomas commented on #2238
@rkenyon what do you mean by the first one? Which title?

[2019-04-10 14:26] dawenx commented on #1904
close this issue since the duplicate one, i.e., #1810, was closed.

[2019-04-10 14:26] #1904 closed, assigned to dawenx

[2019-04-10 14:30] nconrad commented on #2132
This was added.

[2019-04-10 14:30] #2132 closed, assigned to nconrad

[2019-04-10 14:34] nconrad commented on #2113
This was fully fixed awhile back.   Also, the debugging panel no longer has the option to 'show hidden'.
![image](https://user-images.githubusercontent.com/1194246/55887697-94f59580-5b73-11e9-9ad7-6a2fe4e73f8e.png)

[2019-04-10 14:34] #2113 closed, assigned to nconrad

[2019-04-10 14:44] ARWattam opened #2239 "Proteome Comparison download table needs to be sorted on second column (ref_genome_gene)"
I'm not sure what the order is determined by, but its all over the place and it should be sorted by the gene order in the reference genome

[2019-04-10 14:50] nconrad commented on #2073
@jimdavis1 I'm trying to understand the problem.  Could you provide a specific flow where the columns have changed to help understand this?

I noticed that clicking the PATRIC logo will result in full page refresh, which would delete the columns state from memory...

[2019-04-10 14:57] nconrad commented on #398
I'm happy to say you can delete jobs now.  Thanks to Bob.

[2019-04-10 15:33] mshukla1 commented on #398
@nconrad

How?

I know I can kill a job that is queued or running. However, I still can't delete a already completed job from my jobs list...and corresponding results, assuming they are still in the same place as originally specified output folder.

[2019-04-10 15:39] mshukla1 commented on #2239
@chmao1

In order to get desired order, you need to sort the table on

ref_genome_contig (i.e. accession) + ref_genome_start

-M

[2019-04-10 15:43] nconrad commented on #398
@mshukla1 Doh, yes, you are right.

[2019-04-10 16:26] dawenx commented on #1906
close this issue since the duplicate one, i.e., #1810, was closed.

[2019-04-10 16:26] #1906 closed, assigned to dawenx

[2019-04-10 17:04] dawenx commented on #2017
@olsonanl do you think the back-end of metagenomic binning service is able to support SRA run input submitted from its UI? if so, i can work on the UI; if not, let's add "wontfix" label or something like that and close this ticket.

[2019-04-10 17:05] dawenx commented on #2019
@aswarren do you think the back-end can support SRA? if not, are you planning to support it?

[2019-04-10 17:06] #1776 closed, assigned to dawenx

[2019-04-10 19:43] nconrad opened #2240 "long tutorial titles"
I'm wondering if the "at/in PATRIC" in the titles are needed?

![image](https://user-images.githubusercontent.com/1194246/55908354-cf285c80-5b9e-11e9-950a-e29a6385345e.png)

[2019-04-10 19:49] chris-c-thomas commented on #2240
Easily removable if we want. I had actually removed a bunch from the patric header menu dropdown as it seemed redundant.

[2019-04-10 19:53] mshukla1 commented on #2240
Chris,

Dropped from PATRIC header menu dropdown? Can you give an example, so I understand?

On Apr 10, 2019, at 2:49 PM, Chris Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

Easily removable if we want. I had actually removed a bunch from the patric header menu dropdown as it seemed redundant.

—
You are receiving this because you are subscribed to this thread.
Reply t

[2019-04-10 19:57] chris-c-thomas commented on #2240
<img width="177" alt="Screen Shot 2019-04-10 at 2 55 06 PM" src="https://user-images.githubusercontent.com/22353987/55909076-b325ba80-5ba0-11e9-8357-fe1636ef02d1.png">

<img width="154" alt="Screen Shot 2019-04-10 at 2 54 59 PM" src="https://user-images.githubusercontent.com/22353987/55909081-b7ea6e80-5ba0-11e9-863f-57e3ed4a0fe2.png">

An older version of the site had "at PATRIC" or "in PATRIC" in

[2019-04-10 20:22] mshukla1 commented on #2240
Got it. Thanks.

Regarding the tutorials, I remember in early days we first started creating them as word/pdf docs that are hosted
On the website and can be printed and used by the participants in the workshop. So, in that case, it made sense to
Have “In PATRIC” in title.

However, I agree that it is redundant and can be removed on the doc site. Please confirm with Ron/Rebecca before
Making the ch

[2019-04-11 18:09] aswarren commented on #2095
Fixed in https://github.com/PATRIC3/p3_web/commit/bcc8e77bb11b904e1be6453b539581d3b15cabf0

[2019-04-11 18:09] #2095 closed, assigned to aswarren, dawenx

[2019-04-11 20:34] aswarren commented on #2109
When initially developing the execution of diff exp app we hadn't perfected the running of other apps from within apps yet. It was suggested we "simulate" the running of another app by invoking the diff exp back end script and creating a "fake" job object.
Now that we have gotten the running apps further developed, it should be a dev task to rip the diff exp running back out of prok_tuxedo and inv

[2019-04-13 12:44] ARWattam opened #2241 "Subsystem download does not include genome ID or name"
User request for download of subsystem information to include the genome ID and name.  For any particular genome, if you go to the subsystems tab and then click on Subsystems, select a particular subsystem and download it, the download contains no information about your starting point (ie the genome). this is a user request tied to JIRA 2082

[2019-04-13 12:46] ARWattam opened #2242 "Download of subsystem information from vertical green bar does not work"
https://patricbrc.org/view/Genome/227377.7#view_tab=subsystems
I can download using the blue download icon at the upper left, but when I try to download either text or csv from vertical green bar I can see an error message and I don't get anything.
<img width="1440" alt="Screen Shot 2019-04-13 at 8 45 24 AM" src="https://user-images.githubusercontent.com/11475316/56079912-adaab900-5dc8-11e9-9ffa-e

[2019-04-13 13:03] mshukla1 commented on #55
@olsonanl As you are making changes to the annotation service, can you add checks for proper fasta format, contig id length / format, and protein sequences?

[2019-04-13 13:56] mshukla1 commented on #111
@chmao1 can you fix this, please?

1. Display experiment description and PMID provided by users at the time of job submission on the experiment result page.

2. Display organism and strain names correctly, when the metadata file provided.  Currently, organism gets displayed under strain.

Try the template data and metadata provided from the service information "I" tooltip.

-Maulik

[2019-04-13 14:09] mshukla1 commented on #55
Actually, I just submitted one annotation job with fasta protein file. It failed with the following error message.

Using SEED id allocation from http://clearinghouse.theseed.org/Clearinghouse/clearinghouse_services.cgi
kmer_v2_data_directory = /vol/patric3/fams/2018-0531/kmers
Invalid fasta: Bad data (appears to be protein translation data) at line 2

I think this is good enough to let users know

[2019-04-13 14:09] #55 closed

[2019-04-13 14:09] mshukla1 commented on #85
@nconrad, can we finally get this fixed?

[2019-04-13 14:11] mshukla1 commented on #121
@dmachi any follow up action here. Please comment and close as appropriate.

[2019-04-13 14:12] mshukla1 commented on #141
@olsonanl let me know if you like to leave job status notification for the P4. In that case, I can make a note of it elsewhere and close this ticket.

[2019-04-13 14:15] olsonanl commented on #141
No, this should be part of the new scheduler.

[2019-04-13 14:16] olsonanl commented on #55
Yes, I added the stricter parser from RAST with this last round of changes. It also looks for contig IDs that are too long and rewrites them.

[2019-04-13 14:20] mshukla1 commented on #2233
Taxionomic classification service has been released in March. Hence closing the ticket.

[2019-04-13 14:20] #2233 closed, assigned to rkenyon

[2019-04-13 14:30] mshukla1 commented on #2120
@jimdavis1 @aswarren

I am not sure what is the desired solution / solutions here. Below are suggested options. Please comment and help close this ticket.

1. Add protein function as another label type available from the action bar.

2. Or, Provide composite labels, i.e. gene id: product  OR gene id: genome name, to make them more informative.

3. Provide the same in the downloadable alignment fil

[2019-04-13 14:31] mshukla1 commented on #2091
@hyoo can we make the change and close this ticket please?

[2019-04-13 14:33] mshukla1 commented on #2025
This has been fixed a while ago. Closing the ticket.

[2019-04-13 14:33] #2025 closed, assigned to dmachi, hyoo

[2019-04-13 14:36] mshukla1 commented on #917
@chris-c-thomas

Now that we have moved all DLPs to the doc site, can you please add these links and send it back to me for review?

[2019-04-13 14:42] mshukla1 commented on #2096
This has been addressed in the new codon tree service. The number of protein families used and other alignment stats are displayed in the HTML report.

Given Codon Tree is the preferred and default strategy over PEPR, I am not going to worry about fixing it in PEPR.

Closing the ticket.

[2019-04-13 14:42] #2096 closed, assigned to AllanDickerman

[2019-04-13 14:51] mshukla1 commented on #1227
@chmao1

If we can provide the same search modes as the global search from the feature table keyword search, it will address the issue. Can you please look if it is feasible?

A more broader issue is to provide advanced search options for any table on the PATRIC website.

[2019-04-13 15:47] mshukla1 commented on #2115
@hyoo

It would be good if we can allow users to select one or more subsystems and go to genes tab to see corresponding genes.

The same goes for pathway tab as well.

[2019-04-13 15:56] mshukla1 commented on #1645
@aswarren

I interpret this as limiting the selection of reference genomes to only 10 host genomes when user selects HiSAT2 as the strategy. Can you make the change in the submission ui?

<img width="350" alt="Screen Shot 2019-04-13 at 10 54 02 AM" src="https://user-images.githubusercontent.com/1236463/56082141-d0de6400-5dda-11e9-8359-3340e131a468.png">

[2019-04-13 16:01] mshukla1 commented on #2216
I tried this several possible ways and I can't reproduce the problem. Hence, Closing the ticket.

[2019-04-13 16:01] #2216 closed, assigned to nobody

[2019-04-13 16:30] mshukla1 commented on #2093
The help text was added a while ago.

I have updated text for contrast in the user guide and it will show up in the contrast tool top from the submission form.

"Contrasts specify which pairs of conditions to compare in differential expression analysis. The RockHopper strategy performs all vs all contrats by default, hence, no cotrasts need to be specified."

[2019-04-13 16:30] #2093 closed, assigned to aswarren, rkenyon

[2019-04-13 16:32] mshukla1 commented on #2184
There was a problem with adding contrasts with RockHopper, which has been fixed.

I have verified it on production site.

[2019-04-13 16:32] #2184 closed, assigned to aswarren

[2019-04-13 16:39] mshukla1 opened #2243 "Job results: info link should take to the user guide for that service"
I am looking at the RNA-seq job result folder.

When I click on the "Info" button in the green bar, it takes me to PATRIC private workspace user guide below.

https://docs.patricbrc.org/user_guides/workspaces/workspace.html

I think it will help if we replace this (or add another link) to theresult section of the user guide for that specific service.

[2019-04-13 16:41] mshukla1 commented on #2159
I noticed that we have operon file for RockHopper but not tuxedo.

[2019-04-13 17:06] mshukla1 opened #2244 "New assembly service: Apply min contig length and coverage cutoffs"
We need to add default min contig length and min coverage cutoffs to the new assembly service.

The discussion below from a separate email thread earlier:

I am using contain length >=200 and coverage >= 5 as the cutoffs using following script.

ar-filter -l 200 -c 5

I looked at several assemblies with and without coverage cutoff and found it is useful in
Removing many contains with < 5 coverage,

[2019-04-13 19:33] ARWattam commented on #1645
No, aswarren did not provide any additional comments when originally posted, but I believe that he wanted there to be a check box for the eukaryotic genomes.  I think it would be very difficult for them to find them through the filter without that.

[2019-04-13 20:12] mshukla1 commented on #2074
I just checked. Most of the services now have relevant keywords. Closing the ticket.

[2019-04-13 20:12] #2074 closed, assigned to chris-c-thomas

[2019-04-13 20:32] ARWattam commented on #1776
Still an issue with PEPR tree jobs, but as we are making codon trees the default, and because we no longer have Eric to fix it, perhaps we can leave this closed.  Does anybody agree?

[2019-04-13 22:11] ARWattam commented on #1822
How will the discussion we had in the last Science meeting, led by @olsonanl affect this?  Just wondering. And would leaving them affect the PFams in any way?

[2019-04-13 23:23] olsonanl commented on #1822
How should it affect them? We can and should do what we think is the most correct and useful to the biological analyses.

We do get pseudogene calls on (some of the) genbank imports; if we wish we can delete or mark as pseudo (as opposed to pseudogene - cf the document Maulik found at NCBI regarding the distinction they make). I think we need to tread carefully.

[2019-04-14 12:31] ARWattam commented on #1822
My original opinion was to get rid of them all, but I also was sensitive to the other opinion of letting sleeping dogs lie, and if it is just some of the older genomes and not broadly shared, it might take a lot of effort and not be worth directing resources toward it.  But then I started thinking about the Pattyfams, and wondering if these tiny CDSs are creating problems there by generating pseud

[2019-04-14 13:22] mshukla1 commented on #1822
I am thinking about adding pseudo or partial tag to CDS features, which can be used to flag all problematic features.

That way, we can still annotate them with function and protein families, etc.

Then, we can provide filters to how or hide them in protein family sorter, compare region, genome browser etc, or color them in a different way.

Using the tag, they can be excluded from the constructio

[2019-04-14 13:45] ARWattam commented on #1822
And I have been thinking about it while cleaning bathrooms…enlightening.  It could be that when these genes are breaking in a way that gives them two CDSs with good start and stop codons, those might indeed have function.  We really don’t know, and perhaps won’t know until proteomics becomes as cheap as genomics.  So I like Maulik’s proposal…leaving the door open, somewhat, to the possibility of i

[2019-04-14 15:44] ARWattam commented on #2154
If it is an internal data file, then I wonder how it helps the end user at all?  If it does not provide them with useful information, we should remove it from the download files that we present to them.

[2019-04-14 21:22] olsonanl commented on #2154
If it makes sense we could adopt a standard among all the applications to write potentially useful output into a subfolder (as Allan is doing for the codon trees).

________________________________
From: ARWattam <notifications@github.com>
Sent: Sunday, April 14, 2019 10:44 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Assign
Subject: Re: [PATRIC3/patric3_website] genomes_quality_details_tx

[2019-04-14 22:28] ARWattam commented on #2154
If it is to the benefit of the end user, and reduces the files that are of no interest to them from the job output, I would be really happy about it.

From: olsonanl <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Sunday, April 14, 2019 at 5:22 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: "Wattam, Rebecca (arw3s)" <wattam@virgi

[2019-04-15 11:14] mshukla1 commented on #2180
This is still an issue.

Please run proteome comparison job, and then rename or move the job result, then click on the view / download icon at the top right, they don't work.

I believe those links still trying to find the files with original path and name.

[2019-04-15 11:25] mshukla1 commented on #1861
I just tried variation service myself. I selected a set of fastq files from the workshop example and submitted with default parameters.

After submission, all the form values stay as is, including selected fastq files. The only field that gets cleared is output name, to prevent user from accidentally resubmitting the same job or another job with the same output name.

I can select a different reci

[2019-04-15 11:32] mshukla1 commented on #1138
I agree, this is major redesign of the existing tool, perhaps for PATRIC4.

I am going to close this ticket.

[2019-04-15 11:32] #1138 closed, assigned to chmao1

[2019-04-15 11:42] ARWattam commented on #1861
I do this myself, but the user will not understand this and will hit the reset button.  If you really want this as the alternative, I suggest that you remove the reset button.

[2019-04-15 11:50] mshukla1 commented on #2123
@AllanDickerman

It this already addressed in CodonTree? If so, we can close the ticket.

[2019-04-15 11:52] mshukla1 commented on #1965
I believe this has been fixed or no longer an issue.

[2019-04-15 11:52] #1965 closed, assigned to aswarren

[2019-04-15 11:52] dawenx commented on #1861
I suggest to have a discussion on this on Tuesday. To me, 'reset' means resetting everything and most services are behaving like this, in fact, most places, not just PATRIC, a reset button resets everything. I personally don't think we should remove the reset button, in stead, maybe we should educate our users and set their expectation to right level.

[2019-04-15 12:50] olsonanl commented on #2237
But seconds are so much, bigger.

[2019-04-15 12:53] ARWattam commented on #1861
You know what?  You both are absolutely right.  I have had some pre-conceived notion…maybe based on how the website used to work…that reset just enabled it to resubmit the job.  It is working correctly now and doesn’t need to be adjusted.

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Monday, April 15, 2019 at 7:52 AM
To: PATRIC3/patric

[2019-04-15 12:53] #1861 closed, assigned to dawenx

[2019-04-15 15:43] mshukla1 commented on #1806
@hyoo can we close this?

[2019-04-15 15:43] #1683 closed, assigned to mshukla1

[2019-04-15 15:47] #1806 closed, assigned to hyoo

[2019-04-15 16:00] mshukla1 commented on #1340
When you are in protein family sorter, select a family, and click on "members" in the green bar, it gives you members from only those genomes that are currently shown in the protein family tab or protein family sorter results. I think this is desired as it maintains user defined scope.

When you click on the protein family id / link from the feature overview page or the overview panel after the gr

[2019-04-15 18:02] nconrad opened #2245 "Job result viewer > RNA-Seq GENES button"
This is a pretty annoying one.  When you navigate to the following url, a "genes" icon in the green bar shows up.  But, when you load the page via the url or navigate there via the back button, there's no genes button (or copy button).  I don't think we want the genes button (or copy button) since a file hasn't been selected.  It also sounds like @ARWattam has already learned to hit the genes butt

[2019-04-15 18:11] nconrad opened #2246 "Issues with existing heatmap"
I'm keeping a list of issues related to the existing, flash-based heatmap viewer while i'm going through the code.

- [ ] All heatmaps:  after clicking "Color", "Cluster", etc., two clicks are required to activate it again it.

- [ ] All heatmaps:  clustering never finishes sometimes.  This one requires some work.  https://github.com/PATRIC3/patric3_website/issues/1389

- [ ] Transcriptomics:  the

[2019-04-15 18:20] mshukla1 commented on #2246
It supported two color schemes, RBG is broken for a while now.

On Apr 15, 2019, at 1:11 PM, nconrad <notifications@github.com<mailto:notifications@github.com>> wrote:

I wanted to keep a list of some of the issues for the heatmap buttons while going through that code.

  *    the "Color" button doesn't seem to do anything when looking at expression data

[image]<https://user-images.githubusercont

[2019-04-15 18:56] olsonanl commented on #2203
which CLI version do you have? This appears to be working for me in 1.024

[2019-04-16 01:05] mshukla1 commented on #1562
@dawenx here is the screenshot. Can you please add MSA button in the green bar when a single feature group is selected?

<img width="1373" alt="Screen Shot 2019-04-15 at 8 03 58 PM" src="https://user-images.githubusercontent.com/1236463/56174770-c75f2280-5fb9-11e9-8944-114b488ef126.png">

[2019-04-16 01:27] mshukla1 commented on #1673
There is a link to the workspace user guide in the green action bar now, which addresses this issue.

<img width="706" alt="Screen Shot 2019-04-15 at 8 25 57 PM" src="https://user-images.githubusercontent.com/1236463/56175442-d1ceeb80-5fbc-11e9-8704-a4195a9758ce.png">

[2019-04-16 01:27] #1673 closed, assigned to nconrad

[2019-04-16 01:34] mshukla1 commented on #2165
Is this already supported by workspace API and requires only UI work? Or, both?

If we can't support recursive, can we at least support selection of multiple files in the same directory and downloading them at once?

[2019-04-16 01:38] mshukla1 commented on #2149
@nconrad This is still the case. Can you fix it please?

[2019-04-16 01:42] mshukla1 commented on #2156
I like to discuss this discussed in the systems call and decide by consensus.

We need to make a decision to either reorganize it now, or leave it to P4.

[2019-04-16 01:46] mshukla1 commented on #2121
@nconrad can you fix this please?

[2019-04-16 01:52] mshukla1 commented on #2117
Currently, workspace supports only browse mode, i.e. you can only drill down or up the directory structure and view files in the given directory.

What we need is workspace search functionality, that allow you to search content of the entire workspace by file name, file type, date, owner, etc....like the screenshot below.

I am not sure if this can be supported on P3, or should we leave it for P4!

[2019-04-16 02:17] olsonanl commented on #2117
Not sure why I'm assigned, but it is possible to search for all files of a type in the workspace (I think; if you can't now it can be added).

[2019-04-16 02:18] olsonanl commented on #2165
You can do the traversal with the API (existence proof: p3-cp -r exists).

[2019-04-16 11:42] mshukla1 commented on #1228
@nconrad Can the new heatmap support export as high quality image?

[2019-04-16 11:43] mshukla1 commented on #1306
@dawenx is this doen already? Can we close it?

[2019-04-16 14:36] nconrad commented on #1228
There may be some options for .png, but since it's WebGL, I'd have to figure create some solution for svg.  I'll see what's possible.

[2019-04-16 14:41] Tinyman392 opened #2247 "Form Disappearing Act II"
From the homepage, go to Annotation.

1. Select the Buchnera aphidicola genome from the PATRIC workshop folders in the public workspaces.
2. Type in "Buchnera aphidicola" as the Taxonomy Name
3. Use any label, I used "TEST"
4. Click the folder icon for the output folder
5. Create a new folder
6. Choose any name
7. Click the Create Folder button that is greyed out, it'll create the folder
8. Click

[2019-04-16 14:48] mshukla1 commented on #1139
#1716 duplicate.

[2019-04-16 14:48] #1139 closed, assigned to dmachi

[2019-04-16 15:00] #2060 closed, assigned to olsonanl

[2019-04-16 15:00] mshukla1 commented on #2235
Neal: I think AppService.query_task_summary is returning awe_status counts instead of status counts.

@olsonanl, is there a way to get job status?

[2019-04-16 15:01] nconrad commented on #398
This ticket needs review.  I think it is a dangerous slippery slope to delete underlining data when you delete job information.  Is that what is wanted?

[2019-04-16 15:11] mshukla1 commented on #2110
@dawen here are the screenshots from selecting the same genome in different services.

I noticed that in the new tree service interface, you have added an "i" next to genome name, which given genome id on mouseover. We can add similar "i" to all other services below.
- [ ] BLAST,
- [ ] Phylogenetic Tree
- [ ] Genome Alignment
- [ ] Proteome Comparison
- [ ] Protein Families
- [ ] Comparative Pathw

[2019-04-16 15:11] mshukla1 commented on #2110
<img width="364" alt="Screen Shot 2019-04-16 at 10 06 54 AM" src="https://user-images.githubusercontent.com/1236463/56221524-05972900-6030-11e9-9e51-23a8f7195cf9.png">
<img width="349" alt="Screen Shot 2019-04-16 at 10 06 33 AM" src="https://user-images.githubusercontent.com/1236463/56221525-05972900-6030-11e9-8c27-ab0e97cb726a.png">
<img width="598" alt="Screen Shot 2019-04-16 at 10 05 05 AM" src

[2019-04-16 15:15] mshukla1 commented on #2110
Another related issue is that, when genome names are too long to fit in the selection widget, we truncate them.

We should add "i" next to each genome name and it should show full genome name and genome id in tooltip.

Similar to the way we provide full path and name of the read files.

<img width="716" alt="Screen Shot 2019-04-16 at 10 13 13 AM" src="https://user-images.githubusercontent.com/1236

[2019-04-16 15:18] mshukla1 commented on #1638
We have a kill button now, which allows you to kill jobs that are currently in queue, or in progress.

[2019-04-16 15:18] #1638 closed, assigned to olsonanl

[2019-04-16 15:22] mshukla1 commented on #1844
@olsonanl can this be addressed with the new scheduler in May?

[2019-04-16 15:24] olsonanl commented on #1844
Yes

[2019-04-16 15:25] olsonanl commented on #2235
It requires fiddling. If it's a big problem I can look into it; it's a problem that will likely go away entirely with the new scheduler.

[2019-04-16 15:28] mshukla1 commented on #2235
Given the issue has been open for a while now, this is not urgent or critical.

I would wait until we have the new scheduler.

[2019-04-16 16:02] dawenx commented on #2110
OK, I will make a pass on this and try to make things consistent. But I probably will not use SelectedTable widget (the one used in Genome Alignment) for now as people seems to resist the new look. We can do some UI re-design in p4.

[2019-04-16 16:07] dawenx commented on #1306
no, i only started to look into it a while ago and decided to stop at the time. having a single widget to support all read library selector turns out to be quite complex, especially in the case of RNA-Seq, etc. i would suggest to defer issues in this nature to p4 as they normally require design, implementation, testing and they affect large number of services even though user might not notice/appr

[2019-04-16 16:08] dawenx commented on #1562
ok, i will work on it.

[2019-04-16 16:08] mshukla1 commented on #2024
@dawenx Please add links to the following at the top right.

1. FullGenomeReport.html
2. Genome overview page

[2019-04-16 16:11] mshukla1 commented on #1732
@olsonanl is this still relevant or should I close it?

[2019-04-16 16:14] mshukla1 commented on #1306
Ok, as long as we are we are making them consistent across all relevant apps, I am fine with it.

Closing the ticket.

[2019-04-16 16:14] #1306 closed, assigned to dawenx

[2019-04-16 16:29] mshukla1 commented on #1700
#1949 duplicate.

[2019-04-16 16:29] #1700 closed, assigned to AllanDickerman

[2019-04-16 16:32] mshukla1 commented on #1403
I have seen many users place all kinds of files and folders inside special folders.

Conversely, they also create genome groups / feature groups etc outside of these special folders, specially when they want to share them with other users.

I am not sure if we should care or do something about it.

[2019-04-16 16:33] mshukla1 commented on #1964
If there is any action item here, please address it by May Release.

[2019-04-16 16:38] nconrad commented on #1403
yeah, i'm indifferent about this because I think of those folders as simply "default folders".  It sounds like the real problem may be understanding what a genome group is?

[2019-04-16 16:39] mshukla1 commented on #1463
@nconrad can we close this?

[2019-04-16 16:41] nconrad commented on #1872
This is duplicate of https://github.com/PATRIC3/patric3_website/issues/2035.  I'll address for may.

[2019-04-16 16:41] #1872 closed, assigned to nconrad

[2019-04-16 16:42] nconrad commented on #1463
yeah.  closing.

[2019-04-16 16:42] #1463 closed, assigned to dmachi, hyoo

[2019-04-16 16:44] olsonanl commented on #1732
No, this is a weird arast thing so we can close.

[2019-04-16 16:44] #1732 closed, assigned to AllanDickerman

[2019-04-16 16:45] mshukla1 commented on #1403
I agree. I think more important is to allow users to search/find all genome groups / feature groups no matter where they are in their workspace, which is mentioned in another ticket.

Closing this one.

[2019-04-16 16:45] #1403 closed, assigned to nconrad

[2019-04-16 16:50] mshukla1 commented on #1694
Moved to ANL.

[2019-04-16 16:50] #1694 closed, assigned to hyoo, olsonanl

[2019-04-16 16:50] mshukla1 commented on #1693
Moved to ANL.

[2019-04-16 16:50] #1693 closed, assigned to dmachi, hyoo, olsonanl

[2019-04-16 18:19] #1115 closed, assigned to mshukla1

[2019-04-16 18:28] mshukla1 commented on #1882
Given ID mapping table doesn't get updated that often and that it will be costly to get the list dynamically every time the  page is loaded, I am fine with having it cached, as long as it reflects what is in the database.

[2019-04-16 18:36] mshukla1 commented on #1896
The circular viewer is designed to give an overview of the entire genome, and generate a figure that can be placed in publication/presentation etc. Hence, it was not meant to have the level of interactivity you would have in genome browser.

So, zoom in / out here means making the circular image bigger or smaller, without changes its content.

Since, users can download the image as svg and zoom in

[2019-04-16 18:36] #1896 closed, assigned to chmao1

[2019-04-16 18:40] mshukla1 commented on #2156
#1956

[2019-04-16 18:42] mshukla1 commented on #1956
#2156 described the same issue. Closing this one.

[2019-04-16 18:42] #1956 closed, assigned to dawenx

[2019-04-16 19:32] mshukla1 commented on #2139
I just tried several scenarios and back button seems to be working as expected.

Closing the ticket.

[2019-04-16 19:32] #2139 closed, assigned to nobody

[2019-04-16 19:33] #2135 closed, assigned to nobody

[2019-04-16 20:32] mshukla1 commented on #1733
It seems UI now prevents user from submitting multiple jobs with the same output path and same output name, which ensures users don't end up overwriting previous output.

Closing the ticket.

<img width="881" alt="Screen Shot 2019-04-16 at 3 28 57 PM" src="https://user-images.githubusercontent.com/1236463/56241976-d945d180-605c-11e9-90e8-01a33d059333.png">

[2019-04-16 20:32] #1733 closed, assigned to levinas

[2019-04-16 20:37] mshukla1 commented on #1538
@nconrad I see that I can user command + click to deselect something, which is consistent with action in mac finder.

Can you add deselect by clicking elsewhere on the page?

[2019-04-16 20:45] mshukla1 commented on #1329
Looks like this is very old ticket and the issue has been fixed.

I tried to upload and use benchmark contigs myself and it worked.

[2019-04-16 20:45] #1329 closed, assigned to AllanDickerman

[2019-04-16 20:54] mshukla1 commented on #1929
I just checked the doc site and tutorials. It seems it has already been corrected.

[2019-04-16 20:54] #1929 closed, assigned to olsonanl

[2019-04-17 12:36] jimdavis1 opened #2248 "KRONA visualization"
This is what the taxonomy classification output typically looks like.  Note that the bottom right list of constituents is unreadable.

![image](https://user-images.githubusercontent.com/7661533/56287887-279db380-60e3-11e9-88d2-1cfc4fead603.png)

If you drag it out far enough you can start to read it but we have lost so much real estate to the white space at the top, the green bar, and gray bar acr

[2019-04-17 13:00] mshukla1 commented on #2248
If you are using wgs metagenomics sample and searching it against a 16s database (RDP or SILVA), you are going to get picture like this, because >99% of the reads won't match to anything, and all the matches will have very small values to go with them, i.e. 0.00002% in the example above.

The only way I can can make it readable is by making the circular view smaller and decreasing font size so tha

[2019-04-17 13:02] mshukla1 commented on #2248
Also wonder if we should have some threshold on the minimum coverage for reporting a node, i.e. >0.0001%.

[2019-04-17 13:14] chmao1 commented on #1380
Based on the discussion with Rebecca, PATRIC local and global family id columns were added for the reference genome. These are not added for the comparison genomes to avoid making the table too big.

[2019-04-17 13:14] #1380 closed, assigned to chmao1

[2019-04-17 13:16] mshukla1 commented on #1380
Awesome, thanks.

[2019-04-17 14:04] jimdavis1 opened #2249 "Taxonomic Classification Suggestion"
This should have occurred to me earlier, but it would be nice to be able to run this on a patric genome.

![image](https://user-images.githubusercontent.com/7661533/56294020-d34d0080-60ef-11e9-9263-cf815dadbe83.png)

[2019-04-17 14:16] jimdavis1 commented on #2248
Now it isn't even displaying

[2019-04-17 14:39] jimdavis1 opened #2250 "5S rRNA is lost in E.coli K-12 genome"
For some reason, we are calling it a MISC RNA.
![image](https://user-images.githubusercontent.com/7661533/56296677-99322d80-60f4-11e9-87d5-d68a0d9dfd96.png)

![image](https://user-images.githubusercontent.com/7661533/56296703-a4855900-60f4-11e9-8500-43cf9ee50841.png)

[2019-04-17 15:56] ARWattam commented on #2249
WE just had a user at the workshop ask if we could use these type of identifiers in other services, like BLAST

[2019-04-17 16:17] ARWattam opened #2251 "Job counter does not reflect actual job status"
A user (Philippe Chlenski) reports the following:
"When I look at the jobs page, the top right bar displays something like the
following:
1 queued; 0 running; 149 completed; 0 failed.
In reality, I have 5 failed jobs. These display if I click on '0 failed'."

I have seen this as well, and it has been reported by other users.

[2019-04-17 16:20] ARWattam opened #2252 "CLI service tutorial needs to include a description of p3-submit-genome-annotation"
A user (Philippe Chlenski) reports that "The PATRIC CLI services tutorial at
https://docs.patricbrc.org/cli_tutorial/cli_services.html does not include
a description of p3-submit-genome-annotation, although it is in the CLI."

[2019-04-17 16:35] mshukla1 commented on #2251
#2235 duplicate.

[2019-04-17 16:35] #2251 closed, assigned to nobody

[2019-04-17 16:36] mshukla1 commented on #2100
#2235 dumplicate

[2019-04-17 16:36] #2100 closed, assigned to olsonanl

[2019-04-17 16:57] chmao1 commented on #2122
Closed this based on Rebecca's comments.

[2019-04-17 16:57] #2122 closed, assigned to chmao1

[2019-04-17 17:45] AllanDickerman commented on #947
We will address this in the new assembler system. Make it unambiguous which contigs are to be used.

[2019-04-17 17:45] #947 closed, assigned to AllanDickerman

[2019-04-17 17:45] AllanDickerman commented on #947
Solve with next assembler system soon.

[2019-04-17 17:57] AllanDickerman commented on #405
What is wanted? The correct taxonomic name? This should perhaps come from the taxonomic classifier.
Alternatively, what is wanted may the name that the user has for this organism, the clone or isolate or other,
eg "LM34" or "Nigerian_strain". This kind of name we can support in the way that the codon_tree service allows the "output name" field of the UI to be used as the prefix for all of the outp

[2019-04-17 17:59] mshukla1 commented on #405
As I understand, the original request was to show the output name provided by the user in the txt/html report

And use output name as the prefix for output file names.

[2019-04-17 18:25] chmao1 commented on #2239
Fixed and made a pull request

[2019-04-17 18:27] mshukla1 commented on #2250
You are looking at two different RNAs right next to each other.

fig|511145.12.rna.4 is Large Subunit Ribosomal RNA; lsuRNA; LSU rRNA, which is shown as such in genome browser as well.

fig|511145.12.rna.5 is misc_rna, with no additional description.

<img width="1365" alt="Screen Shot 2019-04-17 at 1 25 28 PM" src="https://user-images.githubusercontent.com/1236463/56311869-96473500-6114-11e9-8adc

[2019-04-17 18:28] #2250 closed, assigned to hyoo

[2019-04-17 18:32] mshukla1 commented on #2247
@dawenx I was able to reproduce this with the steps Marcus mentioned. Please see the attached screenshot. Can you please take a look and fix it?

<img width="741" alt="Screen Shot 2019-04-17 at 1 31 08 PM" src="https://user-images.githubusercontent.com/1236463/56312164-37ce8680-6115-11e9-90bf-8cae35daec3d.png">

[2019-04-17 18:34] mshukla1 commented on #2142
#2247

[2019-04-17 18:34] mshukla1 commented on #2247
#2142

[2019-04-17 19:52] chmao1 commented on #620
Implemented and made a pull request

[2019-04-17 19:53] chmao1 commented on #619
Implemented and made a pull request

[2019-04-17 19:53] chmao1 commented on #621
Implemented and made a pull request

[2019-04-17 19:53] chmao1 commented on #622
Implemented and made a pull request

[2019-04-17 20:28] mshukla1 commented on #1986
I have created a basic page explaining the data on the FTP site and bulk upload/download to workspace using FTP client

[2019-04-17 20:28] #1986 closed, assigned to mshukla1

[2019-04-17 22:06] mshukla1 commented on #917
I have added
1) Assessing data and
2)Relevant Services and Tools sections to all DLPs.

[2019-04-17 22:06] #917 closed

[2019-04-17 22:07] mshukla1 commented on #1191
I have added descriptions for all three types of protein families.

[2019-04-17 22:07] #1191 closed, assigned to mshukla1

[2019-04-17 22:17] mshukla1 commented on #2163
I have added links to all bacterial and host response datasets and services and tools.

[2019-04-17 22:17] #2163 closed, assigned to mshukla1, hyoo

[2019-04-17 23:35] mshukla1 commented on #1177
Diagram has been updated and shows plfam and pgfams now.

[2019-04-17 23:35] #1177 closed, assigned to mshukla1

[2019-04-17 23:37] #1186 closed, assigned to chris-c-thomas

[2019-04-18 00:42] chris-c-thomas commented on #1908
I'm confused by this issue. Is this a Surface (MS Windows) or an iPad (iOS) tablet?

I'm inclined to close this if it's an iPad as #1917 encompasses iOS as a whole not playing nice with PATRIC...

[2019-04-18 00:43] chris-c-thomas commented on #1908
@nconrad then again you had a Win10 tablet at the workshop today having a few issues? Should possibly have two tickets for each OS.

[2019-04-18 11:34] mshukla1 commented on #2130
#1030 duplicate.

[2019-04-18 11:34] #2130 closed, assigned to hyoo

[2019-04-18 11:34] mshukla1 commented on #1543
#1030 duplicate.

[2019-04-18 11:35] #1543 closed, assigned to hyoo

[2019-04-18 11:41] mshukla1 commented on #995
Given taxonomy may change and users often choose incorrect taxonomy labels, I think it is safe to always show PGFam as default and let user choose PLfam, if they wish.

[2019-04-18 11:41] #995 closed, assigned to hyoo

[2019-04-18 11:53] mshukla1 commented on #1862
In Chrome, I tried the bottom scroll bar in multiple ways, clicking on the arrows, pressing and holding them, and moving the scroll bar to random position. I did not find anything unexpected.

Given I could not reproduce, we don't have control over old flash code, and that we are working on new heat map now, I am closing this issue.

[2019-04-18 11:53] #1862 closed, assigned to hyoo

[2019-04-18 11:54] mshukla1 commented on #2056
I tried and it seems to be fixed now.

[2019-04-18 11:54] #2056 closed, assigned to hyoo

[2019-04-18 11:58] mshukla1 commented on #1021
#996 duplicate.

[2019-04-18 11:58] #1021 closed, assigned to hyoo

[2019-04-18 12:00] mshukla1 commented on #2241
#2171 duplicate

[2019-04-18 12:00] #2241 closed, assigned to dmachi

[2019-04-18 12:01] mshukla1 commented on #2183
#1976 duplicate.

[2019-04-18 12:01] #2183 closed, assigned to hyoo

[2019-04-18 14:20] #1891 closed, assigned to hyoo, danielolson5, olsonanl

[2019-04-18 14:22] hyoo commented on #1835
@chris-c-thomas this is a case that we use content from the website, for this docs, the url link to images should be an absolute url. Please check all the user docs and tool tooltips.

[2019-04-18 14:25] hyoo commented on #1939
@dmachi any update?

[2019-04-18 14:56] dmachi commented on #1939
I’ve looked at this a couple of times and haven’t been able to figure out why it fails when it is bundled.  I will keep at it and see if I can figure anything out.

[2019-04-18 16:02] ARWattam opened #2253 "User reports missing reference genome that should be included in PATRIC"
User says:
"I noticed that the genome of an archaea of interest to me is missing on
PATRIC. The organism is Pyrodictium delaneyi strain Su06 (Refseq
NZ_CP013011.1) and its genome is available on NCBI."

In the immortal words of Pokemon, "Maulik Shukla, I choose you!"

[2019-04-18 17:53] olsonanl opened #2254 "Similar genome finder will create group with bad genome"
User created a group with the output of similar genome finder; it included a bad genome that then was suppressed from any views of the genome group, but was still present in the group so that a CodonTree invocation on that group crashed.

Tagged for similar genome finder, but this may be a more general problem.

Related to https://jira.cels.anl.gov/browse/PATRIC-2426

[2019-04-18 18:03] ARWattam opened #2255 "User requests that important genome sequenced in 2016 be added to PaTRIC"
She says:
"This is a public genome of a multi drug resistant CDC sequenced isolate,
with the accession number -NZ_MPCF00000000.1.

Can this genome please be added to the Patric database?
Relevant information attached
The following links have the relevant info regarding sequence information.
CDC AR Bank# 0040 Information with Sequence Accession#
<https://wwwn.cdc.gov/ARIsolateBank/Panel/IsolateDeta

[2019-04-18 18:09] mshukla1 commented on #2255
This genome is already available in PATRIC:
Klebsiella pneumoniae strain AR_0040
https://patricbrc.org/view/Genome/573.7031

[2019-04-18 18:09] #2255 closed, assigned to mshukla1

[2019-04-18 19:31] olsonanl opened #2256 "add to dropdown in Taxonomic Classification"
Please add another value to the Taxonomic Classification database dropdown - "RefSeq protozoan genomes"

thanks

[2019-04-18 19:41] nconrad opened #2257 "Specific iOS issues on iPhone & iPad"
I'm creating a separate ticket from #1908 for issues a user experienced at the workshop using chrome on a newer ipad air.

The main issuers were:
- Jobs page didn't load at all.
- The blast input form (and probably others) was requiring two keypresses to enter 1 letter.

[2019-04-18 19:43] nconrad commented on #2257
Bob reports that jobs page doesn't load on iPhone safari.  I don't own any apple mobile devices, but we should be able to tether to debug.

[2019-04-18 20:14] dawenx commented on #2256
Since we were asked to hide 'the RDP and Silva options' earlier today by @jimdavis1, I wanted to double before taking any action.

[2019-04-18 20:25] chris-c-thomas commented on #2257
Apple uses the [WebKit Browser Engine](https://developer.apple.com/documentation/webkit) in Safari on both MacOS and iOS. In the case of iOS though, it's the only browser engine used no matter if you use Firefox, Edge, etc on your iPhone or iPad.

For simplicity sake let's assume iOS versions are updated and the same on iPhone or iPad. The biggest change between those two devices then is resolutio

[2019-04-18 20:29] chris-c-thomas commented on #1917
Closing. Will be using #2257 going forward.

[2019-04-18 20:29] #1917 closed, assigned to chris-c-thomas

[2019-04-18 20:33] rkenyon commented on #2240
I think they should be parallel in title structure as well, for example
Assemble a Genome
Annotation a Genome
Analyze Genome Quality
Perform Comprehensive Genome Analysis (this one is a bit awkward due to the title of the service)
Explore a Private Genome
BLAST Sequence(s)

etc.

[2019-04-18 20:37] chris-c-thomas commented on #1908
As I read this again it makes me think it is a Surface Windows Machine. Chrome and Firefox are different on Windows where on an iOS device they would actually be about the same (WebKit as the base aka Safari).

I'm closing this and opening a specific Win10 Tablet issues ticket.

[2019-04-18 20:38] #1908 closed, assigned to chris-c-thomas

[2019-04-18 20:38] chris-c-thomas opened #2258 "Specific Win10 tablet and/or touch laptop issues"
TBD.

[2019-04-18 21:31] chris-c-thomas commented on #2252
@olsonanl is this you?

[2019-04-18 21:36] olsonanl commented on #2252
I was hoping one could extrapolate from the assembly one to the annotation one but we should probably write one up. I think Philippe should draft a writeup :-)

[2019-04-18 21:39] chris-c-thomas commented on #2252
That works for me. @ARWattam feel free to let em know :)

[2019-04-18 23:01] mshukla1 commented on #2253
I have added the genomes to the database.

[2019-04-18 23:01] #2253 closed, assigned to mshukla1

[2019-04-18 23:58] mshukla1 commented on #1648
Just checked, tn-seq jobs results do have checkered flag now.

[2019-04-18 23:58] #1648 closed, assigned to nconrad

[2019-04-19 00:04] mshukla1 commented on #2140
#1792 duplicate.

[2019-04-19 00:04] #2140 closed, assigned to AllanDickerman

[2019-04-19 00:10] mshukla1 commented on #2161
#1786 duplicate

[2019-04-19 00:10] #2161 closed, assigned to nconrad

[2019-04-19 00:17] mshukla1 commented on #1085
#2073 duplicate

[2019-04-19 00:17] #1085 closed, assigned to dmachi

[2019-04-19 00:23] mshukla1 commented on #2145
In the last 15 years, we have got only one or two request for someone asking for molecular weights.

I am going to punt this to P4 and close the ticket.

[2019-04-19 00:23] #2145 closed, assigned to mshukla1

[2019-04-19 11:30] mshukla1 commented on #246
#376 duplicate

[2019-04-19 11:31] #246 closed

[2019-04-19 11:33] mshukla1 commented on #1918
#376 duplicate

[2019-04-19 11:33] #1918 closed, assigned to mshukla1

[2019-04-19 12:06] mshukla1 commented on #1882
@dawenx,

Below is the complete list of available ID types from the database. Please update the form dropdown accordingly.

PATRIC ID
Feature ID
Alt Locus Tag
P2 Feature ID
RefSeq (Protein ID)
RefSeq Locus tag
Gene ID
GI
Allergome
ArachnoServer
BioCyc
BioGrid
BioMuta
CCDS
CGD
CRC64
ChEMBL
ChiTaRS
CleanEx
CollecTF
ConoServer
DIP
DMDM
DNASU
DisProt
DrugBank
EMBL
EMBL-CDS
ESTHER
EchoBASE
EcoGene
Ense

[2019-04-19 12:26] mshukla1 commented on #1882
@dawenx, please look at the ID Mapping tool at the uniprot. I like us to organize id types by groups to make them more useful. See the screenshot.

https://www.uniprot.org/uploadlists/

<img width="255" alt="Screen Shot 2019-04-19 at 7 26 04 AM" src="https://user-images.githubusercontent.com/1236463/56424081-7038a680-6274-11e9-9462-875efe04e15c.png">

[2019-04-19 12:34] mshukla1 commented on #2189
@dawenx I don't think we can / should provide separate examples for each of the id types.

Please remove the "Example" from under the dropdown menus.

Instead,   just add the following gray text in the text box itself.

Enter one or more identifiers separated by comma, space, or newline, e.g. Rv0001 Rv0002 Rv0003 Rv0004 Rv0005

[2019-04-19 12:39] dawenx commented on #2189
ok, will do.

updated: reassign this to @mandywil

[2019-04-19 13:35] mshukla1 commented on #2254
This is most likely because the genome was deleted from the database due to bad quality, but corresponding mash files are not deleted. Need top delete such genomes from ftp/blast/mash dbs.

I will clean up ftp and blast files, can you do the same for mash sketches?

[2019-04-19 14:37] olsonanl commented on #2254
Yes. We should also have the services verify the existence of genomes before returning them to the user; perhaps also think about verifying genome groups before their use. This will happen again and users might have genomes in their groups that have been deleted.

[2019-04-19 15:28] ARWattam commented on #2189
But its true, right, that one of the IDs has to be PATRIC.  What Marcus showed in the screenshot will not work (convert Drugbank ID to KEGG ID).  You could only convert Drugbank to PATRIC, and then PATRIC to KEGG.  So PATRIC ID needs to be in the example, unless this is no longer the way that ID Mapper is set up.

[2019-04-19 15:31] Tinyman392 commented on #2189
The screenshot was just to show that example IDs didn't show up unless it was a PATRIC ID.  So if I wanted to convert a PATRIC ID to a KEGG ID, it would show an example of a PATRIC ID but not of a KEGG ID.

[2019-04-19 15:39] nconrad commented on #1786
I've looked into this before--I'll have to again. It is complicated because it would require some changes to the dojo library.

The issue is the order of that list corresponds to the order we want columns to appear in the table (such as the order of the default columns).  Hence, we would have to build something in the dojo widget to use that order, but display the list in alphabetical order.

I'm

[2019-04-19 16:20] ARWattam commented on #2256
I saw a demo of this yesterday and it was really nice and I think it should be included.  More information is always better.

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Thursday, April 18, 2019 at 4:14 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PATR

[2019-04-19 16:29] mshukla1 commented on #2256
Not so fast....

We need to decide if we want to provide protozoan (and other organism databases from the list below, i.e. fungi) as a separate databases or include it as part of the default kraken database to make it comprehensive.

archaea: RefSeq complete archaeal genomes/proteins
bacteria: RefSeq complete bacterial genomes/proteins
plasmid: RefSeq plasmid nucleotide/protein sequences
viral: Re

[2019-04-19 16:32] mshukla1 commented on #2256
I like to build the new database first, try it with some of the user datasets from the workshop, and evaluate the results before deciding whether we provide separate databases or combine them into one default database.

[2019-04-19 16:44] olsonanl commented on #2256
OK. I dust my hands of all of this and leave it to you. Please follow up with Jim and with the user from the university from South Africa.

________________________________
From: Maulik Shukla <notifications@github.com>
Sent: Friday, April 19, 2019 11:32 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Author
Subject: Re: [PATRIC3/patric3_website] add to dropdown in Taxonomic Classification (#

[2019-04-22 16:35] jimdavis1 opened #2259 "Bug in Blast servcie"
I blasted this sequence: CACGTGGAATTTAGG

Against this genome:  83333.884 (this is a private genome in my jdassembly account)

When I select the top hit, and click on the link to the genome browser it takes me to contig 60 (with no highlighting), instead of contig 72 which is where the hit is.

![image](https://user-images.githubusercontent.com/7661533/56511529-6f14ad00-64f2-11e9-95da-8a68f2eb0881

[2019-04-22 16:38] #2259 closed, assigned to nobody

[2019-04-22 17:17] jimdavis1 opened #2260 "blast"
I needed subject start and subject end coordinates today.

![image](https://user-images.githubusercontent.com/7661533/56513599-966e7880-64f8-11e9-9d42-e6136d208c00.png)

[2019-04-22 17:51] olsonanl opened #2261 "Visual change when in sudo mode on website"
It would be useful to make a visual change on the PATRIC site when one is logged in as an admin and sudo'd to a different user. Perhaps change the people icon at the top right to red.

[2019-04-22 18:00] ARWattam commented on #2261
I think that is an excellent idea.  Could prevent some embarrassing job submissions.  I personally only use safari when I am a superuser to prevent those kind of accidents.

[2019-04-22 18:22] mshukla1 commented on #2261
I second the suggestion. I keep switching accounts when answering user requests, and it is easy to
Loose track of when I am logged in as super user and when not.

[2019-04-23 11:53] mshukla1 opened #2262 "workspace creation message"
Reported by Philippe.

When I make a new workspace in the workspace view,

it displays the message 'Wroksapce created' (sic)

[2019-04-23 16:49] rkenyon opened #2263 "Develop and deploy Foo Service"
Example new service using GitHub Projects to track and manage:

Foo Service Project: https://github.com/orgs/PATRIC3/projects/1

[2019-04-23 18:05] rkenyon opened #2264 "Problem with Foo Service"
Bogus issue just for testing

[2019-04-23 18:07] mshukla1 commented on #2264
Bogus response for testing! :)

On Apr 23, 2019, at 1:05 PM, rkenyon <notifications@github.com<mailto:notifications@github.com>> wrote:

Bogus issue just for testing

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/PATRIC3/patric3_website/issues/2264>, or mute the thread<https://github.com/notifications/unsubscr

[2019-04-23 18:10] rkenyon opened #2265 "Another problem with Foo Service"
Another bogus issue for testing.

[2019-04-26 17:26] olsonanl commented on #2017
The backend does not yet support SRR ids. If we want them added we should leave this ticket open.

[2019-04-26 18:17] chmao1 commented on #2239
The fix is now available in production.

[2019-04-26 18:17] #2239 closed, assigned to chmao1

[2019-04-26 18:18] chmao1 commented on #2231
The fix is now available in production.

[2019-04-26 18:18] #2231 closed, assigned to chmao1

[2019-04-26 18:18] chmao1 commented on #622
The implementation is now available in production.

[2019-04-26 18:18] #622 closed

[2019-04-26 18:19] chmao1 commented on #621
The implementation is now available in production.

[2019-04-26 18:19] chmao1 commented on #620
The implementation is now available in production.

[2019-04-26 18:19] #620 closed

[2019-04-26 18:19] chmao1 commented on #619
The implementation is now available in production.

[2019-04-26 18:54] mshukla1 commented on #621
@chmao1 , The new excel file and conditional formatting does look beautiful.

One minor suggestion, given that the coloring is done based on the percent identity,
I think it will be more intuitive if conditional coloring is done on percent identity column,
Instead of directionality column.

[2019-04-26 18:56] mshukla1 commented on #621
<img width="1223" alt="Screen Shot 2019-04-26 at 1 43 48 PM" src="https://user-images.githubusercontent.com/1236463/56830103-13685d80-682b-11e9-8bea-c46cd5c03e59.png">

[2019-04-26 19:04] mshukla1 commented on #619
@chmao1 again, a minor thing. Can you please add the link to the excel file to the Download button at the top right on the job result page? That will make it more accessible to the users. For example, the download above the genome table includes link to both csv and excel.

If it is difficult to have two links, I would recommend replacing current link from csv to excel file.

<img width="263" alt=

[2019-04-26 19:35] ARWattam commented on #619
I was going to mention the same thing.

[2019-04-26 20:40] ARWattam commented on #621
I personally think that it works well with the coloring in the bi vs uni directional.  I like it, and I worry that if you move the colors into the percent identity, it will make the numbers harder to interpret.  I would also color the blank cells ONLY in the bi and uni, and not all the way across.  I have found that when I put to much formatting into an excel file, it becomes very sluggish and unr

[2019-04-30 19:16] AllanDickerman opened #2266 "Popup window cannot be closed"
When I clicked on "Edit Type" in the green bar for an Annotation job result in my workspace, a popup window popped up with the text below. The problem is there is no close button on the popup and I cannot use the page (it is modal).

Cannot Change Type
The selected items must be one of the following types:
unspecified
contigs
nwk
reads
diffexp_input_data
diffexp_input_metadata.

However, your sele

[2019-04-30 19:21] nconrad commented on #2266
Hey @AllanDickerman.  I just wanted to check that there's at least a "X" button at the top right of the modal?

![image](https://user-images.githubusercontent.com/1194246/56987476-2644a000-6b53-11e9-9ab2-7d65550bde80.png)

I agree there should probably be an "ok" button, primarily since we don't use click-outside-to-close on modals.

[2019-04-30 20:28] AllanDickerman opened #2267 "GenomeReport Problematic Roles Table has redundant column"
The "Annotated count"  and "Feature link" convey the same information.
The second on has the link, but conveys the count as well.
We could save space by merging to one column ("Annotated Count")
with the count-link.

[2019-04-30 22:51] nconrad commented on #2238
@rkenyon I have a ticket that is dependent on these updates. https://github.com/PATRIC3/patric3_website/issues/2243

I started to link the "GUIDE" button in the job result viewer to the "Results" anchor for each service, but quickly noticed the assembly results section was missing and the titles aren't consistent.
Ex:
https://docs.patricbrc.org/user_guides/services/genome_annotation_service.html#r

[2019-05-01 21:59] nconrad commented on #2117
@olsonanl I don't think search/filtering works, or I don't know how to use it.  Could you provide an example at some point?  https://github.com/PATRIC3/Workspace/blob/master/Workspace.spec#L176

[2019-05-01 22:28] nconrad commented on #2117
Wait, I got something to work.  It looks like you can filter exact matches on single workspace, but it ignores queries on the user's root.  To be useful, we should be able to search on all workspaces.  I'm also not sure there's any pattern matching support?

I'm thinking this should be part of p4.

[2019-05-03 17:16] nconrad opened #2268 "add jobs page retry"
add jobs page retry to jobs page with message to user.

[2019-05-03 17:41] nconrad commented on #2268
![image](https://user-images.githubusercontent.com/1194246/57154731-3224a200-6d9f-11e9-992e-aaa83fd584f3.png)

[2019-05-03 18:57] nconrad commented on #2268
ok PR is in.  There's also this notice while retrying:

![image](https://user-images.githubusercontent.com/1194246/57159309-38208000-6dab-11e9-8255-11cfba8ac8b5.png)

[2019-05-03 20:00] AllanDickerman commented on #2173
There are issues with cut-off length for reporting contigs.
New assembly system should:
a) allow user to set this value (but have reasonable default, eg 500bp)
b) pass the specified value to programs when needed (eg quast, unicycler)
c) perhaps, if found necessary, edit the contigs.fasta file to remove shorter ones
d) in short, make the counts of contigs line up and make sense

[2019-05-03 20:05] AllanDickerman commented on #2123
The graphics presented by CodonTree (which are generated by Figtree) impose midpoint rooting.
This issue is for the tree viewer GUI.
The tree viewer could use an overhaul, this change among others
(like showing interesting character states, selecting groups for comparison, etc)

[2019-05-03 20:09] AllanDickerman commented on #1909
For the case of a circular genome assembled to closure by Unicycler, it will rotate the genome to start at an agreed-upon start gene. The program has a list to use, I'm sure DnaA is one.

For non-closed genomes, e.g. multiple contigs, I don't think there is a solution.

So I think this will be solved by the new assembler system.

[2019-05-03 20:13] AllanDickerman commented on #1794
Even better, Unicycler assembly of hybrid data (long and short reads).
We can enable Spades for hybrid data as an alternative
Whether to do so depends on weighing performance of two approaches and added confusion of making UI more complex.

[2019-05-03 20:20] AllanDickerman commented on #1792
Will handle this in new assembler system

[2019-05-03 20:22] AllanDickerman commented on #1752
New assembly system will enable user to specify prefix for all files generated: like prefix_contigs.fasta
This will show up in Quast report as well.

[2019-05-03 20:25] AllanDickerman commented on #1687
I think this is a one-off sort of request. Having it as an option could cause more confusion than help.
Of course, it could be done if it gets asked for more.

[2019-05-03 20:25] chmao1 commented on #621
@olsonanl
I added the black color to the empty cells in the bi and uni columns and made a pull request in git.

[2019-05-03 20:28] #1668 closed, assigned to hyoo

[2019-05-03 20:28] #2091 closed, assigned to hyoo

[2019-05-03 20:33] AllanDickerman commented on #405
I think this is the same issue as #1752. Will be fixed with new system. User-specified prefix.

[2019-05-03 20:44] chmao1 commented on #619
Added an option in the download menu. This will be available in the next build.
![image](https://user-images.githubusercontent.com/6361802/57164588-9c027300-6dc2-11e9-88b0-9801bb93a1f5.png)

[2019-05-07 16:55] jimdavis1 opened #2269 "enhancement feature page"
It would be nice if we could add to a feature group from the feature view page:
![image](https://user-images.githubusercontent.com/7661533/57318034-09fab300-70bf-11e9-917a-d601d0b92049.png)

[2019-05-07 16:57] dmachi commented on #2269
Is this not what the "Add to Group" does or are you saying that isn't working?

[2019-05-07 18:09] rkenyon opened #2270 "Create new Heatmap Viewer"
To replace the Flash-based viewer

[2019-05-07 18:13] rkenyon opened #2271 "Update job scheduler"
To improve performance

[2019-05-07 18:19] rkenyon opened #2272 "Migrate database to Solr Cloud"
To improve capacity and performance

[2019-05-07 18:23] rkenyon opened #2273 "Create new Read QC Service"
Integrate community standards for assessing read quality (FastQC) as a PATRIC service to support higher level tools such as the read mapping, taxonomic binning and functional binning services and will be exposed to the user through those tools.

[2019-05-07 18:30] rkenyon opened #2274 "Create new Assembly Service to replace ARAST"
A service that uses the latest tools and is more stable, and faster if possible.

[2019-05-07 18:44] rkenyon opened #2275 "Re-style Docs site so that it better matches main PATRIC site"
And also provides a way back to the main site

[2019-05-07 18:47] rkenyon opened #2276 "Codon tree - Allow user to see which are single copy genes"

[2019-05-07 19:39] nconrad commented on #2133
This is fixed with the fasta download fix deployed on 4/25/2019.

![image](https://user-images.githubusercontent.com/1194246/57327256-0faec380-70d4-11e9-9960-b0912149075e.png)

I'm noticing that the viz is struggling quite a bit with the 1747 x 2 = 3,494 contig markers when zoomed out, which is a little surprising.  I'll see if that can be improved.  I've added that issue to https://github.com/PAT

[2019-05-08 17:22] chmao1 commented on #991
@mshukla1 Could you clarify the requirement for this issue? The name label in the drop down list is implemented the same way for all app services. Do you want the label display to include more text (characters) in the drop down list or you want the selection table to show bigger arrow for sorting? The label display has limited space. Currently, only partial path is displayed.  I see that using the

[2019-05-08 18:39] chmao1 commented on #2147
@olsonanl @mshukla1 Could you explain the download problem and what action is needed after checking the size? Is this for downloading the result files from the Apps? Is there a size limit? and if so, what's the cutoff?

[2019-05-08 18:40] mshukla1 commented on #1791
Moving it to PATRIC4, as future enhancement to the annotation system.

[2019-05-08 18:40] #1791 closed, assigned to mshukla1

[2019-05-08 18:48] mshukla1 commented on #991
@chmao1 I just checked, it seems this issue has been addressed by providing mouseover tooltip on the dropdown items, which show complete file path, instead of abbreviated one.

I am closing the issue.

[2019-05-08 18:48] #991 closed, assigned to aswarren, chmao1

[2019-05-08 18:57] olsonanl commented on #2147
It's a sanity check to ensure the download worked properly. e.g the various codes that use the copy_files_to_handles().

the right place is probably inside those library routines since they may be making calls to pull the metadata (including size) before the download. user codes will need to be prepared for the downloads to fail

[2019-05-08 19:01] chmao1 commented on #2147
Is this for the backend App service codes or the frontend web interface codes?

[2019-05-08 19:09] olsonanl commented on #2147
Backend.

[2019-05-09 15:40] jimdavis1 opened #2277 "Phylogeny tab suggestion"
I clicked on "All bacteria" from the drop down on the front page and then clicked the phylogenetic tree tab.  This never loaded.  After talking to harry, i learned that we have no master tree, so this tab should not be be available as an option for any input selection that is larger than a genus-level selection.

![image](https://user-images.githubusercontent.com/7661533/57466617-a3a09c80-7246-11e

[2019-05-09 23:04] #2035 closed, assigned to nconrad

[2019-05-09 23:04] #2121 closed, assigned to nconrad

[2019-05-09 23:04] #2149 closed, assigned to nconrad

[2019-05-09 23:04] #2150 closed, assigned to nconrad

[2019-05-09 23:04] #2261 closed, assigned to nconrad

[2019-05-09 23:04] #2262 closed, assigned to nconrad

[2019-05-09 23:04] #2266 closed, assigned to nconrad

[2019-05-09 23:16] nconrad commented on #1786
I'm marking this as P4 for now.  There's this and a few more features requested from tables below, and so we may want to re-evaluate the table plugin.

- saving table state in localstorage (and ability return to "default" state)
- copy and paste of cells/columns/rows

[2019-05-09 23:16] #1786 closed, assigned to nconrad

[2019-05-10 00:50] mshukla1 commented on #2277
I am not sure if it is possible to completely hide the tab without major changes.

It might be easier to display a clear and concise message when tree is not available. i.e. Trees are constructed at the bacterial order levels and, hence,  and not available for higher taxonomic levels.

Another an d probably better option would be to list all the orders with tree as a dropdown and let user select o

[2019-05-10 00:52] mshukla1 commented on #2277
#1264 duplicate. closing this one. keeping other open.

[2019-05-10 00:53] mshukla1 commented on #1264
#2277

[2019-05-10 00:55] #2277 closed, assigned to aswarren

[2019-05-10 00:59] nconrad commented on #2277
I forgot to comment on this.  Jim and I discussed this, and we think a large (or all) the confusion was that the API request was slow, and so he never saw any message at all.

I agree that a detailed message is better than removing the tab anyhow.

[2019-05-13 13:14] chmao1 commented on #621
Fixed and available in production

[2019-05-13 13:14] #621 closed

[2019-05-13 13:15] chmao1 commented on #619
Fixed and available in production

[2019-05-13 13:15] #619 closed

[2019-05-13 18:42] dawenx commented on #2256
@mshukla1 any update on this? we could keep this ticket open, but i prefer to close it if we do not have active plan to support it.

[2019-05-13 19:07] dawenx commented on #1882
i checked out uniprot site, but it's not clear to me how to classify. if you could add a group name for each id type, then export a list similar to uniprot, i can update the UI to reflect your list. we can order group by importance, but i strongly suggest to order id types within a group alphabetically. @mshukla1

[2019-05-13 19:13] dawenx commented on #2019
@ARWattam if back-end does not support SRA, i suggest to close this issue and add **wontfix** label.

ps. i will make another pass on outstanding issue like this that assigned to me in a week or so and **close** them if there's no update...

[2019-05-13 19:33] ARWattam commented on #2019
But it should do it!  We have enabled it for RNA-Seq, Assembly, Metagenomic Read Mapping, Taxonomic Classification.  I don’t understand why we can’t do this for Variation.

From: Dawen Xie <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Monday, May 13, 2019 at 3:13 PM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: "Wattam, Rebecca (

[2019-05-13 19:35] dawenx commented on #2019
@ARWattam i agree. sorry i mentioned wrong person (to give him a push), let me try again: @aswarren

[2019-05-13 19:40] dawenx commented on #1413
i will fix this soon. somehow, it required to provide a tenth digit in the original form... i will relax this constraint to make it the same as other inputs in this form.

[2019-05-13 20:04] aswarren commented on #2019
There is an SRA-import utility that needs to be invoked in the Variation pipeline script.
Relevant links are
https://github.com/PATRIC3/sra_import
https://github.com/PATRIC3/app_service/blob/master/scripts/App-Variation.pl
https://github.com/PATRIC3/app_service/blob/master/app_specs/Variation.json

With examples at
https://github.com/aswarren/Prok-tuxedo/blob/master/prok_tuxedo.py#L319-L322
https:

[2019-05-14 12:36] dawenx commented on #2019
@olsonanl Bob, can you help on the back-end side? Thanks!

[2019-05-14 12:39] dawenx commented on #1562
i'm working on this. a bit involved actually, but on target for May release.

[2019-05-14 12:55] dawenx commented on #2019
@AllanDickerman hi Allan, can you help on the back-end side? an early bird told me that you are the chose one. :)

[2019-05-14 13:15] dawenx commented on #1801
i personally don't think this issue can be resolved in p3 unless @dmachi disagrees and suggests a clear path to move forward...

[2019-05-15 19:16] ARWattam opened #2278 "Disconnect between global search results and number of genomes that actually exist"
Searching for Intestinimonas and when I do global search under Taxa, it says there are 6 genomes.  When I click on the link and go to that page, there are only 3 genomes.
<img width="1616" alt="Screen Shot 2019-05-15 at 3 14 30 PM" src="https://user-images.githubusercontent.com/11475316/57802640-6fd0e580-7724-11e9-93f3-3443879ca1ed.png">
<img width="438" alt="Screen Shot 2019-05-15 at 3 14 22 PM"

[2019-05-15 19:20] ARWattam opened #2279 "GUI uploader seems to be freezing for RNA-Seq data"
Tied to JIRA 2485.  User reports problems with uploading more than 6 RNA-Seq datasets at a time through the GUI.  He says "Whenever I try to upload sequences more than six, the upload will no longer show increase in percentage uploaded and upload seems to be frozen. This happened twice today."

I discussed with Bob, and he said " What I'm guessing is happening is that the GUI uploader is trying to

[2019-05-15 19:55] nconrad commented on #2279
This is related to https://github.com/PATRIC3/patric3_website/issues/608.  I'll see what I can do for May.

[2019-05-21 19:06] rkenyon commented on #2272
Waiting on JVM license, then ready for deployment.  Looks good from website, looks good. Currently behind Beta site.

[2019-05-21 19:11] rkenyon commented on #2271
Bob testing it now.  Trying using old jobs against new scheduler.  Still doing some tuning by service.  Replaces the application service. Switching from Awe scheduler to RDB that keeps up with job status and history (minus PATRIC staff). Try to deploy week of May 27 at least in Beta?

[2019-05-21 19:16] rkenyon commented on #2274
Need to include Dawen (and others?) in the thread.  For now, Bob can use current UI form to run the service.  Allan has been providing the CL script.  Need to give some thought how we handle mixed long and short reads, in terms of deducing read type, and trade offs between methods.

[2019-05-21 19:28] rkenyon commented on #2273
Looking into a error in the interface.  UI is there but not in main menu so we can continue testing.

Could use trimming part as part of pre-processing for Assembly Service like we do for SRA, but needs to be coordinated with Allan.

[2019-05-21 19:31] rkenyon commented on #2270
Trying to get on Alpha by Friday May 24 for testing. Can switch between the old and new for testing.  Will need to update documentation.

[2019-05-21 19:51] dawenx commented on #1413
This is on alpha, please verify and close. @mshukla1

[2019-05-21 19:51] dawenx commented on #1562
This is on alpha, please verify and close. @ARWattam

[2019-05-21 19:55] bparrello commented on #2267
The difficulty here is that it would be really hard to hit the link, since it's usually a single digit.  If we added the word "feature" to make the text bigger, then it would lose its similarity to the previous column for comparison purposes.  I am not sure what the best answer is, and would like feedback from multiple people.

[2019-05-21 19:55] dawenx commented on #1801
@mshukla1 @dmachi @rkenyon I added Wontfix label for this issue. Plan to close it in a week or so unless you don't agree.

[2019-05-21 20:00] dawenx commented on #1882
i'm going through my active but stalled tickets... @mshukla1 do you have time to provide the information i requested last week?

[2019-05-21 20:12] bparrello commented on #2054
This has been fixed for some time.  Old results are still busted, but new ones do not have the nesting problem.

[2019-05-21 20:14] bparrello commented on #2053
I can add the sample ID "clonal population from SRS011132" if that would help.

[2019-05-22 10:42] mshukla1 opened #2280 "Provide assembly coverage information"
In the new assembly service, we should provide assembly coverage information as part of the job report, i.e. Assembly coverage =  300x.

We have been asked about this many times by users as, I believe, it is required by genbank submissions and publications.

-Maulik

[2019-05-24 08:52] ARWattam commented on #1562
Verified that it is on alpha and that it works great.  We should move to production asap

[2019-05-24 08:54] #1562 closed, assigned to dawenx

[2019-05-24 17:47] chmao1 commented on #1227
This requires re-design of the keyword search. More discussion is needed.

[2019-05-29 19:26] rkenyon commented on #2265
Just a test for projects

[2019-05-29 19:26] #2265 closed, assigned to rkenyon

[2019-05-29 19:27] rkenyon commented on #2264
Just a test issue for projects

[2019-05-29 19:27] #2264 closed, assigned to rkenyon

[2019-05-29 19:27] rkenyon commented on #2263
Just a test issue for projects

[2019-05-29 19:27] #2263 closed, assigned to rkenyon

[2019-06-03 16:08] mshukla1 commented on #1882
UniProt
        UniProtKB AC/ID
        UniParc
        UniRef50
        UniRef90
        UniRef100
        Gene name
        CRC64
Sequence databases
        EMBL/GenBank/DDBJ
        EMBL/GenBank/DDBJ CDS
        Entrez Gene (GeneID)
        GI number
        PIR
        RefSeq Nucleotide
        RefSeq Protein
3D structure databases
        PDB
        DisProt
Protein-protein interaction databa

[2019-06-03 16:11] mshukla1 commented on #1882
Attached is the list of group names and corresponding id types. Could not put it in the git hub comment as
It does not keep the formatting.

Let me know if you have any questions.

-Maulik

On May 21, 2019, at 3:00 PM, Dawen Xie <notifications@github.com<mailto:notifications@github.com>> wrote:

i'm going through my active but stalled tickets... @mshukla1<https://github.com/mshukla1> do you have t

[2019-06-03 16:21] mshukla1 commented on #1413
I just tried it. The integer numbers work fine now. However, if I enter a non-integrer value, it complains that "The value entered is not valid", but doesn't say what the valid values are!

Please change the message to "Please provide an integer value" for both min contig length and min coverage input boxes.

<img width="428" alt="Screen Shot 2019-06-03 at 11 16 29 AM" src="https://user-images.git

[2019-06-03 16:22] dmachi commented on #1939
PR  #876
Needs verification on dev server

[2019-06-03 16:29] mshukla1 commented on #2272
As I mentioned in my email to the group, migration of the database to SolrClould is complete.

[2019-06-03 16:29] #2272 closed, assigned to mshukla1, hyoo

[2019-06-03 16:31] mshukla1 commented on #2190
This has been fixed with the migration to solr cloud. Now, when searched by taxon id, it appears at the top of the search results.

<img width="1357" alt="Screen Shot 2019-06-03 at 11 30 14 AM" src="https://user-images.githubusercontent.com/1236463/58818175-1527fc80-85f3-11e9-9a35-62675fcd7794.png">

[2019-06-03 16:31] #2190 closed, assigned to hyoo, chris-c-thomas

[2019-06-03 17:26] AllanDickerman commented on #1413
If we are going to have a min-coverage parameter, I have to change the code to add a mapping of reads to assembly, followed by samtools depth.
I believe it would be a good thing to do. User’s may enjoy having a bam file they could look at in the genome browser.
This will take a while to implement and test. Could it come along a little later?

Also, there is no technical reason for the min coverage

[2019-06-03 17:37] mshukla1 commented on #1413
Allan, This tickets was in the context of the current assembly service submission form.

However, is you said, it would be good to have it available in the new service as well, perhaps later.

-Maulik

On Jun 3, 2019, at 12:26 PM, Allan Dickerman <notifications@github.com<mailto:notifications@github.com>> wrote:

If we are going to have a min-coverage parameter, I have to change the code to add a

[2019-06-04 16:13] chris-c-thomas opened #2281 "Build docs entirely in reStructuredText"
*info soon*

[2019-06-04 16:13] chris-c-thomas commented on #2225
Closing. This is still an open issue with the 'recommonmark' plugin and I don't have faith in it being fixed anytime soon.

This will no longer be an issue when all MD files are finished being converted to RST files. Please see #2281

[2019-06-04 16:14] #2225 closed, assigned to chris-c-thomas

[2019-06-04 16:31] chris-c-thomas commented on #1964
Routes are correct. 404s and catch alls can be addressed elsewhere. Closing.

[2019-06-04 16:31] #1964 closed, assigned to dmachi, hyoo, chris-c-thomas

[2019-06-04 16:42] chris-c-thomas commented on #1189
For the most part this is just based on the `<title></title>` tags per #2076 . Improvements have been made but a few scenarios where it's still unhelpful. Will push into next milestone and finish from there.

<img width="301" alt="Screen Shot 2019-06-04 at 11 34 35 AM" src="https://user-images.githubusercontent.com/22353987/58897410-dc088e80-86bd-11e9-987f-5711df315a2f.png">

[2019-06-05 14:54] Tinyman392 opened #2282 "Buttons Overlap in Workspace View"
<img width="1680" alt="Screen Shot 2019-06-05 at 9 52 20 AM" src="https://user-images.githubusercontent.com/5612784/58966360-c9eb2680-8777-11e9-8ab2-faff02b8f43c.png">

The buttons overlap on the top column headers in the workspaces.

[2019-06-05 15:16] Tinyman392 opened #2283 "Not Appearing Act"
Form items don't appear/select if you follow this specific pattern.

1. Go into Assembly Service
2. Click folder icon next to read file 1
3. Select a file (I used /public/PATRIC Workshop/Assembly/SRR3584989_1.fastq)
4. Reset the form
5. Click folder icon next to read file 1
6. Select the same file
7. It doesn't appear

[2019-06-05 15:36] Tinyman392 commented on #2283
This seems to happen on the Metagenomic binning service as well.  It may exist in multiple services.

[2019-06-05 15:53] Tinyman392 commented on #2053
That would help, though it would be useful to be able to determine what SRS011132 is.

[2019-06-05 23:43] nconrad opened #2284 "error messages needed"
Some views (i.e., pathways/subsystems) are currently taking a long time to load.  If there's a server error, we should convey that to the user on all the genome related tabs with something like "server could not be reached" instead of "no results found".

![image](https://user-images.githubusercontent.com/1194246/58997262-6685e680-87c1-11e9-8c27-f9b2df306aa1.png)

[2019-06-06 13:12] jimdavis1 opened #2285 "bad rendering on tree"
The png from of the tree from the tree service looks like this where the names are written over the support values.

![image](https://user-images.githubusercontent.com/7661533/59035397-cf597700-8832-11e9-931a-c718769b7fab.png)

[2019-06-06 15:34] dawenx commented on #2283
@Tinyman392 sorry, we have not fixed it this one and it's related to the same 2 issues you reported earlier: #2142 #2247

I will give this high priority when i'm back from my trip on 06/17.

[2019-06-06 15:36] dawenx commented on #2282
@nconrad can you take a look? thanks.

[2019-06-06 15:38] dawenx commented on #2285
@AllanDickerman can you take a look? is this generated from the back-end?

[2019-06-07 03:56] bparrello commented on #2053
I have added a parameter to the  main binning script to allow the invoker to specify the genome name suffix (the default remains "clonal population").  We can use it in the future to give (for example) the user the ability to specify the names.

[2019-06-07 03:59] bparrello commented on #2104
Has this ever recurred? The code has been revised extensively in the past 9 months.

[2019-06-07 04:47] Tinyman392 commented on #2053
Is this just on the CLI or on the website as well? I can’t seem to find it on the website, I’ve filled out both the Output Name and Genome Group Name and neither of them seem to change the genome name.

[2019-06-07 15:52] bparrello commented on #2053
All I did was update the underlying software.  Bob and the crew need to decide how they want to utilize it and what user updates are needed; then they need to install it.  I don’t expect any of that to happen until after the next release, though.

[2019-06-07 15:55] Tinyman392 commented on #2053
Ok, thanks Bruce, just confirming that it wasn't live on the website yet.

[2019-06-07 16:39] rkenyon opened #2286 "Not able to log in to Model SEED using PATRIC credentials"
I ran a Model Reconstruction job and when I chose the View option, it takes me to the ModelSEED site where I can log in as a RAST or PATRIC user.  I tried my PATRIC login credentials, but just get a forever spinning login:
<img width="684" alt="Screen Shot 2019-06-07 at 12 35 42 PM" src="https://user-images.githubusercontent.com/3188570/59119642-4a995680-8921-11e9-811c-9ca03a6f1b02.png">

[2019-06-07 19:07] nconrad commented on #2286
I looked into this and there was a modelseed upgrade that resulted in breaking both modelseed sign-ins.  So, just waiting on the modelseed team to push the fix now.

[2019-06-07 20:52] nconrad commented on #2286
This should be fixed now (on the ModelSEED side).  @rkenyon would you mind testing and close as needed?

The linkage with '?login=patric' in url originally defaulted the prompt to the PATRIC sign-in, but that seems to have stopped working in chrome.  It still works in firefox/safari.

[2019-06-10 18:03] mshukla1 opened #2287 "Phylogenetic Tree: ignore deleted genomes in genome groups"
Some of the genomes in a user created genome group were deleted from the database because of bad quality, as part of data clean up.

User tried to use this genome group for constructing tree and the tree service failed with the error saying it could not find those genomes in the database.

Please update the service to ignore the deleted genomes, or list them in the job report, but then continue co

[2019-06-10 19:32] AllanDickerman commented on #2287
Ok, I believe I can test for the existence of a genome prior to requesting the PGFams. I'll try to have that by tomorrow.

[2019-06-11 19:50] #2133 closed, assigned to nconrad

[2019-06-11 19:51] #2268 closed, assigned to nconrad

[2019-06-12 16:31] #2286 closed, assigned to nconrad

[2019-06-13 14:47] mshukla1 opened #2288 "RNA-seq: Tuxedo pipeline deprecated"
This was reported by one of the users during Seattle Workshop.

Data analyzed with Cufflinks in particular were reported to be susceptible to batch effects. The tuxedo pipeline was replaced in 2016 with https://www.nature.com/articles/nprot.2016.095 according to https://www.biostars.org/p/327842/

We need to update the algorithms used in the RNA-seq service to make sure it uses the latest and wide

[2019-06-13 15:09] chris-c-thomas commented on #2284
@nconrad should I be checking for 502 specifically, all 5xx error codes, or a combination of codes?

[2019-06-13 15:52] nconrad commented on #2284
I would give generic message for all 5xx level errors for now.   I suspect that the error codes aren't accurate.  I think the above is technically a 504.

For 4xx level (since we don't use 404):

"No results were found.  This could be because this data is currently being indexed in the PATRIC database, it does not exist, or you do not have read privileges."

[2019-06-14 18:41] rkenyon commented on #2238
@nconrad  all of the service user guides now use ## Output Results for that section of the guide. So, please update the links as needed.

I promise to never update link titles again...hopefully.

[2019-06-14 18:42] rkenyon commented on #2238
All pending user guide updates complete

[2019-06-14 18:42] #2238 closed, assigned to rkenyon

[2019-06-17 15:13] ARWattam commented on #2284
the sooner we can do this the better.  We just had a workshop with the usual long delays.

[2019-06-18 18:14] #1801 closed, assigned to dmachi, dawenx

[2019-06-18 18:15] chris-c-thomas opened #2289 "Remove all build errors in p3_docs"
Self explanatory. There's a lot. Many are the same and I'll have it cleaned up.

![p3_docs-build-errors](https://user-images.githubusercontent.com/22353987/59708748-06347300-91cb-11e9-857a-a65834ae637f.png)

[2019-06-18 18:28] dawenx commented on #1413
@mshukla1 i just updated invalid message for both "min contig length" and "min contig coverage" and it's in PR 878.

@AllanDickerman this issue is for current assembly service and it was open more than 2 years ago. it was assigned to me on in april this year. anyway, i think i have fixed it now.

[2019-06-21 15:23] aswarren commented on #2288
Note, it is not the whole tuxedo pipeline.
Back in 2016 we did replace Cufflinks with Stringtie. Stringtie crashed a lot. So we reverted.
It is still wrapped in the prok tuxedo code so we can try it again now.
Also note we would still likely use cuffdiff instead of ballgown.
@chmao1 can comment further.

[2019-06-21 15:29] ARWattam opened #2290 "Discrepancy in filtering of genome data from Genome tab-Bacteriophage"
I loaded all bacteriophage data, went to the genome tab, and then clicked on Synechococcus as host.  It should have 97 total genomes at that point, but instead there are 157.
<img width="1125" alt="Screen Shot 2019-06-21 at 11 25 39 AM" src="https://user-images.githubusercontent.com/11475316/59933626-d75f0c80-9417-11e9-8d2e-fdeca8b75ae1.png">

[2019-06-21 15:59] dmachi commented on #2290
I think this is because while Synechococcus has 97 in the list, it is also including things like Synechoccoccus sp WH8102, Synechoccus sp WH7803, Syynchecoccus CB0101, etc because of the way the search in SOLR is working.  I know we’ve seen this same thing before with Human and Human,Homo Sapien and cases like that.

[2019-06-21 16:03] ARWattam commented on #2290
Ah.  That does explain it.  Thanks.  I will try sorting on the host column to see it I get my 97 back.

From: Dustin Machi <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Friday, June 21, 2019 at 11:59 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: "Wattam, Rebecca (arw3s)" <wattam@virginia.edu>, Author <author@noreply.github.com

[2019-06-21 17:38] nconrad opened #2291 "Registration bug / issues"
To replicate:

1) click registration
2) close the dialog
3) open it again

There's now a dialog with an "update profile" button, registration doesn't work, and the user isn't told anything.

[2019-06-23 15:44] ARWattam commented on #2290
Still, I have been thinking about it, and I clicked on the one host that had 97 genomes.  It would be different if I did the keyword search at the top.  I still think that if I have that particular selection, it should give me that particular result.

[2019-06-25 06:04] chris-c-thomas commented on #2289
<img width="322" alt="Screen Shot 2019-06-25 at 1 03 10 AM" src="https://user-images.githubusercontent.com/22353987/60073095-1f668380-96e5-11e9-9137-b332a507a5d6.png">

Up to about 230 warnings consistently so will take care of that.

[2019-07-01 19:55] nconrad commented on #2243
This is on prod.  It's not perfect because the top summary has to be loaded for the link to point to the user guide (among other reasons).... but it's probably good enough for now.

![60462776-d85e1e00-9c0f-11e9-8342-d47798f721d6-1](https://user-images.githubusercontent.com/1194246/60462904-312db680-9c10-11e9-8735-67feb2780231.png)

[2019-07-02 19:07] #2273 closed, assigned to aswarren

[2019-07-02 19:07] #2186 closed, assigned to aswarren

[2019-07-02 19:08] aswarren commented on #2159
It is present as a transcripts.txt, but it needs to be named appropriately.
We will try to do a naming overhaul as part of the hackathon.

[2019-07-02 19:09] aswarren commented on #2159
Duplicate as of https://github.com/PATRIC3/patric3_website/issues/2155

[2019-07-02 19:09] #2159 closed, assigned to aswarren

[2019-07-02 19:10] aswarren commented on #2141
I haven't been able to reproduce this either.
We can reopen when we can make it reproducible.

[2019-07-02 19:10] #2141 closed, assigned to aswarren

[2019-07-02 19:24] aswarren commented on #1937
It seems that the job object was simply empty in this case.
For the link provided the job object is empty in chrome and safari.
This works if the job object is populated:
https://www.patricbrc.org/workspace/public/PATRIC@patricbrc.org/PATRIC%20Workshop/RNA-Seq/Acinetobacter_AMR_treatments

[2019-07-02 19:24] #1937 closed, assigned to aswarren

[2019-07-02 19:32] aswarren commented on #1843
We may be able to add this the API call that is made specifically for the GFF used by RNASeq.
Will require API modification here:
https://github.com/PATRIC3/p3_api/blob/master/media/cufflinks%2Bgff.js

[2019-07-02 19:34] aswarren commented on #1799
This has been fixed for a bit. https://github.com/aswarren/Prok-tuxedo/commit/20a634e886b4b06423c323877c25906f922b7ffe

[2019-07-02 19:34] #1799 closed, assigned to aswarren

[2019-07-02 19:37] aswarren commented on #1657
I believe this has been fixed.

[2019-07-02 19:37] #1657 closed, assigned to aswarren

[2019-07-02 19:40] #1413 closed, assigned to dawenx

[2019-07-04 13:03] ARWattam opened #2292 "Compare Region Viewer is not loading"
A user reported this and I checked it using fig|83332.12.peg.2473

The error message returned says "Failed to load resource: the server responded with a status of 500 (Internal Server Error)"

[2019-07-09 19:12] aswarren commented on #2002
Jobs have been run out of the public workspaces many times since then.
Closing this for now.

[2019-07-09 19:12] #2002 closed, assigned to aswarren, olsonanl

[2019-07-10 18:11] olsonanl opened #2293 "Crash in data api"
The following query crashes the data api with an out of memory error:

[code]

It appears from looking at strace output that the Node code is reading the entire output from Solr and then trying to write; is there a reason we can't stream the data from Solr to the client without reading it all into memory?

[code]

[2019-07-10 18:33] aswarren opened #2294 "rna-seq interface"
We've decided to deprecate Rockhopper. Dawen can you remove it from the recipe dropdown in the RNA-Seq interface?

[2019-07-10 18:59] dawenx commented on #2294
yes sir, I will take care of it soon.

@rkenyon @ARWattam Can you update user guide and tutorial as well? Looks like Rockhopper is shown in the screenshot.

[2019-07-10 19:02] dawenx commented on #2292
look like this was a temporary issue due to certificate update, i just verified it's working now.

[2019-07-10 19:02] #2292 closed, assigned to nobody

[2019-07-11 15:08] olsonanl opened #2295 "Workspace sharing dialog broken"
If you try to share a workspace with enough users that the dialog needs to scroll, it snaps over and cover up the rest of the window that has the button to effect the sharing change. See video.

https://youtu.be/eGuLbt6kw48

[2019-07-11 15:10] olsonanl commented on #2295
Now I find I can scroll down to find the button, but the behavior is still pretty bizarre and it wasn't obvious that I had to do that scroll.

[2019-07-11 15:22] chmao1 commented on #111
It seems that these fields (PubMed | Accession | Organism | Strain | Gene Modification | Experiment Condition | Time Point | Release Date) from the metadata file are not fetched and saved by the ExpressionImport app service and the information is not available in sample.json file.

@aswarren could you take a look at your app service program (expression_transform.py) and fetch these fields from the

[2019-07-11 19:10] olsonanl opened #2296 "Genome names are wrapping in the middle of words"
In the organism info for a genome, if the genome name needs to wrap it's wrapping it in the middle of a word - see attached. It should break on spaces in the name

<img width="987" alt="image" src="https://user-images.githubusercontent.com/2152226/61078080-78246480-a3e5-11e9-922d-8f262a5a407b.png">

[2019-07-11 19:44] nconrad commented on #2296
Agreed.  Will fix.  Thanks.

[2019-07-11 20:32] AllanDickerman opened #2297 "fastqc tools fails to use private genome for mapping"
selecting a private genome to map against, fastqc utils fails with error from bowtie2-build that fasta file is empty

[2019-07-12 18:57] chmao1 opened #2298 "Comprehensive Genome Analysis: Figure 3 is missing from the report"
Figure 3 is missing from FullGenomeReport.html

![image](https://user-images.githubusercontent.com/6361802/61151889-97d29000-a4ac-11e9-9752-66faed99dcff.png)

[2019-07-15 14:19] #2281 closed, assigned to chris-c-thomas

[2019-07-17 17:09] nconrad commented on #2298
We think this was related to the Data API being down.  @chmao1 did you confirm this no longer an issue?

[2019-07-17 17:38] chmao1 commented on #2298
This is still an issue. I reran the test after the DATA API came back last Friday and the figure 3 was still missing in the report.
Please see:
https://beta.patricbrc.org/workspace/olson@patricbrc.org/PATRIC-QA/applications/App-ComprehensiveGenomeAnalysis/.Salmonella%20enterica%20test_SRR2/FullGenomeReport.html

[2019-07-18 12:07] ARWattam opened #2299 "SRR upload needed on Metagenomic Binning service GUI"
All services that deal with fastq files should provide this.

[2019-07-18 12:08] ARWattam opened #2300 "SRR upload needed on Variation service GUI"
All services that upload fastq files should have this.

[2019-07-18 14:06] chmao1 commented on #2298
Job ID: 24272

Here is the error output:

Running process 18098 as task 1711
Executing under P3 shepherd 18095
Report headers from /olson@patricbrc.org/PATRIC-QA/applications/App-ComprehensiveGenomeAnalysis/.Salmonella enterica test_SRR2/.assembly/39_analysis.zip: Assembly	# contigs (>= 0 bp)	# contigs (>= 1000 bp)	Total length (>= 0 bp)	Total length (>= 1000 bp)	# contigs	Largest contig	Total len

[2019-07-18 14:09] ARWattam commented on #2298
Shouldn’t the job ID be longer?  Like fe7ab36d-5777-44da-8e0e-4df2224ff939 (one of my recent job ids)?

From: chmao1 <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Thursday, July 18, 2019 at 10:06 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [PATRIC3/patric3_website] Comp

[2019-07-18 14:19] chmao1 commented on #2298
This job was run on PATRIC beta site. It seems that the job id on beta site uses different ID assign system. This one has job id 24272 instead of a long id.

Also, I noticed that on the job result page, it says job ID is 1711, which is task ID. This is confusing.

![image](https://user-images.githubusercontent.com/6361802/61464987-38113480-a945-11e9-80e6-60122223310d.png)

@olsonanl Bob, could you

[2019-07-18 14:22] chmao1 commented on #2298
Here is the display of the job ID on the job status page (Beta site)

![image](https://user-images.githubusercontent.com/6361802/61465368-f03edd00-a945-11e9-82fa-1aa8090fa638.png)

[2019-07-18 15:03] ARWattam commented on #2298
Thanks.  I sent to Bob.  We’ll see what he comes up with.

From: chmao1 <notifications@github.com>
Reply-To: PATRIC3/patric3_website <reply@reply.github.com>
Date: Thursday, July 18, 2019 at 10:22 AM
To: PATRIC3/patric3_website <patric3_website@noreply.github.com>
Cc: "Wattam, Rebecca (arw3s)" <wattam@virginia.edu>, Comment <comment@noreply.github.com>
Subject: Re: [PATRIC3/patric3_website] Compre

[2019-07-18 15:43] olsonanl commented on #2298
This was a permissions problem on the p3 home directory on one of the servers. I've restarted the job, new ID is 24283

[2019-07-19 16:25] chmao1 commented on #2298
@olsonanl The job 24283 is complete. However, the figure 3 is still missing in the report. Here is the link to the report: https://beta.patricbrc.org/workspace/olson@patricbrc.org/PATRIC-QA/applications/App-ComprehensiveGenomeAnalysis/.Salmonella%20enterica%20test_SRR2/FullGenomeReport.html

Here is the error message:
Running process 23139 as task 1723
Executing under P3 shepherd 23136
Report head

[2019-07-23 16:47] chris-c-thomas commented on #2236
Will be addressed in homepage redesign.

[2019-07-23 16:47] #2236 closed, assigned to chris-c-thomas

[2019-07-30 14:22] nconrad opened #2301 "docs nav issue"
1) go to https://docs.patricbrc.org/

2) the nav menu before clicking "Scientific Working Group" is:

![image](https://user-images.githubusercontent.com/1194246/62137181-2287fd00-b2ab-11e9-8b5c-31fa63e14f92.png)

3) after clicking "Scientific Working Group", "Acknowledgements" changes to "Scientific Collaborations":

![image](https://user-images.githubusercontent.com/1194246/62137264-45b2ac80-b2ab

[2019-08-04 15:48] mshukla1 opened #2302 "Taxonomic classification: expose organism specific databases as options"
This came up in the phage workshop.

The default kraken2 database consists of bacteria, archaea, viruses, phages, eukaryotes and vectors.

We need to expose each of these as a database option to support the following use cases:

- Exclude contamination from human or other eukaryotic genomes
- Exclude contamination from from vectors
- Map reads that map on only microbes or viruses.

-Maulik

[2019-08-06 14:54] #2294 closed, assigned to dawenx

[2019-08-06 15:12] chris-c-thomas commented on #2076
Front matter is being addressed elsewhere.

[2019-08-06 15:12] #2076 closed, assigned to hyoo, chris-c-thomas

[2019-08-06 15:48] ARWattam commented on #2294
I will change the tutorial by end of August

[2019-08-06 18:40] mshukla1 opened #2303 "Circular Viewer: label for custom tracks"
When I create custom feature tracks using keywords, those tracks are labeled as Custom Track 1, Custom track 2, etc, which is not very informative as legends. However, when I mouseover . on those labels, I get more detail about the keywords used in the tooltip.

For the tracks used using Keywords, we should use keywords as the track labels.

-Maulik
<img width="379" alt="Screen Shot 2019-08-06 at

[2019-08-07 00:52] dawenx commented on #2283
@Tinyman392 just wanted to let you know that we are not forgetting these issues. in fact, @nconrad and I looked at them together and we think these are related issues. we narrowed the area of focus, but we do not have a fix yet.

[2019-08-09 17:28] chmao1 commented on #2303
Is it better to provide an input text box "track name"  in "Add custom tracks" and "Upload your own data" to allow users to name their tracks?

[2019-08-09 18:11] #2243 closed, assigned to nconrad

[2019-08-15 15:16] olsonanl opened #2304 "Similar genome finder against private data"
We'd like to support  the ability to use private genomes as a target for the similar genome finder.

This will require a mechanism similar to the BLAST service whereby the private genomes are mash-indexed on demand; we'll need to think about how to specify them (for people with many private genomes it may not be reasonable to index all).

Perhaps the right way to do this is to allow finding agains

[2019-08-15 16:31] ARWattam opened #2305 "Automatic BLAST of beginnings of each contigs to identify plamis"
The people at DuPont have an inhouse tool to do this, which gives them an indication if they are the contig is a plasmid or not.  This would be a great thing for us to provide in PATRIC

[2019-08-15 23:17] nconrad commented on #1839
The count was added to the breadcrumbs awhile back.  closing.

[2019-08-15 23:17] #1839 closed, assigned to nconrad

[2019-08-16 19:03] olsonanl opened #2306 "Heatmap download should retain displayed ordering"
The current heatmap tool gets this wrong; we need to make sure it's right in the new one.

If you download data from the heatmap, we need to ensure that the ordering of the rows and columns match what was displayed at the time the download was triggered.

[2019-08-16 19:41] olsonanl opened #2307 "add ability to save images to workspace"
In the places where we can save images of analyses, we'd like the option to save them to the workspace instead of downloading to the client computer.

[2019-08-16 19:44] dawenx commented on #2024
I think I got this one fixed in my local dev and I just wanted to confirm before I go ahead to check in. I followed @mshukla1 and added icons/links on top right (see below screenshot). Note that this is slightly different from @ARWattam 's original request, i.e., adding an icon to vertical green bar for genome overview page.

![Screen Shot 2019-08-16 at 3 41 04 PM](https://user-images.githubuserco

[2019-08-16 20:13] olsonanl opened #2308 "blast against genome group diagnostic possibly needed"
If one blasts against a genome group containing more genomes than the max-hits parameter we might want to add a diagnostic warning the user they might not see what they expect.

[2019-08-20 15:15] dawenx commented on #2042
@Tinyman392 as you mentioned, this was not related to a specific service, so i will update the labels shortly. Do you still see this issue for the latest Firefox and Safari? I did not see it happen when I tested recently.

[2019-08-20 15:29] dawenx commented on #2156
@mshukla1 can we discuss this today in the system call and make a decision?

[2019-08-20 15:35] Tinyman392 commented on #2042
I'm still getting it in Safari 12.1.2 and Firefox 68.0.2.  Though it doesn't happen if you go back to the home page for whatever reason.  So say you go _Organisms_ > _Bacillus_, then go to a service, click a dropdown, then go back (using the button or swiping), the menu should appear in the upper right hand corner still.

Still no issues in Chrome.  I have a feeling that both Safari and Firefox ki

[2019-08-20 15:40] dawenx commented on #2042
thanks for the detailed info, yeah, i'm seeing it in Safari now... like the way you jump from data viewing to service, then back to data viewing. :)

looks to me this is related to "back button" issue we experience from place to place. @dmachi do you have suggestion/insight on this?

[2019-08-20 15:44] dawenx commented on #2042
from my testing, it looks like this happens as long as we have "data viewing to service, then back to data viewing", no matter what tab in data viewing and what service we are using.

[2019-08-20 20:45] mshukla1 opened #2309 "Solr: add patric_id to copy field in sp_gene core"
In sp_gene core, patric_id needs to be added to the copy / text field  so that it can be searched using global search.

-Maulik

[2019-08-20 20:46] mshukla1 commented on #2309
We may have to reindex the core after the schema change to make all records searchable by patric id.

[2019-08-22 14:18] chris-c-thomas commented on #2224
Removed.

[2019-08-22 14:18] #2224 closed, assigned to chris-c-thomas

[2019-08-23 19:17] dawenx commented on #2299
this is not just a UI issue. we have a duplicate ticket (#2017) on this, according to @olsonanl , the back-end of metagenomic binning service does not support SRR.

[2019-08-23 19:19] dawenx commented on #2300
Similar issue here -- this is not just a UI issue. we have a duplicate ticket (#2019) on this. Looks like the back-end service does not support SRR yet.

[2019-08-27 18:35] nconrad commented on #2306
Adding the specific issue here:

"The case that broke was an expression import data set where we had subselected by log value, and then clustered.

We drew a box around the whole data set and the result had rows in a different order than the display"

[2019-08-30 15:50] olsonanl opened #2310 "p3-cp with trailing slash fails"
If you use a source path in the workspace with a trailing slash, p3-cp results in zero length files.

[2019-09-03 20:22] ARWattam opened #2311 "Subsystem heat map not loading"
I went to the landing page for Brucella ovis, which includes 15 genomes.  I click on the Subsystems tab.
Then I clicked on Subsystems and, when that loaded, clicked on Histidine Biosynthesis.  When I clicked on the heatmap view, it never loaded:
https://patricbrc.org/view/SubSystemMap/?taxon_id=236&genome_ids=1293922.3,1293913.3,1293916.3,1293919.3,1293920.3,1198678.3,236.3,1169230.3,1169231.3,116

[2019-09-03 20:27] mshukla1 commented on #2311
Not sure what happened there. However, I just tried it and it loaded for me, both, with and without reference genomes.
Screenshots attached.

Can you please try again and see it the problem persists?

[cid:78B967C5-6714-4B7C-B9EB-A41A82CFF039@cels.anl.gov][cid:1D84DDE7-010B-4D82-B9CF-EFD9CCDFFFDF@cels.anl.gov]

On Sep 3, 2019, at 3:22 PM, ARWattam <notifications@github.com<mailto:notifications@git

[2019-09-03 20:28] nconrad commented on #2311
Thanks.  I have this (sometimes-hard-to-replicate) issue captured in another ticket here: https://github.com/PATRIC3/patric3_website/issues/2246

This is an issue I've sort of dreaded addressing with the new heatmap...  but, now's the time!

[2019-09-03 20:28] #2311 closed, assigned to nobody

[2019-09-04 19:07] ARWattam commented on #2311
Just happened again for me, this time with Shigella.
https://patricbrc.org/view/SubSystemMap/?taxon_id=620&genome_ids=300267.13,198214.7,766154.3,300269.12,624.361,300268.11&subsystem_id=Arsenic_resistance&genome_count=5&role_count=6&gene_count=40&genome_name=Shigella%20dysenteriae%20Sd197&display_reference_genomes=false

<img width="1665" alt="Screen Shot 2019-09-04 at 3 06 34 PM" src="https://us

[2019-09-04 19:47] ARWattam commented on #2311
It keeps happening to me, so I don't think that its closed!
<img width="1665" alt="Screen Shot 2019-09-04 at 3 06 34 PM" src="https://user-images.githubusercontent.com/11475316/64286339-4d5d1500-cf2b-11e9-8674-f567b84e1044.png">
That is all Shigella

[2019-09-04 19:50] mshukla1 commented on #2311
Again, not sure, what happened there. It worked for me.

I am sure there is a problem, not sure how to reproduce or trace it.

Given we are close to launching new viewer, I think it is better to make sure it doesn't happen with the new viewer.

-Maulik

[cid:8F61DF7C-1376-4719-9233-B96D9D840EAE@cels.anl.gov]

On Sep 4, 2019, at 2:07 PM, ARWattam <notifications@github.com<mailto:notifications@githu

[2019-09-25 20:30] olsonanl opened #2312 "Website sends app service requests when logged out"
The patric site is sending query_task_summary requests to the app service even when the website is logged out, trigging errors every time

==> /disks/p3/var/services/app_service/access.log <==
140.221.78.41 - - [25/Sep/2019:15:29:28 -0500] "POST /services_test/app_service_test HTTP/1.0" 500 202 "https://beta.patricbrc.org/view/Genome/93059.6" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/

[2019-10-07 23:37] ARWattam opened #2313 "Genomes have features with EC numbers assigned, but overview page says 0 annotated"
User ID: katinker

9cd5dcca-84b5-4711-9d2c-5c55890a7a71
e9bf0649-edf3-4476-a973-f342de865f1b
0429859a-5bf5-45b7-9f1f-84e7c24dda5d
aa406837-ffe3-4d26-95d4-f01753135651
787d97bc-2a3f-4c30-a96c-edd4aa211110
63ed5f6e-2570-4626-906d-a1dd156ac090
2391a417-813d-4b7b-b796-3e991f881dbd
f076c1eb-9be3-4d5a-a14c-54db8bdeaeff
a543a55c-080a-4373-a14c-9167d5070d5c
f66b3e36-9f9f-4900-a64f-5ca0536727e1
4163d9aa-34

[2019-10-08 14:01] chris-c-thomas commented on #2275
With the recent changes implemented I'm going to go ahead and close this.

[2019-10-08 14:01] #2275 closed, assigned to rkenyon, chris-c-thomas

[2019-10-08 14:02] chris-c-thomas commented on #2289
Issues have been taken care of. Will monitor and fix as needed in the future.

[2019-10-08 14:02] #2289 closed, assigned to chris-c-thomas

[2019-10-14 16:19] ARWattam opened #2314 "Add Sequence IDs to be able to look at genomes without their plasmids in the Protein Family Sorter"
This is a specific request from a power user:
I am trying to specifically compare a variety of bacterial chromosomes using the Protein Family Sorter.  However, the PATRIC genomes for some of these include the plasmids.  For example, Bacillus cereus ATCC 14579 (Genome ID 226900.8) includes two sequences, the chromosome and a plasmid.
Is there a simple way to exclude the plasmids from the analysis?

[2019-10-15 15:47] ARWattam opened #2315 "Codon tree pipeline needs to have a message saying that tree was not generated due to there not being enough shared proteins"
The codon tree jobs show as completed, even if they did not generate a tree.  When that happens, they did not generate a tree because the user included a plasmid (most of the time).  There needs to be some sort of message returned that tells the user that, so that they do not submit a ticket saying they didn't get the tree of their dreams.

[2019-10-17 17:03] olsonanl opened #2316 "workspace ftp server crash"
The workspace node.js ftp server crashed with this error. Any ideas?

[code]

[2019-10-17 17:17] dmachi commented on #2316
Was there anything before this in the log? Like “STAT ERROR: ….”?

[2019-10-17 17:30] olsonanl commented on #2316
Yes:

[code]

[2019-10-17 17:45] dmachi commented on #2316
Strange.

The error happens when it cannot retrieve that file’s data meta object from the workspace api.  I su’d to that account and the file does exist, so its not clear to me why that part was happening in the first place.

Outside of that, it doesn’t seem like the ftpd server is capturing an error from that stat() operation it is calling.  I am throwing an error in this case,  but perhaps I’m n

[2019-10-19 01:00] nconrad opened #2317 "return type in new app service"
For the new app service API, the second value returned by `enumerate_tasks_filtered` (the total number of records) is a `string` instead of `int`.

![image](https://user-images.githubusercontent.com/1194246/67135674-b0f08880-f1e1-11e9-8b1d-5e01ffaadfaa.png)

[2019-10-19 14:24] olsonanl commented on #2317
fixed

[2019-10-21 15:40] dawenx commented on #1750
add mouse enter event to display a popup for selected object's full path, popup is close when mouse leave. since the fix is on WorkspaceObjectSector level, ALL services would have this kind of behavior. Showed @ARWattam my fix before committing and she is fine with that. The fix is in PR 915.

[2019-10-21 15:43] dawenx commented on #2024
**View** button (for genome overview page) and **Report** button (w/ a different icon) for full genome report are added. this fix is in PR 915.

[2019-10-21 18:25] nconrad commented on #2317
Confirmed.  Thanks.

[2019-10-22 15:04] chris-c-thomas commented on #2137
Per the new homepage design:

![Screen Shot 2019-10-22 at 10 04 04 AM](https://user-images.githubusercontent.com/22353987/67300262-52fac400-f4b3-11e9-92ac-a4f4bb4765ce.png)

[2019-10-22 15:04] #2137 closed, assigned to chris-c-thomas

[2019-10-22 15:07] chris-c-thomas commented on #2048
Is this still an issue? I don't experience it in day to day things but if I load incognito or with cleared cached I do, which is to be expected.

[2019-10-22 15:14] Tinyman392 commented on #2048
I haven't seen it lately.