[2017-11-13 16:39] olsonanl commented on #1784
I’ve made this argument before. The right solution is for the client to block, since only the client knows whether the upload completed successfully and whether it will ever complete successfully. I haven’t heard a good argument for it to be any other way.

On Nov 13, 2017, at 10:23 AM, hyoo <notifications@github.com<mailto:notifications@github.com>> wrote:

checking the uploaded file size would h

[2017-11-13 16:51] olsonanl commented on #1782
Hm, I don’t know but I can check. It looked like it worked but didn’t do anything once the drop happened.

I just tried in firefox and chrome and it appeared to work properly (Ubuntu 14.04). I’ll ping Rob on his versions.

On Nov 13, 2017, at 10:25 AM, hyoo <notifications@github.com<mailto:notifications@github.com>> wrote:

As far as i know, drag and drop is supported by chrome browser only. Did h

[2017-11-14 13:29] jimdavis1 opened #1787 "Assembly service won't take a valid ERR number"
I just dumped an err number "ERR1008629" into the SRA run accession box for the assembly service and it did not work.  This should be a valid SRA accession number even though it originated from ENA.

[2017-11-14 13:33] mshukla1 commented on #1787
I have seen the same problem. I think the service is expecting the accession to start with ERR. It needs to be fixed.

Sent from my iPhone

[2017-11-14 21:45] dawenx commented on #645
this is part of static content management now. all in-line help for services had been moved to p3_docs by harry and me and they are currently on alpha. suggest to close this ticket.

[2017-11-14 22:14] nconrad commented on #1735
this is on alpha

[2017-11-14 22:15] nconrad commented on #1735
whoops... I misread.  @jimdavis1 do you think this "fixed" on alpha?  It isn't exactly what you asked for, but may suffice for time being.

[2017-11-15 17:15] dawenx commented on #1085
Assuming the back button is not the one provided by the browser, in stead, it's at the bottom of the page to navigate to previous set of the results, then this issue has been solved. (See "Grid general: Cannot select across pages", #1719)

[2017-11-15 17:49] dawenx commented on #296
@nconrad this is a pretty old ticket, since you are our workspace guru now, can you check? i can reproduce step 2, but step 3 seems to work, at least, "home" was left in the output folder after I clicked the 'Parent Folder' item, and then selected home.

[2017-11-15 17:53] olsonanl opened #1788 "importing genbank files without translations can result in features without translations"
The crash in the proteome comparison tool at the tutorial this week was a result of feature fig|1945512.3.peg.14 not having a translation. That feature derived from the genbank file https://www.ncbi.nlm.nih.gov/nuccore/CP019799.1 which has no translations at all in it. The feature in question is this:

     gene            complement(8925..9241)
                     /locus_tag="B0D95_00035"

[2017-11-15 17:57] olsonanl opened #1789 "proteome comparison crashes on empty sequence"
If one of the protein sequences that is pulled as input to the proteome comparisons is empty, it will crash. https://github.com/TheSEED/app_service/commit/91034c745458b21f3c921c4673e4620e404025bc fixes this.

The errors show up as
[code]

[2017-11-15 17:57] #1789 closed, assigned to nobody

[2017-11-15 19:00] ARWattam opened #1790 "Vertical green bar should be scrollable"
SEveral participants have not been able to get to the correct icon because it is not scrollable.  They have requested that this be way.  There has been a bit of frustration over this issue

[2017-11-15 19:18] ARWattam opened #1791 "Workshop participant requests Phaster as part of PATRIC"
PHASTER (PHAge Search Tool Enhanced Release) is a significant upgrade to the popular PHAST web server for the rapid identification and annotation of prophage sequences within bacterial genomes and plasmids.

There was some discussion of phage annotation in PATRIC during the workshop.  Seems like people would like this

[2017-11-15 19:20] ARWattam opened #1792 "Workshop participant requests ability to analyze reads that did not map for assembly"
for plasmids as well as for phages

[2017-11-15 19:38] ARWattam opened #1793 "Reseting annotation page prevents autoload of taxon id when name is entered"
Several participants of the workshop have reported this.  After they submit their first annotation job, they hit the reset button and start to put in the information.  If they try and enter the name of the organism, the taxon ID will not autoload.  They get stuck here, and have to go away from the page and then come back to it.

Its true that if they know the taxon id, they can enter that and the

[2017-11-15 19:40] ARWattam opened #1794 "Workshop participant requests Spades hybrid assemblies of long and short reads"
Apparently this is already a part of spades, allowing users to assembly both long and short reads together.  A savvy workshop participant requested this upgrade for the PATRIC assembly pipeline.

[2017-11-15 19:58] dawenx commented on #1790
this is fixed, PR submitted.

@ARWattam this is NOT in the alpha yet, it will be rolled out some time later.

[2017-11-15 20:27] dawenx commented on #1793
i'm able to reproduce the issue, working on a fix.

[2017-11-15 21:50] jimdavis1 opened #1795 "inconsistency in the number of PATRIC CDSs"
When I search for this genome, the table says that there are 1003 patric cdss, but when I click on the genomes and bring up the feature page, there are only 752.

![image](https://user-images.githubusercontent.com/7661533/32862108-91a9aa04-ca1c-11e7-96b8-d598f3f01c67.png)

![image](https://user-images.githubusercontent.com/7661533/32862095-87d0ac9e-ca1c-11e7-89f4-d74ce481042e.png)

[2017-11-15 22:47] dawenx commented on #1793
@ARWattam just a walk-around while we are working on a fix: after clicking on reset, choose a different taxon name (it will populate taxon id), then choose the original taxon name, this time, the taxon id will be populated.

[2017-11-15 23:33] nconrad commented on #296
Yeah, this is fixed since you can select home now.  I've been meaning to auto-select the currently viewed folder (similar to copy/move/etc) to make things easier/intuitive.

[2017-11-15 23:33] #296 closed

[2017-11-16 14:58] ARWattam opened #1796 "CLI tutorial is missing pieces"
When I click on "Installing the Command Line interface" it goes to an empty page:
http://docs.patricbrc.org/cli_tutorial/cli_installation.html

[2017-11-16 15:37] ARWattam opened #1797 "User need git link for command line tutorial"
This appears to be missing and several of the workshop participants need this.

[2017-11-16 15:38] ARWattam opened #1798 "Request for RedHat distributions of command line tutorial"
This will include Fedora and other large distributions.  Our computational savvy workshop participants are calling (shall I say calling loudly) for this.

[2017-11-16 16:28] dawenx commented on #1797
do you mean the source codes to generate the pages? if so, it is : https://github.com/PATRIC3/p3_docs/tree/master/docroot/cli_tutorial

[2017-11-16 17:33] olsonanl opened #1799 "tuxedo rnaseq pipeline fails on read files with spaces"
'samtools view -Su /scratch/tmp/m0vTd6q_Uk/Rocket/1009714.9/Phage_3_5/replicate1/Phage 3.5_R1.fastq.sam | samtools sort -o - - > /scratch/tmp/m0vTd6q_Uk/Rocket/1009714.9/Phage_3_5/replicate1/Phage 3.5_R1.fastq.bam'

Unescaped command line argument getting through.

[2017-11-16 17:35] olsonanl opened #1800 "Out of memory in Rockhopper"
Rockhopper job  a5ef59bf-5f1f-461d-a04e-12d131900b5c failed with heap memory error:

[code]

[2017-11-16 22:14] hyoo commented on #1771
this is because refseq_locus_tag is empty. i will fix it soon.

[2017-11-16 22:28] #1771 closed, assigned to hyoo

[2017-11-17 12:09] mshukla1 opened #1801 "Feature list: Can't use keyword search from feature list page"
Can't use keyword search from feature list page
-----------------------------------------------

               Key: PATRIC-1152
               URL: https://jira.cels.anl.gov/browse/PATRIC-1152
           Project: PATRIC
        Issue Type: Bug
          Reporter: kcherny1@binghamton.edu
          Assignee: Rebecca Wattam

Version: 3.4.13
URL: https://www.patricbrc.org/view/FeatureList/#view_tab=f

[2017-11-17 12:10] mshukla1 opened #1802 "Provide download from the pathway summary page"
Version: 3.4.13
URL: https://www.patricbrc.org/view/PathwaySummary/
User ID: kcherny1
I can see the pathway list on the pathway summary page, but I can not
download it.

-Maulik for user

[2017-11-17 12:18] mshukla1 opened #1803 "RNA-Seq: replace "|" with " vs " in gmx file"
Currently, in the gmx file generated by the rna seq pipeline, the comparison label contains a pipe,
i.e. sample1|sample2.

The pipe character is not handled well in the flash heatmap viewer, which results in labels not being
displayed. As a quick fix, I am suggesting that the RNA-seq pipeline is changed to use " vs " instead
of "|" in the comparison labels.

This comes up in every single workshop

[2017-11-17 13:22] mshukla1 commented on #1795
As part of genome QC, I am trying to find all cases of inconsistent data in the database. Mismatches in the number of CDSs and genome sequences are part of the checks I am running.

[2017-11-17 14:44] dawenx commented on #1801
I think this is addressed in #1779 in which I enabled "Public" filter on feature tab. The fix is currently on alpha, once it's pushed to the production, the user can use this filter to narrow the list to private features, then (s)he can perform a keyword search.

[2017-11-17 14:47] dawenx commented on #1801
i spoke too soon, the fix is not on alpha yet. but i submitted a PR on 11/15. @hyoo

[2017-11-17 14:48] dawenx commented on #1779
this is fixed, PR submitted on 11/15.

[2017-11-17 14:49] dawenx commented on #1772
decided to remove the query part and only show the number on the top. PR submitted on 11/15.

[2017-11-17 16:06] hyoo commented on #1801
Here is what i understood.
Lets say user has some selected features in the features list,

https://www.patricbrc.org/view/FeatureList/?in(feature_id,(PATRIC.1094551.3.AIME01000001.CDS.30293.30463.fwd,PATRIC.1094551.3.AIME01000001.CDS.28639.28776.fwd,PATRIC.1094551.3.AIME01000001.CDS.27108.28634.rev,PATRIC.1094551.3.AIME01000001.CDS.25960.26895.rev,PATRIC.1094551.3.AIME01000001.CDS.25405.25896.rev,

[2017-11-17 16:24] hyoo commented on #1780
which page is this?
it looks okay this my safari.
<img width="1250" alt="image" src="https://user-images.githubusercontent.com/1236467/32957512-7c8fabe4-cb81-11e7-81bc-ae0c1a2ce034.png">

[2017-11-17 16:29] hyoo commented on #1775
message is not saying your need to **download**, but **enable**

With the images, i cannot tell whether those are from same browser. **Each** browser needs to enable FLASH plugin. Were you using same browser?

[2017-11-17 16:40] #1769 closed, assigned to hyoo

[2017-11-17 16:56] hyoo commented on #1766
in addition to that, Sequenced date is wrong, it is using date_inserted.

![image](https://user-images.githubusercontent.com/1236467/32959045-f5058900-cb85-11e7-94ad-a0521866aba0.png)

http://www.patric.local/search/?keyword(pneumoniae)

[2017-11-17 17:24] hyoo commented on #1758
@jimdavis1 We're waiting your response.

[2017-11-17 17:28] #1757 closed, assigned to hyoo

[2017-11-17 19:29] chmao1 commented on #1766
I'll add genome _id and correct the completion date.

[2017-11-17 22:42] mshukla1 opened #1804 "MSA: tree and MSA don't match"
This was reported by one of the workshop participants.

Version: 3.4.13
URL:
https://www.patricbrc.org/view/MSA/?and(in(genome_id,(643561.4,343013.3,397945.6,573060.9,535289.3,999386.3,1144317.3,1276755.3,232721.9,358220.3,1736280.3,1736296.3,1268622.3,1736492.3,80878.5,1855285.3,596153.4,596154.3,1200791.3,1121116.3,1450524.3,1265502.3,946483.4,80864.16,80864.17,1458425.3,1458426.3,614083.3,12989

[2017-11-20 17:26] olsonanl opened #1805 "Browse genomes buttons vanished from job viewer"
Weren't we able to go directly to the genomes before?

![screen shot 2017-11-20 at 11 25 41 am](https://user-images.githubusercontent.com/2152226/33032033-995f2cf2-cde5-11e7-8cbb-fa3f5889091c.png)

[2017-11-20 17:28] olsonanl commented on #1780
I see it on the feature list at least.

![screen shot 2017-11-20 at 11 27 12 am](https://user-images.githubusercontent.com/2152226/33032088-d261dd1a-cde5-11e7-8bab-cc0cc119ab8f.png)

Safari Version 10.1.2 (11603.3.8)

[2017-11-20 17:33] mshukla1 commented on #1805
I suspect if it has something to do with job type “GenomeAnnotationGenbank”
instead of “GenomeAnnotation”. I don’t see the view icon for any of former ones.

-Maulik

[2017-11-21 16:00] dawenx commented on #1790
this is on production and i verified it. close the ticket.

[2017-11-21 16:00] #1790 closed, assigned to dawenx

[2017-11-21 16:00] #1779 closed, assigned to dawenx

[2017-11-21 16:01] #1772 closed, assigned to dawenx

[2017-11-21 17:33] hyoo opened #1806 "Data API: prevent solr errors"
there are a couple of different types of errors, most cases, those are coming from wrong structured queries.

![image](https://user-images.githubusercontent.com/1236467/33087255-a9152744-ceaf-11e7-88bf-6e34a05b9cfe.png)

Maybe we can check in data API level and respond with Error code and don't pass queries to solr.

[2017-11-21 17:39] hyoo commented on #1806
one relevant log from data api
[code]

[2017-11-21 17:42] hyoo opened #1807 "TaxonNameSelector: don't fire query when keyword is empty"

[2017-11-21 17:43] hyoo commented on #1807
it seems like taxonNameSelector build query based on the keyword that user typed in.

In some case, it fires with empty string, which cause errors like below,
see #1806

some example query is like

[Tue, 21 Nov 2017 17:37:17 GMT] - OPTIONS /taxonomy?q=()%20AND%20(taxon_rank:(superkingdom)^7000000%20OR%20taxon_rank:(phylum)^6000000%20OR%20taxon_rank:(class)^5000000%20OR%20taxon_rank:(order)^4000000

[2017-11-21 18:02] hyoo commented on #1806
maybe relevant to "Cannot parse 'genome_id':"

[code]

[2017-11-28 20:09] zreyn commented on #1756
Deployed in prod.

[2017-11-28 20:09] #1756 closed, assigned to zreyn

[2017-11-28 20:10] zreyn commented on #1778
Deployed in prod.

[2017-11-28 20:10] #1778 closed, assigned to zreyn

[2017-11-28 20:27] zreyn commented on #1805
Maulik is right; since this is a new app type it wasn't in the lists for what gets those blue buttons.

Fixed in [PR#615](https://github.com/PATRIC3/p3_web/pull/615)

[2017-11-28 21:03] #1676 closed, assigned to dmachi

[2017-11-28 21:07] olsonanl opened #1808 "Overwrite doesn't seem to work"
Trying file edit from filezilla and get crash that an overwrite without the overwrite flag being supplied:

createWriteStream() /olson@patricbrc.org/test/.mycoplasma_1/report.html { flags: 'w', mode: 420 }
WorkspaceManager.create():  { path: '/olson@patricbrc.org/test/.mycoplasma_1',
  name: 'report.html',
  type: 'html' }
Workspace.create:  /olson@patricbrc.org/test/.mycoplasma_1/ /olson@patricbr

[2017-11-28 21:17] olsonanl opened #1809 "ftp - delete doesn't work"
Status:      	Deleting "/olson@patricbrc.org/test/.mycoplasma_1/report.html"
Command:	DELE report.html
Response: 	500 DELE: Operation not permitted

[2017-11-29 19:23] enordber opened #1810 "Disappearing upload button when selecting file type"
![screen shot 2017-11-29 at 2 21 57 pm](https://user-images.githubusercontent.com/1380281/33394569-c0b18dea-d510-11e7-80e5-23548bda9dc7.png)
![screen shot 2017-11-29 at 2 22 07 pm](https://user-images.githubusercontent.com/1380281/33394570-c0bf3486-d510-11e7-93b6-641de89055ec.png)
no scroll bar to indicate buttons below.

[2017-11-29 21:19] dawenx commented on #1784
@nconrad i had a discussion with @dmachi on this. i will work on this if you don't mind.

[2017-11-29 21:42] dawenx commented on #1383
this is similar to issue #1784 and i will look into it. it definitely will not be ready for Nov 2017 release.

[2017-11-29 22:01] nconrad commented on #1784
@dawenx sure!  It sounds like you know how to deal with the events.

[2017-11-30 15:51] jimdavis1 opened #1811 "FTP SITE IS BROKEN!!"
How can we have a reference genome that does not exist on the ftp site?
This is E. coli O157:H7 strain Sakai:
![image](https://user-images.githubusercontent.com/7661533/33439823-35062b64-d5a3-11e7-86ca-f49933dc131f.png)

/vol/patric3/downloands/genomes/386585.9/
does not exist

[2017-11-30 15:54] #1811 closed, assigned to nobody

[2017-11-30 16:17] mshukla1 commented on #1811
Because we don’t call it “downloands”! ;)

[2017-11-30 21:35] olsonanl commented on #1703
This is fixed in the latest annotation code.

[2017-11-30 21:35] #1703 closed, assigned to olsonanl

[2017-12-01 13:53] #1521 closed, assigned to dawenx

[2017-12-01 16:07] dawenx commented on #1807
i have fixed it and PR submitted.

[2017-12-04 16:47] ARWattam opened #1812 "ID mapper not working"
I have tried the following using both RefSeq and RefSeq locus tag, and neither returned results.  When I look at the developer view, I see an error that says "p3.theseed.org/services/data_api/genome_feature/ Failed to load resource: the server responded with a status of 404 (Not Found)"

bb0457
bb0836
bb0839
bb0344
bb0467
bba54
bb0431
bb0617
bb0267
bb0434
bb0317
bb0017
bb0631
bb0412
bb0164
bb0473

[2017-12-04 22:13] mshukla1 opened #1813 "Genome groups: can't create groups in a shared workspace"
I just created a shared workspace for a collaboration and I wanted to create fe feature groups / genome groups relevant for the project.

I realized that there is no way to create new groups in the shared workspace. All groups
end up in their default group folders in the home workspace, So, I had to move them to the desired workspace after their creation.

We need to modify the group creation widg

[2017-12-05 17:18] mshukla1 opened #1814 "genome overview: collection date not displayed properly"
https://www.patricbrc.org/view/Genome/573.15432

The collection date looks fine in the solr, however not displayed correctly on the genome overview page.

<img width="347" alt="screen shot 2017-12-05 at 11 15 34 am" src="https://user-images.githubusercontent.com/1236463/33620597-e653ac44-d9ad-11e7-9a7b-632903f11e8f.png">
<img width="423" alt="screen shot 2017-12-05 at 11 15 11 am" src="https://use

[2017-12-05 19:09] dawenx commented on #1813
I will look into this. I need to get some help from @nconrad to better understand workspace first.

[2017-12-05 19:12] #1807 closed, assigned to dawenx

[2017-12-05 19:17] dawenx commented on #1782
@olsonanl have you checked with Rob on this? I tested this in Firefox and Chromium on Ubuntu 16.04 and it worked for me.

[2017-12-05 19:19] dawenx commented on #1767
duplicate issue as #1810

[2017-12-05 19:53] olsonanl commented on #1782
I did - he said to close the ticket as he was not able to reproduce.

[2017-12-05 19:57] #1782 closed, assigned to nobody

[2017-12-06 15:12] dawenx commented on #1784
i think (or hope) i have a fix. i will submit a PR after some codes cleanup. can someone help me out on testing (after it's pushed to alpha)? so far i only test my fix on expected behavior, but i have not submitted any real job.

[2017-12-06 16:25] dawenx commented on #1784
tested on assembly service and PR submitted.

[2017-12-06 16:27] dawenx commented on #1383
@mshukla1 I got a fix, but I only tested it on assembly service. PR submitted. Need help on testing other services/cases when it's on alpha. thanks!

[2017-12-06 16:27] olsonanl commented on #1784
Is it on alpha now?

[2017-12-06 16:28] dawenx commented on #1784
no, not yet.

[2017-12-06 16:57] mshukla1 commented on #1383
Thanks, Dawen. I can help with testing once it is on alpha.

-M

[2017-12-06 18:51] dawenx commented on #1642
The fix in PR 624 might address this issue as well -- i just tested it on my local dev using similar genome finder service and it works for me.

[2017-12-06 18:58] dawenx commented on #1369
@jimdavis1 can you double check to see whether you still have this problem? i was able to upload a fasta file, actually, i was able to upload any random file.

[2017-12-06 19:09] dawenx commented on #1118
@dmachi so the problem was: when a user chooses to upload read file 1 and read file 2 using the same file to a same location? i was able to reproduce it in the production and the 2nd try was not selected (after i chose to overwrite).

when i tested it in my local dev, this is working -- i think this a bonus of recent fix in file upload.

[2017-12-06 19:16] dawenx commented on #543
this is an ancient issue, but it's the same as #1784 and #1383. should be resolved soon.

[2017-12-06 19:23] dawenx commented on #521
i'm going through issues that have "upload" word and saw this one. @rkenyon is this the originator of workflow service we are going to deliver in next march? :)

[2017-12-06 19:39] ARWattam opened #1815 "NaN appears as cell in downloaded text file from heatmap"
I'm not sure what NaN is doing as a value for the number of proteins available in a particular protein family for a specific genome.  Look at attached spreadsheet
[ROS genes PGFams.txt](https://github.com/PATRIC3/patric3_website/files/1536604/ROS.genes.PGFams.txt)

[2017-12-06 21:45] mshukla1 commented on #1804
@maovt : This is critical problem, which may make user question the whole MSA tool. We need to address it asap.

[2017-12-06 21:53] mshukla1 commented on #1797
Bob,

The following page has a link to CLI installation tutorial that leads to a blank page.
https://docs.patricbrc.org//cli_tutorial/index.html

the CLI installation guide seems to be missing on the docs site.
https://docs.patricbrc.org//cli_tutorial/cli_installation.html

We should either modify the first page or add content on the second one.

-Maulik

[2017-12-06 21:54] olsonanl commented on #1798
Do you know if they were asking loudly for RH6 or RH7? I think 7 has much more current packages, but I fear lots of folks are at 6 still. (Ourselves included)

[2017-12-06 21:57] mshukla1 commented on #1792
It would be good if we dump all unassembled reads into a separate file, so that user can take it and analyze it elsewhere.

-Maulik

[2017-12-06 21:58] mshukla1 commented on #1787
Hopefully, this is an easy fix. Most likely, there is a check on the UI or service side, that says the accession should start with SRR, which needs to be changed to SRR or ERR.

-Maulik

[2017-12-06 22:05] mshukla1 commented on #1775
We know heatmap generally works for both protein family and pathway for all browsers after installing and enabling flash. I am closing this unless we can reproduce it.

[2017-12-06 22:07] mshukla1 commented on #1774
I believe this was working by the time of workshop.

@ARWattam, can we close this ticket?

[2017-12-06 22:10] mshukla1 commented on #1768
@ARWattam, I believe this worked for you later, right?

Please comment if you still see the problem.

-Maulik

[2017-12-06 22:11] chmao1 commented on #1804
I'll look into it ASAP.

[2017-12-06 22:12] mshukla1 commented on #1765
/vol/patric3/downloands

Download is misspelled. Closing the ticket.

[2017-12-06 22:13] #1765 closed, assigned to mshukla1

[2017-12-06 22:15] #1760 closed, assigned to nobody

[2017-12-06 22:16] mshukla1 commented on #1758
@jimdavis1, can we close this issue?

[2017-12-06 22:17] mshukla1 commented on #1759
I am thinking it might be a temporary slowness from the database side. Closing the ticket.

[2017-12-06 22:17] #1759 closed, assigned to hyoo

[2017-12-06 22:31] nconrad commented on #1742
I think @olsonanl fixed this server side, right?   closing.

[2017-12-06 22:31] #1742 closed, assigned to nconrad, olsonanl

[2017-12-06 22:34] mshukla1 commented on #1730
Metabolic reconstruction service seems to be working now. closing the ticket.

[2017-12-06 22:34] #1730 closed, assigned to nobody

[2017-12-06 22:35] mshukla1 commented on #1728
@olsonanl, do you know what is going on here?

[2017-12-06 22:37] mshukla1 commented on #1723
@olsonanl , any comments or action needed here?

[2017-12-06 22:47] hyoo commented on #1685
Service usage can be viewed here
https://analytics.google.com/analytics/web/#report/content-event-overview/a11736060w124923404p129251014/%3Foverview-dimensionSummary.selectedGroup%3Dvisitors%26overview-dimensionSummary.selectedDimension%3Danalytics.eventAction/

<img width="992" alt="image" src="https://user-images.githubusercontent.com/1236467/33689463-2a342202-daa5-11e7-9bae-ae900b458dc7.png">

[2017-12-06 22:50] hyoo commented on #585
@mshukla1 @rkenyon @olsonanl Can we close this now?

[2017-12-06 23:06] hyoo commented on #1383
deployed on alpha (3.5.1b).

[2017-12-07 00:38] dawenx commented on #1801
sorry, i don't quite understand this issue. i thought adding 'public' field to the filter solves this issue already. @mshukla1 can you explain a little bit if my understanding is not correct?

[2017-12-07 01:15] olsonanl commented on #1723
my plan is to replace all of the ws-scripts with new p3 ones that act more like their unix counterparts. p3-cp is the first of these.

[2017-12-07 01:16] olsonanl commented on #1728
No, I attribute it to more flaky ws code that I want to replace.

[2017-12-07 01:16] olsonanl commented on #1742
Yes, this should be fixed now by adding timezone to the returned timestamps and making the browsers treat times uniformly.

[2017-12-07 11:52] mshukla1 commented on #1750
I think here are two related issues here.

1. Updating assembly service so that it comes with more meaningful output files names, prefixed by job names...instead of labeling all of them as contigs.fa (similar to how files are names in annotation service). There is a separate ticket for this already.

2. In the job submission interface, show full path or some context of the file in the selection bo

[2017-12-07 12:17] mshukla1 commented on #1463
@hyoo @olsonanl @dmachi is there any action needed here or can we close this ticket?

[2017-12-07 12:25] mshukla1 opened #1816 "Workspace: default sorting for list of groups"
Every time I create a new genome or feature group and then want to see it, I will have to go to the group list page, sort by date created, and then reverse sort it in order to find the group I just created.

I think the default sort order should the most recent first, it will help cut down few clicks for most users.

-Maulik

[2017-12-07 12:30] mshukla1 opened #1817 "Genome list: Remove disease from default view"
Genome list:

The disease column is very sparse and not manually curated. I suggest that we remove it from the default table view to make room for other more important attributes. The disease should still be available from column selection menu.

Please make sure the change is made in all related places, i.e. genome list, genome group etc.

-Maulik

[2017-12-07 12:42] mshukla1 opened #1818 "ID Mapping: showing unwanted results"
I tried to search using a set of refseq locus tags below to find corresponding PATRIC ids.

BB0457
BB0836
BB0839
BB0344
BB0467

The result table show multiple matches for each of the ids, mapping to PATRIC and refseq features, and CDS and non CDS features, like shown in the attached image. This is very confusing for users for several reasons.

1. When I ask for a match to patric ids, the results s

[2017-12-07 12:48] mshukla1 opened #1819 "ID Mapping: hide the form after submission"
I search for for > 20 ids using ID Mapping tool.

When the results are displayed, the submission form is still there, taking up most of the page. I had to scroll down to see the results.

Solution: hide the submission form whole displaying results, with a button at the top for "Edit and Resubmit". Please look at the to the BLAST tool for example.

<img width="1439" alt="screen shot 2017-12-07 at 6

[2017-12-07 12:55] mshukla1 commented on #1649
@maovt I do think this is a bug and it is kind of critical.

The reason most users would wan't to deselect / remove a track is to make space for others or add more tracks. If removed track still occupies space in the viewer, it doesn't help much. This keeps
in every workshop while showing circular viewer and needs to be fixed.

Can you please look into it?

[2017-12-07 12:58] mshukla1 commented on #1506
This is a silly error causing repeated failure for many users and cause of frustration. This needs to be addressed sooner.

-Maulik

[2017-12-07 13:01] mshukla1 commented on #1401
We have options for exact search / multi-keyword id search etc from the global search.

Should we provide similar options next to keyword search box in genome list, feature list and elsewhere?

-Maulik

[2017-12-07 13:04] mshukla1 commented on #1399
@jimdavis1 without screenshot or URL, it is hard to follow the problem you mentioned.

Can you provide some more details / screenshot to help understand the problem?

[2017-12-07 13:19] mshukla1 commented on #645
@hyoo can we close this?

[2017-12-07 13:58] mshukla1 commented on #1096
We have show / hide track labels button now at the top, which allows you to hide the track labels and see the features at the end.

<img width="287" alt="screen shot 2017-12-07 at 7 56 54 am" src="https://user-images.githubusercontent.com/1236463/33718801-512bcef8-db24-11e7-8259-86fe16d61f78.png">

<img width="1440" alt="screen shot 2017-12-07 at 7 56 37 am" src="https://user-images.githubusercont

[2017-12-07 13:58] #1096 closed, assigned to aswarren

[2017-12-07 14:57] olsonanl commented on #1463
We should still do this.

[2017-12-07 16:52] mshukla1 commented on #1630
@dmachi , is it easy to add user name in the password reset email?

[2017-12-07 16:54] mshukla1 commented on #1623
@olsonanl @dmachi

Is this still a problem? Any action? If not please close the ticket.

[2017-12-07 16:55] olsonanl commented on #1623
It still behaves that way.

[2017-12-07 16:55] mshukla1 commented on #1485
@olsonanl @dmachi

I believe this is addressed by the new FTP upload release. Can we close this?

[2017-12-07 17:00] mshukla1 commented on #1443
@dmachi can you make the change in the data API so that we can close this ticket?

-Maulik

[2017-12-07 17:01] dmachi commented on #1630
Should be straight forward. I’ll add this into the p3-user changes we are working on.

Dustin

[2017-12-07 17:02] mshukla1 commented on #1402
@dmachi @hyoo

Looks like there is consensus here. Please make the change and close the ticket.

[2017-12-07 17:06] mshukla1 commented on #1112
@dmachi

can we add js check for and flag the field if no value provided for user name or password?

Please make the change and close the ticket.

[2017-12-07 17:11] mshukla1 commented on #970
The order of the columns in the download file now match those on the website. Also, there is a copy button that allow you to download only selected columns.

<img width="159" alt="screen shot 2017-12-07 at 11 09 41 am" src="https://user-images.githubusercontent.com/1236463/33728233-6877b8cc-db3f-11e7-92ca-bd66ce85d947.png">

[2017-12-07 17:11] #970 closed, assigned to dmachi

[2017-12-07 17:14] dmachi commented on #1112
Will take care of this in the upcoming p3-user changes.

[2017-12-07 17:16] dmachi commented on #1485
This has been deployed.  There are a few bugs to fix tracked in other tickets, but it otherwise works. Closing this ticket.

[2017-12-07 17:16] #1485 closed, assigned to dmachi, olsonanl

[2017-12-07 17:18] mshukla1 commented on #490
@dmachi

Any solution or action here? If not, please comment as such and close the ticket.

[2017-12-07 17:22] mshukla1 commented on #304
We do have explanation of parameters in the help docs.

https://docs.patricbrc.org/tutorial/metabolic_model_reconstruction/metabolic_model_reconstruction.html

Please make sure they are linked from (i) in the submission form.

[2017-12-07 17:23] dmachi commented on #490
As Harry said, this is because solr requires sorting on unique field in order to do the streaming.  I don't currently have another solution.

[2017-12-07 17:25] mshukla1 commented on #179
@dawenx  can you take care of this for all submission forms?

[2017-12-07 17:41] mshukla1 commented on #1802
Add the following:

1. Download button above the table to download the entire table as shown.

2. Copy button in the action bar for downloading selected records.

[2017-12-07 17:45] mshukla1 commented on #1787
#1785

[2017-12-07 17:48] mshukla1 commented on #1777
@nconrad

Please check if the genome id exists in solr before enabling the view genome and related buttons. If the genome is not in solr yet, than show the icon grayed with a tooltip saying the genome is not indexed yet...or something like that.

[2017-12-07 17:49] #1775 closed, assigned to hyoo

[2017-12-07 17:52] #1758 closed, assigned to hyoo

[2017-12-07 17:58] mshukla1 commented on #1741
<img width="1440" alt="screen shot 2017-12-07 at 11 58 15 am" src="https://user-images.githubusercontent.com/1236463/33730561-edfd07da-db45-11e7-9699-23a00c13ad3c.png">

[2017-12-07 18:12] mshukla1 commented on #1463
@dmachi

Can you look into this? Can this be implemented in Dec?

[2017-12-07 18:13] dmachi commented on #1463
Not in December, but Bob and I mentioned this briefly in skype.  We'll work on a plan for this in the early part of the new year.

[2017-12-07 18:48] dawenx commented on #179
ok, will do

[2017-12-07 21:43] dawenx commented on #1817
this is done, added to the PR 625, will be on alpha soon.

[2017-12-07 21:45] mshukla1 commented on #1817
Awesome! Thanks!

[2017-12-07 21:59] dawenx commented on #1770
The FAQ link has been removed in current production site as we could not locate the source URL. I noticed some display issue in in-line help for Expression Import service. Mentioned it to @hyoo already.

[2017-12-07 22:02] chmao1 commented on #1506
@aswarren Could you comment on this issue as you implemented this feature? Thanks.

[2017-12-08 17:18] hyoo commented on #1770
This is fixe on
https://www.patricbrc.org/app/Expression

by this
https://github.com/PATRIC3/p3_docs/commit/2a40f5be094eb7248af3997dad9547568cec55ce

format was rst but somehow it was named .md, which broke the link format.

[2017-12-08 17:18] hyoo commented on #1770
@dawenx would you double check and close this one?

[2017-12-08 17:19] hyoo commented on #1817
deployed on alpha.

[2017-12-08 17:28] #1770 closed, assigned to dawenx

[2017-12-08 17:37] hyoo commented on #645
this is on production now.

[2017-12-08 17:37] #645 closed

[2017-12-08 17:42] hyoo commented on #1738
new indexer is deployed Dec 7 2017. I will keep watching it.

[2017-12-08 17:47] dawenx commented on #1642
fix is on alpha

[2017-12-08 18:00] dawenx commented on #1517
first, my comment on 05/18 has nothing to do with this issue.

second, with the latest fix on upload, newly upload files from the same tab should work now. but i'm aware of 'lack of refreshing' in service pages, i.e., if we upload a file from a different tab/window, we need to navigate to another folder and come back in order to see the newly upload file.

@nconrad i can work on this issue if that

[2017-12-08 18:03] dawenx commented on #1598
@ARWattam i'm wondering whether this was a temporary issue at the time, do you still have this problem?

[2017-12-08 18:09] dawenx commented on #937
this issue is more than 1 year old, do we still have similar issue? @olsonanl

[2017-12-08 18:13] dawenx commented on #612
i just check on the production site, it looks like this checkbox has been removed (for a while). @ARWattam  can we close this ticket?

[2017-12-08 18:21] mshukla1 commented on #585
We are almost there. I think we should close it after we have official support for annotation app in CLI, similar to how it is for assembly.

@olsonanl what do you think?

-Maulik

[2017-12-08 18:29] dawenx commented on #121
i did a test just now and saw the same behavior: when an active uploading file is removed from the workspace, the upload would "continue" in the status bar until it finishes.

i'm not sure about the fix, one thought is to check whether the file still exist when we update upload status. also, the only way to stop an active upload is to close the tab, correct? @dmachi

[2017-12-08 18:52] olsonanl commented on #585
Sounds good.

[2017-12-08 18:53] olsonanl commented on #937
I think it was probably an upload problem that we can close.

[2017-12-08 18:53] #937 closed, assigned to olsonanl

[2017-12-08 18:56] #1402 closed, assigned to dmachi, hyoo

[2017-12-08 19:11] hyoo commented on #588
@mshukla1 please check this whether we can close this.

[2017-12-08 19:20] #1787 closed, assigned to hyoo

[2017-12-08 19:20] hyoo commented on #1785
This is fixed and will be deployed on alpha soon.

[2017-12-08 19:20] #1785 closed, assigned to hyoo

[2017-12-08 20:12] #1751 closed, assigned to hyoo

[2017-12-08 20:32] #1685 closed, assigned to hyoo

[2017-12-08 21:11] #1727 closed, assigned to hyoo

[2017-12-08 21:16] hyoo commented on #1815
how can i reproduce this problem. how did you get the page before you click download button?

[2017-12-08 21:38] #1741 closed, assigned to hyoo

[2017-12-09 19:15] mshukla1 commented on #1817
Please remove it disease from the facet / filter panel as well.

-Maulik

[2017-12-09 21:38] aswarren commented on #1804
This bug reemerged with changes to the Phylogenetic tree viewer.
Fixed in the following https://github.com/PATRIC3/p3_web/pull/628

[2017-12-09 21:38] #1804 closed, assigned to aswarren, chmao1

[2017-12-11 14:33] dawenx commented on #1817
done, will be in next PR.

[2017-12-11 17:18] olsonanl commented on #1797
Closing as duplicate of #1796

[2017-12-11 17:18] #1797 closed, assigned to olsonanl

[2017-12-11 18:44] olsonanl commented on #1728
The problem appears to be related to the workspace reviewer tokens not being able to access shock data. Not clear why things aren't a lot more flaky if that is true.

[2017-12-11 19:08] nconrad commented on #1814
The dates are expected to be of form MM/DD/YYYY (or MM-DD-YYYY, etc).  I'm guessing this one is DD/MM/YYYY ?   Some conversion may be needed before import?

The date picker on the genome editor saves the collection_date as a full datetime in solr, by the way.  I.e., 2017-12-14T06:00:00.000Z

[2017-12-11 19:21] dawenx commented on #1793
i worked on it a few weeks ago when this issue was opened, but i could not resolve it... when i tried to give it another shot today, i found the reported problem is not there any more. after looking into it, i think this was resolved by my recent fix on issue #1807.
@ARWattam can you double check on production? thanks!

[2017-12-11 19:48] olsonanl commented on #1728
Here's the bug: apparently after a copy, sometimes, the node's owner is not given read permissions. This causes the call that populates the size field to fail with an authorization error.

[2017-12-11 19:49] dawenx commented on #304
@mshukla1 after recent work on static content, the tutorial is linked for every service. do you think it's sufficient? or you want to add another link to tutorial from somewhere else, e.g., within the help pop-up?

[2017-12-11 20:19] dawenx commented on #1130
@hyoo can we close this ticket now?

[2017-12-11 20:27] dawenx commented on #1379
@hyoo when i tested it today w/ "debugging panel", i cannot reproduce the problem. can you double check to see whether the issue is still there? also, i only checked the codes briefly, it looks like this service uses onSubmit() function in AppBase class, so it's possible it's "fixed". :)

[2017-12-11 20:54] hyoo commented on #1130
I would like to add some intro line at top. I will take care of them.

[2017-12-11 20:57] hyoo commented on #1379
@dawenx i agree. Some pages were not inheriting AppBase. Just to double check, you have "submitted" your Job, right?

[2017-12-11 21:08] dawenx commented on #179
I looked into this, also had a brief discussion with @dmachi

this is a bug/issue in the underlying dijit widget, i will do a search to see whether there's a walk around, but i can not promise to get this resolved for "Dec 2017 - Minor release".

[2017-12-11 21:36] hyoo opened #1820 "missing user guides"
- [x] similar genome finder
- [x] Comparative Pathway Tool

[2017-12-11 21:49] rkenyon commented on #304
It also has a description in the updated User Guide.  However, it seems
like it is still pointing to the old one.  Harry, can you check?

https://docs.patricbrc.org//user_guides/services/model_reconstruction_service.html

Thanks,
Ron

On Mon, Dec 11, 2017 at 2:49 PM, Dawen Xie <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Bioco

[2017-12-11 22:21] olsonanl commented on #1728
Here's the deal .. a large number (140K or so) of nodes in Shock had no "read" acl entries for the owner of the node (the reviewer account that owns the shock nodes on behalf of the workspace).

This script:

https://github.com/olsonanl/Workspace/blob/master/fix-shock-acls

finds any shock node owned by reviewer that does not have read access for reviewer and adds it. I ran this on the system and

[2017-12-11 22:39] hyoo commented on #1130
![image](https://user-images.githubusercontent.com/1236467/33857552-c85347c0-de91-11e7-8a4d-e88fccc1e7bc.png)

Now, all service submission pages have a description and links to user guide and tutorial.

[2017-12-11 22:39] #1130 closed, assigned to aswarren, hyoo

[2017-12-11 22:40] nconrad commented on #1728
Cool.  Yeah, the contig files have sizes now.  The job_result files are still 0 (assuming those are non-shock).

![image](https://user-images.githubusercontent.com/1194246/33857531-b36e179a-de91-11e7-82bd-806f445de519.png)

Testing again gives same:

![image](https://user-images.githubusercontent.com/1194246/33857582-e5b476d6-de91-11e7-8516-cacefed97c83.png)

[2017-12-11 22:42] hyoo commented on #304
I just deployed on alpha.

![image](https://user-images.githubusercontent.com/1236467/33857667-37adb0b0-de92-11e7-9f94-c3bc0d1fb3ce.png)

https://alpha.patricbrc.org/app/Reconstruct

[2017-12-11 22:42] olsonanl commented on #1728
Yup, they are. I need to look at that (tomorrow) then we can close this out.

[2017-12-12 11:33] mshukla1 commented on #1817
Looks good. Thanks. Verified on alpha.

[2017-12-12 11:33] #1817 closed, assigned to dawenx

[2017-12-12 11:35] #1118 closed, assigned to dawenx

[2017-12-12 11:37] mshukla1 commented on #1118
Dawen, I am not sure how to test this issue on alpha or production. Perhaps you can show it to Rebecca, so that she can verify.

-Maulik

[2017-12-12 11:49] mshukla1 commented on #543
@dawenx I like to review this fix during the  meeting Today, or with you separately.

I tried it on alpha using the assembly service. I tried to upload two files directly from the job submission form. As soon as I selected he file and it started uploading, the file selection text box was grayed out without showing file name. When I clicked on the side arrow to add pair of files to selection, it ge

[2017-12-12 11:53] mshukla1 commented on #1805
Fixed. Verified on alpha.

[2017-12-12 11:53] #1805 closed, assigned to zreyn

[2017-12-12 12:00] mshukla1 commented on #1735
The new filters are helpful in finding jobs by types or status.

However, both me and Jim, submit hundreds/thousands of assembly annotation jobs in batch mode, often in the same workspace folder, because they are part of single study.

The problem is finding a specific job for follow up / looking at results. Currently the way I do it is by manually adding specific job id in the URL and go to that

[2017-12-12 12:01] mshukla1 commented on #1737
I believed this is fixed now with the recent changes to the jobs page.

[2017-12-12 12:01] #1737 closed, assigned to nconrad

[2017-12-12 12:02] mshukla1 commented on #1724
I believe the issue is addressed with the recent changes to the jobs page. Closing the ticket.

[2017-12-12 12:02] #1724 closed, assigned to nconrad

[2017-12-12 12:05] #1663 closed, assigned to nconrad

[2017-12-12 12:11] dawenx commented on #543
I would like to show the demo and discuss. That's intended, if you click on folder icon while uploading, it will tell you upload is in progress.

[2017-12-12 12:15] mshukla1 commented on #1749
If multiple tabs are open, the job counts can be slightly off because each updates counts independently every 15 sec. This is expected.

Closing the ticket.

[2017-12-12 12:15] #1749 closed, assigned to nconrad

[2017-12-12 12:17] mshukla1 commented on #1669
No enough details to understand the problem.

[2017-12-12 12:17] #1669 closed, assigned to nconrad, olsonanl

[2017-12-12 12:23] mshukla1 commented on #1619
I vote for consistency over exception to provide shortcut for one job type.

The current jobs view has a consistent representation and actions for all job types, view results and report issue.

If we create an exception for genomes, we will soon have to provide similar shortcuts for other jobs as well, i.e. results of proteome comparison, diuff expression, streaming RNA-seq to genome browser, etc.

[2017-12-12 12:23] #1619 closed, assigned to nconrad

[2017-12-12 12:58] mshukla1 commented on #1802
Harry,

Can you please check the CSV download? When I open it in excel, the comma in some pathway names cause it to split into multiple columns. You need to put those names into double quotes.

https://www.alpha.patricbrc.org/view/PathwaySummary/?features=PATRIC.83332.12.NC_000962.CDS.99684.100451.fwd,PATRIC.83332.12.NC_000962.CDS.83996.85168.fwd,PATRIC.83332.12.NC_000962.CDS.77619.78896.rev,PATRI

[2017-12-12 14:44] dawenx opened #1821 "uploading multiple files in service is broken on alpha"
When I tried to upload 2 read files in assembly service on alpha, the 2nd upload finished correctly but the value in the drop down is set to the first one. This was working before I added a fix for another issue, need to investigate.

[2017-12-12 16:24] hyoo commented on #1738
new indexer have process more than 1k genomes over 5 days without failure.

<img width="298" alt="image" src="https://user-images.githubusercontent.com/1236467/33895486-3bb66884-df26-11e7-893b-4b424065cfcb.png">

I haven't tested in situation where we index a couple of thousand genomes per day for data release preparation. I am going to close this and will watch in next data release.

[2017-12-12 16:24] #1738 closed, assigned to dmachi, hyoo

[2017-12-12 16:36] mshukla1 commented on #1738
Awesome! Thanks, Harry.

[2017-12-12 16:56] hyoo commented on #1802
fix will be available on alpha soon.

<img width="483" alt="image" src="https://user-images.githubusercontent.com/1236467/33897423-06f271ce-df2b-11e7-8d1b-277415fdc05f.png">

[2017-12-12 17:06] #1802 closed, assigned to hyoo

[2017-12-12 17:10] hyoo commented on #1815
@ARWattam NaN is typical javascript issue when it expect numbers but the value is not. I need more info, where were you, which dataset you were loading, etc.

[2017-12-12 17:31] rkenyon commented on #1820
User guides for Similar Genome Finder and Comparative Pathway Tool have been added.  Please push to production and close this ticket.

[2017-12-12 19:13] olsonanl commented on #1728
I have run another fixup script to correct the zero-sized non-shock files, and committed this fix to the workspace that fixes the underlying problem on copy:
https://github.com/olsonanl/Workspace/commit/859edbb66bae39daf9a6e4e20c70256b34660765

[2017-12-12 19:13] #1728 closed, assigned to olsonanl

[2017-12-12 19:49] #1723 closed, assigned to olsonanl

[2017-12-12 19:49] olsonanl commented on #1723
Fixed with

https://github.com/olsonanl/Workspace/commit/22d19ea64ed04035ff7ce76dd40b3713b6fecea7

[2017-12-12 19:58] #1722 closed, assigned to olsonanl

[2017-12-12 20:14] chmao1 commented on #1766
The fix is now available on alpha and production.

[2017-12-12 20:41] #1721 closed, assigned to olsonanl

[2017-12-12 20:42] #1720 closed, assigned to olsonanl

[2017-12-12 20:59] ARWattam opened #1822 "If a pseudogene overlaps a CDS, can we delete the CDS?"
https://alpha.patricbrc.org/view/Feature/PATRIC.139.22.AYCB01000014.CDS.1316.1486.rev#view_tab=overview

I have run into this a lot recently.  A short CDS, but I have to go to the feature page and then I see that there is something that overlaps it completely, and that gene is a pseudogene.  It would probably have saved me a couple of hours if those CDSs were removed once they were called.
<img wi

[2017-12-12 21:39] mshukla1 commented on #1801
@dawenx

I figured out how to reproduce this problem. GO to the following page. Select all features, and then click on the feature list from the action bar. It will take you to the feature list page, with feature ids passed as post method, not get. If you use keyword search from that page, it results in searching across all features in the database, not just those in he feature list.

https://www.

[2017-12-12 22:41] hyoo commented on #1820
thanks, now those are available on docs.patricbrc.org and also linked from www.alpha.patricbrc.org.

[2017-12-12 22:41] #1820 closed, assigned to rkenyon

[2017-12-13 13:47] dawenx commented on #1801
i can reproduce it, will take a look.

[2017-12-13 20:37] #304 closed

[2017-12-14 19:11] ARWattam opened #1823 "weird issue downloading Heatmap information"
It looks like there isn't a protein annotated as the cell is black for Borrelia japonica strain ATCC 51557, and when I downloaded the heatmap, it had a value of NaN.  So I clicked on the cell to see the information, and there are 3 proteins for this genome.  The PLfamm
![screen shot 2017-12-14 at 2 08 10 pm](https://user-images.githubusercontent.com/11475316/34009881-9b76497a-e0d8-11e7-8bb5-e0e82d

[2017-12-14 19:24] hyoo commented on #1823
would you share your url so that i can take a look?

[2017-12-15 18:52] jimdavis1 opened #1824 "taxonomy"
Maulik, The following genomes do not have taxonomy information in SOLR.

1125778.3
1608995.3
1905567.4
1939646.3
1940241.3
525366.3

[2017-12-15 18:55] mshukla1 commented on #1824
ok, I will check and correct it.

-Maulik

[2017-12-15 20:09] mshukla1 opened #1825 "BLAST: provide link from the genome/taxon/group overview pages"
Provide a link/button to PATRIC BLAST service from the genome and taxon overview pages.
Next to the download and and to group buttons shown in the screen shot. In the BLAST submission
form, given genome / taxon or genome group should be preselected when opened.

<img width="455" alt="screen shot 2017-12-15 at 2 06 22 pm" src="https://user-images.githubusercontent.com/1236463/34058644-6bee5444-e1a1

[2017-12-17 18:51] ARWattam opened #1826 "Clicking "How to cite PATRIC" leads to an error page"
A user pointed this out,  Here is a screenshot of what it looks like when you click on the citation link.
<img width="544" alt="screen shot 2017-12-17 at 1 49 58 pm" src="https://user-images.githubusercontent.com/11475316/34082721-57f2c236-e331-11e7-99a2-d080ecc734d3.png">

[2017-12-18 00:07] ARWattam commented on #490
I think that we need to provide a separate column that gives the number of
the gene.  RAST does this, primarily to allow sorting.  The PATRIC locus
tag makes it extremely difficult to sort.  Yes, you can use the stop codon
location, but if there are a number of contigs, users will have to realize
this and sort accordingly.  It would be so much easier if we just had a
gene order column.

Rebecca

O

[2017-12-18 00:08] ARWattam commented on #304
I know that kbase has that.  I will look up the specific media and add them
to the tutorial.

Rebecca

On Thu, Dec 7, 2017 at 12:22 PM, Maulik Shukla <notifications@github.com>
wrote:

[2017-12-18 13:46] rkenyon commented on #304
let me know when you do so I can add them to the User Guide as well.

Ron

On Sun, Dec 17, 2017 at 7:08 PM, ARWattam <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2017-12-18 13:52] mshukla1 commented on #304
Brief description is already there in the tutorial.
We just need to add it to the user guide and the tooltip
on the service submission page.

https://docs.patricbrc.org/tutorial/metabolic_model_reconstruction/metabolic_model_reconstruction.html <https://docs.patricbrc.org/tutorial/metabolic_model_reconstruction/metabolic_model_reconstruction.html>

Media - select a predefined media formulation fro

[2017-12-18 13:54] rkenyon commented on #1826
Specifically, the citation link at the bottom of the page.
https://patricbrc.org/content/CitePATRIC

The one in the hamburger icon works.
https://patricbrc.org/webpage/website/cite_patric.html

Ron

On Sun, Dec 17, 2017 at 1:51 PM, ARWattam <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
P

[2017-12-18 13:57] rkenyon commented on #304
OK, that is already in the new User Guide:

https://docs.patricbrc.org//user_guides/services/model_reconstruction_service.html

Ron

On Mon, Dec 18, 2017 at 8:52 AM, Maulik Shukla <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2017-12-18 14:21] jimdavis1 opened #1827 "Colors for job status page are indistinguishable."
Why do we have 2 shades of green?  In my opinion, blue was a fine color for completed.  I should add that I am color blind and can barely distinguish these.

![image](https://user-images.githubusercontent.com/7661533/34110453-5298310e-e3cc-11e7-9501-8def0ed3c743.png)

[2017-12-18 16:06] chmao1 commented on #1649
I implemented the remove buttons which will fix this issue. I've made the pull request.

[2017-12-18 16:31] hyoo commented on #1826
Ah, okay, i will update the footer. and will check whether we still have link to /content/

[2017-12-18 16:36] #1826 closed, assigned to hyoo

[2017-12-18 16:36] hyoo commented on #1826
will be deployed by Dec release

[2017-12-18 17:18] hyoo commented on #490
From the version of 6.x,  solr has a new feature, named,  streaming expression.

https://lucene.apache.org/solr/guide/6_6/streaming-expressions.html

I think this can be a solution for this issue. I am planning to work on this after Dec release.

[2017-12-18 19:05] nconrad commented on #1816
I have a commit for this, but should note it could throw people off by having the sort order for groups different from the rest of the workspaces.  It's also just the creation time, not modification time.

[2017-12-18 19:10] nconrad commented on #1777
I'm hoping a message on the genome page will suffice instead.  That would also the cover the case where somebody goes directly to the page anyway.  The message I was thinking is:

"Genome <genome_id> was not found.  This could be because it is currently being indexed in the PATRIC database, it does not exist, or you do not have read privileges."

[2017-12-18 21:26] dawenx commented on #543
@mshukla1 i worked on a new fix for this issue and it's on alpha, would appreciate if you could double check it.

[2017-12-18 21:32] dawenx commented on #1383
my 2nd try on this is on alpha (3.5.1h), it should address upload related issue in the same tab (but it does not address uploading issue from a different tab).

[2017-12-18 21:36] dawenx commented on #1821
this is not a relevant issue after i used a different approach to address upload related issue. verified it on it 3.5.1h.

[2017-12-18 21:36] #1821 closed, assigned to dawenx

[2017-12-18 21:39] dawenx commented on #1801
i discussed this with @dmachi last week. this seems to be a tricky issue that requires work on p3app.js. @dmachi will take a look.

[2017-12-19 16:40] chmao1 commented on #1649
Fixed and tested on alpha.

[2017-12-19 18:12] #612 closed

[2017-12-19 19:22] olsonanl opened #1828 "Plasmid annotated with one feature shows no features"
I annotated a plasmid with the genome annotation service; it ran properly and created a single feature. That feature is in solr (query output below) but the features tab shows no output.

http://localhost:8983/solr/genome_feature/select?indent=on&q=genome_id: 45421.16&wt=json
{
  "responseHeader":{
    "status":0,
    "QTime":1,
    "params":{
      "q":"genome_id: 45421.16",
      "indent":"on",

[2017-12-19 19:31] hyoo commented on #1828
use this link

https://www.patricbrc.org/view/Genome/45421.16#view_tab=features&filter=false

I saw some similar cases. A few months ago, we added some logic to decide which fields will be shown by default, I suspect this falls into a corner case of that logic. I will take a look.

Harry

On Dec 19, 2017, at 1:22 PM, olsonanl <notifications@github.com<mailto:notifications@github.com>> wrote:

I an

[2017-12-19 19:53] olsonanl commented on #1828
Odd, it shows up then. Going in the usual way when I click  on filters it shows there are none configured.

[2017-12-19 19:57] olsonanl opened #1829 "Metagenome binning is ready to go"
Ross and Bruce have declared binning ready to go, so please add the link to the production site.

[2017-12-19 19:58] hyoo commented on #1828
https://github.com/PATRIC3/p3_web/commit/45bffba7d7d48082c6d86e6eebb7ea849fbfd2cf

This is fixed on alpha. When you don't have taxon_lineage_ids, it breaks here and stop going further.

Harry

On Dec 19, 2017, at 1:53 PM, olsonanl <notifications@github.com<mailto:notifications@github.com>> wrote:

Odd, it shows up then. Going in the usual way when I click on filters it shows there are none configu

[2017-12-19 19:58] hyoo commented on #1829
hooray!

[2017-12-19 20:06] dmachi commented on #1623
This is fixed in the p3-user updates that will be landing in January

[2017-12-19 20:09] olsonanl opened #1830 "Genome annotation needs more checking for genbank data"
If one submits a genbank file that is missing org name you get mysterious crashes. This should be checked in the new preflight tool.

[2017-12-19 20:12] nconrad commented on #1715
![image](https://user-images.githubusercontent.com/1194246/34176740-afb67116-e4c6-11e7-8dab-282fcc75276f.png)

[2017-12-19 20:18] #1829 closed, assigned to nobody

[2017-12-19 20:21] olsonanl opened #1831 "Chrome bug in metagenome binning upload"
To reproduce:

Select a set of contigs.
Click in the output folder text, and start typing a name that already exists. It will give an autofill suggestion from a dropdown. Hit return to accept the chosen path.

This results in the chosen path being chosen, and it submits the job which will fail because it is incomplete.

I couldn't replicate this in Safari but could in chrome. Here's an example:

h

[2017-12-19 21:30] olsonanl opened #1832 "Missing download button for new type"
I added XML to the workspace types; when I browse to a folder containing an XML file I find it doesn't have an available download button.

<img width="1303" alt="untitled" src="https://user-images.githubusercontent.com/2152226/34179683-88f9a72c-e4d1-11e7-95f1-cb9734f57e2a.png">

[2017-12-20 04:36] aswarren commented on #1818
Resolved in https://github.com/PATRIC3/p3_web/pull/643

[2017-12-20 04:36] #1818 closed, assigned to aswarren

[2017-12-20 20:17] hyoo commented on #1816
this fix is working as requested on alpha. closing.

[2017-12-20 20:17] #1816 closed, assigned to nconrad

[2017-12-20 20:21] hyoo commented on #1735
Searching would be another task. I think people all liked current solution and this is already deployed on production last November 2017 release. Please create another ticket if you want extra feature.

[2017-12-20 20:21] #1735 closed, assigned to nconrad

[2017-12-20 20:22] hyoo commented on #1715
This feature was demonstrated on sys dev call and confirmed working on alpha.

[2017-12-20 20:22] #1715 closed, assigned to nconrad

[2017-12-20 20:23] hyoo commented on #1777
confirmed

[2017-12-20 20:23] #1777 closed, assigned to nconrad

[2017-12-20 20:25] #1793 closed, assigned to dawenx

[2017-12-20 20:25] #1649 closed, assigned to dmachi, chmao1

[2017-12-20 20:27] #543 closed

[2017-12-20 20:29] hyoo commented on #1783
i have fix validation code so i guess this is resolved. Would you double check on alpha? If it is not fixed, please give me instructions to reproduce the symptom.

[2017-12-20 20:54] hyoo commented on #1766
confirmed.

[2017-12-20 20:54] #1766 closed, assigned to chmao1

[2017-12-20 21:01] aswarren commented on #1812
I'm not getting a 404.
The problem is you have lower case instead of upper case and the schema is set to not do case insensitive matching for that ID type. @ARWattam you will get search results if you change from bb0457 to BB0457.

If we want to solve this we need to change the schema to allow case insensitive searching.
@hyoo https://github.com/PATRIC3/patric_solr/blob/master/genome_feature/conf/

[2017-12-20 21:03] olsonanl commented on #1783
I have trouble with this:

Pick a contigs file
Click the folder under output folder.
Browse to a folder, and browse into the folder you want for output. Note that it says "Selection: out" for e.g. /olson@patricbrc.org/Binning/out which is where I went, and which is what I want for my output folder.
Click OK.
The output folder drop down is left empty. Sometimes I'm left with a red non-valid indicat

[2017-12-20 21:29] mshukla1 commented on #1784
Verified the fix on production site. Its working as expected.

[2017-12-20 21:29] #1784 closed, assigned to dawenx

[2017-12-20 21:30] mshukla1 commented on #1642
Working as expected on production.

[2017-12-20 21:30] #1642 closed, assigned to dawenx

[2017-12-20 21:31] jimdavis1 opened #1833 "Predictions need to be their own tab. They are not a typing platform!"
![image](https://user-images.githubusercontent.com/7661533/34229678-ca051020-e59a-11e7-827c-8889107cbec5.png)

[2017-12-20 21:31] mshukla1 commented on #1383
I consider this solved for now. The new solution is working fine on production.

[2017-12-20 21:31] #1383 closed, assigned to dawenx

[2017-12-20 21:44] aswarren commented on #1506
@mshukla1 I find this not to be the case. There is explicit normalization for such cases.
Here is a recent example I got from you for mouse that works despite having "gene ids" as the column header. See data and results here https://patricbrc.org/workspace/anwarren@patricbrc.org/AndrewWarrenPublic/DiffExpTest

[2017-12-20 21:45] #1743 closed, assigned to aswarren

[2017-12-20 22:38] nconrad opened #1834 "allow type column on ws browser"

[2017-12-21 11:50] aswarren commented on #1379
@hyoo @dawenx Pretty sure this is intended behavior since the experiment title is used to name the output which has to be unique from job to job. Clearing forces the user to enter a new name if they want to resubmit which will trigger the validation of the title relative to existing experiments.

[2017-12-21 12:51] mshukla1 opened #1835 "expression import: tooltip broken"
the tooltip for the input file format doesn't show the sample gene list and gene matrix formats.

<img width="754" alt="screen shot 2017-12-21 at 6 50 10 am" src="https://user-images.githubusercontent.com/1236463/34256536-6e98c278-e61b-11e7-9a06-9b0e81a319bf.png">

[2017-12-21 16:00] dawenx commented on #1379
@aswarren should we "fix" or close this issue then?

[2017-12-21 16:00] #1369 closed, assigned to olsonanl, dawenx

[2017-12-28 01:36] aswarren opened #1836 "public workspaces access w/o account"
I've encountered a surprising amount of eagerness around public workspaces.
Currently they are only accessible while logged in.
It would be more useful if this wasn't the case.

[2017-12-30 02:53] mshukla1 opened #1837 "Diff expression: use url encode for "," in experiment title"
A user used "," in the experiment title in the differential expression job ("CX vs UN, WT vs Mut"). The job completed successfully. When tried to access the results using the gene list and experiment
links from the job result page, it failed  because of the comma in the url (which I believe is also used
as a separator for multiple experiments).

Please make sure that any special characters in the

[2017-12-31 16:22] mshukla1 opened #1838 "Annotation: uncommon genetic code 25"
The annotation job below failed because of uncommon genetic code / translation table 25. which is
not handled by prodigal.

Detailed of genetic code 25 available at:
https://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi#SG25

[Please feel free to add any additional information regarding this issue here.]

********************** JOB INFO *************************

Job ID: 421390a6-6dfe-4fda-9403

[2018-01-02 13:40] jimdavis1 opened #1839 "How many items are in a workspace directory?"
![image](https://user-images.githubusercontent.com/7661533/34485432-48098d62-ef90-11e7-8b72-bbf990c16ad7.png)

[2018-01-02 13:46] mshukla1 commented on #1839
Hi Jim,

Can you elaborate your question? Are you asking what is the max number of items allowed
in a workspace directory?

-Maulik

[2018-01-02 17:47] nconrad commented on #1839
I'm guessing this is duplicate of https://github.com/PATRIC3/patric3_website/issues/1625 .  We could either add a count under the folder path/breadcrumbs at the top, or we could add a new bar at the bottom, making the design somewhat similar to other grids.  This may be considered a waste of space though, since pagination is not being used.   I.e.:

![image](https://user-images.githubusercontent.c

[2018-01-02 22:42] nconrad commented on #1598
Bump. I'm wondering the same.

[2018-01-02 22:45] nconrad commented on #1524
This was fixed when this checkbox was replaced with "show all files and folders".

![image](https://user-images.githubusercontent.com/1194246/34503094-45bba6fc-efdc-11e7-9fa9-492e77412a7d.png)

[2018-01-02 22:45] #1524 closed, assigned to nconrad

[2018-01-02 22:51] #1170 closed, assigned to nconrad

[2018-01-02 23:09] nconrad commented on #615
@ARWattam, this is really old, there were probably a number of changes since then, and I'm not able to replicate the issue.  Please reopen if it's still an issue?

![image](https://user-images.githubusercontent.com/1194246/34503685-6af18452-efdf-11e7-8dfe-5dae41ac8451.png)

[2018-01-02 23:09] #615 closed

[2018-01-03 18:25] ARWattam commented on #304
Users have actually asked for the specific components.  I will get in touch
with Jose and follow up with from a conversation I had earlier.

Rebecca

On Mon, Dec 18, 2017 at 8:52 AM, Maulik Shukla <notifications@github.com>
wrote:

[2018-01-03 20:07] ARWattam opened #1840 "Genome in PATRIC missing annotation"
163164.16 , a Wolbachia genome, is currently naked.  Could someone please clothe it with genes?

[2018-01-03 22:55] nconrad commented on #304
I'm pretty sure the actual media lists can be found here: http://modelseed.org/list-media/?tab=public.  I.e., http://modelseed.org/media/chenry/public/modelsupport/media/7H9

[2018-01-03 22:59] nconrad commented on #304
uh, except i can't seem to login with my patric account.  sorry!  rast account works.

[2018-01-03 23:24] hyoo commented on #1840
[code]
This was indexed long time ago.

[2018-01-05 16:10] hyoo commented on #1837
this is fixed and deployed on alpha, 3.5.2a

[2018-01-05 16:34] hyoo commented on #1835
![image](https://user-images.githubusercontent.com/1236467/34618320-fd774994-f203-11e7-8782-3a353143d0cc.png)

fixed and available on production.

[2018-01-05 16:43] #1678 closed, assigned to danielolson5

[2018-01-08 17:43] olsonanl opened #1841 "Similar genome finder needs the query genome in the output"
The results page for the similar genome finder  should have an indication of what the query genome is. We find we keep forgetting what we searched for when looking at the output.

[2018-01-12 16:29] rkenyon opened #1842 "Need to update Specialty Genes Data Landing Page with new data sources"
For Antibiotic Resistance description, remove ARDB and add PATRIC AMR curation and NDARO (https://www.ncbi.nlm.nih.gov/pathogens/antimicrobial-resistance/).

Need 2 new categories with descriptions:
1. Transporters (uses TCDB http://www.tcdb.org/)
2. Essential genes (uses PATRIC model reconstruction?  need link)

[2018-01-12 21:00] ARWattam opened #1843 "User request for RNA-Seq"
I understand that while performing RNA seq analysis Patric will use its own annotation, but the output table does provides both the Patric and RefSeq annotations on adjacent columns. It will be useful for us to have the RefSeq annotation in that table to help make sense of the data.

[2018-01-16 03:33] olsonanl opened #1844 "assembly app needs to terminate on job killed"
I manually killed a job in the arast queue but the app is still running:

2018-01-15 21:01:55: job 1 status: Queued
2018-01-15 21:11:59: job 1 status: Queued
2018-01-15 21:22:03: job 1 status: Queued
2018-01-15 21:31:06: job 1 status: Terminated by user

App needs to terminate on that status as well.

[2018-01-16 15:10] olsonanl commented on #1796
This tutorial is complete. I'll add more bits and pieces as time goes by but it is workable.

[2018-01-16 15:10] #1796 closed, assigned to olsonanl

[2018-01-16 17:31] chmao1 opened #1845 "circular viewer: can't upload user data"
Failed to upload sample data.

283734.805.con.0001	76219	78855
283734.805.con.0001	78891	80813

[2018-01-16 21:46] chmao1 commented on #1845
Fixed and made a pull request. Please include the fix in the next build.

[2018-01-16 23:03] olsonanl opened #1846 "similar genome finder doesn't work with fasta upload"
Selecting a fasta seems to trigger a validation problem; it doesn't turn on the submit button.

<img width="762" alt="screen shot 2018-01-16 at 1 50 55 pm" src="https://user-images.githubusercontent.com/2152226/35016644-6375d792-face-11e7-8e55-3e43914dbc4b.png">

[2018-01-17 19:02] aswarren opened #1847 "PATRIC user unable to copy to PATRIC Workshop Workspace"
Today I had to become the PATRIC user to help setup the PATRIC Workshop workspace.
During that time I was unable to copy a file into a shared workspace folder but I was able to copy it to the top level workspace itself.

https://patricbrc.org/workspace/public/PATRIC@patricbrc.org/PATRIC%20Workshop/RNA-Seq

The file/folder in question:
rockhopper_stream_bam can now be found at
https://patricbrc.org

[2018-01-17 19:23] aswarren commented on #1847
@nconrad believes this to be a sulogin / sudo issue.
This seems likely since when I login through sulogin shared workspaces do not appear.
![image](https://user-images.githubusercontent.com/229173/35062314-e75e3d06-fb91-11e7-8db5-b3a22a849122.png)

Unlike when signed in directly through the user
![image](https://user-images.githubusercontent.com/229173/35062343-06b803a8-fb92-11e7-991c-88d628440301

[2018-01-17 22:44] ARWattam opened #1848 "Genome table shows no contigs when there are actually many"
All Bacteria genome table and sort on Sequences.  You will see that a number of them have no number listed.  Those genomes DO have contigs.  For example, 1450518.4 (genome ID) has 399 contigs.  There are 5 genomes that have this problem.
<img width="1430" alt="screen shot 2018-01-17 at 2 32 18 pm" src="https://user-images.githubusercontent.com/11475316/35071233-ddad99c0-fb94-11e7-8e2b-fbeeea0b780c

[2018-01-17 23:16] hyoo opened #1849 "JBrowse sub queries are not optimal"
i noticed that Jbrowse queries in multiple chunks with some overlaps,
[code]

see start and end in params.

Is it possible to minimize overlaps? it seems like window size is 250,000 is set somewhere. @aswarren or @dmachi , do you know where it is coming from?

[2018-01-18 00:18] olsonanl opened #1850 "Proteome comparison needs to take genome group"
The proteome comparison tool needs to accept a genome group to define the comparison genomes.

[2018-01-18 15:28] mshukla1 opened #1851 "Need user id, name, and email in the feedback"
Neal,

We need user login name, full name (first and last name), and email address in the jira tickets generated by the "provide feedback" and "report job" from on the website.

Without this information, Rebecca and I need to go to several different places or people to get such information before we can respond to the user. This is becoming more and more frustrating now as we are getting multiple

[2018-01-18 16:32] dmachi commented on #1851
The email portion of this has been fixed in terms of the email address correctly getting into Jira as the 'reporter' for the Provide Feedback dialog.  The message itself has not been changed.

[2018-01-18 18:01] nconrad commented on #1851
I don't see a ticket for today to see if the email address issue is fixed.  Is there still more to do then?
 Should I assign this to you, @dmachi?

[2018-01-18 18:12] dmachi commented on #1851
The message still needs to get updated at https://github.com/PATRIC3/p3_web/blob/master/routes/reportProblem.js#L101-L109
but what gets passed to that function also needs to be sure to include the desired info at https://github.com/PATRIC3/p3_web/blob/master/routes/reportProblem.js#L159 so needs to be passed along from the middleware function before it.
I was just trying to make sure the other par

[2018-01-18 19:33] dawenx commented on #1846
this is fixed and it's on alpha.

[2018-01-20 00:20] mshukla1 opened #1852 "Proteome comparison: fails due to bad patric id"
Chunhong,

The proteome comparison job below failed because one of the genomes had a CDS with weird
PATRIC id, rast|0.CDS.1|JS78_09620|, because of a bug in the annotation service.

Bob and I are working on fixing the bug in the annotation service and correcting patric_ids
for the features already in the database. In addition to that, we should also update the proteome
comparison service so it can

[2018-01-20 00:22] mshukla1 opened #1853 "Data: correct bad patric ids"
There are about 65,000 PATRIC CDSs with bad patric ids that start with rast|0.CDS. They are all related to selenocysteine proteins.

https://www.patricbrc.org/view/FeatureList/?and(keyword(rast),keyword(cds))#view_tab=features&defaultSort=-score

Correct these patric ids in the database.

[2018-01-20 01:14] mshukla1 opened #1854 "Bad patric ids for selenocysteine proteins"
There are >6500 proteins with weird patric ids in the database, like rast|0.CDS.1.

https://www.patricbrc.org/view/FeatureList/?and(keyword(rast),keyword(cds))#view_tab=features&defaultSort=-score

It looks like selenocysteine proteins are called by a special module, which doesn’t assign the appropriate peg ids to those proteins.

         "annotations" : [
            [
               "Add featur

[2018-01-20 02:13] mshukla1 opened #1855 "Job submission forms: check for same file in paired end reads"
One of the common mistake users make  is that they select the same file twice in paired end read files, which results in job failure.

"paired_end_libs": [
"/ARWattam@patricbrc.org/home/SRR6382381_1.fastq",
"/ARWattam@patricbrc.org/home/SRR6382381_1.fastq"
]

If possible, we should check if same file is selected in pair1 and pair2 boxes, raise a flag and disable the submission button.

This fix sh

[2018-01-20 15:05] mshukla1 commented on #1801
@dmachi @dawenx

any update on this?

[2018-01-20 15:42] mshukla1 commented on #1845
Verified it is working on alpha.

Harry, When can we deploy this on production website?

[2018-01-22 03:46] mshukla1 opened #1856 "Workspace: unable to copy group to a shared workspace"
This problem was reported by a user and then verified by me.

Currently, I can not copy a genome or feature group I created to a workspace shared with me with edit privileges. When I click copy, only the workspaces owned by me are shown in the file selector.

Also note that the website doesn't allow me to create new groups directly into the shared worksace either!

Both of these issues need to be

[2018-01-22 14:05] dawenx commented on #1801
I will check with @dmachi to see what we can do on this.

[2018-01-22 14:25] dmachi commented on #1801
I have not had a chance to look into this yet outside of the discussions I had with Dawen previously.

[2018-01-22 17:14] JoshuaVSherman commented on #1828
@hyoo above comment says that this is fixed on alpha, so can I put your name on this unassigned issue?

[2018-01-22 17:27] JoshuaVSherman commented on #1832
@dmachi @hyoo I'm going to look into this issue, but i'm not able to assign it to myself, so please add me to this repository's write permissions please.  Thanks

[2018-01-22 18:19] JoshuaVSherman commented on #1832
ok this is now fixed in my fork, https://github.com/JoshuaVSherman/p3_web

![image](https://user-images.githubusercontent.com/13340120/35236865-db324b06-ff76-11e7-9b7b-8fbbfda1d448.png)

[2018-01-22 18:23] nconrad commented on #1856
Regarding first issue, this must be some sort of oversight--sorry.  I'll get that fixed.

Regarding the second issue, @dawenx was last working on that in https://github.com/PATRIC3/patric3_website/issues/1813.

[2018-01-22 18:37] JoshuaVSherman commented on #1833
@dmachi
Found where this is, at http://www.patric.local:3000/view/GenomeList
but i'm not sure how to reproduce the information being presented

[2018-01-22 18:39] JoshuaVSherman commented on #1836
@dmachi @hyoo I'm assuming that we should close this as designed because we want to have an "Owner" for each workspace, true?

[2018-01-22 18:55] dawenx commented on #1813
this fell through the crack of my desk, @nconrad has graciously agreed to help, especially to provide a way to list all workspaces a user has edit access.

[2018-01-22 19:19] mshukla1 commented on #1833
Please don’t change anything here, it requires some more thought.

I will come up with a recommendation.

-Maulik

[2018-01-22 19:28] JoshuaVSherman commented on #1848
Discussed with Dustin and agree that this should be fixed in the data itself, where number of sequences is missing in the data

[2018-01-22 20:43] JoshuaVSherman commented on #1851
I have this fixed in my fork
![image](https://user-images.githubusercontent.com/13340120/35243453-ef9b25f4-ff8a-11e7-8cf9-5806a7d831a4.png)

[2018-01-22 21:19] hyoo commented on #1832
@JoshuaVSherman make a pull request to develop branch. and please make sure you forked from develop branch.

[2018-01-22 22:06] olsonanl opened #1857 "MSA viewer doesn't deal with expanded window"
If you expand the MSA viewer window the title doesn't update along with the data.

![screen shot 2018-01-22 at 4 05 27 pm](https://user-images.githubusercontent.com/2152226/35246936-2db2194e-ff8e-11e7-9b6d-4986cd255c9a.png)

[2018-01-23 14:15] JoshuaVSherman commented on #1832
pull request submitted
https://github.com/PATRIC3/p3_web/pull/661/files

[2018-01-23 14:17] JoshuaVSherman commented on #1851
pull request submitted
https://github.com/PATRIC3/p3_web/pull/661/files

[2018-01-23 19:43] dawenx commented on #1855
working on this.

[2018-01-23 20:21] JoshuaVSherman commented on #1801
I was able to reproduce it, and discussed with Dustin. Since the url string no longer contains the query (because the length of it was too long for the get request), it uses a post request to build the Feature List table, and then the resulting url no longer has any query string to build off of for keyword. I have tried to isolate where the post is being created, possibly we could refactor this to

[2018-01-23 20:47] JoshuaVSherman commented on #1763
link to pull request
https://github.com/PATRIC3/p3_web/pull/662

[2018-01-23 20:51] JoshuaVSherman commented on #1630
@dmachi we implemented a change password within the User Account page, is that what is being requested here?

[2018-01-23 20:52] JoshuaVSherman commented on #1005
link to pull request
https://github.com/PATRIC3/p3_web/pull/662

[2018-01-23 20:54] JoshuaVSherman commented on #1623
link to pull request
https://github.com/PATRIC3/p3_web/pull/662

[2018-01-23 20:55] JoshuaVSherman commented on #1112
link to pull request
https://github.com/PATRIC3/p3_web/pull/662

[2018-01-23 21:46] dmachi commented on #1630
I think he is wanting the username to be passed in the reset email, though I believe there is a separate request for the change password on the account form.  This one needs to be changed in p3-user instead of p3-web, leave this ticket assigned to me and I’ll fix.

[2018-01-25 15:43] dawenx commented on #1855
i have fixed this for assembly, variation, rna-seq, tn-seq services. metagenomics UI seems to be different and i need to discuss with @hyoo to make a plan.

@mshukla1 let me know if you want me to submit a PR just for those 4 services so that we can roll it out in Jan. release. thanks!

[2018-01-25 16:44] JoshuaVSherman commented on #1831
I was not able to reproduce this with my chrome

[2018-01-25 18:26] dawenx commented on #1846
verified this fix on production, close the ticket.

[2018-01-25 18:26] #1846 closed, assigned to dawenx

[2018-01-25 18:50] chmao1 commented on #1852
I tried it and also failed. The error is from the server side (Fangfang's code). Unfortunately, I don't have an access to his repository. Could you or someone grant me an access to his repository or @levinas take a look at this?

[2018-01-25 18:54] chmao1 commented on #1850
@ARWattam could you comment on this requirement from users' perspectives. Thanks.

[2018-01-25 19:16] jimdavis1 opened #1858 "genome browser is taking like 5 minutes to load"

[2018-01-25 19:40] hyoo commented on #1858
Would you provide your URL?

[2018-01-26 14:26] chmao1 opened #1859 "Workspace: jobs: All apps name list should be consistent with the Service names"
![image](https://user-images.githubusercontent.com/6361802/35443807-57df52a6-027a-11e8-8880-fc280e8c8f06.png)

[2018-01-26 15:17] ARWattam commented on #1850
I think that we need to think this request through carefully.  Users will try to upload groups with many more genomes than the service can handle, and then what do we do?  Take a random 9?  Take the first 9 alphabetically?  I like the idea of making the user select each individually.  Perhaps if we had a drop down box that showed all the genomes in the group and allowed them to select individually

[2018-01-26 15:34] mshukla1 commented on #1850
I think one of the objectives here is to have consistent way of selecting genomes in all the comparative
tools: Select one at a time or select existing groups. As of now, some services (or most) allow selection
of genome groups, and some don’t.

If the selected genome group contains more genomes than what is supported by a respective service,
we can always alert the user, like we do in phylogeneti

[2018-01-26 16:29] ARWattam commented on #1850
I like the idea of the message.  Then the user is forced to make a decision on what to include.  I haven't tried loading anything too big on the tree service (as you know I strictly follow the rules) but if we have that in place, it seems like it would not be too bad to include something similar here.

[2018-01-26 16:40] chmao1 opened #1860 "Workspace: job status table: Add Service column to be consistent with service names"
Currently, this table uses app names which often are not consistent with the service names we use in the dropdown list..

[2018-01-26 16:43] chmao1 commented on #1860
The "App" column will be hidden, but still can be added back with the "plus" button.

[2018-01-26 16:49] JoshuaVSherman commented on #1857
@olsonanl Are you talking about the title on the browser tab?

[2018-01-26 16:50] JoshuaVSherman commented on #1857
* select Coxiella, select Features, select at least two features, on the green side icon menu, click MSA
* a new browser tab opens

[2018-01-26 17:27] JoshuaVSherman commented on #1822
@ARWattam i'm assuming this is a backend data related request, not something client-side for the user to click delete on?

[2018-01-26 17:31] JoshuaVSherman commented on #1843
@ARWattam please show me what table, where, when, thanks

[2018-01-26 18:03] ARWattam commented on #1822
I would assign this to Maulik.  He'll know who to send it to that handles
RAST

On Fri, Jan 26, 2018 at 12:27 PM, Joshua V Sherman <notifications@github.com

[2018-01-26 18:20] chmao1 commented on #1860
The item detail panel will also include the corresponding service names.

[2018-01-26 18:22] JoshuaVSherman commented on #1836
@dmachi is this something I can help with, just making any public workspace viewable by anyone, including someone who has not logged into PATRIC?

[2018-01-26 18:52] dmachi commented on #1836
This used to work, so it is not clear to me why it is failing now.  To determine where it needs to be fixed we’ll need to see how it is breaking.  If a request to view the contents of the folder is going to the backend and then it is returning a permission denied type error then it probably needs to be resolved on the backend workspace service (Bob) If the problem is that the frontend is not makin

[2018-01-26 18:54] chmao1 commented on #1859
This drop down list will be replaced with the Service name list

[2018-01-26 19:02] dmachi commented on #1849
I’m not exactly sure where the size comes from (other than 25k being our default query size limit).  Its not clear to me how easy this will be to change in jbrowse.  I think the overlapping has to do with how it wants to page and keep chunks that are larger than the view you are actually seeing on the screen, but I can’t remember for sure.

[2018-01-26 19:06] JoshuaVSherman commented on #1836
@nconrad hey, I was able to reproduce this issue, there is no request being sent for display of public workspaces when the user is logged out. Can you suggest a fix?

[2018-01-26 19:22] chmao1 commented on #1850
@olsonanl Could you give me a permission to access to the server side codes for Proteome comparison service?

[2018-01-26 19:24] nconrad commented on #1836
Yeah, I can add this if you want.   I think we need to allow the WorkspaceManager to be invoked without a token, and then just allow the public workspaces content to be displayed.

[2018-01-26 19:37] dmachi commented on #1836
I was thinking we already made the workspace backend accept this, but could be remembering wrong

[2018-01-26 19:56] JoshuaVSherman commented on #1841
@olsonanl Hey Bob, is this something for you to investigate or someone else please?

[2018-01-26 20:01] nconrad commented on #1836
Yeah, I tested, and the backend allows no token.  I thought it didn't for some reason--maybe it was changed at some point.

The only other thing I can think of right now is the "copy" button will need to be disabled if there's no token.

Do you guys want me to implement it?

[2018-01-26 20:03] nconrad commented on #1836
This is somewhat related to other sharing tickets I need to address today, so I certainly don't mind.

[2018-01-26 20:18] dmachi commented on #1836
It’s not clear to me how critical it is, so i can’t comment on it’s priority.

[2018-01-26 20:27] mshukla1 commented on #1836
Not critical, but it would certainly be useful as we are using public workspaces to share
NIAID funded projects data among other things and now people are using public workspaces
to polish their own data and include links in the paper.

If it is something very straightforward and not require too much effort, I say go ahead and do it.

-Maulik

[2018-01-26 20:56] JoshuaVSherman commented on #1630
@dmachi please let me know when I should test out your update api call

[2018-01-27 12:26] ARWattam opened #1861 "Reset on Variation service clears page"
I am trying to run all combinations on the Variation service, and I have a number of reads.  When I hit the reset button, the page clears, and I have to laboriously select and enter all the reads, all over again.  The service should leave the entered reads.  The proteome comparison service does this quite well, and it should be the model for assembly and variation.  Probably RNA-Seq, too, although

[2018-01-27 15:05] ARWattam opened #1862 "Clicking on arrow at bottom of heatmap does not move it in either direction"
Looking at heatmap for protein families.  Expand out so I can see the protein families.  Click on arrows so that I can gradually move without have to use the slider (want to move one family over) and nothing happens.  I don't think the arrows that are part of the slider at the bottom of the heatmap works.

[2018-01-27 15:42] ARWattam opened #1863 "ID Mapper should provide examples of ID types"
I always get confused when I look at the long list.  I think for RefSeq locus tag we should provide an example (Like Rv001) to distinguish it from RefSeq (which I assume is an NP number or some such).  Often the user does not know what exactly they are trying to map over.

[2018-01-27 15:44] ARWattam opened #1864 "Need a reset button in ID Mapper"
To reuse the tool, I have to leave the page and go back to it.  We need a reset button.

[2018-01-27 15:56] ARWattam opened #1865 "Two download buttons in vertical green bar when looking at feature groups"
Have two download icons right above each other, and one in blue above the table, is triply confusing.  See attached image
<img width="1138" alt="screen shot 2018-01-27 at 10 54 43 am" src="https://user-images.githubusercontent.com/11475316/35473596-b2807cd6-0350-11e8-9921-fb6026e3bdec.png">

[2018-01-27 17:08] ARWattam opened #1866 "Proteome Comparison order in circos should match order when genomes submitted"
Is it possible to do this?  I have been paying attention to the order of the comparison genomes when I submit them, and in the circos view they don't have the same order.  A user might want to arrange the genomes by phylogeny for the svg that they use for a publication

[2018-01-29 04:14] olsonanl commented on #1841
This is a UI issue.

[2018-01-29 04:15] olsonanl commented on #1850
Which code do you mean?

[2018-01-29 04:52] olsonanl commented on #1857
No, if you bring up MSA, then widen the window, the MSA header with the large letters no longer spans the data displayed below it.

[2018-01-29 04:54] olsonanl commented on #1850
I'm with maulik on this. I submitted this bug because at the workshop a user in fact already had a genome group that he wanted to compare. There is no reason in interfaces where we allow multiple genomes to not allow a genome group. If there are limitations in the service on numbers of genomes allowed, the options are to say that and disallow the group, or better, bring up a dialog that offers an

[2018-01-29 13:08] JoshuaVSherman commented on #1865
@ARWattam need help to reproduce this please
![image](https://user-images.githubusercontent.com/13340120/35511859-9e45a616-04cb-11e8-9c59-53920846b8c0.png)

[2018-01-29 13:16] JoshuaVSherman commented on #1857
@olsonanl good morning, so you need to select MSA, amino acids to get that view, but i'm still not able to reproduce your issue, so I will discuss with @aswarren
![image](https://user-images.githubusercontent.com/13340120/35512164-c37525aa-04cc-11e8-93f6-6dd3a9714d36.png)

[2018-01-29 13:39] JoshuaVSherman commented on #1862
@ARWattam need help to reproduce this please

[2018-01-29 14:00] JoshuaVSherman commented on #1841
@olsonanl Good morning, can I just remove the button Edit Form and Resubmit and have that initial form display aways there?
![image](https://user-images.githubusercontent.com/13340120/35513990-d1bb91d4-04d2-11e8-9f99-c705cac557da.png)

[2018-01-29 14:21] chmao1 commented on #1850
@olsonanl Bob, I meant the backend service app that Fangfang implemented. Is that code in git? How do I access it? Thanks.

[2018-01-29 14:22] chmao1 commented on #1850
I should be able to add this enhancement.

[2018-01-29 15:49] jimdavis1 opened #1867 "Can't download the ffn file for a genome, or any other file for that matter."
![image](https://user-images.githubusercontent.com/7661533/35519391-b158f04c-04d9-11e8-86ee-ce283875ab4f.png)

[2018-01-29 15:50] JoshuaVSherman commented on #1857
@olsonanl hey Bob, can you please paste a link to your example with this issue, I spoke to Andrew, thanks

[2018-01-29 16:10] olsonanl commented on #1857
It's easy to reproduce in Safari anyway. Just bring up an MSA on a few genomes, expand the window, and scroll. See for instance

https://www.dropbox.com/s/wesjfyekfaplrt0/msa-bug.mov?dl=0

[2018-01-29 16:38] nconrad commented on #1635
I'm going to remove the "JSON download" button, unless there any objections.

[2018-01-29 16:40] nconrad commented on #1865
This a duplicate of #1635 .  I'm assuming nobody is using the button that downloads JSON, so I'm going to remove it.

[2018-01-29 16:40] #1865 closed, assigned to JoshuaVSherman

[2018-01-29 17:10] nconrad commented on #1865
oh, btw, @JoshuaVSherman, to replicate, the objects have to be of type `feature_group`, `genome_group`, etc., and you also can only download one item at a time.

[2018-01-29 17:36] JoshuaVSherman commented on #1867
@jimdavis1 I just downloaded two files without any issue. What browser are you using, do you have a link to where I can reproduce the issue?

[2018-01-29 18:29] nconrad commented on #1831
@dawenx offered to look into this.

[2018-01-29 19:15] jimdavis1 opened #1868 "The genome browser is so slow that I can't really use it anymore."

[2018-01-29 20:30] jimdavis1 opened #1869 "Can we blast against all private genomes?"

[2018-01-29 21:15] #1828 closed, assigned to hyoo

[2018-01-29 21:16] hyoo commented on #1695
now ftp is on walnut:/vol/patricftp/ftp

[2018-01-29 21:16] #1695 closed, assigned to olsonanl

[2018-01-29 21:17] #588 closed

[2018-01-29 21:20] hyoo commented on #1763
@dmachi will setup instance for testing. we will close after we test in group.

[2018-01-29 21:22] #1837 closed, assigned to hyoo

[2018-01-29 21:33] hyoo opened #1870 "new homepage"
Here is break downs of implementing new homepage for Feb release

# implementation
- [x] finalize style (Ivan)
- [x] convert to html (Chris)
- [x] implement search (Chris, Harry)
- [x] implement carousel (Chris, Harry)
- [x] implement my data (Harry)

# content
- [ ] Data types landing page in user guides (Ron)
- [ ] Tools list landing page in user guides (Ron)

[2018-01-30 02:09] mshukla1 commented on #1869
Yes, make a genome group of all private genomes you are interested in and then search against that.

It may take long time when you search for the first time, as it will build the blast databases first. Subsequent searches should go faster.

Please try it and let me know how it goes.

-Maulik

Sent from my iPhone

[2018-01-30 02:13] mshukla1 commented on #1867
Jim were you trying to download for a private genome?

The batch download currently doesn’t work with private genomes....something on our todo list for a while now.

-M

Sent from my iPhone

[2018-01-30 13:49] JoshuaVSherman commented on #1868
@jimdavis1 Without seeing its speed in the past, hard for me to know how slow it is now, also i'm using Chrome on Windows 10, and internet speed could matter, Could you provide more details as to your situation. This is what I ran. https://www.patricbrc.org/view/Genome/777.121#view_tab=browser&loc=NOLU01000021%3A4173..37540&tracks=refseqs%2CPATRICGenes%2CRefSeqGenes&highlight=

Also I have a sugge

[2018-01-30 13:59] JoshuaVSherman commented on #1862
@hyoo also, I don't see how to launch this video https://docs.patricbrc.org//news/2013/20131010-new-protein-family-sorter-and-heatmap-video-tutorial.html?highlight=heatmap#

[2018-01-30 14:01] JoshuaVSherman commented on #1862
@hyoo 404 not found !   https://docs.patricbrc.org/content/Protein_Family_Sorter

[2018-01-30 14:42] rkenyon commented on #1862
This is a news items that is outdated.  We are adding updated videos and
links to them from the home page and help pages.

Here are updated descriptions of the Protein Family Sorter Heatmap - go to
the bottom of each document:

https://docs.patricbrc.org//user_guides/organisms_taxon/protein_families.html

https://docs.patricbrc.org//tutorial/protein_family_sorter/protein_family_sorter.html

Go

Ro

[2018-01-30 14:42] rkenyon commented on #1862
Rebecca can also tell you in great detail how it is supposed to work

Ron

On Tue, Jan 30, 2018 at 9:42 AM, Ron Kenyon <rkenyon@bi.vt.edu> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-01-30 14:44] JoshuaVSherman commented on #1862
thanks, i'll try those and see if I can get that tool working

On Tue, Jan 30, 2018 at 9:42 AM, rkenyon <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-01-30 14:56] rkenyon commented on #1868
This user guide is slated for update - thanks for the suggestions.  This
particular issue has complexities that tie back into the database and
associated queries.  See the conversation going on the PATRIC Dev Skype
channel.

Ron

On Tue, Jan 30, 2018 at 8:49 AM, Joshua V Sherman <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Bio

[2018-01-30 19:39] aswarren commented on #1849
This is related https://github.com/PATRIC3/patric3_website/issues/1328 but this will only help if it is the transfer time not the query time.
I have yet to find the logic governing parameters of how it issues these queries.

[2018-01-30 20:13] #1845 closed, assigned to chmao1

[2018-01-30 20:21] aswarren commented on #1849
I whittled the URL down to just load the PATRIC track.
https://patricbrc.org/view/Genome/316407.9#view_tab=browser&tracks=PATRICGenes&loc=AC_000091%3A1..100000&highlight=
The first request seems to have a long response time:

![image](https://user-images.githubusercontent.com/229173/35589236-2e4fe5fe-05d1-11e8-8efd-bb8c45b4f45d.png)

![image](https://user-images.githubusercontent.com/229173/355892

[2018-01-30 20:48] olsonanl commented on #1850
The application script is here

https://github.com/TheSEED/app_service/blob/master/scripts/App-GenomeComparison.pl

[2018-01-30 21:25] aswarren commented on #1328
This solution was implemented as part of @hyoo fix for https://github.com/PATRIC3/patric3_website/issues/1849

[2018-01-30 21:25] #1328 closed, assigned to aswarren

[2018-01-30 22:06] chmao1 commented on #1860
Will be available in the next build

[2018-01-30 22:07] chmao1 commented on #1859
Fixed and will be available in the next build.

[2018-01-30 22:26] #1462 closed, assigned to mshukla1, hyoo

[2018-01-30 22:49] hyoo commented on #1516
This is just different behavior. closing it.

[2018-01-30 22:49] #1516 closed, assigned to hyoo

[2018-01-30 22:54] hyoo commented on #1448
#1716

[2018-01-30 22:54] #1448 closed, assigned to hyoo

[2018-01-30 22:56] hyoo commented on #1783
@dawenx since you've been working on service form more recently. would you take a look?

[2018-01-30 23:00] hyoo commented on #1858
we have some improvement on genome browser performance. These will be deployed by end of Jan 2018. Let's try again after that.

[2018-01-30 23:10] dawenx commented on #1783
I noticed some issues on binning service UI as well, e.g., the submit button is enabled when the file name is empty (after some random clicking). I will take a look. This is also similar to #1831 although I was not able to reproduce the issue in #1831.

[2018-01-30 23:12] hyoo commented on #640
@nconrad is this done already? or will be the next thing? just wanted check with you.

[2018-01-30 23:12] #1481 closed, assigned to hyoo

[2018-01-31 02:22] hyoo opened #1871 "caching public key in data api"
Bob reported that queries with auth token took 100ms more,

[code]

need to cache public key in api.

[2018-01-31 02:23] nconrad commented on #640
@hyoo It's in testing and essentially done except for the policy decisions and any tech needed for: "Create a check list for accessing quality of genome/annotation/metadata for user genomes."

[2018-01-31 02:23] hyoo commented on #1871
i made change in local and now it adds 30ms in average

without auth token
[code]

with token
[code]

[2018-01-31 14:44] chmao1 commented on #1850
Implemented and made a pull request to p3_web.

[2018-01-31 14:45] mshukla1 commented on #1850
thanks, Chunhong.

[2018-01-31 15:06] olsonanl commented on #1850
Very cool. That'll cut 5 minutes off Rebecca's proteome webcast :-)

Is it possible to change the order of the genomes in the list after they've been added?

[2018-01-31 15:35] hyoo commented on #601
The changes in data api side has been deployed and UI side change is on alpha. Those changes will make GB faster. We still have some issues with solr cache, but that is beyond this topic.

[2018-01-31 15:36] hyoo commented on #1858
#601

[2018-01-31 15:36] #1858 closed, assigned to hyoo

[2018-01-31 15:40] hyoo commented on #1855
https://github.com/PATRIC3/p3_web/pull/665
already deployed on alpha.

need to verify

[2018-01-31 15:44] dawenx commented on #1855
This particular fix is not done for metagenomics binning service. Since I'm planning to work on it along with another 2 issues, maybe we can close this one?

[2018-01-31 15:49] hyoo commented on #1819
@JoshuaVSherman would you take a look? Try similar genome finer or blast.
When user submits a request, it should close the form and activate "Edit and Resubmit" button.

[2018-01-31 16:41] olsonanl commented on #1871
Looks good. I'm seeing 30ms-ish queries with and without auth.

[2018-01-31 16:43] hyoo commented on #1871
cool. closing.

[2018-01-31 16:43] #1871 closed, assigned to hyoo

[2018-01-31 16:46] hyoo commented on #1768
@ARWattam Would you confirm this issue? If this still exists, would you give us process or show to @zreyn so that he can produce and debug? If this is your job result, then, maybe you can share this job result with him.

[2018-01-31 16:57] hyoo commented on #1774
This works on production.

To reproduce, you can go to
https://www.patricbrc.org/workspace/public/anwarren@patricbrc.org/AndrewWarrenPublic/RNA-Seq/Acinetobacter%20baumannii%20AR%20Rockhopper

and click browser.

<img width="1345" alt="image" src="https://user-images.githubusercontent.com/1236467/35636153-e0b22adc-0675-11e8-98e1-4f3765fc6fa6.png">

[2018-01-31 17:00] #1774 closed, assigned to zreyn

[2018-01-31 17:09] hyoo commented on #1855
I have verified the fix on assembly, variation, rna-seq, and tn-seq pages. Lets leave metagenome binning to  #1783 and close this.

[2018-01-31 17:09] #1855 closed, assigned to dawenx

[2018-01-31 17:15] hyoo commented on #1851
1. report with signed in
<img width="751" alt="image" src="https://user-images.githubusercontent.com/1236467/35636755-d38250b0-0677-11e8-818f-349519f7a7e1.png">

2. report without signed in, and leave email field empty
<img width="750" alt="image" src="https://user-images.githubusercontent.com/1236467/35636808-f8291494-0677-11e8-9233-fa4969678877.png">

3. report without signed in, and provide ema

[2018-01-31 17:18] hyoo commented on #1851
from job report issue.

<img width="746" alt="image" src="https://user-images.githubusercontent.com/1236467/35637002-7bedfede-0678-11e8-883d-91269fa50b58.png">

[2018-01-31 17:19] hyoo commented on #1851
I think every case works as expected. closing.

[2018-01-31 17:19] #1851 closed, assigned to dmachi, JoshuaVSherman

[2018-01-31 17:27] hyoo commented on #601
picked two similar sized genome.

production : 54s
https://patricbrc.org/view/Genome/287.1491#view_tab=browser&loc=CP011317%3A1..100000&tracks=refseqs%2CPATRICGenes%2CRefSeqGenes&highlight=

alpha: 37s
https://alpha.patricbrc.org/view/Genome/1407059.3#view_tab=browser&loc=HG530068%3A1..100000&tracks=refseqs%2CPATRICGenes%2CRefSeqGenes&highlight=

[2018-01-31 17:27] #601 closed

[2018-01-31 17:29] hyoo commented on #1112
#1763

[2018-01-31 17:33] hyoo commented on #1444
@aswarren are you planning to work on? or someone else?

[2018-01-31 17:37] hyoo commented on #1623
#1763

[2018-01-31 17:41] hyoo commented on #1849
This was query time that taking inside solr. This was due to multiple OR conditions and  i was able to remove many of them.
https://github.com/PATRIC3/p3_api/commit/3c29e48853e40c4ee4fe57b03675d14a3b815a10

This change makes queries respond in half time. 96s to 45s, for example.

[2018-01-31 17:41] #1849 closed, assigned to dmachi, aswarren

[2018-01-31 17:43] hyoo commented on #1860
verified.
<img width="793" alt="image" src="https://user-images.githubusercontent.com/1236467/35638120-e0a37c66-067b-11e8-801e-c3318459d9a4.png">

[2018-01-31 17:43] #1860 closed, assigned to chmao1

[2018-01-31 17:51] #1773 closed, assigned to hyoo

[2018-01-31 17:53] hyoo commented on #1767
closing duplicates

[2018-01-31 17:53] #1767 closed, assigned to nconrad

[2018-01-31 17:54] hyoo commented on #1810
@nconrad would you put this issue into Feb or March milestone? It is your call.

[2018-01-31 18:18] hyoo commented on #1443
I can take a look. @aswarren do you have a url that i can test with my local api changes?

[2018-01-31 18:35] hyoo opened #1872 "job status detail panel is not formatted while it is running."
phylogenetic tree job is not well rendered while it is running.

<img width="318" alt="image" src="https://user-images.githubusercontent.com/1236467/35640557-203e33be-0683-11e8-81a2-2486d5ecc268.png">

[2018-01-31 18:44] hyoo commented on #1832
verified by Bob. closing.

[2018-01-31 18:44] #1832 closed, assigned to JoshuaVSherman

[2018-01-31 18:46] hyoo commented on #1005
#1763

[2018-01-31 18:47] #1859 closed, assigned to chmao1

[2018-01-31 19:08] aswarren commented on #1443
@hyoo from https://github.com/TheSEED/app_service/blob/master/scripts/App-RNASeq.pl#L318

https://www.patricbrc.org/api/genome_feature/?and(eq(genome_id,83332.12),eq(annotation,PATRIC),or(eq(feature_type,CDS),eq(feature_type,tRNA),eq(feature_type,rRNA)))&sort(+accession,+start,+end)&http_accept=application/cufflinks+gff&limit(25000)

There are certainly some examples in there though I'm not sure i

[2018-01-31 19:22] hyoo commented on #1823
I cannot reproduce it. Please specify
- how did you get to this page (from genome group? taxon ?)
- how many genomes were in your analysis, and what are those?
- what was the step to get this?

i tried with randomly picked 4 Borrelia genomes and Borrelia japonica strain ATCC 51557, but i cannot reproduce this problem.

[2018-01-31 19:48] chmao1 commented on #1850
If the genomes are individually added, the users can delete and re-add the genomes in the order they want. However, currently, if they add a genome group, the order of the genomes in the group is the same as what's in the workspace.

[2018-01-31 20:23] ARWattam opened #1873 "Weird collection date"
https://www.patricbrc.org/view/Genome/34095.3
Has collection data of NaN/NaN/NaN

[2018-01-31 20:30] mshukla1 commented on #1873
This is what gets displayed when the collection date is “not collected” in the database.
They all will be cleaned up by the end of the day as part of the release.

-Maulik

[2018-01-31 20:36] ARWattam commented on #1823
Okay, I made a genome group of all Borrellia minus burgdorferi.  Then I
opened the genome group, clicked on the Protein Families tab, changed the
selection to PLFams, and then looked at the heatmap.  Look at the row that
has B. japonicum (it will be the last row int he heatmap (see attached
screenshot).  It shows that this genome is missing the Phage terminase
Large subunit family, but when I sele

[2018-01-31 21:34] hyoo commented on #1873
#1814

[2018-01-31 21:36] hyoo commented on #1823
thanks, I found the bug and fixed. https://github.com/PATRIC3/p3_api/commit/31bc51b5c0f89d09571771e949c554849c9b4202

This will be deployed by end of today.

[2018-01-31 21:37] hyoo commented on #1815
I believe this is due to the same reason #1823

[2018-01-31 22:00] hyoo commented on #1806
https://github.com/PATRIC3/p3_api/commit/e6d9c3b54b90cd480243b66afc5e07b866c2bb18

This will prevent `feature_id_a:()` type errors

[2018-01-31 22:14] hyoo commented on #1443
@aswarren i have attached two files, before.gff and after.gff

seems like urlencoding works for all of your cases. Please verify before and after and let me know so that i can commit my changes.

[Archive.zip](https://github.com/PATRIC3/patric3_website/files/1683492/Archive.zip)

[2018-02-01 18:42] hyoo commented on #1815
the fix is deployed on production.

[2018-02-01 18:42] #1815 closed, assigned to hyoo

[2018-02-01 18:43] hyoo commented on #1823
the fix is on production

[2018-02-01 18:43] #1823 closed, assigned to hyoo

[2018-02-01 18:44] hyoo commented on #1873
this is not fixed by Jan 2018 data release. I still see it. pushing to Feb

[2018-02-01 18:48] hyoo commented on #1868
Several performance improvement on genome browser were made by Jan 2018 release. Please reopen if you still see the problem.

[2018-02-01 18:48] #1868 closed, assigned to mshukla1

[2018-02-01 18:52] hyoo commented on #1407
User is complaining about RefSeq Annotation. This is not related to genome browser. And we don't have control on RefSeq Annotation as well.

[2018-02-01 18:52] #1407 closed, assigned to aswarren

[2018-02-01 19:24] hyoo commented on #1842
@rkenyon or @mshukla1 would you provide one line description about the data type?

[2018-02-01 19:29] aswarren opened #1874 "When ID mapper gets a 404"
It should give a failure message instead of just showing the spinning wheel
![image](https://user-images.githubusercontent.com/229173/35698093-1ac5f25a-075a-11e8-8c33-5357ac867bee.png)

[2018-02-01 19:54] hyoo commented on #1842
how does this sound like?

Transporters refer to proteins that serve the function of moving other materials within an organism. We have integrated and mapped proteins from Transporter Classification Database.

Essential genes refer to the genes that are critical for the organism's survival. We have built PATRIC reconstruction model to identify essential genes.

[2018-02-01 21:05] hyoo commented on #1827
this is deployed on production.

[2018-02-01 21:05] #1827 closed, assigned to nconrad

[2018-02-01 21:54] #1443 closed, assigned to dmachi, hyoo

[2018-02-02 14:06] ARWattam opened #1875 "Missing columns in Variation Service?"
When I run the variation service using BWA-mem and FreeBayes, the following 2 columns are included at the end of the all.var.html and  and all.var.tsv files:
snpEff_type
snpEff_impact
These two columns are extremely valuable.  When I run any of the other combinations (see below), they are missing.  Is this something that is specific to that combination, or is it a bug that prevents the column bein

[2018-02-02 17:02] dmachi opened #1876 "new p3-user sulogin"
I've done some basic review of the sulogin functionality for the new p3-user/p3-web service.  The following should be updated:

1.  For admin users, add a link to the sulogin page from the person menu in the top right
2. Change the text on the su login page:
   a.  Put a header at the top of the form that says something like "Impersonate User"
   b.  Put some instructions at the top saying what th

[2018-02-02 18:34] mshukla1 commented on #1876
I like to add one more thing, if it isn’t address already.

The workspace menu in the top navigation bar doesn’t show the home workspace and
groups for the user impersonated. I usually modify the page url manually to go to the
workspace home.

-Maulik

[2018-02-02 19:02] dmachi commented on #1876
Maulik,  that particular issue has been addressed.

[2018-02-02 19:11] mshukla1 commented on #1876
I just tried, I don’t see the change on alpha. Is it deployed?

[2018-02-02 19:17] dmachi commented on #1876
This ticket is related to the testing we are doing on the new p3-user system, so the comment was related to that system.  However, for the current p3-user it is fixed on production as well.   I will deploy that update to alpha too as I forgot to update that one.

[2018-02-02 20:08] dmachi commented on #1876
I’ve updated the alpha version now too.

[2018-02-02 21:56] nconrad commented on #1856
I looked into this and it turns out to be a workspace inconsistent permission issue that is causing the problem (the way it is coded anyway).   https://github.com/PATRIC3/Workspace/issues/61

@olsonanl  Have you happened to look into that issue?

[2018-02-02 23:36] olsonanl commented on #1856
As I referred to in the other ticket, I'd need to see the specific inconsistency that is causing this problem.

[2018-02-03 01:02] nconrad commented on #1856
I can try to see if I can get another workspace into that state next week.

I think I have addressed this ticket with the last commit.

[2018-02-06 13:41] #1856 closed, assigned to nconrad

[2018-02-06 14:05] dawenx commented on #1784
this fix applies to metagenome binning service as well (on alpha), will be on production on next release.

[2018-02-06 14:06] dawenx commented on #1831
this is fixed on alpha along with some other enhancements, e.g., a user cannot choose both paired read library and contigs, same file for a paired is not allowed, etc.

@olsonanl can you confirm the fix? thanks!

[2018-02-06 14:09] dawenx commented on #1783
i have implemented some enhancements for this UI, e.g., a user cannot choose both paired read library and contigs, same file for a paired is not allowed, etc. it's on alpha.

[2018-02-06 14:09] dawenx commented on #1855
just wanted to make record complete: this is fixed for metagenome binning and it's on alpha now.

[2018-02-06 15:28] JoshuaVSherman commented on #1819
https://github.com/PATRIC3/p3_web/pull/672

[2018-02-06 15:29] JoshuaVSherman commented on #1780
https://github.com/PATRIC3/p3_web/pull/672

[2018-02-06 15:30] JoshuaVSherman commented on #1841
https://github.com/PATRIC3/p3_web/pull/672

[2018-02-06 16:01] JoshuaVSherman commented on #1874
@aswarren no longer receiving a 404, but was still locked up with source undefined, so I fixed that issue.

[2018-02-06 16:10] JoshuaVSherman commented on #1874
https://github.com/PATRIC3/p3_web/pull/672/commits

[2018-02-06 17:29] JoshuaVSherman commented on #1630
https://github.com/PATRIC3/p3_web/pull/686

[2018-02-06 18:54] nconrad opened #1877 "encode/decode special chars in workspace urls"
namely "%" and "#"

https://www.patricbrc.org/workspace/nconrad@patricbrc.org/test#workspace

[2018-02-06 19:42] dawenx commented on #1861
@ARWattam I understand different behaviors on different services cause confusion.

But the 'reset' should set the UI to the initial state by definition, e.g., when the service UI is first loaded. I would argue proteome comparison service could have a bug on reset or this behavior was specifically requested and implemented. maybe we should have a discussion. @maovt @hyoo

[2018-02-06 19:46] dawenx commented on #1864
@aswarren any reason for not having a reset button on ID Mapper service? I can work on this issue otherwise.

[2018-02-06 19:47] JoshuaVSherman commented on #1864
because the form can be resubmitted as many times as you wish by just
copying over the stuff, so it seems not necessary to me

On Tue, Feb 6, 2018 at 2:46 PM, Dawen Xie <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-02-06 19:49] mshukla1 commented on #1541
This has been addressed and the solution is already deployed on the production website.

-Maulik

[2018-02-06 19:49] #1541 closed, assigned to levinas

[2018-02-06 19:49] dawenx commented on #614
@nconrad i'm going through some old issues, what's status on this?

[2018-02-06 19:52] nconrad commented on #614
status: not implemented.

[2018-02-06 19:59] mshukla1 commented on #1413
Harry, I believe this is simple JS check issue. Can you fix it?

[2018-02-06 20:24] nconrad commented on #1667
There's at least be a message on the genome page now, explaining why the page can't be loaded.

[2018-02-06 20:24] #1667 closed, assigned to nconrad

[2018-02-06 20:24] #1834 closed, assigned to nconrad

[2018-02-07 15:48] mshukla1 opened #1878 "Do not allow slashes in file, folder, and workspace names"
Often special characters (like # , ; etc) break the services and links to result pages.

- Come up with system-wide policy and guidelines for supporting special characters in workspace file/dir and job names
- make sure special characters are handled appropriately and don’t break any services or links
- implement it consistently across the system.

[2018-02-07 21:26] #1523 closed, assigned to nconrad

[2018-02-07 21:53] mshukla1 commented on #1852
@maovt any progress on this?

[2018-02-08 01:03] chmao1 commented on #1852
@mshukla1 @olsonanl I checked again and the job failed. The web UI works fine and parameters are passed correctly. Unfortunately, I'm not able to test the backend program. I checked the source code (https://github.com/TheSEED/app_service/blob/master/scripts/App-GenomeComparison.pl), and noticed the following lines:

line 29    my $data_api = Bio::KBase::AppService::AppConfig->data_api_url;
line 30

[2018-02-08 01:21] mshukla1 commented on #1852
Chunhong, find me online Tomorrow and I will explain the problem.

Sent from my iPhone

[2018-02-08 01:22] chmao1 commented on #1852
okay

[2018-02-08 14:18] mshukla1 commented on #1875
We discussed this during hackathon.

Those columns require genbank file and input, which we don't have on the FTP site.

We are planning to add support for genbank and other file types in the data API.

-Maulik

[2018-02-08 16:02] chmao1 commented on #1850
Available in production.

[2018-02-08 16:02] #1850 closed, assigned to chmao1

[2018-02-08 16:39] chmao1 commented on #1656
@ARWattam Is this still an issue? If not, II'll close this issue. Thanks.

[2018-02-08 19:57] rkenyon commented on #1656
Not sure about Rebecca's ticket, but during the Proteome Comparison Webinar
last week, someone was asking about the color scheme and made some
suggestions.  See below:

From Florence Wang to Everyone(04:56:15 PM)

I wonder if there is a rationale in the choice of the "rainbow" color map
for  the comparison ring diagram ?  I am asking because from a data
visualisation point of view, rainbow color m

[2018-02-08 20:10] mshukla1 commented on #1656
I think the solution here is to replace the pre-generated circos image in proteome comparison
with the new dynamic circular viewer we are using for circular genome viewer.

Once we do that, it can be more interactive. We can allow users to use different color scales,
show / hide tracks, or highlights regions/features of interest.

-Maulik

[2018-02-08 20:15] chmao1 commented on #1866
@ARWattam Can you provide an example where the order is not what you expected? I'll look into it.

[2018-02-08 20:18] chmao1 commented on #1656
This original issue was about the color choices for genome circular viewer not the Circo's result in proteome comparison.

[2018-02-08 20:25] chmao1 commented on #1656
The color palette provided by our circular viewer offers pretty good selections of color choices. Did user suggest what colors that he/she wanted?

[2018-02-08 20:27] chmao1 commented on #1656
![screen shot 2018-02-08 at 3 26 29 pm](https://user-images.githubusercontent.com/6361802/35996432-88264aea-0ce4-11e8-8606-d9ef6232968d.png)

[2018-02-08 22:41] dmachi commented on #1656
My impression is that they are talking about the Circos output color scheme that comes from the proteome comparison service not the circular viewer color scheme.

[2018-02-08 23:38] chmao1 commented on #1656
@ARWattam Could you clarify the requirement for this issue?

[2018-02-09 16:33] hyoo commented on #1842
<img width="981" alt="image" src="https://user-images.githubusercontent.com/1236467/36038200-a667c1e6-0d84-11e8-9afb-eaa661000283.png">

updated

[2018-02-09 16:33] #1842 closed, assigned to mshukla1, hyoo

[2018-02-09 19:16] chmao1 opened #1879 "Assembly service: SRR accession input failed"
Unable to enter a SRR accession number as an input.

![screen shot 2018-02-09 at 2 14 16 pm](https://user-images.githubusercontent.com/6361802/36045470-d3c729c8-0da3-11e8-8e01-31624d581f39.png)

[2018-02-09 20:58] mshukla1 commented on #1879
I got the same error when I clicked the arrow to select the library.

-Maulik

[2018-02-09 21:13] #1831 closed, assigned to dawenx

[2018-02-09 21:14] dawenx commented on #1783
the fix is on production.

[2018-02-09 21:14] #1783 closed, assigned to hyoo, dawenx

[2018-02-10 14:25] ARWattam opened #1880 "Protein family sorter needs to include protein family ids in download"
There is no way to translate between the column headings when you download the heatmap data and find those actual proteins in PATRIC.  It would be much easier if the PLFam (or PGFAM) were included, especially since you are selecting those when you originally engage the tool.

[2018-02-10 14:45] ARWattam commented on #1880
Here's another reason to use the protein family IDs.  when you download the heatmap view in csv, and then open it in excel, every time there is an irregular character (like @, that RASTtk uses a lot in annotations), it will push the rest of the text to the next column head, but maintain the column for the previous family.  The end result is an excel file where you can have 1020 column heads, and 8

[2018-02-10 15:39] ARWattam commented on #1880
Also, if you open as csv, guess what the annotation names have a lot of...commas!
Transcriptional activator rinB, phage associated

[2018-02-12 13:14] ARWattam opened #1881 "Need to resolve host metadata"
Human and Homo sapiens must be combined to Human, Homo sapiens.  A user has complained about this (and its not me).  When its messed up, it looks like the attached
<img width="441" alt="screen shot 2018-02-12 at 8 13 37 am" src="https://user-images.githubusercontent.com/11475316/36098375-b682c112-0fcc-11e8-9a26-cc31f5d9fb4f.png">

Other metadata appears to be pretty badly in need of a tune up.

[2018-02-12 14:04] JoshuaVSherman commented on #1528
I was able to duplicate this issue

[2018-02-12 14:14] JoshuaVSherman commented on #1528
@mshukla1 neither the drop downs nor the table view are being dynamically generated, they are both hard-coded in the html file. I can fix the table display to include those missing items, but to make it all be dynamically generated would be some considerable effort. Please let me know if I should work on that request too, and then I would need information on the API endpoint where I could fetch. T

[2018-02-12 15:12] JoshuaVSherman commented on #1863
@mshukla1 Good morning, I just spoke with Rebecca, and I hope that you have something to send me that explains what are the categories for ID mapper drop-down? My email is josh73@bi.vt.edu and if you have some time for a phonecall to discuss further, that would be awesome, my cell is 540-494-8035

[2018-02-12 15:30] JoshuaVSherman commented on #1874
@aswarren guess this is not fixed, just received a 404 this morning

[2018-02-12 18:59] JoshuaVSherman commented on #1874
https://github.com/PATRIC3/p3_web/pull/672

[2018-02-12 19:32] #1819 closed, assigned to aswarren, JoshuaVSherman

[2018-02-12 19:33] #1841 closed, assigned to JoshuaVSherman

[2018-02-12 19:33] #1780 closed, assigned to JoshuaVSherman

[2018-02-13 14:45] JoshuaVSherman opened #1882 "data types for id mapper should be generated from what is currently available in solr"

[2018-02-13 14:46] JoshuaVSherman commented on #1528
@mshukla1 I created this ticket to address your request for a more dynamic generation of the id types https://github.com/PATRIC3/patric3_website/issues/1882

[2018-02-13 15:28] chris-c-thomas commented on #1870
@hyoo - Have we branched off to begin the implementation of templates and modules for this?

I think it'd be worthwhile to also begin using some type of layout grid or skeleton for PATRIC pages to let them be responsive. Whether that's involving something like Bootstrap's grid system or something done in Flexbox/CSS Grid it'd be beneficial to start doing so that many more viewport sizes are suppor

[2018-02-13 15:41] JoshuaVSherman commented on #1870
I have bootstrap 4 with Webpack working here, if that helps
https://github.com/VTbiocomplexity/frontend

On Tue, Feb 13, 2018 at 10:28 AM, Chris Thomas <notifications@github.com>
wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-02-13 15:51] chris-c-thomas commented on #1870
@JoshuaVSherman - Much appreciated! I have a few similar tooling setups as well with webpack or npm scripts.

I guess this goes to a broader question though. Certain front end aspects of PATRIC could use a little updating and now would be the time to do it. Concatenating the grid portion of Bootstrap 3 (float based) or 4 (flexbox based, might lose some older browser support) into the beginning of

[2018-02-13 15:55] JoshuaVSherman commented on #1870
https://getbootstrap.com/docs/4.0/getting-started/browsers-devices/#supported-browsers

On Tue, Feb 13, 2018 at 10:51 AM, Chris Thomas <notifications@github.com>
wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-02-13 15:58] JoshuaVSherman commented on #1870
I went to version 4 because of this
https://snyk.io/test/npm/bootstrap/3.3.7?severity=high&severity=medium&severity=low

On Tue, Feb 13, 2018 at 10:55 AM, Joshua Sherman <joshua.v.sherman@gmail.com

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-02-13 16:23] hyoo commented on #1806
https://github.com/PATRIC3/p3_web/commit/df0a8b744a972ddc92b9277d6fb0c9da07aca4ba

This will prevent ```genome_id: AND property:...``` and ```genome_id:()``` errors. Those were coming from specialty gene tab and sequences tab, respectively when the page is reloaded.

[2018-02-13 17:12] JoshuaVSherman opened #1883 "Complete various Standalone ID Mapper improvements as listed in this ticket"
* RefSeq should be Protein ID and fix the post from standalone ID Mapper **DONE**
* Change hide to not hide the title of the page **DONE**

[2018-02-13 19:06] JoshuaVSherman opened #1884 "New User Service manual testing or bug fixes as needed"

[2018-02-13 20:01] #1528 closed, assigned to aswarren, JoshuaVSherman

[2018-02-13 20:01] #1874 closed, assigned to aswarren, JoshuaVSherman

[2018-02-13 20:02] #1863 closed, assigned to aswarren, mshukla1, JoshuaVSherman

[2018-02-13 20:22] ARWattam opened #1885 "Circular view is not showing all of user uploaded file"
Go here:
https://www.patricbrc.org/view/Genome/520456.3#view_tab=circular
and then upload the attached file.  You will find that it only shows the genes on one contig, and on none of the others.  Very frustrating.
[BNWLFG2_S5 start stop for circular view.txt](https://github.com/PATRIC3/patric3_website/files/1721572/BNWLFG2_S5.start.stop.for.circular.view.txt)

[2018-02-13 20:39] JoshuaVSherman opened #1886 "Standalone ID Mapper improvements"
* clean up code involving right-side form that does not exist **DONE**
* clean up unreachable code and unused vars **DONE**
* show/hide advanced search widget, which is only for right side toGroup = PATRIC **DONE**

[2018-02-14 17:53] JoshuaVSherman commented on #1884
public/js/p3/widget/GridContainer.js

[2018-02-14 20:34] chmao1 commented on #1885
Need to handle the extra header line  in the user file.

[2018-02-14 20:43] chmao1 commented on #1885
fixed and made a pull request.

[2018-02-14 21:54] olsonanl commented on #1838
Aha. Prodigal release 2.6.2 release notes:

Added support for NCBI Genetic Code 25.

https://github.com/hyattpd/Prodigal/releases

[2018-02-15 12:34] ARWattam commented on #1885
Is this on alpha?  I tried it and am still getting the same error.

Rebecca

On Wed, Feb 14, 2018 at 3:43 PM, maovt <notifications@github.com> wrote:

[2018-02-15 14:57] ARWattam commented on #1656
I think that this is fine and I need to create a tutorial that explains how to use this and get the colors you want.

[2018-02-15 14:57] #1656 closed, assigned to chmao1

[2018-02-15 15:51] hyoo commented on #1806
![image](https://user-images.githubusercontent.com/1236467/36265860-be897d4a-1235-11e8-9d31-a42565cd67e5.png)

Three patterns left.

[2018-02-15 20:15] chmao1 commented on #1885
Should be available in the next build

[2018-02-15 20:19] hyoo commented on #1885
@maovt please double check on production. we deployed yesterday.

[2018-02-15 20:31] chmao1 commented on #1885
Tested and verified on production.

[2018-02-15 20:31] #1885 closed, assigned to chmao1

[2018-02-16 13:26] JoshuaVSherman opened #1887 "Prevent user from changing their email address to an email address that is already associated with another existing user"

[2018-02-16 16:03] jimdavis1 opened #1888 "GFF files from annotation service are incorrectly formatted."
Here is the entry for a gene that I annotated.  Note that it is missing the equal sign in the annotation in the gff output line.  I'm not sure about the escaped characters with the %2C but I am assuming those are also unnessary.

NODE_32_length_15125_cov_42.0081	rast2_export	CDS	12648	12995	.	+	0	ID=fig|590.16674.peg.5295;Name=Small multidrug resistance (SMR) efflux transporter > QacE delta 1%2C q

[2018-02-16 16:53] ARWattam opened #1889 "User requests ability to download all correlated genes per genome"
Came from JIRA 1344 ticket
User would like to  download all "correlated genes" data of a particular genome from PATRIC

[2018-02-16 20:03] hyoo opened #1890 "Update downlevel PATRIC hosts to centos 6"
This is a copy of Jira ticket, https://jira.cels.anl.gov/browse/PATRIC-1138
Original message,
-----------------------
Nessus detected downlevel operating systems on these hosts

140.221.78.38,
192.5.200.5,
192.5.200.6,
192.5.200.7,
192.5.200.9,
192.5.200.19,
192.5.200.126

We need to upgrade these to centos 6

[2018-02-16 20:04] hyoo opened #1891 "Upgrade nessus"
This is a copy of
https://jira.cels.anl.gov/browse/PATRIC-1139

![image](https://user-images.githubusercontent.com/1236467/36326895-54bd7cc0-1322-11e8-8d3a-1022f60ad664.png)

[2018-02-16 20:05] hyoo opened #1892 "Move chestnut ipmi to hidden net"
This is a copy of
https://jira.cels.anl.gov/browse/PATRIC-1140

![image](https://user-images.githubusercontent.com/1236467/36326925-638aef9e-1322-11e8-9bd6-d32519f1931b.png)

[2018-02-16 21:20] aswarren commented on #1888
Hey @jimdavis1 this in conformation to the GFF format.
Please see https://github.com/PATRIC3/patric3_website/issues/1443 and the associated link there.
Let us know if you want us to contravene the format specification (which will generally make it hard to parse into key value pairs).

[2018-02-18 21:20] mshukla1 commented on #1813
@nconrad

It looks like your changes have been deployed on the production site. I tried to create a genome group in a shared workspace  multiple times, however, every time, regardless of the folder I selected, the new group still ended up in my default genome group folder.

On a positive note, I was able to copy a genome group from my home to a shared workspace.

-Maulik

[2018-02-19 04:56] nconrad commented on #1813
So I'm not sure why this worked when I tested, but made a PR for the fix.   PATRIC3/p3_web#699

Thanks!

[2018-02-19 12:41] #1883 closed, assigned to aswarren, JoshuaVSherman

[2018-02-19 12:41] #1864 closed, assigned to JoshuaVSherman

[2018-02-19 14:18] dawenx commented on #1889
I don't know what does it mean by "correlated genes per genome" and where should we put the download... @hyoo can you help me understand it or suggest a 'better' person to work on it?

[2018-02-19 16:07] hyoo commented on #1889
We have a correlated gene page in feature level. The correlated genes refer to genes that are likely up/down regulated with the given gene. This is calculated with transcriptomcis data in solr.

This page triggers a solr query to calculate correlated genes per feature. Currently we don't have a functionality to generate all the correlated genes per genome, since the correlation is calculated on th

[2018-02-20 17:08] hyoo commented on #1889
For E.coli, we have 7 genomes that can calculate correlation.
511145.12,386585.9,155864.8,199310.4,405955.13,362663.9,364106.8

Genome ID	Genome Name
"155864.8"	"Escherichia coli O157:H7 str. EDL933"
"199310.4"	"Escherichia coli CFT073"
"362663.9"	"Escherichia coli 536"
"364106.8"	"Escherichia coli UTI89"
"386585.9"	"Escherichia coli O157:H7 str. Sakai"
"405955.13"	"Escherichia coli APEC O1"
"5111

[2018-02-20 20:25] chmao1 commented on #1866
The order is from outer to inner ring.

[2018-02-20 20:25] #1866 closed, assigned to chmao1

[2018-02-21 12:44] JoshuaVSherman commented on #1171
* The results page generated after using the action bar version of ID mapper should be the same one that is displayed after using the standalone version of ID mapper

[2018-02-21 16:19] mandywil opened #1893 "ID Mapper: Reset button does not reset the dropdowns"
Reset button clears the form, but typically a Reset button would also reset the dropdowns.

[2018-02-21 16:38] mandywil commented on #1764
To duplicate:
Go to Feature View/Genome browser, select a CDS.

[2018-02-21 17:37] JoshuaVSherman commented on #1893
https://github.com/PATRIC3/p3_web/pull/702

[2018-02-21 19:08] hyoo opened #1894 "download dialog: need error checking"
![image](https://user-images.githubusercontent.com/1236467/36499806-045853b0-1708-11e8-8d01-8810624af40c.png)

To go
https://www.patricbrc.org/view/Taxonomy/570#view_tab=genomes

select one -> download button on green bar,

No option has selected. Submit, cause error

![image](https://user-images.githubusercontent.com/1236467/36499888-38562570-1708-11e8-8fc9-4b6e6d7794bd.png)

We should add check

[2018-02-22 12:51] #1893 closed, assigned to JoshuaVSherman

[2018-02-22 12:54] JoshuaVSherman commented on #1171
@dmachi getting an **undefined** are mapped; output from Action Bar ID mapper query does not include # that were mapped, need help with that please

[2018-02-22 13:02] JoshuaVSherman commented on #1171
https://github.com/JoshuaVSherman/p3_web/blob/9a9ea7bd30085b0807d49a6b922695292843498d/public/js/p3/widget/viewer/IDMapping.js

line 38

[2018-02-22 17:52] olsonanl opened #1895 "compare regions: drawing region not big enough"
If I have a compare regions  and request the full 50 genomes, the drawing canvas is not set to be large enough to render them.

For example. fig|662755.4.peg.1546. Choose 50 genomes to display; the underlying service is telling me it found the full 50 but the display truncates at 15:

![screen shot 2018-02-22 at 11 51 19 am](https://user-images.githubusercontent.com/2152226/36555117-ba96eb78-17c6-

[2018-02-22 18:21] hyoo commented on #1895
Ah,, this was fixed but for some reason, the fix was sleeping on my local repo.
https://github.com/PATRIC3/p3_web/commit/b13c98ff30024e0c6d48281ce6910f692a3a20c3

I just merged it. Will update when i deploy to alpha.

[2018-02-22 19:52] hyoo commented on #1895
deployed on alpha

https://alpha.patricbrc.org/view/Feature/fig|662755.4.peg.1546#view_tab=compareRegionViewer

<img width="1260" alt="image" src="https://user-images.githubusercontent.com/1236467/36560844-9073e6b4-17d7-11e8-8ec9-60e3ef8eef92.png">

[2018-02-22 19:58] olsonanl commented on #1895
Cool. And I see you have hooked up the doubleclick handler - excellent!

[2018-02-23 16:29] JoshuaVSherman commented on #1171
https://github.com/PATRIC3/p3_web/pull/706

[2018-02-23 22:12] rkenyon opened #1896 "Enable zooming on Circular Genome Viewer"
Seems like the only way to zoom now is to resize the browser window.

https://patricbrc.org/view/Genome/158879.11#view_tab=circular

[2018-02-26 14:20] JoshuaVSherman commented on #1886
@AndrewGuard please confirm, the ID Mapper Advanced search thingy is only for when the toGroup = PATRIC, correct?

[2018-02-26 15:43] JoshuaVSherman commented on #1886
https://github.com/PATRIC3/p3_web/pull/706

[2018-02-26 20:22] dawenx commented on #179
I have tried without luck as this is related to bug/issue in the underlying dijit widget. Need help.

[2018-02-26 22:32] nconrad commented on #179
@dawenx oh yeah, I reported this ages ago! :)   Yeah, I'm not sure there is a solution that is worthwhile, given this is also low priority.  Definitely a dojo issue: https://bugs.dojotoolkit.org/ticket/15388 .    I would close.

[2018-02-27 13:37] dawenx commented on #179
ok, i changed some tags and will go ahead to close it.

[2018-02-27 13:37] #179 closed

[2018-02-28 00:33] aswarren opened #1897 "RNA-Seq job: system reports file not present"
job id: 56c6ce09-f509-4b2c-a696-36b98a73705a
From the stdout there is a report that the alignment worked and the resulting sam was present:

$VAR3 = bless( {
                 'DIRNAME' => '/scratch/tmp/l3DBYSjf4c',
                 'REALNAME' => '/disks/tmp/l3DBYSjf4c',
                 'CLEANUP' => 1,
                 'LAUNCHPID' => 11180
               }, 'File::Temp::Dir' );
/scratch/tmp/l3DBYS

[2018-02-28 17:09] olsonanl commented on #1897
What we don't know is if that file was there when samtools ran as we don't have timestamps. Is this a repeatable problem?

There are tmp cleaners on that system but for the p3 space they clear data that is 10 days old.

[2018-03-06 22:11] rkenyon opened #1898 "Genome report pdf vs. html"
To get around the pdf versus html issue for the genome report, is it possible to render the initial version in "print-friendly" html?  If so, the user can print to pdf.

[2018-03-07 00:51] nconrad commented on #1898
So, that is basically how it currently works.  :)

First html is produced, and then headless chrome (Pupeteer) is used to convert that to a pdf.    The resulting pdf will look identical to a user hitting the 'print to pdf' button-- it's just being done programmatically.

Here's an example of the html output: https://nconrad.github.io/demo/46170.310/genome-report.html
[I'm going to remove this demo

[2018-03-07 19:53] chmao1 opened #1899 "Circular genome viewer: add specialty genes tracks"
Add specialty genes tracks to the circular genome viewer. This will also be included in the genome report.

[2018-03-07 20:48] chmao1 opened #1900 "Circular genome viewer: remove 0.0 labels for contigs"

[2018-03-08 17:16] chmao1 opened #1901 "Circular genome viewer: reduce the gap between contigs"

[2018-03-11 13:55] mshukla1 commented on #1899
Chunhong, the your recent circular viewer enhancements are now deployed on alpha and it looks GREAT!!

One small issue, foreground color selector is missing for the non-CDS features. Hence, there is no way to display them. Please see the attached screenshot.

<img width="336" alt="screen shot 2018-03-11 at 8 51 57 am" src="https://user-images.githubusercontent.com/1236463/37254292-ea72d500-2509-11

[2018-03-11 14:29] mshukla1 commented on #1899
Few more suggestions on the order of the tracks:

CDS - fwd
CDS - rev
Non-CDS features
AMR genes
VF genes
Transporters
Drug targets

Human homologs - remove => not predicted any more
Essential genes - remove => sparse, available only for reference and rep genomes

Please also check the range for GC content and GC skew plots, which seem to be -1 to +1.
However, I believe the values for both are alw

[2018-03-12 14:42] JoshuaVSherman commented on #1175
https://github.com/PATRIC3/p3_web/pull/706

[2018-03-12 21:21] nconrad opened #1902 "Charts missing axis labels on genome overview"
(See "Genomic Features" and Speciality Genes")

![image](https://user-images.githubusercontent.com/1194246/37310215-378090c8-2611-11e8-8f1b-fa6febbdac6e.png)

[2018-03-13 12:19] JoshuaVSherman commented on #1902
https://patricbrc.org/view/Genome/520456.3
i'm assuming he means the units on the x-axis for protein features and Specialty Genes, but I think those are just a simple count of how many there are?

[2018-03-13 12:22] JoshuaVSherman commented on #1902
My confusion with this UI is that the label for each chart is above the chart and there is no separation between charts so it is not easy to tell which chart goes with which heading. So just move the heading closer to the chart that matches it, and put more spaces in between each chart  or a separation of some sort.

[2018-03-13 14:09] JoshuaVSherman commented on #1902
https://github.com/PATRIC3/p3_web/pull/706

[2018-03-13 19:14] chmao1 commented on #1899
1. The color palette was disabled for Non-CDS features, because multiple colors (not a single) were used for different types of Non-CDS features. We could change it to use a single color for all Non-CDS features.

2. I can remove the tracks for Human homologs and Essential genes tracks

3. The range for GC content is 0 to 1 and for GC skew plots is -1 to +1.

[2018-03-13 19:29] hyoo opened #1903 "update node version in PATRIC runtime"
currently it is 6.x and want to move to  8.10.0

[2018-03-14 13:51] JoshuaVSherman commented on #1175
https://github.com/PATRIC3/p3_web/pull/713

[2018-03-14 15:40] mshukla1 opened #1904 "File upload: upload button not visible"
Please reduce the size of the select file or drag here area so that the cancel and start upload buttons are visible in the window by default without requiring scrolling.

-Maulik

<img width="826" alt="screen shot 2018-03-14 at 10 38 02 am" src="https://user-images.githubusercontent.com/1236463/37412990-025120de-2774-11e8-8714-4520f1fffbc6.png">

[2018-03-14 15:44] jimdavis1 opened #1905 "Command line programs do not exist"
There is no p3-mkdir
I copied this straight from the online tutorial, so this is bad.

![image](https://user-images.githubusercontent.com/7661533/37413262-a55906c0-2774-11e8-9d32-9ad3beff43c7.png)

[2018-03-14 15:55] ARWattam opened #1906 "OK button not visible on screen when zoomed in."
When people have their window zoomed in, they can't see the  OK button when they are uploading.  I just had a user on a winndows computer that had to go in and change the resolution.  This made his computer shut down to do the channge, and then he had to upload it all over againn.  Just so he could see the OK button.  Maybe we should move that button up.  I have had trouble with that myself

[2018-03-14 15:56] jimdavis1 opened #1907 "command line tools need to enumerate types"
Needs to list recipes
likewise ws-create should enumerate the valid file types

![image](https://user-images.githubusercontent.com/7661533/37414019-3b0d17aa-2776-11e8-83ea-3061369d36ca.png)

[2018-03-14 16:09] mshukla1 commented on #1906
@ARWattam is this upload to workspace or upload / file selection from the service?

Can you add a screenshot just to be clear?

[2018-03-14 16:20] ARWattam opened #1908 "Surface-ipad-firefox does not load jobs page"
We are seeing a weird error.  Someone has a Surface ipad and is trying to see her jobs page.  Clicks and clicks on it, and nothing appears.  never seen that before.  When changed to Chrome, she could see the jobs page.  Only Firefox.

[2018-03-14 16:55] ARWattam opened #1909 "Reorder contigs-start with DnaA first"
We often get asked this.  Users have compared to reference using Mauve and know how the contigs are ordered.  They would like to be able to do this in PATRIC without having to do the manual, tedious process.

[2018-03-14 17:51] hyoo commented on #1908
if possible, can we have info,

- is it Surface notebook (Microsoft) or Apple iPad?
- what is the version of firefox?
- what is the error message in console (broswer -> developer console), if exists ?

[2018-03-14 17:57] dawenx commented on #1904
duplicate issue as #1810

[2018-03-14 18:00] dawenx commented on #1906
duplicate issue as #1810

[2018-03-14 18:54] #1907 closed, assigned to nobody

[2018-03-14 20:20] jimdavis1 opened #1910 "Binning"
You should be able to submit more than one set of paired end reads for a metagenomic binning job, just like for a regular assembly job.

![image](https://user-images.githubusercontent.com/7661533/37428750-3a8c6a72-279b-11e8-9671-2932ebea38fe.png)

[2018-03-14 21:51] nconrad opened #1911 "explanation of why genome may not be found is missing"
![image](https://user-images.githubusercontent.com/1194246/37432874-ea7b3704-27a7-11e8-97bb-3b78afdaf294.png)

[2018-03-15 10:47] jimdavis1 opened #1912 "this is a bad one - AMR classifiers on plasmids"
Here is an example of a plasmid that went through the adaboost classifiers when you integrated the plasmid data. Note the declaration of "susceptible".    This tool is trained on whole genome data, so the assumptions have been violated.   Ciprofloxacin, for instance,  is a mutation in the gyrA gene (which is encoded on the chromosome).

I am beginning to think that the classifiers should be taken

[2018-03-15 10:55] jimdavis1 opened #1913 "presentation of amr data"
This presentation of the AMR phenotype is not informative.

![image](https://user-images.githubusercontent.com/7661533/37459210-60c59b58-2815-11e8-9b32-ca8b701614aa.png)

[2018-03-15 11:19] jimdavis1 opened #1914 "issue with blast"
I can search within plamids with BLASTN but not BLASTP??

![image](https://user-images.githubusercontent.com/7661533/37460286-c3b4ec66-2818-11e8-9377-1c2379678b90.png)

![image](https://user-images.githubusercontent.com/7661533/37460293-cf992d94-2818-11e8-99f7-b096d44edaa1.png)

[2018-03-15 11:40] jimdavis1 opened #1915 "blast"
I blasted this PATRIC protein against all Klebsiella.  It did not find itself.

MKNTIHINFAIFLIIANIIYSSASASTDISTVASPLFEGTEGCFLLYDASTNAEIAQFNK
AKCATQMAPDSTFKIALSLMAFDAEIIDQKTIFKWDKTPKGMEIWNSNHTPKTWMQFSVV
WVSQEITQKIGLNKIKNYLKDFDYGNQDFSGDKERNNGLTEAWLESSLKISPEEQIQFLR
KIINHNLPVKNSAIENTIENMYLQDLDNSTKLYGKTGAGFTANRTLQNGWFEGFIISKSG
HKYVFVSALTGNLGSNLTSSIKAKKNAITILNTLNL

![image](https://user-images.githubuse

[2018-03-15 11:56] mshukla1 commented on #1912
Loading of the plasmids is just revealing the problem that was always there.

Classifiers are part of the default PATRIC annotation pipeline. Everything that is submitted
to the pipeline, goes through it, regardless of whether it is complete genome, near complete
genome, a partial genome, a plasmid, or a phage or a metagenome derived bin…..whether it is
public or private user supplied genome. Spec

[2018-03-15 12:08] jimdavis1 opened #1916 "BLAST DB update cycle is not clear"
In following blastn search, which is a gene against all of klebsiella,  the gene of interest does not find itself.

atgcgtgtattagccttatcggctgtgtttttggtggcatcgattatcggaatgcctgcg
gtagcaaaggaatggcaagaaaacaaaagttggaatgctcactttactgaacataaatca
cagggcgtagttgtgctctggaatgagaataagcagcaaggatttaccaataatcttaaa
cgggcgaaccaagcatttttacccgcatctacctttaaaattcccaatagcttgatcgcc
ctcgatttgggcgtggttaaggatgaacaccaagtcttta

[2018-03-15 18:20] nconrad commented on #1913
@jimdavis1 / @mshukla1  I could use some help on what should be changed?   I know there is there is the AMR table on the overview page...

![image](https://user-images.githubusercontent.com/1194246/37482974-8f9665a0-2853-11e8-9e98-fd7032d83abb.png)

[2018-03-15 18:23] jimdavis1 commented on #1913
I think that the predictions should exist on a separate page or link.  But The thing I am complaining about here is the "Antimicrobial phenotype: Resistant Susceptible"

[2018-03-15 18:26] jimdavis1 commented on #1913
I think it should say that this is "mixed", its just odd.

[2018-03-15 18:32] mshukla1 commented on #1913
"Antimicrobial phenotype: Resistant Susceptible” predates the more elaborate AMR phenotype
tables available now. I agree that it is confusing and not much useful. We can change it as part of the
current metadata overhaul.

Two possible options:

1. In the overall genome metadata, just indicate whether the genome has AMR phenotype data available or not.
Or what level of evidence we have. i.e.

AMR

[2018-03-15 18:37] jimdavis1 commented on #1912
I suggest that a "plasmid" not be considered "genome" anywhere in patric  because its not a genome.
This problem is also showing up when in the search.  I was just looking at a genome that got counted 6 times.  Maybe we need to start thinking about having "bacterial genomes" "plasmids" "phage" "viruses' etc.

Regarding annotation, we have the same problem when you annotate phage.  It goes into the

[2018-03-15 18:48] mshukla1 commented on #1912
I agree, we need to think more carefully about the full support for plasmids and phage.

However, in the mean while, at the very least, we need to add some information in the FAQS/Tutorials
about how to interpret AMR results on non-complete genomes.

-Maulik

[2018-03-15 20:19] dawenx commented on #1910
I'm not the one who worked on the initial UI, but I can work on it if we choose to support it. Before I do anything on this, does the back-end service support multiple pairs of reads? @olsonanl

[2018-03-15 20:23] olsonanl commented on #1910
The current metagenome spades does not accept multiple read sets.

Bruce has done this by concatenating them, but that seems fraught if you ask me. I'd like to understand exactly spades --meta doesn't accept more than one pair.

[2018-03-15 20:44] rkenyon opened #1917 "Some pages not working on iPad tablet"
Identified during Houston workshop.  The following not working:

 - Jobs page
 - Taxon tabs *other than* overview, phylogeny, and taxonomy.

[2018-03-15 22:20] nconrad commented on #1917
@rkenyon Any details on the jobs page not working?

[2018-03-16 11:57] mshukla1 opened #1918 "Data: missing AA sequences"
Looks like we have several CDSs without AA sequences in the database. Many of them match to labeled pseudogenes in RefSeq annotations. Not sure why they were called in the first place.

ACTION: Remove these genes, or change feature type to pseudogenes, or add a "partial" flag

[2018-03-16 11:58] mshukla1 commented on #1918
https://www.patricbrc.org/view/FeatureList/?or(keyword(%22fig%7C1529069.3.peg.2438%22),keyword(%22fig%7C1529069.3.peg.2798%22),keyword(%22fig%7C2058137.3.peg.118%22),keyword(%22fig%7C2058137.3.peg.924%22),keyword(%22fig%7C2058137.3.peg.958%22),keyword(%22fig%7C2058137.3.peg.976%22),keyword(%22fig%7C2058137.3.peg.982%22),keyword(%22fig%7C2058137.3.peg.1141%22),keyword(%22fig%7C2058137.3.peg.1217%22

[2018-03-16 12:11] rkenyon commented on #1917
It loads a blank page.  Header and footer are there, but no job list.

On Thu, Mar 15, 2018 at 6:20 PM, nconrad <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-03-16 12:13] rkenyon commented on #1917
In terms of the tabs, they simply do not work.  clicking on the tab does nothing.

[2018-03-16 12:32] mshukla1 opened #1919 "Proteome comparison: changes similar to circular viewer"
Chunhong,

The proteome comparison circular view looks very fragmented when too many contigs in the reference genome chosen. Can you please apply the changes you made to the circular genome browser to this viewer as well, i.e. remove label for position 0 for every contig and reduce the gap between the contigs.

Thanks.

-Maulik

[2018-03-16 12:33] mshukla1 commented on #1919
<img width="663" alt="screen shot 2018-03-16 at 7 32 17 am" src="https://user-images.githubusercontent.com/1236463/37520748-46d501ca-28ec-11e8-9554-376eb52ad06f.png">

[2018-03-16 12:34] mshukla1 commented on #1919
I also noticed that this viewer also shows contig numbers, which gets crowded when many small contigs. I think it is unnecessary and can be removed.

-Maulik

[2018-03-16 14:52] chris-c-thomas commented on #1917
Should be noted I don't believe this is iPad specific but rather iOS specific as a whole. Not sure about Android but someone should probably test that as well.

[2018-03-16 19:55] rkenyon opened #1920 "doc.patric searches missing some return pages"
For instance, searching "p3-ls" (a CLI command) does not return a hit to http://docs.patricbrc.org/cli_tutorial/cli_services.html however searching "assemble" does. Both terms are in the user guide.  Suspicion is that it is a parsing error due to the "-" in the search term.

To test, Googling "p3-ls site:docs.patricbrc.org" _does_ work.

[2018-03-16 21:03] ARWattam commented on #1906
Its on upload.  Here is my screenshot showing it.  I am not allowed to
scroll down and click on OK, or whatever it is.

Rebecca

On Wed, Mar 14, 2018 at 4:09 PM, Maulik Shukla <notifications@github.com>
wrote:

[2018-03-16 21:19] chmao1 opened #1921 "Circular viewer: weird display for GC content and GC skew"
example:  https://www.patricbrc.org/view/Genome/331111.42#view_tab=circular

[2018-03-19 18:46] nconrad opened #1922 "beta user service refactor typo"
There's a typo in "or password":

![image](https://user-images.githubusercontent.com/1194246/37615323-01aaa37a-2b7b-11e8-880a-e2f5dd7b8860.png)

Also, it may be good to disable the "Login" button here with the text "loading..."/"logging in..." after the login button is clicked.

Looking much better though!

[2018-03-19 18:48] JoshuaVSherman commented on #1922
yes, that was identified, thanks

On Mon, Mar 19, 2018 at 2:46 PM, nconrad <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-03-19 19:38] JoshuaVSherman commented on #1909
give to bob later like maybe 2 weeks, involves assembly annotation

[2018-03-19 19:46] JoshuaVSherman commented on #1905
Bruce Parrello works on CLI

[2018-03-20 17:30] chmao1 commented on #1919
This was implemented differently. Fangfang knows more about this.

[2018-03-20 19:11] chris-c-thomas commented on #1920
Sphinx Doc search tool may not be very sophisticated. @hyoo had mentioned possibly replacing it with Google, etc.

http://www.sphinx-doc.org/en/1.6.4/web/searchadapters.html

[2018-03-20 19:30] #1886 closed, assigned to aswarren, JoshuaVSherman

[2018-03-20 19:30] #1171 closed, assigned to dmachi, aswarren, JoshuaVSherman

[2018-03-20 19:31] #1902 closed, assigned to JoshuaVSherman

[2018-03-21 14:58] jimdavis1 opened #1923 "workspace issue"
1.  I have no idea how many items are in this workspace. It would be useful to know from the website.  I do know that there are >5000 jobs.

2.  I need to find "SRR3664859" and the only way to do that from my workspace page is by sorting and scrolling.

3. I have 2 versions of this private genome. From which workspace directory  did they originate? This should exist on the genome page (see second

[2018-03-21 15:31] jimdavis1 opened #1924 "workspace rename is broken and not actually a rename"
i renamed a job result file using the website.  Here is what it looks like with ws-ls.

![image](https://user-images.githubusercontent.com/7661533/37719418-f7ac2ba4-2cf2-11e8-97b7-6cc55fa1319d.png)

I had intended to get rid of .Salmonella\ SRR3664859 and just call it .SRR3664859. It looks fine on the website.

![image](https://user-images.githubusercontent.com/7661533/37719403-ef1d1ab6-2cf2-11e8-

[2018-03-21 16:27] olsonanl commented on #1924
It looks like the dot job directory didn't get renamed with the job result rename, or else something odd happened. @nconrad can you take a look at this ? I thought we handled this case.

[2018-03-21 17:38] jimdavis1 opened #1925 "feature view problem"
I clicked on "my genomes" in the workspaces tab, and then the features tab and I got this error message.  Seems odd that we would assume that we wanted reference genomes when I specifically clicked on my genomes.

If you don't want to load all my features, just say so.

![image](https://user-images.githubusercontent.com/7661533/37726935-945f0ac8-2d04-11e8-850d-fd662f6e4ae6.png)

[2018-03-21 20:52] chmao1 commented on #1919
I'll look into this and try to fix it.

[2018-03-21 21:03] chmao1 commented on #1919
@olsonanl Hi Bob, I just made a pull request to app_service. Could you review the code and merge and include it in the alpha build? I'll do some testing after you're done. Thanks.

[2018-03-22 13:45] jimdavis1 opened #1926 "ftp is still broken"
Are you guys ever going to fix the ftp so that the the legacy paths still work?  If not, you should at least post up a file of old_path -> new_path  for files that existed prior to the change.  It is sort of maddening that this happened with out public notice.

[2018-03-22 13:47] mshukla1 commented on #1926
I will work on it this morning.

-M

[2018-03-22 13:48] mshukla1 commented on #1926
Is there anything specific you were looking for?

[2018-03-22 13:54] jimdavis1 commented on #1926
We are **REQUIRED** to maintain the two FTP links to the AMR data that we published in previous papers.  This means that these links must remain active (I don't care if they redirect).

ftp://ftp.patricbrc.org/BRC_Mirrors/AMR/  and
ftp.patricbrc.org/patric2/current_release/RELEASE_NOTES/PATRIC_genomes_AMR.txt

[2018-03-22 14:24] chmao1 commented on #1919
@mshukla1 Maulik, I think I fixed it. It's now in production. Please test it and let me know whether the fix satisfies your request.

[2018-03-22 14:48] chmao1 commented on #1411
I set maximum contig number to 5000 now.

[2018-03-22 14:54] chmao1 opened #1927 "Proteome Comparison: feature link"
Need to replace the feature link from

    '/portal/portal/patric/Feature?cType=feature&cId=[id]'
to
     '/view/Feature/[id]';

[2018-03-22 15:07] chmao1 commented on #1411
@olsonanl I made a pull request for this fix. Please review and merge. Thanks.

[2018-03-22 15:43] chmao1 commented on #1921
Fixed and is available on alpha

[2018-03-22 15:44] chmao1 commented on #1901
fixed and available on alpha

[2018-03-22 15:45] chmao1 commented on #1899
The feature is available on alpha

[2018-03-22 15:46] chmao1 commented on #1900
available on alpha

[2018-03-22 15:56] #1927 closed, assigned to chmao1

[2018-03-22 15:56] #1901 closed, assigned to chmao1

[2018-03-22 15:57] #1900 closed, assigned to chmao1

[2018-03-22 15:59] chmao1 commented on #1411
@mshukla1 The fix is now available on production. The maximum contig number now set to 5000.

[2018-03-22 15:59] #1411 closed, assigned to chmao1

[2018-03-27 19:15] Sveta-user opened #1928 "Patric_alpha layout comment"
attached

![patric_alpha_layout](https://user-images.githubusercontent.com/20665963/37989521-419a7f9c-31c9-11e8-86fe-7e2564b9ff36.png)

[2018-03-27 19:26] dmachi commented on #1928
Something looks strange on your view.  Those headers are completely different:

[2018-03-27 19:35] Sveta-user commented on #1928
Hmmm.. Strange...  I was using Crome on this computer below.  Now on FireFox it does look different, you are right!  But what is some users will access Patric via Crome..?

<img width="571" alt="screen shot 2018-03-27 at 2 32 10 pm" src="https://user-images.githubusercontent.com/20665963/37990378-bd1c86cc-31cb-11e8-961e-1d5399ceb502.png">

[2018-03-27 20:54] hyoo commented on #1928
this is an artifact due to the css changes on homepage. If you connect to alpha (and refresh if it exists), you will not see the broken header.

[2018-03-27 20:54] #1928 closed, assigned to nobody

[2018-03-28 18:31] Tinyman392 opened #1929 "Command line tutorials "@patricbc.org""
All of the command line tutorials tell the user to use /PatricUser@patricbc.org/ to access their directories, shouldn't it be patricbrc.org (I haven't had luck using patricbc.org).

<img width="707" alt="screen shot 2018-03-28 at 1 18 38 pm" src="https://user-images.githubusercontent.com/5612784/38048850-38c183de-328c-11e8-8494-5c826927e40e.png">

[2018-03-30 15:57] olsonanl commented on #1854
This is resolved at least in the latest release going in this week; it appears to have also been resolved in the currently running production system.

[2018-03-30 15:57] #1854 closed, assigned to olsonanl

[2018-03-30 16:12] hyoo commented on #1870
you can preview at https://alpha.patricbrc.org/home-new

[2018-03-30 20:38] chmao1 opened #1930 "New home page: global search field at the top is missing for other pages"
When using the global search at the new home page, the search result page and the pages linked from the search result miss the global search field at the top.

![image](https://user-images.githubusercontent.com/6361802/38153040-b19f801e-3438-11e8-9822-e39fec85dc95.png)

![image](https://user-images.githubusercontent.com/6361802/38153067-d30abe76-3438-11e8-9ec3-10f2dcaec7e0.png)

[2018-04-02 18:10] jimdavis1 opened #1931 "SOLR Data Bug: Maulik or Harry"
Note the last column for cell shape:

![image](https://user-images.githubusercontent.com/7661533/38208590-2e319d84-3677-11e8-8358-794194492125.png)

[2018-04-03 16:02] rkenyon opened #1932 "Back button in browser works unexpectedly for Subsystems tab"
When I am on the Subsystems tab https://patricbrc.org/view/Taxonomy/234#view_tab=subsystems on the Subsystems Overview submenu item and I click on one of the other submenu items (Subsystems, Genes) and then click "Back" in the browser, it goes back to some previous page, not the Subsystems Overview.  Is this by design?

[2018-04-03 16:25] chris-c-thomas commented on #1930
What's interesting is this only happens after you've visited the new home page and go to another static page.

If you go to the current homepage and then any of these pages the global search bar is still there.

If you go to the the new homepage, then another page, and refresh the page the global search will reappear.

[2018-04-03 16:33] rkenyon opened #1933 "Clicking on Gene number in Subsystems Overview hieararchy loads the Subsystems table"
I believe it is supposed to load the Genes table instead.

https://patricbrc.org/view/Taxonomy/234#view_tab=subsystems

![screen shot 2018-04-03 at 12 32 21 pm](https://user-images.githubusercontent.com/3188570/38262442-370e88d0-373b-11e8-911b-07da0df53bf1.png)

[2018-04-03 18:14] nconrad commented on #1933
I've noticed it's difficult to tell what is clickable in general.  The cursor pointer is used for the whole chart.

![image](https://user-images.githubusercontent.com/1194246/38267302-a9c7bf86-3740-11e8-9f2b-eecb39231f99.png)

[2018-04-03 22:01] olsonanl opened #1934 "RNAseq - fastqc HTML output gets munged when viewed"
With the new RNAseq app if you click on the HTML output it clobbers / is clobbered by the rest of the window.

<img width="965" alt="screen shot 2018-04-03 at 4 59 57 pm" src="https://user-images.githubusercontent.com/2152226/38278178-9784f04e-3760-11e8-81a5-e271bffd2eef.png">

[2018-04-03 22:03] olsonanl opened #1935 "RNAseq transcript view - bad wrap on tracks"
The long track names wrap poorly and get truncated. Perhaps change underscores to spaces for display so wrapping works?

<img width="355" alt="screen shot 2018-04-03 at 5 02 04 pm" src="https://user-images.githubusercontent.com/2152226/38278233-d4fed2c8-3760-11e8-9e23-d9a734b224ad.png">

[2018-04-03 22:06] olsonanl opened #1936 "RNAseq new app - tracks don't render"
If I select the gtf tracks for viewing in the genome browser, they don't come up.

If I select the bam tracks, they show an error.
<img width="1328" alt="screen shot 2018-04-03 at 5 04 09 pm" src="https://user-images.githubusercontent.com/2152226/38278313-21e38304-3761-11e8-8a18-4971c9e4e53a.png">

In the console:
[code]

The not founds showed /data.bam.bai as the path.

[2018-04-03 22:10] olsonanl opened #1937 "RNAseq won't render output in safari"
When I try to look at the output in the workspace browser I can doubleclick on the job result, the URL changes, but the result is not shown.

Path is https://www.patricbrc.org/workspace/olson@patricbrc.org/home/test/rnaseq_baumanii_1505311

[code]

[2018-04-03 22:10] olsonanl commented on #1937
It worked in chrome; it also worked in Safari if I brought the page up and then reloaded.

[2018-04-03 23:49] mandywil opened #1938 "Missing sequences in Feature Summary"
In both production and Alpha, when viewing the Feature Summary, there is no sequence displayed in the Sequences section.  This seems to be in DataItemFormatter.js, and the sequence seems to render properly everywhere else I saw this widget used.

Thanks!
![image](https://user-images.githubusercontent.com/276697/38281333-23db8bea-3778-11e8-8e4c-747ab5265211.png)

[2018-04-04 03:49] dmachi commented on #1938
This is because of the fairly recent change that removed those sequence strings for these queries inside of the Genome Browser, so the data isn’t there for it to render.

[2018-04-04 11:57] ARWattam opened #1939 "Download from table of pathways is not working"
I am here:
https://www.patricbrc.org/view/Genome/483179.4#view_tab=pathways

And when I select a pathway and then the download button in the green bar, I don't get a nothing happens.  When I click on the developer tools I see this:
dojo.js.uncompressed.js:324 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. F

[2018-04-04 12:02] JoshuaVSherman commented on #1939
i'm seeing this error

Failed to load resource: the server responded with a status of 500
(Internal Server Error)

I would guess there is something wrong with the backend?

On Wed, Apr 4, 2018 at 7:57 AM, ARWattam <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-04-04 14:35] mshukla1 commented on #1931
I have cleaned up all such cases in the database by setting cell shape to null.

[2018-04-04 14:35] #1931 closed, assigned to mshukla1

[2018-04-04 14:38] dawenx commented on #1923
@nconrad I hope I have re-assigned this to the right person

[2018-04-04 15:30] mandywil commented on #1938
I'm sorry -- are you saying this is a "feature", then? :)

I am just asking because I am working on another issue, and this is not a "problem" but it leads to unexpected behavior.

[2018-04-04 15:39] dmachi commented on #1938
No, not saying it is a feature.  I was just explaining why it is not rendering any sequence there. There are three ways to solve this:

	1.  Change the Genome Browser queries to include this data as it used to.  This was originally change for performance reasons (to reduce the amount of data transferred). Not sure it is a great idea.
	2. Retrieve the full record only when necessary before sending

[2018-04-04 16:19] olsonanl commented on #1909
Does someone have a specific plan for how this is supposed to work?

[2018-04-04 16:49] mshukla1 commented on #1938
This was an intended change to address the genome browser performance issue.

If I remember correctly, earlier, we were fetching NA and AA sequences for all features,
just to show first N characters (10-20) of the sequences in the feature overview pop up, and then
provide link to view the whole sequence, which was going back to database to fetch the
sequence again. So, high performance cost, for n

[2018-04-04 17:01] #1938 closed, assigned to dmachi

[2018-04-04 22:23] ARWattam opened #1940 "I can't close the Venn Diagram"
I just created a Venn Diagram, and there is now way to close the pop-up window.  I have to kill the tab to get rid of it.
![screen shot 2018-04-04 at 6 21 57 pm](https://user-images.githubusercontent.com/11475316/38337894-3ac19a3a-3835-11e8-8f4b-f903c3a5fbf6.png)

[2018-04-05 11:43] ARWattam opened #1941 "Genome has PGFams, but no PLFams"
This genome: Microbacteriaceae bacterium strain strain Alg239_V181

Found here:
https://www.patricbrc.org/view/Genome/1873462.3#view_tab=features

Looks like this
<img width="1118" alt="screen shot 2018-04-05 at 7 43 15 am" src="https://user-images.githubusercontent.com/11475316/38364068-0e3e20d0-38a5-11e8-8da6-72ce773572d1.png">

[2018-04-05 12:08] mshukla1 commented on #1941
The PLFams are computed for only those genomes that belong to a genus with more than five
genomes at the time of constructuion of new protein families.

This genome is part of the unclassified Microbacteriaceae, it does not have designated genus.
Hence, it doesn’t have PLFams.

-Maulik

[2018-04-05 13:32] ARWattam opened #1942 "GBK files need to be added back in"
Several users have requested the gbk file, and its needed for the variation service.  I have hope in my heart that it will once again be part of the PATRIC annotation process.  I hope that the image moves Maulik so deeply that the gbk file moves to the top of his list....
![screen shot 2018-04-05 at 9 31 05 am](https://user-images.githubusercontent.com/11475316/38368761-2a14e154-38b4-11e8-81b7-aec

[2018-04-05 13:35] mshukla1 commented on #1942
I take this as a coded message: Give me gbk files or pack your bags! ;)

Sent from my iPhone

[2018-04-05 16:36] nconrad opened #1943 "inconsistent job "running" colors"
![image](https://user-images.githubusercontent.com/1194246/38379159-7c1a6512-38c5-11e8-924e-f09ea08fbb6c.png)

![image](https://user-images.githubusercontent.com/1194246/38379144-71aaadc6-38c5-11e8-9f59-995d0a1226df.png)

[2018-04-05 18:47] JoshuaVSherman commented on #1878
https://github.com/PATRIC3/p3_web/pull/729

[2018-04-05 18:48] JoshuaVSherman commented on #1878
@olsonanl I could prevent submission if names include pound symbol, semicolon, and slashes if that is what you all decide, just let me know, thanks

[2018-04-05 19:08] olsonanl commented on #1878
I see no reason to eliminate any character but slash since that defines the folder hierarchy. Code that breaks in the face of those characters is broken and needs to be fixed.

[2018-04-05 19:20] JoshuaVSherman commented on #1175
@olsonanl request for decision on this ticket, my fix set the dropdown alphabetical
I can revert that and it would again be most recent
I could setup a sort by and you would pick either (alphabetical or chronological)
I can default it to chronological or alphabetical
please let me know, thanks

[2018-04-05 19:23] JoshuaVSherman commented on #1878
@olsonanl I will prevent slashes then (frontend) and submit a new ticket for any backend services that may need validation, thanks

[2018-04-05 22:24] aswarren commented on #1934
@JoshuaVSherman @dmachi @nconrad
A shared example is here
https://patricbrc.org/workspace/anwarren@patricbrc.org/rnaseq_dev/rnaseq_baumanii_1505311_2

With this change it tries to download the file, I think because the Content-Type needs be set to text/html. **I strongly suspect this would be more performant than the method below.
diff --git a/public/js/p3/widget/viewer/File.js b/public/js/p3/widg

[2018-04-05 22:25] JoshuaVSherman commented on #1934
ok thanks, i'll see about this in the morning when i'm fresh :)

On Thu, Apr 5, 2018 at 6:25 PM, Andrew Warren <notifications@github.com>
wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-04-06 12:17] JoshuaVSherman commented on #1934
@aswarren @dmachi @nconrad I need a new example for this issue because the link above has
Job ID | Not found in '/scratch/olson/KB/dev_container/modules/app_service'
-- | --

[2018-04-06 14:14] ARWattam opened #1944 "RNA-Seq replicate gtf file did not load on browser"
Ran the same Acinetobacter baumannii strain that we use in the workshop with the AMR examples.  Click on replicate1_skipped_gtf and console has an error message 500
![screen shot 2018-04-06 at 10 10 51 am](https://user-images.githubusercontent.com/11475316/38425867-0a35716c-3983-11e8-972d-314eebd8bb61.png)

s.getText @ dojo.js.uncompressed.js:324
VM28:1 Uncaught SyntaxError: Unexpected end of JSON

[2018-04-06 14:20] ARWattam opened #1945 "RNA-Seq job did not produce html file as promised"
Here's my job.

694bffa0-70b8-41bb-a822-4ff842f19a73
--

I was trying to help Josh look at the html file, but this job, run on Tuxedo with the A baumanni workshop example, did not produce an html file.  Sad.

[2018-04-06 14:51] rkenyon opened #1946 "Change Help > User Guides menu item to point to new user guides"
The new user guides are nearly complete.  Please point the menu item to the new user guides at https://docs.patricbrc.org//user_guides/index.html

[2018-04-06 15:54] olsonanl commented on #1934
Andrew's link works properly to show the error.

https://patricbrc.org/workspace/anwarren@patricbrc.org/rnaseq_dev/rnaseq_baumanii_1505311_2

[2018-04-06 16:24] JoshuaVSherman commented on #1934
I saw an error on the page and didn't know that I just needed to ignore
that, thanks

On Fri, Apr 6, 2018 at 11:54 AM, olsonanl <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-04-06 19:38] JoshuaVSherman commented on #1934
@dmachi @aswarren here are the changes I made that seem to be working on my localhost
https://github.com/VTbiocomplexity/p3_web/blob/Iframe/public/js/p3/widget/viewer/File.js#L139
https://github.com/VTbiocomplexity/p3_web/blob/Iframe/public/js/p3/app/p3app.js#L608

[2018-04-08 12:09] ARWattam opened #1947 "Problems with uploading png to workspace"
User reports  that the PNG upload by default looks for .jpg files, to upload .png you have to
uncheck the "limit to these extensions" box

[2018-04-09 11:43] #1941 closed, assigned to mshukla1

[2018-04-09 11:54] #1946 closed, assigned to hyoo, chris-c-thomas

[2018-04-09 13:02] JoshuaVSherman opened #1948 "Do not allow slashes for the output name of the following services"
![image.png](https://images.zenhubusercontent.com/56be23566caf56c9d38c78ce/92af7cf9-7c9a-4dc3-a574-82fc3de12599)

* not sequence similarity (it is commented out in the code), so skip this

[2018-04-09 13:06] JoshuaVSherman opened #1949 "Make sure special characters and slashes are handled appropriately from the back-end services"
Often special characters (like # , ; etc) or slashes break the services and links to result pages.

make sure special characters are handled appropriately from the back-end services, and don’t break any services or links

[2018-04-09 18:30] JoshuaVSherman commented on #1948
* first four on the list **DONE**

* Phylo, Recons, Rnaseq, SeqComp **DONE**

* SeqSim, SimpleAnnot, Tnseq, Variation

[2018-04-10 13:12] JoshuaVSherman opened #1950 "Provide a new page to view other user details when logged in as super user"

[2018-04-10 13:14] JoshuaVSherman opened #1951 "Test the super user login on alpha"
https://github.com/JoshuaVSherman/p3_web/issues/12

[2018-04-10 13:18] JoshuaVSherman opened #1952 "implement automated tests for user service on alpha"

[2018-04-10 13:49] #1112 closed, assigned to dmachi, JoshuaVSherman

[2018-04-10 13:49] #1623 closed, assigned to dmachi, JoshuaVSherman

[2018-04-10 13:49] #1005 closed, assigned to dmachi, JoshuaVSherman

[2018-04-10 14:39] #1951 closed, assigned to JoshuaVSherman

[2018-04-10 14:40] #1876 closed, assigned to JoshuaVSherman

[2018-04-10 14:42] #1763 closed, assigned to dmachi, JoshuaVSherman

[2018-04-10 16:27] #1922 closed, assigned to dmachi, JoshuaVSherman

[2018-04-10 16:36] #1944 closed, assigned to ARWattam

[2018-04-10 16:40] JoshuaVSherman opened #1953 "The form to change your password (that you receive in the email from PATRIC) is not working on Alpha P3_User, please fix"

[2018-04-10 16:41] #1884 closed, assigned to JoshuaVSherman

[2018-04-10 17:19] JoshuaVSherman opened #1954 "Workspace object selector: selecting the folder does not work, only selecting the workspace and single click on folder works, please fix"
This will fail if you double-clicked the folder:
![image.png](https://images.zenhubusercontent.com/56be23566caf56c9d38c78ce/aeecae56-c24c-4bd8-af0c-b13ba57cb518)

[2018-04-10 19:13] #1919 closed, assigned to chmao1

[2018-04-10 19:14] #1921 closed, assigned to chmao1

[2018-04-10 19:14] #1899 closed, assigned to chmao1

[2018-04-11 12:21] JoshuaVSherman opened #1955 "Please fix the positioning of these plus and minus buttons for the grid"
![image](https://user-images.githubusercontent.com/13340120/38616287-7dd0efc0-3d61-11e8-99b3-f5372281eb43.png)

[2018-04-11 13:29] JoshuaVSherman commented on #1939
it works fine from my local dev, so not sure why it does not work on production, asking @dmachi

[2018-04-11 14:28] JoshuaVSherman commented on #1940
@ARWattam need your help please to reproduce the issue, thanks

[2018-04-11 14:29] JoshuaVSherman commented on #1939
/js/p3/widget/DownloadTooltipDialog.js
I put a breakpoint on line 44, but there is no issue on my local dev, so not sure how to debug
will try building my local dev next

[2018-04-11 18:00] #1940 closed, assigned to ARWattam, JoshuaVSherman

[2018-04-11 19:28] #1878 closed, assigned to dmachi, hyoo, olsonanl, JoshuaVSherman

[2018-04-11 19:31] #1948 closed, assigned to JoshuaVSherman

[2018-04-11 19:37] #1630 closed, assigned to dmachi, JoshuaVSherman

[2018-04-11 19:39] #1947 closed, assigned to JoshuaVSherman

[2018-04-12 15:26] aswarren opened #1956 "Collapsable top table in job view"
highlighted blue here.
It would be helpful if the top div was resizable to maximize usable screen space.

![image](https://user-images.githubusercontent.com/229173/38687284-5173423c-3e44-11e8-9b04-483df715c438.png)

[2018-04-13 23:37] aswarren commented on #1945
This is because it was the old pipeline.

[2018-04-13 23:37] #1945 closed, assigned to aswarren

[2018-04-13 23:40] aswarren commented on #1936
Fixed in https://github.com/PATRIC3/p3_web/pull/741

[2018-04-13 23:40] #1936 closed, assigned to aswarren

[2018-04-13 23:44] aswarren commented on #1934
Fixed, though there is a little extra space on Safari. Should be addressed in
https://github.com/PATRIC3/patric3_website/issues/1956

[2018-04-13 23:44] #1934 closed, assigned to dmachi, aswarren

[2018-04-13 23:48] aswarren commented on #1803
Fixed as part of the RNA-Seq upgrade.

[2018-04-13 23:48] #1803 closed, assigned to aswarren

[2018-04-13 23:53] aswarren commented on #1762
![image](https://user-images.githubusercontent.com/229173/38761863-54dbd86a-3f54-11e8-9e7a-f5b4734c2ccd.png)
Fixed

[2018-04-13 23:53] #1762 closed, assigned to aswarren

[2018-04-14 00:00] aswarren commented on #1531
@JoshuaVSherman See assembly for a solution to this.

[2018-04-14 00:01] aswarren commented on #1445
In the upgrade.

[2018-04-14 00:01] #1445 closed, assigned to aswarren

[2018-04-14 00:04] #1379 closed, assigned to aswarren

[2018-04-14 00:04] JoshuaVSherman commented on #1531
ok thanks, glad to help out :)

On Fri, Apr 13, 2018 at 8:00 PM, Andrew Warren <notifications@github.com>
wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-04-14 00:05] aswarren commented on #1140
Fixed.

[2018-04-14 00:05] #1140 closed, assigned to aswarren

[2018-04-14 14:36] mshukla1 opened #1957 "Sequence list: link from sequence id doesn't work"
Pointed by one of our collaborators.

The link from sequence id does not work. It goes to NCBI where the sequence does not exist.

ACTION:
- Add link from accession to NCBI, when accession doesn't look like sequence id.
- Link sequence id to feature list, filtered for showing features only from that sequence, or to genome browser showing that sequence.

https://patricbrc.org/view/Genome/72407.639#

[2018-04-14 14:44] mshukla1 opened #1958 "Species identification tool"
This was submitted by one of our collaborators. I think we should discuss how we can use the tools he mentions for automated taxonomic / species identification. It seems very useful addition for aseembly+annotation service.

"There are some discordant in species between PATRIC and other programmes such as KmerFinder 2.0, SpeciesFinder-1.2 or NCBI website, especially in Shigela. For instance, I dow

[2018-04-14 15:37] mshukla1 opened #1959 "MSA: problem viewing long genome names"
Submitted by a collaborator:

The bacterial strain cannot be illustrated in the isolates that have a very long name (in red rectangles). Therefore, we are not able to know which strain they are.

ACTION: add a horizontal scroll bar for the tree pane.

https://www.patricbrc.org/view/MSA/protein/?in(feature_id,(PATRIC.573.14842.NQEG01000093.CDS.241.1038.fwd,PATRIC.72407.705.NIUG01000015.CDS.5086.588

[2018-04-16 19:16] aswarren opened #1960 "Make Browser button inactive till Promise fulfilled on download links"
viewer/Seq.js has some code that creates a Jbrowse URL for resources  using download links.
The Browser button should be inactive until this is done.
Set the button to inactive then find the button and set it active in the callback for the Jbrowse URL creation function.

![image](https://user-images.githubusercontent.com/229173/38830074-24ff3b96-4189-11e8-80de-9692bbb6f15a.png)

[2018-04-16 19:17] aswarren commented on #1960
You don't actually have to use a "promise" you can just activate the button in the callback.

[2018-04-16 19:18] aswarren commented on #1960
https://patricbrc.org/workspace/public/anwarren@patricbrc.org/rnaseq_dev/rnaseq_baumanii_1505311_2

[2018-04-17 18:04] dawenx commented on #1894
this is fixed and PR submitted.

[2018-04-19 15:00] chris-c-thomas commented on #1930
Fixed in PR: https://github.com/PATRIC3/p3_web/pull/743

[2018-04-19 16:47] olsonanl opened #1961 "Genome search shows feature results"
If I search for genomes I get features too. That doesn't seem right.

<img width="1334" alt="screen shot 2018-04-19 at 11 44 47 am" src="https://user-images.githubusercontent.com/2152226/39005921-21be1a7a-43c7-11e8-98dd-438b4cd7c97e.png">

[2018-04-19 19:45] aswarren opened #1962 "I lied to PATRIC & it liked it"
Minhash supports fastq files. I told PATRIC that my fastq file was a contigs file so I could submit it to similar genome finder. It returned the correct result.

We should add type "reads" to allowable inputs in the similar genome finder.

[2018-04-19 21:25] nconrad commented on #1955
I'm not sure who did this or why?

[2018-04-19 21:30] nconrad commented on #1954
I think i need some more info.  I'm not sure what you mean by fail?   Double clicking was the original implementation of how to navigate folders (along with clicking on the icons)...

[2018-04-19 22:06] #1898 closed, assigned to nconrad

[2018-04-23 00:13] dmachi commented on #1953
Git submodules were missing in the alpha deployment.  Fixed.  Also there was no build present in this version, so that has been added.

[2018-04-23 00:13] #1953 closed, assigned to dmachi

[2018-04-24 20:19] dawenx commented on #1306
i'm planning to work on it.

[2018-04-25 20:54] mshukla1 commented on #1962
...or just call you a lier next time! ;)

[2018-04-25 20:55] chris-c-thomas opened #1963 "Patric Advanced Search?"
The advanced search icon in the search bar does not lead to anything.

![current-home](https://user-images.githubusercontent.com/22353987/39272179-cc0efda4-48a0-11e8-9fad-082f621a3cd3.jpg)

![new-home](https://user-images.githubusercontent.com/22353987/39272181-cd9da8d2-48a0-11e8-8334-f941fd19190f.jpg)

/search routes to nothing. (as does /help and many others for that matter but that's a differen

[2018-04-25 21:24] chris-c-thomas opened #1964 "Incorrect Routing"
There are currently many routes that basically lead to nothing. No 404s or redirects, etc. @dmachi I believe you originally set up the routes and views for P3_web according to @hyoo ? I understand the way you went about things but wanted to loop you in.

For instance if you go to https://www.patricbrc.org/search you'll come up with this:

![screenshot-2018-4-25 patric](https://user-images.githubus

[2018-04-25 21:31] mshukla1 opened #1965 "Phylogenetic tree: job completed, tree not rendered"
One of my tree jobs completed successfully.

In the HTML tree it produced, some of the nodes have genome names, some show only genome ids.

When I click on the tree viewer, nothing is displayed.

https://patricbrc.org/workspace/mshukla@patricbrc.org/Thailand/Phylogenetic%20Trees/.Escherichia%20and%20Shigella%20Tree%20RAxML/Escherichia%20and%20Shigella%20Tree%20RAxML.html

<img width="735" alt="scr

[2018-04-27 20:16] nconrad opened #1966 "drop "" subsystem superclass from pie chart"
Per @olsonanl and Veronika, we should remove the empty string superclass.

![image](https://user-images.githubusercontent.com/1194246/39383100-9f6e5676-4a2d-11e8-9e13-fe312879ba8c.png)

[2018-04-30 13:43] jimdavis1 opened #1967 "Pubmed link is broken"
![image](https://user-images.githubusercontent.com/7661533/39430121-9282dfaa-4c52-11e8-9cda-706b962ac321.png)

[2018-05-01 19:37] hyoo opened #1968 "user name vs user id"
this is current registration page

https://user.patricbrc.org/register

![image](https://user-images.githubusercontent.com/1236467/39489937-c2b2b7d6-4d4c-11e8-85ab-9b2d3d30efac.png)

and this is coming new reg page,

![image](https://user-images.githubusercontent.com/1236467/39489959-cfe87850-4d4c-11e8-8dec-a6c979d95dfd.png)

I saw in mongo db that some user has "username" and some has "id". Is th

[2018-05-01 19:45] hyoo commented on #1968
![image](https://user-images.githubusercontent.com/1236467/39490347-376e0016-4d4e-11e8-99b5-c7bb7879266c.png)

here is counts

[2018-05-01 19:46] JoshuaVSherman commented on #1968
my opinion would be to keep *username*

since this is an arbitrary name that the user creates

On Tue, May 1, 2018 at 3:37 PM, hyoo <notifications@github.com> wrote:

--
Josh Sherman
https://web-jam.com
https://www.linkedin.com/in/joshuavsherman/
540-494-8035

[2018-05-01 21:42] nconrad opened #1969 "empty gene list for AMR mechanism"
We'll have to figure out how to deal with this.

![image](https://user-images.githubusercontent.com/1194246/39495024-2b458e70-4d5e-11e8-8d78-7ff27d636742.png)

this comes from e.g.
[code]

This needs to be addressed, otherwise the table is wrong.  The classification was found; there just wasn't a gene assigned.  (from bob)

[2018-05-01 23:35] ARWattam opened #1970 "User requests link to SRA from genome landing pages when such accessions exist"
Here's what the user said:
Hi! I was searching complete genomes of E. coli
https://www.patricbrc.org/view/Taxonomy/2#view_tab=genomes&filter=and(eq(genome_status,Complete),and(keyword(Escherichia),keyword(coli)))
and it resulted in 462 results. I am interested in those results with SRA
entries. I see that when clicked and the details are shown they are
displayed. However, when I export the data to

[2018-05-01 23:38] ARWattam opened #1971 "Comprehensive genome analysis failure"
My job (89f13d9f-beed-4e60-8b98-88190a0db378) says it completed, but when I click on it, I get a workspace object not found.  When I look at the error report from the job page, it says:
Bio::P3::Workspace::WorkspaceClientExt::download_json: failed to load /ARWattam@patricbrc.org/home/Test folder/.Mycobacterium leprae ancient metagenome/assembly: Object not found!

[2018-05-01 23:40] ARWattam opened #1972 "Assembly associated with comprehensive genome analysis not viewable"
The assembly from the comprehensive genome announcement says it completed, but when I click on it, it says that the object is not found.  Job ID 0fb9be71-54fa-471b-847e-57676ae9ae86

[2018-05-02 12:50] ARWattam opened #1973 "Comparative genome analysis job not viewable, although says that it completed and gives me an annotation...sort of."
I submitted a comprehensive genome analysis (job ID: 7e428dfb-7268-4935-9d14-3c86b6d7bd23) that I can see is complete, but when I try and click on it I get a workspace error and I can't see it.  So I can see that the assembly and annotation associated with it are complete (at least I'm assuming that its with that job as they are consecutive, but there is no obvious id linking them...users might no

[2018-05-04 12:06] ARWattam opened #1974 "Slowness and unresponsiveness of website irritating to users-circular viewer"
I got an email comment from a researcher that I have been trying to convert to PATRIC.  He was complaining about his frustration with GenBank, and I pointed him to similar data in PATRIC.  This is how he responded:
"The specific problem that I have been having is that if  you go the graphical presentation of  the B. abortus 2308 genome and hover your pointer over a gene the message you get back is

[2018-05-04 14:05] dawenx commented on #1910
close this ticket for now. will re-open it later if this is supported by the back-end.

[2018-05-04 14:05] #1910 closed, assigned to dawenx

[2018-05-04 14:06] dawenx commented on #1894
I verified this fix on alpha. close the ticket.

[2018-05-04 14:06] #1894 closed, assigned to dawenx

[2018-05-04 15:23] dawenx commented on #1517
I cannot reproduce the problem now, maybe it has been fixed? @olsonanl can you verify?

[2018-05-04 18:00] #1968 closed, assigned to JoshuaVSherman

[2018-05-04 18:08] JoshuaVSherman commented on #1939
I tried the above url today, and received this error

VM407:1 Uncaught SyntaxError: Unexpected end of JSON input
    at JSON.parse (<anonymous>)
    at eval (core.js.uncompressed.js:5227)
(anonymous) @ core.js.uncompressed.js:5227
postMessage (async)
(anonymous) @ bundle.js:2
(anonymous) @ bundle.js:2
(anonymous) @ bundle.js:2
(anonymous) @ bundle.js:2
t @ bundle.js:2
(anonymous) @ bundle.js:2
t @

[2018-05-04 18:18] dawenx commented on #1970
so the user wants "SRA Accession" in the download? If so, @hyoo can you add it to p3_api/blob/master/middleware/ExtractCustomFields.js assuming that's OK for you and @mshukla1
(I checked with @dmachi on this already)

I also found out "sra_accession" is missing in the column list and i will add it.

[2018-05-04 19:01] JoshuaVSherman commented on #1956
@aswarren These divs are position absolute, so whoever works on it will need to edit the workspace widget to add a toggle, and the report div needs to be set as height 800px, top 0px

to toggle it back it would be
height: 544px
top: 238px

this is the div where the report gets placed
class="dijitContentPane FileViewer-child FileViewer-dijitContentPane FileViewerPane dijitAlignCenter"
id="dijit_lay

[2018-05-04 19:15] #1175 closed, assigned to aswarren, olsonanl, JoshuaVSherman

[2018-05-04 19:49] ARWattam opened #1975 "download svg from KEGG pathway view not working"
I got proteins from the Protein Family Sorter that were sepcific to Buchnera genomes isolated from a particular aphid (green peach aphid), looked at the pathways, and then loaded the folate biosynthesis pathway.  I tried to download an svg of that pathway, and got the error you can see in the attached screenshot
![screen shot 2018-05-04 at 3 46 20 pm](https://user-images.githubusercontent.com/1147

[2018-05-04 23:47] #1974 closed, assigned to nobody

[2018-05-06 19:23] nconrad commented on #1949
Parens will break assembly, and my job is still marked as completed.

GET WS => /scratch/tmp/R8SxeIm7eg bau_sim_R1 (1).fq /conradn@patricbrc.org/home/my reads/bau_sim_R1 (1).fq
GET WS => /scratch/tmp/R8SxeIm7eg bau_sim_R2 (1).fq /conradn@patricbrc.org/home/my reads/bau_sim_R2 (1).fq
\@submit_cmd = $VAR1 = [
          'ar-run',
          '-r',
          'auto',
          '--pair',
          '/scrat

[2018-05-07 11:53] ARWattam opened #1976 "Using subsystems with genome group pulls in a lot of other geomes"
I have a group of Buchnera genomes, and I was looking at folate biosynthesis across 27 genomes. When I load the heatmap, I see more than 100 genomes.  And look across the top breadcrumb.  It says that there are 19 genomes there, but there are many more than that.  And a very diverse group, including Clostridium, Staphylococcus, Mycobacterium, etc.
![screen shot 2018-05-07 at 7 50 41 am](https://us

[2018-05-07 12:04] mshukla1 commented on #1976
The first 19 genomes in the heat map view are what you have selected, the ones after
that are all Reference genomes to provide broader context.  This was done at the request
of Sveta and Veronika to match the intended use of the subsystems.

There us a "Reference Genomes” who/hide button above heat map that allows you to
hide the reference genomes, if user wishes.

-Maulik

[2018-05-07 16:05] hyoo opened #1977 "Job list, filtering by "queued" doesn't work correctly."
reported by a workshop participant.

[2018-05-07 19:15] nconrad opened #1978 "object selector double-click issue"
The similar genome finder selector is buggy, particularly when reselecting.

![image](https://user-images.githubusercontent.com/1194246/39719362-9e293852-51fe-11e8-8046-124a47f907d0.png)

To replicate:
1) select a fasta file from your workspace using the object browser
2) open object browser again.
3) *quickly* double click a new contig
4) repeat #3
5) notice the new selection may or may not be se

[2018-05-07 20:35] nconrad commented on #1977
This was when a user had a single, "queued" job.  I'll take a look.  There's a chance the job wasn't yet "queued", even though we labeled it as queued.

[2018-05-08 15:30] nconrad opened #1979 "grey out objects that aren't selectable"
Should try to grey objects that can't be selected in apps.  This was causing confusion in the workshop after navigating to hidden folders.

[2018-05-08 16:02] jimdavis1 opened #1980 "Enhancement: Blast against feature group"
I found myself really wanting to blast against a feature group.  I actually still go to NCBI to do these small time blasts.

![image](https://user-images.githubusercontent.com/7661533/39768546-3c667bf0-52af-11e8-873a-00f9671f4200.png)

[2018-05-08 18:53] nconrad opened #1981 "metagenome binning service reads selector broken"
To replicate:

1) select read 1 from folder icon
2) select read 2 from folder icon
3) when the output directory is selected, the reads selections are removed!

![image](https://user-images.githubusercontent.com/1194246/39776486-a57d638a-52c6-11e8-8c9c-6a7415f30de2.png)

[2018-05-08 19:06] mshukla1 opened #1982 "Job submission form: remember folder location for read 2"
While selecting paired end read files, I browse through the directory structure, go to the right folder, and then select read file 1. Then, I need to again go through the same directory structure to select second file!!

UI should remember the location of the first file selected and directly show the same folder while selecting file 2.

We do it for subsequent file selections, so we should be able

[2018-05-08 19:26] dawenx commented on #1982
While I agree that it would be convenient for the user, I personally don't like it as it somewhat is a hack: we are using WorkspaceObjectSelector here and the default behavior is to go to user's home, now we want to change this default behavior for READ2 in paired read library selection.

What if a user chooses a READ2 first? Do we then make READ1 go to READ2's directory as well? What if READ1 is

[2018-05-08 19:31] dawenx commented on #1981
@nconrad I followed your steps on Chrome (on my Mac) and I could not reproduce it. What browser were you using? Did you try to upload READ file?

[2018-05-08 19:53] hyoo commented on #1967
<img width="477" alt="image" src="https://user-images.githubusercontent.com/1236467/39779659-840dcc04-52cf-11e8-97c0-47c29f4a3877.png">

http://localhost:8983/solr/sp_gene/select?indent=on&q=feature_id:PATRIC.590.963.590.963.con.0007.CDS.67195.83880.fwd&wt=json

data is corrupted somehow.

@mshukla1 we need to double check the json object has right format.

[2018-05-08 19:55] nconrad commented on #1982
I agree this should be added.  I had removed the whole concept of remembering folders because the workspace browser (not the object selector) was also using that state.  However, for paired-end read selection, this would be *extremely* useful and speed things up greatly in workshops.

This is likely related to #1306.

I think if read2 is selected first, read1 should have the same default folder.

[2018-05-08 19:57] nconrad commented on #1982
Worst case use case would be if users have several paired-end reads located in different folders or such.  In that case, I think they can learn to go up a directory or such.  Adding the above would still be an improvement.

[2018-05-08 20:00] dawenx commented on #1982
@nconrad thanks for your input and that makes sense. i will work on it then.

[2018-05-08 20:12] mshukla1 commented on #1982
Thanks for raising the questions, Dawen. For good design, we do need to think about possible scenarios and how to handle them, before we implement.

I leave the details to you, Neal and harry. I think we should try it first on with one service, test it and then apply to other services.

Sent from my iPhone

[2018-05-08 20:15] nconrad commented on #1981
Most users seemed to have been using windows chrome.  However, I have seen this or related issues on mac chrome.  It is not easy to replicate, unfortunately.  I think that following these steps may shed light on this issue, or at least would fix this other ugly bug: #1978

[2018-05-08 20:20] nconrad commented on #1981
Oh yeah, Harry has a theory it could be related to workspace path validation as well.  That may be triggering something?

[2018-05-09 15:49] nconrad opened #1983 "multiple accounts with cmd line"
This is weird:
[code]

[2018-05-09 15:57] Tinyman392 commented on #1983
<img width="682" alt="screen shot 2018-05-09 at 10 23 30 am" src="https://user-images.githubusercontent.com/5612784/39825571-b054d2dc-5377-11e8-99ad-dae12b259f9c.png">

I've got a similar issue with it saying I'm not logged in when using p3-whoami

[2018-05-09 16:37] hyoo opened #1984 "variation analysis viewer doesn't load vcf track"
![image](https://user-images.githubusercontent.com/1236467/39827309-39cb3e2a-537d-11e8-88ed-9fcb29b45517.png)

to reproduce

https://alpha.patricbrc.org/workspace/public/PATRIC@patricbrc.org/PATRIC%20Workshop/Variation/TMP-2

click "Browser"

and check "SE1.var.vcf.gz"

[2018-05-09 18:45] nconrad opened #1985 "ws-cd command improvement?"
This was causing some confusion for a user.  It is possible to `ws-cd` to directories that don't  exist.

[code]

[2018-05-09 19:12] nconrad opened #1986 "tutorial needed for ftp"
A user who wants to upload many gigs of raw reads and we can't find a tutorial for ftp.

[2018-05-09 20:58] olsonanl commented on #1983
This is a too many cooks in the code problem. I need to do a purge of some of the older scripts.

________________________________
From: Marcus Nguyen <notifications@github.com>
Sent: Wednesday, May 9, 2018 10:57 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Assign
Subject: Re: [PATRIC3/patric3_website] multiple accounts with cmd line (#1983)

[screen shot 2018-05-09 at 10 23 30 am]<https:/

[2018-05-10 19:56] jimdavis1 opened #1987 "some genomes are missing contig sequences"
I am doing a blastn against a genome group.  I am in the workspace "Salmonella_FDA"
![image](https://user-images.githubusercontent.com/7661533/39891054-40c7f5e8-5462-11e8-89fe-7dbb0096992f.png)

I am blasting the sequence:
CCGCCTGGTTGACGC
Against the genome group "CIPR"

![image](https://user-images.githubusercontent.com/7661533/39891115-692a9dc4-5462-11e8-868c-3369a0d5dac9.png)

![image](https://

[2018-05-14 15:18] mshukla1 opened #1988 "New home page: search bar disappears"
If you go outside the new homepage anywhere, the search bar disappears.

![image](https://user-images.githubusercontent.com/1236463/40006500-2d1b2cda-5760-11e8-94e6-410e8986e3aa.png)

[2018-05-14 15:32] chris-c-thomas commented on #1988
Duplicate of [Issue #1930](https://github.com/PATRIC3/patric3_website/issues/1930)

Fixed in [PR #743 to Develop](https://github.com/PATRIC3/p3_web/pull/743) - I don't think it's on production yet? @hyoo

[2018-05-15 17:16] olsonanl commented on #1987
This failed because the written .fna file was zero length; that is because the database is reporting it as having no sequences.

The genome is in a strange state. On the front page:

<img width="177" alt="screen shot 2018-05-15 at 12 03 32 pm" src="https://user-images.githubusercontent.com/2152226/40072006-0db45046-5838-11e8-915b-e1663d29828a.png">

But at the sequences tab:

<img width="1019" alt

[2018-05-15 20:04] chmao1 commented on #1961
Fixed and made a pull request.

[2018-05-15 20:13] hyoo commented on #1988
this is deployed on alpha and fixed.

[2018-05-15 20:13] #1988 closed, assigned to chris-c-thomas

[2018-05-15 20:21] hyoo commented on #1966
this is a data problem.

[2018-05-15 20:23] rkenyon opened #1989 "Disable Edit Type for folders in Workspace"
My understanding is that this feature is not applicable for folders.

[2018-05-15 20:23] hyoo commented on #1943
this is visual illusion, due to the background color. I verified with color meter app in mac.

[2018-05-15 20:23] #1943 closed, assigned to nconrad

[2018-05-15 20:30] hyoo commented on #1920
check this one.
https://p3.theseed.org/p3_pages/

I have replaced the search form to connect to google search. I think this works better.

[2018-05-16 13:37] jimdavis1 opened #1990 "copy from tables"
I want to copy this PGF id
![image](https://user-images.githubusercontent.com/7661533/40120238-589cccf8-58e4-11e8-843f-9bf076a4c549.png)

[2018-05-16 14:45] olsonanl commented on #1966
Not really; the data is correct (empty classification means the subsystem does not have a clear classification) and Veronika does not want those rendered in the diagram.