[2016-10-20 18:47] #1029 closed, assigned to nconrad

[2016-10-20 18:48] #1022 closed, assigned to hyoo

[2016-10-20 18:49] #539 closed

[2016-10-20 18:50] #781 closed

[2016-10-20 18:53] hyoo commented on #1078
Technically, this should be a new ticket. but I am changing title and will leave this one open.

[2016-10-20 18:53] #1015 closed, assigned to hyoo

[2016-10-20 18:53] #993 closed, assigned to dmachi

[2016-10-20 18:54] #952 closed, assigned to hyoo

[2016-10-20 18:55] hyoo commented on #953
verified.

[2016-10-20 18:55] #953 closed, assigned to dmachi

[2016-10-20 18:55] #923 closed

[2016-10-20 18:55] #919 closed

[2016-10-20 19:36] hyoo commented on #1010
verified.

[2016-10-20 19:36] #1010 closed, assigned to nconrad

[2016-10-20 20:43] #1158 closed, assigned to hyoo

[2016-10-20 23:35] nconrad opened #1159 "downloading workspace data on safari"
None of the pre-auth download buttons work for me in safari.  This is because when you click download button, the `Workspace.get_download_url` is called, and then the browser opens that url in a new tab to start the download.  Should I switch to fetching the urls and putting them on the page as download links?  This will also allow right-click > "save as" to work.

In firefox, I also get the annoy

[2016-10-20 23:39] nconrad commented on #1159
ah, so one concern about making this switch is that I think it can take up to a couple seconds for the download_service to respond, at least when fetching several urls.

[2016-10-21 15:34] hyoo commented on #954
This is not implemented yet. will work on this.

[2016-10-21 15:50] hyoo commented on #1016
duplicate #1016

[2016-10-21 15:51] hyoo commented on #1016
I am closing this one and will address this issue on #1152

[2016-10-21 15:51] #1016 closed, assigned to hyoo

[2016-10-21 16:02] olsonanl commented on #1159
Say we generate a download URL that is directly linkable; can we ensure that auth information is included (via cookie perhaps)? If so we can make the requirement to call get_download_url go away.

[2016-10-21 16:12] hyoo commented on #1046
Shouldn't it be "Phage 12" then?

[2016-10-21 16:26] olsonanl commented on #1046
Veronika fixed these assignments in September and they are gone in the new families.

[2016-10-24 15:14] mshukla1 commented on #1154
I think the broader point here is that we should not be running compute intensive programs (i.e. BLAST, clustering, MSA) on the web server as they often hog the resources (specially when running in workshop settings) and often slow down other parts of the website as well.

-M

[2016-10-24 16:35] mshukla1 commented on #686
I am not sure this referred to the top navigation bar or the flow chart we had in the redesigned home page.

Anyways
- the links from the data menu in the top navigation bar are working now
- we decided not to redesign the home page for now, so it is very similar to what we have on production site.

I am closing the ticket.

-Maulik

[2016-10-24 16:35] #686 closed

[2016-10-24 16:44] #1129 closed, assigned to hyoo

[2016-10-24 16:44] #1149 closed, assigned to hyoo

[2016-10-24 16:44] #1039 closed, assigned to hyoo

[2016-10-24 16:44] #1078 closed, assigned to dmachi

[2016-10-24 16:44] #1156 closed, assigned to hyoo

[2016-10-24 16:48] nconrad commented on #1159
@olsonanl and I discussed this a little more on Friday and think what he is suggesting is a good idea.  I'll have to talk to @dmachi more about the cookie changes this week.

[2016-10-24 16:54] mshukla1 commented on #1134
@levinas , what do you think? Is this a reasonable request?

I am thinking the current proteome comparison tool is designed for a very specific use case.
We can provide separate set of tools later for doing phage or plasmid analysis.

-Maulik

[2016-10-24 17:00] mshukla1 commented on #1142
I was able to reproduce the problem.

The problem is, when I select two countries first and then select year, all three filters get combined with AND instead of having OR for multiple filters for the same attribute.

In fact, this problem appears any time I select multiple values of an attribute first (OR) and then select a value for another attribute (AND).

https://www.beta.patricbrc.org/view/Ta

[2016-10-24 17:03] mshukla1 commented on #1133
@maovt, please reassign it to Fangfang, if it needs to be fixed from the service side.

-Maulik

[2016-10-24 17:05] mshukla1 commented on #1132
@hyoo , what was the problem here? Do you have any specifics on what needs to be changed?

-Maulik

[2016-10-24 18:00] olsonanl opened #1160 "Refseq link for fig|1262684.3.peg.1312 doesn't go anywhere"
The refseq locus link for this feature doesn't get to a refseq feature page
"The following term was not found in Gene: BN575_01092."

https://www.beta.patricbrc.org/view/Feature/PATRIC.1262684.3.HF999589.CDS.29690.30529.fwd

[2016-10-24 18:11] hyoo commented on #1147
will be available on alpha soon.

[2016-10-24 18:14] hyoo commented on #973
Labels were just overlapped each other.

[2016-10-24 18:15] hyoo commented on #969
I think we already changed to feature list.

[2016-10-24 18:16] levinas commented on #1134
@mshukla1 Is cblast for structural search? I agree; these may not be proteome comparison per se. They could be supported in a blast tool suite.

[2016-10-24 18:17] levinas commented on #1133
Can you clarify which link this is referring to?

[2016-10-24 18:18] hyoo commented on #948
now mouseover displays product and gene is clickable (move to the corresponding gene page)

[2016-10-24 18:19] hyoo commented on #672
this is a way old ticket already addressed.

[2016-10-24 18:21] mshukla1 commented on #1134
@levinas, yes, it looks like cblast is for structure comparison. I agree that we can make it available as part of BLAST and allow search against MMDB in future.

Closing the ticket.

[2016-10-24 18:21] #1134 closed, assigned to nobody

[2016-10-24 18:32] mshukla1 commented on #1160
Interestingly, the gene is in nucleotide/genome record and protein record, but not in the gene database!!
https://www.ncbi.nlm.nih.gov/nuccore/CBBH010000108.1
https://www.ncbi.nlm.nih.gov/protein/524253444

It seems NCBI is not adding all the genes to gene database. Need to figure out how to link to them.

-Maulik

[2016-10-24 18:36] mshukla1 commented on #1160
From NCBI:

_Mon, 15 Sep 2014
Changes coming for representation of prokaryotic genes
We are planning to change the representation of prokaryotic records in Gene over the coming year to adjust to the explosion in sequencing of new bacterial strains. In the past, Gene has represented prokaryotic genes from all complete genomes and ignored draft (WGS) genomes because of low sequence quality. This has

[2016-10-24 18:38] mshukla1 commented on #1160
I guess we have two options:
1. Remove the gene links for all non reference/representative genomes.
2. Keep the links as is. The NCBI page says no records in genes, but provides links to matching records in nucleotide db, which might be useful to the users.

Preference?

-Maulik

[2016-10-24 18:49] mshukla1 commented on #1128
ok, I will follow up with Gordon and see if the problem persists.

-Maulik

[2016-10-24 18:51] mshukla1 commented on #1126
@olsonanl , can you reproduce the problem or should it be closed?

[2016-10-24 19:49] mshukla1 commented on #1128
One of the plugins that Gordon was using was clocking the site. It worked after disabling the plugin and after adding PATRIC to the white list.

ScriptBlock: A smart extension that controls javascript, iframes, and plugins on Google Chrome
https://chrome.google.com/webstore/detail/scriptblock/hcdjknjpbnhdoabbngpmfekaecnpajba

The problem is that user had no idea the plugin was causing the problem

[2016-10-24 19:51] mshukla1 commented on #1111
I wonder if we need provide different flavors of the same link in different contexts to make it more intuitive to the users, i.e. report problem, provide feedback, contact us, etc.

-Maulik

[2016-10-24 20:22] hyoo commented on #1047
@dmachi This is the one I mentioned earlier that I want you to look at, but later commented it was working. However, I cannot load this page again. Don't know what is going on.

[2016-10-24 20:23] hyoo commented on #1008
we needs some configuration on data-api level. I will work on this.

[2016-10-24 20:59] mshukla1 commented on #994
Decision: call it **Genomic features** throughout the site, instead of genome features.

Action: change the global search dropdown and  search result labels to "Genomic Features".

-Maulik

[2016-10-24 21:34] mshukla1 commented on #943
@brettin, who should we talk to for renewing GenMark license?

@olsonanl , I talked to Jim, and he thinks GenMark should not be used in the default PATRIC annotation pipeline.

-Maulik

[2016-10-24 21:45] mshukla1 commented on #918
@olsonanl, I can not reproduce it.

[2016-10-24 21:53] mshukla1 opened #1161 "Feature overview: gene neighborhood cartoon"
The selected gene is not displayed in red in the cartoon!!!

https://www.beta.patricbrc.org/view/Feature/RefSeq.265668.3.BBMI01000072.CDS.27779.28135.rev

<img width="1338" alt="screen shot 2016-10-24 at 4 44 13 pm" src="https://cloud.githubusercontent.com/assets/1236463/19665374/4c79076a-9a0a-11e6-982d-f44cd849eee8.png">

[2016-10-24 22:12] mshukla1 commented on #1150
I tried the following sequence against Genus Lactobacillus using BLASTP and it never returned teh results.

[2016-10-24 22:28] #1143 closed, assigned to hyoo

[2016-10-24 22:51] ARWattam opened #1162 "PFS: Weird error on Protein Family Sorter"
Looking at a special group of Lactobacillus genomes from a paper.  This is the first time I have ever seen this type of error:
<img width="1433" alt="screen shot 2016-10-24 at 6 50 11 pm" src="https://cloud.githubusercontent.com/assets/11475316/19666824/d6a48990-9a1a-11e6-86e9-75e3ca140735.png">

[2016-10-25 16:12] mshukla1 commented on #1114
Here is another example with similar issue:

fig|83332.12.peg.2721 | Rv2429 | ahpD | Alkylhydroperoxidase protein D

Transcriptomics data is shown for this gene on the public site. Note that I am loading the gene overview page with a refseq feature id. But, when I go to transcriptomics and correlated genes tab, they are shown for equivalent patric features, which is what is expected.

https://www.

[2016-10-25 16:13] olsonanl commented on #1126
It comes up properly today.

[2016-10-25 16:14] mshukla1 commented on #895
The only items left now are creation of transcriptomics and plasmid blast databases.

-Maulik

[2016-10-25 16:16] mshukla1 commented on #877
Verified on beta.

[2016-10-25 16:16] #877 closed

[2016-10-25 16:19] mshukla1 commented on #628
I see on beta site that the default is now genes on the x axis.

-Maulik

[2016-10-25 16:19] #628 closed

[2016-10-25 16:36] olsonanl opened #1163 "short features render incorrectly on feature display"
https://www.beta.patricbrc.org/view/Feature/PATRIC.634452.3.NC_013210.CDS.134230.134352.rev#view_tab=overview

![screen shot 2016-10-25 at 11 35 23 am](https://cloud.githubusercontent.com/assets/2152226/19695037/3cf2def4-9aa7-11e6-9add-b7cc83a97d9b.png)

[2016-10-25 16:47] hyoo commented on #998
I have updated to 4.6.1 on alpha and beta.

used
curl --silent --location https://rpm.nodesource.com/setup_4.x | bash -

as instructed in https://nodejs.org/en/download/package-manager/

[2016-10-25 16:48] #998 closed, assigned to dmachi

[2016-10-25 16:59] mshukla1 commented on #931
Also, note that the view after default clustering are different between production and beta.

https://www.patricbrc.org/portal/portal/patric/TranscriptomicsGene?cType=taxon&cId=1763&dm=result&pk=&expId=233094&sampleId=&colId=&log_ratio=&zscore=#gs_0=3376543450474988015

<img width="912" alt="screen shot 2016-10-25 at 11 58 13 am" src="https://cloud.githubusercontent.com/assets/1236463/19695840/5c9

[2016-10-25 17:02] mshukla1 commented on #829
The whole table download is working now. However, downloading selected items using action bar still doesn't work.

-Maulik

[2016-10-25 17:09] #560 closed

[2016-10-25 17:11] mshukla1 commented on #558
It is now showing patric ids.

@hyoo, please change the display format to =>  patric id - product

<img width="308" alt="screen shot 2016-10-25 at 12 09 57 pm" src="https://cloud.githubusercontent.com/assets/1236463/19696298/1cd13512-9aac-11e6-94d1-bb6d51515b6a.png">

[2016-10-25 17:21] mshukla1 commented on #424
@maovt, This issue still persists on the beta site. I think the the chart below is somewhat misleading. There are 117 comparisons with log ratio <= -1.5 and there are 84 with log ration <= -2.0.

<img width="506" alt="screen shot 2016-10-25 at 12 20 42 pm" src="https://cloud.githubusercontent.com/assets/1236463/19696632/9a50738a-9aad-11e6-8a95-d3240da573f7.png">

[2016-10-25 17:32] #1126 closed, assigned to nobody

[2016-10-25 17:36] ARWattam opened #1164 "Unable to do any of the green bar functions from feature group in beta"
I created a feature group, went into my workspace and loaded it, and then tried to do a msa....nothing.  ID Mapping....nothing.  Get sequence....nothing.  Pathway....nothing.  What's going on?

[2016-10-25 17:57] ARWattam opened #1165 "All locus tags except PATRIC"
When doing a search, a couple of locus tags return, but not the PATRIC one.  We have the old VBI one and not the RASTtk one?  Is there a reason for this?
<img width="835" alt="screen shot 2016-10-25 at 1 55 10 pm" src="https://cloud.githubusercontent.com/assets/11475316/19697813/ec47794c-9aba-11e6-961a-4481b501fca4.png">

[2016-10-25 18:13] chmao1 commented on #1133
Fangfang,

I think that it's referring to the links for the features in the circular image. This requires server side fix in circos.html - adding "target='_blank'" in the link construction.

Chunhong

From: "Fangfang Xia" notifications@github.com
To: "PATRIC3/patric3_website" patric3_website@noreply.github.com
Cc: "Chunhong Mao" chmao@vt.edu, "Mention" mention@noreply.github.com
Sent: Monday, Octo

[2016-10-25 18:14] mshukla1 commented on #1046
Awesome!

Harry finding annotation problems....revenge of the software developers! ;)

Sent from my iPhone

[2016-10-25 18:14] ARWattam commented on #949
I still think its a mistake to remove this.  There is absolutely no way to get to subsystems now, and those users who like it are forced to annotate the same genome in RAST and PATRIC.

----- Original Message -----
From: "mshukla1" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Monday, Octob

[2016-10-25 18:17] mshukla1 commented on #949
I am fine with having the links, as long as people don't start complaining again about broken links.

Also, keep in mind that, for the same pegs, the annotations in PATRIC are updated frequently, but they are not updated in pseed since we annotated the genomes. So, there will be discrepancies.

-Maulik

[2016-10-25 18:17] dmachi commented on #1126
There are still known bugs on the jobs page.  For example, if you go to the jobs page and hit reload, it will be empty.  If you go to the jobs page from any other page after the Job Status indicator has been populated, it works.  Of course, this is on the list of things to get fixed and I believe there is a ticket for it.

Dustin

[2016-10-25 18:22] dmachi commented on #1159
For the other downloads to the API, I add the token into the url like &http_authorization=TOKEN.  The disadvantage of this is that some proxy server might log the full url with the token in it and since our tokens live for a year, that wouldn’t be great.  Other than this logging, its not really any less secure than putting the token in a cookie.

[2016-10-25 18:27] dmachi commented on #1159
Yes it was done that way because it was a separate call to get the downloadable url and that took time (and also the download urls only live for an hour or so).  All that said, you can probably change things to simply not open in a new browser tab/window now.  It was mainly like that before because there were a lot of errors in the download and I couldn’t control the error display.  I think most o

[2016-10-25 18:31] mshukla1 commented on #1165
no reason, just oversight. PATRIC ids should be displayed when available.

[2016-10-25 18:46] dmachi commented on #1047
I think something it is trying to load before it has a search or list of ids from the overall view.  If you remove the patric filter it works (and it works when you add it back).

[2016-10-25 19:56] jimdavis1 opened #1166 "BLAST bug"
This search is hanging and gives the user no indication that it failed.

![image](https://cloud.githubusercontent.com/assets/7661533/19701928/201e222c-9ac3-11e6-82f8-9952fe9bc8ab.png)

[2016-10-25 20:33] olsonanl commented on #1166
Hm, I tried answering this by email but it never showed up here. anyway, when I looked there were a couple blast jobs that had been running for 6 minutes, and then finished up.

[2016-10-25 20:48] ARWattam opened #1167 "BLAST: Right panel delay in showing correct information"
I did BLAST once, then did edit and resubmit with a new protein.  When I select the gene I want to see, I noticed that the information to the right of the green band shows the old gene from the former blast, not the recent one.
<img width="1432" alt="screen shot 2016-10-25 at 4 46 05 pm" src="https://cloud.githubusercontent.com/assets/11475316/19703703/c64208bc-9ad2-11e6-8df6-c87afd8054ba.png">

[2016-10-25 21:07] mshukla1 commented on #1164
here is how to reproduce the problem:
go to feature group list in the workspace -> double lick on on of the groups -> go to member list -> select few -> try actions using side bar.

I think we need to deprecate this page. Instead, when double clicked on the group name, it should go to the new feature list view. Then, we also need to add button for removing selected members.

-Maulik

[2016-10-25 21:10] mshukla1 commented on #1150
From Bob:
the homology service did the computation and returned results
[10/25/16, 4:08:03 PM] Bob Olson: from the access log:
[10/25/16, 4:08:03 PM] Bob Olson: 73.208.125.93 - - [25/Oct/2016:16:06:53 -0500]  "POST /services/homology_service HTTP/1.1" 200 11663 "https://www.be
ta.patricbrc.org/app/BLAST" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/601.7.7 (KHTML, like Gecko)
 Vers

[2016-10-25 21:11] mshukla1 commented on #1150
#1166

[2016-10-25 21:55] olsonanl commented on #1166
oh that’s against all the rep proteins. I do see a couple blast runs still going against that database. It just may take a long time to run these.

I’ll ask my usual question - what are you looking for in particular from running blast?

—bob

On Oct 25, 2016, at 2:56 PM, jimdavis1 <notifications@github.com<mailto:notifications@github.com>> wrote:

This search is hanging and gives the user no indic

[2016-10-25 21:56] olsonanl commented on #1166
what were you searching against?

On Oct 25, 2016, at 2:56 PM, jimdavis1 <notifications@github.com<mailto:notifications@github.com>> wrote:

This search is hanging and gives the user no indication that it failed.

[image]https://cloud.githubusercontent.com/assets/7661533/19701928/201e222c-9ac3-11e6-82f8-9952fe9bc8ab.png

—
You are receiving this because you are subscribed to this thread.
Reply to

[2016-10-25 22:08] ARWattam opened #1168 "Can we link to raw reads at SRA?"
I was just answering a user request and showed them how to find the reads for a particular genome at SRA.  Is there any direct link between reads and the assembly?  I'm wondering if we could provide a hyperlink to the reads at SRA from the genome landing page.

[2016-10-25 22:19] olsonanl commented on #1150
Verified that the response is returned in Chrome anyway, via the developer tools. Window is still spinning.

POST /services/homology_service HTTP/1.1
Host: p3.theseed.org
Connection: keep-alive
Content-Length: 1140
Accept: application/json
Origin: https://www.beta.patricbrc.org
X-Requested-With: XMLHttpRequest
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, l

[2016-10-26 11:56] ARWattam opened #1169 "Selecting taxonomy name in annotation service a bit finicky"
I have tried to do four different Corynebacterium pseudotuberculosis jobs this morning  When typing out "pseudotuberculosis", Yersinia pseudotuberculosis appeared as the top his, with Corynebacterium pseudotuberculosis as the second.  I carefully selected the Corynebacterium species four times, but each time it autofilled Yersinia pseudotuberculosis.  Then I entered both the genus and species name

[2016-10-26 12:00] ARWattam opened #1170 "Delay in showing annotation jobs have been submitted"
This morning I submitted 4 annotation jobs over the course of 5-8 minutes.  The jobs tracking page does not reflect the submission.  Why is there a delay this long?
<img width="986" alt="screen shot 2016-10-26 at 7 57 38 am" src="https://cloud.githubusercontent.com/assets/11475316/19725205/41088bd2-9b52-11e6-8181-b1c72b048043.png">

[2016-10-26 12:03] ARWattam commented on #1170
They appeared as completed before they ever appeared in the job tracker.
<img width="1149" alt="screen shot 2016-10-26 at 8 03 04 am" src="https://cloud.githubusercontent.com/assets/11475316/19725282/b469f598-9b52-11e6-9656-b2fb8fb4a8a5.png">

[2016-10-26 13:47] olsonanl commented on #1170
Did the job window come up quickly for you or was there a delay? Wondering if it is related to the problem with rendering that page when there is a large number of jobs.

If the job page is pulling jobs incrementally, we might have an issue with sort ordering and the new jobs not coming up in initial retrieves when they don't yet have a start or completion time. I'll take a look at that possibilit

[2016-10-26 15:41] ARWattam commented on #1170
I opened the jobs window pretty easily, and then clicked on the Started column.  They weren't showing up in the queue.  I've seen this before.

----- Original Message -----
From: "olsonanl" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Wednesday, October 26, 2016 9:47:30 AM
Subject: Re: [PA

[2016-10-26 15:45] mshukla1 commented on #1168
I know we added those links for the genomes we assembled from SRA.

I will check if we can add them for other genomes as well.

-Maulik

Sent from my iPhone

[2016-10-26 16:45] mshukla1 commented on #1147
Fixed. Verified on beta.

[2016-10-26 16:45] #1147 closed, assigned to hyoo

[2016-10-26 16:48] mshukla1 commented on #1105
fixed, verified on alpha.

[2016-10-26 16:48] #1105 closed, assigned to hyoo

[2016-10-26 16:55] mshukla1 commented on #1100
I am still seeing this problem on alpha.

Went to PFS tool, selected brucella group, got the right families.

Then, went back and selected an ecoli group, got the right families, but the genome list on left still shows brucella genomes from previous group.

<img width="982" alt="screen shot 2016-10-26 at 11 55 31 am" src="https://cloud.githubusercontent.com/assets/1236463/19735927/23629dfe-9b73-11

[2016-10-26 16:57] mshukla1 commented on #865
Fixed, verified on alpha.

[2016-10-26 16:57] #865 closed

[2016-10-26 17:47] #1098 closed, assigned to aswarren

[2016-10-26 18:00] mshukla1 commented on #781
fixed, verified on alpha.

[2016-10-26 18:01] mshukla1 commented on #864
For now, it is changed to PGfam.

-Maulik

[2016-10-26 18:01] #864 closed

[2016-10-26 18:03] mshukla1 commented on #932
For now, PGFam is default. Later, we will make PLfam default, based on selected taxon and genomes.

-Maulik

[2016-10-26 18:03] #932 closed

[2016-10-26 18:10] mshukla1 commented on #673
Fixed, verified on alpha.

[2016-10-26 18:10] #673 closed

[2016-10-26 18:40] mshukla1 commented on #597
Fixed on beta.

[2016-10-26 18:40] #597 closed

[2016-10-26 18:43] mshukla1 commented on #1135
@nconrad , job list page still calls it detail. Please change that as well.

<img width="1032" alt="screen shot 2016-10-26 at 1 42 04 pm" src="https://cloud.githubusercontent.com/assets/1236463/19739834/154e5f78-9b82-11e6-85b3-f5267aa58433.png">

[2016-10-26 18:45] mshukla1 commented on #1122
Verified on beta.

[2016-10-26 18:45] #1122 closed, assigned to nconrad

[2016-10-26 18:48] mshukla1 commented on #1121
fixed. verified on beta.

[2016-10-26 18:48] #1121 closed, assigned to nconrad

[2016-10-26 18:52] mshukla1 commented on #1084
verified on beta.

[2016-10-26 18:52] #1084 closed, assigned to nconrad

[2016-10-26 18:54] mshukla1 commented on #1050
fixed on beta.

[2016-10-26 18:54] #1050 closed, assigned to hyoo

[2016-10-26 18:55] mshukla1 commented on #1037
seems to be fixed now on beta.

[2016-10-26 18:55] #1037 closed, assigned to hyoo

[2016-10-26 18:58] mshukla1 commented on #969
default is now table view. verified on beta.

[2016-10-26 18:58] #969 closed, assigned to hyoo

[2016-10-26 19:01] nconrad commented on #961
@dmachi this turned out to be that update_meta was being called whenever a row was selected, which in turn would refresh the list afterwards.  It's fixed, but will look into more general approach like using models in future.

[2016-10-26 19:18] nconrad commented on #302
Should I close this one as 'won't fix'?

[2016-10-26 19:47] mshukla1 commented on #963
It works for private genomes in firefox. verified on beta.

[2016-10-26 19:47] #963 closed, assigned to hyoo

[2016-10-26 19:48] mshukla1 commented on #962
fixed. verified on beta.

[2016-10-26 19:48] #962 closed, assigned to nconrad

[2016-10-26 19:51] mshukla1 commented on #961
yeah, that jumping was really annoying. thanks for fixing it. verified on beta.

[2016-10-26 19:51] #961 closed, assigned to nconrad

[2016-10-26 19:53] mshukla1 commented on #950
looks better now. verified on beta.

[2016-10-26 19:53] #950 closed, assigned to nconrad

[2016-10-26 19:55] mshukla1 commented on #948
all fixes verified on beta.

[2016-10-26 19:55] #948 closed, assigned to hyoo

[2016-10-26 19:56] mshukla1 commented on #942
verified on beta.

[2016-10-26 19:56] #942 closed, assigned to nconrad

[2016-10-26 20:03] mshukla1 commented on #887
fixes verified on beta.

[2016-10-26 20:03] #887 closed

[2016-10-26 20:08] mshukla1 commented on #727
Wicked awesome! I love it! ... verified on beta.

[2016-10-26 20:08] #727 closed

[2016-10-26 20:25] mshukla1 commented on #672
verified on beta.

[2016-10-26 20:25] #672 closed

[2016-10-26 20:29] mshukla1 commented on #870
ID mapping works now from the green bar. Verified on beta.

[2016-10-26 20:29] #870 closed

[2016-10-26 20:41] mshukla1 commented on #244
We have remove the links to PSEED gene pages on the new beta site.

[2016-10-26 20:41] #244 closed

[2016-10-26 20:45] #1146 closed, assigned to chmao1

[2016-10-26 20:47] mshukla1 opened #1171 "Toolbar version of ID Mapping: result header and target id label"
Selected first 5 features from H37Rv genomes and ran ID mapping with KEGG as target.

https://www.beta.patricbrc.org/view/Genome/83332.12#view_tab=features

Two issues:
1. The says "Out of 5 features selected, 16 found in KEGG" because of one to many mappings. This is misleading. It should say something like: Out of 5 feature selected, 3 are mapped to 16 kegg ids.
2. The IDs mapped to are displaye

[2016-10-26 20:48] mshukla1 commented on #1170
@nconrad, see if you can fix this.

[2016-10-26 20:53] mshukla1 commented on #1169
@ARWattam, I am not able to reproduce the problem. Can you?

[2016-10-26 21:17] mshukla1 commented on #1130
Most tools and pages on the public site has one line description of the tool / functionality and then link to the FAQs / tutorial. We need to add them for all services/tools/pages on the beta site as well.

For example, below is the message on the ID Mapping tool in the production site:

"The ID Mapping Tool enables researchers to locate synonymous identifiers across multiple-source databases. For

[2016-10-26 21:25] mshukla1 commented on #149
Obsolete. Will be addressed by the new compare region viewer Bob has developed.

-Maulik

[2016-10-26 21:25] #149 closed

[2016-10-26 21:40] mshukla1 commented on #1146
verified on beta.

[2016-10-26 21:43] mshukla1 commented on #1127
Fixed, verified on beta.

[2016-10-26 21:43] #1127 closed, assigned to chmao1

[2016-10-26 22:01] mshukla1 commented on #1167
I tried it multiple times on beta Today and could not reproduce the problem.

@ARWattam, can you please try it again and see if the problem persists? If so, provoide more details on which blast options you tried.

[2016-10-27 14:58] jimdavis1 opened #1172 "We need a way to filter in the app drop downs"
In addition to "Public" and "Private" can we have a check box for reference?  I'm trying to pick a good  B. subtilis genome and have no clue.

![image](https://cloud.githubusercontent.com/assets/7661533/19772447/d95bb61e-9c2b-11e6-8d87-191675277397.png)

[2016-10-27 15:00] olsonanl opened #1173 "Genome data type page issues"
At the top there's a spurious line "Data"

Also in the genome status chart it lists 0% for plasmid genomes; seems we shouldn't list it if we don't have any.

[2016-10-27 15:00] olsonanl opened #1174 "DLP: Genome data type page - top 5 host graphic"
There isn't a legend saying what the hosts are; it's not entirely obvious that you need to mouse over it to see the host name

[2016-10-27 15:01] jimdavis1 opened #1175 "The drop down selection for workspace needs to be alphabetized."
This is impossible to navigate:

![image](https://cloud.githubusercontent.com/assets/7661533/19772652/834bd884-9c2c-11e6-926b-aa6f5ffb0cc4.png)

![image](https://cloud.githubusercontent.com/assets/7661533/19772562/412cc986-9c2c-11e6-8afc-e926049e064a.png)

![image](https://cloud.githubusercontent.com/assets/7661533/19772597/5d581dcc-9c2c-11e6-8411-aaa3925921a2.png)

![image](https://cloud.githubus

[2016-10-27 15:02] olsonanl opened #1176 "genome data page - weird back button behavior"
If I click on a genome name in the "Select genomes" section I have to click the back button _twice_ to get back to that page.

The use of "select" there is a little unclear; at first read I read it as a verb

[2016-10-27 15:03] olsonanl opened #1177 "DLP: genome data page - processing pipeline graphic"
the graphic doesn't show PGFAM/PLFAM creation or curation

[2016-10-27 15:03] mshukla1 commented on #1174
https://www.beta.patricbrc.org/view/DataType/Genomes

<img width="383" alt="screen shot 2016-10-27 at 10 03 04 am" src="https://cloud.githubusercontent.com/assets/1236463/19772704/a0af79d0-9c2c-11e6-9177-36fd0e51abcb.png">

[2016-10-27 15:05] olsonanl opened #1178 "DLP: genomic features page - bad english"
PATRIC supports genome annotations from multiple sources, including:

Original annotations from GenBank / RefSeq
Consistent annotation across all bacterial genomes using RAST

The second item isn't a source, it's a methodology for creating the genomes

[2016-10-27 15:07] jimdavis1 opened #1179 "Jobs list maxes out at 1000"
I have way more than 1000 jobs in this account.

![image](https://cloud.githubusercontent.com/assets/7661533/19772847/1da4c184-9c2d-11e6-854e-6bffe78a6175.png)

[2016-10-27 15:08] mshukla1 commented on #1173
There are only 6 plasmid only genomes, hence, when rounded, they become 0. I am thinking, we should just remove those 6 plasmid only genomes from the database to avoid any confusion.

<img width="986" alt="screen shot 2016-10-27 at 10 04 45 am" src="https://cloud.githubusercontent.com/assets/1236463/19772818/07068a98-9c2d-11e6-9f43-3761eba67a0c.png">

[2016-10-27 15:09] olsonanl opened #1180 "DLP: genome features page - markup overwrite"
https://www.beta.patricbrc.org/view/DataType/GenomicFeatures

when you hover on a genome name in the select list, an arrowhead overlays the text. see image.

<img width="987" alt="screen shot 2016-10-27 at 10 07 09 am" src="https://cloud.githubusercontent.com/assets/2152226/19772961/6c0a01fe-9c2d-11e6-9ba9-02fe69f44eb3.png">

[2016-10-27 15:10] mshukla1 commented on #845
#1172

[2016-10-27 15:10] mshukla1 commented on #1172
#845

[2016-10-27 15:15] jimdavis1 opened #1181 "Unattractive rendering in proteome comparison"
Notice the contig numbers in the top left:
![image](https://cloud.githubusercontent.com/assets/7661533/19773160/1f69565a-9c2e-11e6-98c8-aa702d659987.png)

Now if i zoom in as far as I can with the browser, it never resolves itself.

BTW, this also brings up the old gripe that if we don't have a way to zoom into the diagram, then there is no point having the links to the protein page.

![image](htt

[2016-10-27 15:18] olsonanl opened #1182 "DLP: genomic features data type page - families"
https://www.beta.patricbrc.org/view/DataType/GenomicFeatures also doesn't have pattyfam information

[2016-10-27 15:22] mshukla1 commented on #1181
The outer most track shows contigs for the reference genome. This is useful in some cases to distinguish between two chromosomes or chromosomes and plasmids. However, If you select a crappy reference with hundreds of contigs, it is going to mess up the display.

Possible solutions:
- Advise users to select high quality genomes as reference.
- Highlight reference/complete genomes in the genome sele

[2016-10-27 15:23] mshukla1 commented on #1182
Agree, PLFam and PGFam summaries should be included.

<img width="976" alt="screen shot 2016-10-27 at 10 22 52 am" src="https://cloud.githubusercontent.com/assets/1236463/19773503/67f07ab0-9c2f-11e6-9cd3-8418f61c0d92.png">

[2016-10-27 15:27] jimdavis1 opened #1183 ""Gene Page Transcriptomics""
If I click on this thing on the home page:

![image](https://cloud.githubusercontent.com/assets/7661533/19773571/b235f92e-9c2f-11e6-9bf8-75b396c02045.png)

It puts me on a "Feature View" page for Mycobacterium tuberculosis "universal stress protein family" instead of some entry page for transcriptomic analysis.  Its totally disorienting.

![image](https://cloud.githubusercontent.com/assets/7661533

[2016-10-27 15:27] olsonanl opened #1184 "specialty genes page - bad drugbank link"
The drugbank link at https://www.beta.patricbrc.org/view/DataType/SpecialtyGenes

goes to http://v3.drugbank.ca which doesn't exist

[2016-10-27 15:28] olsonanl opened #1185 "specialty genes columns centered not justified"
From specialty gene data landing page: https://www.patricbrc.org/portal/portal/patric/SpecialtyGeneSource?source=PATRIC_VF&kw=

Click on PATRIC_VF

This looks jarring

https://www.patricbrc.org/portal/portal/patric/SpecialtyGeneSource?source=PATRIC_VF&kw=

[2016-10-27 15:28] mshukla1 commented on #1178
Methodology / algorithm / tool can be a source of annotations / predictions, it doesn't have to be a database resource always, no?

Would the following be more appropriate?...or, pls suggest the sentence you like to see.

Consistent annotation across all bacterial genomes using PATRIC annotation pipeline

[2016-10-27 15:31] olsonanl opened #1186 "DLP: workflow graphics for features / specialty genes"
The graphics for "How Do We Process and Clean Up Our Data?" and "How Do We Curate, Integrate, and Map Specialty Genes?" are the same which seems a little odd

[2016-10-27 15:33] mshukla1 commented on #1185
Two issues:
- we need special page for the PATRIC_VFs on the beta site.
- Then, Link on the DLP should go to the page above, not the page on the production site.

[2016-10-27 15:35] olsonanl opened #1187 "DLP: pathways view from genomic features data page doesn't work"
go to https://www.beta.patricbrc.org/view/DataType/GenomicFeatures

highlight Mtb

click on "Pathway" under "Explore genomic features in"

I get sent to https://www.beta.patricbrc.org/view/Genome/83332.12#view_tab=pathways which shows 0 of 0 pathways and an error on the console

[Error] Error: This deferred has already been resolved
    d (dojo.js:121:173)
    callback (dojo.js:123)
    (anonymous

[2016-10-27 15:40] ARWattam opened #1188 "Transcriptomics: Keep getting an error when trying to load genes from experiment list"
This doesn't happen every time, but it has been happening EVERY OTHER time.  I have three conditiions that I want to compare (ampicillan, kanmycin and stationary).  I select all the conditions individually, and then click the genes button.  Half of the time nothing loads, and I see this error:
<img width="1432" alt="screen shot 2016-10-27 at 11 38 18 am" src="https://cloud.githubusercontent.com/as

[2016-10-27 15:40] mshukla1 commented on #1186
yeah, because they both refer to the same genome annotation workflow.

Do you see anything conceptually wrong with either of them?

We could add more details on the latter if we want to.

[2016-10-27 15:41] olsonanl opened #1189 "History listed in back button is unhelpful"
See attached.

<img width="1210" alt="menushot" src="https://cloud.githubusercontent.com/assets/2152226/19774211/ecb22116-9c31-11e6-98c9-18c083d088af.png">

[2016-10-27 15:42] olsonanl opened #1190 "DLP: Genomic feature page - select genomes missing pattyfams"
Patric fams missing from select genomes list of attributes

<img width="969" alt="screen shot 2016-10-27 at 10 41 56 am" src="https://cloud.githubusercontent.com/assets/2152226/19774237/0a3d8054-9c32-11e6-9cc0-fdba5ba20f3e.png">

[2016-10-27 15:43] olsonanl opened #1191 "DLP: protein families data type page missing patric fams"
patric families entirely missing from https://www.beta.patricbrc.org/view/DataType/ProteinFamilies

[2016-10-27 15:44] olsonanl commented on #1187
The pathway links don't work from here either

https://www.beta.patricbrc.org/view/DataType/Pathways

[2016-10-27 15:44] dmachi commented on #1175
I agree with you on the alphabetizing.  However, I will note that you have two other options as well.  1) You can type in that box to filter down to what you want or 2) you can click on the folder icon to the right and browse to what you are looking for.

[2016-10-27 15:44] jimdavis1 opened #1192 "Some SOLR metadata cleanup"
There is Homo sapiens and "Human, Homo sapiens"

![image](https://cloud.githubusercontent.com/assets/7661533/19774318/44330734-9c32-11e6-930a-1f4603235da1.png)

[2016-10-27 15:52] chmao1 commented on #424
@aswarren This bug is caused by using gt and lt instead of gte and lte. However, gte and lte is not implemented in api. Could you add these in api? Thanks.

[2016-10-27 15:53] dmachi commented on #424
solr doesn’t have a GTE or LTE, thats why it isn’t implemented in the API.

[2016-10-27 15:54] dmachi commented on #424
Or maybe its visa versa (has GTE, but not GT), i can’t remember.

[2016-10-27 15:55] olsonanl opened #1193 "Transcriptomics: featured experiment shows no features"
https://www.beta.patricbrc.org/view/DataType/Transcriptomics

click on Transcriptional profiles of Campylobacter jejuni NCTC 11168 to 0.125mg/L erythromycin treatment
click on Comparisons tab
select the one row, click on Genes

we see a page that says Loading briefly, and "1-1 of 0 results"
<img width="1291" alt="screen shot 2016-10-27 at 10 54 57 am" src="https://cloud.githubusercontent.com/asset

[2016-10-27 15:56] olsonanl opened #1194 "Home page: terminology mismatch"
If you click on "Experiments" under Browse Data on the home page, it takes you to a page called Transcriptomics

[2016-10-27 15:59] rkenyon opened #1195 "Need to add explanatory text on Tutorials page, add styling, icons"
https://www.beta.patricbrc.org/content/Tutorials

[2016-10-27 16:01] olsonanl opened #1196 "facebook is out of date"
Latest FB post was from May ... apparently folks can't upload pictures

[2016-10-27 16:02] jimdavis1 opened #1197 "Taxon overview: Recent pubmed articles"
Some how I ended up on the landing page for "Bacteria".  this has the pane with recent pubmed articles.  I doubt this is useful for all bacteria.  I think that we should talk about when this should be displayed so that it isn't just taking up space.

![image](https://cloud.githubusercontent.com/assets/7661533/19775064/c8456b50-9c34-11e6-984f-b18ae4b18780.png)

[2016-10-27 16:05] jimdavis1 opened #1198 "Taxon overview: Bug in counting for pie charts"
I am on the taxon view for all bacteria.  Note the gray pie slices.  For "isolation country" gray means others and it says we have 26,097 countries which cant be true.

For diseases, there is a huge slice of gray, but this I bet this is counting empty cells in the solr database.  We don't want gray to represent "others" and "no data".

![image](https://cloud.githubusercontent.com/assets/7661533/19

[2016-10-27 16:55] mshukla1 commented on #1196
@rkenyon, need to decide if we want to actively use/update PATRIC facebook account.

If so, we could post the following:
- links to data and software release
- advertise workshops / post workshop pictures
- highlight PATRIC related talks, presentations, papers, etc.

[2016-10-27 16:57] #1071 closed, assigned to aswarren

[2016-10-27 16:57] mshukla1 commented on #1198
@jimdavis1 , are you suggesting we have two separate slices for
- genomes with other values for the attribute and
- genomes with no values for the attribute?

[2016-10-27 17:01] mshukla1 commented on #1197
It may not be useful for all bacteria, however, it would be for almost any taxon level below it.

If we selectively hide it for all bacteria, do you have any suggestions on other useful information that can go on the overview page?

-Maulik

[2016-10-27 20:05] mshukla1 commented on #1194
Action: Change experiments to Transcriptomics. This will make it consistent with tabs, DLPs, and top menu.

<img width="655" alt="screen shot 2016-10-27 at 3 04 40 pm" src="https://cloud.githubusercontent.com/assets/1236463/19783250/d1b3e046-9c56-11e6-822e-404a50ec7d0b.png">

[2016-10-27 20:08] mshukla1 commented on #1193
The results loaded for me after few seconds. We need spinning wheel icon while browser waits for the data.

-Maulik

<img width="1059" alt="screen shot 2016-10-27 at 3 08 01 pm" src="https://cloud.githubusercontent.com/assets/1236463/19783332/2ff6aaa8-9c57-11e6-9031-ec89cdf030fc.png">

[2016-10-27 20:12] mshukla1 commented on #1191
We need to:
- Add PL and PG fam to the description (Maulik)
- Update process diagram (Maulik)

[2016-10-27 20:20] mshukla1 commented on #1188
Private experiment dataset -> Sangurdeker dataset -> select few conditions -> load gene list

I think the problem is that the dataset is very large, which results in a delay in loading the data.

This should be addressed when Harry migrates the private data logic to data API.

-Maulik

[2016-10-27 20:23] mshukla1 commented on #1187
The pathway link needs to be changed to the following form.

https://www.beta.patricbrc.org/view/Genome/198215.6#view_tab=pathways&filter=eq(annotation,PATRIC)

[2016-10-27 20:25] mshukla1 commented on #1187
#922

[2016-10-27 20:25] mshukla1 commented on #922
#1187

[2016-10-27 20:27] mshukla1 commented on #1187
#904

[2016-10-27 20:27] mshukla1 commented on #904
#1187

[2016-10-27 21:19] mshukla1 commented on #1183
Agree. Both genome metadata and gene level transcriptomics are confusing and should be replaced with other services, such as Proteome comparison, RNA-Seq, Differential expression, or variation analysis.

-Maulik

[2016-10-27 21:20] mshukla1 commented on #1184
Fixed, will be deployed soon.

[2016-10-27 21:36] mshukla1 commented on #1123
#1175

[2016-10-28 03:07] aswarren commented on #1095
This was due to lack of implemented stats function to determine when to turn off labels. This has been fixed.

[2016-10-28 11:38] mshukla1 commented on #719
Done.

[2016-10-28 11:38] #719 closed

[2016-10-28 15:29] mshukla1 commented on #688
I have corrected the genome names in Solr.
https://www.beta.patricbrc.org/view/Genome/1439316.7
https://www.beta.patricbrc.org/view/Genome/1439317.3

@dmachi , need to consider adding auto spelling correction or spelling suggestion to to the global search.

[2016-10-28 15:37] mshukla1 commented on #740
Here are the algorithm parameters exposed in NCBI BLAST. Personally, I have hardly ever used anything other than max target sequences option.

@vvons, do you frequently use advance BLAST options for your work?

<img width="599" alt="screen shot 2016-10-28 at 10 33 20 am" src="https://cloud.githubusercontent.com/assets/1236463/19812219/46e23054-9cfa-11e6-8738-85ccd107da5c.png">

[2016-10-28 15:38] mshukla1 commented on #741
The home page redesign was reverted back to match to that on the current production site. The issue is obsolete.

-Maulik

[2016-10-28 15:38] #741 closed

[2016-10-28 16:34] mshukla1 commented on #777
I tried many different examples of gene names, locus tags, strain names, and function that I can think of. For most part I am satisfied with the top results.

Searching for peg ids / patric ids is bit of a problem (i.e. fig|83332.12.peg.1), because behind the scene, it gets split on all alphanumeric boundaries, resulting in many false positive matches and messing up the scores.

@dmachi, After try

[2016-10-28 16:37] olsonanl commented on #1154
can someone comment on how the clustering software is invoked? (What precisely is being clustered)

[2016-10-28 16:47] mshukla1 commented on #777
#783

[2016-10-28 16:51] #886 closed

[2016-10-28 16:56] mshukla1 commented on #896
#777
#688

[2016-10-28 17:03] mshukla1 commented on #783
@dmachi: Two thoughts:
1. We should make the keyword search in feature and genome list behave the same way as those in global search. i.e. use the same optimizations for a given data type.
2. Whenever keyword search is applied in genome/feature/spgene lists, sort the results by score to bring the best results at the top.

-Maulik

[2016-10-28 17:06] mshukla1 commented on #774
AMR data has been cleaned up.

[2016-10-28 17:06] #774 closed

[2016-10-28 17:53] #326 closed

[2016-10-28 17:56] mshukla1 commented on #1007
I agree with your assessment, Dustin. I think making show/hide columns more noticeable, would suffice.

[2016-10-28 18:56] mshukla1 commented on #1192
Cleaned up host names for all public genomes.

[2016-10-28 18:56] #1192 closed, assigned to mshukla1

[2016-10-28 18:59] hyoo commented on #1194
will be available on alpha soon.

[2016-10-28 19:03] hyoo commented on #1193
spinning wheel is added.
https://github.com/hyoo/p3_web/commit/2e3d828cfb85593731b3f50619dc2d12067cb350

will be available on alpha soon.

[2016-10-28 19:04] hyoo commented on #1194
reopen to be confirmed.

[2016-10-28 19:06] hyoo commented on #1188
I guess I have fixed this issue. please try later today.

[2016-10-28 19:38] vvons commented on #740
Oh yes, I did. Especially in a system like PATRIC this might be very important. See, if you have a sequence that will hit 1000 MT sequences before it hits anything else that you might want to see - BLAST outside your species, but you don’t know who else might have it.
It certainly would make more sense to be able to exclude the same species from the start. You don’t really want 1000 sequences alig

[2016-10-28 21:42] #1155 closed, assigned to hyoo

[2016-10-28 21:49] hyoo commented on #558
will be available soon.

[2016-10-29 09:28] mshukla1 commented on #558
fixed - verified on alpha.

[2016-10-29 09:28] #558 closed

[2016-10-29 09:50] mshukla1 opened #1199 "Transcriptomics gene list"

[2016-10-29 09:52] mshukla1 opened #1200 "Transcriptomics gene list: refseq locus tags are not displayed"
I am looking at my private transcriptomics dataset. For the same dataset, refseq locus tags are displayed in the gene list on the production site, but they are not displayed on the alpha site.

<img width="1007" alt="screen shot 2016-10-29 at 4 50 23 am" src="https://cloud.githubusercontent.com/assets/1236463/19828723/72747b98-9d93-11e6-80de-c627a4178831.png">

<img width="1119" alt="screen shot 2

[2016-10-29 09:54] mshukla1 commented on #1188
Checked on alpha. This seems to be resolved now.

@ARWattam, please try it again and reopen the ticket if you still see the problem.

[2016-10-29 09:54] #1188 closed, assigned to hyoo

[2016-10-29 10:08] mshukla1 commented on #1200
Note that the problem seems to be only with private data. When I look at a public experiment, refseq loacus tags are displayed fine.

[2016-10-29 10:10] mshukla1 commented on #1194
@hyoo, thanks for changing the label. However, it has messed up the layout. Transcriptomics is now displayed on a second line. Can you fix it please?

<img width="669" alt="screen shot 2016-10-29 at 5 09 30 am" src="https://cloud.githubusercontent.com/assets/1236463/19828810/0ca608f6-9d96-11e6-8dc7-a01059f30f38.png">

[2016-10-29 10:23] mshukla1 opened #1201 "Transcriptomics gene list: session not getting cleared"
I first selected a public mycobacterium experiment and went to gene list. looked fine.

Then, I went to my private experiment for ecoli and the gene list. The conditions on the left got updated, however, the gene list now shows double the genes, from previous mycobacterium exp and the new e coli experiment.

@hyoo, Cache / session not getting clear is a very serious issue. It needs to be fixed bef

[2016-10-29 10:25] mshukla1 commented on #1193
fixed. verified on alpha.

[2016-10-29 10:25] #1193 closed, assigned to hyoo

[2016-10-29 10:25] mshukla1 commented on #1184
fixed. verified on alpha.

[2016-10-29 10:25] #1184 closed, assigned to mshukla1

[2016-10-29 10:35] mshukla1 commented on #1093
I like the new mouseover, the id and function display is now consistent with the information the header for the gene overview page.

However, the coordinates are not displayed correctly. It is missing start and strand.

<img width="460" alt="screen shot 2016-10-29 at 5 34 06 am" src="https://cloud.githubusercontent.com/assets/1236463/19828940/7ce20d74-9d99-11e6-9110-398ca54ee10d.png">

[2016-10-29 10:44] mshukla1 commented on #1095
@aswarren, has this been deployed? I am still seeing the same problem on alpha. The features close to the vertical grid lines seem to be truncated in display, specially when you zoom out to see ~50kb region.

See the features in the screenshot below, on the right side, close to 37,500 line.

https://www.alpha.patricbrc.org/view/Feature/PATRIC.1313.9910.1313.9910.con.0004.CDS.50079.51998.fwd#view_t

[2016-10-29 10:51] mshukla1 opened #1202 "Genome Browser: default view at genome level showing blank regions"
Went to Mtb H37Rv sanger genome and then genome browser.

The default view shows first ~100kb region. However, features are displayed only for first ~37kb region, the region after that appears blank!!!

This happens everywhere, anytime I zoom out to see a larger region, say >50kb.

https://www.alpha.patricbrc.org/view/Genome/83332.12#view_tab=browser

<img width="1225" alt="screen shot 2016-10-29

[2016-10-29 11:42] mshukla1 commented on #1178
fixed on alpha.

[2016-10-29 11:42] #1178 closed, assigned to mshukla1

[2016-10-29 11:45] mshukla1 commented on #1173
Harry explained to me that "Data" was added near Florida workshop as breadcrumb.

@nconrad, can you go over all data landing pages and add breadcrumb in style that is consistent with the rest of the site?

[2016-10-29 18:32] mshukla1 commented on #529
#406

[2016-10-29 18:36] #1199 closed, assigned to nobody

[2016-10-31 12:59] hyoo commented on #1200
deployed on alpha.

[2016-10-31 20:04] chmao1 commented on #424
Fixed and will be included in the next build.

[2016-10-31 20:07] chmao1 commented on #1181
The fix is needed from the server side.

[2016-10-31 20:50] hyoo commented on #931
reopen for verification. changed heatmap based on expression values from the heatmap value.

[2016-10-31 20:51] hyoo commented on #1114
refseq_locus_tag was stored with key named 'refseq_locus_tag' or 'exp_locus_tag'. added missing case.

[2016-10-31 21:26] hyoo commented on #1114
reopen for verification.

[2016-10-31 21:40] hyoo commented on #931
wait.. my fix (f654671) was regarding clustering values (read value vs. heatmap value/count). order-matching is not working yet.

[2016-11-01 02:41] hyoo commented on #931
reopen for verification.

[2016-11-01 14:13] jimdavis1 opened #1203 "feature overview, small issue"
I am finding myself doing the math in my head to figure out how long these proteins are.  Can we have one more line for length in aa or nt?  length in nt is probably better since other features can be listed as well.

![image](https://cloud.githubusercontent.com/assets/7661533/19892502/3263bc12-a013-11e6-9846-045fbcab819a.png)

[2016-11-01 15:11] jimdavis1 opened #1204 "bug in genome browser"
Note the CDS... line, I think it was supposed to be coordinates.

![image](https://cloud.githubusercontent.com/assets/7661533/19894558/6e05e6ac-a01b-11e6-99a0-7da6d4bee555.png)

[2016-11-01 15:20] jimdavis1 opened #1205 "Bug in genome browser"
If I zoom out far enough, this is what the rendering looks like, which is bad.

![image](https://cloud.githubusercontent.com/assets/7661533/19894928/d3846264-a01c-11e6-8695-d72c11bac10c.png)

Here it is zoomed in by one click... its still messed up
![image](https://cloud.githubusercontent.com/assets/7661533/19894970/eedab1da-a01c-11e6-9cdb-e83c4f6966fb.png)

Here it is zoomed in one more click, no

[2016-11-01 15:39] jimdavis1 opened #1206 "Geome browser weirdness"
Why do we have seq and na_sequence?  We should probably have oneand it they should be wrapped because its hard to select them otherwise.  They should also be at the bottom, and annotation should be near the top.

![image](https://cloud.githubusercontent.com/assets/7661533/19895578/4814f20e-a01f-11e6-9770-2a706732e165.png)

[2016-11-01 15:45] jimdavis1 opened #1207 "bug in search"
I keep complaining about this, but you should never, _ever_ get two hits to a unique identifier.

![image](https://cloud.githubusercontent.com/assets/7661533/19895835/46ca2472-a020-11e6-9094-3aaa6f6ff0d3.png)

[2016-11-01 15:49] hyoo opened #1208 "static content pages require styling"
![image](https://cloud.githubusercontent.com/assets/1236467/19895957/bcb28efe-a020-11e6-920c-64094359cf01.png)

![image](https://cloud.githubusercontent.com/assets/1236467/19896045/003f9914-a021-11e6-865e-8e81cd98e700.png)

![image](https://cloud.githubusercontent.com/assets/1236467/19896095/1afb75ac-a021-11e6-8eba-6f3248002a86.png)

[2016-11-01 15:50] jimdavis1 opened #1209 "Bug in genome browser"
On the production site you can zoom in to the DNA, now I can't. My objective was to get the short DNA sequence for this intergenic region.  I'm not sure that's currently possible on the beta site.

![image](https://cloud.githubusercontent.com/assets/7661533/19896014/e54687bc-a020-11e6-8cef-43c674f6019f.png)

[2016-11-01 15:51] dmachi commented on #1209
You can, but you have to enable to the reference sequence track on the left.  It is disabled by default.

[2016-11-01 15:59] jimdavis1 commented on #1209
Thanks, but that was not obvious.

[2016-11-01 20:57] jimdavis1 opened #1210 "Filters are missing"
I searched for the following pattyfam, now I want to reduce it to a set of reference genomes, or complete genomes, or whatever:

![image](https://cloud.githubusercontent.com/assets/7661533/19907242/f25419d0-a04b-11e6-8597-a0b6cd741711.png)

[2016-11-01 21:30] hyoo commented on #830
reopen for verification.

[2016-11-01 21:45] rkenyon commented on #830
Who is doing the verifications for all the tickets that are being re-opened?

On 11/1/16 5:30 PM, hyoo wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-01 21:48] hyoo commented on #830
I recently start tagging issue number in my commit, which will link the source code change to the issue, but will automatically closes the ticket. so I am reopening and marking as "fixed" so that others (usually Maulik) can verify and close.

[2016-11-01 21:49] rkenyon commented on #830
OK

On 11/1/16 5:48 PM, hyoo wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-02 14:52] jimdavis1 opened #1211 "Bad Bug in genome browser"
I am doing an analysis where I need to look at contig 162 but it only allows me to select from the first 100 contigs.

Also it still bothers me that the original contig names are not retained.  I have no assurance that my contig 162 is the patric contig 162.

![image](https://cloud.githubusercontent.com/assets/7661533/19933602/f263f0f8-a0e1-11e6-95b5-c4392d8a17ab.png)

[2016-11-02 15:14] hyoo commented on #1154
transcriptomics expression data (per feature per comparison) or protein families count (how many times a protein family was counted per genome).

[2016-11-02 15:31] hyoo commented on #1132
after unzipping the analysis.zip file, we double clicked (and we tried to open through menu) the report.htm file. In mac, chrome opened the report with graphs, but in PC, chome does not render graph and display some code.

[2016-11-02 19:03] #1202 closed, assigned to aswarren

[2016-11-03 13:42] ARWattam opened #1212 "MSA not working from feature group"
I selected my genes from the feature group and clicked MSA, and nothing happened.  I opened the developer tools so you could see the error message
<img width="1435" alt="screen shot 2016-11-03 at 9 40 27 am" src="https://cloud.githubusercontent.com/assets/11475316/19968151/bc0f23e2-a1a9-11e6-90b7-03ad95a08cee.png">

And here is the specific error message:

2url-change-tracker.js:73Uncaught TypeErr

[2016-11-03 13:43] ARWattam commented on #1212
I was working with some specific collaborators trying to get the msa...I wasn't watching a video or anything as you might assume from the screen shot.

[2016-11-03 14:27] jimdavis1 opened #1213 "Genome browser"
I keep trying to look at the genes on the ends of contigs and I cant click or mouse over the left-most protein because it is blocked by that stupid "PATRIC Annotation" thingy.

![image](https://cloud.githubusercontent.com/assets/7661533/19969753/ba14d8b8-a1a7-11e6-9fed-701000e63857.png)

[2016-11-03 14:57] dmachi commented on #1213
This is part of JBrowse, so we'll have to see what we can do to avoid it.  If we just remove it altogether then there is no way to tell which track is which (though it may be obvious to someone like Jim if you are zoomed in far enough to see the feature labels).

I found this plugin, https://github.com/GMOD/jbrowse/tree/master/plugins/HideTrackLabels  whether other people complained about the same

[2016-11-03 15:05] mshukla1 commented on #1213
I agree with Dustin. This issue has always been there.

Given that you can see the partial feature with adequate zooming and mouseover the feature to get more information, I consider this not critical, but nice to have feature.

[2016-11-03 15:21] jimdavis1 opened #1214 "Genome browser annoyance"
I'm working in safari, and I have to resize the window to see any region to the right.  scrolling and the right arrow button will not show anything after (in this case 45,000).
![image](https://cloud.githubusercontent.com/assets/7661533/19972156/34116dd2-a1af-11e6-9ad7-640c7146e1a4.png)

Here is what it looks like after I resize the window, you can see that I missed about 1KB of genes.
![image](ht

[2016-11-03 15:24] dmachi commented on #1214
I think andrew fixed this yesterday, not sure if it has made it onto beta yet.

[2016-11-03 15:34] jimdavis1 opened #1215 "BLAST: bug in blast"
I just did a blast of a protein against a large genome group and i cannot see how many hits  (hsps) there were. All I get is a table and I don't know offhand how many entries are in the table.  Is this all the HSPs? Is it some fraction of them????  If you are going to limit the output, you need a statement saying output limited to n/n hsps.

![image](https://cloud.githubusercontent.com/assets/7661

[2016-11-03 16:05] mshukla1 commented on #1211
We discussed this yesterday. Increasing the number of contigs displayed in the dropdown will not help as there are genomes with more than 1000 contigs.

@aswarren, We decided that we will provide links to genome browser from the sequence table. So, if you like to see a specific contig in genome browser, you can go to sequences tab, search for you contig of interest, and then jump top genome browse

[2016-11-03 16:11] mshukla1 commented on #1209
The current browser on the production site has reference sequence selected by default. However, the reference sequence is shown with six frame translation only when zoomed in ~ < 500bp.

We should preserve the same behavior on the new site, if possible.

-Maulik

[2016-11-03 16:26] mshukla1 commented on #1210
The genome metadata is not available at the feature level, hence, those filters are not available.

For now, the way to do it would be to start top down, i.e. start with the genomes you are interested in as defined scope, and then search for the genes/families you are interested in.

Prividing direct filters to allow users to find family members from ref/rep complete/wgs genomes would be major enh

[2016-11-03 16:38] mshukla1 commented on #1176
Select is used as an adjective here, as in interesting / useful / carefully chosen / popular genomes.
After lot of deliberations while designing the page we settled on "select",  so we don't hurt anyone's feelings!! ;)

Clicking the back button twice is an issue and I have seen it in other places as well.

[2016-11-03 16:42] mshukla1 commented on #1148
@levinas, Should there be better validation of the input files before the job is run, or a more clear error message for the user?

[2016-11-03 16:42] jimdavis1 opened #1216 "genome table download"
It took me 10 minutes to figure out that the 9th field of a download genome table is the organism name and the 27 field is the genome identifier.  There is a ton of superfluous information before that.   I think it should be like "patric id" "genbank accession", "genome name"... ... ... in the order of things that are most useful and most human-readable.  The sequencing platform and where it was s

[2016-11-03 17:49] ARWattam opened #1217 "BLAST: Check boxes don't seem to be working when creating a feature group"
I did a Blast  and carefully selected 40 features out of the total 50 from the results and created a feature group.  When I went to that feature group in my workspace, I found all 50 there, not the group that I had specifically selected

[2016-11-03 17:54] ARWattam opened #1218 "Why do some tables have check boxes, and some don't? Shouldn't they all have them?"
Blast results have check boxes:
<img width="1155" alt="screen shot 2016-11-03 at 1 52 25 pm" src="https://cloud.githubusercontent.com/assets/11475316/19978349/0614a66a-a1cd-11e6-8297-c4f628e5a1c4.png">

Workspace feature groups don't:
<img width="1101" alt="screen shot 2016-11-03 at 1 53 38 pm" src="https://cloud.githubusercontent.com/assets/11475316/19978364/157b03ba-a1cd-11e6-938e-4e797a3dce30.p

[2016-11-03 18:03] ARWattam opened #1219 "PATRIC not showing strain name"
I’m finding some errors in the metadata sheet from the last round.  A couple of times I’ve seen that the strain isn’t listed in the data you sent.  For instance, the GenBank Accession goes to Leptospira inadai serovar Lyme strain M34/99 and in PATRIC its listed as Leptospira inadai serovar Lyme.  We are missing the strains in some instances.

Genome ID: 293084.5
GenBank Accession: MCRM00000000

[2016-11-03 18:32] hyoo commented on #1191
chart data is updated using PLfam. available on alpha.

[2016-11-03 18:40] ARWattam opened #1220 "Is it possible to add locus tag to BLAST results?"
It currently is not in the drop down box for adding a column.
<img width="1154" alt="screen shot 2016-11-03 at 2 39 32 pm" src="https://cloud.githubusercontent.com/assets/11475316/19980176/73e90342-a1d3-11e6-885a-e0e8ae25be20.png">

[2016-11-03 19:30] jimdavis1 opened #1221 "download genome table"
I downloaded a table of genomes and the file was saved in my downloads as "patric3_genome_query-3.txt".  I then had to go back and download another list of genomes but it downloaded with the same file name, so now I can't just drag it to my desktop.  I'm using safari.

![image](https://cloud.githubusercontent.com/assets/7661533/19981959/09e1d66e-a1d2-11e6-916b-65523335e759.png)

[2016-11-03 19:35] jimdavis1 opened #1222 "Genome table file download"
Woah, each time you download a genome table the fields change!

The first image is the list of  representative and reference genomes.  It starts with sequencing depth:
![image](https://cloud.githubusercontent.com/assets/7661533/19982104/b2911aea-a1d2-11e6-9657-afd9f2233556.png)

The second image is representative genomes only and starts with plasmids

![image](https://cloud.githubusercontent.com/a

[2016-11-03 19:44] hyoo commented on #1047
reopen for verification

[2016-11-03 19:45] hyoo commented on #1187
this was due to #1047

[2016-11-03 19:48] hyoo commented on #1190
#1182 duplicates

[2016-11-03 20:30] ARWattam opened #1223 "When you edit and resubmit BLAST, the results return pre-checked!"
How convenient...well, not really.  I used the "Edit and Resubmit" option.  I have reported previously that the page loads funny.  This time the results returned with them already selected.
<img width="1155" alt="screen shot 2016-11-03 at 4 27 57 pm" src="https://cloud.githubusercontent.com/assets/11475316/19984030/dcecd6a2-a1e2-11e6-8af1-d4687450607e.png">

[2016-11-03 20:33] ARWattam commented on #1223
And when it comes pre-selected, I have no options in the magic green bar.  :(  It wasted my BLAST! :(
<img width="1166" alt="screen shot 2016-11-03 at 4 32 12 pm" src="https://cloud.githubusercontent.com/assets/11475316/19984088/2e12a926-a1e3-11e6-91f9-8d8c1596b125.png">

[2016-11-03 20:39] hyoo commented on #1203
reopen for verification

[2016-11-03 20:43] hyoo commented on #1180
https://github.com/hyoo/p3_web/commit/850ab353a2d6995abbd19f33e7da2e64f51ce4e2

[2016-11-03 20:47] hyoo commented on #1174
wasn't it better than

![image](https://cloud.githubusercontent.com/assets/1236467/19984517/c4daa34c-a1dc-11e6-925c-8c4e53216521.png)

https://www.patricbrc.org/portal/portal/patric/Genomes

just kidding. I will fix label.

[2016-11-04 16:05] #1203 closed, assigned to hyoo

[2016-11-04 16:07] hyoo commented on #1174
here are changes.
- for top 5 bacterial hosts, I changed label to include host name.
- for top 5 isolation countries, I added country flag back.

![image](https://cloud.githubusercontent.com/assets/1236467/20012820/ce45e41c-a27e-11e6-9a42-23c87c5b694e.png)

![image](https://cloud.githubusercontent.com/assets/1236467/20012832/d7502202-a27e-11e6-9a4a-007f4feab47f.png)

[2016-11-04 17:19] ARWattam opened #1224 "Good to show columns for conditions transcriptomics to see which conditions the genes had altered expression"
USER Request
Using the Expression Import Service: We can see only in how many conditions
certain gene is up or down regulated. We could have columns for each
condition, so we know exactly in which conditions the gene had altered
expression.

[2016-11-04 17:20] ARWattam opened #1225 "Inability to download table from differential expression results"
User report from UF workshop
I was not able to download this table displaying the differential
expression (DE) results (not as text nor as csv files). And I would like to
do it for the more than 4,000 E. coli genes. But even selecting the first
200 displayed genes I was not able to download.

[2016-11-04 17:22] ARWattam opened #1226 "Request to add gene name to gmx file downloaded from RNASeq"
User request from UF workshop:
The gmx file of the RNAseq result contains the log2 ratios, which is
great. But it contains only the PATRIC IDs for each gene. In the DE results
we see the PATRIC ID and the name of the gene (examples: rcnA, yggS... of
E. coli). Is it possible to have a gmx file including the gene name?

[2016-11-04 17:30] ARWattam opened #1227 "Upload list of genes and enable downstream analyses"
User request:

I would like to be allowed to upload a list of genes (rcnA, yggS...)
and, selecting the organism, submit to pathway and features analysis. Is it
possible?

[2016-11-04 17:31] ARWattam opened #1228 "Downloadable heatmap image"
User request:

We frequently get this request for a downloadable image of the heatmap so users can put them into publicatons

[2016-11-04 19:49] ARWattam opened #1229 "ID Mapping in PATRIC"
Are we going to have this in the Beta site?  I hope so, but I'm not seeing it.  And I need it!  Does it have an ETA...hopefully before we launch the new site as production. I am trying to respond to a user question and am experiencing being thwarted on the beta site

[2016-11-04 19:55] ARWattam opened #1230 "Enhancement to Proteome Comparison-directionality of uni hits"
We have had a user request for this.  We should include a column in the download that has the following designation
bi (<=>)
uni (<=)
uni (=>)

[2016-11-05 13:01] ARWattam opened #1231 "GenBank ID number we have not found in Genbank."
Genome Id is 	284037.4
GenBank Accessions we list: MDFG00000000KV757140,KV757141,KV757142,KV757143,KV757144,KV757145
When I searched for MDFG00000000KV757140 at GenBank, it didn't return anything
When I clicked the hyperlink at PATRIC, it also didn't return for that accession number
<img width="747" alt="screen shot 2016-11-05 at 8 57 55 am" src="https://cloud.githubusercontent.com/assets/11475316

[2016-11-05 13:20] ARWattam opened #1232 "Another genome missing strain name"
Genome id is 336810.23
Name in PATRIC is Candidatus Sulcia muelleri
GenBank accession is CP016223
Name at GenBank is Candidatus Sulcia muelleri strain NC
Could the name be coming from the organism tag?
<img width="752" alt="screen shot 2016-11-05 at 9 19 59 am" src="https://cloud.githubusercontent.com/assets/11475316/20030324/1855fb7c-a339-11e6-86e2-d5f1fbf2313f.png">

[2016-11-05 15:53] ARWattam opened #1233 "335 Genome IDs that are missing strains in PATRIC, and with strain names at GenBank -"
Genome IDs that are missing strains that are present at GenBank.  This is just for the last release.  I think we need to go in and check the rest of the genomes in the database
135461.32
135461.24
135461.25
135461.27
135461.33
302912.6
1682.27
1682.29
1679.14
1679.20
1679.24
1679.22
1679.21
1679.23
32019.24
1507806.16
1507806.17
1507806.21
1507806.12
1507806.10
1507806.6
1507806.8
1507806.19
15078

[2016-11-07 14:16] jimdavis1 opened #1234 "genome browser suggestion"
It would be really useful if you could click on a gene (or within the pop up window for a gene) and get to the protein page for that gene.

![image](https://cloud.githubusercontent.com/assets/7661533/20060779/678bc296-a4c2-11e6-9308-2125607c3ed4.png)

[2016-11-07 14:39] mshukla1 commented on #1231
The accessions are combination of WGS master record and bunch of assembled plasmids. There is a comma missing between MDFG00000000 and KV757140 (MDFG00000000KV757140). I will correct the data.

-Maulik

[2016-11-07 14:48] mshukla1 commented on #1226
The gmx file is meant to be used as an input for the differential expression analysis service, hence, has a very specific format that doesn't support additional columns. I wouldn't recommend modifying that file.

However, we can have another slightly expanded excel file available for download, which is more user friendly and contain additional attributes for genes, i.e. refseq locus tags, gene nam

[2016-11-07 14:54] mshukla1 commented on #1225
@hyoo we don't have the buttons at the top for downloading the entire table without making selection. We need it for downloading the table as txt and excel and also for downloading entire table as gene matrix with expression values.

[2016-11-07 14:59] mshukla1 commented on #1224
In the current design, the tabular view is is meant to provide the summary of expression and the heatmap is meant to provide detail view showing expression of each gene in each condition. I don't think we need to change anything there.

However, We need to add ability to download the entire gene list  as an excel file with expression values, which is already covered by another ticket. #1225

Closi

[2016-11-07 14:59] #1224 closed, assigned to nobody

[2016-11-07 15:02] mshukla1 commented on #1222
This is applicable to ALL table downloads. We need properly arrange all columns in ALL table downloads throughout the site. Without that, the downloaded files look like garbage!!!

[2016-11-07 15:11] mshukla1 commented on #1221
This is another site wide issue. We need to use proper/consistent naming scheme for all file downloads. My recommendation is to use something like

PATRIC_tabname_[optional:format]_date.ext

Here are few examples:

PATRIC_genomes_20160101.txt
PATRIC_sequences_20160202.csv
PATRIC_features_20160303.xls
PATRIC_protein_families.xls
PATRIC_transcriptomics.xls
PATRIC_transcriptomics_genematrix.xls

I am

[2016-11-07 15:29] mshukla1 commented on #1220
@hyoo, I think we should be able to display refseq locus tags as they are part of the fasta def lines. Please check if they are available from the service.

[2016-11-07 15:32] mshukla1 commented on #1218
There are multiple tables without checkboxes. Everyone, please address it in your respective pages.

[2016-11-07 15:33] mshukla1 commented on #1216
#1222

[2016-11-07 15:36] #1216 closed, assigned to nobody

[2016-11-07 15:38] hyoo commented on #1228
you can always capture your screen. as far as I remember, downloading flash heatmap has been discussed from the beginning of the PATRIC2, since it can goes up to take 10ish GB. The screen capture is the easiest way people can do with their current technology.

[2016-11-07 15:41] hyoo commented on #1218
protein families tab and transcriptomics genes. this has been ticked multiple times.

[2016-11-07 15:44] dmachi commented on #1218
Yes, and it isn’t a matter of just enabling the checkboxes.  We know we want to add these, but it will take some effort on some of these tables due to how they are generated and the underlying store.

[2016-11-07 15:44] ARWattam commented on #1228
If its the whole genome, you can't compress it enough to take a screenshot of the whole thing.

----- Original Message -----
From: "hyoo" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Monday, November 7, 2016 10:38:20 AM
Subject: Re: [PATRIC3/patric3_website] Downloadable heatmap image (#12

[2016-11-07 15:46] hyoo commented on #1220
we already bind the blast result to genome feature to provide selector actions. so any field in genome feature can be available on this grid.

[2016-11-07 15:51] mshukla1 commented on #1218
Is it the case that it is easy to add checkboxes when the table shows primary entities,
i.e. features and genomes. But, it is harder to add check boxes when the table shows
protein families and pathways, that require additional query to get corresponding
genome/feature ids?

[2016-11-07 15:52] mshukla1 commented on #1228
Harry, I am thinking this should be considered as one of the desired features
when we select next heat map technology, i.e. HTML5 or javascript version of
heat map. Hence, I have marked it as enhancement.

No action is expected with the current implementation.

-Maulik

[2016-11-07 15:53] dmachi commented on #1218
The problem is that for in-memory stores (client side generated stores that don’t have a 1-1 match with a backend data source), there seems to be an issue with the underlying store matching up with the checkbox selector plugin.

Dustin

[2016-11-07 16:08] mshukla1 commented on #1190
fixed. verified on alpha.

<img width="974" alt="screen shot 2016-11-07 at 10 08 13 am" src="https://cloud.githubusercontent.com/assets/1236463/20064994/25d4e188-a4d2-11e6-94f5-32c6a1e4073a.png">

[2016-11-07 16:08] #1190 closed, assigned to hyoo

[2016-11-07 16:09] mshukla1 commented on #1182
fixed. verified on alpha.

[2016-11-07 16:09] #1182 closed, assigned to hyoo

[2016-11-07 16:14] mshukla1 commented on #904
fixed. verified on alpha.

[2016-11-07 16:14] #904 closed

[2016-11-07 16:14] mshukla1 commented on #922
fixed. verified on alpha.

[2016-11-07 16:14] #922 closed

[2016-11-07 16:15] mshukla1 commented on #1187
fixed. verified on alpha.

[2016-11-07 16:15] #1187 closed, assigned to hyoo

[2016-11-07 16:16] #1180 closed, assigned to hyoo

[2016-11-07 16:18] mshukla1 commented on #1174
Thanks, Harry. Looks better.

If future, if we run out of flags, I would not mind having just the labels.

[2016-11-07 16:18] #1174 closed, assigned to hyoo

[2016-11-07 16:18] mshukla1 commented on #1194
fixed. verified on alpha.

[2016-11-07 16:18] #1194 closed, assigned to hyoo

[2016-11-07 16:25] mshukla1 commented on #1114
Fixed. Verified on beta.

[2016-11-07 16:25] #1114 closed, assigned to hyoo, chmao1

[2016-11-07 16:30] mshukla1 commented on #1109
Looks good. Verified on beta.

[2016-11-07 16:30] #1109 closed, assigned to chmao1

[2016-11-07 16:39] mshukla1 commented on #1108
Fixed. verified on beta.

[2016-11-07 16:39] #1108 closed, assigned to chmao1

[2016-11-07 16:45] mshukla1 commented on #1088
Checked on beta. The app now shows an error if reference genome is not selected.
"Error Submitting Job. Please check the submission form."

This is better than before. However, I think it will be more useful to the user if either
- error message is more explicit saying which field is missing or has error
- or, showing a red flag next to the filed that is missing value

[2016-11-07 16:47] mshukla1 commented on #1047
fixed. verified on alpha.

[2016-11-07 16:47] #1047 closed, assigned to dmachi, hyoo

[2016-11-07 17:09] mshukla1 commented on #654
I have verified on alpha that clustering is working in general on protein family heatmap.

@ARWattam, please check it again and share specific example / link if you still see the problem.

[2016-11-07 17:09] #654 closed

[2016-11-07 17:12] mshukla1 commented on #1082
fixed. verified on alpha.

[2016-11-07 17:12] #1082 closed, assigned to hyoo

[2016-11-07 17:21] mshukla1 commented on #830
Checked on alpha.

Regarding experiment and comparison list, the downloads are now working with and without selection. However, I noticed that the format of the downloaded files are different when I download all results vs the same from selection. The download from the selection bar doesn't handle multivalue fields correctly. It needs to be fixed.

This is using download at the top.
<img width="52

[2016-11-07 17:53] mshukla1 commented on #700
#1218

[2016-11-07 17:54] #700 closed

[2016-11-07 21:54] chmao1 opened #1235 "Make a new icon for PATRIC VF Evidence page"
Suggest using "VF" or "V"

[2016-11-08 04:05] hyoo commented on #1162
I think this can be related to #1100. please check on alpha.

[2016-11-08 04:06] hyoo commented on #1162
and please let us know how we can reproduce it.

[2016-11-08 14:30] jimdavis1 opened #1236 "ARDB and CARD"
Here is an example of the links that are provided to a CARD match.  Both links just take you back to the card front page, they don't actually take you to the entry in card, which is not very helpful.

Its most particularly annoying in this case because both links take you to the CARD home page.

![image](https://cloud.githubusercontent.com/assets/7661533/20102923/7f836194-a58d-11e6-8184-f89ac1f251

[2016-11-08 15:01] chmao1 commented on #1088
I'll revise the error message. Showing a red flag next to the field won't apply for the reference genome section, because all three fields are optional. The restriction is that ONE of the three fields is required to be filled.

[2016-11-08 15:02] jimdavis1 opened #1237 "BLAST bugs"
1. The "genome" and "feature" buttons lead you astray when you blast against contigs.  Genome just sends you to the landing page for that genome, which is worthless.  If anything, the genome link should really take you to the region on the genome in the genome browser, but it doesn't.

2. If you click on one of these buttons, you cannot get back to your blast job.  It is lost and you have to re-bl

[2016-11-08 15:05] jimdavis1 opened #1238 "Bad blast behavior"
What contig did I match?

![image](https://cloud.githubusercontent.com/assets/7661533/20104159/81620ca4-a592-11e6-8db0-0539723314cf.png)

[2016-11-08 15:09] #1238 closed, assigned to nobody

[2016-11-08 15:10] mshukla1 commented on #1088
I understand. Just making it explicit in the error message would be fine.

[2016-11-08 15:18] ARWattam opened #1239 "Information panel for parameters in Variant Service could be more informative"
Working on the new tutorial...we need to put more text in here that describes the aligners and the snp callers.
<img width="659" alt="screen shot 2016-11-08 at 10 16 50 am" src="https://cloud.githubusercontent.com/assets/11475316/20104628/b0cb598c-a59c-11e6-984e-953535c393d8.png">

[2016-11-08 15:24] ARWattam opened #1240 "Error submitting variant service job."
Why does this always happne when I'm making tutorials???
Error Submitting Job
submit failed: Can't connect to redwood.mcs.anl.gov:7080 (Connection refused) LWP::Protocol::http::Socket: connect: Connection refused at /disks/p3/runtime/lib/perl5/site_perl/5.16.2/LWP/Protocol/http.pm line 49. { "info" : { "priority" : 2, "userattr" : { "parameters" : "{\n \"single_end_libs\" : [\n {\n \"read\" : \"/A

[2016-11-08 17:15] chmao1 commented on #1088
Revised the message and will be in the next build.

[2016-11-08 17:27] ARWattam opened #1241 "After clicking Reset, reads still loaded in variant service"
Reset only appears to work on parameters.  Is that by design?
<img width="813" alt="screen shot 2016-11-08 at 12 26 09 pm" src="https://cloud.githubusercontent.com/assets/11475316/20109572/a61ebc42-a5ae-11e6-9eaa-f4692b801bfe.png">

[2016-11-08 17:44] chmao1 commented on #1185
The page for the PATRIC_VFs  is implemented and will be available in the next build

[2016-11-08 17:45] chmao1 commented on #1042
This is implemented and will be available in the next build.

[2016-11-08 17:46] chmao1 commented on #1068
Both the source and source id links are added in the Special Properties table and will be available in the next build.

[2016-11-08 17:58] olsonanl opened #1242 "Multiple pegs highlighted in feature cartoon"
See https://www.beta.patricbrc.org/view/Feature/fig%7C1115819.3.peg.1366

There are two features highlighted in red on the context cartoon

![screen shot 2016-11-08 at 11 57 35 am](https://cloud.githubusercontent.com/assets/2152226/20110588/9a856524-a5aa-11e6-8044-90fa27a80eaf.png)

[2016-11-08 18:26] chmao1 commented on #1236
Fixed to use CARD ID in the source ID column. However, we currently can’’t create links for CARD IDs. The new links will be provided when they're available. This fix will be included in the next build. @mshukla1 @jimdavis1

[2016-11-08 21:42] ARWattam opened #1243 "Why can I load the same file multiple times into the variation service?"
<img width="662" alt="screen shot 2016-11-08 at 4 42 02 pm" src="https://cloud.githubusercontent.com/assets/11475316/20118420/5cef7556-a5d2-11e6-9931-ee2b556dc9d5.png">

[2016-11-09 02:05] #1145 closed, assigned to hyoo

[2016-11-09 18:28] ARWattam opened #1244 "Not able to upload bam file to genome browser"
Does this work?

[2016-11-09 18:30] ARWattam commented on #1244
And are we planning on enabling it?  I'm working on the tutorial and am wondering if I should leave it out or not.

[2016-11-09 18:32] dmachi commented on #1244
As I understood it, this does work.  In the genome browser you go to File->Open and you can upload a file as  an additional track.

[2016-11-09 18:57] ARWattam commented on #1244
I tried it.  It is not working.

----- Original Message -----
From: "Dustin Machi" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Wednesday, November 9, 2016 1:32:35 PM
Subject: Re: [PATRIC3/patric3_website] Not able to upload bam file to genome browser (#1244)

As I understood it, this does

[2016-11-09 19:28] aswarren commented on #1244
There is a long and painful history why this isn't working.
(and this will be the last time I explain it so help me)
We modeled our fasta headers after NCBI: >accn|CP001362
Such that our fasta headers don't match the sequence ID's for our GFF or our internal reference scheme (JBrowse and elsewhere): CP001362
Refseq recently de-dumbed their FASTA files so that now the ID's match.
We haven't caught

[2016-11-09 19:30] aswarren commented on #1244
So in essence. Your BAM would work if you convert it to SAM and fix all the labels then convert it back to BAM.
Or you can wait to see if I can figure out a Jbrowse patch.

[2016-11-09 20:15] aswarren commented on #1093
double fixed

[2016-11-09 20:15] #1093 closed, assigned to aswarren

[2016-11-09 20:19] aswarren commented on #1214
Indeed fixed as far as I know. I think Jim's example is a private genome so couldn't test on it explicitly.

[2016-11-09 20:19] #1214 closed, assigned to aswarren

[2016-11-09 21:22] mshukla1 commented on #1240
Awe crashed. Service worked fine after Bob restarted the server.

-Maulik

[2016-11-09 21:22] #1240 closed, assigned to olsonanl

[2016-11-09 22:28] hyoo commented on #1162
i guess this is related to the session issue address by other ticket.

[2016-11-10 04:58] aswarren opened #1245 "FASTA header prefix demon"
This has been a problem with RNA-Seq and now the variation service. And really any program that wants to match the sequence ID's in our FASTA files with the sequence ID's in our GFF file.
So we might have difficulty uploading our own files on our own site.
We modeled our fasta headers after NCBI: >accn|CP001362
Such that our fasta headers don't match the sequence ID's for our GFF or our internal r

[2016-11-10 05:03] aswarren commented on #1239
Including @levinas . Got a piece of information from him the other day concerning bwa-mem-strict but still need any info he is interested in including on how the other options are run.
Specifically:
      "enum": [
        "BWA-mem",
        "BWA-mem-strict",
        "Bowtie2",
        "MOSAIK",
        "LAST"
      ]
and
      "enum": [
        "FreeBayes",
        "SAMtools"
      ]

[2016-11-10 13:01] rkenyon commented on #1245
Maulik, Bob, Harry, or whoever, what is required to make this change in
the database?  What other side effects would the change have with the
current system?

Ron

On 11/9/16 11:58 PM, Andrew Warren wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-10 14:14] mshukla1 commented on #1245
I believe the immediate change needed is in the API function that generates fasta file used as input by the services.

If we want to minimize the changes, we can just customize that function.

We can make similar changes in all other places as well, if we want to, I.e download files on FTP and other seq downloads from the website.

Sent from my iPhone

[2016-11-10 16:31] ARWattam opened #1246 "BLAST appears to be down on beta"
Not working.  Are other services functioning

[2016-11-10 19:01] aswarren commented on #1246
Email or IM is more appropriate for this type of issue.

[2016-11-10 19:01] #1246 closed, assigned to nobody

[2016-11-10 19:03] aswarren commented on #1245
We should take pains to maintain parity between the FTP files and the files generated by the API.
We don't want someone getting different results if they downloaded one of our files from the ones being generated by the API because of this issue.

[2016-11-10 19:23] dmachi commented on #1176
I assume this is referring to Genome Landing pages.  This actually looks to be a bad link.  All of the genomes are linking to things like: https://www.beta.patricbrc.org/view/Genome/83332.12#genome-tab1

I have no idea what that #genome-tab1 is referring to as there is no such thing in the Genome View.  When you link to this there is essentially a redirect and that is why it takes two clicks to ge

[2016-11-10 19:31] dmachi commented on #1165
Not sure what you mean here.  Are there search results that are missing or is the format of the 2 results incorrect?

[2016-11-10 19:32] dmachi commented on #1164
Agree, this should be a workspace task.

[2016-11-10 19:34] dmachi commented on #1118
There isn't much detail to go on here.  The upload that I remember failing for rebecca at the workshop was trying to upload two files into single file selection box, which was the problem there.  That should indeed be fixed.  This is a workspace issue.

[2016-11-10 19:36] dmachi commented on #994
Fixed.  Will be available in alpha soon.

[2016-11-10 19:49] dmachi commented on #933
Added a column called "Reference" into the available columns in the genome list.  It is hidden by default.

[2016-11-10 19:50] mshukla1 commented on #1165
The format of the displayed results, need to display patric_id for patric feature.

Change:
PATRIC | CDS | b2965 | VBIEscCol129921_3061

to:
PATRIC | CDS | fig|511145.12.peg.3061 | b2965 | VBIEscCol129921_3061

[2016-11-10 19:52] mshukla1 commented on #1245
Agree. I need to recreate most of the download files anyway after we update functions.
I will try to have updated files on the FTP as part of the Nov Data Release.

-Maulik

[2016-11-10 19:55] dmachi commented on #1165
Fixed. Will be on alpha soon.

[2016-11-10 19:59] dmachi commented on #980
I haven't been able to reproduce this issue yet.  I do notice that there is a slight bug in that the height calculation for this box is off because of the size increase when things are selected (the bolded orange content takes up more than the white normal content), but that is a different issue from the bars not showing up at all.

[2016-11-11 12:27] mshukla1 opened #1247 "Move production servers to ANL"
Move production servers to Argonne.

- [ ] Solr
- [ ] Data API
- [ ] Authentication
- [ ] Website
- [ ] FTP

[2016-11-11 12:29] mshukla1 opened #1248 "Set up google analytics for new production and legacy sites"
Set up Google Analytics for the new production site and the legacy site when we make the release.

[2016-11-11 18:50] chmao1 commented on #1157
The filter should work after clicking once now. The fix will be available in the next build.

[2016-11-11 21:03] hyoo commented on #1104
This is a heatmap player(flash player) bug, I guess. Production server also has this problem (when it renders pgfam).

![image](https://cloud.githubusercontent.com/assets/1236467/20230111/d80a8c86-a81f-11e6-8182-789ae8c54f71.png)

[2016-11-11 21:23] chmao1 commented on #924
Fixed and is available to verify.

[2016-11-14 16:38] chmao1 commented on #903
This is fixed.

[2016-11-14 16:38] #903 closed

[2016-11-14 16:40] chmao1 commented on #660
This is fixed and available in beta.

[2016-11-14 16:42] chmao1 commented on #664
The filter uses collection_year and is "cleaned". The fix is available in beta.

[2016-11-14 16:42] #664 closed

[2016-11-14 16:42] chmao1 commented on #716
This is fixed.

[2016-11-14 16:42] #716 closed

[2016-11-14 16:45] #707 closed

[2016-11-14 16:48] chmao1 commented on #292
Appears to be correct now.

[2016-11-14 16:48] #292 closed

[2016-11-14 16:55] chmao1 commented on #825
Close this for now until there is a request for this option.

[2016-11-14 16:55] #825 closed

[2016-11-14 19:43] #1163 closed, assigned to hyoo

[2016-11-14 20:06] hyoo commented on #1161
reopen for verification

[2016-11-14 20:11] hyoo commented on #1242
for verification

[2016-11-14 20:12] hyoo commented on #1092
1. resolved. see #1163

and regarding 2,3
for further discussion. I label it help_wanted.

[2016-11-14 21:13] hyoo commented on #1032
reopen for verification

[2016-11-14 21:27] hyoo commented on #1225
for verification

[2016-11-14 21:50] ARWattam opened #1249 "MSA viewer not matching the right sequence in the MSA and tree"
Look at this alignment of arginase.  According to the tree and the line up of the sequence in the msa, B. melitensis abortus 2308 should start with MGNLAP:
<img width="1345" alt="screen shot 2016-11-14 at 4 46 36 pm" src="https://cloud.githubusercontent.com/assets/11475316/20284255/63cee7f0-aa8a-11e6-91be-b3315f91f634.png">

When you look at the actual sequence for this gene, it actually begins wi

[2016-11-14 22:17] aswarren commented on #1244
This is fixed assuming you have both the *bam & *bai files.

[2016-11-14 22:17] #1244 closed, assigned to aswarren

[2016-11-14 22:18] aswarren commented on #1234
This now works. Click on the feature id at the top.

[2016-11-14 22:18] #1234 closed, assigned to aswarren

[2016-11-14 22:24] #1095 closed, assigned to aswarren

[2016-11-14 22:24] #835 closed

[2016-11-14 22:25] #844 closed

[2016-11-14 22:25] #1067 closed, assigned to aswarren

[2016-11-14 22:26] #1144 closed, assigned to aswarren

[2016-11-14 22:28] #1204 closed, assigned to aswarren

[2016-11-14 22:29] #1206 closed, assigned to aswarren

[2016-11-14 22:31] #1205 closed, assigned to aswarren

[2016-11-14 22:36] ARWattam opened #1250 "Persistant pop-up"
I've been going back and forth to one of my feature groups, and after a couple of times the pop-up window just keeps sticking around through several iterations.  A tad annoying.
<img width="1386" alt="screen shot 2016-11-14 at 5 35 37 pm" src="https://cloud.githubusercontent.com/assets/11475316/20285611/e191567c-aa90-11e6-81eb-c9e2d42389f4.png">

[2016-11-14 22:36] ARWattam commented on #1250
Notice that the pop-up is not even for the genome that the page is on.

[2016-11-14 22:38] ARWattam opened #1251 "Why isn't the strain name appearing in the breadcrumb."
I had to search down the page to find that I was on the abortus Tulya strain.  It should be in the breadcrumb.
<img width="846" alt="screen shot 2016-11-14 at 5 37 39 pm" src="https://cloud.githubusercontent.com/assets/11475316/20285670/29a72d74-aa91-11e6-9248-21dee4a30d51.png">

[2016-11-14 22:40] ARWattam opened #1252 "Clicked on MSA and...nothing."
Whaaa happen???

[2016-11-14 22:44] ARWattam commented on #1252
Typing issue...translate as What happened?

[2016-11-15 00:51] #1209 closed, assigned to aswarren

[2016-11-15 02:45] aswarren commented on #1213
Added through plugin. Hidey button in navbox

[2016-11-15 02:45] #1213 closed, assigned to aswarren

[2016-11-15 02:55] aswarren commented on #1252
@ARWattam link or more info.
 or it didn't happen

[2016-11-15 02:57] aswarren opened #1253 "Link delete annotation job results in workspace to deleting in SOLR"
Or some alternative mechanism to get rid of a bad annotation.
If I run an annotation I shouldn't have to keep it around polluting my views and dropdowns if it isn't any good or I don't want it anymore.

[2016-11-15 08:38] #1242 closed, assigned to hyoo

[2016-11-15 08:43] mshukla1 commented on #1200
verified on alpha.

[2016-11-15 08:43] #1200 closed, assigned to hyoo

[2016-11-15 08:49] mshukla1 commented on #1201
fixed. verified on alpha.

[2016-11-15 08:49] #1201 closed, assigned to hyoo

[2016-11-15 08:54] mshukla1 commented on #1157
fixed. verified on alpha.

[2016-11-15 08:54] #1157 closed, assigned to chmao1

[2016-11-15 09:08] mshukla1 commented on #931
@hyoo , I am still finding problems with heatmap coloring and sorting by gene order. Hard to explain in an email. Need to show them to you in person.

[2016-11-15 09:20] mshukla1 commented on #424
Fixed. Verified on alpha.

[2016-11-15 09:20] #424 closed

[2016-11-15 09:27] mshukla1 commented on #1162
@hyoo, this is not related to session. You get columns undefined or empty message when the filers result in zero features in the table. Here is how you can reproduce it.

Go to:
https://www.beta.patricbrc.org/view/TranscriptomicsExperiment/?eq(eid,(431625))

Filters: log ratio = 1 z score = 2 and down in the first condition.

<img width="999" alt="screen shot 2016-11-15 at 3 23 39 am" src="https:/

[2016-11-15 09:28] mshukla1 commented on #1162
I think the solution can be either just the empty heatmap, or a better message saying
"No results to display".

-Maulik

[2016-11-15 09:29] mshukla1 commented on #1225
@hyoo, I don't see download button for the entire table on alpha!

[2016-11-15 09:31] mshukla1 commented on #1161
fixed. verified in beta.

[2016-11-15 09:31] #1161 closed, assigned to hyoo

[2016-11-15 09:32] #1101 closed, assigned to hyoo

[2016-11-15 09:48] mshukla1 commented on #1100
Fixed. Verified in beta.

[2016-11-15 09:48] #1100 closed, assigned to hyoo

[2016-11-15 09:52] mshukla1 commented on #1032
Download for the entire table has been added. However, it doesn't support downloading family with members yet. Need it add it later.

[2016-11-15 09:54] #930 closed

[2016-11-15 09:58] mshukla1 commented on #1185
@maovt, I can not find the page on alpha. Can you please provide the link?

[2016-11-15 10:01] mshukla1 commented on #1165
@dmachi, I don't see it on alpha yet. Has it been deployed?

[2016-11-15 10:07] mshukla1 commented on #1068
links added. verified on alpha.

[2016-11-15 10:07] #1068 closed, assigned to chmao1

[2016-11-15 10:10] mshukla1 commented on #1185
Ok, I think I found the list of manually curated PATRIC_VFs.

@hyoo, please updated the PATRIC_VF link on the specialty gene DLP to the one below:

https://www.alpha.patricbrc.org/view/SpecialtyGeneList/?keyword(*)#view_tab=specialtyGenes&filter=and(eq(source,PATRIC_VF),eq(evidence,Literature))

[2016-11-15 10:11] mshukla1 commented on #1042
Page added. Verified on alpha.

[2016-11-15 10:11] #1042 closed, assigned to chmao1

[2016-11-15 10:12] mshukla1 commented on #994
@dmachi, I don't see it in alpha yet!

[2016-11-15 10:18] mshukla1 commented on #924
verified on alpha.

[2016-11-15 10:18] #924 closed

[2016-11-15 12:13] ARWattam opened #1254 "Ability to remove features from Feature Group seems to be missing"
Rats!  Things seem to disappear right when I need them!
<img width="1183" alt="screen shot 2016-11-15 at 7 12 18 am" src="https://cloud.githubusercontent.com/assets/11475316/20305327/fea6abc8-ab02-11e6-9d18-ca046a9340ba.png">

[2016-11-15 12:24] ARWattam opened #1255 "Download from feature group returns nothing"
I can't remember if this was supposed to be fixed, is a new issue, or what but here goes.  I went to workspace and found the feature group I was interested in. Check boxes appear to be missing, btw.  I selected them all and hit download, chose txt, and got el zippo!
<img width="643" alt="screen shot 2016-11-15 at 7 22 46 am" src="https://cloud.githubusercontent.com/assets/11475316/20305647/8cbdc58

[2016-11-15 12:28] ARWattam opened #1256 "Download from feature group not working on Production, either."
selected features:
<img width="1231" alt="screen shot 2016-11-15 at 7 27 24 am" src="https://cloud.githubusercontent.com/assets/11475316/20305753/0fad0244-ab05-11e6-8bd3-534e2ca8c788.png">

and the corresponding download:
<img width="639" alt="screen shot 2016-11-15 at 7 27 53 am" src="https://cloud.githubusercontent.com/assets/11475316/20305759/194afed2-ab05-11e6-8294-40336c363067.png">

[2016-11-15 17:01] jimdavis1 opened #1257 "Genome browser bug"
The "Go" button doesn't work any more.

![image](https://cloud.githubusercontent.com/assets/7661533/20314856/54967dd8-ab21-11e6-9ca7-fc1727cdeea7.png)

[2016-11-15 17:01] jimdavis1 opened #1258 "Genome Browser bug"
The "share button does not generate a url for the region of interest.

[2016-11-15 17:02] jimdavis1 opened #1259 "Genome browser bug"
Sequence search does not work in the genome browser.

[2016-11-15 17:31] hyoo commented on #1225
same as protein family download. right above the main grid.
![image](https://cloud.githubusercontent.com/assets/1236467/20316334/0629e0bc-ab27-11e6-95f2-33e32c608048.png)

[2016-11-15 17:37] mshukla1 commented on #1256
Need to get rid of the old genome and feature group pages implemented in the workspace and, instead, link to the new genome and feature list views.

#1164

[2016-11-15 17:40] mshukla1 commented on #1255
#1164

[2016-11-15 17:46] mshukla1 commented on #1251
Agree, for feature level pages, genome name should be part of the breadcrumb, like on the production site.

<img width="594" alt="screen shot 2016-11-15 at 11 45 18 am" src="https://cloud.githubusercontent.com/assets/1236463/20316815/26e3ff7a-ab29-11e6-8428-85f85829eddf.png">

[2016-11-15 17:50] dmachi commented on #1251
I don’t mind having this ticket assigned to me, but i have 50+ tickets for november and this issue doesn’t require any special knowledge that I have to complete. I think you should only assign tickets to a particular person when that person is going to be needed to resolve the ticket.

[2016-11-15 17:51] mshukla1 commented on #1250
@ARWattam, this might be browser freeze on your side. I am not able to reproduce it on alpha or beta.

[2016-11-15 17:53] mshukla1 opened #1260 "Data: missing frn files on the FTP site"
FRN files are missing for some genomes on the FTP site.

[2016-11-15 18:07] #1153 closed, assigned to hyoo

[2016-11-15 18:48] dmachi commented on #1222
There was code in here to do this already, but we were encountering a bug where that code was being skipped in the case of a streamed download.  That has been fixed and will be pushed to alpha soon.  However, I need some help for the rest of this ticket.

There is a middleware function that defines what the default fields (and order) are for both genome and genome_feature data types.  I need the s

[2016-11-15 18:51] chmao1 commented on #1251
Fixed and made a pull request.

[2016-11-15 19:19] dmachi commented on #1120
Updated on alpha, haven't updated on beta yet.  Currently they both need to be kept in sync as they are changed.  We can work out something to make that smoother in the future.

[2016-11-15 19:20] #1120 closed, assigned to dmachi

[2016-11-15 19:25] ARWattam opened #1261 "Not able to see genome IDs in BLAST drop down"
This limits choosing the genome that I want.
![screen shot 2016-11-15 at 2 05 03 pm](https://cloud.githubusercontent.com/assets/11475316/20320281/580d1346-ab3f-11e6-956b-214547636fce.png)

[2016-11-15 19:28] ARWattam opened #1262 "Using genome ID to select genome in BLAST doesn't work."
As I couldn't scroll over to see the genome ID to select my genome of interest, I tired using the genome ID in the Blast genome text box.  It says that is not valid.
<img width="836" alt="screen shot 2016-11-15 at 2 28 01 pm" src="https://cloud.githubusercontent.com/assets/11475316/20320412/c0b06cea-ab3f-11e6-8c03-9559195eb790.png">

[2016-11-15 19:47] hyoo commented on #1103
for verification

[2016-11-15 19:52] hyoo commented on #1045
I tested with 121 genomes and works.

[2016-11-15 19:58] hyoo commented on #1185
PATRIC_VF link is updated on alpha.

[2016-11-15 20:01] hyoo opened #1263 "implement facets for PATRIC_VF page"
![image](https://cloud.githubusercontent.com/assets/1236467/20321631/c126bd72-ab3b-11e6-95c5-01b891f977ec.png)

JBoss version has specialized facets for this page. In current implementation, we don't have an option to create facets outside the page scope, but we need to extend it so that we can implement those.

![image](https://cloud.githubusercontent.com/assets/1236467/20321655/d5ae820c-ab3b-11e

[2016-11-15 20:06] hyoo commented on #1162
That message is controlled by flash (heatmap implementation).

[2016-11-15 21:25] aswarren opened #1264 "Phylogeny viewer show all available trees"
Currently, given a taxon, there may be more trees available/appropriate at higher or lower levels of organization than are displayed/available to a user.
Create a query/dropdown that makes the appropriate trees available.

[2016-11-15 21:26] dmachi commented on #1222
@hyoo is going to update the field definitions.

[2016-11-15 21:27] dmachi commented on #1142
This has been fixed and will be on alpha soon.

[2016-11-15 21:30] aswarren opened #1265 "Feature group creation. BLAST and elsewhere"
When a selection of features is made it should be possible to create a group of Genomes or Features.
For a working example see MSA group creation.
In SelectionToGroup.js there is a selectType: false parameter that can be enabled in appropriate places As part of this dedup logic needs to be added to WorkspaceManager.js The addToGroup function already has some but createGroup does not.

[2016-11-15 21:53] ARWattam opened #1266 "Download specific data from genome groups"
In production, I can go to the data download tool and get my fasta files to build a tree:
<img width="1427" alt="screen shot 2016-11-15 at 4 51 31 pm" src="https://cloud.githubusercontent.com/assets/11475316/20325752/ebcfb5fc-ab53-11e6-84c7-df396c8fb1dc.png">

On beta, I can't figure out how to do it from the groups page.  I think that this is pretty important to maintain.
<img width="1440" alt="s

[2016-11-15 21:55] dmachi commented on #1266
It should be under the More Options in the download button you selected.

[2016-11-15 21:56] jimdavis1 opened #1267 "Off by one error. Proteins are being truncated! Bad bug! occurrs browser and overview"
Note the missing leucine.
beta

MNFNKIDLDNWKRKEIFNHYLNQQTTFSITTEIDISVLYRNIKQEGYKFYPAFIFLVTRV
INSNTAFRTGYNSDGELGYWDKLEPLYTIFDGVSKTFSGIWTPVKNDFKEFYDLYLSDVE
KYNGSGKLFPKTPIPENAFSLSIIPWTSFTGFNLNINNNSNYLLPIITAGKFINKGNSIY
LPLSLQVHHSVCDGYHAGLFMNSIQELSDRPNDWL

Production site:

MNFNKIDLDNWKRKEIFNHYLNQQTTFSITTEIDISVLYRNIKQEGYKFYPAFIFLVTRV
INSNTAFRTGYNSDGELGYWDKLEPLYTIFDGVSKTFSGIWTPVKNDFKEFYDLYLSDVE
KYNGSGKL

[2016-11-15 22:10] ARWattam commented on #1266
Thank you!  I knew I had seen it before, but couldn't remember how to get there.

----- Original Message -----
From: "Dustin Machi" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Tuesday, November 15, 2016 4:55:54 PM
Subject: Re: [PATRIC3/patric3_website] Download specific data from genome g

[2016-11-15 22:41] hyoo commented on #1008
duplicate #1222

[2016-11-16 02:10] ARWattam opened #1268 "Genome browser has a hard time getting to sequence level on beta"
I can look at the same gene on production and beta, but beta has a hard time getting to the sequence level.  Not so on production.
<img width="1438" alt="screen shot 2016-11-15 at 9 09 15 pm" src="https://cloud.githubusercontent.com/assets/11475316/20332141/f26d25f6-ab77-11e6-892c-35a6499073f4.png">

[2016-11-16 02:13] ARWattam opened #1269 "Why doesn't the PATRIC ID occur in the search results"
So I searched on fig|520489.3.peg.113 , and when I see the hits that are returned, I see a lot of locus tags, but not the PATRIC one.  Makes it a bit difficult to see which gene matches my search query.
<img width="860" alt="screen shot 2016-11-15 at 9 11 34 pm" src="https://cloud.githubusercontent.com/assets/11475316/20332223/56473058-ab78-11e6-82c5-47c044da4863.png">

[2016-11-16 02:15] aswarren commented on #1267
This is now fixed. We should have unit tests for these kinds of things.

[2016-11-16 02:15] #1267 closed, assigned to nobody

[2016-11-16 02:33] aswarren commented on #1268
Links are helpful. Please include links in your bugs where possible.
This is not a bug. Just tested it from home beta about 10x faster.

production: https://www.patricbrc.org/portal/portal/patric/GenomeBrowser?cType=feature&cId=PATRIC.520489.3.NZ_DS999712.CDS.412216.412713.fwd&loc=NZ_DS999712%3A412199..412731&tracks=DNA%2CPATRICGenes%2CRefSeqGenes&highlight=

beta: https://www.beta.patricbrc.org/v

[2016-11-16 02:33] #1268 closed, assigned to nobody

[2016-11-16 12:30] ARWattam opened #1270 "RefSeq locus tags go to empty RefSeq pages"
Searching for BCETI_6000640 ...the page at PATRIC where I clicked on the RefSeq link:
<img width="869" alt="screen shot 2016-11-16 at 7 28 48 am" src="https://cloud.githubusercontent.com/assets/11475316/20347311/7937801c-abce-11e6-9af7-ee4b5aa33878.png">

And this is what it takes me to....
<img width="1426" alt="screen shot 2016-11-16 at 7 27 35 am" src="https://cloud.githubusercontent.com/assets

[2016-11-16 14:20] mshukla1 commented on #1225
fixed. verified on alpha.

[2016-11-16 14:20] #1225 closed, assigned to hyoo

[2016-11-16 14:22] mshukla1 commented on #1185
Verified on alpha.

[2016-11-16 14:22] #1185 closed, assigned to hyoo

[2016-11-16 14:24] mshukla1 commented on #1165
fixed. verified on alpha.

[2016-11-16 14:24] #1165 closed, assigned to mshukla1

[2016-11-16 14:26] mshukla1 commented on #1142
fixed. verified on alpha.

[2016-11-16 14:26] #1142 closed, assigned to mshukla1

[2016-11-16 14:27] mshukla1 commented on #1103
fixed. verified on alpha.

[2016-11-16 14:27] #1103 closed, assigned to hyoo

[2016-11-16 14:43] #1045 closed, assigned to dmachi, hyoo

[2016-11-16 14:45] #1048 closed, assigned to mshukla1, hyoo

[2016-11-16 14:47] mshukla1 commented on #1162
OK, so there is nothing we can do about this as long as we are using flash. closing it.

[2016-11-16 14:47] #1162 closed, assigned to hyoo

[2016-11-16 15:11] chmao1 commented on #829
Here is an example page
https://www.alpha.patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.1015398.1016171.fwd#view_tab=transcriptomics
Go to the "Table" tab

[2016-11-16 15:31] mshukla1 commented on #994
fixed. verified on alpha.

[2016-11-16 15:31] #994 closed, assigned to mshukla1

[2016-11-16 15:32] mshukla1 commented on #933
fixed. verified on alpha.

[2016-11-16 15:32] #933 closed

[2016-11-16 16:42] dmachi commented on #830
This has been fixed and will be on alpha soon.  The problem  here was that the data is messy in some columns.  Things like "description" that might have commas in them mess up the parsing for programs like excel.  I've changed the serializer to do two things:
1.  For multivalue fields, join the fields together using a semicolon
2. Enclose all string fields in double quotes.

There is no standard f

[2016-11-16 17:32] hyoo commented on #1222
we have added column definitions for
- genome
- feature
- sequence
- transcriptomics experiments
- transcriptomics comparisons
- specialty genes

and also added client level grid download for all three sub-tabs in pathways.

[2016-11-16 17:36] hyoo commented on #1102
anyone has any idea?

[2016-11-16 17:41] hyoo commented on #918
I think this is an old version before we implement multiple tracks to avoid overlap.

[2016-11-16 17:42] hyoo commented on #901
punting to March 2017.

[2016-11-16 17:49] ARWattam opened #1271 "Where are the prediction and the kmer identifying resistance and susceptiblity on the annotated genomes?"
A user has been asking about this.  Where do we show this on the genome page?

[2016-11-16 17:55] jimdavis1 opened #1272 "AMR data isn't rendering"
AMR data isn't rendering on the genome landing page and this genome should have it.

![image](https://cloud.githubusercontent.com/assets/7661533/20358956/7ec965de-abf3-11e6-91a8-f762010deaed.png)

[2016-11-16 18:01] ARWattam opened #1273 "User notes that many Dickeya genomes are the wrong size when compared to GenBank"
We got a user ticket about this, and just talked to Jim and he confirms that this is a problem.  This could be an indication of other problems that we don't know about.

[2016-11-16 18:03] hyoo commented on #1272
oh, there is an error on the genome page. I will fix it soon.

[2016-11-16 18:07] jimdavis1 opened #1274 "Bug in genome browser"
The genome browser isn't rendering dna sequence on the periphery of a gene.  I think that the intergenic sequence is not being rendered.

https://www.beta.patricbrc.org/view/Genome/1313.6068#view_tab=browser&loc=CPTY01000009%3A4414..4428&tracks=PATRICGenes&highlight=CPTY01000009%3A4414..4428

![image](https://cloud.githubusercontent.com/assets/7661533/20359369/2274eaae-abf5-11e6-8206-a7beb919245f.

[2016-11-16 18:11] ARWattam commented on #1273
1224148.3       Dickeya chrysanthemi NCPPB 3533
1223569.3       Dickeya chrysanthemi NCPPB 402
1223571.3       Dickeya chrysanthemi NCPPB 516
1224149.3       Dickeya dadantii NCPPB 3537
1223572.3       Dickeya dadantii NCPPB 898
1223574.3       Dickeya dadantii subsp. dadantii NCPPB 2976
1226343.9       Dickeya dianthicola GBBC 2039
1223570.4       Dickeya dianthicola NCPPB 3534
1223568.4       Di

[2016-11-16 18:18] hyoo commented on #1272
will be available on alpha soon.

[2016-11-16 18:19] #1272 closed, assigned to hyoo

[2016-11-16 18:26] jimdavis1 commented on #1273
Here are some more that I found.  I think that most will turn out to be bad (too long or too short as well):
1223567.3
1223568.4
1223569.3
1223570.4
1223571.3
1223572.3
1223573.3
1223574.3
1224144.3
1224145.3
1224146.3
1224147.4
1224148.3
1224149.3
1224151.3
1224152.3
1224153.3
1225785.3
1225786.3
1226343.9
1226344.5
568766.3
568768.3
999430.4
999431.3
999434.3
1312920.4
1321951.4
1239783.3
139.77

[2016-11-16 19:52] chmao1 commented on #1270
Fixed and will be available in the next build.

[2016-11-16 20:49] ARWattam opened #1275 "Clustering on PFS heatmap-if its not working, lets remove it"
Are there any plans for this to work before the release?  It still is not working and I think we should take down the option if we're not going to fix it.  The circle just keeps rotating and never returns anything, tying up the site.
<img width="1411" alt="screen shot 2016-11-16 at 3 49 43 pm" src="https://cloud.githubusercontent.com/assets/11475316/20365273/5b83033e-ac14-11e6-8a3e-2c7988cef2fa.pn

[2016-11-16 20:55] ARWattam opened #1276 "Genomes in drop down box for PFS heatmap...how is the order determined?"
On production, the genomes in the anchor option are listed in alphabetical order:
<img width="749" alt="screen shot 2016-11-16 at 3 54 22 pm" src="https://cloud.githubusercontent.com/assets/11475316/20365482/099be706-ac15-11e6-9d48-79ee2b3c9249.png">

No sure what determines the order in beta, but it should be alphabetical.  That will make it easier to find genomes in big groups.
<img width="382"

[2016-11-16 21:06] ARWattam opened #1277 "Protein Families at genome page not loading"
Looking at this genome:
Lactobacillus casei ATCC 334

Clicked on Protein Families, and it never loaded.
<img width="1432" alt="screen shot 2016-11-16 at 4 05 21 pm" src="https://cloud.githubusercontent.com/assets/11475316/20365859/9ebc1210-ac16-11e6-818c-8dbca5b9e687.png">
The developer code said, "Failed to load resource: the server responded with a status of 502 (Bad Gateway)"

[2016-11-16 21:16] ARWattam opened #1278 "Why aren't all the PLFams showing up in the PFS?"
I'm looking at Lactobacillus brevis ATCC 367.  When I look at the genome landing page, it says that it has 2271 PLFams:
<img width="1119" alt="screen shot 2016-11-16 at 4 12 54 pm" src="https://cloud.githubusercontent.com/assets/11475316/20366118/ba29bea2-ac17-11e6-9b2e-68bc373d2313.png">

But when I'm using the PFS and insist that each protein family contain Lactobacillus brevis ATCC 367, it says

[2016-11-16 21:25] ARWattam opened #1279 "Changing to FigFams in PFs...still shows PLFams"
I wanted to check the number of FigFams for Lactobacillus brevis ATCC 367, so changed the PFS, which was already loaded with PLFams, to FigFams.  The blue wheel turned around and around, and finally the view cleared.  Although the filter showed FigFams, the table only showed PLFams.
<img width="1137" alt="screen shot 2016-11-16 at 4 23 05 pm" src="https://cloud.githubusercontent.com/assets/1147531

[2016-11-16 21:27] ARWattam commented on #1279
I checked to developer panel and it said, "/js/3.2.48/p3/widget/viewer/GenomeGroup.js:76 MISSING activeQueryState for PANEL: proteinFamilies"
<img width="1426" alt="screen shot 2016-11-16 at 4 26 43 pm" src="https://cloud.githubusercontent.com/assets/11475316/20366517/92522b4c-ac19-11e6-905d-aff2fb65f066.png">

Still feeling sad

[2016-11-16 21:33] ARWattam commented on #1279
And it just got odder.  I filtered on PGFams.  Surprise!  The PFS loaded the PGFams:
<img width="1142" alt="screen shot 2016-11-16 at 4 30 38 pm" src="https://cloud.githubusercontent.com/assets/11475316/20366671/2c508f36-ac1a-11e6-8765-e014833e3778.png">

Success right?  WRONG!  When I filtered on Lactobacillus brevis ATCC 367, the table reverted to showing PLFams:
<img width="1144" alt="screen sh

[2016-11-16 21:58] ARWattam opened #1280 "Pathway map icon...where is it?"
Working on transcriptomics in Escherichia.  Chose a few experiments that had rpoS as the filter.  Selected genes.  Filtered on log 2 and chose a block of genes that were down regulated:
<img width="1429" alt="screen shot 2016-11-16 at 4 55 50 pm" src="https://cloud.githubusercontent.com/assets/11475316/20367467/9d21e996-ac1d-11e6-886a-8ca604a243d4.png">

So when the genes returned, there were 201

[2016-11-16 22:05] ARWattam commented on #1280
Okay, it gets stranger.  When I selected a block of genes that were up regulated from the heatmap, the gene list returned.  When I selected all of them, the pathway icon appeared:
<img width="1144" alt="screen shot 2016-11-16 at 5 01 41 pm" src="https://cloud.githubusercontent.com/assets/11475316/20367644/67103fbe-ac1e-11e6-8dc1-4af5ef422e80.png">

So I thought it was just some ephemeral error.  I

[2016-11-16 22:08] hyoo commented on #989
will remove download button for private genomes

[2016-11-16 22:12] dmachi commented on #1280
The difference is the number selected.  Pathway tool is currently limited to 200.  The ones where you saw it work had 145 and 187  and the other one there has 207.

[2016-11-16 22:18] mshukla1 commented on #893
checked from both PF and transcriptomics heatmaps. Seems to be working fine.

[2016-11-16 22:18] #893 closed

[2016-11-16 22:19] mshukla1 commented on #918
seems to be fixed.

[2016-11-16 22:19] #918 closed

[2016-11-17 12:11] rkenyon commented on #1280
I think a better solution than it disappearing is a message that comes
up when you click the icon if you have over 200 selected.

Ron

On 11/16/16 5:12 PM, Dustin Machi wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-17 12:35] ARWattam commented on #1280
Ah!  So that explains it.  I thought I was going nuts!

Yes, I agree with Ron.  A nice info message would be much appreciated!

----- Original Message -----
From: "rkenyon" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Author" author@noreply.github.com
Sent: Thursday, November 17, 2016 7:11:02 AM
Subject: Re: [PATRIC3/patric3_web

[2016-11-17 13:06] mshukla1 commented on #1280
Pathway summary should not be restricted to <=200 genes only.

It is quite likely for people to select all the genes up or down regulated in some experiments,
which can very well run into several hundreds.

The production site does allow selection of >1000 genes and run pathway summary. Even though,
selecting >1000 genes was frustrating and I kept getting javascript warnings, once I selected the
g

[2016-11-17 16:32] hyoo commented on #1237
if you are looking for a region, you should use features. the green bar and buttons are working based upon items you choose. in this case, you searched for "contig" and all the actions are those available for a genome sequence.

[2016-11-17 17:29] dmachi commented on #830
Fixed additional issue with double quotes in fields. This is fixed and deployed on alpha now.

[2016-11-17 18:27] dmachi commented on #829
I believe this is failing because there is no unique key defined in the transcriptomics_gene core in solr.  The streaming download requires that queries be sorted on a unique key.  Currently the query is trying to use 'pid' as the unique key, but I dont see it defined as unique in the solr schema.

[2016-11-17 18:39] dmachi commented on #829
@maovt  Harry will need to add a unique key into this table before the download can work, but he indicated that 'pid' isn't correct.  That was unique per sample, but not for the gene.  I think it is probably 'id' that this needs to be sorted by for downloads.

[2016-11-17 18:41] dmachi commented on #980
Has anybody seen a way to reproduce this reliably?

[2016-11-17 18:45] hyoo commented on #829
we actually had the id field with values, so please use this. I reloaded production solr. so you should be able to see it now.

[2016-11-17 18:48] dmachi commented on #829
I changed the pk to use 'id' instead of 'pid'.  With Harry's change, this works for both the table download and the selection download.

[2016-11-17 19:00] ARWattam opened #1281 "Numbers showing in filter on genome table, but not in the table"
I had the list of Salmonella genomes up and was filtering on Dublin.  While I can see that the numbers have changed in the filter, the table shows no results
<img width="1111" alt="screen shot 2016-11-17 at 1 59 11 pm" src="https://cloud.githubusercontent.com/assets/11475316/20403269/3ada82b4-acce-11e6-8504-57de5f23640e.png">

[2016-11-17 19:02] ARWattam commented on #1281
I tried going to a different genus (Brucella) and opened up the gneome list.  Its still showing the filter I had for Salmonella.  And it won't go away!
<img width="1176" alt="screen shot 2016-11-17 at 2 01 19 pm" src="https://cloud.githubusercontent.com/assets/11475316/20403308/6be06d1a-acce-11e6-9734-727568f6afee.png">

[2016-11-17 19:04] ARWattam opened #1282 "Genomes not showing strain still a problem"
You can see that this genome ends with Dublin as the serovar.  The strain is SC50
<img width="1055" alt="screen shot 2016-11-17 at 2 03 11 pm" src="https://cloud.githubusercontent.com/assets/11475316/20403414/bee46d90-acce-11e6-8235-2160f362987c.png">

[2016-11-17 19:06] ARWattam commented on #1282
And I'm seeing A LOT of Salmonella genomes that are missing the strains, when I KNOW that they actually exist.
<img width="1184" alt="screen shot 2016-11-17 at 2 05 54 pm" src="https://cloud.githubusercontent.com/assets/11475316/20403505/0db6b784-accf-11e6-9e1b-4730e8fb5db5.png">

[2016-11-17 19:20] dmachi commented on #856
Fixed this specific issue so that it properly shows "0 Taxa" in the view header and "No Results Found." in the table.  I also changed the default grid behavior (for all grids inheriting from PageGrid, which should be most of them) so that they show "No Results Found." when there is no data found.

The other problem of and/or for the search is being addressed in the broader ticket, but this can be

[2016-11-17 19:39] ARWattam commented on #1281
Its been more than half an hour and I still can't get a list of genomes on any of the genome list pages.
<img width="1107" alt="screen shot 2016-11-17 at 2 38 32 pm" src="https://cloud.githubusercontent.com/assets/11475316/20404626/acd8970c-acd3-11e6-9374-e2c45e5d3e84.png">

[2016-11-17 19:48] #1257 closed, assigned to aswarren

[2016-11-17 19:49] #1274 closed, assigned to nobody

[2016-11-17 20:02] rkenyon commented on #1281
Weird.  Seems to be working for me.

On 11/17/16 2:39 PM, ARWattam wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-17 20:36] aswarren commented on #1249
https://www.beta.patricbrc.org/view/MSA/?in(feature_id,(PATRIC.575591.3.NZ_GG703762.CDS.432658.433578.fwd,PATRIC.430066.4.NC_010740.CDS.335512.336432.fwd,PATRIC.262698.4.NC_006933.CDS.335453.336373.fwd,PATRIC.520450.3.NZ_DS999911.CDS.432735.433523.fwd,PATRIC.520451.3.NZ_DS999893.CDS.935697.936485.rev,PATRIC.520452.3.NZ_DS999881.CDS.431099.432019.fwd,PATRIC.520453.4.NZ_GG774528.CDS.223169.223957.fw

[2016-11-17 23:48] mshukla1 commented on #1281
Works for me as well. I can't reproduce the problem. Please show it in person to Dustin, if it keeps happening.

[2016-11-18 00:26] mshukla1 commented on #1279
ok, I tried several times on both alpha and beta and I can't reproduce these problems. We had such problems before, but Harry fixed them last week and I verified they were fixed.

@ARWattam, were you working on alpha or beta?

@hyoo , are we deploying bug fixes everyday on both alpha and beta?

[2016-11-18 00:33] mshukla1 commented on #1278
Because the genome page summarizes "Proteins with PLFam assignments" while the PFS table shows the "Number of families". Many families have mire than one member.

<img width="537" alt="screen shot 2016-11-17 at 6 31 53 pm" src="https://cloud.githubusercontent.com/assets/1236463/20413746/51f3299e-acf4-11e6-8f1b-a7285d6cda66.png">

<img width="1121" alt="screen shot 2016-11-17 at 6 32 15 pm" src="ht

[2016-11-18 00:33] #1278 closed, assigned to nobody

[2016-11-18 00:41] mshukla1 commented on #1277
Again, I can't reproduce the problem.

@ARWattam, Something is not right. Several of the problems you reported, I can't reproduce them. Some of them were already fixed couple of weeks ago. We need to figure out why this is happening to [only] you!! Are you on a time travel or something?? ;)

[2016-11-18 00:55] mshukla1 commented on #1276
Now this is a real problem! :)

[2016-11-18 00:58] mshukla1 opened #1283 "PFS: anchor shows different genomes"
I first loaded PFS for Lactobacillus. Then, I went to Brucella. When I try to use anchor in the heatmap, it still shows lactobacillus genomes from previous session.

<img width="1259" alt="screen shot 2016-11-17 at 6 48 06 pm" src="https://cloud.githubusercontent.com/assets/1236463/20414396/cc3158f4-acf7-11e6-8ba9-65c4d988cf11.png">

[2016-11-18 02:56] #1258 closed, assigned to aswarren

[2016-11-18 03:08] mshukla1 commented on #1275
I tried clustering several times, with 18, 36 and 61 brucella genomes and clustering worked every time in less than a minute.

<img width="1268" alt="screen shot 2016-11-17 at 7 01 58 pm" src="https://cloud.githubusercontent.com/assets/1236463/20414625/f1d451e6-acf8-11e6-93b0-8de8b01f4340.png">

<img width="1273" alt="screen shot 2016-11-17 at 7 05 33 pm" src="https://cloud.githubusercontent.com/a

[2016-11-18 03:14] aswarren commented on #397
No longer possible since we prevent full canvas expansion.

[2016-11-18 03:14] #397 closed

[2016-11-18 03:15] aswarren commented on #336
This was fixed.

[2016-11-18 03:15] #336 closed

[2016-11-18 03:18] aswarren commented on #528
This was a temporary server issue.

[2016-11-18 03:18] #528 closed

[2016-11-18 03:28] hyoo commented on #1283
ah.. yes, this is a bug. the panel is built first time and did not reload. will fix it soon.

[2016-11-18 03:32] mshukla1 commented on #1275
worked with 126 brucella genomes!

<img width="1440" alt="screen shot 2016-11-17 at 9 31 37 pm" src="https://cloud.githubusercontent.com/assets/1236463/20417749/46331952-ad0d-11e6-8ca8-8506b805f096.png">

[2016-11-18 03:46] mshukla1 commented on #1271
Classifier predicted regions / kmers are displayed on the genome overview page under genomic features, and also accessible from feature table and genome browser.

The predicted AMR phenotypes are not shown on the genome overview pages yet.

<img width="594" alt="screen shot 2016-11-17 at 9 45 05 pm" src="https://cloud.githubusercontent.com/assets/1236463/20418002/4c8f2ba4-ad0f-11e6-83ba-99871d8625

[2016-11-18 03:47] hyoo commented on #1276
will be available on 3.2.52

[2016-11-18 03:47] hyoo commented on #1283
will be available on 3.2.52

[2016-11-18 03:48] mshukla1 commented on #1269
This has been fixed already and deployed on alpha.

<img width="815" alt="screen shot 2016-11-17 at 9 47 57 pm" src="https://cloud.githubusercontent.com/assets/1236463/20418030/8dcca088-ad0f-11e6-9549-8ec0c76ef2f0.png">

[2016-11-18 03:48] #1269 closed, assigned to nobody

[2016-11-18 03:50] #1276 closed, assigned to hyoo

[2016-11-18 03:50] #1283 closed, assigned to hyoo

[2016-11-18 03:50] mshukla1 commented on #1266
I believe there is no follow up action here, so closing it.

Feel free to reopen if anyone disagrees.

[2016-11-18 03:50] #1266 closed, assigned to nobody

[2016-11-18 03:55] hyoo commented on #1279
@mshukla1 beta is 3.2.51 and alpha 3.2.50. as far as I remember beta was a few versions off by this afternoon.

[2016-11-18 06:18] #1249 closed, assigned to aswarren

[2016-11-18 11:41] ARWattam commented on #1279
I was working on beta

----- Original Message -----
From: "Maulik Shukla" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi.vt.edu, "Mention" mention@noreply.github.com
Sent: Thursday, November 17, 2016 7:26:30 PM
Subject: Re: [PATRIC3/patric3_website] Changing to FigFams in PFs...still shows PLFams (#1279)

ok, I tried several times on both

[2016-11-18 11:48] ARWattam commented on #1279
I just tried it again, and I am getting the same effect working on the protein family page for the genome groups.  Note that the filter is set to PLFams, and the table still shows PGFams

https://www.beta.patricbrc.org/view/GenomeGroup/ARWattam@patricbrc.org/home/Genome%20Groups/Dairy%20genomes-Lactobacillus#view_tab=proteinFamilies

<img width="1423" alt="screen shot 2016-11-18 at 6 46 26 am" src

[2016-11-18 11:53] ARWattam commented on #1279
And I am still getting the same effect, as I just tried it right now.  I have put a link and a screenshot into the comment section, but I seem to be unable to assign it to anyone, so maybe it will be ignored as it is currently assigned to me.

----- Original Message -----
From: "Maulik Shukla" notifications@github.com
To: "PATRIC3" patric3_website@noreply.github.com
Cc: "Rebecca Wattam" wattam@vbi

[2016-11-18 12:19] ARWattam commented on #1279
Here's another puzzle piece...when I do the same thing with a  Brucella group, it seems to work.  Do you think that it has something to do with the Lactobacillus genus?  Weird!  So that's why its working for Maulik...he's testing it on something that works, and others don't!
https://www.beta.patricbrc.org/view/GenomeGroup/ARWattam@patricbrc.org/home/Genome%20Groups/40%20and%20more%20Brucella%20gen

[2016-11-18 12:39] ARWattam commented on #1275
Just tried it with 55 Brucella genomes and then with 14 Lactobacillus genomes that had 16,000+ protein families.  I'm not sure what happened the last few times I tried it (including Wednesday), but this time it worked flawlessly.  I consider this ticket closed....but I don't know how to do it so somebody else has to.

----- Original Message -----
From: "Maulik Shukla" notifications@github.com
To:

[2016-11-18 12:52] mshukla1 commented on #1279
I tried to follow your screenshots and work with exactly the same data!!

Sent from my iPhone

[2016-11-18 14:24] jimdavis1 opened #1284 "classifier predicted region does not display antibiotic or rank"
This no informative value if the antibiotic and rank are not displayed.  Both should exist in the gto file.

![image](https://cloud.githubusercontent.com/assets/7661533/20433220/56abcf3a-ad68-11e6-99b2-b1b147dae359.png)

[2016-11-18 14:32] mshukla1 commented on #1284
do we have those in the genome object?

[2016-11-18 14:38] dmachi commented on #1284
This is the same feature summary we use everywhere (there is a standard formatter for each data type).  So if we have what you are asking for as part of this data type (genome_feature), then we can add it pretty easily.  I don’t know if that is the case or not.

[2016-11-18 15:10] rkenyon commented on #1279
Rebecca,

I think if you have some of this weirdness happen again, you should get
on the PATRIC Beta Skype group and do a screen share so others can see
what is happening in real time and maybe figure out what is going on.

Ron

On 11/18/16 7:19 AM, ARWattam wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-18 16:24] olsonanl opened #1285 "Error output not appearing in beta site"
for the attached job view for 6159eb0f-3c17-4d0f-ab0e-54aabb2f5fd9 the error output is empty in beta. It is valid in production site. I also can no longer double-click on the red dot to see the larger error dialog window like we could with production.

![screen shot 2016-11-18 at 10 23 35 am](https://cloud.githubusercontent.com/assets/2152226/20437306/16dd03a4-ad79-11e6-94eb-6896afe12da0.png)

[2016-11-18 17:48] jimdavis1 opened #1286 "suggestion on filtering"
I know that all the available filters are displayed in alphabetical order, but I always find myself scrolling all the way to the right to get reference or representative genomes. I also think that public/private is more important than most of the other filed. I'm not sure that we should reorder these, but we should discuss it.

![image](https://cloud.githubusercontent.com/assets/7661533/20440227/b

[2016-11-18 18:36] mshukla1 commented on #1286
I agree. I propose we order the filters the same way they are on the production site, i.e.

Public
Genome Status
Reference Genome
Antimicrobial Resistance
Isolation Country
Host Name
Disease
Collection Year
Completion Date

[2016-11-18 18:40] mshukla1 commented on #1286
I also suggest that we remove Antimicrobial resistance evidence, as it is not much useful,
given most of the data is using AMR panel.

[2016-11-18 18:50] dmachi commented on #1286
I can remove that facet, but I don’t want to manually order them for this release.  We can discuss for the next release.  If we want to manually order, it makes things much more brittle and also means that we’ll need to go in and define that for all of the filters across the site.  I also believe this to be a relatively minor issue that exists in a small (though common) case.  This problem is gene

[2016-11-18 19:03] mshukla1 commented on #1286
As of now, this is a problem only for the genome list, all other tables are
fine as there are not many filters.

However, genome list is where the filters are most useful and the most useful filters,
public/private and reference/representative, are at the very end, making it likely
that users will either miss them or will have to scroll every time they want
use them.

Having said that, I it is an

[2016-11-18 19:08] dmachi commented on #1286
Yes, thats what i meant when i said it is only visible on the Genome Table.

They will only miss them or have to scroll only if they want to filter on those items first.  If they filter on anything else first, the list almost always shrinks and then generally shows those columns.

I’m in agreement that this should be changed.  What I don’t want to do is reorder them with a list that would need to

[2016-11-18 19:15] mshukla1 commented on #1282
#1233
#1232
#1219

[2016-11-18 19:19] mshukla1 commented on #1282
#1233

[2016-11-18 19:21] dmachi commented on #1282
This is a bug in production (or in the data depending on how you look at it), not on the new site.

https://www.beta.patricbrc.org/view/Taxonomy/590?keyword(Dublin)#view_tab=genomes&filter=false

The genome name column here has the strain names.

[2016-11-18 19:27] mshukla1 commented on #1282
Dustin, check the labels and assignment if you are in github first before you chase in issue,
it may save you some time.

If I have assigned Data label and to me, it means it is not a UI problem.

-Maulik

[2016-11-18 19:28] mshukla1 commented on #1286
No worries. I will move it to March.

[2016-11-18 20:05] ARWattam opened #1287 "All the genomes not appearing in the transcriptome filter"
I can see that the Erdman strain is in the list of conditions, but when I look at the strain filter I am not able to see it.  The only ones I can see are M. smegmatis Mc21511, M. tuberculosis H37Rv and CDC 1511

https://www.beta.patricbrc.org/view/TranscriptomicsExperiment/?in(eid,(213140,231764,248682,264531,267161,267915,268478,305749,322785,326845,332843,333076,333319,341836,342459,343250,34391

[2016-11-18 21:21] jimdavis1 opened #1288 "MSA tool doesn't work"
I've been waiting several minutes on an alignment of 2 proteins.

![image](https://cloud.githubusercontent.com/assets/7661533/20447111/bc0dfc60-ada2-11e6-82f7-0a695a6223e5.png)

[2016-11-18 21:36] rkenyon commented on #1288
I just tried it with 6 features and it seemed to work.  Maybe something temporary with the website?

https://www.beta.patricbrc.org/view/MSA/?in(feature_id,(PATRIC.208435.3.NC_004116.CDS.54.1463.fwd,PATRIC.208435.3.NC_004116.CDS.1618.2754.fwd,PATRIC.208435.3.NC_004116.CDS.2824.3705.fwd,PATRIC.208435.3.NC_004116.CDS.3715.3912.fwd,PATRIC.208435.3.NC_004116.CDS.4150.4317.fwd,PATRIC.208435.3.NC_004116

[2016-11-18 22:01] jimdavis1 commented on #1288
It's still not working. My proteins are from private genomes.  Maybe that's the reason? I've tried in safari and firefox.

![image](https://cloud.githubusercontent.com/assets/7661533/20448131/1946e3f6-ada8-11e6-92d5-f38cad3cdec9.png)

[2016-11-18 22:43] hyoo commented on #1287
Erdman strains are coming from experiment comparison meta data, which may or may not related to the actual genes. that genome list is populated from the expression value.

[2016-11-19 13:30] mshukla1 opened #1289 "Data: aa sequences are missing for some CDSs"
AA sequences are missing for ~130,000 CDSs annotated by PATRIC.
They belong to ~11,000 genomes in to total.

Actions:
- Add missing aa sequences
- Update corresponding faa files

[2016-11-19 13:34] mshukla1 commented on #1289
After further analysis, it seems most of the CDSs missing AA sequences fall in one of the following categories:
- partial CDSs on the contig boundaries
- contain ambiguous bases
- correspond to pseudogenes in refseq annotations

All of the above situations result in erroneous translation resulting in uncommon start and/or premature stop codons. Hence, I decided not to populate those aa sequences i

[2016-11-19 13:35] hyoo commented on #1150
In this case, there are three cases that are missing patric_id in the FASTA header. One of them is,

![image](https://cloud.githubusercontent.com/assets/1236467/20455803/68fa960e-ae2a-11e6-8bd4-649429889e51.png)

has gi and refseq_locus_tag instead of patric_id

gi|1050774515|BCM45_07995|

and when I look for this, it seems like the hit was for refseq annotation (see the product description).

![i

[2016-11-19 13:37] mshukla1 commented on #1150
Are we combining PATRIC and RefSeq annotations on-the-fly before running BLAST?

-Maulik

[2016-11-19 22:00] hyoo opened #1290 "BLAST: blastp against contigs returns feature id."
fig|321967.11.peg.2|LSEI_A01|VBILacCas62221_0002| Lead, cadmium, zinc and mercury transporting ATPase (EC 3.6.3.3) (EC 3.6.3.5); Copper-translocating P-type ATPase (EC 3.6.3.4) [Lactobacillus casei ATCC 334 | 321967.11]
MANKEDHMNMKNMSAKNMENNESNMSHMDHDDMKMDHDMTETDHNQMNMDHDMAEMDHGQ
MNMDHSQMNMNHETMNMSGMNHGDMDMAGTDMMMHGGSMMHMGNLKVKFWVSVVLAIPVL
LLAPIMGLNVSILSFSSPLIVGIIIVLFDTALYFYGGMPFLKGAKAEIQDKSPEMMTL

[2016-11-19 22:07] hyoo commented on #1261
firefox
![image](https://cloud.githubusercontent.com/assets/1236467/20458728/18fe89a6-ae72-11e6-9be5-2f42e9a07a8b.png)

chrome
![image](https://cloud.githubusercontent.com/assets/1236467/20458731/28ea5d68-ae72-11e6-9348-64ceaf37475e.png)

safari
![image](https://cloud.githubusercontent.com/assets/1236467/20458734/4e1b6f82-ae72-11e6-99cc-ab10a4d5755d.png)

[2016-11-19 22:50] hyoo commented on #1217
will be available on alpha soon.

[2016-11-19 22:51] hyoo commented on #1215
will be available on alpha soon.

[2016-11-19 23:40] #1150 closed, assigned to hyoo

[2016-11-19 23:43] hyoo commented on #1223
reopen for verification

[2016-11-19 23:44] hyoo commented on #1166
you should have the loading mask when it is running and will have a dialog when the blast is failed.

[2016-11-19 23:45] hyoo commented on #1152
this is a dojo rendering but. I have no idea how to fix.

@dmachi do you have any idea?

[2016-11-20 01:05] mshukla1 commented on #523
We have already picked up couple of gene expression datasets from Omics4TB and CCFA and published them through the public workspace.

[2016-11-20 01:05] #523 closed

[2016-11-20 01:43] #388 closed

[2016-11-20 02:08] mshukla1 commented on #1260
Missing FRN files have been added on maple. They will be copied to FTP site soon.

-Maulik

[2016-11-20 02:08] #1260 closed, assigned to mshukla1

[2016-11-20 02:14] mshukla1 commented on #1273
I have deleted all Dickeya genomes reported by the user and other bad genomes reported by Jim from the database.

Except Clostridium genomes in Jim's list. Some of them are much longer than other clostrodium genomes. However, they match with corresponding genomes at NCBI. That means the version we have in PATRIC may be a low quality sequence, but it is not corrupted.

The correct version of the de

[2016-11-20 14:00] mshukla1 commented on #1245
Updated all current fna files  to change id format from >accn|xxxxx to >xxxxx.

Fixed the script that generates the download files.

[2016-11-20 14:00] #1245 closed, assigned to mshukla1

[2016-11-20 14:46] ARWattam opened #1291 "Pop-up persists on transcriptomic heatmap page"
https://www.beta.patricbrc.org/view/TranscriptomicsExperiment/?in(eid,(233094,315319))

After clicking on heatmap color, the drop down box likes me so much that it never wants to leave.  It never went away.
<img width="331" alt="screen shot 2016-11-20 at 9 44 50 am" src="https://cloud.githubusercontent.com/assets/11475316/20463655/2558391a-af06-11e6-9277-98e73e726eb1.png">

[2016-11-20 20:30] mshukla1 commented on #1231
Fixed 81 genomes with such fused accession in solr.

[2016-11-20 20:30] #1231 closed, assigned to mshukla1

[2016-11-20 22:24] mshukla1 commented on #4
75 Mtb genomes were loaded multiple times in the database. Redundant copy of these genomes have been removed from the database.

[2016-11-20 22:24] #4 closed

[2016-11-20 22:24] mshukla1 commented on #190
Redundant version of the Mtb genomes have been removed from the database.

[2016-11-20 22:24] #190 closed

[2016-11-20 22:59] mshukla1 commented on #377
There are many cases where if gene id and gi numbers (and probably other numeric identifiers) where null, they got stored as 0 in the database. This may be slightly confusing but there are no side effects or unintended consequences here. Hence, instead of updating millions of records in the database, I am leaning towards of leaving them as it is in the database, unless someone disagrees.

-Maulik

[2016-11-20 22:59] #377 closed

[2016-11-21 12:40] rkenyon commented on #1273
What is the cause of the bad/corrupted sequences?  If we have found
quite a few in the course of testing / doing work, there are likely many
others, due to some systemic problem.

Ron

On 11/19/16 9:14 PM, Maulik Shukla wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-21 14:09] mshukla1 commented on #1273
Ron,

These problematic genomes were reported by Jim as part of the genome QC
matrix he is working on, before they were reported by the users. There were
31 genomes in total (including 23 Dickeya) that were identified to be problematic
and deleted from the database.

Most of these genomes were draft genomes in multiple contigs that got completed
into single chromosomes later. We had both versions

[2016-11-21 14:11] #1046 closed, assigned to mshukla1

[2016-11-21 15:48] #1027 closed, assigned to hyoo

[2016-11-21 15:50] hyoo commented on #1086
now we're using page grid, as you described above.

[2016-11-21 15:53] hyoo commented on #1220
available on alpha and beta.

[2016-11-21 16:56] hyoo commented on #1218
will be available on alpha soon.

[2016-11-21 17:20] olsonanl opened #1292 "Workspace should not crash when accessing data when shock is down"
This code:

       if ($force == 1 ||
            !defined($self->{_shockupdate}->{$object->{uuid}}) ||
            (time() - $self->{_shockupdate}->{$object->{uuid}}) > $self->{_params}->{"update-interval"}) {
                my $ua = LWP::UserAgent->new();
                my $res = $ua->get($object->{shocknode},Authorization => "OAuth ".$self->_wsauth());
                my $json = JSON::XS->new

[2016-11-21 19:20] rkenyon commented on #1273
OK, that makes sense to me.  I had mentioned the issue to Tom during the
business call this morning, so he may inquire about it.

Thanks,
Ron

On 11/21/16 9:09 AM, Maulik Shukla wrote:

##

Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-11-21 19:28] aswarren opened #1293 "Launch feature OR genome view from MSA"
It would be nice if you could launch feature, genome, or their corresponding list views from MSA

[2016-11-21 19:29] aswarren commented on #1212
Tested from the speA feature group and it works

[2016-11-21 19:29] #1212 closed, assigned to aswarren

[2016-11-21 19:58] chmao1 opened #1294 "Replace icons for PATRIC VF evidence page and specialty gene list action bar"

[2016-11-21 20:05] aswarren commented on #1252
With @ARWattam 's blessing I do hereby dissolve this bug

[2016-11-21 20:05] #1252 closed, assigned to aswarren

[2016-11-21 20:14] hyoo commented on #1237
reopen for verification.
1.  I have added "genome browser" button so that users can see the hit in the genome context.
2. all the action buttons will open a new tab/window.

[2016-11-21 20:36] hyoo commented on #1290
UI will block blastp against contigs.

[2016-11-21 20:41] olsonanl opened #1295 "feature page with multiple badness"
https://www.beta.patricbrc.org/view/Feature/RefSeq.9823.5.NC_010448.mRNA.58158519.58185391.rev

it has a number of issues; bare "loading...", overwrite on identifier, no sequence available

[2016-11-21 20:48] #984 closed, assigned to aswarren

[2016-11-21 20:50] aswarren commented on #981
Works.

[2016-11-21 20:50] #981 closed, assigned to aswarren

[2016-11-21 20:54] #685 closed

[2016-11-21 20:55] aswarren commented on #1211
The immediate bug with the drop down limit has been fixed. The suggested implementation requires further discussion.

[2016-11-21 21:13] #1290 closed, assigned to hyoo, olsonanl

[2016-11-21 21:20] chmao1 commented on #1294
Fixed and will be available in the next build.

[2016-11-21 21:55] hyoo commented on #1062
I understand this is not convenient but I cannot come up with an idea to address this issue in short time. so I am moving this one to March 2017.

[2016-11-21 22:11] #989 closed, assigned to hyoo

[2016-11-21 22:33] hyoo commented on #1102
I was suspecting a z-index but I cannot reproduce it. I want to verify the z-index will help or not.

[2016-11-22 16:18] mshukla1 commented on #1233
Updating genome names for 1635 genomes in total to include strain names. The list also includes 335 genomes reported here.

-Maulik

[2016-11-22 16:18] mshukla1 commented on #1282
Updating genome names for 1635 genomes in total to include strain names. The list also includes 335 genomes reported here.

[2016-11-22 16:19] mshukla1 commented on #1232
Updating genome names for 1635 genomes in total to include strain names, including the genome reported here.

[2016-11-22 16:20] mshukla1 commented on #1219
Updating genome names for 1635 genomes in total to include strain names, including the one reported here.

[2016-11-22 16:21] jimdavis1 opened #1296 "gene landing page is atypical"
Note the "Add to Group" link in the top right.  Shouldn't this be on a green bar like all the other pages?   The green bar would be a waste of space, but it might be nice to make the button have a green background just for consistency.

![image](https://cloud.githubusercontent.com/assets/7661533/20531703/28d1a64c-b09d-11e6-858b-c7a239655747.png)

[2016-11-22 16:26] #1235 closed, assigned to dmachi

[2016-11-22 16:46] mshukla1 commented on #1289
@olsonanl : we need to modify the annotation service to discard partial pegs/CDSs that can not be correctly translated.

[2016-11-22 17:06] aswarren commented on #1054
Checkboxes have been turned on but given the idx model in IDMappingMemoryStore.js I can't figure out how to make select all work.  setting allowSelectAll: false in IDMappingGrid for now.
https://github.com/PATRIC3/p3_web/commit/b89fcfee8b7cfb15dfd3df7a374c5dd4acb3fe71

[2016-11-22 17:10] dmachi commented on #1296
The green bar is for actions that apply to a selection.  On this page there is no active selection, so this is more like the buttons above a table that apply to the whole table.  So IMHO this is the correct icon.

[2016-11-22 19:23] aswarren commented on #1054
Fixed in https://github.com/PATRIC3/p3_web/pull/294/commits/93e96c85bd0d4c16a3fc32193cefb364ddddd111

[2016-11-22 19:25] #1054 closed, assigned to aswarren, hyoo

[2016-11-22 19:46] jimdavis1 commented on #1284
They are in the GTO.

[2016-11-22 20:02] aswarren commented on #1063
Fixed via
https://github.com/PATRIC3/p3_api/commit/7d18af0dae5c75dbe181aee19f3280371ce43e48
https://github.com/PATRIC3/p3_web/commit/b4e7cb85e13b714ade141b1b093e4bfdcf362ae0
https://github.com/PATRIC3/p3_api/pull/23/commits/fbea53ad020377626f4d32a8997dca73afbf568e

[2016-11-22 20:02] #1063 closed, assigned to aswarren

[2016-11-22 21:04] aswarren commented on #1259
Fixed in https://github.com/PATRIC3/p3_web/pull/296/commits/e2eb8258994639b6f3d27116e2b694ba9eace9b5

[2016-11-22 21:04] #1259 closed, assigned to aswarren

[2016-11-23 17:45] #1282 closed, assigned to mshukla1

[2016-11-23 17:46] levinas commented on #1124
This can be closed.

[2016-11-23 17:49] #1233 closed, assigned to mshukla1

[2016-11-23 17:49] #1232 closed, assigned to mshukla1

[2016-11-23 17:49] #1219 closed, assigned to mshukla1

[2016-11-23 18:00] levinas commented on #637
This can be closed.

[2016-11-24 02:27] ARWattam opened #1297 "Unable to add genome to an existing group"
I've been trying to add some new genomes to an existing group, and a pop-up comes up that says that 0 genomes got added.
<img width="1440" alt="screen shot 2016-11-23 at 9 25 32 pm" src="https://cloud.githubusercontent.com/assets/11475316/20584718/8585240a-b1c3-11e6-8c28-8bde4cd68895.png">

I've tried several times, but I can't seem to add anything

[2016-11-24 03:02] hyoo commented on #1297
Make sure that genome is not in the group already

[2016-11-24 14:21] ARWattam opened #1298 "Cannot remove genome from created group on beta"
I have a group, go to group view, go to genomes and select the genome I want to remove, but that is not an option on the mystical green band.
<img width="1166" alt="screen shot 2016-11-24 at 9 19 16 am" src="https://cloud.githubusercontent.com/assets/11475316/20601561/403257f6-b227-11e6-81df-43d820e663cb.png">

https://www.beta.patricbrc.org/view/GenomeGroup/ARWattam@patricbrc.org/home/Genome%20Gr

[2016-11-24 20:46] ARWattam commented on #1297
Its not part of the original group.

Also, it looks like its only happening from the genome landing page.  When I do it from a list in TAxonomy, it adds just fine.

[2016-11-26 01:58] levinas commented on #1230
We only have bi (<=>) and uni (=>). This is because in the download table we see the similarity hits from the perspective of the reference genome, and each reference gene is only listed once.

That said, I've changed bi to "bi (<=>)" and uni to "uni (=>)".
https://github.com/TheSEED/app_service/pull/58

[2016-11-26 03:05] levinas commented on #1239
Updated helper text in https://github.com/dmachi/p3-web/pull/56

[2016-11-26 03:21] levinas commented on #1133
Fixed in PR: https://github.com/TheSEED/app_service/pull/58

[2016-11-26 03:26] levinas commented on #1181
The outer most track contains information about the size/scale of the contigs. This rendering is a fitting reminder of a bad reference choice. I would recommend no fix for now.

[2016-11-27 05:13] hyoo commented on #931
this is fixed and available to review on alpha or beta (3.2.59)

[2016-11-27 20:24] ARWattam opened #1299 "Unable to download fasta files from private genome-zip file empty."
This is true in both production and on beta.  I go to the download tool and select protein fasta (I'm trying to build trees).  It downloads an empty zip file from each site.  Public genomes work okay, though.
<img width="517" alt="screen shot 2016-11-27 at 3 23 35 pm" src="https://cloud.githubusercontent.com/assets/11475316/20651543/83890f96-b4b5-11e6-8386-cc08c508a238.png">

[2016-11-27 20:29] ARWattam commented on #1299
I thought I would be able to select all the CDS features and download them as fasta from the genome page, but I couldn't do that either.  Totally stuck, and very unhappy.
<img width="1200" alt="screen shot 2016-11-27 at 3 28 57 pm" src="https://cloud.githubusercontent.com/assets/11475316/20651598/56b2450e-b4b6-11e6-94a4-3438f1408441.png">

[2016-11-27 20:39] dmachi commented on #1299
For the first part of your ticket, this is known.  The download comes from the FTP site.  We cannot put the private genomes on the ftp site, so therefore the private genomes dont' work via this method just as they don't on production.  However since they were private genomes you uploaded, all of the generated files should be available in your workspace in the Job Result.  It is ultimately planned

[2016-11-27 20:44] ARWattam commented on #1299
Thanks!

----- Original Message -----
From: "Dustin Machi" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Sunday, November 27, 2016 3:39:09 PM
Subject: Re: [PATRIC3/patric3_website] Unable to download fasta files from private genome-zip file empty. (#1299)

For the first part of your

[2016-11-28 15:58] jimdavis1 opened #1300 "Jobs page doesnt update when the job status updates"
Notice the first job is displayed as queued, but the jobs thingy in the bottom right shows that it's in progress:

![image](https://cloud.githubusercontent.com/assets/7661533/20675235/36854600-b551-11e6-9efa-caddcdd0f7c3.png)

So then I hit refresh and I get this. I'm in safari.  So then I clicked on the jobs thingy in the bottom right, but it's no longer a link when the page is blank like this.

[2016-11-28 16:09] jimdavis1 opened #1301 "Annotation service download formats"
I am really surprised that nobody has asked us for a fasta file of just RNAs or protein encoding genes.  Neither is available for download.  Somebody who can't program, won't be able to get this  on their own.  BTW, I think RAST offers these.

![image](https://cloud.githubusercontent.com/assets/7661533/20675638/a0cf2660-b552-11e6-9210-eac249e5ab44.png)

[2016-11-28 16:11] jimdavis1 opened #1302 "Download links in Annotation service don't work in safari"
I'm trying to download my genome and can't do it. I had to quit safari and use firefox.

![image](https://cloud.githubusercontent.com/assets/7661533/20675727/e8a76614-b552-11e6-8d0f-709c3dc41a33.png)

[2016-11-28 16:14] jimdavis1 opened #1303 "File names following download from annotation service"
I just downloaded my genome and opened it with text wrangler.  Somehow it got called: Escherichia-5.  Why can't we call it what it is actually named on the website?  I'm doing an analysis of Sakai vs EDL933, now I have a file called Escherichia-5 and a file called Escherichia(1).  I have no idea why they got the names they were given.

![image](https://cloud.githubusercontent.com/assets/7661533/20

[2016-11-28 16:22] mshukla1 commented on #1303
Are you referring to the name of the downloaded file? It may very depending on where you
downloaded it from.

Did you download it from workspace or genome or taxon level taxon feature list?

Which file format did you download?….it looks like ffn from the feature table!

[2016-11-28 16:45] jimdavis1 commented on #1303
I downloaded the contig fasta file from the job directory in my workspace.  By the way, if you download the excel file, it doesn't even have a .xls extension.

[2016-11-28 16:48] jimdavis1 commented on #1303
Here is an example, I click on the .xls file and it shows up in my downloads as Escherichia(2) and klobbers the previous thing called Escherichia(2). No xls file extension. These should be named as they appear on the website.

![image](https://cloud.githubusercontent.com/assets/7661533/20677290/36a13a70-b558-11e6-930e-55a5fd18e479.png)

[2016-11-28 17:03] hyoo commented on #1164
I think the member page is no longer reachable.

[2016-11-28 17:10] dmachi commented on #1164
Yes, I removed this as requested.  The GenomeGroup View  page needs a remove from group button still.

[2016-11-28 17:17] dmachi commented on #1301
These are just the files in your workspace that the annotation service generates.  It seems like a waste of space to generate every possible type of file that a user may want to have in the future given that the purpose of these files if for importing into the database.  I think you could get to this by going to the features for this genome (Features tab of the Genome View), filtering to what you

[2016-11-28 19:16] ARWattam opened #1304 "Search for box in BLAST...are we adding anything else?"
We have this option on blast, but it only as one selection.  Are we adding anything else?  If not, I would get rid of it.
<img width="756" alt="screen shot 2016-11-28 at 2 15 26 pm" src="https://cloud.githubusercontent.com/assets/11475316/20682261/4b7f421c-b575-11e6-9ff3-37ae71c8d1f9.png">

[2016-11-28 19:26] ARWattam opened #1305 "BLAST results sometimes linger when editing/resubmitting new job"
BLAST has been behaving well, but I noticed that the former BLAST results are hanging at the bottom of the page after I hit the edit/resubmit button.

https://www.beta.patricbrc.org/app/BLAST

<img width="1427" alt="screen shot 2016-11-28 at 2 24 57 pm" src="https://cloud.githubusercontent.com/assets/11475316/20682597/9db75ca8-b576-11e6-848b-ca082db2a993.png">

[2016-11-28 20:14] aswarren opened #1306 "Make read library selector widget"
This is being used in multiple apps Variation, RNA-Seq, Assembly.
Needs to be made into a single widget.
RNA-Seq probably has the most complete version since it has conditions.

[2016-11-28 22:57] mshukla1 commented on #1152
I am not able to reproduce this after trying for several times. So, IMHO, it is not critical at least.

Please respond if anyone still sees the problem.

[2016-11-29 02:51] aswarren commented on #1243
Fixed in https://github.com/PATRIC3/p3_web/pull/301

[2016-11-29 02:51] #1243 closed, assigned to aswarren

[2016-11-29 02:52] aswarren commented on #1241
Fixed in https://github.com/PATRIC3/p3_web/pull/301

[2016-11-29 02:52] #1241 closed, assigned to aswarren

[2016-11-29 02:52] #1239 closed, assigned to aswarren, levinas

[2016-11-29 02:55] aswarren commented on #1119
Selected Libraries clear Fixed in https://github.com/PATRIC3/p3_web/pull/301
Resetting submit msg and Reset button still needs some work.

[2016-11-29 03:01] #1294 closed, assigned to chmao1

[2016-11-29 03:05] #1251 closed, assigned to chmao1

[2016-11-29 04:43] aswarren commented on #1119
Submission message clearing fixed. The reset button being always active is not really a problem and would take some effort to change.

[2016-11-29 04:43] #1119 closed, assigned to aswarren

[2016-11-29 14:02] ARWattam opened #1307 "BLAST against genome contigs not returning results"
Even when I choose a single genome, nothing happens.  I used the following sequence and chose BLAST against genome contigs, and I chose Brucella melitensis biovar abortus 2308.  No results ever returned.  When I do BLASTP with the same sequence (amino acids, though), that returns results.

atgagctcccaggaagccagcaagatgctgcgtacttacaatattgcctggtggggcaat
aactactatgacgttaacgagctgggccacattagcgtgtgcccggac

[2016-11-29 14:05] ARWattam commented on #1307
Here are the results when I do BLASTP with the amino acid version of the same sequence.
<img width="1144" alt="screen shot 2016-11-29 at 9 03 01 am" src="https://cloud.githubusercontent.com/assets/11475316/20712584/bafdfc9e-b612-11e6-8a00-d0b7c52680b8.png">

[2016-11-29 15:45] #1236 closed, assigned to chmao1

[2016-11-29 15:47] #1088 closed, assigned to chmao1

[2016-11-29 15:47] #1270 closed, assigned to chmao1

[2016-11-29 16:24] chmao1 opened #1308 "BLAST result - needs a visual cue for openning detail panel"
The current blast result page does not provide the query and subject alignments such as:

![image](https://cloud.githubusercontent.com/assets/6361802/20718238/0414078a-b626-11e6-93b6-ad33c1c819ea.png)

Such alignment result will be very useful for users.

[2016-11-29 16:25] chmao1 opened #1309 "BLAST result - download of the blast result table is needed"
The current download only provides the subject feature list, not the blast result table with scores.

[2016-11-29 16:31] chmao1 opened #1310 "BLAST result - MSA in action bar"
The current blast result table only provide the subject list, not the original query sequence. It would be more useful if the MSA includes the original query sequence, so that the subjects can be compared to the query sequence.

[2016-11-29 16:45] rkenyon opened #1311 "Protein Family Sorter and Comparative Pathway Services help have wrong help text"
Looks like it was stubbed from the Assembly Service, but not updated.

https://www.beta.patricbrc.org/app/ComparativePathway
https://www.beta.patricbrc.org/app/ProteinFamily

![screen shot 2016-11-29 at 11 43 13 am](https://cloud.githubusercontent.com/assets/3188570/20719180/2ce2abe6-b629-11e6-9fd9-5b0b5663c84b.png)

[2016-11-29 18:19] rkenyon opened #1312 "Check All filter on Transcriptomics gene table view "uncheck" feature does not work"
You can click the top checkbox to select all, but clicking it again (to uncheck all) does nothing.

https://www.beta.patricbrc.org/view/TranscriptomicsExperiment/?eq(eid,(233094))

![screen shot 2016-11-29 at 1 18 43 pm](https://cloud.githubusercontent.com/assets/3188570/20722905/649843ea-b636-11e6-9abd-58c30db38256.png)

[2016-11-29 18:35] ARWattam opened #1313 "Protein Family names not being displayed on Protein Family page"
I am comparing 3 groups and I chose PLFams.  When the page loaded (FINALLY loaded), some of the protein families do not have names:
<img width="810" alt="screen shot 2016-11-29 at 1 33 57 pm" src="https://cloud.githubusercontent.com/assets/11475316/20723484/bda6559c-b638-11e6-88eb-ef2015aa6ce0.png">

[2016-11-29 18:57] mshukla1 commented on #1313
This is data problem. I am working on it. Should be fixed soon.

[2016-11-29 18:58] chmao1 opened #1314 "Pathway Summary - the spinning wheel does not disappear when there is no data returned"
![image](https://cloud.githubusercontent.com/assets/6361802/20724301/b3859840-b63b-11e6-81a9-8854118cab05.png)

[2016-11-29 18:59] ARWattam commented on #1313
there are some issues with displaying the family id as well.  Look at the second row down.
<img width="811" alt="screen shot 2016-11-29 at 1 58 24 pm" src="https://cloud.githubusercontent.com/assets/11475316/20724401/095008be-b63c-11e6-9c75-23e5407817ad.png">

[2016-11-29 19:01] mshukla1 commented on #1313
is this for public or private genome? can you send me the url, si I can verify when fixed?

[2016-11-29 19:02] ARWattam opened #1315 "Still not able to remove genome from group on beta"
Look at the vertical green bar...removal is not an option.
<img width="1425" alt="screen shot 2016-11-29 at 2 01 47 pm" src="https://cloud.githubusercontent.com/assets/11475316/20724493/7ce254bc-b63c-11e6-92cb-9250f0bcefcf.png">

[2016-11-29 19:10] ARWattam commented on #1313
I was comparing groups using the protein family sorter.  One is a private genome, the rest are public.

----- Original Message -----
From: "Maulik Shukla" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wattam@vbi.vt.edu>, "Author" <author@noreply.github.com>
Sent: Tuesday, November 29, 2016 2:01:36 PM
Subject: Re: [PATRIC3/patric3_website] Prote

[2016-11-29 19:20] ARWattam opened #1316 "Text box filter not working on Protein Family Sorter"
I am comparing three groups and one private genome, selected PLFams, and there are 16650 PLFams.  I put iron in the text box and click filter...the same 16650.
<img width="1419" alt="screen shot 2016-11-29 at 2 18 07 pm" src="https://cloud.githubusercontent.com/assets/11475316/20725176/f919fce0-b63e-11e6-959f-f351b70e94aa.png">

[2016-11-29 19:21] chmao1 opened #1317 "Proteome Comparison result - the numbers for list of genomes are not displayed."
The ordered numbers for the list of tracks (List of tracks, from outside to inside:) are not displayed in beta.

This is from beta
![image](https://cloud.githubusercontent.com/assets/6361802/20725106/d029007e-b63e-11e6-8aef-311dc7bb794d.png)

This is from the current production
![image](https://cloud.githubusercontent.com/assets/6361802/20725202/13f08106-b63f-11e6-9337-f7673c45aa33.png)

[2016-11-29 19:21] ARWattam opened #1318 "Perfect family filter on PFS not working"
The results did not change from the original 16,650 PLFams and prefect families are not displayed.
<img width="1171" alt="screen shot 2016-11-29 at 2 20 51 pm" src="https://cloud.githubusercontent.com/assets/11475316/20725244/296bcd06-b63f-11e6-9125-7c8a597fc98f.png">

[2016-11-29 19:22] ARWattam commented on #1318
Never mind...forgot to hit filter.  Sorry.

[2016-11-29 19:22] #1318 closed, assigned to nobody

[2016-11-29 19:22] chmao1 commented on #1317
@levinas Fangfang, could you check the script that generates the html file from the server side?

[2016-11-29 19:25] ARWattam opened #1319 "What if we added the name of the genome group as one of the columns in the PFS filter?"
That way, people would be able to see which genomes came from specific groups.  If it wasn't part of a group, it would be blank.  I think that this would be a significant improvement to the tool

[2016-11-29 19:28] mshukla1 commented on #1313
Try it again, and see if the blank product names are gone now.

[2016-11-29 19:28] chmao1 opened #1320 "Feature View: feature view page remains at loading status on Firefox"
Here is an example (using fid id): https://www.beta.patricbrc.org/view/Feature/fig|1457189.3.peg.432
On Firebox, the page never loaded the detail.
![image](https://cloud.githubusercontent.com/assets/6361802/20725476/f0bcaf24-b63f-11e6-81cf-434505939d14.png)

This is fine using Chrome.

[2016-11-29 19:31] chmao1 opened #1321 "BLAST result - did not return result when using a NT sequence and plasmid contigs proteins datasbase"
After a couple of hours, still no results
![image](https://cloud.githubusercontent.com/assets/6361802/20725569/480d70c4-b640-11e6-8011-69e4f5718461.png)

[2016-11-29 19:34] hyoo commented on #1320
this link has to be url encoded.

https://www.beta.patricbrc.org/view/Feature/fig%7C1457189.3.peg.432

[2016-11-29 19:34] ARWattam opened #1322 "Anchoring a genome appears to be failing on beta"
As in the workshops, comparing 3 groups and one private genome.  Load heatmap, select anchor a genome.  Anchoring did not work, and I got a pop up message that a plugin (shockwave flash) is not responding.
<img width="1440" alt="screen shot 2016-11-29 at 2 32 57 pm" src="https://cloud.githubusercontent.com/assets/11475316/20725777/f41f2ace-b640-11e6-9a67-e8fab025b057.png">

[2016-11-29 19:36] hyoo commented on #1321
we don't have plasmid db yet.

[2016-11-29 19:51] chmao1 commented on #1321
@hyoo Any other databases are not available?
I tested several other databases, and the results have not yet been returned. Not sure which ones were not available.

[2016-11-29 19:57] chmao1 commented on #1320
The link is from the proteome comparison result page. I'll close this one and issue a new one for proteome comparison bug.

[2016-11-29 19:57] #1320 closed, assigned to hyoo

[2016-11-29 20:01] chmao1 opened #1323 "Proteome Comparison: links for the features in the circular graph"
The links for the features in circular graph do not work on firefox. For example:
https://www.beta.patricbrc.org/view/Feature/fig|1457189.3.peg.432
The link has to be url encoded: https://www.beta.patricbrc.org/view/Feature/fig%7C1457189.3.peg.432

Please make the correction on the server side for generating the html file.

[2016-11-29 20:02] ARWattam commented on #1313
Still getting the error:
<img width="1110" alt="screen shot 2016-11-29 at 3 00 52 pm" src="https://cloud.githubusercontent.com/assets/11475316/20726705/b05a54d6-b644-11e6-837e-e483f9de4072.png">

Also seeing a protein family named 12
<img width="862" alt="screen shot 2016-11-29 at 3 01 47 pm" src="https://cloud.githubusercontent.com/assets/11475316/20726729/ce4b671e-b644-11e6-9b2c-49e2ba4fc157.png

[2016-11-29 20:06] ARWattam commented on #1313
Also some oddly named FIGFams
<img width="797" alt="screen shot 2016-11-29 at 3 05 18 pm" src="https://cloud.githubusercontent.com/assets/11475316/20726878/5d340a9e-b645-11e6-9197-16b499eb2c81.png">

[2016-11-29 20:07] hyoo commented on #1321
plasmid and transcriptomics are not available yet.

[2016-11-29 20:11] hyoo commented on #1313
Per Bob's comment,
"Veronika fixed these assignments in September and they are gone in the new families."

#1046

[2016-11-29 20:13] hyoo commented on #1304
based upon program & database combination, it shows available options. it could have "contigs" in this one.

[2016-11-29 20:13] #1304 closed, assigned to nobody

[2016-11-29 20:16] ARWattam opened #1324 "Borrelia is misspelled in the drop down box from Organisms"
<img width="451" alt="screen shot 2016-11-29 at 3 15 38 pm" src="https://cloud.githubusercontent.com/assets/11475316/20727255/c800adc2-b646-11e6-8bb4-11031ca96c31.png">

[2016-11-29 20:35] hyoo opened #1325 "BLAST: Specialty Gene BLAST results"
specialty gene blast shows empty cells,

![image](https://cloud.githubusercontent.com/assets/1236467/20727900/dcd54f10-b640-11e6-9bd6-b0a1c85830bb.png)

because it does not return feature_id. need to address before the release.

![image](https://cloud.githubusercontent.com/assets/1236467/20727905/e773f156-b640-11e6-9c8b-d32765251a45.png)

[2016-11-29 20:39] #1324 closed, assigned to nobody

[2016-11-29 20:45] hyoo commented on #1319
I understand the need. However, the current structure retrieves all the gnome ids from the genome groups and pass the "list of genome ids" to the protein family widget. That's how it could work with taxonomy, genome list, and genome pages.

So, the genome ID and genome group association info will be lost before it hits the filter grid, which is the reason we could not implement at the previous req

[2016-11-29 20:49] hyoo commented on #1311
I cleaned up old text and added some placeholder.

please add more info as needed.

https://github.com/PATRIC3/p3_web/blob/master/public/js/p3/widget/app/help/ComparativePathwayHelp.html

https://github.com/PATRIC3/p3_web/blob/master/public/js/p3/widget/app/help/ProteinFamilyHelp.html

[2016-11-29 20:54] hyoo commented on #1305
I intentionally left it because user may want to open the form and review their parameters while they are viewing the BLAST results.

[2016-11-29 21:26] ARWattam opened #1326 "A list of features...why doesn't mystical green band show Pathway?"
This has me scratching my head.  Shouldn't Pathway be an option when all these features are selected?  I did the usual workflow for the tutorial on the new E. coli, selected a bunch of genes, got the features and selected them all.  Pathway should be one of the options, right?  Why is this ephemeral?
<img width="1167" alt="screen shot 2016-11-29 at 4 24 04 pm" src="https://cloud.githubusercontent.

[2016-11-29 23:19] mshukla1 commented on #1179
I am changing this from critical to enhancement for the following reasons.

- The same problem is also there ion the current production site. i.e. the problem is not specific to the new site.
- This would be a problem only for a very small number of PATRIC users, as not many users will have more than 1000 jobs submitted so far.
- In fact, I believe, this is mostly a problem for me, Jim and very fe

[2016-11-29 23:22] mshukla1 commented on #1159
@dmachi I guess this is not critical issue, agree?

[2016-11-29 23:27] mshukla1 commented on #1159
I tried several downloads in safari from the feature table and they worked fine. So, I am not sure which download problem this refers to.

I am marking this non critical. Let me know if anyone disagrees.

[2016-11-29 23:31] mshukla1 commented on #856
Zero results are now handled properly. Verified on beta.

Searching for multiple ids, i.e. batch search should be addressed later as part of boarder advanced search functionality.

-Maulik

[2016-11-29 23:31] #856 closed

[2016-11-30 01:15] chmao1 commented on #1308
The alignment results can be viewed by clicking the arrows in the blast result table. This feature is not obvious to users. I suggest to provide a help/info guide on the result page.

[2016-11-30 01:19] nconrad commented on #1159
It's an issue with downloading workspace data via the workspace browser or workspace object pages.  The SOLR data downloads should work fine.

[2016-11-30 02:22] mshukla1 commented on #1222
Checked downloads from all the pages listed above and they now seems well formatted and as expected.

[2016-11-30 02:22] #1222 closed, assigned to hyoo

[2016-11-30 02:27] mshukla1 commented on #1223
edit and resubmit has been fixed. verified on beta.

[2016-11-30 02:27] #1223 closed, assigned to hyoo

[2016-11-30 05:29] mshukla1 commented on #1035
RNA BLAST is working now. We have frn databases created for individual genomes and we also have specialized blast database for 16s RNAs.

I have tested them both on beta and they are working.

-Maulik

[2016-11-30 05:29] #1035 closed, assigned to mshukla1, hyoo

[2016-11-30 05:31] mshukla1 commented on #1325
@hyoo Please let me know if this can be fixed in short time.

If it can not be fixed quickly, I recommend that we hide specialty gene blast from the options for now. We can add them back later after the November release.

-Maulik

[2016-11-30 06:47] mshukla1 commented on #1237
Verified fixes on beta.

@hyoo, the genome browser link currently doesn't show PATRIC or RefSeq features in the selected region. Can you enable those tracks in the link?

[2016-11-30 06:50] mshukla1 commented on #1217
Fixed. Verified on beta.

[2016-11-30 06:50] #1217 closed, assigned to hyoo

[2016-11-30 06:57] mshukla1 commented on #1215
fixed. verified on beta.

[2016-11-30 06:57] #1215 closed, assigned to hyoo

[2016-11-30 07:03] mshukla1 commented on #1211
@hyoo In the sequences tab, when a single sequence is selected, provide link to the genome browser...similar to the one you provided from the contig blast.

[2016-11-30 07:04] mshukla1 commented on #1166
fixed. verified on beta.

[2016-11-30 07:04] #1166 closed, assigned to hyoo

[2016-11-30 07:08] mshukla1 commented on #1164
@hyoo @dmachi

Are you planning to add "remove from group" button on the genome and feature group view page?
I think this is critical, Rebecca has submitted multiple tickets for that.

[2016-11-30 07:25] mshukla1 commented on #1092
After the recent style changes, the viewer looks much better now and shows small features nicely.

[2016-11-30 07:25] #1092 closed, assigned to hyoo

[2016-11-30 07:25] mshukla1 commented on #1008
fixed. verified on beta.

[2016-11-30 07:25] #1008 closed, assigned to hyoo

[2016-11-30 07:27] mshukla1 commented on #830
fixed. verified on beta.

[2016-11-30 07:27] #830 closed

[2016-11-30 07:27] mshukla1 commented on #829
fixed. verified on beta.

[2016-11-30 07:27] #829 closed

[2016-11-30 07:29] mshukla1 commented on #931
fixed. verified on beta.

[2016-11-30 07:29] #931 closed

[2016-11-30 07:31] #1273 closed, assigned to mshukla1

[2016-11-30 07:36] mshukla1 commented on #1220
BLAST now shows all useful fields,  genome id, genome name, patric id, refseq locus tag, gene name and product.

Verified on beta.

[2016-11-30 07:36] #1220 closed, assigned to hyoo

[2016-11-30 12:50] hyoo commented on #1325
this is fixed and available on beta.

[2016-11-30 13:25] dmachi commented on #1211
This really should be a Sequence View with Genome Browser tab within.

[2016-11-30 13:26] dmachi commented on #1164
I will try to fix this today.

[2016-11-30 15:04] mshukla1 commented on #1321
plasmid.fna database has been added. this is working now on beta.

[2016-11-30 15:04] #1321 closed, assigned to hyoo

[2016-11-30 15:14] mshukla1 commented on #1307
I tried
- BLASTN against reference genomes, it worked.
- BLASTN against E coli  MG1655, it worked.
- tblastx against B 2308, it worked.

=> BLASTN against B 2308 didn't return any results, because there are no significant hits at DNA level.

[2016-11-30 15:14] #1307 closed, assigned to nobody

[2016-11-30 15:15] mshukla1 commented on #1261
genome ids are now visible even for genomes with long names. verified on beta.

[2016-11-30 15:15] #1261 closed, assigned to hyoo

[2016-11-30 15:21] mshukla1 commented on #1218
it seems all tables have checkboxes now. verified on beta.

[2016-11-30 15:21] #1218 closed, assigned to dmachi, aswarren, hyoo, chmao1

[2016-11-30 15:22] mshukla1 commented on #1167
Can't reproduce.

[2016-11-30 15:22] #1167 closed, assigned to hyoo

[2016-11-30 15:25] mshukla1 commented on #1086
number of results and paging has been added. verified on beta.

[2016-11-30 15:25] #1086 closed, assigned to hyoo

[2016-11-30 15:27] mshukla1 commented on #1073
Database is available now and spgene blast is working. The results require some formatting though, which is covered under a different ticket. so closing this one.

#1325

[2016-11-30 15:27] #1073 closed, assigned to mshukla1

[2016-11-30 15:32] mshukla1 commented on #1041
@hyoo try the folloing query against ref.fna. select all is not working in safari and in chrome.

atgagctcccaggaagccagcaagatgctgcgtacttacaatattgcctggtggggcaat
aactactatgacgttaacgagctgggccacattagcgtgtgcccggacccggacgtcccg
gaagctcgcgtcgatctcgcgcagttagtgaaaactcgtgaagcacagggccagcgtctg
cctgcactgttctgtttcccacagatcctgcagcaccgtttgcgttccattaacgccgcg
ttcaaacgtgcgagggaatcctacggctataacggcgattacttccttgtttatccga

[2016-11-30 15:33] mshukla1 commented on #1033
contig accession and descriptions have been added in the resulttable. verified on beta.

[2016-11-30 15:33] #1033 closed, assigned to mshukla1, hyoo

[2016-11-30 15:37] mshukla1 commented on #990
we have selection, download, MSA,pathway and other options available from blast results now.

Please submit another ticket if you have any specific suggestion for supporting additional features.

[2016-11-30 15:37] #990 closed, assigned to hyoo

[2016-11-30 15:38] mshukla1 commented on #895
transcriptomics and plasmid blast databases have been added. this task is mostly complete now.

[2016-11-30 15:38] #895 closed

[2016-11-30 15:39] mshukla1 commented on #445
this is complete now and supports all the requirements laid out earlier.

[2016-11-30 15:39] #445 closed

[2016-11-30 15:42] mshukla1 commented on #1310
we show pair-wise blast alignments of the query and subject, list NCBI blast.

The selection and actions from the BLAST results are mostly done using the same mechanisms as any other feature table on the site. Given that the selection tools and MSA pass feature ids and pull related data from the database, I don't think we can support adding query sequence to MSA without requiring major changes.

-

[2016-11-30 15:44] mshukla1 commented on #1309
there is download available from the selection bar, however, it just shows feature info, there are no details of BLAST results, i.e. scores, etc.

[2016-11-30 15:45] mshukla1 commented on #1309
@hyoo see if you can change arrow to plus icon/button, that may be more intuitive.

[2016-11-30 15:51] hyoo commented on #1326
Pathway enrichment icon is available but limited to 200 features. We can increase the limit if necessary. What would be the realistic number for type of analysis?

[2016-11-30 15:54] hyoo commented on #1311
I have update protein family help doc, and removed unneccesary icons from comparative pathway

[2016-11-30 16:15] hyoo commented on #1102
please try again to see whether you can reproduce it or not. I could not reproduce it after applying this.

[2016-11-30 16:28] levinas commented on #1323
Fixed in PR:
https://github.com/TheSEED/app_service/pull/58

[2016-11-30 16:29] levinas commented on #1317
I guess this is a css problem. I'm using the standard HTML ol tag:
http://www.w3schools.com/tags/att_ol_type.asp

[code]

[2016-11-30 16:56] #1221 closed, assigned to dmachi, aswarren, hyoo, chmao1

[2016-11-30 17:06] aswarren commented on #1211
Implemented in https://github.com/PATRIC3/p3_web/pull/310
@mshukla1 Thats not really what I meant by discussion.

[2016-11-30 17:06] #1211 closed, assigned to aswarren

[2016-11-30 17:27] mshukla1 opened #1327 "job list disappears when I refresh the page"
If I go to the job list from the top navigation bar, no jobs are displayed.

When I click on the notification area at the bottom, the job list loads fine.

However, if I refresh the page, jobs disappear again.

Now if I click on the job summary at the bottom, it doesn't sho the jobs.

The only way I would make it work again is to go to some other page, home page, and then click on the job number a

[2016-11-30 17:28] mshukla1 commented on #1327
@dmachi, Neal is not available this week, can you look into this?

[2016-11-30 17:36] #1041 closed, assigned to hyoo

[2016-11-30 17:43] hyoo commented on #1312
you cannot unselect all. this is not a selection of rows (comparisons), but selecting different condition of comparisons, ie up-regulated, down-regulated, or both.

[2016-11-30 17:56] dmachi commented on #1327
This has existed for at least 2 months this way. Duplicate of #1014.  Will take a look

[2016-11-30 18:20] chmao1 commented on #1317
Fixed the css problem and will be available in the next build.

[2016-11-30 18:21] aswarren opened #1328 "Genome browser speedup"
It should be possible to further speed up the load time of the genome browser.
To pull it off:
Change the JBrowse route in the api to only request (start, stop, direction, and label) when initally loading features.
This requires a change in how the mouse over and popups are created such that the request goes out onClick and onMouseOver

[2016-11-30 18:43] #1176 closed, assigned to hyoo

[2016-11-30 19:22] dmachi commented on #378
This should have been fixed previously on other tickets and is due to size/css. Please verify.

[2016-11-30 19:33] #1309 closed, assigned to hyoo

[2016-11-30 19:36] ARWattam opened #1329 "Uploading failed of contigs for Benchmark Contigs in Assembly"
I've taking Assembly through its steps, and wanted to test using the Benchmark contigs.  Downloaded a .fna file from PATRIC, and tried uploading.  It never worked.
<img width="688" alt="screen shot 2016-11-30 at 2 32 48 pm" src="https://cloud.githubusercontent.com/assets/11475316/20768029/6620caa0-b70a-11e6-8a5d-7d362d34e52a.png">

[2016-11-30 20:01] ARWattam opened #1330 "Submitted 6 assembly jobs...got message that they were queued, but none appear on jobs page"
<img width="1416" alt="screen shot 2016-11-30 at 3 01 09 pm" src="https://cloud.githubusercontent.com/assets/11475316/20768950/eed2bf0e-b70d-11e6-8828-2ce51506b5c6.png">

[2016-11-30 20:40] ARWattam commented on #1330
Jobs appeared about an hour after submitting them.  The delay isn't good
<img width="1173" alt="screen shot 2016-11-30 at 3 40 07 pm" src="https://cloud.githubusercontent.com/assets/11475316/20770334/5b1f8020-b713-11e6-9ecf-16351a0e9c58.png">

[2016-11-30 21:29] #1325 closed, assigned to mshukla1, hyoo, olsonanl

[2016-11-30 21:32] hyoo commented on #1208
I think I am done with this except user guides.

[2016-11-30 21:32] #1208 closed, assigned to hyoo

[2016-11-30 21:36] ARWattam opened #1331 "Unable to get to genome landing page from job details-annotation"
I annotated a genome.  Went to Jobs, clicked on View icon, went to landing page for the annotation job.  Clicked on the View icon (the eye) and...nothing happened.  Here's the url
https://www.beta.patricbrc.org/workspace/ARWattam@patricbrc.org/home/Annnotations/Escherichia%20coli%20MRSN_test_kiki

I opened the developer view and took a screenshot.  Here's what it said once it started returning err

[2016-11-30 21:47] hyoo commented on #850
duplicate #1102

[2016-11-30 21:47] #850 closed

[2016-11-30 22:38] aswarren opened #1332 "streaming links broken for tb-sys bio"
on https://www.beta.patricbrc.org/content/tb-systems-biology to jbrowse.

[2016-11-30 23:23] aswarren commented on #1332
Fixed

[2016-11-30 23:23] #1332 closed, assigned to aswarren

[2016-12-01 13:58] ARWattam opened #1333 "Discrepancy between job progress and completion"
I went to the annotation app and started 4 annotation jobs from assemblies that I started yesterday and apparently completed overnight...I could see the contigs available for annotation.  After submitting the 4 jobs, I went to the Jobs page to see the progress....just to be clear, from the annotation submission page I clicked on Jobs at the bottom of that page and overwrote it.  I was surprised to

[2016-12-01 14:06] ARWattam opened #1334 "None of the links from icons at top of Annotation result page are working"
When trying to examine results from my private genome annotation job, I clicked on the Blue eye, the CDC and the Browser icon.  None of them went anywherel
<img width="1089" alt="screen shot 2016-12-01 at 9 02 56 am" src="https://cloud.githubusercontent.com/assets/11475316/20796716/755a3902-b7a5-11e6-915c-977c1ebdd8ff.png">

[2016-12-01 14:16] ARWattam opened #1335 "Weird behavior on Jobs page...reloading says no results available."
This will have three screenshots.  As reported earlier, when I first go to the page, I see that some of my jobs that are completed are listed in progress (I know the assembly jobs in the screenshot  are completed because I submitted them for annotation):
<img width="1142" alt="screen shot 2016-12-01 at 9 13 24 am" src="https://cloud.githubusercontent.com/assets/11475316/20796926/abe8ef80-b7a6-11e6

[2016-12-01 14:19] dmachi commented on #1335
Duplicate

[2016-12-01 14:19] #1335 closed, assigned to nobody

[2016-12-01 15:18] chmao1 opened #1336 "BLAST - failed when using a nucleotide sequence and tblastx"
Couldn't get any tblastx results back. Got the following error:
"We were not able to complete your BLAST request. Please let us know with detail message below."

![image](https://cloud.githubusercontent.com/assets/6361802/20799054/05f077ac-b7af-11e6-8380-091ea5dbc759.png)

[2016-12-01 15:21] chmao1 opened #1337 "BLAST - failed when using an aa sequence, blastp and specialty gene reference proteins"
The blast result didn't returned after long time (hours) when using an aa sequence, blastp and specialty gene reference proteins.

[2016-12-01 15:23] chmao1 opened #1338 "BLAST - failed when using a nt sequence, blastx and specialty gene reference proteins"
BLAST result didn't return when using a nt sequence, blastx and specialty gene reference proteins.

[2016-12-01 15:40] chmao1 commented on #1336
This happened when "Reference or Representative Genomes (ffn)" or  "Reference or Representative Genome features (fna)" was used.

[2016-12-01 15:49] chmao1 commented on #1336
Here is the nt sequence used:

tcggtggttctgccatga

[2016-12-01 15:54] dmachi commented on #1327
Fixed. Will be on alpha soon.

[2016-12-01 15:55] chmao1 commented on #1336
Here is the error from inspect:
![image](https://cloud.githubusercontent.com/assets/6361802/20800773/a1b80b46-b7b4-11e6-8d91-e404a33cca33.png)

[2016-12-01 15:55] dmachi commented on #1179
Fixed.  Limit is 10k now.  Will likely get slower the more jobs there are.  Need to address that in the future.

[2016-12-01 15:55] #1179 closed, assigned to nconrad

[2016-12-01 15:56] dmachi commented on #1300
Duplicate and Fixed.

[2016-12-01 15:56] #1300 closed, assigned to nobody

[2016-12-01 15:57] #938 closed, assigned to nconrad

[2016-12-01 15:57] dmachi commented on #1014
Fixed.

[2016-12-01 15:57] #1014 closed, assigned to nconrad

[2016-12-01 15:57] dmachi commented on #272
Fixed.

[2016-12-01 15:57] #272 closed

[2016-12-01 15:59] dmachi commented on #1330
Duplicate of #1170. Closing.

[2016-12-01 15:59] #1330 closed, assigned to nobody

[2016-12-01 16:01] dmachi commented on #542
The first is the status indicator (the colored dot) and the second is the text.  To get rid of this, these two fields will need to be collapsed into one with a new formatter.

[2016-12-01 16:02] dmachi commented on #1333
Duplicate of #1170

[2016-12-01 16:02] #1333 closed, assigned to nobody

[2016-12-01 16:03] dmachi commented on #548
Duplicate of another ticket, but this is fixed.

[2016-12-01 16:03] #548 closed

[2016-12-01 16:07] chmao1 commented on #1338
This is the seqeunce used for testing:

atggagcccatcagaagttatgctagtcaagaaatagaacaggaaacgaatcctattgag
ccgcaaaaggaacctaaaatcaagaaaaggaaagtctgggtgccgggattactcctttta
acgccgattctacttttcatatttggtttcttcgtcataccgatgttatacattttatat
ttaagcttcatatcaacagataatcttgggggagcggatgcagtttatagcctaaaaaat
tatacacaattattttccgatagctattacttatcttctttatggctgacagtgaaaatc
agtttatattcggtcttggttgctttatttcttggatatccggtagctttaacga

[2016-12-01 16:07] chmao1 commented on #1337
This is the sequence used:

MYVRHLGLRDFRSWACVDLELHPGRTVFVGPNGYGKTNLIEALWYSTTLGSHRVSADLPL
IRVGTDRAVISTIVVNDGRECAVDLEIATGRVNKARLNRSSVRSTRDVVGVLRAVLFAPE
DLGLVRGDPADRRRYLDDLAIVRRPAIAAVRAEYERVLRQRTALLKSVPGARYRGDRGVF
DTLEVWDSRLAEHGAELVAARIDLVNQLAPEVKKAYQLLAPESRSASIGYRASMDVTGPS
EQSDIDRQLLAARLLAALAARRDAELERGVCLVGPHRDDLILRLGDQPAKGFASHGEAWS
LAVALRLAAYQLLRVDGGEPVLLLDDVFAELDVMRRRALATAAESAEQVLVTAAVLEDIP
AGWDAR

[2016-12-01 16:19] chmao1 commented on #1317
Tested and passed.

[2016-12-01 16:19] #1317 closed, assigned to chmao1

[2016-12-01 16:22] chmao1 commented on #660
@jimdavis1 please verify. Thanks.

[2016-12-01 16:27] ARWattam opened #1339 "Selecting Pathway summary from the green bar in the Protein Family tab on private genome never loads"
I waited a long time to get results after choosing a single protein family when looking at my private genome.  I was on the Protein Family tab, chose one PLFam, and selected the Pathway icon in the green bar.  Results never returned.

https://www.beta.patricbrc.org/view/PathwaySummary/?features=PATRIC.562.13094.562.13094.con.0006.CDS.103973.104392.fwd,PATRIC.562.13094.562.13094.con.0006.CDS.104441

[2016-12-01 16:34] ARWattam opened #1340 "Clicking on members icon from Protein Family tab-private genome takes me to an unexpected place."
Usually when I click on the hyperlink for a protein family, it takes me to a table that allows me to see all the proteins across all the genomes that belong to this family.
<img width="1149" alt="screen shot 2016-12-01 at 11 30 52 am" src="https://cloud.githubusercontent.com/assets/11475316/20802411/f25c8cca-b7b9-11e6-8eee-d7132a6b6c4e.png">

When I click on the members icon in the vertical green

[2016-12-01 16:41] hyoo commented on #1337
will be available on alpha soon.

[2016-12-01 16:49] hyoo commented on #1338
will be available on alpha soon.

[2016-12-01 16:50] #1337 closed, assigned to hyoo

[2016-12-01 17:02] hyoo commented on #1323
I am flagging "fixed" per Fangfang's comment. @maovt please verify and close it

[2016-12-01 17:04] hyoo commented on #1104
I personally don't think this is a release blocker, because this problem exist in the current production site. This is a problem of flash implementation, which we don't have a control.

[2016-12-01 17:10] levinas commented on #1323
It's not deployed yet until Bob @olsonanl is back.

[2016-12-01 17:27] rkenyon commented on #1104
I just repeated the steps Maulik had and did not have the problem  All colors rendered as they were supposed to.
![screen shot 2016-12-01 at 12 26 26 pm](https://cloud.githubusercontent.com/assets/3188570/20804599/7f23511e-b7c1-11e6-8bf9-1ab9ae2754db.png)

[2016-12-01 17:29] hyoo commented on #1336
this was timed out. I am displaying message and now hiding result grid so that users can see the message clearly.

[2016-12-01 17:31] #1336 closed, assigned to hyoo

[2016-12-01 17:59] hyoo commented on #1104
this real issue is a little bit off from this topic. After data update, now it is very difficult to reproduce it, but I can still see it when I connect to chestnut, ANL solr instance we copied before the update.

![image](https://cloud.githubusercontent.com/assets/1236467/20805553/be7c822c-b7bc-11e6-9815-fd37c4ec423b.png)

as far as I can tell, if we have a certain data (one cell has 70), it messe

[2016-12-01 18:02] hyoo commented on #1104
a few more screen shots.

![image](https://cloud.githubusercontent.com/assets/1236467/20805745/b06bcb74-b7bd-11e6-921b-51c11f2101b0.png)

![image](https://cloud.githubusercontent.com/assets/1236467/20805761/be28d860-b7bd-11e6-9008-cc79117fcbad.png)

[2016-12-01 18:20] dmachi commented on #510
This bug no longer applies.

[2016-12-01 18:20] #510 closed

[2016-12-01 18:20] dmachi commented on #607
Closed as duplicate, though I don't think this problem exists any more.

[2016-12-01 18:20] #607 closed

[2016-12-01 18:35] dmachi commented on #1123
Duplicate of #1175, closing.

[2016-12-01 18:35] #1123 closed, assigned to dmachi

[2016-12-01 18:35] rkenyon commented on #1104
I agree that if this issue is present on current Production, it is not
"critical" for the Beta to Production release.  Please downgrade it to
just bug.

Ron

On 12/1/16 1:02 PM, hyoo wrote:

--
Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project Director, Biocomplexity Institute
Virginia Tech
rkenyon@vbi.vt.edu

[2016-12-01 18:44] dmachi commented on #1106
Added "Private Genomes" link underneath Data->Genomes.  This will currently show all private genomes you have access to (In the future, with sharing, we may want to make this more specific...private genomes of which you are the owner).

Will be on alpha soon.

[2016-12-01 18:45] dmachi commented on #1099
This ticket was duplicated in the discussion of removing the workspace group drilldown and adding the remove button to the GenomeGroup view.  These have been completed. Closing this ticket.

[2016-12-01 18:45] #1099 closed, assigned to dmachi

[2016-12-01 18:48] dmachi commented on #1075
Can't we just delete these annotations and avoid this problem?

[2016-12-01 19:10] dmachi commented on #936
Fixed. Up on alpha soon.

[2016-12-01 19:12] dmachi commented on #874
Fixed.

[2016-12-01 19:12] #874 closed

[2016-12-01 20:07] aswarren commented on #926
Fixed in https://github.com/PATRIC3/p3_web/pull/328

[2016-12-01 20:07] #926 closed

[2016-12-01 21:13] hyoo opened #1341 "tutorial test dashboard"
This ticket is intended to share the progress of website checking by tutorials. Please update checkbox as you confirmed and add comment if you're working on so that we don't overlap.

mark only the "PASS" items

- [x] Genome Assembly (Rebecca, Andrew)
- [x] Protein Family Sorter (Harry)
- [x] RNA-Seq Data Submission (Andrew)
- [x] Comparing Pathways (Ron)
- [x] Genome Annotation (Rebecca, Jim)
- [

[2016-12-01 21:15] chmao1 commented on #1341
I'm checking BLAST service and Proteome Comparison

[2016-12-01 21:16] ARWattam commented on #1341
I checked Assembly, Annotation, Exploring your genome, Expression Import, Creating groups.  Working on improving RNA-seq.  The tutorial we currently have works fine, but I forgot to include viewing the results.

[2016-12-01 21:18] aswarren opened #1342 "*.BAI files in RNA-Seq"
We need to save BAI files along with the rest of the output for the RNA-Seq recipes and the Variation Service.
So that we can have streaming from to genome browser.

[2016-12-01 21:18] rkenyon commented on #1341
These are the ones that I have either done or know successfully passed:

   Annotating a genome in PATRIC (Jim)
   Exploring your genome in PATRIC (Jim)
   Examining Transcriptomic data in PATRIC (Ron)
   Comparing Pathways in PATRIC (Ron)
   Creating genome groups (Ron)
   Comparing genome groups (Ron)

On 12/1/16 4:13 PM, hyoo wrote:

--
Ron Kenyon
PATRIC Project Manager, patricbrc.org
Project D

[2016-12-01 21:22] aswarren opened #1343 "*.vcf.gz in variation service output"
We need to get bgzip *.vcf files in the variation service (we already have the *.tbi files from tabix). So that we will have all required files for streaming to the genome browser.

[2016-12-01 22:16] hyoo commented on #1341
I am working on protein familes

[2016-12-01 22:28] hyoo commented on #1327
verified.

[2016-12-01 22:28] #1327 closed, assigned to dmachi

[2016-12-01 22:30] hyoo commented on #1164
@dmachi
you may need to import this module.

![image](https://cloud.githubusercontent.com/assets/1236467/20815393/566e7f74-b7e3-11e6-8186-4fb6784a3ee7.png)

[2016-12-01 22:34] rkenyon commented on #1102
Verified that it is working now.  Closing this ticket.

[2016-12-01 22:34] #1102 closed, assigned to hyoo

[2016-12-01 22:35] hyoo commented on #1164
well, I think this is not implemented for feature group. So I am punting back.

it works after I import the module, but I noticed that page header count is not updated. need to address this issue as well.

[2016-12-01 22:38] dmachi commented on #1164
ok, i’ve just committed the change for when.  You are right, I only did this for GenomeGroup. Will do the same thing for FeatureGroup.  Will check out the page header count.

[2016-12-01 22:55] dmachi commented on #1164
I've fixed this for Feature Group.   There is currently no mechanism to trigger refreshing the page header count when items are deleted.  I will look into that tomorrow.

[2016-12-02 00:03] chmao1 commented on #1338
tested on beta and passed.

[2016-12-02 00:03] #1338 closed, assigned to hyoo

[2016-12-02 01:40] ARWattam opened #1344 "No check boxes on correlated genes tab-Features page"
This table seems to be missing the check boxes.
<img width="1198" alt="screen shot 2016-12-01 at 8 39 09 pm" src="https://cloud.githubusercontent.com/assets/11475316/20820051/60ab61d2-b806-11e6-8414-ecf56f319523.png">

[2016-12-02 02:27] ARWattam opened #1345 "Unable to open Comparative Pathway tool"
I keep clicking on it from services, but it is not opening the landing page for the tool.  Its not doing anything.
<img width="402" alt="screen shot 2016-12-01 at 9 26 06 pm" src="https://cloud.githubusercontent.com/assets/11475316/20820930/eb329b76-b80c-11e6-9f13-6e20026fa5ec.png">

[2016-12-02 02:30] dmachi commented on #1345
I’m not seeing any problems with this on beta.  Can you tell if the url changed after you clicked on it (it should end up at https://www.beta.patricbrc.org/app/ComparativePathway <https://www.beta.patricbrc.org/app/ComparativePathway> )?

[2016-12-02 12:16] ARWattam commented on #1345
Gave up and went to bed, but checked the url in the morning and it was very strange.  It was stuck where it was..even with checking the Pathway Comparison box many times.  So I went to the home page, and then it seemed to reboot it.  Working now.

----- Original Message -----
From: "Dustin Machi" <notifications@github.com>
To: "PATRIC3" <patric3_website@noreply.github.com>
Cc: "Rebecca Wattam" <wa

[2016-12-02 12:36] ARWattam opened #1346 "Feature group list in Proteome Comparison-reference option not alphabetical, or in order of most recent"
When you have a lot of feature groups, this makes it difficult to step through.
<img width="593" alt="screen shot 2016-12-02 at 7 35 27 am" src="https://cloud.githubusercontent.com/assets/11475316/20834206/0ce66f7c-b862-11e6-8603-195e9332c447.png">

[2016-12-02 12:41] ARWattam opened #1347 "Drop down list showing folders to place job in Proteome Comparison not consistent"
Twice this morning it showed an abbreviated list, and did not show Proteome Comparison-my standard folder.  Only once has it shown it, and that was the second time.  Also, the list could be alphabetical...would make things easier to find for clutterers like myself.
<img width="371" alt="screen shot 2016-12-02 at 7 39 44 am" src="https://cloud.githubusercontent.com/assets/11475316/20834325/be350cd4

[2016-12-02 12:45] ARWattam opened #1348 "Wrong info box when submitting Proteome Comparison"
When I submit a job, the green pop-up box says Genome Comparison.  It should say Proteome.
<img width="381" alt="screen shot 2016-12-02 at 7 44 39 am" src="https://cloud.githubusercontent.com/assets/11475316/20834420/4d7f1bd2-b863-11e6-90bd-afe0d9ab833f.png">

[2016-12-02 13:15] ARWattam opened #1349 "Comparative Pathway tool- choose RefSeq and it returns PATRIC"
When users take the effort to select RefSeq as their annotation choice:
<img width="762" alt="screen shot 2016-12-02 at 8 14 17 am" src="https://cloud.githubusercontent.com/assets/11475316/20835231/737bee10-b867-11e6-8633-c177642d67fc.png">

Why does the table return PATRIC results?
<img width="1115" alt="screen shot 2016-12-02 at 8 14 29 am" src="https://cloud.githubusercontent.com/assets/1147531