[2018-05-16 20:50] olsonanl commented on #1985
I would like to remove ws-cd as a bad idea.

[2018-05-16 20:54] olsonanl commented on #1983
https://github.com/olsonanl/Workspace/commit/af1c6830504310604931cf93bc8413f3f3507bef removes the incorrect p3-whoami.

https://github.com/olsonanl/p3_auth/commit/d2c15a1b887c4ae3470964ae4037dd2fec59dbcf adds a corrected p3-whoami and the new p3-logout.

[2018-05-16 20:54] #1983 closed, assigned to olsonanl

[2018-05-16 21:10] olsonanl commented on #1973
This job was a victim of the AWE problem that showed failed jobs as being successfully completed. The fixes to the app service https://github.com/olsonanl/app_service/commit/8f758c5d0cca5186e037b8803a93260f71ae8f1e result in the job properly showing as failed.

It failed due to the too-many-ideograms problem when creating the Circos plot.

By clicking into the annotation job you are seeing the rep

[2018-05-16 21:10] #1973 closed, assigned to nobody

[2018-05-16 21:12] olsonanl commented on #1971
Duplicate of #1973

[2018-05-16 21:12] #1971 closed, assigned to nobody

[2018-05-16 21:15] olsonanl commented on #1962
This is a problem across the board. We have had a number of problems where uploaded data does not match the declared type.

I have working fastq and fasta validators that we can bolt into place. One issue, however, is that "reads" does not mean fastq; it can mean bam as well:

`SPAdes takes as input paired-end reads, mate-pairs and single (unpaired) reads in FASTA and FASTQ. For IonTorrent data SP

[2018-05-17 14:27] #1930 closed, assigned to chris-c-thomas

[2018-05-17 14:27] chris-c-thomas commented on #1930
Fixed on Alpha

[2018-05-17 14:35] ARWattam opened #1991 "More flexibility in file type-assembly"
A user reports:
I have sent several reports since I participated in the PATRIC workshop
last week, because my assemblies on own data continued to fail. I just
wanted to let you know that I have found the problem. It seems the read
files must have the extension .fastq.gz or at least not be named like mine
were initially (e.g., SRR4114375_2.fastq.cut.trim.gz.headers.fixed.gz).
When I changed the fil

[2018-05-17 22:36] olsonanl opened #1992 "Site behaves badly when genome completes"
If I try to look at a genome right after it completes, I can see the overview page but no features. I think this might have been the attempt at solr optimization but it really doesn't work well in practice when you see the job is done but the data is not available. For instance, the genome browser looks like this:

<img width="1352" alt="screen shot 2018-05-17 at 5 35 18 pm" src="https://user-imag

[2018-05-18 17:13] olsonanl opened #1993 "Subsystem chart presence/absence colors are the same"
<img width="1022" alt="screen shot 2018-05-18 at 11 55 36 am" src="https://user-images.githubusercontent.com/2152226/40247639-b0735a6e-5a92-11e8-9927-8fd846f22c32.png">

On a later run, I don't get a graphic for the presence/absence at all:

<img width="1349" alt="screen shot 2018-05-18 at 12 13 12 pm" src="https://user-images.githubusercontent.com/2152226/40248242-e6c18b98-5a94-11e8-8d90-4f30ebbd

[2018-05-18 18:21] rkenyon opened #1994 "User Account Settings no longer editable"
In the past, I believe a user could change their account settings such as username, password, email address, etc.  Now, when you are logged in and click on Account Settings, all that comes up is some static information in the top left of the page.

![screen shot 2018-05-18 at 2 20 11 pm](https://user-images.githubusercontent.com/3188570/40251200-a3143564-5aa6-11e8-8752-b8b7665443bf.png)

[2018-05-21 17:37] olsonanl opened #1995 "Error dialog hard to close"
This error dialog:

<img width="310" alt="screen shot 2018-05-21 at 12 36 38 pm" src="https://user-images.githubusercontent.com/2152226/40321128-aa80e35c-5cf3-11e8-9bf5-7feaae073f7b.png">

Appears to be unclosable. It is missing an explicit close button, and the "X" to close the dialog is obscured by text.

[2018-05-21 17:40] dmachi commented on #1995
CSS/Styling must be keeping this dialog from getting as wide as it needs to support the provided title.  The X is the explicit close button, so we’ll need to adjust the styling to make sure it doesn’t get obscured.  You can also just hit escape on any of the dialogs to close them (I do realize that isn’t an answer for users).

[2018-05-21 17:47] olsonanl commented on #1995
I'd argue that all dialogs should have an action button (here, "Close") since it may not be intuitive to hunt for the dim grey X.

[2018-05-21 18:05] olsonanl opened #1996 "Invalid location crashes indexer"
If the indexer tries to index a feature with a non-numeric endpoint, it appears to crash, process no more features, and send no error message.

I see this in solr:

[code]

But nothing in the index worker error or output logs.

[2018-05-21 18:59] olsonanl commented on #1995
Here's another example that's even harder to close.

<img width="328" alt="screen shot 2018-05-21 at 1 58 55 pm" src="https://user-images.githubusercontent.com/2152226/40324773-308fb33c-5cff-11e8-8ea5-89d9433e311c.png">

[2018-05-21 19:03] olsonanl opened #1997 "Compare regions fatal error"
I'm trying to use compare regions on phages and am seeing this error dialog:

<img width="328" alt="screen shot 2018-05-21 at 1 58 55 pm" src="https://user-images.githubusercontent.com/2152226/40324798-449d7094-5cff-11e8-984a-b85a47f3aa88.png">

For example:

https://patricbrc.org/view/Feature/PATRIC.GCA_002592465.1.JQ740791.CDS.7079.9250.fwd#view_tab=compareRegionViewer

I don't get a backtrace t

[2018-05-21 19:23] hyoo commented on #1996
thanks, i will include this for my test

[2018-05-21 19:24] hyoo commented on #1995
can you give us an instruction how to reproduce this error?

[2018-05-21 19:26] olsonanl commented on #1995
Check out #1997 for an example.

[2018-05-21 19:59] olsonanl commented on #1997
This is apparently showing up on all genomes so is more critical to get chased down.

Here it is on a regular reference genome.

https://www.patricbrc.org/view/Feature/PATRIC.483179.4.NC_010103.CDS.6822.8462.rev#view_tab=compareRegionViewer

<img width="1362" alt="screen shot 2018-05-21 at 2 58 22 pm" src="https://user-images.githubusercontent.com/2152226/40327136-734d837c-5d07-11e8-9a4c-f6c324480

[2018-05-24 20:44] mshukla1 opened #1998 "RNA-seq: no differential expression output"
yesterday, I ran a differential expression job on behalf of a user. The job completed successfully.

I see differential expression job result object in the output folder. However, when I click on it, it doesn;t have any result files and I can't load gene list or experiment details.

The differential expression job parameters show the following. Note that the job output path is set to scratch space

[2018-05-29 20:19] olsonanl commented on #1998
This has become a problem for Rebecca with the ASM workshop prep.

@aswarren what needs to be done if I understand this right is that the generated job result file cannot refer to local path names (as we discussed earlier); any filename there needs to be a workspace path that corresponds to the location in the workspace where the files were copied (via the mechanism in the app script of the ```@ou

[2018-05-29 20:30] nconrad opened #1999 "back button not working"
1) go to patricbrc.org
2) navigate to data page or such
3) try back button

[2018-05-31 16:21] olsonanl opened #2000 "bogus collection date displayed in genome"
In https://www.patricbrc.org/view/Genome/217090.3 we have:

Collection Date | NaN/NaN/NaN

[2018-05-31 16:24] olsonanl opened #2001 "Partially hidden UI elements"
on https://www.patricbrc.org/view/Genome/217090.3#view_tab=features in Safari Version 10.1.2 (11603.3.8) we see a partially hidden element (circled). It actually act like the + button that is visible so perhaps it is replicated?

![untitled](https://user-images.githubusercontent.com/2152226/40794517-0ed9db6e-64c5-11e8-815c-6be4c20fac4d.png)

[2018-05-31 16:34] olsonanl commented on #1999
I'm not sure if this is related but in trying to use the back button starting from a genome list output of a search through to a genome, I end up with URLs of the form https://www.patricbrc.org/remote#view_tab=overview that do not do anything when I click on the tabs

[2018-05-31 16:38] olsonanl commented on #2000
Also:

Length: undefinedbp, Chromosomes: 0, Plasmids: 0, Contigs: 0

[2018-05-31 16:41] chris-c-thomas commented on #1999
I noticed this as well when working on the homepage. Removing the search from the header caused it not to reappear when you went to other pages because the SPA doesn't seem to "fully load" the page content. It kept the modified p3header-new* template file (sans search bar) loaded instead of loading the original p3header template file (Even though it was set to show that view)

It felt like somethi

[2018-05-31 16:51] olsonanl commented on #1999
If we're going to do the SPA thing we really need to fix up all of these glitches. They make the site very frustrating to use.

[2018-05-31 19:59] nconrad commented on #2000
The first issue is due to lack of standardization on the collection dates https://github.com/PATRIC3/patric3_website/issues/1814 .

[2018-05-31 20:05] nconrad commented on #1999
@chris-c-thomas do you want to take this one?  May need input from @dmachi or @hyoo.  I *think* this issue was introduced in the last update.

[2018-05-31 20:11] aswarren commented on #1998
@olsonanl I am 99% sure that isn't the problem. We fixed most of the bugs with respect to the job object having actual paths because they need to be capable of being moved. So we no longer depend on those paths in any way.

The problem is, for some reason, the differential expression folder is empty of JSON files:
![image](https://user-images.githubusercontent.com/229173/40805684-0a7217bc-64ed-11e

[2018-05-31 20:14] aswarren opened #2002 "Curl from public workspace failed"
Failed on RNA-Seq job ARWattam
Job id

bc6a5295-7396-439c-8561-d2b7ed936e17

[code]

[2018-05-31 20:32] chris-c-thomas commented on #1999
@nconrad I'll look more in depth at it tomorrow morning but probably reach out to you or @dmachi if needed. I'm thinking it's purely Express related.

[2018-05-31 20:44] aswarren commented on #1998
@olsonanl So it looks like the output is created successfully as well from the expression_transform.py
[code]
It's just not getting copied over into the output.

[2018-05-31 20:53] aswarren commented on #1998
@olsonanl I think that this line puts the folder in the output

https://github.com/olsonanl/app_service/blob/master/scripts/App-RNASeq.pl#L243

And that here we create that folder?

https://github.com/olsonanl/app_service/blob/master/scripts/App-RNASeq.pl#L76-L87

But we never copy the contents of that folder into the new instance of the folder?

[2018-05-31 20:55] olsonanl commented on #1998
Can you verify that the user of the data does not look at the data in the job result object?

Regarding the copying; are the json files included in the file list? The copies made are not recursive. If you want them to be you'll need to code the recursive copy; just including a folder in the output list will not copy the contents.

[2018-05-31 21:43] aswarren commented on #1998
@olsonanl I'm not sure what you mean by: "Can you verify that the user of the data does not look at the data in the job result object?"

I can verify that we are no longer using those paths anywhere through a list of commits from Neal and myself so that the job objects can be moved into new folders and still work correctly.

Wrt copying no, based on our previous discussions I was under the mistake

[2018-05-31 22:02] olsonanl commented on #1998
What I mean is that the job object has paths in it that are filesystem paths, not workspace paths. That was Maulik's original bug report. If the code that uses that job object expects to read the xfile and/or output_path values to pull files, it will fail.

Regarding that PR, no, it has a problem that I've noted in the PR.

[2018-06-01 17:58] jimdavis1 opened #2003 "Genomes missing a number of sequences"
The following genomes lack a number in the "Sequences" field

{"id_list":{"genome_id":["1496.2589","1496.2590","1496.2592","1496.2593","1496.2595","1496.2594","1496.2591","1496.2598","1496.2597","1496.2596","1496.2599","1496.2600","1496.2601","1496.2603","1496.2602","1496.2604","1496.2605","1496.2606","1496.2608","1496.2607","1496.2657","1496.2658","1496.2635","1496.2636","1496.2637","1496.2639","

[2018-06-04 14:08] jimdavis1 opened #2004 "Can we please please please please be allowed to copy data from tables?"
If you guys use the website frequently, this will annoy you.  Here is an example where I just wanted to copy the first few lines from my blast results to get genome names and some statistics.

Clicking the download button puts you many clicks away from from actually having something that you should have instantly.

![image](https://user-images.githubusercontent.com/7661533/40921882-51b3dd86-67d6-1

[2018-06-04 14:36] mshukla1 commented on #2003
Because of the earlier complains about the confusion between contigs and sequences, we have decided to deprecate the sequence column and rather use contigs to show total number of contigs (including complete chromosomes and plasmids)  in a genome.

We need to make sure that the tables on the website are showing contigs as the default column.

Also, need to remove sequences from tables as well as o

[2018-06-04 14:52] mshukla1 commented on #2000
Collection date is stored as string in the database and should be treated as such. There are examples where collection date is given as a range, ie. 2004-2006, etc. We can't convert them to precise date, but don't want to exclude them either, hence, treated as string.

Collection year is a clean version for faceting, YYYY, when possible.

Bob, Regarding the genome stats, there are ~1500 genomes fr

[2018-06-05 15:47] #2003 closed, assigned to hyoo

[2018-06-05 16:01] #2001 closed, assigned to chris-c-thomas

[2018-06-05 17:01] nconrad commented on #2000
Ok, I'll just print the string for collection date when it's not in timestamp format.

[2018-06-05 18:28] mshukla1 commented on #2000
If it is straight forward, can you make the change Today, so it gets rolled up in the release?

-Maulik

[2018-06-07 17:18] mshukla1 opened #2005 "RNA-seq: add description for new files"
I see that we have few new file types in he RNA-seq results. We need  to described them in the tutorials and user guides.

<img width="1071" alt="screen shot 2018-06-07 at 1 09 30 pm" src="https://user-images.githubusercontent.com/1236463/41115365-45163958-6a55-11e8-8cec-0a425ac733cb.png">

[2018-06-07 17:22] rkenyon commented on #2005
It would also be good to have something in the table that describes what
the file is without having to go to a separate user doc to find out.

Ron

On Thu, Jun 7, 2018 at 1:18 PM, Maulik Shukla <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon

[2018-06-07 18:32] rkenyon opened #2006 "Missing images in Expression Import Service user guide"
https://docs.patricbrc.org//user_guides/services/expression_data_import_service.html

[2018-06-08 21:05] nconrad commented on #1955
This was fortunately addressed by @chris-c-thomas in https://github.com/PATRIC3/p3_web/commit/1e94db31724a661ae20a333c367e5a44c9d0c301

[2018-06-08 21:05] #1955 closed, assigned to chris-c-thomas

[2018-06-11 19:11] rkenyon commented on #2006
Fixed.

[2018-06-11 19:11] #2006 closed, assigned to rkenyon

[2018-06-11 20:08] nconrad commented on #1813
This is complete.

[2018-06-11 20:08] #1813 closed, assigned to nconrad

[2018-06-12 14:26] hyoo commented on #2004
use COPY button.
![image](https://user-images.githubusercontent.com/1236467/41296508-afa41b8e-6e22-11e8-8da8-cc25d3990d9c.png)

![image](https://user-images.githubusercontent.com/1236467/41296546-c87521d0-6e22-11e8-9550-a7dc2ed1ce1c.png)

![image](https://user-images.githubusercontent.com/1236467/41296521-b83f7d10-6e22-11e8-8ca3-5d9564236b88.png)

[2018-06-12 14:28] #2004 closed, assigned to nobody

[2018-06-12 14:29] hyoo commented on #2000
![image](https://user-images.githubusercontent.com/1236467/41296703-1b25a116-6e23-11e8-94e5-b3d3ceceff74.png)

confirmed on production.

[2018-06-12 14:29] #2000 closed, assigned to nconrad

[2018-06-12 14:31] hyoo commented on #1990
There is copy button for this purpose. please refer #2004

[2018-06-12 14:31] #1990 closed, assigned to nobody

[2018-06-12 14:32] hyoo commented on #1892
chestnut is listening from localhost currently.

[2018-06-12 14:32] #1892 closed, assigned to hyoo, danielolson5, olsonanl

[2018-06-12 14:35] hyoo commented on #1764
confirmed on production

[2018-06-12 14:35] #1764 closed, assigned to mandywil

[2018-06-12 14:37] hyoo commented on #1994
this version is deprecated. New user service pages are integrated on p3_web and works as expected.

[2018-06-12 14:37] #1994 closed, assigned to hyoo

[2018-06-12 14:39] hyoo commented on #1970
Note: verify the list with schema.

[2018-06-12 15:01] hyoo commented on #1870
we delivered on may 2018 release.

[2018-06-12 15:01] #1870 closed, assigned to mshukla1, hyoo, rkenyon, chris-c-thomas

[2018-06-12 15:47] olsonanl opened #2007 "Assembly submit failure"
Logging to check out and hopefully fix error logging.

Job c47c0aba-53f2-44a4-bd9c-8d5499bc539e as reported in https://jira.cels.anl.gov/browse/PATRIC-1611

Problem appears to have been a shock upload failure in the arast client.

[code]

[2018-06-12 21:30] rkenyon opened #2008 "Remove Howard Shuman from PATRIC SWG page"
He is no longer a member of the PATRIC Scientific Working Group.

https://patricbrc.org/webpage/website/swg.html

[2018-06-14 15:41] #2008 closed, assigned to chris-c-thomas

[2018-06-14 21:53] nconrad commented on #1989
I thought it would make more sense to disable the the button when the type can't be changed.  But, now I'm thinking it makes more sense to keep the message that currently pops up so that it's clear what can and can't not be changed

![image](https://user-images.githubusercontent.com/1194246/41440205-50a74610-6ff3-11e8-9fe8-e43728867ea5.png)

[2018-06-14 21:53] #1989 closed, assigned to nconrad

[2018-06-15 14:10] jimdavis1 opened #2009 "search on protein family"
can we add protein family to the global search drop down?
![image](https://user-images.githubusercontent.com/7661533/41472394-f1782720-707b-11e8-82aa-3db078e6ff8d.png)

[2018-06-15 14:34] jimdavis1 opened #2010 "link should propagate new window"
I am currently on safari, and looking at a list of features.  When I click on an individual feature to look at it, it does not open a new window or tab, so i cant click back.

![image](https://user-images.githubusercontent.com/7661533/41473557-3db652ee-707f-11e8-8dfd-1f08761ade4a.png)

[2018-06-15 15:26] jimdavis1 opened #2011 "enhancement: add protein families to blast output table"
It would be good if we could see protein families here:
![image](https://user-images.githubusercontent.com/7661533/41476220-893dc7ae-7086-11e8-9a68-d8f9d5f72c44.png)

[2018-06-15 17:32] nconrad opened #2012 "0 bytes issue again :("
There's a race-like condition when reporting file sizes.

After an upload is completed via the the workspace browser, the front-end does another workspace.ls to get the actual file size.  The issue is the server *sometimes* still reports 0 bytes.

Here, I've uploaded `smallfile5`.  The resulting workspace.ls gives:

``` ["smallfile5", "unspecified", "/nconrad@patricbrc.org/home/", "2018-06-15T17:0

[2018-06-19 18:34] chris-c-thomas commented on #2009
Would this be the correct search results? Showing the protein families tab?

![gs](https://user-images.githubusercontent.com/22353987/41617169-621e302c-73c5-11e8-866b-3479759157e3.png)

![gs-protein-families-results](https://user-images.githubusercontent.com/22353987/41617173-656a6dcc-73c5-11e8-847c-28111fc3e4ed.png)

[2018-06-20 14:08] #1963 closed, assigned to chris-c-thomas

[2018-06-20 14:11] chris-c-thomas commented on #1920
@hyoo is this the route we want to go?

Prod docs.patricbric.org still uses internal Sphinx search.

That version above does use Google search but may confuse users? I do agree it's more accurate BUT it's not immediately accurate. If we add a new docs page I believe it may take a day or two to be indexed by Google's SEO crawlers.

[2018-06-21 16:49] nconrad opened #2013 "add kill job button to jobs page"
The API method is available, just need to add a button to the UI.

[2018-06-26 15:54] rkenyon opened #2014 "Announcements on new home page all point to CLI Tutorial docs page"
Also, the only "Read more" link that works is the one for the CLI announcement.

[2018-06-26 16:28] hyoo commented on #2014
all slides were transparent instead of being invisible using visibility css property, which ended up having the last link clickable. I added visibility property so that only active slide will be accessible.

[2018-06-26 16:31] hyoo commented on #1997
![image](https://user-images.githubusercontent.com/1236467/41926272-741c7f58-7934-11e8-9929-29ac621a3799.png)

it works for me. What am i missing?

[2018-06-26 16:52] #1895 closed, assigned to hyoo

[2018-06-26 16:54] olsonanl commented on #1997
Apparently something changed between then and now. Didn't you have some lint pass that resulted in True being used but not defined?

[2018-06-26 16:55] hyoo commented on #1920
https://github.com/PATRIC3/p3_docs/commit/8cd61d504d289894c741f0b23bf424a9bac6d163

I am replacing search box with google search.

[2018-06-26 16:58] hyoo commented on #1997
The True issue was resolved. I deployed hot fix at that time.
And yes, now the linter will check the undefined variable, so hopefully this type of mistake will not happen again.

[2018-06-26 16:58] #1997 closed, assigned to hyoo

[2018-06-26 19:21] aswarren commented on #1984
Fixed here https://github.com/PATRIC3/p3_web/pull/767 @hyoo

[2018-06-26 20:55] #1961 closed, assigned to chmao1

[2018-06-27 13:49] #1635 closed, assigned to nconrad

[2018-06-27 13:49] #1913 closed, assigned to nconrad

[2018-06-27 13:49] #1966 closed, assigned to hyoo, AndrewGuard

[2018-06-27 13:49] #1977 closed, assigned to nconrad

[2018-06-27 13:49] #2014 closed, assigned to hyoo, chris-c-thomas

[2018-06-27 15:11] rkenyon opened #2015 "Add PATRIC full name to front page"
Our PATRIC Program Officer has requested that we add the full PATRIC name to the home page.  My suggestion is to modify the text in the top blue box on the new home page, to the following:

PATRIC, the PAThosystems Resource Integration Center, provides integrated data and analysis tools to support biomedical research on bacterial infectious diseases.

Ron

[2018-06-28 00:40] #1998 closed, assigned to aswarren

[2018-06-28 00:40] #1984 closed, assigned to aswarren, hyoo

[2018-06-28 00:41] #1897 closed, assigned to aswarren, olsonanl

[2018-06-28 14:12] rkenyon opened #2016 "Update workshops page"
https://patricbrc.org/webpage/website/workshops.html

[2018-06-28 14:30] rkenyon commented on #2016
New ones to be added:

ASM Microbe 2018; Atlanta, GA; Jun-18, 43 participants
Argonne National Laboratory; Argonne, IL; May-18; 26 participants
Baylor Medical College; Houston, TX; Mar-18; 37 participants
University of California at San Diego; San Diego, CA; Jan-18; 30 participants
Argonne National Laboratory; Argonne, IL; Nov-17; 34 participants

[2018-06-28 14:44] hyoo commented on #2016
https://github.com/PATRIC3/p3_docs/blob/master/docroot/website/workshops.rst

[2018-06-28 14:45] hyoo commented on #2016
fyi, static pages are hosted in p3_docs,
https://github.com/PATRIC3/p3_docs/tree/master/docroot/website

and will be updated automatically.

[2018-06-28 17:45] ARWattam opened #2017 "Need SRA run accession on Metagenomic binning"
This would be quite handy, and I think we should add this functionality as we have Assembly

[2018-06-28 17:48] ARWattam opened #2018 "Need SRA run accession on RNA-Seq"
We have this on assembly.  It would be good to have it on this service as we provide for Assembly, and I could see that our users would make use of it.

[2018-06-28 17:49] ARWattam opened #2019 "Need SRA run accession on Variation service"
We provide it on assembly, so I think we should provide it on the services where our users would like to see it (RNA-Seq, Variation, Metagenomic Binning).

[2018-06-28 20:27] rkenyon opened #2020 "Need News feed to appear somewhere on home page"
Maybe shrink the Tweets box and insert above it.

If the News are only available from the hamburger icon, it is unlikely that most people will ever see it.

Ron

[2018-06-28 20:37] mshukla1 commented on #2020
I think the goal was to have the latest news item available as the first item under announcements.

We can always have the hamburger menu items repeated on the home page under footer, like
most website do.

[2018-06-28 20:47] rkenyon commented on #2020
That might work.  I am supposed to get together with Chris so he can show
me how to update content that is not in the docs.patricbrc site.

On Thu, Jun 28, 2018 at 4:38 PM Maulik Shukla <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.e

[2018-06-30 16:48] hyoo opened #2021 "genome permission patch needs to catch 400 error"
15|p3-api- | { responseHeader: { status: 400, QTime: 1 },
15|p3-api- |   error:
15|p3-api- |    { metadata:
15|p3-api- |       [ 'error-class',
15|p3-api- |         'org.apache.solr.common.SolrException',
15|p3-api- |         'root-error-class',
15|p3-api- |         'org.apache.solr.common.SolrException' ],
15|p3-api- |      msg: 'undefined field: "sequences"',
15|p3-api- |      code: 400 } }

[2018-06-30 17:28] hyoo commented on #2021
https://github.com/PATRIC3/p3_api/blob/master/routes/genomePermissionRouter.js#L213

We should propagate error here.

[2018-07-02 14:46] rkenyon commented on #2020
OK, that will work I think.

[2018-07-02 14:46] #2020 closed, assigned to hyoo, chris-c-thomas

[2018-07-02 17:57] chmao1 commented on #1957
Fixed and available in production.

[2018-07-03 20:29] rkenyon opened #2022 "Remove MOSAIK from Variation Service input form"
This recipe keeps failing, so removing this option for now.  Also need to update the Tutorial and User Guide correspondingly.

[2018-07-03 20:30] rkenyon commented on #2022
Dawen will update the service input form, Ron will update the User Guide and Tutorial.

[2018-07-06 14:53] dawenx commented on #2022
The form has been updated and PR submitted.

[2018-07-09 16:07] rkenyon opened #2023 "Add links (i) to new User Guides on all appropriate PATRIC pages"
There are now user guides for each web page in PATRIC, at the tab level.  They are organized in essentially the same way as the website is (menu, tabs).

https://docs.patricbrc.org//user_guides/

Need to figure out where to consistently locate the link icon (i) on each tab. Some examples below:

![screen shot 2018-07-03 at 10 51 41 am](https://user-images.githubusercontent.com/3188570/42462102-468

[2018-07-09 20:14] ARWattam opened #2024 "No link to view CGA genome from jobs page"
There is no link to the genome landing page from the job page for genomes that were annotated in the Comprehensive Genome Analysis service.  You have do double click on annotation, and then the view icon is visible in the next page.  There should be a view icon in the vertical green bar of the first page when the annotation is highlighted from the jobs page
<img width="1132" alt="screen shot 2018-

[2018-07-10 22:21] hyoo opened #2025 "in registration form, we should limit special characters on username"
Currently, there is no limit on registration, but when we validate token, it limits to alpha-numeric + underscore (\w). This caused confusion, when workshop participants registered with dot or dash, and was not able to login.
We need to validate registration form upfront, (add p3_user for extra check) and only allow alpha-numeric, underscore (_), dot (.) and dash(-).

[2018-07-11 20:42] nconrad commented on #1814
this was fixed by displaying whatever is given for `collection_date` (unless in ISO format)

[2018-07-11 20:42] #1814 closed, assigned to nconrad

[2018-07-11 20:43] nconrad commented on #1747
This was fixed with the addition of genome sharing.  We are testing sharing of more than 50 genomes now.

[2018-07-11 20:43] #1747 closed, assigned to dmachi, nconrad, mshukla1

[2018-07-11 20:55] nconrad commented on #1688
I think this was done and now we just need a tutorial?  #1986 covers the need for tutorial.  Closing.

[2018-07-11 20:55] #1688 closed, assigned to dmachi

[2018-07-12 13:31] #1869 closed, assigned to mshukla1

[2018-07-12 13:36] mshukla1 commented on #2002
Not sure what the issue is and if it has already been resolved.

@aswarren @olsonanl can you comment?

[2018-07-12 13:42] mshukla1 commented on #1991
I think the general issue is, if there are file extensions not supported by the underlying services, we should prevent them from being uploaded in the first place.

For example, one of the user assembly jobs failed with the following error.

== Error ==  file with reads has unsupported format (only .fq, .fastq, .bam, .fa, .fasta, .fq.gz, .fastq.gz, .bam.gz, .fa.gz, .fasta.gz are supported): /disks

[2018-07-12 13:42] olsonanl commented on #2024
This is a GUI issue to make the view links to the annotation job visible from the CGA page.

[2018-07-12 13:45] olsonanl commented on #2002
This is one of the data API failures we see fairly regularly.

@hyoo ??

[2018-07-12 14:02] dawenx commented on #1991
I will look into this.

I need some help though. In particular, @hyoo, for a given WorkspaceObjectSelector type, where can I find documentation on its supported format, e.g.,  ".fq, .fastq, .bam, .fa, .fasta, .fq.gz, .fastq.gz, .bam.gz, .fa.gz, .fasta.gz" for "reads" in this case? Thanks!

[2018-07-12 14:23] ARWattam commented on #1976
I think that the users would include those in a group if they wanted to see them.  I find this absolutely confusing, and I think our users will as well.

[2018-07-12 14:24] ARWattam commented on #1976
As it stands, I will not use it like this.  Its WAY too noisy!!!

[2018-07-12 14:39] ARWattam commented on #2024
Check the tutorial to see how I had to do it.  Its not intuitive at all.

On Thu, Jul 12, 2018 at 9:42 AM, olsonanl <notifications@github.com> wrote:

[2018-07-12 14:46] dawenx commented on #2022
Ron, this fix is on alpha, feel free to update the user guide and tutorial.

[2018-07-12 14:46] olsonanl commented on #2024
Yup. It should get fixed.

________________________________
From: ARWattam <notifications@github.com>
Sent: Thursday, July 12, 2018 9:39 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Assign
Subject: Re: [PATRIC3/patric3_website] No link to view CGA genome from jobs page (#2024)

Check the tutorial to see how I had to do it. Its not intuitive at all.

On Thu, Jul 12, 2018 at 9:42 AM, olsonan

[2018-07-12 14:55] ARWattam opened #2026 "User shares reads, but those reads aren't available for the 2nd user"
In answering a user request, I shared reads with Ron.  He can see them in his workspace in the shared file, but when he tries to launch an assembly with them, they aren't in the drop down box that shows all the reads he has access to.

[2018-07-12 15:03] hyoo commented on #2023
We need to discuss before we start implementing it. implementation is easy, but we need to make sure,
- icons are placed in consistent manner so that users can expect info icon, once they understand the theme
- icons are placed in relevant context. before that, we need to define what is relevant context.

[2018-07-12 15:06] hyoo commented on #2015
when i tried to replace the paragraph, it broke the layout. Chris is working on css modification.

[2018-07-12 15:09] mshukla1 commented on #1976
The reference genomes were added specifically at the request of Veronika and Sveta.

There is a button above the heat map that allows one to show or hide reference genomes.

This was reviewed and approved by Sveta and Veronika before the release and they really liked it.

 If any changes aredesired, we should discuss with them first.

-Maulik

[2018-07-12 15:23] hyoo commented on #2009
search on protein family may mean,

1.  search on protein family definition. your result will be a list of protein family id and family names, and you can link to all features within that protein family.

2. search on features that match to one or list of protein family id(s).

3. search on genomes matches your keyword criteria and show protein family tab.

or something else. @jimdavis1 i saw same

[2018-07-12 15:31] hyoo commented on #1889
We sent the data requested and this jira ticket is closed.

[2018-07-12 15:31] #1889 closed, assigned to hyoo

[2018-07-12 15:32] mshukla1 commented on #1976
At the minimum, we need to add some clarification in the user guides, if it is not described there already.

[2018-07-12 15:32] hyoo commented on #1862
@ARWattam do we still have this issue?

[2018-07-12 15:50] ARWattam commented on #1976
Look, when you use the cluster mechanism, all your genomes become jumbled
in with all the other genomes that you didn't even ask for!  I think that
if I went to the trouble of creating a genome group, I want to see what I
selected, not what somebody else thinks I should look at.  If we really
want to do something like that, I think a message should come up that
suggests that the user might want to

[2018-07-12 15:53] mshukla1 commented on #1976
I hear you. We can turn off reference genome in the default view and allow users to add them if they desire.

[2018-07-12 16:01] mshukla1 commented on #1976
Veronika and Sveta are here Today, I will run it by them and pull you in if needed.

[2018-07-12 16:13] mshukla1 commented on #1972
I believe this problem existed in the early days of CAS release, that AWE failed to report failed jobs as such. So the job was shown as completed, but no job result folder existed.

@olsonanl can you confirm this is fixed?

[2018-07-12 16:16] olsonanl commented on #1972
yes, that is correct. That is a job that AWE marked as successful when it actually failed, and that reporting has been corrected.

[2018-07-12 16:16] #1972 closed, assigned to olsonanl

[2018-07-12 16:16] mshukla1 commented on #1950
I believe this has been addressed.

I like the new SU login mechanism and that I can go to user details to see their name / email etc.

[2018-07-12 16:16] #1950 closed, assigned to nobody

[2018-07-12 16:18] mshukla1 commented on #1952
Harry, is this part of the PDP for next year? Are there any action items here? Or should we close it?

[2018-07-12 16:20] mshukla1 commented on #1960
@aswarren Is this still an issue? Who should we assign it to?

[2018-07-12 16:30] hyoo commented on #2025
current status:
has dot(.) in username: 39
has underscore (_) in username: 231
has dash(-) in username: 1
has alpha (@) in username: 3
any other characters (~`!#$%^&*()+=<>?,/\|{}[]) in username: 0

so, i think allowing dot, underscore, dash covers 99% users

[2018-07-12 16:41] nconrad commented on #2026
You have to use the folder icon for shared things.

I think we should have api methods that support stuff like this.  We currently would need to make a second request for permissions (because the permissions in LS are broken),  filter out public workspaces, bring back all data using the 'recursive' option, and filter by type on the client-side.

[2018-07-12 16:43] olsonanl opened #2027 "rast2QC crashes on invalid taxon id"
RUNNING rast2QC --genomeobj-file /disks/tmp/vXGetaDVkF --new-genomeobj-file /disks/tmp/UtPpuuBgoD
error running rast2QC: 65280
on command rast2QC --genomeobj-file /disks/tmp/vXGetaDVkF --new-genomeobj-file /disks/tmp/UtPpuuBgoD
Error parsing result from query https://p3.theseed.org/services/data_api/taxonomy/?q=taxon_id:151599.3&fl=lineage_ids,lineage_names,lineage_ranks&http_content-type=applicat

[2018-07-12 16:45] mshukla1 commented on #1962
Not sure if there is any short term action item here or we bite the bullet fix the file type / file format checking and make it consistently available across all services.

[2018-07-12 16:53] ARWattam commented on #2026
I do not understand what you mean here.  I used the share icon.  I put it
in a folder.  Are you saying that I would have to use the folder icon from
the assembly to find those reads?  That doesn't make sense to me.

On Thu, Jul 12, 2018 at 12:41 PM, nconrad <notifications@github.com> wrote:

[2018-07-12 16:53] nconrad opened #2028 "Require a user description on "report issue" dialog when job was completed"

[2018-07-12 16:53] olsonanl commented on #2026
I am not sure what you asking for here.

[2018-07-12 16:54] olsonanl commented on #1962
There is not a good hack fix to this.

[2018-07-12 17:05] nconrad commented on #2026
@ARWattam  Yeah, the folder icon next to the object selector.

@olsonanl I'm saying we should be able to do a recursive filter by type on the server-side, and should fix permissions on `ls` so that another request for permissions first is not needed.  But, it sounds like the second issue may be fixed?  https://github.com/PATRIC3/Workspace/issues/61

[2018-07-12 17:45] rkenyon commented on #2025
Agreed.

On Thu, Jul 12, 2018 at 12:31 PM hyoo <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-12 17:47] dawenx commented on #1978
@nconrad this is very hard to reproduce (and I was not able to reproduce it), but I understand your concern. A question: do you see similar issue in other services? This is a very important question as I have below theory/guess:

I originally thought this must be a WorkspaceObjectSelector issue. But WorkspaceObjectSelector is used in pretty much all services, why did we only experience this here?

[2018-07-12 18:42] dawenx commented on #1978
OK, neal and I played with this for a while via Skype, it looks like we can reproduced it when using touchPad on the mac and the problem is: sometime double clicking does not select the new object. We were not able to reproduce it when I used a separate mouse.

[2018-07-12 18:53] aswarren commented on #1962
Regardless of what we do to clean up the filetype space, we will still have filetypes; apps will still be authorized to work with certain filetypes; this one should be authorized to work with fastq since it supports it. If you want to clean up filetypes, that is a separate issue/ticket.

[2018-07-12 19:04] dawenx commented on #1978
neal and i made progress on this and the 'fix' is relatively easy. neal will take care of it. :)

[2018-07-12 19:09] aswarren commented on #1962
Hmm I think I need to walk that back. I forgot BAM, that is my bad. I will try to think about this.

[2018-07-12 19:14] olsonanl opened #2029 "folder selection doesn't work"
Any place I click on a teh folder icon to do a selection of a folder (e.g. picking a genome group folder) if I click into the folder I want and say OK, the selection comes back blank.

![screen shot 2018-07-12 at 2 13 11 pm](https://user-images.githubusercontent.com/2152226/42654316-d6c843a2-85dd-11e8-81ed-fd10e538bfcf.png)

[2018-07-12 20:05] aswarren commented on #1960
Adding Zane. He worked on the initial implementation.

[2018-07-12 20:31] mshukla1 commented on #1183
With the new home page, this widgets are no longer there. Obsolete.

[2018-07-12 20:31] #1183 closed, assigned to aswarren

[2018-07-12 20:37] mshukla1 commented on #1303
This issue has been resolved. I downloaded files and they were saved with correct file names and extensions.

[2018-07-12 20:37] #1303 closed, assigned to olsonanl

[2018-07-12 20:39] mshukla1 commented on #1301
I agree, once the genomes are indexed there are other ways of downloading the subset of features and corresponding sequences using search and filter, if user wishes.

[2018-07-12 20:39] #1301 closed, assigned to olsonanl

[2018-07-12 20:40] aswarren commented on #1962
After looking at this further it looks like BAM is its own type right now.
https://github.com/PATRIC3/Workspace/blob/master/typeslist.txt

![image](https://user-images.githubusercontent.com/229173/42656594-badfbe08-85ed-11e8-8cb0-d015f2c221bf.png)

So that isn't exactly an issue for this service.
More broadly, for my money, exploding types like "reads" and "contigs" into their constituent formats

[2018-07-12 20:42] mshukla1 commented on #1210
Given users may want to filter features by any of the genome metadata attributes, i.e. complete/wgs, reference/representative, amr resistance/susceptible etc, the way to do it is to first search for the genomes you are interested in and set the as your scope (or save them as group) and then search within those genomes for features of interest.

[2018-07-12 20:46] mshukla1 commented on #1372
Original sequence ids are now saved as part of the sequence description. Resolved.

<img width="1007" alt="screen shot 2018-07-12 at 3 46 11 pm" src="https://user-images.githubusercontent.com/1236463/42658378-bf97c312-85ea-11e8-8fd5-30e9c78236f1.png">

[2018-07-12 20:46] #1372 closed, assigned to olsonanl

[2018-07-12 20:48] #1399 closed, assigned to chmao1

[2018-07-12 20:53] mshukla1 commented on #1748
If you were logged in, the count will also include your private genomes, which are not made available on the FTP site.

I checked FTP and made sure all public genomes are available on the FTP site.

-Maulik

[2018-07-12 20:53] #1748 closed, assigned to mshukla1

[2018-07-12 20:59] mshukla1 commented on #1761
Verified that the fasta file format and the number of spaces is consistent between the files on the FTP site and the sequences downloaded from the website and data API.

I do not want to change the definition line as this is the frmat we have used for past 10 years and there are lot of users who have adapted there pipelines and scripts to match it.

-Maulik

[2018-07-12 20:59] #1761 closed, assigned to mshukla1

[2018-07-12 21:15] nconrad opened #2030 "remaining object selector improvements"
https://github.com/PATRIC3/p3_web/pull/772 addresses 2 selection issues.

Remaining:
- [x] double click should still be improved to always work on the first time, no matter is something is previously selected or not.

- [x] When selecting an output folder, the current folder should automatically be selected for all apps (similar to the dialog for moving objects).

[2018-07-12 21:25] #1888 closed, assigned to jimdavis1

[2018-07-12 21:35] mshukla1 commented on #1916
It could have been due to the missing blast databases at the time. I ran the query again and was able to find self hit.

I also verified that we have blast databases in place for all public genomes at this time.

-Maulik

[2018-07-12 21:51] aswarren commented on #1962
Since BAM is not currently a "reads" type.
This is enabled for Similar genome finder here.
https://github.com/PATRIC3/p3_web/pull/773

[2018-07-13 15:01] dawenx commented on #1981
Neal and I tried to reproduce it on 07/12/2018 and we could not. I'm wondering whether @mshukla1 @rkenyon @hyoo can help check this to see whether you can reproduce it.

PS. we found out the cause for #1978 and it should not have any affect on this particular issue.

[2018-07-13 15:18] dawenx commented on #2029
Bob: I tried it for a while and I do see it happened once, but I don't remember how I got there. Once I applied a small change on my local copy (in WorkspaceObjectSelector.js, this is related to #1978) and tried it, I don't see it any more. I'm not saying the problem is fixed and I suggest @nconrad to deploy his fix on WorkspaceObjectSelector.js. Two of us can test it more to see whether we still

[2018-07-13 15:40] dawenx opened #2031 "Service pages w/o login are confusing/problematic"
Previously, if a user is not logged in and tries to access any service, a login form was displayed. It looked like we did some changes lately and it's confusing/problematic for some services now:

As today (07/13/2018), when a user is not logged in, we show log in form for 12 of them (16 services in total). There are 4 services (BLAST, Similar Genome Finder, Protein Family Sorter and Comparative P

[2018-07-13 16:37] mshukla1 opened #2032 "Genome Browser: congratulates when it failes"
Genome browser failed to load for a genome because the genome sequences are missing (which is a data problem).

However, instead of saying that it failed to load because of data problem, I get the following message!!!

<img width="1025" alt="screen shot 2018-07-13 at 11 35 25 am" src="https://user-images.githubusercontent.com/1236463/42703104-1d456734-8691-11e8-8597-ec2a364c58af.png">

[2018-07-13 17:16] rkenyon commented on #2031
Actually, I believe that we would like to get to the point where all
service submission forms without logging in, but that the form is disabled
(except for links to User Guides and Tutorials) in some consistent way and
there is a clear message that login is required to use the service.

The rationale for this is that, for a new non-logged in user, it is jarring
and a bit frustrating to get a gener

[2018-07-13 17:20] rkenyon commented on #1981
Seemed to work OK when I just tried it.

Ron

On Fri, Jul 13, 2018 at 11:02 AM Dawen Xie <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-13 17:22] dawenx commented on #2031
@rkenyon I remember the discussion on this. But what we are showing on the production right now is more confusing IMHO. For example, the screen shot I attached shows a broken interface for uploading FASTA. And somewhat surprisingly, user now can use this service without logging in.

[2018-07-13 17:25] rkenyon commented on #2031
Yes, what is on production is confusing.  I'm just suggesting where we want
to go, ultimately.

On Fri, Jul 13, 2018 at 1:22 PM Dawen Xie <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-13 19:51] rkenyon commented on #391
@mshukla1 are we doing this now?  If so, can close ticket.

[2018-07-13 19:55] rkenyon commented on #487
@mshukla1 Is this still something we should do?  I'm not sure I see the value. If not, let's add won't fix tag and close.

[2018-07-13 20:00] rkenyon commented on #490
@ARWattam this is not a fix per se, but the user can sort the Excel table on "Start" to get the correct syntenic order.

[2018-07-13 20:01] rkenyon commented on #521
Done via new Comprehensive Genome Analysis Service.

[2018-07-13 20:01] #521 closed

[2018-07-13 20:04] ARWattam commented on #490
No you can't!!!!!!!!!!  Just try sorting the peg ids.  You have to manually
go in and put them in the proper order.  It is one of the most frustrating
things that I have to do.

On Fri, Jul 13, 2018 at 4:00 PM, rkenyon <notifications@github.com> wrote:

[2018-07-13 20:25] rkenyon commented on #490
Sort first by strand (+, -) then by Start site, *not PegID*.  A clunky
workaround, but should work.

On Fri, Jul 13, 2018 at 4:04 PM ARWattam <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-13 20:31] mshukla1 commented on #490
All PATRIC tables on the website are by default sorted by accession and then start site.

And I agree that, by default, the download table should keep the same sort order as that
in the feature table it is downloaded from.

Harry, is this straight forward or are there any technical challenges?

-Maulik

[2018-07-13 20:39] rkenyon commented on #2023
Supercedes #916

[2018-07-13 20:40] rkenyon commented on #916
Superceded by #2023

[2018-07-13 20:40] #916 closed

[2018-07-13 20:41] rkenyon commented on #1148
Outdated

[2018-07-13 20:41] #1148 closed, assigned to levinas

[2018-07-13 20:43] nconrad commented on #2030
- [x] titles on dialogs for output folder selection "Choose Output Folder", instead of "Choose or Upload Workspace Object"

<img width="534" alt="screen shot 2018-07-13 at 3 43 17 pm" src="https://user-images.githubusercontent.com/1194246/42713010-7a7401be-86b3-11e8-9697-6b2febbb79dc.png">

[2018-07-13 20:44] mshukla1 commented on #240
Obsolete. We don't have literature tab any more.

[2018-07-13 20:44] #240 closed

[2018-07-13 20:47] mshukla1 commented on #285
Given we have the new view icon and ability to download SVG image, I think we can close this issue.

[2018-07-13 20:47] #285 closed

[2018-07-13 20:53] mshukla1 commented on #1847
I believe this has been resolved with the new SU implementation. When I login as SU now or pretend to be another user, I see relevant shared workspaces.

[2018-07-13 20:53] #1847 closed, assigned to dmachi, nconrad

[2018-07-13 20:57] mshukla1 commented on #614
@ARWattam, do you still consider this to be a problem?

[2018-07-13 21:01] mshukla1 commented on #447
This has been addressed with the recent enhancements to the RNA-seq service.

-Maulik

[2018-07-13 21:01] #447 closed

[2018-07-13 21:03] mshukla1 commented on #518
I think we can drop this from the wish list for now. Closing the ticket.

[2018-07-13 21:03] #518 closed

[2018-07-13 21:04] mshukla1 commented on #555
@aswarren Can you please verify this is resolved? If not, please make it part of the July release.

[2018-07-13 21:05] mshukla1 commented on #585
This has been addressed with the CLI release.

-Maulik

[2018-07-13 21:05] #585 closed

[2018-07-13 21:06] mshukla1 commented on #608
@nconrad is this still an issue?

[2018-07-13 21:10] mshukla1 commented on #638
Obsolete. closing the ticket.

[2018-07-13 21:10] #638 closed

[2018-07-13 21:11] mshukla1 commented on #639
Obsolete. Closing the ticket.

[2018-07-13 21:11] #639 closed

[2018-07-13 21:13] mshukla1 commented on #652
Can we close this one or is it still an issue?

[2018-07-13 21:15] mshukla1 commented on #668
I believe modification times are not supported by the current workspace service.

[2018-07-13 21:15] #668 closed

[2018-07-13 21:18] mshukla1 commented on #783
I believe this is now addressed with the advanced search criteria in the global search.

[2018-07-13 21:18] #783 closed

[2018-07-13 21:19] mshukla1 commented on #915
I don't consider that important any more. We can close the ticket.

[2018-07-13 21:19] #915 closed

[2018-07-13 21:24] mshukla1 commented on #941
I checked one of my recent assembly job output. The GTMP report does show detailed table when clicked on the extended report link. The graph also has links to show two other plots. This means HTML contains all the information available in the PDF report.

<img width="1085" alt="screen shot 2018-07-13 at 4 22 39 pm" src="https://user-images.githubusercontent.com/1236463/42714548-38aa4c7e-86b9-11e8-

[2018-07-13 21:26] mshukla1 commented on #917
@hyoo Can you or Chris add links to relevant services / tools on the DLP pages?

...just links, no need for fancy icons.

-M

[2018-07-13 21:31] mshukla1 commented on #943
Not using genmark any more in PATRIC, closing the ticket.

[2018-07-13 21:31] #943 closed, assigned to brettin

[2018-07-13 21:45] mshukla1 commented on #946
We updated the version of IDBA, verified it is showing up in the auto assembly results.

[2018-07-13 21:45] #946 closed, assigned to levinas

[2018-07-13 21:58] mshukla1 commented on #1032
Addressed as mentioned in earlier comments.

[2018-07-13 21:58] #1032 closed, assigned to hyoo

[2018-07-13 22:00] mshukla1 commented on #1044
The drop down already shows recent genome groups. Given that user can have genome groups in home or other shared workspaces, I don't feel strongly about defaulting to home/genome_group. Closing it.

[2018-07-13 22:00] #1044 closed, assigned to nconrad

[2018-07-13 22:05] mshukla1 commented on #1062
@hyoo can you check if this is doable?

[2018-07-13 23:06] olsonanl commented on #652
Yes, if one can still put a genome name in with parentheses.

[2018-07-14 14:55] mshukla1 commented on #1686
Recent updates in taxonomy data at PATRIC has taken care of this. IT is now part of the complex.

<img width="1012" alt="screen shot 2018-07-14 at 9 53 58 am" src="https://user-images.githubusercontent.com/1236463/42725603-13301d14-874c-11e8-8531-2e519ea5e1ee.png">

[2018-07-14 14:55] #1686 closed, assigned to mshukla1

[2018-07-14 15:51] mshukla1 commented on #1967
Cleaned up all the sp gene records with erroneous pubmed ids.

[2018-07-14 15:51] #1967 closed, assigned to mshukla1

[2018-07-14 15:54] mshukla1 commented on #1873
All collection dates were cleaned up as part of the last data release. I don't see this error any more.

-Maulik

[2018-07-14 15:54] #1873 closed, assigned to mshukla1

[2018-07-14 17:07] mshukla1 commented on #1853
All bad PATRIC ids have been corrected in the database. The annotation pipeline has also been updated to avoid such problem for new genomes.

-Maulik

[2018-07-14 17:07] #1853 closed, assigned to mshukla1

[2018-07-14 17:16] mshukla1 commented on #1852
I have updated the erroneous peg ids in the database, which were causing problem with the circos.

I have tested proteome comparison with the two genomes above and it is working fine.

<img width="850" alt="screen shot 2018-07-14 at 12 15 15 pm" src="https://user-images.githubusercontent.com/1236463/42726787-bbebe3ee-875f-11e8-807b-f1107cbefd5b.png">

[2018-07-14 17:16] #1852 closed, assigned to chmao1

[2018-07-14 20:24] mshukla1 commented on #1691
This has been addressed with the recent taxonomy updates.

<img width="1214" alt="screen shot 2018-07-14 at 12 51 57 pm" src="https://user-images.githubusercontent.com/1236463/42728178-06736c88-877a-11e8-8c1c-9273d7fca60c.png">

[2018-07-14 20:26] mshukla1 commented on #1691
Note that in the bread crumbs we show only select taxonomy levels, i.e. genus and species, not sub genus or sub species, to limit the length of the Bread crumbs.

[2018-07-14 20:26] #1691 closed, assigned to mshukla1

[2018-07-16 02:35] mshukla1 commented on #1442
It was bad genome, hence, it was removed from the database as part of the data clean up.

[2018-07-16 02:35] #1442 closed, assigned to mshukla1

[2018-07-16 02:40] mshukla1 commented on #1419
Sequences column have been been deprecated, as it created confusion between contigs and sequences. Instead, now, contigs indicate the total number of contigs, including chromosomes, plasmids, and unmapped contigs.

For this genome, now the number of contigs and total sequences in the genome both are 55.

https://patricbrc.org/view/Genome/470735.4#view_tab=sequences

[2018-07-16 02:40] #1419 closed, assigned to mshukla1

[2018-07-16 11:17] hyoo commented on #490
No. Check the original reason i described above.
I checked streaming expression of solr 6, but this works only on cloud mode. So, we can't use it.

[2018-07-16 11:25] mshukla1 commented on #490
Check this out, see if it is relevant.

Streaming Requests and Responses <https://lucene.apache.org/solr/guide/6_6/streaming-expressions.html#StreamingExpressions-StreamingRequestsandResponses>
Solr has a /stream request handler that takes streaming expression requests and returns the tuples as a JSON stream. This request handler is implicitly defined, meaning there is nothing that has to be defin

[2018-07-16 11:25] chris-c-thomas commented on #917
Will do

Sent from my iPhone

On Jul 16, 2018, at 6:23 AM, hyoo <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #917<https://github.com/PATRIC3/patric3_website/issues/917> to @chris-c-thomas<https://github.com/chris-c-thomas>.

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub<https://github.com/PATRIC3/patric3_website/

[2018-07-16 11:34] hyoo commented on #917
I will delegate adding links to Chris, and I will create a list to add. @chris-c-thomas please wait until I complete the list.

- Antibiotic Resistance: NA

- Genomes:
      Genome Assembly, Genome Annotation, Comprehensive Genome Analysis,
      Similar Genome Finder, Variation Analysis, Tn-Seq Analysis, Phylogenetic Tree Building,
      Proteome Comparison

- Genomic Features:
      BLAST, Prote

[2018-07-16 11:35] chris-c-thomas commented on #917
Okay, no problem.

Sent from my iPhone

On Jul 16, 2018, at 6:34 AM, hyoo <notifications@github.com<mailto:notifications@github.com>> wrote:

Reopened #917<https://github.com/PATRIC3/patric3_website/issues/917>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/PATRIC3/patric3_website/issues/917#event-1735088440>, or mute the t

[2018-07-16 11:38] hyoo commented on #490
First line of the doc,
"Streaming Expressions provide a simple yet powerful stream processing language for Solr Cloud."

[2018-07-16 14:50] rkenyon commented on #486
At this point, there is not much value added by incorporating the viewer.  Labled as won't fix and closing.

[2018-07-16 15:08] #1920 closed, assigned to hyoo, chris-c-thomas

[2018-07-16 15:50] hyoo commented on #1284
This requires web & data api deployment. Code changes are in repo. This will be deployed on production before the July release.

[2018-07-16 15:51] hyoo commented on #1488
This is addressed by #1284

[2018-07-16 16:27] rkenyon commented on #1415
Seems to be working now.  Not sure what the problem was.

[2018-07-16 16:27] #1415 closed, assigned to hyoo

[2018-07-16 16:30] rkenyon commented on #1675
Closing since covered by #1696

[2018-07-16 16:30] #1675 closed, assigned to olsonanl

[2018-07-16 16:30] mshukla1 commented on #1488
Harry, this is important for Jim and I like to review the UI functionality with him and make sure it meets his expectations before we close the ticket.

-Maulik

[2018-07-16 16:31] #1488 closed, assigned to mshukla1, hyoo

[2018-07-16 16:31] mshukla1 commented on #1284
Harry, this is important for Jim and I like to review the UI functionality with him and make sure it meets his expectations before we close the ticket.

-Maulik

[2018-07-16 19:00] hyoo commented on #2009
Maulik and I discussed, and we're going to address this issue on PDP5, nov 2018 release. closing.

[2018-07-16 19:00] #2009 closed, assigned to mshukla1, hyoo, chris-c-thomas

[2018-07-16 19:34] #1970 closed, assigned to hyoo, dawenx

[2018-07-16 19:35] hyoo commented on #1952
lets do this in PDP5, as a system hardening effort.

[2018-07-16 19:35] #1952 closed, assigned to hyoo

[2018-07-17 13:51] hyoo commented on #1939
@dmachi This is a problem of missing definition of function, name op(),
called by https://github.com/persvr/rql/blob/master/js-array.js#L408
and defined https://github.com/persvr/rql/blob/master/js-array.js#L366

This works in developer mode, when it loads rql/js-array dynamically, but failed to find the function in production mode.

@dmachi would you take a look ?

[2018-07-17 13:54] hyoo commented on #1932
yes, currently we're not recording subtabs in url, so, browser thinks sub tabs are within one page. This is same behavior on protein families and pathways.

[2018-07-17 13:54] #1932 closed, assigned to hyoo, AndrewGuard

[2018-07-17 14:26] dawenx commented on #1981
I'm planning to close it if I don't hear objection by EOD.

[2018-07-17 14:28] dawenx commented on #1517
I plan to close this ticket unless I hear someone's objection by EOD.

[2018-07-17 15:18] olsonanl commented on #1517
I don't think I've seen this behavior lately. Will open a new ticket if I do.

[2018-07-17 15:37] mshukla1 commented on #414
I have script now that can identify all genomes with obsolete taxon ids that are merged with some new taxon id, and update them accordingly.

There were 277 such genomes in the database at this time, they are all being updated as part of the July 2018 release.

[2018-07-17 15:37] #414 closed

[2018-07-17 15:38] mshukla1 commented on #1824
I have script now that can identify all genomes with obsolete taxon ids that are merged with some new taxon id, and update them accordingly.

There were 277 such genomes in the database at this time, they are all being updated as part of the July 2018 release.

[2018-07-17 15:38] #1824 closed, assigned to mshukla1

[2018-07-17 16:10] hyoo opened #2033 "searching on taxa doesn't work"
https://patricbrc.org/view/TaxonList/?and(keyword(Pseudomonas),keyword(parafulva),keyword(DSM),keyword(%2217004%22))

or
https://patricbrc.org/view/TaxonList/?keyword(Pseudomonas)

[2018-07-17 17:48] dawenx commented on #1517
Close this as we cannot reproduce it now.

[2018-07-17 17:48] #1517 closed, assigned to dawenx

[2018-07-17 18:17] nconrad commented on #309
We decided to filter out "deleted" jobs from the UI (with addition of a "kill job" button).   PR was https://github.com/PATRIC3/p3_web/pull/774 and will be on alpha.

[2018-07-17 18:20] nconrad commented on #1954
duplicate/fixed.  see https://github.com/PATRIC3/patric3_website/issues/2030

[2018-07-17 18:20] #1954 closed, assigned to nconrad

[2018-07-17 18:22] nconrad commented on #1978
fix is on alpha and see https://github.com/PATRIC3/patric3_website/issues/2030 for remaining work.

[2018-07-17 18:25] nconrad commented on #1625
Duplicate of https://github.com/PATRIC3/patric3_website/issues/1839.  But, note that you can get the count by selecting everything in the workspace (shift-click):

![image](https://user-images.githubusercontent.com/1194246/42837851-d90a1538-89c4-11e8-86a6-962d18353cd4.png)

[2018-07-17 18:25] #1625 closed, assigned to nconrad

[2018-07-17 19:10] #1957 closed, assigned to chmao1

[2018-07-17 19:14] chmao1 commented on #2010
Fixed and available on alpha.

[2018-07-17 19:14] #2010 closed, assigned to chmao1

[2018-07-17 19:55] hyoo commented on #1991
lets start app defines proper input and its file type.

1. reads: assembly, varation, rna-seq, tn-seq, metagenomics
   => file name has to be one of .fq, .fastq, .bam, .fa, .fasta, .fq.gz, .fastq.gz, .bam.gz, .fa.gz, .fasta.gz
2. contigs: annotation.
   => file name has to be ?

[2018-07-18 14:42] rkenyon commented on #1111
Now in Help Menu.  Closing ticket.

[2018-07-18 14:42] #1111 closed, assigned to rkenyon

[2018-07-18 15:32] olsonanl commented on #1905
p3-mkdir is now in the release.

[2018-07-18 15:32] #1905 closed, assigned to olsonanl

[2018-07-18 18:36] rkenyon commented on #2016
Have updated the page in GitHub.  Will close ticket when it is (auto-)updated on the website.

[2018-07-18 19:32] rkenyon opened #2034 "Fix broken links in AMR Phenotypes User Guide"
https://docs.patricbrc.org//user_guides/organisms_taxon/amr_phenotypes.html

Broken links are
  Antibiotics Data
  Antibiotic Resistance Data

Both of these will require generation of new user guides.

[2018-07-18 20:03] rkenyon commented on #2016
Done

[2018-07-18 20:03] #2016 closed, assigned to rkenyon, chris-c-thomas

[2018-07-18 20:10] rkenyon commented on #2034
There are many additional broken links found by http://www.brokenlinkcheck.com/

[2018-07-18 20:14] chris-c-thomas commented on #2034
Yes there are quite a few being listed by that program. Would you like me to go through and update them?

[2018-07-19 19:30] nconrad opened #2035 "cleanup job status meta, add std out/err for all jobs"
![image](https://user-images.githubusercontent.com/1194246/42965676-3cc06ce8-8b60-11e8-87aa-bdfea2040104.png)

[2018-07-19 21:13] nconrad opened #2036 "reset button results in console error"
In annotation app.  Maybe not critical, but should be fixed.

![image](https://user-images.githubusercontent.com/1194246/42970012-b841dade-8b6d-11e8-8851-eb42c8716e89.png)

![image](https://user-images.githubusercontent.com/1194246/42970320-9dabb860-8b6e-11e8-8955-286cd31987fc.png)

[2018-07-20 15:18] hyoo commented on #2033
![image](https://user-images.githubusercontent.com/1236467/43010478-357e6f2e-8c06-11e8-9e6f-676298f27838.png)

works on alpha now.

[2018-07-20 15:19] hyoo commented on #2032
new message.
![image](https://user-images.githubusercontent.com/1236467/43010566-634d4fe2-8c06-11e8-951e-741a02fa9bc1.png)

[2018-07-20 15:21] hyoo commented on #2025
works,
![image](https://user-images.githubusercontent.com/1236467/43010631-93e374e2-8c06-11e8-84b3-a38d76e55fe1.png)

when invalid,
![image](https://user-images.githubusercontent.com/1236467/43010647-9ed0f79e-8c06-11e8-80b0-c00e47736e53.png)

[2018-07-20 15:23] hyoo commented on #2011
![image](https://user-images.githubusercontent.com/1236467/43010727-d60d996a-8c06-11e8-9fd5-5d05e505ac63.png)

![image](https://user-images.githubusercontent.com/1236467/43010745-e23f65e2-8c06-11e8-8999-719106fb8393.png)

[2018-07-20 15:27] hyoo commented on #1975
https://alpha.patricbrc.org/view/PathwayMap/?annotation=PATRIC&genome_id=83332.12&genome_ids=83332.12&pathway_id=00010

![image](https://user-images.githubusercontent.com/1236467/43010876-57614b88-8c07-11e8-90d1-d54b1c836f73.png)

[2018-07-20 15:33] hyoo commented on #1284
Genome level

https://alpha.patricbrc.org/view/Genome/1313.15743#view_tab=features&filter=and(eq(feature_type,%22classifier_predicted_region%22),or(eq(annotation,%22PATRIC%22)))

![image](https://user-images.githubusercontent.com/1236467/43011136-362925b6-8c08-11e8-9324-ed0b32d3eba0.png)

Feature level

https://alpha.patricbrc.org/view/Feature/PATRIC.1313.15743.CLVQ01000001.classifier_predicted_re

[2018-07-20 15:34] hyoo commented on #1549
#1284

[2018-07-20 15:36] rkenyon commented on #2013
This feature worked for me in alpha.

[2018-07-20 15:42] rkenyon commented on #2011
When I tried it on alpha, I did not get the additional PATRIC Global or Local Family.  I used a common Mtb feature.
![screen shot 2018-07-20 at 11 41 28 am](https://user-images.githubusercontent.com/3188570/43011588-f9696320-8c11-11e8-8b7e-99731fdd2065.png)

[2018-07-20 15:44] hyoo commented on #2011
yes, because you searched for sequence, not gene/CDS.

change your target database to ffn

[2018-07-20 15:50] rkenyon commented on #1975
I tried it and it worked for me on alpha.

[2018-07-20 15:57] rkenyon commented on #2033
worked for me on alpha
![screen shot 2018-07-20 at 11 56 22 am](https://user-images.githubusercontent.com/3188570/43012312-ff194978-8c13-11e8-8f44-fc605795c1d5.png)

[2018-07-20 15:57] hyoo commented on #2022
App deployed on alpha, and removed from p3_docs repo.

[2018-07-20 16:03] rkenyon commented on #2025
Seems to be working for a few test cases I tried.

![screen shot 2018-07-20 at 12 03 00 pm](https://user-images.githubusercontent.com/3188570/43012736-ec2baa30-8c14-11e8-887e-3a6f78ccc847.png)

[2018-07-20 16:16] rkenyon commented on #1284
I was able to see these as well.  Used Harry's examples though because I couldn't find genomes or features with values for this.

[2018-07-20 16:17] rkenyon commented on #1549
Verified using Harry's examples shown in #1284

[2018-07-20 16:44] hyoo commented on #2013
worked for me as well. closing.

[2018-07-20 16:44] #2013 closed, assigned to nconrad

[2018-07-20 16:45] #2033 closed, assigned to hyoo

[2018-07-20 16:46] #1975 closed, assigned to hyoo

[2018-07-20 17:14] hyoo commented on #1549
@jimdavis1 would you try on alpha?

[2018-07-21 03:46] #1284 closed, assigned to mshukla1, hyoo

[2018-07-21 03:46] #1978 closed, assigned to nconrad, dawenx

[2018-07-21 03:46] #2011 closed, assigned to hyoo

[2018-07-21 03:46] #2032 closed, assigned to hyoo

[2018-07-23 15:01] hyoo opened #2037 "fix broken api call in PPI tab"
for example,
https://patricbrc.org/view/Taxonomy/10239#view_tab=interactions

this fires
or(in(genome_id_a,()),in(genome_id_b,()))&eq(evidence,experimental)

[2018-07-23 15:39] dawenx commented on #2022
verified this on production.

[2018-07-23 15:39] #2022 closed, assigned to rkenyon, dawenx

[2018-07-23 15:39] #1981 closed, assigned to dawenx

[2018-07-23 15:40] #487 closed

[2018-07-23 17:00] #2030 closed, assigned to nconrad

[2018-07-23 17:00] #309 closed

[2018-07-23 17:38] rkenyon commented on #2034
I have a complete list and I'm starting to work on them.  Most should be very straightforward.  I am not fixing the ones in the News since they point to pages that are now obsolete.

[2018-07-23 20:33] dawenx commented on #2023
As discussed, we will add a new action icon below HIDE/SHOW icon in action bar. I will try to add this to all tabs under Organisms, except the 'Overview' tab as there's no action bar there.

[2018-07-24 02:14] mshukla1 opened #2038 "Keep list of webinars up-to-date"
We need to keep the page listing upcoming and past webinars up-to-date.

https://docs.patricbrc.org//webinar/#upcoming-webinars

[2018-07-24 14:59] dawenx commented on #2023
This is what we can do in this round:

I have addressed this to all tabs under Taxon view (except the 'Overview' tab); I can only add it to 'Correlated Genes' and 'Interactions' tabs under Gene view. for Genome view, I cannot add it to Genome Overview, Genome Browser and Circular Genome Viewer. @rkenyon @mshukla1

@hyoo I checked in my codes and a PR has been submitted.

[2018-07-24 17:20] chris-c-thomas commented on #2038
https://github.com/PATRIC3/p3_docs/pull/53

Added the event for next month. Will continue to add events along with details such as date & time every time Rebecca let's me know.

[2018-07-24 19:15] #2037 closed, assigned to hyoo

[2018-07-24 21:08] dawenx commented on #2023
this is on alpha, please verify and let me know if anything else needs to be done. @rkenyon

[2018-07-25 16:02] hyoo commented on #2015
![image](https://user-images.githubusercontent.com/1236467/43212676-3dd785dc-8ffa-11e8-83b8-36de62b94026.png)

now this is on production

[2018-07-25 16:08] #1375 closed, assigned to hyoo

[2018-07-25 16:13] chris-c-thomas commented on #2015
We can close?

[2018-07-25 16:25] rkenyon commented on #2015
yes

On Wed, Jul 25, 2018 at 12:13 PM Chris Thomas <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-25 16:27] #2015 closed, assigned to hyoo, chris-c-thomas

[2018-07-26 13:05] hyoo opened #2039 "prevent broken data api call from taxonomy ID selector"
Taxonomy ID selector triggers broken query, for example, Annotation or Comprehensive Genome Analysis app,

![image](https://user-images.githubusercontent.com/1236467/43263982-72569a68-90aa-11e8-862c-fe9507e988af.png)

click drop down button,

![image](https://user-images.githubusercontent.com/1236467/43264007-837195be-90aa-11e8-86bb-0c82520a57bc.png)

![image](https://user-images.githubusercontent

[2018-07-26 13:50] hyoo commented on #2039
this is part of #1806

[2018-07-26 15:52] hyoo commented on #1810
@nconrad can we  shrink drag & drop zone (or increase the height of dialog, but shouldn't be too big for low resolution screens) so that buttons can show up? I found myself confusing, because I couldn't find submit or upload button until i scroll down.

[2018-07-26 16:13] rkenyon commented on #2034
Many reported broken links were in either old News items which reference obsolete items, or in the old User Guides.  Neither of these categories will be fixed.
The remaining have been fixed except for ones in the CLI Tutorial section.  These require some additional research back to the source material.  See #2040

[2018-07-26 16:13] #2034 closed, assigned to rkenyon

[2018-07-26 16:15] rkenyon opened #2040 "Fix remaining broken links in CLU Tutorial pages"
Some CLI Tutorial pages have broken links to files that do not exist.  Also, some links may be internal, but not clear.
[CLI-tutorial_broken_links.xlsx](https://github.com/PATRIC3/patric3_website/files/2232738/CLI-tutorial_broken_links.xlsx)

[2018-07-26 16:18] nconrad commented on #1810
@hyoo, yeah, I'll improve this for the July release

[2018-07-26 16:22] nconrad commented on #2036
Hey @dawenx, I'm assigning this to you because it may be related to https://github.com/PATRIC3/patric3_website/issues/2039

[2018-07-26 17:27] aswarren opened #2041 "Similar Genome Finder documentation"
A better explanation of the advanced parameters in the help is needed in the i-box and on the help page. Specifically an explanation of the "distance","p-value" parameters.

[2018-07-26 17:41] rkenyon commented on #2041
I'll be glad to put them in tine document, but I would need someone to provide the explanations.

[2018-07-26 17:50] aswarren commented on #1962
It looks like fastq only works when it is small and compressed fastq files don't seem to work even though MASH supports it. The invocation of MASH may need to be reworked for fastq:
https://github.com/marbl/Mash/issues/32

[2018-07-26 17:52] dawenx commented on #2036
yeah, this is related issue and i'm going to take care of it.

[2018-07-26 17:56] rkenyon commented on #2038
We (Ron) will add as they are scheduled and update when recorded.  Closing the ticket.

[2018-07-26 17:56] #2038 closed, assigned to rkenyon, chris-c-thomas

[2018-07-26 17:58] rkenyon commented on #1392
Still not really sure what is meant by AMR Classifier tutorial.  @mshukla1 ?

There is a tutorial now on Examining AMR Data in PATRIC:
https://docs.patricbrc.org//tutorial/amr/amr.html

[2018-07-26 18:05] olsonanl commented on #1962
How does it fail?

[2018-07-26 18:10] mshukla1 commented on #1392
This was long time ago, so hard to remember. I believe it was the following tutorial,
which is available from the seed tutorial site, but not PATRIC.

http://tutorial.theseed.org/AdaBoost_Installation_Tutorial.htm <http://tutorial.theseed.org/AdaBoost_Installation_Tutorial.htm>

[2018-07-26 18:12] mshukla1 commented on #1392
We also need detailed explanation for the AMR classifier predictions and features in PATRIC tutorials / FAQs.
similar to the one below.

http://tutorial.theseed.org/RAST_Predictions.htm <http://tutorial.theseed.org/RAST_Predictions.htm>

[2018-07-26 18:15] rkenyon commented on #1392
Thanks, I'll work on it. That same info should have been sent for inclusion
on PATRIC as well as RAST.

On Thu, Jul 26, 2018 at 2:12 PM Maulik Shukla <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-26 18:17] rkenyon commented on #1392
Is there an up-to-date list of classifiers and scores somewhere?  The
information in the RAST prediction page is from Jan 2017.

http://tutorial.theseed.org/RAST_Predictions.htm

On Thu, Jul 26, 2018 at 2:15 PM Ron Kenyon <rkenyon@bi.vt.edu> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.

[2018-07-26 18:21] mshukla1 commented on #1392
Jim,

Can you provide updated list of AMT classifiers? Even better would be if you
can draft AMR classifier tutorial/faq pages for PATRIC doc site.

-Maulik

[2018-07-26 18:27] aswarren commented on #2041
The "Distance" parameter sets the maximum MASH distance to include in the similar genome finder results.
MASH distances are probabilistic estimates associated with p-values. The "p-value threshold" parameter sets the maximum allowable p-value associated with the MASH Jaccard estimate used in calculating the distance.

[2018-07-26 18:40] aswarren commented on #1962
@olsonanl Scratch that. It succeeded. We just were not setting the MASH distance threshold to be permissive enough. This seems to be common enough (along with the need to search all public genomes) that I'm wondering if we should be hiding the "Advanced" parameters here by default. They don't seem very "Advanced" and most people would want to know that they are searching only "Reference & Represen

[2018-07-26 18:49] Tinyman392 opened #2042 "Interesting bug"
The bug shows up on Safari Version 11.1.2 (13605.3.8) and Firefox 60.0.1 (64-bit) but doesn't for Chrome Version 68.0.3440.75 (64-bit).

While in PATRIC (I was on a Phylogenetic Tree Tab for Buchnera in this case, but it works on anything really).  Go into any service (I used Phylogenetic Tree Builder) and click open a dropdown menu.  Either click the back button or swipe back while the dropdown i

[2018-07-26 18:56] dawenx commented on #2039
i believe i have fixed it, PR submitted.

[2018-07-26 19:29] #1962 closed, assigned to hyoo, olsonanl

[2018-07-26 19:32] aswarren opened #2043 "Similar genome finder GZIP'd support"
MASH is capable of running on gzipped fastq files and possibly gzipped fasta files. However, when we try this is PATRIC it seems not to work. Check out the invocation of MASH and make accommodation for GZIP files.

[2018-07-26 22:23] nconrad opened #2044 "fix scrolling on static pages"
![image](https://user-images.githubusercontent.com/1194246/43291839-a28d723a-90f8-11e8-83af-5d074fae79e6.png)

[2018-07-27 13:48] aswarren opened #2045 "Hybrid assembly support"
Many at ATCC were interested in using a combination of Illumina and PacBio to do hybrid assembly.
If we can do that using SPADES it is not well documented.
If we can't do that, we should consider adding the feature.
It seems to be prevalent in the literature as well.

[2018-07-27 13:51] aswarren opened #2046 "ID mapping support for genome and sequence id's"
From ATCC user attempt:
Even though I believe the ID mapping table from Uniprot does not support sequence / genome IDs.
We could still support Refseq / Genbank / PATRIC id's on this app.

[2018-07-27 13:52] aswarren opened #2047 "MSA working splash screen"
Working on MSA needs a splash wheel to tell us it is thinking.

[2018-07-27 13:55] Tinyman392 opened #2048 "Quickstart Video Appears Several Times Daily"
From ATCC workshop, multiple users are stating that the QuickStart video that appears when you first start using PATRIC is appearing several times a day on their Windows machines (it looks like windows 7) running Chrome, it may happen on other browsers as well.

[2018-07-27 13:55] aswarren opened #2049 "Comprehensive Genome Analysis Sub-object workspace refresh"
When drilling down into a sub-object in a CGA job object the page is not refreshing to show the contents even though the top nav header and URL is changing.

![image](https://user-images.githubusercontent.com/229173/43324882-33948964-9183-11e8-8484-ec3559a12e31.png)

[2018-07-27 13:58] mshukla1 commented on #2046
Can you elaborate?

All db-xrefs related to genomes, i.e. SRA/bioproject/biosample/genbank/refaseq accessions are
all part of the genome metadata. You can search for any of them using global search. You can also
enter a list of them (separated by space) and search for all of them at once using exact match any.

I agree that expanding ID mapping as a uniform interface for any batch id mapping would

[2018-07-27 14:01] Tinyman392 opened #2050 "Names of genomes cutoff in MSA"
Names of genomes cutoff in MSA.  If you zoom out, they still are cut off until you zoom out.  If you zoom out and refresh, the names are normal length again, but you have to wait for the MSA to re-run.

[2018-07-27 14:03] aswarren opened #2051 "Job object type in workspace"
A column in the workspace that shows job result type would be very useful

![image](https://user-images.githubusercontent.com/229173/43325295-4b5d08b8-9184-11e8-9d61-15cd3cf0245e.png)

[2018-07-27 14:04] aswarren commented on #2051
Is it Assembly? CGA? RNA-Seq? Variation?

[2018-07-27 14:07] aswarren opened #2052 "Job objects lack checkered flag"
Job objects lack checkered flag

A few are: CGA and proteome comparison tool.

Perhaps others.

[2018-07-27 14:10] aswarren commented on #2046
Your last sentence hit upon it exactly. There is a lack of support for some of those outside ID types in the ID mapping tool.

A short cut would be to have a Feature/Genome/Sequence dropdown in the ID mapping tool. If they select Sequence/Genome it could just return an global search result using the IDs. (very quick implementation)

[2018-07-27 14:11] dmachi commented on #2048
This will need some debugging on a windows machine to see what is happening.  We can remove the autoplay altogether if desired.  The QuickStart video remembers it has already been played by setting a value on browser local storage.  So if it is playing more than once, it is either failing to set that value (perhaps due to security somewhere) or it is getting cleared out.

[2018-07-27 14:27] Tinyman392 opened #2053 "Naming Metagenome Bins"
If I were to bin 2 metagenomes that both contain an E. coli clonal population (along with other stuff).  Both metagenomes would return a genome named Escherichia coli clonal population.  It may be useful to allow users to add some unique identifier to the end of each of the meta genome clonal population names similar to what we do for annotation since these names can't be changed after the fact.

[2018-07-27 14:28] rkenyon commented on #2045
This request comes up frequently.  I thought we have a solution, but I'm
not sure what it is.

On Fri, Jul 27, 2018 at 9:49 AM Andrew Warren <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-27 14:41] Tinyman392 opened #2054 "Links in Metagenome Binning Service shouldn't create new subframe/subwindow"
If you open the Metagenome binning service, then click on the report HTML file, it will open normally in the subframe/subwindow.  However, from there, if you navigate within the subframe/window to get back to the binning service results, you can reopen the report HTML file to open another subframe/subwindow within the subframe/subwindow.  You can keep repeating this process.

<img width="1680" alt

[2018-07-27 17:41] hyoo commented on #2048
Check the browser configuration whether it has "clear cache/history when closing" configured.
see https://k12parentportal.force.com/k12help/s/article/Set-Browser-to-Clear-Cache-When-Closing
for setup.

[2018-07-27 17:42] hyoo commented on #2048
sorry, wrong click.

[2018-07-27 17:51] dmachi commented on #2048
I’m not too concerned if this happens after clearing cache, though  people can avoid it by not clearing the local storage when they clear cache as you pointed out.  I assumed, perhaps incorrectly, that this error is happening without clearing cache.

[2018-07-27 19:37] nconrad opened #2055 "compare_regions service ping endpoint"
Just creating a ticket so we don't forget.  I'm missing compare_regions and maybe others.  Here's what I have currently:

![image](https://user-images.githubusercontent.com/1194246/43343043-71fde728-91aa-11e8-9c5a-ebe7b6048c55.png)

[2018-07-28 17:41] ARWattam opened #2056 "Text box filter on Protein Family Sorter doesn't work"
I enter the PLFam IDs, and nothing happens when I click filter.  Here is the error code that I see:

dojo.js.uncompressed.js:324 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
s.getText @ dojo.js.uncompressed.js:324
protein_family_sorter_input_form.png:1 Fa

[2018-07-28 17:51] ARWattam opened #2057 "Creating a feature group from the Protein Family Sorter with a specific PLF and 66 genomes returns mutliple PLFams and 146 genomes"
This is VERY FRUSTRATING!!!!  Everything appears to be broken in the Protein Family sorter and it is making my life miserable.

I have 2 genome groups with private genomes.  As the filter box doesn't work, I had to page through the PFS table until I found PLF_1279_00002629.  I created a feature group of that across my 66 genomes.  But when I went to look at that group, here were the PLFs associate

[2018-07-28 18:42] ARWattam opened #2058 "Filter on top of feature page not isolating PLFams correctly"
Somebody can log into my account and look at the genome group PB and RB Yeaman.  Click on that group, go to the group view, and then click on the Feature tab.  In the filter box at the top of that tap put in PLF_1279_00000541 and hit return.  The table filters itself to show TWO PLFs that don't even look similar.  Why is this happening?
<img width="1124" alt="screen shot 2018-07-28 at 2 39 21 pm"

[2018-07-28 19:57] mshukla1 commented on #2058
Use double quotes: “PLF_1279_00000541”

without it, you will get all there records that have PLF AND 1279 AND 00000541

[2018-07-28 20:23] mshukla1 commented on #2057
I suspect you created went through paging, selected PLF_1279_00000541, created a group, then continued
to next pages until you found PLF_1279_00002617, created another group, and then selected PLF_1279_00002629,
and created third group….without each time without deselecting previous choice. That is why each of your
feature groups contain previous selection as well.

Unless you reload page or manua

[2018-07-28 20:25] mshukla1 commented on #2056
The PFS keyword search does seem to be broken with PLfam, it seems to be working with PGFam though.

Harry, can you check please?

[2018-07-28 20:58] ARWattam commented on #2057
That makes sense. I believe you are right. Thanks for your help.

Rebecca

Sent from my iPhone

[2018-07-30 14:51] rkenyon opened #2059 "New CGA tutorial is missing from Tutorials page"
https://docs.patricbrc.org//tutorial/

![screen shot 2018-07-30 at 10 50 43 am](https://user-images.githubusercontent.com/3188570/43404836-731684ec-93e6-11e8-8457-8daa53b98c09.png)

[2018-07-30 15:02] chris-c-thomas commented on #2059
![screen shot 2018-07-30 at 9 59 47 am](https://user-images.githubusercontent.com/22353987/43405476-8822b1e6-93df-11e8-9568-e50eb157a3e9.png)

Fixed on my local dev. Merging with Master and should update on production soon. Will close out when I see it there.

[2018-07-30 15:44] hyoo commented on #2036
this is fixed on alpha. thanks.

[2018-07-30 15:44] #2036 closed, assigned to dawenx

[2018-07-30 15:46] hyoo commented on #2039
confirmed on alpha.

[2018-07-30 15:46] #2039 closed, assigned to dawenx

[2018-07-30 15:49] hyoo commented on #2023
- Phylogeny
![image](https://user-images.githubusercontent.com/1236467/43408114-1de1d7ba-93e6-11e8-8268-7aaa08d444c3.png)

- Taxonomy
![image](https://user-images.githubusercontent.com/1236467/43408087-0f0fd1e2-93e6-11e8-94c5-ed9219dd049f.png)

- Genomes
![image](https://user-images.githubusercontent.com/1236467/43408101-167977d0-93e6-11e8-8952-6e5352ea4fb0.png)

- AMR Phenotypes
![image](https://

[2018-07-30 16:03] hyoo commented on #2023
- features
![image](https://user-images.githubusercontent.com/1236467/43408521-35acf2fc-93e7-11e8-8d39-1f077001c016.png)

- Specialty genes
![image](https://user-images.githubusercontent.com/1236467/43408546-479486a6-93e7-11e8-8d99-2171fa4aaeb7.png)

- Protein family
![image](https://user-images.githubusercontent.com/1236467/43408564-534688aa-93e7-11e8-8e22-1d8cc82aaeb5.png)

- Pathways
![image](h

[2018-07-30 16:09] hyoo commented on #2023
Here is the list of tabs that don't have user guide link
- Taxon overview
- Genome overview
- Genome level genoem browser
- Genome level circular viewer
- Feature overview
- Feature level genome browser
- Feature level compare region viewer
- Feature level transcriptomics

[2018-07-30 16:14] rkenyon commented on #2023
Thanks Harry, I was starting to work on the same list.  For those, it is
not a clear where the link should go I think.

Ron

On Mon, Jul 30, 2018 at 12:09 PM hyoo <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-07-30 16:37] hyoo commented on #2056
[code]
Was this during the function update?

[2018-07-30 18:30] #1995 closed, assigned to hyoo

[2018-07-30 18:33] mshukla1 commented on #2056
Yes, she ran it on the weekend when function update was in progress.

Do you think it is related to the function update, probably missing protein family or descriptions in family_ref?

-Maulik

[2018-07-30 18:44] hyoo commented on #2024
@zreyn @nconrad I guess this is due to the missing type while we're activating view button. If so, we should be able to fix it quickly. Can one of you check?

[2018-07-30 18:45] hyoo commented on #1914
@mshukla1 can we make plasmid protein database?

[2018-07-30 19:21] nconrad opened #2060 "have AppService.query_task_summary return "status" counts"
I think `AppService.query_task_summary` is returning `awe_status` counts instead of `status` counts.

[2018-07-30 19:23] nconrad opened #2061 "filter out "deleted" jobs in enumerate_tasks"
Would be good to have AppService.enumerate_tasks filter out deleted jobs (before returning N jobs).  Or, have an option that does this, doesn't matter which to me.

[2018-07-30 21:02] rkenyon commented on #1392
This is effectively covered now by the updated AMR Phenotypes Tab user guide (https://docs.patricbrc.org/user_guides/organisms_taxon/amr_phenotypes.html)
that includes references to AMR Prediction paper and the Classifier Software instructions at theseed.org; plus the AMR Resistance tutorial (https://docs.patricbrc.org/tutorial/amr/amr.html).

Closing the ticket.

[2018-07-30 21:02] #1392 closed, assigned to rkenyon

[2018-07-30 22:03] hyoo commented on #2056
if she can provide more detail,
- how many genomes, and what genomes are selected
- what are the plfam id she was trying to search,

then I can try and see whether it fails again, or confirm whether that was due to data or something else.

[2018-07-31 16:32] #2059 closed, assigned to chris-c-thomas

[2018-07-31 17:00] nconrad commented on #2052
This turned out to be hard coded for each service.  Pushing fix.

[2018-07-31 17:01] nconrad commented on #2029
@olsonanl would you mind verifying this is fixed?

[2018-07-31 17:05] nconrad commented on #2029
Actually, the groups folder selection still needs a couple changes, i'll push now.

[2018-07-31 18:53] rkenyon opened #2062 "Need to add link to new tutorial from Comprehensive Genome Analysis Service"
The tutorial is here:
https://docs.patricbrc.org//tutorial/submitting-the-comprehensive-genome-analysis-job/submitting-the-comprehensive-genome-job.html

Here is the link to the service:
https://patricbrc.org/app/ComprehensiveGenomeAnalysis

[2018-07-31 19:37] rkenyon commented on #1544
Changing to won't fix and closing.  Would be nice to have, but sounds like it is out of scope for now.

[2018-07-31 19:37] #1544 closed, assigned to mshukla1, chmao1

[2018-07-31 19:56] nconrad commented on #2029
@olsonanl ok, latest updates are on alpha now, if you want to test.

[2018-07-31 19:58] nconrad commented on #2052
fixed on alpha.

[2018-07-31 20:15] dawenx commented on #2023
ok, i have changed the icon to info icon. please let me know if you want me to change the text as well. thanks! @rkenyon

@hyoo I submitted a PR for this.

[2018-07-31 20:24] dawenx commented on #2062
ok, this is done. since i pushed my change to my dev branch, it's included in PR 791.

[2018-08-01 15:41] zreyn commented on #2024
I'm looking into this.  The issue I'm running into is that the genome id is not in the metadata of the annotation job result object.  It is in the metadata of the children objects (which is how the blue 'eye' button gets it's path).

So, I see two options:
1) We make a separate call to the workspace manager to get the child objects' metadata and sift through it to get the genome id to populate the

[2018-08-01 18:32] dawenx commented on #1810
I ran into this when I'm working on Uploader.js @nconrad the padding for dnd-zone is too big, i.e., it currently sets to 85px, this would add 170px vertically. We should be able to adjust it to make Uploader use less vertical space.

[2018-08-01 18:39] chmao1 commented on #1875
@mshukla1 The variation service requires the genbank files at the PATRIC FTP site. ftp://ftp.patricbrc.org/genomes/$gid/$gid.PATRIC.gbf
However, the PATRIC.gbf files are not available. Are you going to provide these files?

[2018-08-01 19:35] mshukla1 commented on #1875
No, the goal is to generate the genbank files on the fly by calling another set of scripts.
That way, it can work for both public and private genomes.

Bob can provide details on those scripts and hoe to call them from the variation service.

-Maulik

[2018-08-01 19:43] chmao1 commented on #1875
@olsonanl Hi Bob, Please see above comments. Could you provide details on the genbank file generation scripts and how to call them from the variation service? Thanks!

[2018-08-01 20:00] olsonanl commented on #1875
```p3-gto 511145.12```

will write 511145.12.gto

then

```rast-export-genome -i 511145.12.gto -o 511145.12.gb genbank```

will write it as a genbank file in 511145.12.gb.

[2018-08-02 14:56] zreyn commented on #1960
Likely related to  #1657

[2018-08-02 14:56] zreyn commented on #1657
I believe this is related to #1960

[2018-08-02 15:00] chmao1 commented on #1875
@olsonanl I have a couple of questions:
1. Are the script calls from  Bio::KBase::AppService::AppScript? If not, what library do we use?
2. When using "p3-gto 511145.12", where the output file is stored? do we need to specify the path?
3. When using "rast-export-genome -i 511145.12.gto -o 511145.12.gb genbank", do we need to specify the path where the input and output files are located? Is "genban

[2018-08-02 15:08] olsonanl commented on #1875
They'd be called from the variation app as needed (App-Variation.pl). You'd use a system command to invoke them.

The p3-gto output goes into genome-id.gto (that's where the 511145.12.gto came from in my example).

The app scripts are set up by the infrastructure to run in a location where current directory is in temp space so you can write files without specifying a full path (assuming you haven'

[2018-08-02 15:17] chmao1 commented on #1875
@olsonanl I meant when we use p3-gto and rast-export-genome in App-Variation.pl, which library should we include in App-Variation.pl?  e.g. "use Bio::KBase::AppService::AppScript"?

[2018-08-02 15:22] olsonanl commented on #1875
There's no library needed. Those are command line programs that will be available in your path

[2018-08-02 15:34] mshukla1 commented on #1914
I have added new blast databases for plasmid genes, proteins and contig sequences.

-Maulik

[2018-08-02 15:34] #1914 closed, assigned to mshukla1, hyoo

[2018-08-02 17:13] dawenx commented on #1991
Per our discussion in the science meeting on 08/02/2008, the fix I have is better than what we have on the production, so I checked in my changes and pushed them to my dev branch. This would address all services/type on the front end UI assuming user does not disable it by un-checking the restriction checkbox. @hyoo do I need to submit a PR in this case?

There's a separate/related issue with the

[2018-08-02 17:59] zreyn commented on #1658
The fix for this is related to #2024

[2018-08-02 17:59] zreyn commented on #2024
Option 2 would also fix #1658

[2018-08-02 19:30] maovt commented on #1875
@olsonanl what are the commands for generating .gff and .fna files?

[2018-08-02 19:43] olsonanl commented on #1875
For gff use gff instead of genbank in the rast-export-genome command. GFF is a funny format and not completely specified so I’m not sure if it will agree with what the tool is looking for.

For fna I assume you mean feature DNA; use rast-export-genome with the parameter feature_dna.

—bob

On Aug 2, 2018, at 2:30 PM, maovt <notifications@github.com<mailto:notifications@github.com>> wrote:

@olsona

[2018-08-02 20:01] chmao1 commented on #1875
Thanks

[2018-08-03 16:14] jimdavis1 opened #2063 "Job numbers are incorrect on jobs page"
I actually have zero running and 2 failed.

![image](https://user-images.githubusercontent.com/7661533/43653654-504882a0-970e-11e8-80b2-5931dbfe5bd2.png)

[2018-08-03 17:34] nconrad commented on #2063
Thanks for reporting.  Marking this as duplicate of https://github.com/PATRIC3/patric3_website/issues/2060.

[2018-08-03 17:34] #2063 closed, assigned to nobody

[2018-08-03 17:40] rkenyon commented on #1987
Jim triage comment: Highest level problem.  It has to do with the fact that some genomes in patric don't have contigs.  It looks like it is still an ongoing issue.

[2018-08-03 19:11] rkenyon commented on #1980
Jim triage comment: Medium level problem. This is an enhancement, but I would say that NCBI BLAST is my home page for Firefox and I still only blast one sequence against another sequence there.  It is too cumbersome to do it at PATRIC.

[2018-08-03 19:16] rkenyon commented on #1926
Jim issue triage comment: Highest level problem.  We have published FTP links in previous papers that must be maintained and kept up to date (check out: https://www.nature.com/articles/srep27930).

In my view this is the worst kind of problem because it erodes user trust.  Furthermore, we are staking our reputations on the reliability of PATRIC, and this is a case where that is not happening.

[2018-08-03 19:21] rkenyon commented on #1925
Jim triage comment: Medium/Low.  This is basically a design flaw.  As soon as you have enough private genomes, the feature viewer for those private genomes croaks and defaults to something that isn't rational.  You could disable the feature view tab if there are too many genomes, which would force the user to build a genome group, or you could sort by date and show the most recent.  I'm sure there

[2018-08-03 19:24] rkenyon commented on #1924
Jim triage comment: I think this might have gotten fixed, because I got it to work.

@nconrad , please check.

[2018-08-03 19:39] rkenyon commented on #1923
Jim triage comment: There are actually four bugs wrapped up in this ticket.
#1.  Medium
#2.  Medium
#3.  High
#4.  High
This user account showing all of the problems that that are occurring once you have assembled more than 50 or so genomes.

As a matter of fact, Maulik and I actually encountered #3 yesterday.  You have no path from a private genome on the website back to the job directory from wh

[2018-08-03 19:47] rkenyon commented on #1916
Jim triage comment: Highest.  Maulik closed the issue but it still is not fixed.   There are two issues.

1.  any higher level taxonomy based search (order, class phylum) are either disabled or broken.

2. As far as I can tell there appears to be no clear update cycle for these blast NRs, otherwise I would not have encountered the problem of a gene not existing in an NR in the first place. Not hav

[2018-08-03 20:00] rkenyon commented on #1915
Jim triage comment: Medium.  If we are serious about supporting AMR research, then this should be done.   Oddly, Jim was the person that closed this issue.

[2018-08-03 20:03] rkenyon commented on #1912
Jim triage comment:  Highest.  In my eyes this might be the worst "bug" I have ever encountered and it is still not fixed.  This is a flagrant misuse of the AMR classifiers.  These plasmid annotations were performed based on the assumption that they are complete genomes, which is not true.  In essence, we are packaging and distributing an incorrect and misleading prediction to an unsuspecting user

[2018-08-03 20:11] rkenyon commented on #1867
Jim triage comment: Medium level problem.  It is embarrassing  because it doesn't exist. I don't understand why this one is so hard, accessing downloads for a private genome should be identical to accessing genomes for a public genome.

[2018-08-03 20:14] rkenyon commented on #1839
Jim triage comment: Medium.  I have several workspace directories with thousands of jobs.  p3-ls is the only way to count the number in a given directory.   Every other table on the website has a count at the bottom.  I don't know why this one stalled out. I'd be happy to have a count in the side bar as an alternative. Regardless, I find myself in need of this all the time.

[2018-08-03 20:16] rkenyon commented on #1833
Jim triage comment: Maulik has been working on this because he showed me some mock ups of what it might look like.  It is a bad problem until it finally gets fixed.

[2018-08-03 20:18] rkenyon commented on #1795
Jim triage comment: This example got fixed.

[2018-08-03 20:24] rkenyon commented on #1786
Jim triage comment: Low.  The table column ordering follows a format that only harry and maulik understand.  I find myself staring at it for a long time to find the right fields.

[2018-08-03 20:30] rkenyon commented on #1761
Jim triage comment: Low/no action.  It looks like I am a minority party here. my gripe is that we are carrying a lot of extra stuff in the fasta header.

[2018-08-03 20:32] rkenyon commented on #1713
Jim triage comment: Medium/Low.  Harry fixed this for the table view, but I was particularly interested in copying and pasting the alignments.

[2018-08-03 20:37] #2028 closed, assigned to nconrad

[2018-08-03 20:43] rkenyon commented on #1704
Jim triage comment: Medium/Low. I think that the gist of the issue is that if a user had a fasta file of features that were called by a different resource (ie., their own gene calls) you can't upload and align against that.   I don't know how big of an issue this would be.  Maybe crosscheck with Rebecca to see if anyone has ever asked.

[2018-08-03 20:43] rkenyon commented on #1627
Jim triage comment: Medium.  This is another large directory issue.  You can sort, but that is clumsy.

[2018-08-03 20:45] rkenyon commented on #1625
Also related to #1627

[2018-08-03 20:47] rkenyon commented on #1590
Jim triage comment: I don't know how to rank this.  I think that if people are able to used blessed sets of proteins/genes, like the AMR collection,  then it raises awareness of the annotation efforts.  On the other hand, someone could just download them and walk away.

[2018-08-03 20:49] rkenyon commented on #1585
Jim triage comment: High.  I still don't think this is visible anywhere. MLST and the other specialty gene sets come to mind as well.

[2018-08-03 21:00] rkenyon commented on #1571
Jim triage comment: I think this might be closed. I couldn't reproduce the bug.

[2018-08-03 21:00] #1571 closed, assigned to nconrad

[2018-08-03 21:14] rkenyon commented on #1551
Jim triage comment: High.  This is one of the only things from the AMR table that is not offered.  It would be very good to get this in.

[2018-08-03 21:16] rkenyon commented on #1549
I think @jimdavis1 still needs to verify.

[2018-08-03 21:18] rkenyon commented on #1545
Jim comment: Repeat of previous (which ticket?)

[2018-08-03 21:31] rkenyon commented on #1470
Jim triage comment: High priority.

[2018-08-03 21:33] nconrad commented on #1923
1: This is covered in another ticket: https://github.com/PATRIC3/patric3_website/issues/1839 . I'm adding the count either way.

2: Search isn't supported by the workspace service.  Note that using the usual browser search (cmd-f) gets you half way there for this particular scenario.

3: Yeah, this is larger issue that would need team discussion.

4:  Bob was working on a CLI command to re-run job

[2018-08-03 21:40] rkenyon commented on #1406
This seems to be "fixed" in that it adds all the columns scrunched together rather than enabling horizontal scrolling.
![screen shot 2018-08-03 at 5 39 15 pm](https://user-images.githubusercontent.com/3188570/43667044-594f8f2a-9744-11e8-80e9-2e8cfa5b514b.png)

[2018-08-03 21:40] #1406 closed, assigned to hyoo

[2018-08-03 21:42] rkenyon commented on #1401
Jim triage comment: Medium.  This is annoying.

[2018-08-03 21:44] rkenyon commented on #1380
Jim triage comment: Medium.  This would be a nice enhancement.

[2018-08-03 21:48] rkenyon commented on #1210
Jim triage comment: Low/no action.  Not sure if anything should be done about this one.  The issue is that if you start analyzing genomes based on a feature or pattyfam search, it is hard to pear down the list of output to a set of rational genomes..

[2018-08-03 21:48] #1210 closed, assigned to hyoo

[2018-08-03 21:49] rkenyon commented on #1198
Jim triage comment: Medium. On the "all bacteria" landing page,  I don't understand how the pie chart can have   64,454 "others" for the country designation.   I think there is a mixture of null and legitimate "other"  fields.  My recommendation is to have a pie slice for  not available.

[2018-08-03 23:32] mshukla1 commented on #1912
I have removed AMR phenotype data for all public plasmid genomes.

We need to fix it in the annotation pipeline to prevent inappropriate use of AMR classifiers.

@jimdavis1 , you still need to come up with specific conditions under which AMR classifiers will not be run on a genome and work with @olsonanl to get them implemented in the annotation service.

** The sooner you define the exact criteri

[2018-08-04 00:06] Sveta-user opened #2064 "Sorting inside Filters"
As of now features in Filters are sorted by abundance rather than alphabetically.  This makes perfect sense when the number of items is under 12 or so.  However, if one tries to filter phages by a specific host, the number of Bacterial species  listed in Filter is over ~60 already (and will sure grow).  As they are NOT sorted alphabetically,  I failed to  locate Staph aureus as a host...  Could it

[2018-08-06 13:41] dawenx commented on #2062
just checked the production site, the tutorial link is broken, this is because the link was changed to https://docs.patricbrc.org/tutorial/comprehensive-genome-analysis/comprehensive-genome-analysis.html?

@hyoo can you change it quickly? or you want me to fix it and submit a PR?

[2018-08-06 14:14] rkenyon commented on #2062
Sorry Dawen, I should have notified you.  I'm trying to standardize the
tutorial filenames.  I'll let you know before I change any other ones.
That is the only one I changed.

Ron

On Mon, Aug 6, 2018 at 9:41 AM Dawen Xie <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manag

[2018-08-07 21:53] #2052 closed, assigned to nconrad

[2018-08-08 17:45] chmao1 opened #2065 "Variation service: genbank file issue"
PATRIC no longer provides PATRIC genbank files at the FTP site. We should generate the gbk files using command line calls.

[2018-08-08 22:05] olsonanl opened #2066 "Debian CLI release almost works in windows"
Need to clean up the quoting in the environment setup for installing debian CLI in Windows 10 linux environment.

[2018-08-08 22:22] olsonanl opened #2067 "compare regions coloring bug"
When looking at some of the phages we see runs of features colored the same when they do not have family assignments

[2018-08-09 16:37] mshukla1 opened #2068 "Genome metadata: add links to culture collection"
From the genome metadata, link culture collection numbers to corresponding strain pages, starting with genomes where culture collection ID starts with ATCC xxxxx.

For example:

https://patricbrc.org/view/Genome/509190.6

Link Culture Collection | ATCC 21756 to the following page:

https://www.atcc.org/Products/All/21756.aspx

[2018-08-09 19:17] zreyn commented on #1960
Fix in https://github.com/PATRIC3/p3_web/pull/795

[2018-08-09 19:17] zreyn commented on #1657
Fix in https://github.com/PATRIC3/p3_web/pull/795

[2018-08-13 19:16] ARWattam opened #2069 "CLI connection issue"
Message from user:
I wanted to send you a quick email letting you know we solved our PATRIC CLI connection issue at ATCC. Below is a quick summary of the issue and how we resolved it. If you could please forward this to the relevant person/people, I’d greatly appreciated it, most notably because PATRIC CLI has *no error message* for the problem we encountered. I expect any Windows user in a corpor

[2018-08-14 14:56] dawenx commented on #1991
my fix is on alpha, the outstanding issue is the drag and drop @nconrad

[2018-08-14 17:47] jimdavis1 opened #2070 "back button in workspace"
I am trying to find a genome to annotate from a public workspace

![screen shot 2018-08-14 at 12 44 20 pm](https://user-images.githubusercontent.com/7661533/44108454-16d94e72-9fc0-11e8-841b-3da25dc4dcce.png)

I click on a public workspace and enter that directory

![screen shot 2018-08-14 at 12 44 58 pm](https://user-images.githubusercontent.com/7661533/44108471-242c11ae-9fc0-11e8-9b22-3a7f5049e61

[2018-08-14 18:47] jimdavis1 opened #2071 "improvement: easier access to reference genomes"
I don't think that it is possible to get to a genome landing page for a reference genome in fewer than 5 clicks.

[2018-08-14 19:25] jimdavis1 opened #2072 "improvement: add publication to the AMR data tab"
I think it is important to have the source publication (when possible) on the AMR tab becuase it shows the experiment where the phenotype was characterized.

![image](https://user-images.githubusercontent.com/7661533/44113464-c54f5eda-9fcd-11e8-855f-c6d6ac1e04e1.png)

[2018-08-14 19:34] jimdavis1 opened #2073 "Genome tables used to be sticky"
I used to be able to select the columns that I want to appear for the genome table and they would stick for a while.  I keep going back and getting rid of collection year, completion date etc. and adding sequencing platform.

![image](https://user-images.githubusercontent.com/7661533/44113887-2865047e-9fcf-11e8-9b43-6248a33e65bd.png)

[2018-08-14 19:41] mshukla1 opened #2074 "Add keywords to all tutorials and user guides"
From the discussion Today on how to increase the search-ability on google and increase user traffic:

Add relevant keywords /  synonyms / tags on tutorials and user guides that we think our users might use to find them in google search.

[2018-08-14 19:45] mshukla1 opened #2075 "Organisms: Add list of priority pathogens"
In order to increase the visibility in google searches and drive traffic:

Currently, the organism page below directly jumps to organism tabs etc, without describing what organisms we have, what we offer, etc.

https://docs.patricbrc.org/user_guides/organisms_tab.html

- [ ] Add list of priority pathogens on the following page, with some description.

- [ ] Add description for how to search for ta

[2018-08-14 20:01] #2021 closed, assigned to nconrad, hyoo

[2018-08-14 20:01] mshukla1 opened #2076 "Title and meta tags on all website pages"
In order to increase the visibility in google searches and drive traffic:

Please make sure we have proper title and meta tags on all web pages:

- [ ] taxon / genome and gene level pages
- [ ] services
- [ ] tools

[2018-08-14 20:04] mshukla1 commented on #2072
Currently, PMIDs are attached only to genomes as part of the genome metadata. They are not attached directly to the AMR phenotype data.

I will look into it and add PMIDs to the AMR table, if possible.

-Maulik

[2018-08-15 15:46] chmao1 opened #2077 "Variation Service: add url links to the PATRIC features in the html file"
Link the Gene ID column to the PATRIC feature page.

![image](https://user-images.githubusercontent.com/6361802/44157520-a9cf6700-a080-11e8-8eb8-f8b965ebcd6f.png)

[2018-08-15 15:47] chmao1 commented on #2065
Fixed and available in production.

[2018-08-15 15:47] #2065 closed, assigned to chmao1

[2018-08-15 15:48] chmao1 commented on #1875
Fixed and available in production. @ARWattam please test it.

[2018-08-15 15:49] chmao1 commented on #1651
@ARWattam Please review this request. Is this still needed?

[2018-08-15 17:33] jimdavis1 opened #2078 "metagenomic binning service doesn't work"
I am attempting to launch a binning job from a set of single-end reads.  The reads are located in the public workspace under PATRIC_Workshop/Metagenomic_Binning/ICU

Why can't I submit with single end reads?  Is this the problem?  I thought this did the assembly for me, is it asking for contigs?

![image](https://user-images.githubusercontent.com/7661533/44162874-3ed55e80-a087-11e8-86c7-8b02d9663b

[2018-08-15 18:28] dawenx commented on #2078
As discussed in Skype channel, the backend currently does not support single end reads.

[2018-08-15 18:40] dawenx commented on #2073
In Genome List View, once you select/unselect certain columns, you get a list with the columns you wanted. When I tested this using Chrome/Firefox on my laptop (Mac), those customized columns do stick. What's your browser/computer combination?

@nconrad do you mind do some testings on this as well? Thanks!

[2018-08-15 18:52] mshukla1 commented on #1987
There were 208 Klebsiella genomes for which contig sequences were not loaded in the database, I suspect because of solr or data API server issues in December, just before the Christmas.

I have loaded all missing contig sequences in the database.

Harry has addressed it in the data API / solr indexer as well, so that we don't have such partially indexed genomes in solr in future.

[2018-08-15 18:53] mshukla1 commented on #1987
...updating corresponding blast databases now.

[2018-08-15 20:02] mshukla1 commented on #1987
Updated blast databases as well. Closing the ticket.

Feel free to reopen if you still see any problems.

[2018-08-15 20:02] #1987 closed, assigned to mshukla1

[2018-08-15 23:31] nconrad commented on #2073
For me, the columns stick until the browser tab is refreshed.   That setting doesn't use localstorage.

[2018-08-16 15:45] jimdavis1 opened #2079 "Cant download contigs of a private genome"
![image](https://user-images.githubusercontent.com/7661533/44219351-6852c080-a141-11e8-8d71-ee67caeb29ee.png)

[2018-08-16 15:55] rkenyon commented on #1862
It works, sort of, but you have to click on the bottom scrollbar arrow about 10 times to move over just one protein family column.  Not really useful.

[2018-08-16 15:59] chmao1 commented on #1875
tested and worked on production

[2018-08-16 15:59] #1875 closed, assigned to chmao1

[2018-08-16 16:01] rkenyon commented on #1848
I can't reproduce this problem.  @ARWattam please check.  The column is now named Contigs instead of Sequences, and when I sort on it using all bacteria, the smallest number I get is 1
![screen shot 2018-08-16 at 12 03 02 pm](https://user-images.githubusercontent.com/3188570/44220345-5cb8c700-a14c-11e8-9352-0a43d0efde91.png)

[2018-08-16 16:07] jimdavis1 opened #2080 "Important issue: Minhash mash files are out of date"
The following genome, made public in January does not find itself in the similar genome finder.

![image](https://user-images.githubusercontent.com/7661533/44220552-8d94fe00-a144-11e8-98ed-9e95d6b1699c.png)

[2018-08-16 16:10] rkenyon commented on #1840
Genome removed as part of QC and added back from GenBank.

https://patricbrc.org/view/Genome/163164.29

[2018-08-16 16:10] #1840 closed, assigned to mshukla1

[2018-08-16 16:12] mshukla1 commented on #1840
...and it was reannotated and added back in the next monthly update cycle.

https://patricbrc.org/view/Genome/163164.29

[2018-08-16 16:26] rkenyon commented on #1794
Assign to Allan?

[2018-08-16 16:27] rkenyon commented on #1792
Assign to Allan?

[2018-08-16 16:54] aswarren commented on #2054
When I right click on the problem links and ask it to open a new tab. It asks me to login.

[2018-08-16 16:59] aswarren commented on #2054
When I add the target="_top" attribute to the urls.
It ends up doing this:
![image](https://user-images.githubusercontent.com/229173/44222957-31d27100-a154-11e8-962e-1fceaf4ef489.png)
Which is the same problem as opening it in a new tab.

[2018-08-16 17:08] jimdavis1 opened #2081 "subsystem tab exists but has no data"
![image](https://user-images.githubusercontent.com/7661533/44223358-06985380-a14d-11e8-88ba-ad7aa671bd19.png)

[2018-08-16 17:09] jimdavis1 commented on #2081
As an update to this, after about 5 min it populated and looked like this:  Note the yellow print.
![image](https://user-images.githubusercontent.com/7661533/44223438-7a7e3000-a13c-11e8-9995-76952d35abe7.png)

[2018-08-16 17:11] aswarren commented on #2054
FWIW adding the target="_parent" attribute to the URL seems to work.
![image](https://user-images.githubusercontent.com/229173/44223540-e325d680-a155-11e8-886e-8eb25724d098.png)

[2018-08-16 17:47] mshukla1 commented on #2081
Assuming you were looking at MG1655 reference genome, I was able to load the subsystem
overview and table. I checked the database as well and the data looks fine.

I noticed Yesterday that sometimes it took a while for the page to load ( about a minute) though.

[2018-08-16 17:48] mshukla1 commented on #2081
Refresh the page and see if it load then.

We do need visual indicators on all pages to tell when a page is waiting for data and when the request
has timed out.

-Maulik

[2018-08-16 17:56] ARWattam commented on #1792
I think he is the only choice at this point.

On Thu, Aug 16, 2018 at 12:28 PM, rkenyon <notifications@github.com> wrote:

[2018-08-16 18:19] ARWattam opened #2082 "Multiple user request for indication of queue, or when a job might complete"
Multiple users at the Midwestern University workshop have requested an indication of how long the queue might be.

[2018-08-16 18:24] rkenyon commented on #1776
I'm not getting an error with this file.  Double-clicking it does nothing and clicking the View icon renders a blank page.
![screen shot 2018-08-16 at 2 24 08 pm](https://user-images.githubusercontent.com/3188570/44227224-18372680-a160-11e8-9574-1d323e371c80.png)
What is this file type and what is it for?

[2018-08-16 18:45] rkenyon commented on #1750
Adding Dawen since he might be able to help on the input form side

[2018-08-16 18:57] rkenyon commented on #1768
Seems to be working for the test run I did.

![screen shot 2018-08-16 at 2 56 00 pm](https://user-images.githubusercontent.com/3188570/44228968-a6ada700-a164-11e8-82cd-0bb37300b05e.png)

[2018-08-16 19:03] rkenyon commented on #1768
vcf.gz track never showed anything, but no errors.
![screen shot 2018-08-16 at 3 02 27 pm](https://user-images.githubusercontent.com/3188570/44229249-77e40080-a165-11e8-8173-8b39927d5869.png)

[2018-08-16 19:06] rkenyon commented on #1986
If this now works, we can create the tutorial, but need someone to demo first.

[2018-08-16 19:10] rkenyon commented on #1543
Per Rebecca: Most important issue to resolve from her open issues.

[2018-08-16 19:51] olsonanl commented on #1912
I have modified the pipeline to no longer call amr classifiers on any genome where all contigs are noted as having a replicon_type of plasmid. At this point this is as close as we can get to detecting plasmids.

[2018-08-16 19:51] #1912 closed, assigned to mshukla1, olsonanl, jimdavis1

[2018-08-16 19:55] olsonanl commented on #1507
The deployment for p3diffexp appears to have been updated at least with the may 13 commit. It is behind from master currently which we should probably fix after the workshop. @aswarren is this still a problem?

[code]

[2018-08-16 19:56] olsonanl commented on #1463
I'm not sure I see why this is marked critical.

[2018-08-16 19:58] olsonanl commented on #1942
The variation service now generates genbank files where needed; does this address this concern?

[2018-08-16 19:59] olsonanl commented on #1923
@rkenyon shouldn't this get burst into separate issues for the four distinct problems?

[2018-08-16 20:01] olsonanl commented on #1792
I've been thinking about this a bit. This is related to remapping the reads to the assembled contigs, which will also give us coverage data. The generated alignment (bamfile) can also be a data product from the assembly service.

[2018-08-16 20:01] olsonanl commented on #1794
yes

[2018-08-16 20:02] olsonanl commented on #1752
I think this goes in the big pile of stuff to be fixed in the assembly service.

[2018-08-16 20:03] olsonanl commented on #1750
Per Maulik's comments, this should get split into two distinct issues.

[2018-08-16 20:09] hyoo commented on #1916
Regarding #2, should we have a data-release version? like 2018.07 indicating 2018 July release? There are some time delay between the download files are updated/blast database build and genomes are indexed on solr.

[2018-08-16 20:11] dawenx commented on #1390
this is a very old ticket, is this still relevant? currently we ask for read files or SRR accession in submission UI. for read files, user is asked to upload/select "fq, .fastq, .fa, .fasta, .gz, .bz2" as file extension by default, but they can uncheck this restriction and upload a file with other extension and their job will fail.

[2018-08-16 20:14] rkenyon commented on #1463
@hyoo marked it as critical.  Not sure why.

[2018-08-16 20:15] dawenx commented on #1879
@maovt @mshukla1 i used the SRR info from Chunhong's screenshot and it works for me. can you check it to see whether the problem is still there?

[2018-08-16 20:15] nconrad commented on #1463
Agreed.  I modified the polling to use the task summary method--which is probably unrelated, but much more efficient-- and I haven't heard of this being an issue since that.

[2018-08-16 20:33] mshukla1 commented on #1912
This is useful for the public genomes or when user submits properly formatted genbank files.

However, it doesn’t address the issue if user uploads just plasmid sequence as contigs or uploads
partial/incomplete genome (which is significantly smaller than those used in the training).

Jim, I wanted you to be aware of it. If you think it is not sufficient, you should specify additional criteria
for

[2018-08-16 20:39] rkenyon opened #2083 "Need search function in workspace"
With many files, becomes hard to locate items.  Burst from #1923

Per Neal: Not yet implemented.  Ctrl-f in browser can sort of be used in interim (for searching a particular folder by name).

[2018-08-16 20:41] mshukla1 commented on #1879
I believe this is an old ticket just after we made the SRR accession box available.

It is working for me now and we have used it in numerous workshops. Closing the ticket.

[2018-08-16 20:43] rkenyon opened #2084 "Need to display workspace (path) for private genomes in Genome Table"
To disambiguate if the same genome has been annotated twice.  May need additional information besides workspace, such as date annotated or something else.

Burst from #1923

[2018-08-16 20:45] rkenyon opened #2085 "Need to be able to update annotation on private genomes without creating new genome"
With something like an "Update Annotation" button in the workspace.  Burst from #1923

[2018-08-16 20:47] rkenyon commented on #1923
Bursted into 4 tickets: #1839  #2083  #2084  #2085

Best guesses for assignees.

[2018-08-16 20:49] mshukla1 opened #2086 "CAS Service: red flags after adding SRR number"
I added SRR6691689 in the SRA accession box and clicked the arrow -> next to it and encountered the following two problems.

1. Sometimes when I click on the arrow, the form jumps a little bit and the reads don't show up in the read selection box on the right.

2. Other times, the reads show up in the box on the right. However, Taxonomy label and output name boxes get highlighted in red. Given tha

[2018-08-16 20:49] nconrad commented on #2083
We can't add this without an api method, so reassigning to @olsonanl.

[2018-08-16 20:50] #2080 closed, assigned to mshukla1, olsonanl

[2018-08-16 20:53] mshukla1 commented on #2085
Just to be clear, this is not a bug to small improvement. Rather, it is a new major functionality,
 which significant efforts from Bob, me and Neal. We need to schedule and plan it accordingly.

-Maulik

[2018-08-16 20:54] chmao1 commented on #1942
This is fixed and available on production. Please see issue #2065.

[2018-08-16 20:54] #1942 closed, assigned to mshukla1, chmao1

[2018-08-16 20:54] aswarren opened #2087 "Similar Genome Finder Advanced Parameters"
ATCC and Midwestern workshops: in both cases people have had confusion as to why they are not getting results from similar genome finder. This can be improved by the following changes:

1. Not hiding the Advanced parameters by default (they don't seem very "Advanced" and most people would want to know what they are searching)
2.  The default should be all public genomes. (Ref&Rep is the special fi

[2018-08-16 20:57] aswarren commented on #2087
@jimdavis1 supports this message.
Also see these other tickets where this has been a problem:
https://github.com/PATRIC3/patric3_website/issues/2080
https://github.com/PATRIC3/patric3_website/issues/1962

[2018-08-16 21:01] mshukla1 commented on #2084
I don't quite understand the issue here.

Every time a genome gets annotated, it is assigned a new genome id. The genome label selected by the use is used as the genome name, and the contigs used as input for the annotation job are available under sequences. The date genome was annotated/inserted are available as part of the genome metadata, which can be displayed in the table by adding columns or

[2018-08-16 21:01] rkenyon commented on #2041
@aswarren please check out https://github.com/PATRIC3/p3_docs/blob/master/docroot/user_guides/services/similar_genome_finder_service.md to see if this is sufficient.

[2018-08-16 21:05] mshukla1 commented on #2087
FWIW, We encountered the same problem with similar genome finder last week during phage workshop.

I agree to both the suggestions by Andrew.

[2018-08-16 21:06] rkenyon commented on #2084
Check with Jim to understand what he would expect to see.  Here is a screenshot of the example he gave.

![screen shot 2018-08-16 at 5 03 59 pm](https://user-images.githubusercontent.com/3188570/44235190-aae2c000-a176-11e8-955d-063f490fb951.png)

[2018-08-16 21:07] aswarren opened #2088 "Windows (~touch screen) file selection"
Many users at Midwestern (6-8) experienced a problem selecting a single read file in Chrome. They would make the selection in the widget, and it wouldn't show up in the field. All seemed to be windows users, many seemed to be touchscreen users as well.

1.
![image](https://user-images.githubusercontent.com/229173/44235157-8f77b500-a176-11e8-81c9-87e1ee3c9c3d.png)

2.
![image](https://user-images.g

[2018-08-16 21:08] aswarren commented on #2088
This might take someone capable of debugging dojo widgets. Getting such a person on a Windows box seems like a challenge.

[2018-08-16 21:09] olsonanl commented on #2088
We need to be including windows testing ... no reason not to with VirtualBox and freely available VMs from Microsoft for all their browsers.

[2018-08-16 21:09] mshukla1 commented on #2080
Bob, what is the current process for generating the minhash sketches for the public genomes? Is it automated or do you generate them manually after every release?

If latter, I can make it part of the same update process as generating download files and BLAST databases, so that you have one less thing to worry about. This is not automated either, but I have been thinking about it as part of consol

[2018-08-16 21:10] aswarren commented on #2088
I was able to make this work by selecting the file once, seeing it wasn't there, going back in, going up to the directory above it, going back down, and selecting the file again.

[2018-08-16 21:17] aswarren opened #2089 "JBrowse full screen request"
This feature was requested at the Midwestern workshop.

This just seems to be a nice feature to have, especially if you have many tracks.

https://github.com/awilkey/fullscreen-jbrowse

[2018-08-16 21:22] mshukla1 commented on #2084
OK, I understand. I think the main issue here is that you have two genomes with the same name and no other
information (other than different genome ids) to distinguish them.

You can add date inserted to the tabular view, which will show you when the genome was annotated, like below.

We can add workspace path, but it will lead to more problems/confusion, because of the move/rename/deleate
issue I

[2018-08-16 21:31] olsonanl commented on #2080
It is not automated but mostly scripted.

I need to get some of this stuff checked in.

The quick story is

minhash-build-sketches -p 12  /vol/patric3/downloads/genomes /disks/patric-common/data/minhash/sketches
mkdir /disks/patric-common/data/minhash/combined.2018-0806
minhash-create-combined-sketches /disks/patric-common/data/minhash/sketches /disks/patric-common/data/minhash/combined.2018-0806

[2018-08-16 22:23] mshukla1 commented on #1926
I have recreated links mentioned in the paper.

ftp://ftp.patricbrc.org/BRC_Mirrors/AMR/

ftp://ftp.patricbrc.org/patric2/current_release/RELEASE_NOTES/PATRIC_genomes_AMR.txt

ftp://ftp.patricbrc.org/patric2/current_release/AMR_genome_sets/

ftp://ftp.patricbrc.org/patric2/patric3/genomes

Publication includes few links with http urls, i.e. http://ftp.patricbrc.org/, which are not working.
We need

[2018-08-16 23:29] rkenyon commented on #2084
Conversation with Jim on options would be helpful.

On Thu, Aug 16, 2018 at 5:22 PM Maulik Shukla <notifications@github.com>
wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-08-17 13:18] dawenx commented on #2086
From my test, I'm not able to reproduce problem 1, but this happened in the debug mode.

As for problem 2, a validation call is made before xhr request is finished, i observed the same behavior is the Assembly service. i plan to discuss with @aswarren when he is back.

[2018-08-17 13:23] dawenx commented on #2087
i will work on this.

[2018-08-17 13:27] jimdavis1 opened #2090 "bug: filters are missing on taxon list"
I search for "Buchnera" under "Taxa" from the drop down in the search bar.  It gives me buchnera, but I can't filter for public or private.

![image](https://user-images.githubusercontent.com/7661533/44268545-a35aff80-a1e6-11e8-8d5c-b49ab15982db.png)

[2018-08-17 13:27] jimdavis1 commented on #2090
https://www.patricbrc.org/view/TaxonList/?keyword(Buchnera)

[2018-08-17 13:36] jimdavis1 opened #2091 "Suggest to change BLAST DB names"
As a biologist, it is not clear to me what is meant by "Transcriptomics Genomes proteins"

We also have an upper case lower case issue with the names, which is no big deal but kind of ugly.

![image](https://user-images.githubusercontent.com/7661533/44268913-ccc85b00-a1e7-11e8-873c-b2625f441000.png)

[2018-08-17 13:40] jimdavis1 commented on #2091
Actually as i am mulling this over, The first one "Reference or Representative Genome proteins (faa)" is also weird.  It should just be "Reference and Representative Genomes", because the user has selected that it is blastp -search protein database.   So a proposed cleanup would be:

1. Reference and representative genomes
2. I still don't know what this one is
3. plasmids
4. phages
5. search with

[2018-08-17 13:41] mshukla1 commented on #2090
It is a list of taxon ids and names from the taxonomy dictionary. Hence it’s all public.

You may have public or private genomes under a given taxon level, which is not shown in this table. It summarizes only public genomes for a give. Taxon level based on pre computed counts.

Sent from my iPhone

[2018-08-17 13:42] jimdavis1 commented on #2091
Also, after I have selected blastp i see this "Search for genes proteins or RNA", which can't be right becasue it would be impossible to find RNA genes and other DNA features etc.

![image](https://user-images.githubusercontent.com/7661533/44269200-b078ee00-a1e8-11e8-9ba0-dda4c9d0ff85.png)

[2018-08-17 13:43] mshukla1 commented on #2091
Second one is list of genomes for which we have public gene expression / transcriptomics data.

Sent from my iPhone

[2018-08-17 13:44] jimdavis1 commented on #2091
I am reading it as "Transcriptomics, genomes, protiens".  I would have interpereted it to be blast against all of patric protien NR.

[2018-08-17 14:19] dawenx commented on #2087
I have changed the submission UI, PR submitted.

[2018-08-17 14:35] rkenyon opened #2092 "Example genome name in several service input forms does not work"
This is an easy one.  In Similar Genome Finder, Phylogenetic Tree, and Proteome Comparison Services, the example genome name in the Select Genome input box is "M. tuberculosis CDC1551."  However, if you start typing this, nothing will appear in the dropdown once you get past "M. t."  Just need to change the example to a string it will recognize, such as "Mycobacterium tuberculosis CDC1551."

[2018-08-17 14:41] chmao1 commented on #1879
I tested this and the job failed due to the space issue. Here is the error message:

Running /home/fangfang/programs/sratoolkit.2.8.2-1-ubuntu64/bin/fastq-dump --outdir /scratch/tmp/0mww7vl24a --split-3 --dumpbase --clip --skip-technical --read-filter pass SRR6691689
\@submit_cmd = $VAR1 = [
          'ar-run',
          '-r',
          'auto',
          '--pair',
          '/scratch/tmp/0mww7vl24

[2018-08-17 14:50] dawenx commented on #2092
somehow these 3 services use its own placeholder, i.e., "M. tuberculosis CDC1551". i removed it and all of them are using the default placeholder which is "Mycobacterium tuberculosis H37Rv".

this is included in the PR i submitted this morning now.

[2018-08-17 15:22] chmao1 commented on #1380
@jimdavis1 Do you mean that we need to add the PATRIC local and global family id columns to the ref_genome section in the result file?

[2018-08-17 15:25] chmao1 commented on #1545
@jimdavis1 Is this still an issue?

[2018-08-17 15:27] chmao1 commented on #1709
@olsonanl Is this still an issue?

[2018-08-17 15:28] chmao1 commented on #1651
I'm closing this issue for now as we provide SVG files for images. Please reopen if needed.

[2018-08-17 15:28] #1651 closed, assigned to chmao1

[2018-08-17 15:31] olsonanl commented on #1709
I have not made any changes to the service. If one can still submit contigs data it's still an issue.

[2018-08-17 16:17] jimdavis1 commented on #2091
As an update to this, Rebecca suggested that #2 should be called "Genomes with transcriptomic data"

[2018-08-17 16:21] ARWattam opened #2093 "Contrasts information button on RNA-Seq service missing any information"
You click on it and it says "Help text missing"

[2018-08-17 16:23] ARWattam opened #2094 "Selecting reads from assembly and RNA-Seq pop-up window does not auto-fill the reads box"
There are some issues with adding fastq files from workspace.  They select them from the pop-up window, click okay, and the pop-up closes.  But the name does not appear in the readfile box!     Users are having to go back and try several times.  Sometimes you can see it in the drop-down box, but not auto-filled

[2018-08-17 16:25] ARWattam opened #2095 "Disable Contrast panel when you use Rockhopper in RNA-Seq"
Rockhopper automatically does all vs all.  The contrast panel should be grayed out.

[2018-08-17 16:31] ARWattam opened #2096 "Phylogenetic trees-number of genes and characters that built tree needs to be at the top and visible in an obvious way"
I can find the following buried in the pepr.log report:
2018-08-16 17:41:17 INFO  PhylogenomicPipeline2 - 	taxa: 46
2018-08-16 17:41:17 INFO  PhylogenomicPipeline2 - 	genes: 132
2018-08-16 17:41:17 INFO  PhylogenomicPipeline2 - 	characters: 39531

This needs to be at the top of some report that is very obvious to the user.  It has really important data that they need to include in their publicatio

[2018-08-17 16:50] ARWattam opened #2097 "Any output from any service with a peg ID should link back to feature page"
This is an issue with RNA-Seq and the variation service.  We need to allow the users to go directly to the information by hyperlink to feature page, rather than having to use global search to find it.  It takes them far away from their research, and breaks the analysis flow.

[2018-08-17 17:22] chmao1 commented on #1709
@olsonanl The Proteome Comparison service does not accept the config file type. It only accepts the protein fasta type when users update the user fasta file. It works for me. Could you check again to see whether this is still an issue? Thanks.

[2018-08-17 17:25] olsonanl commented on #1709
Right, the problem we had was that people were explicitly giving contigs files the protein-fasta type. What we need is the service to detect DNA-only input and reject it.

On Aug 17, 2018, at 12:22 PM, maovt <notifications@github.com<mailto:notifications@github.com>> wrote:

@olsonanl<https://github.com/olsonanl> The Proteome Comparison service does not accept the config file type. It only accepts

[2018-08-17 18:21] rkenyon commented on #2093
I can take this one, but need some text for it.  I'm not sure exactly how it is supposed to work and it is not in the Tutorial https://docs.patricbrc.org//tutorial/rna_seq_submission/submitting_rna_seq_job.html.

[2018-08-17 20:15] jimdavis1 opened #2098 "enhancement: comprehensive genome analysis service"
The flat file list of genomes that were displayed in the tree should probably show up as a genome list when you click on it, so that you can build a genome group.

[2018-08-18 03:07] nconrad commented on #2098
@jimdavis1 do you mean the `tree_ingroup.txt` file?

![image](https://user-images.githubusercontent.com/1194246/44295171-929f9d80-a269-11e8-9d80-4b8fff19cc1c.png)

If so, it seems that we should be able to produce a genome group object for this list, which would bring the user to the usual group viewer in the UI.   @olsonanl?

[2018-08-20 13:22] jimdavis1 opened #2099 "Jobs table enhancements [subject was: "Copy and paste from tables."]"
Anyone who actually uses the PATRIC resource can see the value in being able to copy and paste from the tables.  I'm not really asking for the moon here.  I have this many failed jobs out of the 100 or so from this batch, and it might actually be easier for me to rerun all of them (including those that were successful), than to try to type out each SRR number, check them, and resubmit them.

![ima

[2018-08-20 13:24] jimdavis1 commented on #2099
Oh, and I should add that clicking on "view" does not allow me to grap the "Output Name" which is critical for my resubmission, so its not as easy as the extra clicking for the side bar, like the other tables.

[2018-08-20 18:37] jimdavis1 opened #2100 "counting error on jobs page"
I have 47 failed jobs, but the number counted in the top right says there are 9 failed jobs.

![image](https://user-images.githubusercontent.com/7661533/44359639-17630500-a47e-11e8-8bde-a8b0a31c396d.png)

[2018-08-20 19:11] nconrad commented on #2100
This is a duplicate of https://github.com/PATRIC3/patric3_website/issues/2060 .

The issue is 38 of those jobs have `awe_status` marked as "completed" or "in-progress",  yet 47 have `status` marked as "failed".

[2018-08-20 21:48] aswarren commented on #2086
This issue is not unique to the SRA widget. This stems mostly from dojo form validation being called after changes to an input field. It ends up calling validation on all widgets in the form.
After talking with @dawenx today I believe the onchange:validate setup is the primary culprit:

https://github.com/PATRIC3/p3_web/blob/master/public/js/p3/widget/app/templates/ComprehensiveGenomeAnalysis.html

[2018-08-20 22:02] aswarren commented on #2086
May be as simple as moving onchange:validate from the top of the template to the declaration of all widgets...

[2018-08-21 15:22] zreyn commented on #2099
Hi Jim, you can copy and paste from most tables in PATRIC.  Your screenshot is from the Job Status table, which doesn't currently allow the copy.  We could easily enable it in this table, but it sounds like what you're asking is for the ability to rerun failed jobs, not to copy and paste from this table.  Is that right?  Or would you really benefit from having a CSV/TSV version of this table on yo

[2018-08-21 19:37] nconrad opened #2101 "Phylogenetic Tree Building App Weirdness"
The size of text and form labels becomes larger when the browser is resize.

Before resize:

![image](https://user-images.githubusercontent.com/1194246/44424641-59a84700-a54f-11e8-89f3-36fb31c62085.png)

After resize:

![image](https://user-images.githubusercontent.com/1194246/44424667-6c228080-a54f-11e8-9909-4a5ec9a93970.png)

[2018-08-21 20:10] dawenx commented on #2101
I will look into it. It looks like Proteome Comparison service has similar problem.

[2018-08-22 14:53] jimdavis1 opened #2102 "PLF and PGF do not appear in sidebar of feature table."
I am trying to click on the PLF ID for the following AMR gene.   There is no link within the table, **AND I CANNOT COPY AND PASTE FROM  TABLE**, and there is no link or PLF or PGF id in the sidebar, which means I have to type that thing into a search widow  to view the family members.

https://www.patricbrc.org/view/Genome/83332.12#view_tab=features&filter=and(or(eq(feature_type,%22CDS%22)),or(eq(

[2018-08-22 15:00] mshukla1 commented on #2102
@nconrad

- [ ] add PLfam and PGfam in the feature overview panel, on the right of the table, as well as feature overview page.
- [ ] Link the plfam and pgfam ids to the feature list showing all members of that family.

[2018-08-22 15:19] dawenx commented on #2101
The reported issue has been addressed for both Phylogenetic Tree service UI and Proteome Comparison service UI. It's included in PR 798. @hyoo

[2018-08-23 18:42] mshukla1 commented on #2098
I support having a link that takes you to the list of similar genomes. We can save the list as a genome group in the jobs directory too.

However, we should be careful not to add these automatically created genomes groups into default "Genome Group" folder as someone who annotates hundreds of genomes will end up having hundreds of genome groups with limited value.

[2018-08-23 18:54] mshukla1 commented on #2097
I assume you are talking about having links from any HTML-style result page generated by any service.

@maovt, given you have recently made yourself familiar with the variation service code, can you add links for the patric ids in the following table?

<img width="834" alt="screen shot 2018-08-23 at 1 47 01 pm" src="https://user-images.githubusercontent.com/1236463/44545913-f26bcd80-a6db-11e8-941b

[2018-08-23 18:55] mshukla1 commented on #2097
@ARWattam Can you please specify other services / pages where we need to add similar links? ...I couldn't find any in the RNA-seq output.

[2018-08-23 18:57] mshukla1 commented on #2096
@AllanDickerman Can we provide Summary.txt as part of the job output, which provides a concise summary of the input genomes, protein families, alignment size etc in a user friendly way?

[2018-08-23 19:02] chmao1 commented on #2097
@mshukla1 Yes. See #2077

[2018-08-23 19:05] mshukla1 commented on #2095
@dawenx, I think it would make sense to provide two options in the contrast panel, all vs all and custom pairwise selection. Then, we can male all vs all as default when Rockhopper is selected and gray out the custom selection option. I think that would make the choices more explicit to the users.

@aswarren How does Rockhopper compare to Tuxedo in terms of analysis steps / quality of results and

[2018-08-23 19:14] #2081 closed, assigned to nobody

[2018-08-24 16:03] AllanDickerman commented on #2096
Yes, I can write a short script to pull this out and write to a simple text file.
The script can be invoked by the code that cleans up after PEPR and moves files to the user's workspace.

[2018-08-26 15:54] ARWattam opened #2103 "Gene tree and MSA are not lining up!!!"
In the attached screenshot, the S26-RB gene should be at the bottom of the gene tree.
![screen shot 2018-08-26 at 11 47 56 am](https://user-images.githubusercontent.com/11475316/44630060-17538100-a926-11e8-858f-d0d02b9be4f6.png)

Here are the genes that were aligned:

MKIINIGVLAHVDAGKTTLTESLLYNSGAITELGSVDKGTTRTDNTLLERQRGITIQTGI
TSFQWENTKVNIIDTPGHMDFLAEVYRSLSVLDGAILLISAKDGVQAQTRILFHALRKMG
IPTIFFINK

[2018-08-26 19:39] nconrad commented on #1923
I'll close this since there are separate tickets.   Thanks, @rkenyon.

[2018-08-26 19:39] #1923 closed, assigned to nconrad

[2018-08-27 14:15] chmao1 commented on #2077
Fixed and available on production

[2018-08-27 14:15] #2077 closed, assigned to chmao1

[2018-08-27 15:29] mshukla1 commented on #2077
Awesome! Thanks, Chunhong!

I submitted a variation job Today and verified it has
- var.snpEff.vcf file in the results
- snpEff type and snpEff impact in the SNP table
- and gene ids are linked to corresponding gene pages.

-Maulik

[2018-08-27 15:32] mshukla1 commented on #2097
Fixed. Verified on alpha.

<img width="963" alt="screen shot 2018-08-27 at 10 26 51 am" src="https://user-images.githubusercontent.com/1236463/44668974-724bad80-a9e4-11e8-90af-dc6648a81b55.png">

[2018-08-27 15:32] mshukla1 commented on #2097
@ARWattam, are there any other services that need similar links? I can't think of any!

[2018-08-27 16:23] mshukla1 commented on #1754
@maovt

I believe the latest version of SNPEff tool and output format supports AA change position in the output.
Can you please look into it and make necessary changes to the output snp tables?

http://snpeff.sourceforge.net/SnpEff_manual.html#intro

HGVS.c: Variant using HGVS notation (DNA level)
HGVS.p: If variant is coding, this field describes the variant using HGVS notation (Protein level). S

[2018-08-27 16:31] mshukla1 commented on #1658
This was addressed a while ago. Now, there is a browser button from the variation analysis results, which allows you to see vcf and bam files as tracks in the genome browser.

<img width="1070" alt="screen shot 2018-08-27 at 11 30 53 am" src="https://user-images.githubusercontent.com/1236463/44671989-b2169300-a9ec-11e8-82a2-a13ff4e02244.png">

[2018-08-27 16:31] #1658 closed, assigned to zreyn

[2018-08-27 21:23] dawenx commented on #2062
The fix is on alpha now.

[2018-08-27 21:23] dawenx commented on #2087
The fix is on alpha now.

[2018-08-27 21:24] dawenx commented on #2092
The fix is on alpha now.

[2018-08-27 21:26] dawenx commented on #2101
the fix is on alpha now.

[2018-08-28 19:28] chmao1 commented on #1709
Fixed and available in production

[2018-08-28 19:28] #1709 closed, assigned to chmao1

[2018-08-29 16:27] aswarren commented on #2103
@ARWattam Actually the tree and the sequence are lining up (the IDs line up with the corresponding sequence). As far as I can tell fig|1280.17241.peg.2094 is the only sequence with a unique sequence and it lines up appropriately with the third row. I think you are saying the tree has the wrong structure which isn't exactly the same thing. I'll look into how its being calculated.

[2018-08-29 16:48] aswarren commented on #2103
It looks like the tree being returned is getting rearranged somehow. Which is strange.
The sequences stay with the appropriate label though, so that part is good.

```(PATRIC.1280.17250.1280.17250.con.0001.CDS.781865.783946.rev:0.00150,(PATRIC.1280.17274.1280.17274.con.0017.CDS.21408.23489.rev:0.0,PATRIC.1280.17275.1280.17275.con.0015.CDS.32981.35062.fwd:0.0):0.00015,(PATRIC.1280.17243.1280.17243.

[2018-08-29 23:37] jimdavis1 opened #2104 "bad bug: can't click on problematic roles in binning report"
If you need a binning job to see this:
https://www.patricbrc.org/workspace/jimdavis@patricbrc.org/home/Midwestern_AZ/.Binning_Medium/BinningReport.html

Job id: 15bb2c34-a595-4590-9718-baf73e637628

This job ran successfully last week and I was able to click on the problematic roles in the AZ workshop, but it was broken when I tried to do it for UCLA.

![image](https://user-images.githubuserconten

[2018-08-30 15:29] jimdavis1 opened #2105 "website slowness:"
34 seconds:
![image](https://user-images.githubusercontent.com/7661533/44861735-fba1f080-ac2d-11e8-83dc-d590ab049a02.png)

52 seconds
![image](https://user-images.githubusercontent.com/7661533/44861810-3015ac80-ac2e-11e8-8cfa-1816fa1006c4.png)

18 seconds
![image](https://user-images.githubusercontent.com/7661533/44861858-4e7ba800-ac2e-11e8-9d59-30b95ec160a4.png)

two and a half minutes just to re

[2018-08-30 20:06] chmao1 commented on #1754
@mshukla1, Currently, the Variation service uses EFF format (instead of ANN you mentioned above) for the annotation. Here is the EFF format: EFF = Effect ( Effect_Impact | Functional_Class | Codon_Change | Amino_Acid_Change| Amino_Acid_Length | Gene_Name | Transcript_BioType | Gene_Coding | Transcript_ID | Exon_Rank  | Genotype_Number [ | ERRORS | WARNINGS ] )

which has Amino_Acid_Change field li

[2018-08-31 17:35] olsonanl opened #2106 "Upload dialog requires a scroll to see submit buttons"
In order to see the submit button you have to scroll down in the upload dialog; this is confusing and unnecessary since there's tons of screen real estate.

![screen shot 2018-08-31 at 12 33 38 pm](https://user-images.githubusercontent.com/2152226/44927464-3a14d980-ad1a-11e8-85b1-e9466bbc5720.png)

[2018-08-31 18:33] nconrad commented on #2106
@olsonanl the size of the select files area is smaller on alpha, if you want to try there.  The thing that makes this complicated is the lack of fixed footers in dojo's dialogs, i think.

[2018-09-04 15:15] #2097 closed, assigned to chmao1

[2018-09-04 23:41] olsonanl opened #2107 "Need viruses option in genome annotation apps"
Wherever we have a domain selection in the genome annotation submission apps (annotation & CGA) we need to have a Viruses option available (for the phages)

[2018-09-05 13:18] dawenx commented on #2106
@nconrad i think we should roll out this fix to production asap, there are several duplicate tickets on this...

[2018-09-05 13:24] dawenx commented on #2107
This should be easy to add, which one should be the default? Still Bacteria? Followed by Archaea, then Viruses? @mshukla1

[2018-09-07 15:05] mshukla1 commented on #2099
Neal, Can you addd the following functionality to the jobs list:

- [ ] Allow selection of multiple rows, just like other tables.
- [ ] Allow kill job and download job list (as tab-delimited / excel) actions when multiple jobs selected.

[2018-09-07 16:30] aswarren commented on #1926
ftp://ftp.patricbrc.org/patric2/patric3/genomes/9606.33

Doesn't seem to work

[2018-09-07 16:37] nconrad commented on #2099
@olsonanl, should the kill job command accept multiple jobs?  It currently only accepts one.  I think it takes a little bit of time to finish.

[2018-09-07 17:14] nconrad opened #2108 "pie chart links"
Clicking on a piece of pie at https://patricbrc.org/view/Taxonomy/10239 results in https://patricbrc.org/view/Taxonomy/10239#view_tab=genomes&filter=eq(host_name,Escherichia%20coli%20C)/view/Taxonomy/10239.  (malformed url)

This could be related to the back button issue since clicking twice results in the correct behavior.

[2018-09-10 18:26] mshukla1 opened #2109 "Diff expression job is not run with Rockhopper"
I ran an RNA-seq job this morning with the Rockhopper option.
RNA-seq part ran fine and created gene matrix (gmx) file.
However, differential expression job results were not part of the output.

Please make sure diff exp job is ran as part of rna-seq when Rockhopper is selected.

-Maulik

[2018-09-10 20:10] jimdavis1 opened #2110 "genome identifier is lost in blast app"
Searching using genome id
![image](https://user-images.githubusercontent.com/7661533/45321638-84ad0780-b50b-11e8-8288-3e54ebd55a42.png)

Genome id gets lost
![image](https://user-images.githubusercontent.com/7661533/45321664-90003300-b50b-11e8-96cc-4b6a9e6627e8.png)

This is an issue when you are managing lists.

[2018-09-10 20:27] #1926 closed, assigned to mshukla1

[2018-09-11 19:11] chmao1 commented on #1754
Replaced columns Ref_aa and Var_aa with Ref_nt_pos_change and Ref_aa_pos_change. This feature is
available in production now.

[2018-09-11 19:16] ARWattam commented on #1942
yes it does!

On Thu, Aug 16, 2018 at 3:58 PM, olsonanl <notifications@github.com> wrote:

[2018-09-11 19:38] ARWattam commented on #1768
Yes, I see them all now, and have even confirmed that the data in the html matches what I see in the browser.  Excellent job and well done.

[2018-09-11 19:41] ARWattam commented on #1794
yes, but it already is, I think.

On Thu, Aug 16, 2018 at 12:26 PM, rkenyon <notifications@github.com> wrote:

[2018-09-11 19:47] ARWattam commented on #1848
I don't even see sequences as an option anymore, but contigs is most definitely working!  Another excellent job and this ticket can be closed!

[2018-09-11 19:49] nconrad opened #2111 "outdated docs being indexed"
I went to http://docs.patricbrc.org/ and typed "workspace" into the search box and this was the first result:

http://docs.patricbrc.org/user_guide/workspace_and_group/workspace_and_group.html

I think that page is outdated and not in the docs nav?

[2018-09-11 19:51] ARWattam commented on #1651
I think we're fine with not doing this, especially if there is an online option.

[2018-09-11 23:46] rkenyon commented on #2111
Anything with "user_guide" in the URL is outdated.  All new user guides are
in "user_guides," (notice the "s" at the end of "user_guide."

Ron

On Tue, Sep 11, 2018 at 3:49 PM nconrad <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-09-12 00:40] chris-c-thomas commented on #2111
@rkenyon Yeah, we meant to remove them earlier. Even though they're not referenced they're still "there" if you know the direct URL.

Will remove so they are no longer built into prod.

[2018-09-12 02:24] #2068 closed, assigned to nconrad

[2018-09-12 02:24] #2102 closed, assigned to nconrad

[2018-09-12 13:37] #1754 closed, assigned to chmao1

[2018-09-12 19:10] olsonanl opened #2112 "Need API to retrieve user information"
I need to be able to programmatically retrieve user details given a user id

[2018-09-12 19:39] dmachi commented on #2112
Request from https://user.patricbrc.org/user/USERID with accept: application/json using a valid admin token (for any user) or the USERID's token for that specific user.

[2018-09-12 19:45] dawenx commented on #2031
i have a discussion with @dmachi today and i will work on this. when a service requires login and the user is not logged in, the plan is to show service description, links to user guide and tutorial and a login form; everything else will be the same as before. this requires change on AppBase and all service apps.

[2018-09-12 19:45] hyoo commented on #2112
This worked for me.
[code]

[2018-09-12 19:52] nconrad commented on #2112
@hyoo beat me to it.

[2018-09-12 20:21] dawenx commented on #2107
the new option is on production, please verify. I will close this issue later this week.

[2018-09-12 20:22] dawenx commented on #2101
@nconrad i believe this fix on production, please verify, thanks

[2018-09-12 20:23] dawenx commented on #2092
the fix is on production, verify and close.

[2018-09-12 20:23] #2092 closed, assigned to dawenx

[2018-09-12 20:24] dawenx commented on #2087
this is on production, please verify and close, thanks @aswarren @mshukla1

[2018-09-12 20:25] #2062 closed, assigned to dawenx

[2018-09-12 20:27] nconrad commented on #2101
@dawenx, looks like the help text is fixed, but the input labels still change size/fonts.

Before:
![image](https://user-images.githubusercontent.com/1194246/45451288-43019580-b6a0-11e8-9b82-b67563197e6f.png)

After:
![image](https://user-images.githubusercontent.com/1194246/45451302-4d239400-b6a0-11e8-9f79-1bef65b704d3.png)

[2018-09-12 20:41] olsonanl commented on #2112
Great, thank you.

[2018-09-12 20:41] #2112 closed, assigned to nobody

[2018-09-12 22:59] nconrad opened #2113 "fix show/hide hidden folder button"
...also remove option from debugging panel which may be conflicting with the button state.

[2018-09-17 14:19] #2087 closed, assigned to dawenx

[2018-09-17 14:20] #2107 closed, assigned to dawenx

[2018-09-18 17:26] dawenx commented on #2101
@nconrad thanks, i think this is fixed on alpha now

[2018-09-18 17:27] dawenx commented on #2031
@rkenyon this is done and on alpha now, please verify, thanks

[2018-09-18 17:29] dawenx opened #2114 "remove "progressive refinement" option from phylogenetic tree service"
Per discussion in Skype Dev channel.

[2018-09-18 17:30] dawenx commented on #2114
@ARWattam the change is on alpha, please verify

[2018-09-18 17:32] dawenx commented on #2023
@rkenyon @hyoo i understand we still have a few tabs that don't have user guide link, but it's not clear to me where to put. do we still need to work on this? or, can we close this issue?

[2018-09-18 17:53] rkenyon commented on #2031
I checked all the links and mostly they look good, except for the
following.

1. *Metagenomic Binning Service* needs a better introduction.  Please use
the following:

The Metagenomic Binning Service accepts either reads or contigs, and
attempts to "bin" the data into a set of genomes. This service can be used
to reconstruct bacterial and archael genomes from environmental samples.
For further exp

[2018-09-18 17:56] rkenyon commented on #2023
Let's discuss either via skype or during sys dev meeting.  We need to add
these, just need to figure out where to put the link.

On Tue, Sep 18, 2018 at 1:32 PM Dawen Xie <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-09-18 18:26] jimdavis1 opened #2115 "need to see subsystem name"
If I click on a  subsystem, this brings up a feature list, but the subsystem name is no longer available.  This should be carried over as an available field.
![screen shot 2018-09-18 at 9 58 53 am](https://user-images.githubusercontent.com/7661533/45708249-7df34580-bb46-11e8-9818-a4a60e43fe9b.png)

[2018-09-18 18:33] chris-c-thomas commented on #2111
https://github.com/PATRIC3/p3_docs/pull/65

[2018-09-18 18:34] #2111 closed, assigned to chris-c-thomas

[2018-09-19 17:31] dawenx commented on #2031
@rkenyon thanks for your comments, i have addressed all except item 3 ( and it is because we currently don't have a tutorial for *ID Mapper service*). i have set the URL to tutorial index page for now, will update it when Rebecca creates one.

@hyoo i submitted a new PR, are you planning to push it to production in near future? it will address the progressive refinement issue in tree service as we

[2018-09-19 22:10] ARWattam commented on #2114
I think this looks great.  Let's move it to production!

On Tue, Sep 18, 2018 at 1:30 PM, Dawen Xie <notifications@github.com> wrote:

[2018-09-20 16:22] rkenyon commented on #2031
@dawenx I have added a stub page for the ID Mapper Service tutorial.  Please change the tutorial link to this: https://docs.patricbrc.org/tutorial/id_mapper/id_mapper.html

[2018-09-20 17:15] dawenx commented on #2031
Look like the link is not available before the nightly auto build, but i went ahead to update it in the service.

[2018-09-20 17:55] rkenyon commented on #2031
Thanks.  Yes, it will be available after 4PM our time today.

[2018-09-20 18:00] dawenx commented on #2094
sorry for the delay response on this, but i have hard time to reproduce it. @ARWattam do you know what kind of OS/browser?

@nconrad is this the same odd problem we ran into a couple months ago? i remember you fixed it in WOS.deselect event, is that the same thing?

[2018-09-20 18:15] nconrad commented on #2094
I have no idea what is happening this time.  I made a number of changes and all issues were resolved as far as I know.   I'm not able to replicate either.

[2018-09-20 19:33] hyoo commented on #2031
i have refreshed the doc site, and should be available now. please check.

[2018-09-20 19:35] rkenyon commented on #2031
Verified.  Working correctly.

Ron

On Thu, Sep 20, 2018 at 3:34 PM hyoo <notifications@github.com> wrote:

--
Note: My email has changed to rkenyon@bi.vt.edu.

Ron Kenyon, Project Director
Biocomplexity Institute of Virginia Tech
PATRIC Project Manager www.patricbrc.org
rkenyon@bi.vt.edu

[2018-09-20 19:42] dawenx commented on #2031
@hyoo i forgot to add tutorial icon/link to ID Mapper service in its logged in form. i just fixed it and submitted one more PR. sorry about the extra work.

[2018-09-20 19:44] #2114 closed, assigned to dawenx

[2018-09-20 19:45] dawenx commented on #2101
@nconrad i believe this is fixed on production now, please verify and close it, otherwise, you need to work on it. :)

[2018-09-20 19:48] dawenx commented on #2031
above problem is not related to this issue and there's no harm to delay adding the link to a placeholder, i will close the ticket.

[2018-09-20 19:48] #2031 closed, assigned to dawenx

[2018-09-20 19:52] nconrad commented on #2101
looks good!

[2018-09-20 19:52] #2101 closed, assigned to dawenx

[2018-09-23 09:59] jimdavis1 opened #2116 "enhancement: protein family comparison"
I just did a simple protein family comparison between a MRSA and an MSSA strain.  There is a difference of 432 genes.  I know the difference is AMR genes.  I would like to have a tag so that I can filter or identify those speciality genes to make the sorting easier.

![image](https://user-images.githubusercontent.com/7661533/45926771-a76cf200-bef5-11e8-8956-3f6fcf6b01bc.png)

[2018-09-23 10:05] jimdavis1 opened #2117 "Genome groups tab"
If you click on the workspaces tab and select "Genome Groups", it shows you only genome groups in the genome group directory.  Not all genome groups.  I found this to be very disorienting.

![image](https://user-images.githubusercontent.com/7661533/45926815-b607d900-bef6-11e8-9874-f5dbe6a1e924.png)

[2018-09-23 10:10] jimdavis1 opened #2118 "improvement: type in workspace directory"
Note the "type field" which does not display by default.  I would like to know what kind of job it is.

![image](https://user-images.githubusercontent.com/7661533/45926864-7392cc00-bef7-11e8-9d16-4b98001708e0.png)

[2018-09-23 10:37] jimdavis1 opened #2119 "Enhancement: for Bob's consideration"
Sorry, I don't have permissions to tag a person with a ticket.

I find myself wanting to add a single (or a custom set) of genomes to compare regions.  Is this possible?  If it is hard, I wonder how hard it would be to have a custom compare regions view as output of the proteome comparison tool.  This would be much more useful than circos.  At first approximation, It doesn't seem like it would be

[2018-09-23 10:57] jimdavis1 opened #2120 "Bug: Problem with MSA tool"
I consider this to be an important bug, because it prevents the MSA tool from being useful.

If you generate a MSA for a feature group, you have no key that links the peg ID with the genome name or the annotation.  This is a big problem becuause if you download the fasta of the alignment or the newick file, you only get peg ids, and would have to go back and add genome names and annotations by han

[2018-09-23 11:36] jimdavis1 opened #2121 "odd bug with workspace copying"
I am in safari and I am copying a private job to a public workspace directory.  When I do this I get this odd proliferation of up arrows next to the name:

![image](https://user-images.githubusercontent.com/7661533/45927580-4fd58300-bf03-11e8-8e10-d2f9a61cfbc9.png)

[2018-09-23 11:41] jimdavis1 opened #2122 "enhancement proteome comparison"
Maybe Rebecca should weigh in on this, but I think it is odd that we offer PGFams for the reference genome in the proteome comparison tool, but no corresponding PGFam for the target genome.

![image](https://user-images.githubusercontent.com/7661533/45927621-046fa480-bf04-11e8-8cf0-25270d461352.png)

[2018-09-25 19:18] #2029 closed, assigned to nconrad, dawenx

[2018-09-27 13:19] ARWattam opened #2123 "Phylogenetic trees in PATRIC need midpoint rooting, or at least outgroup rooting!"
A user recently sent me a tree and was astounded by what he is seeing in PATRIC, so I had to tell him that I always take the newick file and visualize the tree in FigTree due to this problem, but its something we should fix.  Attached is a screenshot of a tree that I built in PATRIC, that has part of the outgroup deeply embedded in the tree.  I have also attached the mid-point rooted tree that I p

[2018-09-28 17:03] chris-c-thomas opened #2124 "P3_docs Seach function still returns old/removed pages"
We've eliminated quite a few old and outdated docs, tutorials and user guides. However they are still showing up in the search results on https://docs.patricbrc.org

[2018-09-28 19:46] olsonanl opened #2125 "Folder or file names with special characters break workspace browsing"
This valid workspace path can't be browsed

[code]

[2018-09-28 19:55] olsonanl commented on #2125
This is affecting user ticket 1877

https://jira.cels.anl.gov/browse/PATRIC-1877

[2018-09-29 03:44] olsonanl opened #2126 "Submit button not enabled when public sharing option selected"
Create a new workspace
Click the Share button in green bar
Click "Publicly Readable"
Submit button remains greyed out
Add a user to share to
Submit button enables
Remove that user
Submit button stays enabled
Then you can click Submit and add public read perms.

https://youtu.be/W3raLr0oJFk

[2018-09-29 18:19] nconrad commented on #2126
The public permission was actually being changed on checkbox change.  It's fixed in https://github.com/PATRIC3/p3_web/pull/812.  Thanks.

[2018-10-01 01:39] mshukla1 opened #2127 "Feature overview: links from PDB IDs not working"
https://patricbrc.org/view/Feature/PATRIC.83332.12.NC_000962.CDS.2052.3260.fwd#view_tab=overview

Links from PDB ids still go to old jmol viewer we used to have, which is not there any more.

We should rather add linkout to corresponding viewer at PDB website.

https://www.rcsb.org/3d-view/5AGU

[2018-10-01 17:58] jimdavis1 opened #2128 "Need alignment length in the BLAST result"
We need to have alignment length in the blast output

![image](https://user-images.githubusercontent.com/7661533/46306324-90737300-c579-11e8-9d1a-a122686d7724.png)

[2018-10-02 19:36] chris-c-thomas opened #2129 "Google Analytics & Search Console"
This issue is meant to configure and update both Google Analytics & Google Search Console for both PATRIC3 and the documentation website. This will allow us to accurately track our user traffic as well as update/maintain accurate search data within Google.

## Google Analytics
- [x] Update alternative / recovery email addresses
- [x] Update recovery phone numbers
- [x] Set analytic industries for

[2018-10-02 19:39] chris-c-thomas commented on #2124
#2129 is related and should fix majority of this issue.

[2018-10-02 20:26] nconrad opened #2130 "list genome's group in protein family comparison table"
![image](https://user-images.githubusercontent.com/1194246/46374820-49f44600-c657-11e8-8ac1-c3d01a3110e0.png)

[2018-10-05 20:49] nconrad opened #2131 ""add" button in tree app and proteome comparison app"
1) go to tree service
2) select your newest genome group
3) click add
4) notice the group is often not added

![image](https://user-images.githubusercontent.com/1194246/46559482-224ee900-c8b6-11e8-98c8-a5c5fef90bf2.png)

This is also an issue if you (quickly?) select a genome id and click add.  The field focus may not be allowing the click the on the add button or something odd.

A separate issue:

[2018-10-07 01:51] nconrad commented on #2101
@dawenx Do you have any idea why the class "App" is being removed from app forms on resize?  That is what was causing this and adding assembly.css > .paramlabel element is kinda a hack.  I'm seeing that other apps have the same problem, such as Comprehensive Genome Analysis.

[2018-10-07 02:50] nconrad commented on #2131
FWIW, using a dojo button does fix this.  Something like:
[code]

It should be a button anyway for accessibility and so forth.

[2018-10-08 18:42] dawenx commented on #2023
Link has been added to most tabs (except the 3 lines with bold font) in below list and they are on alpha now.

Taxon overview
Genome overview
**Genome level genome browser**
Genome level circular viewer
Feature overview
**Feature level genome browser**
**Feature level compare region viewer**
Feature level transcriptomics

[2018-10-08 19:20] olsonanl opened #2132 "Mauve display needs genome IDs"
If I compare two genomes with the same name I don't know which is which.

![image](https://user-images.githubusercontent.com/2152226/46629084-43594900-cb05-11e8-8162-f4fe3d40eebb.png)

[2018-10-08 19:40] olsonanl opened #2133 "mauve giving odd results"
I am comparing these jobs:

[code]

The display I get is this:

![image](https://user-images.githubusercontent.com/2152226/46629876-f6c33d00-cb07-11e8-9410-d2fb5343694e.png)

But the genomes are the same length:

![image](https://user-images.githubusercontent.com/2152226/46629890-fe82e180-cb07-11e8-8087-4feacb9fd0da.png)

Any idea what's happening?

[2018-10-12 13:43] chris-c-thomas opened #2134 "Revamp Docs Nav Menu"
We need a way to get back to the original patric website from the docs website as well as include certain static pages that are not indexed in the docroot.

Will reorganize the entire set of docs and also include a sitemap which is part of another issue.

[2018-10-23 15:49] ARWattam opened #2135 "cannot get to genome landing page from job results in Comprehensive Genome Analysis"
The genome link should be in the mystical green bar for the CGA.  You have to really search to find it.

[2018-10-23 17:06] rkenyon opened #2136 "Need link to Privacy Policy in Registration page and footer of website"
The page to link to is https://docs.patricbrc.org/website/privacy_policy.html

[2018-10-23 17:20] hyoo opened #2137 "carousel display"
![image](https://user-images.githubusercontent.com/1236467/47378442-c231b280-d6bd-11e8-8c42-b7af80f61edd.png)

1. When there is no image in the carousel item, please expand text more so that it takes empty space.

2. I think it would be good to listen docServiceURL in the config to base the carousel request. Then, we can easily test on local machines.

https://github.com/PATRIC3/p3_web/blob/master

[2018-10-23 18:54] rkenyon commented on #2137
Also, at the risk of duplicating another issue, still need the carousel to cycle through the announcements automatically.

[2018-10-24 17:57] jimdavis1 opened #2138 "Lost sequence link on feature page"
You can no longer download a fasta sequence from the protein page.

there used to be a button in the bottom left corner

![image](https://user-images.githubusercontent.com/7661533/47451063-68e48480-d78c-11e8-8369-35339f3c1f64.png)

[2018-10-24 17:58] jimdavis1 opened #2139 "Back button is broken after search"
I am searching for something from the home page, getting a result, but if i click the back button it doesn't nothing happens.  It should send me back to the home page.

[2018-10-24 18:02] chris-c-thomas commented on #2139
Duplicate of https://github.com/PATRIC3/patric3_website/issues/1999 I believe.

The back button in general is broken and we need to finish finding a solution to this that works everywhere.

[2018-10-24 20:20] ARWattam opened #2140 "User requests ability to see data not used in assembly, and then try to assemble that"
User says "One thing that I could use help with would be to assemble and annotate plasmid dna and then extract that sequence to do genomic assembly on the remaining sequence" . This is tied to JIRA 1934

[2018-10-24 20:49] Tinyman392 opened #2141 "RNA-Seq Form Undefined in Dropdown"
Some odd things happening to produce an undefined value in the dropdown menu.  **Note that I haven't been able to reproduce it with these steps, but it's what I was doing at the time**.

- Load up RNA-Seq, go straight into the paired end reads and use the folder button to traverse to /Public Workspace/PATRIC Workshop/RNA Seq/COL_75_R1.fq.gz in the first space.
- Do the same for COL_75_R2.fq.gz.
-

[2018-10-24 20:54] Tinyman392 opened #2142 "Form Disappearing Act I"
Go into the RNA-Seq form, and select a file to fill in the top pair-end reads through the folder button/icon.  I chose /Public Workspace/PATRIC Workshop/RNA-Seq/COL_75_R1.fq.gz.  Click the folder button/icon again, but immediately cancel.  The form item will disappear.  Click the folder icon again.  Reselect the file you chose and hit OK (do not select any other file during the process).  The file

[2018-10-24 21:23] dawenx commented on #2142
I was able to reproduce it after some tries: it looks like a cancel after a correct selection sometime makes WorkspaceObjectSelector stuck in an invalid stage. A walk around is to select any object from recently list (clicking on the triangle), then click on button/icon to navigate folders.

[2018-10-24 21:29] olsonanl opened #2143 "Need better label in Proteome Comparison"
The label "FASTA FILE" in the dialog should explicitly mention fasta of proteins; it's easy to get confused and not understand what should be there. Perhaps a help icon as well would help.

<img width="357" alt="image" src="https://user-images.githubusercontent.com/2152226/47462742-e4086380-d7a9-11e8-97e8-203f944a8446.png">

[2018-10-24 21:57] dawenx commented on #2143
I will go head to update the label. The help icon next to "Comparison Genome" does make it explicitly:

[2018-10-25 15:18] dawenx commented on #2094
this might relates to #2142

[2018-10-25 15:21] dawenx commented on #2142
This bug affects ALL services that use workspace object selector and it might be one of the reasons for lots of mysteries.

@nconrad we can talk about it briefly today. i will work on it, but i probably need your help as you are the WOS guru. :)

[2018-10-25 15:24] dawenx commented on #2143
this is fixed on beta: https://www.beta.patricbrc.org/

[2018-10-25 15:24] dawenx commented on #2138
this is fixed on beta: https://www.beta.patricbrc.org/

[2018-10-25 17:27] olsonanl opened #2144 "App service monitoring broke job when app service went down/up"
Fix this.

[code]

[2018-10-26 16:19] ARWattam opened #2145 "PATRIC user requests molecular weight (mass) of proteins and ability to download them in mass"
Tied to JIRA 1956.  My response is below.

PATRIC does not currently calculate mass (molecular weight) for the predicted protein sequences.  There are online tools that will allow you to do this (like
https://web.expasy.org/compute_pi/).  We will consider adding this feature in the future.

[2018-10-26 18:43] chris-c-thomas commented on #2124
Applied Google Sitemap to resolve issue.

[2018-10-26 18:43] #2124 closed, assigned to chris-c-thomas

[2018-10-29 15:58] #2136 closed, assigned to hyoo, chris-c-thomas

[2018-10-29 23:04] ARWattam opened #2146 "Snp pipeline column 1 does not identify isolates"
The first column used to show  which isolates had the snps that were found in a particular row.  It no longer does.  This has been reported by me and by a user (please refer to JIRA 1966).  I think this is a critical fix that needs to be addressed soon.

[2018-11-01 19:26] olsonanl opened #2147 "Apps need to doublecheck downloads"
Workspace download code needs to check downloaded size to the size reported in the workspace to account for otherwise silent download problems.

[2018-11-05 14:45] ARWattam opened #2148 "Genome with no annotated proteins - Naked genome alert!"
Streptococcus dysgalactiae strain NCTC8547
Genome ID	1334.136

Please, please clothe this genome in warm and comforting proteins

[2018-11-06 19:40] #2143 closed, assigned to dawenx

[2018-11-06 19:42] dawenx commented on #2138
i have verified fix on production.

[2018-11-06 19:42] #2138 closed, assigned to dawenx

[2018-11-06 19:45] nconrad opened #2149 "undefined genome group name"
Rebecca shared a genome group with me and it resulted in an "undefined" name in the genome group view.  Url: https://patricbrc.org/view/GenomeGroup/ARWattam@patricbrc.org/My%20pal%20Neal/Representative%20Brucella%20and%202%20private%20genomes#view_tab=genomes

![image](https://user-images.githubusercontent.com/1194246/48089461-2b3f1d00-e1ca-11e8-861d-b29e57000003.png)

[2018-11-07 13:53] jimdavis1 opened #2150 "How many files are in my workspace directory??"
This issue keeps getting closed, and I'm going to keep reopening it.   I need to know how many items are in a workspace directory.

Here is an example of how box deals with the problem.  There is precedence for this, and it is needed.

![image](https://user-images.githubusercontent.com/7661533/48135279-10b88280-e262-11e8-852e-b8d7350c7bde.png)

[2018-11-07 17:11] nconrad commented on #2150
@jimdavis1 It's not closed.  It's still open here: https://github.com/PATRIC3/patric3_website/issues/1839.  It has been low priority since you can select all the the files to get the count.  However, I'll make it higher priority.

Note: Giving counts the Box way isn't possible without some workspace service updates.

[2018-11-09 21:33] chmao1 commented on #2146
Fixed and available in production.

[2018-11-13 19:47] #2146 closed, assigned to chmao1

[2018-11-14 13:55] jimdavis1 opened #2151 ""computational prediction""
On the genome landing page "Computational Prediction" (bottom left of the image) should never mask panel data.

Here is an example of a CDC ARBank genome that has gold standard panel data, but on the landing page is says we only have a computational prediction.

![image](https://user-images.githubusercontent.com/7661533/48486971-854f6c00-e7e2-11e8-92b4-f245d1131c27.png)

![image](https://user-imag

[2018-11-19 15:59] ARWattam opened #2152 "Links to Genome, CDS and Browser on jobs page are broken"

[2018-11-19 16:00] ARWattam commented on #2152
You click on the 3 links at the top right of the page (before the green board) and nothing works.

[2018-11-19 16:00] ARWattam commented on #2152
We have a webinar on genome annotation tomorrow (11/20).  It would be swell if this worked.

[2018-11-19 16:34] nconrad commented on #2152
@olsonanl i'm looking at Rebecca's latest annotation run (job id: `f9b254c1-1972-454e-b277-17ea0a654890`) and it looks like the usual `autometa` from this run is missing.  Any idea why?
[code]

Earlier run:
[code]

[2018-11-19 16:37] olsonanl commented on #2152
I will check; I updated workspace code and the autometa stuff there is delicate.

--bob

________________________________
From: nconrad <notifications@github.com>
Sent: Monday, November 19, 2018 10:34 AM
To: PATRIC3/patric3_website
Cc: Olson, Robert D.; Mention
Subject: Re: [PATRIC3/patric3_website] Links to Genome, CDS and Browser on jobs page are broken (#2152)

@olsonanl<https://github.com/olso

[2018-11-19 16:40] nconrad commented on #2152
hmmm... I also see the latest one there is `.Klebsiella pneumoniae 704SK6_complete/Klebsiella pneumoniae 704SK6_complete.genome` while the previous is `.annotation/annotation.genome`.    I'm just looking at what the UI is filtering out and using for the id:

https://github.com/PATRIC3/p3_web/blob/d6567eabfff24399ff82f12ce358bda5ce1455c8/public/js/p3/widget/viewer/GenomeAnnotation.js#L8-L20

[2018-11-19 17:03] olsonanl commented on #2152
the autometa script was invoked:

[code]

Errors are logged, and there wasn't anything in the log.

I just instrumented the metadata scripts and it is being generated, and the genome link works properly.

It's not clear what is going on .

[2018-11-19 17:09] olsonanl commented on #2152
The problem is that mongo is dumb. You can't have dots in keys in metadata. We were using contig ids for metadata keys (what a radical concept) and they break the mongo insert.

I've hacked the problem for now by not saving that bit of metadata

[2018-11-19 17:27] nconrad commented on #2152
Fixed.  closing

[2018-11-19 17:27] #2152 closed, assigned to olsonanl

[2018-11-19 20:40] ARWattam opened #2153 "Broken link in annotation tutorial"
https://docs.patricbrc.org//tutorial/genome_annotation/annotation.html
The link in "Analyzing Genome Quality" is broken

[2018-11-19 20:40] ARWattam commented on #2153
<img width="738" alt="screen shot 2018-11-19 at 3 38 58 pm" src="https://user-images.githubusercontent.com/11475316/48733719-779a4c00-ec11-11e8-960f-0d5a5fc426ae.png">

[2018-11-19 20:43] ARWattam opened #2154 "genomes_quality_details_txt from genome annotation missing column heads"
Clicking on this link shows a long list of presumably gene names followed by some columns, and some of these columns have the number 1 in them.  There are not column heads describing what these mean.
<img width="262" alt="screen shot 2018-11-19 at 3 42 20 pm" src="https://user-images.githubusercontent.com/11475316/48733901-e11a5a80-ec11-11e8-8909-7e80de719f37.png">

[2018-11-19 20:49] chris-c-thomas commented on #2153
Fixed in https://github.com/PATRIC3/p3_docs/pull/75

Will update automatically soon.

[2018-11-19 20:49] #2153 closed, assigned to nobody

[2018-12-04 11:26] mshukla1 opened #2155 "RNA-seq: consistent naming of the output files"
All output files should use consistent naming convention and file prefix.

Preferably, they should start with the sample labels / condition names provided by users, not by the recipe used.

The current file names are too lengthy and contain unnecessary information for most simple experiments.

<img width="641" alt="screen shot 2018-12-04 at 5 20 50 am" src="https://user-images.githubusercontent.co

[2018-12-04 11:39] mshukla1 opened #2156 "workspace: reorganize job results page"
On the job results page,

- we are using too much space for just displaying job id, start/end and run time. It can be collapsed into a single line, or better shown as job information on the right of the action bar, similar to on the job list page or just links or buttons with pop up window.

- We are not displaying std out and std err on the job results page. Those can also be added to the informa

[2018-12-04 11:44] mshukla1 opened #2157 "workspace: view result files"
From the job result page, if I select a file and double click or click view button, it still keeps the job summary information at the top, which ends up taking half of the page.

This is becoming a problem now as we have more and more services with HTML reports in the output.
They will look much better when the job result summary is not at the top and almost entire page is allocated to the file be

[2018-12-04 14:16] mshukla1 opened #2158 "can't select contig file from job result folder"
I am trying to select contig file generated by one of my previous assembly jobs to use as inout for the annotation service.

I go to annotation submission
click on folder icon next to select contigs
browse to the directory that contains my assembly job results

However, I cant see the job result directory which contains contig file.

We have a checkbox which says "show all files and folders"....ho

[2018-12-04 14:27] mshukla1 commented on #2005
Andrew, we need to update rna-seq and diff exp analysis service tutorial and user guides ASAP.

It has been six months since we released the changes and the result files are now vastly different from
before, which need explanation.

[2018-12-04 14:52] mshukla1 opened #2159 "RNA-seq: missing operon file"
With the recent updates, we lost the operon file in the results, which we used to have before!

We need to add it back.

-Maulik

[2018-12-04 16:27] nconrad commented on #2158
This must have been broken for awhile!  So there's a fix in.   The solution isn't ideal without some heavier refactoring.

The fix is to tie both the workspace browser "show hidden" and the object selector "show all" button to the same state... which almost results in reasonable behavior, *except* clicking the "show all" in one dialog will not update another dialog that has already been open befor

[2018-12-04 16:34] rkenyon commented on #2005
Here is the link to the user guide.  I updated it recently with information from Andrew:
https://docs.patricbrc.org//user_guides/services/rna_seq_analysis_service.html<https://docs.patricbrc.org/user_guides/services/rna_seq_analysis_service.html>

Here is the link to the tutorial.  I have not touched it:
https://docs.patricbrc.org//tutorial/rna_seq_submission/submitting_rna_seq_job.html<https://do

[2018-12-04 17:10] aswarren commented on #2005
Hey @mshukla1 as @rkenyon pointed out the user guide has been updated some time ago with a description of all these files. Indeed the tutorial could stand to be updated. I recommend waiting until the latest SRA import interface changes are rolled out (a pending pull request).

[2018-12-06 16:18] jimdavis1 opened #2160 "Please update annotation results spreadsheet format"
We should move this from FigFams to PLFs and PGFs.

![image](https://user-images.githubusercontent.com/7661533/49596545-2b087d80-f940-11e8-89b7-d3089a7fae60.png)

[2018-12-06 19:57] jimdavis1 opened #2161 "Genome list: attributes not alphabetized or in some rational order"
![image](https://user-images.githubusercontent.com/7661533/49608634-c4468c80-f95e-11e8-8a30-e9646bce5bc5.png)

[2018-12-06 20:02] nconrad commented on #2161
yes, I've had this problem as well.

[2018-12-07 16:09] olsonanl opened #2162 "Workspace client needs to be resilient to failures"
[code]

[2018-12-08 14:46] jimdavis1 opened #2163 "DLP: Transcriptomics landing page"
Here are some issues I am having with the transcriptomic data set landing page:
How many transcriptomic data sets are there?
How to I get to all transcriptomic data sets from this page?
How do I get to the transcriptomic data sets for other organisms (besides the top 5) from this page?

The rationale for the "featured experiments" is not immediately obvious unless you are going to allow people to

[2018-12-08 14:51] jimdavis1 opened #2164 "bugs in transcriptomics tab"
I clicked on "all bacteria" and then on the transcriptomics tab, because I still cant figure out how many experiments we have.
I am here:
https://www.patricbrc.org/view/Taxonomy/2#view_tab=transcriptomics

I ended up getting this, which means I still don't know how many transcriptomic experiments we have:
![image](https://user-images.githubusercontent.com/7661533/49687251-253ca480-fac6-11e8-9626-f

[2018-12-12 18:42] #2158 closed, assigned to nconrad

[2018-12-12 21:07] nconrad commented on #2151
We probably need @mshukla1's input on how to address.  I don't think the genome meta mentions anything about having panel data.  Should it?   `antimicrobial_resistance_evidence` is currently just a string with "Computational Prediction":

[code]

[2018-12-12 21:37] nconrad commented on #2151
I discussed this with @jimdavis1 and we decided to change the "Computational Prediction" link to "AMR phenotypes" as a short term solution.

[2018-12-18 01:17] dawenx commented on #2157
I have a fix for this ticket by removing the table, but I keep the caption and download button above the table.

[2018-12-18 01:25] dawenx commented on #2156
Showing this part of information on the right side, i.e., item detail panel, does not seem to be a good option as at this point there's no item selected. @nconrad recalled there were lot of discussions on where/how to put this. Since I'm NOT the one who wrote this piece, I wanted to double check to get an OK before I settle down a fix.

What I can do is: Only show 2 lines in the table, the first l

[2018-12-18 01:32] dawenx commented on #2086
I forgot to update this, but I do have a fix for reported issue.

This is more complicated then initially thought, but Andrew gave me enough help before our flight back to Blacksburg a while ago and I was able to fix it after some more tackling.

I also made change on the SRR input to provide status update as it could take a while to fetch data after user provides SRR. If a wrong SRR ID is given,

[2018-12-20 15:55] olsonanl opened #2165 "Recursive download from workspace"
We need to implement a recursive workspace file download.

[2018-12-26 21:33] ARWattam opened #2166 "Update of Kosakonia radicincitans DSM16656 required as genome is out of date"
From a user:
I was checking your web interface regarding the genome of Kosakonia radicincitans DSM16656.
I have noticed that for the chromosome sequence the old taxonomic name and version (version1, contigs) still appear (Completion date: 7/19/12, GCA_000280495.1 <http://www.ncbi.nlm.nih.gov/assembly/GCA_000280495.1>), while the plasmids, announced in the newer version 2, are available and the upd

[2019-01-03 19:18] dawenx commented on #2157
@mshukla1 when you get a minute, can you please verify this fix on alpha? thanks!

[2019-01-03 19:19] dawenx commented on #2086
@mshukla1 when you get a minute, could you please verify this fix on alpha? thanks!

[2019-01-09 16:08] ARWattam opened #2167 "Proteome comparison fails when Feature Group is set as the reference"
Two users and I have reported.  All have a similar error message:
circos_opts = $VAR1 = {
          'comp_genomes' => [
                              '/scratch/tmp/ofRUvDdFLd/circos/comp_genome_1.txt',
                              '/scratch/tmp/ofRUvDdFLd/circos/comp_genome_2.txt',
                              '/scratch/tmp/ofRUvDdFLd/circos/comp_genome_3.txt',
                              '/sc

[2019-01-09 17:25] ARWattam opened #2168 "Heatmap reported to not work on Chrome Version 71.0.3578.98"
I have Chrome Version 71.0.3578.98 (Official Build) (64-bit) for Windows.
This problem also occurs on the Mac, where I have version 70.0.3538.110.
The heatmap feature of the protein family sorter is unusable. In modern
Chrome, the only way to enable Adobe flash is to click on the little
message that shows up. Since a custom display appears instead, the little
message does not show up, there is no

[2019-01-10 21:06] ARWattam opened #2169 "Downloading genome group will only show first 20 when downloading from genome groups table"
I tried to download all the genomes from my group (Yeaman Group Two Base) and it only downloads 25 of the 63 genomes.  when I open the group, and select them, I get the whole thing.  I think it must be set to show only 25
<img width="998" alt="screen shot 2019-01-10 at 4 05 47 pm" src="https://user-images.githubusercontent.com/11475316/50997082-afc35a00-14f1-11e9-95c6-f503d2d78e66.png">
<img width

[2019-01-11 15:23] jimdavis1 opened #2170 "Can somebody PLEASE tell me how many files are in this workspace directory"
This drives me nuts.  Its like the only table on the whole website that doesn't show you how many rows are displayed.

![image](https://user-images.githubusercontent.com/7661533/51042475-07110b00-1582-11e9-917b-f950975b18b5.png)

This is what I need.
![image](https://user-images.githubusercontent.com/7661533/51042724-9dddc780-1582-11e9-9cc4-87563363daa2.png)

[2019-01-11 17:29] ARWattam opened #2171 "Download of subsystems/subsystems genes does not include Genome name or Genome ID"
The genome name and ID number needs to be included in all downloads, including subsystems.

Tied to JIRA-2082.  User says:
I am trying to download the genes in the subsystems. however the download
does not include the genome name or genome ID. I need the genome name to
filter the genes.

[2019-01-11 18:57] ARWattam opened #2172 "Problem with using CLI reported by Jim"
If you create a new PATRIC user account and then attempt to do "p3-ls
/new_user@patricbrc.org/home", it cannot be done. The home directory with
the canonical subdirectories is only created when you go to the website and
physically click on workspaces.

You would rarely see this bug, but if somebody is trying to use PATRIC for
strictly command line services then it might cost them some time.

[2019-01-11 18:59] ARWattam opened #2173 "Problem with Full Spades"
Job number: 51c1d012-c8ef-4976-ae46-7ab1286c06d1

I submitted a "full spades" assembly with the following P3 command:

p3-submit-genome-assembly --recipe full_spades --srr-id SRR1635127
/jdassembly@patricbrc.org/home/test test_run

In the text output it says #contigs >= 0bp equals 164
In the quast output it says # contigs = 83.
The fasta file that is returned had 93 contigs.

Note that only one as

[2019-01-11 19:04] ARWattam opened #2174 "Problem searching reported by Jim to JIRA"
It is still to hard to find certain organisms. I needed to look up some C.
diff genomes and they are classified as peptoclostridium, so I had to
search for that in the main search bar and filter down. In another
example, it takes several clicks to get to the canonical E. coli K-12 or
H37Rv genomes, regardless of whether you start at the search bar or from
the dropdown. Try it for yourself.

I'm no

[2019-01-11 19:23] nconrad commented on #2170
Duplicate of #2150 & #1839, so i'm closing.  I marked it as higher priority, but similar to dropbox, you can select the visible items to get a count.  I think the confusion is coming from switching between search and the workspaces.

[2019-01-11 19:23] #2170 closed, assigned to nobody

[2019-01-11 21:23] ARWattam opened #2175 "fna files be added to ftp site for specialty genes"
User finds the .faa files per source in the ftp site very useful and would like .fna files

[2019-01-13 13:29] ARWattam commented on #1665
Here's another request from another user for this feature:
"I still want to ask about the option Feature View - Compare
region Viever - The choice of genomes for comparison. Available only
Reference&Representative or All public genomes.  In my opinion it
would be convenient to add to the choice "My genome group".

[2019-01-13 20:04] ARWattam opened #2176 "Link for adobe flash on heatmap page is broken"
A user reports and I can confirm that this link isn't functional anymore.  User says "The link that you provide on your site to the Flash player update instructions does not work. Attached is a screenshot of the page that the link take you to. You might want to consider removing that link."

[2019-01-15 16:59] Tinyman392 opened #2177 "Jobs Count Error"
Failed jobs count says 9 on the top of the page, there are actually 58.

<img width="1680" alt="screen shot 2019-01-15 at 10 55 32 am" src="https://user-images.githubusercontent.com/5612784/51196314-7c4b4b80-18b4-11e9-9f41-566038381f7e.png">

[2019-01-15 18:57] rkenyon commented on #2075
Added information on organisms and how to access them at the multiple levels.

[2019-01-15 18:57] #2075 closed, assigned to rkenyon, chris-c-thomas

[2019-01-15 19:01] rkenyon commented on #2005
Still need to update Tutorial.

[2019-01-17 18:00] jimdavis1 opened #2178 "metadata filters don't make sense"
Marcus and I are looking at the specialty genes for Klebsiella and we want to filter for the K-mer-based AMR calls.  When you click the filter button, you get things that don't make any sense.  See image below

https://www.patricbrc.org/view/Taxonomy/573#view_tab=specialtyGenes

![image](https://user-images.githubusercontent.com/7661533/51338419-5b6b2d80-1a4f-11e9-9423-12bc0b8dcb1f.png)

[2019-01-18 21:18] mshukla1 commented on #2025
even though user id field is flagged when special character is used, one can still submit the request and create a new account with user name with special character.

Since special characters are not handled properly in workspace and apps pages, this breaks those pages.

Need to disable submission when special characters are used.

[2019-01-18 21:19] mshukla1 commented on #2025
Bob: we also need someone to go through the accounts and ensure all of the usernames are appropriate and figure out what we're going to do with teh bad ones; notify users about a change I presume

[2019-01-18 21:38] mshukla1 commented on #2178
The progressive filters / facets correspond to whatever columns/attributes available in a given table displayed on that page. Hence, they are not always about genome metadata, if that is what you were expecting.

You could use the filter instead of keyword search to find all amr genes by k-mer based evidence
as below.

<img width="962" alt="screen shot 2019-01-18 at 3 38 13 pm" src="https://user-i

[2019-01-18 21:42] mshukla1 commented on #2175
Do you know if the request is for the external reference speciality gene databases (i.e. genes from CARD, VFDB etc) or for the specialty genes annotated in all genomes using blast?

[2019-01-18 21:53] mshukla1 commented on #2160
Bob, this file is generated by the annotation service / rasttk as part of job results.

[2019-01-18 21:55] mshukla1 commented on #2151
This needs to be addressed at the data level. I will update the corresponding records in the database.

[2019-01-18 22:41] nconrad commented on #2177
This is duplicate of https://github.com/PATRIC3/patric3_website/issues/2060

[2019-01-18 22:41] #2177 closed, assigned to nconrad

[2019-01-18 22:47] nconrad commented on #2176
fixed, but needs to be deployed.

[2019-01-21 18:05] #2126 closed, assigned to nconrad

[2019-01-21 19:14] olsonanl opened #2179 "Workspace upload does not work in Edge"
We have a user at the workshop here who was trying to upload data using Edge and it was failing strangely. Worked fine with Chrome. We should make this work with Edge.

[2019-01-21 19:15] olsonanl commented on #2179
This was with windows 10

[2019-01-21 20:24] nconrad commented on #2179
Confirmed.  Nothing shows up in the selected files table, right?  @dawenx Since you worked on the accepting of file types, could you look into this?  Notably, for whatever reason, it appears the "accept" file input is not supported by Edge.  I don't know if that is the root cause, but something to keep in mind.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7358734/
https://

[2019-01-21 20:50] olsonanl commented on #2179
The dialog also acted goofy; clicking submit resulted in the dialog not going away.

On Jan 21, 2019, at 3:24 PM, nconrad <notifications@github.com<mailto:notifications@github.com>> wrote:

Confirmed. Nothing shows up in the selected files box, right? @dawenx<https://github.com/dawenx> Since you worked on the accepting of file types, could you look into this? Notably, for whatever reason, it appea

[2019-01-22 13:48] dawenx commented on #2179
@chris-c-thomas @hyoo if possible, can you take a look? i don't have any experience on Windows and its browser.

[2019-01-22 15:28] mshukla1 opened #2180 "Workspace: Renaming result folder breaks eye icon"
I ran a proteome comparison job.
The job completed and the results look fine.
Afterwords, I renamed the job result folder.
Now, when I click on the EYE icon on the top right in the job result page, the circular viewer never loads.
The debugger window shows workspace error.

It looks like renaming job result folder breaks some of the links on the page, probably because it relies on the output name

[2019-01-22 15:51] dawenx commented on #2180
@mshukla1 how did you navigate to the page with "APS reference" in your screenshot? have you tried to clear the cache? When I navigated from PATRIC->PATRIC Workshop->Proteome comparison, I only saw the one with "APS ref". After clicking on that file, it displays correctly and the toggle icon (eye) is working for me. @nconrad can you try to navigate as well?

[2019-01-22 15:51] ARWattam opened #2181 "Public genome in PATRIC missing protein families and genes andneeds to be reannotated."
This genome (Genome ID 632.381) lacks PLFams, PGFams and features

[2019-01-22 18:25] Tinyman392 opened #2182 "Suppressing output in p3-cp"
Allow the CLI tool p3-cp to allow copying of files while suppressing the tool's output.  When doing something like p3-cp -r [from] [to] it produces lots of output for every file/directory copied over.

[2019-01-22 21:22] olsonanl opened #2183 "Heatmap from subsystems page not limited by selected genomes"
To reproduce: select a set of genomes. Go to subsystem view. Select a subsystem:

![screen shot 2019-01-22 at 4 18 50 pm](https://user-images.githubusercontent.com/2152226/51565992-754aad00-1e61-11e9-8352-5a10c1da24a2.png)

Click on map, get a subsystem map for a lot more genomes than you selected.

![screen shot 2019-01-22 at 4 22 09 pm](https://user-images.githubusercontent.com/2152226/51566175-

[2019-01-23 02:15] ARWattam opened #2184 "RNA-Seq - unable to add contrasts"
I have had a user complain about not being able to submit his RNA-Seq job (JIRA 2139). I have tried this myself using the same samples that we use for the workshop and establishing the same conditions.  It doesn't work with either Rockhopper or Tuxedo.